<mat-form-field
  appearance="fill"
  class="teeth-surface-input"
  [class.teeth-surface-input-active]="showPanel$ | async"

>
<!-- cdkOverlayOrigin
  #originOverlay="cdkOverlayOrigin" -->
  <!-- <mat-icon matPrefix>search</mat-icon> -->
  <mat-label>Teeth Surface</mat-label>
  <input
    matInput
    [formControl]="textCtrl"
    name="teeth-surface-search"
    placeholder="Start to type..."
  />
  <mat-icon matSuffix>arrow_drop_down</mat-icon>
</mat-form-field>
<!-- <ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="originOverlay"
  [cdkConnectedOverlayOpen]="showPanel$ | async"
  [cdkConnectedOverlayPositions]="positions"
>
  <section class="drop-down-search-panel mat-elevation-z1">
    <mat-divider> </mat-divider>
      <div class="result-item" *ngFor="let value of filteredValues$ | async" (click)="onSelection(value.Code,state.Description)">
        <span *ngIf="DisplayWithCode" (click)="onSelection(value.Code,value.Description)">{{value.Code}}-{{ value.Description }}</span>
      </div>
      <mat-divider [vertical]="true"> </mat-divider>
  </section>
</ng-template> -->
