@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";

#addenda-comment-dialog.modal-dialog {
  overflow-y: initial !important;
  max-width: 50%;
}

#addenda-comment-dialog {
  .modal-body {
    max-height: calc(90vh - 200px);
    overflow-y: auto;
  }

  .modal-content {
    max-width: 90%;
    margin: auto;
  }

  .modal .modal-dialog .modal-content .modal-body {
    padding: 10px 26px;
  }

  .modal-header {
    margin-right: -1px;
    margin-left: -1px;
    margin-top: -1px;
  }

  .modal-body .form-group {
    margin-bottom: 25px;
  }

  ::ng-deep .mat-select-value-text {
    color: #41b6a6;
  }

  .doc-review div {
    padding: 5px;
  }
  .fontawesomesvg {width: 1em;
    height: 1em;
    vertical-align: -.125em;
  }
  .btn-cancel{
    display: flow-root;
    float: inherit;
    color: #d64841;
    background: #fff;
    padding: 10px !important;
    border: 1px solid #d64841 !important;
  }
  .btn-cancel:hover{
    color: #fff;
    background: #d64841;
  }

}
