@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";



.modal-dialog {
  overflow-y: initial !important;
  max-width: inherit !important;
  margin: 0 !important;
  max-width: 95%;
}
.modal-body {
  max-height: calc(90vh - 200px);
  overflow-y: auto;
}
.modal-content{
  max-width: 85%;
  margin: auto;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 10px 26px;
}
.modal-header{
  margin-right: -1px;
  margin-left: -1px;
}
.modal-body .form-group {
  margin-bottom: 25px;
}

.encounter-tab-content {
  padding: 10px 20px;
  border-radius: 0 3px 3px 3px;
  min-height: 450px;
}
.encounter-tab-content textarea.mat-input-element {
  height: 71px;
  border: 1px solid #41b6a6;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px 20px;
  resize: both;
}

.encounter-navigation .encounter-nav-tabs {
  background-color: #41b6a6;
}
.encounter-nav-tabs li {
  display: inline-block;
  margin: 7px 10px 0 0;
}
.encounter-nav-tabs li.active a#meaningful-use {
  color: #fe8f00;
  background-color: #fff;
}
.encounter-navigation .encounter-nav-tabs li a {
  padding: 4px 15px;
  font-size: 18px;
  background-color: #28776c;
  color: #fff;
  line-height: 30px;
  border: 1px solid transparent;
  border-bottom: 1px solid #41b6a6;
  cursor: pointer;
}

.area-text {
  margin-bottom: 15px;
}
.btn-performed-red{
  border: solid 1px maroon;
  color:red;
  width:50%;
}
.btn-performed-sea-blue{
  border: solid 1px #41a6b6;
  color:#41a6b6;
  width:50%;
}
::ng-deep .referral-margin span{
  margin-top: 8px !important;
  margin-left: 8px !important;
}
.encounter-diagnosis-remove-sides{
  border-left: 0px solid #41b6a6 !important;
  border-right: 0px solid #41b6a6 !important;
}


::ng-deep .procedure-table .mat-cell:first-child,
::ng-deep .procedure-table .mat-header-cell:first-child{
  //width: 5%;
  overflow: unset;
}

::ng-deep .procedure-table .mat-cell:last-child,
::ng-deep .procedure-table .mat-header-cell:last-child{
  //width: 5%;
  overflow: unset;
}
::ng-deep .procedure-table .mat-cell:nth-child(2),
::ng-deep .procedure-table .mat-header-cell:nth-child(2){
  width: 5%;
  //align-items: center;
}

::ng-deep .procedure-table .mat-cell:nth-child(3),
::ng-deep .procedure-table .mat-header-cell:nth-child(3){
  //min-width: 40%;
 // align-items: center;
  overflow: unset;
}

::ng-deep .procedure-table .mat-cell:nth-child(4),
::ng-deep .procedure-table .mat-header-cell:nth-child(4){
  //width: 10%;
 // align-items: center;
  overflow: unset;
}

::ng-deep .procedure-table .mat-cell:nth-child(5),
::ng-deep .procedure-table .mat-header-cell:nth-child(5){
  width: 35%;
 // align-items: center;
  overflow: unset;
}

::ng-deep .teeth-surface-form-field .mat-form-field-flex .mat-form-field-infix{
  width: 95px;
  display: flex;
  margin-top: -6px;
}



::ng-deep #encounter-dialog .mat-datepicker-toggle-default-icon {
  color: #41b6a6 !important;
}
::ng-deep #encounter-dialog  .cstm-datepicker-toggle .mat-focus-indicator {
  background-color: #fff;
}
::ng-deep #encounter-dialog .mat-tab-header-pagination-controls-enabled
  .mat-tab-header-pagination {
  color: #fff !important;
}

::ng-deep #encounter-dialog  mat-datepicker-toggle.mat-datepicker-toggle
  button.mat-icon-button
  span.mat-button-wrapper
  svg.mat-datepicker-toggle-default-icon
  > path {
  fill: #fff;
  stroke: rgb(224, 220, 220);
  stroke-linejoin: round;
  transition: d 0.2s;
}
::ng-deep #encounter-dialog  mat-datepicker-toggle.mat-datepicker-toggle
  button.mat-focus-indicator.mat-icon-button {
  background-color: #41b6a6;
  color: #fff;
  border-radius: 0%;
  margin-top: 0px;
  margin-bottom: -14px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: -10px;
  border: 1px solid #41b6a6;
  height: 3.1em !important;
  width: 3.1em !important;
  top: 0.06em;
}

::ng-deep #encounter-dialog .mat-tab-header-pagination-controls-enabled
  .mat-tab-header-pagination {
  color: #fff !important;
}
@media (max-width: 1024px) {
  ::ng-deep #encounter-dialog .mat-tab-header-pagination {
    display: block !important;
    margin-top: 14px;
    margin-left: 10px;
    color: #fff;
  }
}
@media (min-width: 1440px) {
  ::ng-deep #encounter-dialog .mat-tab-header-pagination {
    display: none !important;
  }
}

::ng-deep #encounter-dialog  .mat-tab-label-active:not(.mat-tab-disabled),
#encounter-dialog #encounter-dialog .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  ::ng-deep .mat-tab-label-content {
    background-color: #fff;
    color: #41b6a6;
    border-bottom: 1px solid #41b6a6;
    height: 29px;
  }
}
::ng-deep  #Actbtn7  .mat-tab-label:first-child  {
  .mat-tab-label-content {
    background-color: #fe8f00;
    color: #fff;
    border-bottom-color: #fe8f00;
  }
}

::ng-deep #encounter-dialog  .mat-tab-label:first-child.mat-tab-label-active{
  .mat-tab-label-content {
    background-color: #fff;
    color: #fe8f00;
    border-bottom-color: #fff;
  }
}
::ng-deep #encounter-dialog .mat-tab-header {
  background-color: #41b6a6 !important;
  height: 38px !important;
}

::ng-deep #encounter-dialog .mat-tab-label .mat-tab-label-content {
  background-color: #28776c;
  //height: 32px !important;
  height: 29px !important;
  min-width: 100px !important;
  color: #fff;
  font-size: 16px;
  padding: 0px 15px !important;
}
::ng-deep #encounter-dialog .mat-tab-label {
  padding: 0 5px !important;
  min-width: 0px !important;
  margin-left: 12px;
  opacity: 1 !important;
}

.error-close {
  background-color: rgb(253, 65, 65) !important;
  width: 25px;
  height: 28px;
  margin: 10px !important;
  border: 1px solid white !important;
  color: white !important;
  border-radius: 50% !important;
}
.error-close:hover {
  background-color: white !important;
  border: 1px solid rgb(253, 44, 44) !important;
  color: rgb(253, 44, 44) !important;

}

#vitals-table{
  margin-top:10px;
}
.green-icon {
  color: #41a6b6;
}

::ng-deep #vitals-table .mat-icon-no-color{
  color: #41a6b6 !important;
}
::ng-deep #vitals-table .mat-icon-no-color:hover{
  color: white !important;
}

.vital-buttons {
  padding:0;
  background: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
}
.vital-buttons:hover {
  background-color: #41b6a6;
  color: white !important;
}

.vital-input{
  width:80% !important;
}

.vital-label{
  font-size: 14px;
}
.vital-mat-form-field-unit-label{
  font-size:12px;
  margin-left:210px
}

.disable-referral:disabled{
  cursor: not-allowed;
}
::ng-deep .mat-progress-bar{
  margin-bottom: 10px;
}

.encounter-label{
  padding: 7px 10px;
  margin-top:13px
}
::ng-deep .encounter-provider .mat-select-value-text{
  color:  #41b6a6 !important;
}

.encounter-title{
  font-size:24px;
  color:#41b6a6
}
.mat-cell:first-of-type{
  padding-left: 10px;
}

.mat-cell:last-of-type{
  padding-left: 10px;
}


// .encounter-navigation {
//   margin-left: -15px;
//   margin-right: -15px;
// }
.encounter-navigation .encounter-nav-tabs {
  background-color: #41b6a6;
}
.encounter-nav-tabs li {
  display: inline-block;
  margin: 7px 10px 0 0;
}
.encounter-nav-tabs li.active a#meaningful-use {
  color: #fe8f00;
  background-color: #fff;
}
.encounter-navigation .encounter-nav-tabs li a {
  padding: 4px 15px;
  font-size: 18px;
  background-color: #28776c;
  color: #fff;
  line-height: 30px;
  border: 1px solid transparent;
  border-bottom: 1px solid #41b6a6;
  cursor: pointer;
}
.encounter-tab-content {
  padding: 10px 30px;;
  border-radius: 0 3px 3px 3px;
  min-height: 530px;
}
.encounter-tab-content textarea.mat-input-element {
  height: 71px;
  border: 1px solid #41b6a6;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px 20px;
  resize: both;
}
#vitals-modal .textarea {
  height: 71px;
  border: 1px solid #41b6a6;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px 20px;
  resize: vertical;
}

#procedure-table .mat-header-row {
  border: 1px solid #41b6a6;
  background-color: #41b6a6;
  color: #fff;
  min-height: 30px;
}

#procedure-table .mat-header-row p {
  padding: 0px;
  margin: 0px;
}
#procedure-table .mat-row {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}
#procedure-table {
  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 15%;

  }
  mat-cell:nth-child(2),
  mat-header-cell:nth-child(2) {
    flex: 0 0 15%;
  }
  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    flex: 0 0 32%;
  }
  mat-cell:nth-child(4),
  mat-header-cell:nth-child(4) {
    flex: 0 0 15%;
  }
  mat-cell:nth-child(5),
  mat-header-cell:nth-child(5) {
    flex: 0 0 15%;
  }
  mat-cell:nth-child(6),
  mat-header-cell:nth-child(6) {
    flex: 0 0 8%;
  }
}


#encounter_diagnoses_tab .mat-header-row {
  border: 1px solid #41b6a6;
  background-color: #41b6a6;
  color: #fff;
  min-height: 30px;
}

#encounter_diagnoses_tab .mat-header-row p {
  padding: 0px;
  margin: 0px;
}
#encounter_diagnoses_tab .mat-row {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}
#encounter_diagnoses_tab {
  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 15%;

  }
  mat-cell:nth-child(2),
  mat-header-cell:nth-child(2) {
    flex: 0 0 15%;
  }
  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    flex: 0 0 32%;
  }
  mat-cell:nth-child(4),
  mat-header-cell:nth-child(4) {
    flex: 0 0 15%;
  }
  mat-cell:nth-child(5),
  mat-header-cell:nth-child(5) {
    flex: 0 0 15%;
  }
  mat-cell:nth-child(6),
  mat-header-cell:nth-child(6) {
    flex: 0 0 8%;
  }
}
.btn:not(:last-child){margin-right: 8px !important;}
.encounter-content-header{
  display: inline-flex;
  padding: 10px 30px;
}

::ng-deep .encounter-navigation .mat-tab-labels{
  padding: 0 32px;
}

#encounter-dialog .padding-unset{
  padding: unset;
}
/* check box */
::ng-deep .encounter-checkbox {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #fe8f00 !important;
    background-color: #fff !important;
    border-width: 1px;
    border-style: solid;
    width: 25px;
    height: 25px;
  }
}
::ng-deep .encounter-checkbox:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #fe8f00;
  }
}
::ng-deep .encounter-checkbox {
  .mat-checkbox-inner-container,
  .mat-checkbox-checked.mat-accent,
  .mat-checkbox-background {
    border-radius: 20% !important;
    border-color: #fe8f00 !important;
    background-color: #fff !important;
    height: 25px !important;
    width: 25px !important;
  }
}

::ng-deep .encounter-checkbox.mat-checkbox {
  font-weight: normal !important;
}

::ng-deep .teeth-form-field .mat-select-value-text span{
  margin-left: 40px;
}

::ng-deep .teeth-form-field .mat-select-arrow-wrapper{
  padding-top: 8px;
}
