<!-- Encounter Modal -->
<div class="modal-dialog" id="encounter-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title col-11 Helvetica-sans-serif-large" id="staticBackdropLabel">
        Encounter Note - {{encounterInfo.PatientName}} - {{location.LocationName}}
      </h3>
      <span type="button" class="cross-mark col-1" (click)="closePopup()" aria-label="Close">
        X
      </span>
    </div>
    <div class="modal-body padding-unset">
      <div class="encounter-content-header">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="encounter-title col-12">
              Date of Service:
            </div>
            <div class="col-xl-4 col-12">
              <mat-label class="col-12">Start Date</mat-label>
              <mat-form-field appearance="outline" class="col-12 cstm-datepicker-toggle">
                <input matInput class="pointer" autocomplete="off" [matDatepicker]="startDate"
                  (click)="startDate.open()" readonly placeholder="Start Date" [(ngModel)]="encounterInfo.ServicedAt" />
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-12">
              <mat-label class="col-12">End Date</mat-label>
              <mat-form-field appearance="outline" class="col-12 cstm-datepicker-toggle">
                <input matInput class="pointer" autocomplete="off" [matDatepicker]="endDate" (click)="endDate.open()"
                  readonly placeholder="End Date" [(ngModel)]="encounterInfo.ServiceEndAt" />
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="encounter-title col-12">
              Provider:
            </div>
            <div class="col-xl-8 col-12 encounter-provider">
              <mat-label class="d-block invisible">hidden</mat-label>
              <mat-form-field appearance="outline" class="col-10 hover cstm-mat-padding">
                <mat-select placeholder="Select One" disableOptionCentering id="encounterPracticeProviders"
                  placeholder="Select Provider" [(ngModel)]="encounterInfo.ProviderId">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let provider of PracticeProviders" [value]="provider.ProviderId">
                    {{provider.FullName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      </div>
      <mat-progress-bar mode="indeterminate" bufferValue="50" value=100 *ngIf="dialogIsLoading"></mat-progress-bar>
      <div class="encounter-navigation">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Meaningful Use" class="mat-ink-bar">
            <div class="encounter-tab-content">
              <div class="encounter-tab-pane" id="meaningful_use_tab">
                <div class="content">
                  <div class="row area-text">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                      <span>Reason for visit:</span>
                    </div>
                    <div class="col-xl-10 col-lg-9 col-md-8 col-12">
                      <textarea matInput class="col-12" [(ngModel)]="encounterInfo.VisitReason"></textarea>
                    </div>
                  </div>
                  <div class="row area-text">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                      <span>Clinical Instructions:</span>
                    </div>
                    <div class="col-xl-10 col-lg-9 col-md-8 col-12">
                      <textarea matInput class="col-12" [(ngModel)]="encounterInfo.ClinicalInstructions"></textarea>
                    </div>
                  </div>
                  <div class="row">
                  </div>
                  <div class="row" *ngIf="EnableNewEncounterData">
                    <div class="col-lg-12 col-md12 col-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          Patient Care:
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Select Encounter Type
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select Encounter Type"
                              [(ngModel)]="encounterInfo.EncounterType">
                              <mat-option value="Office Visit (1853490003)">Office Visit (1853490003)</mat-option>
                              <mat-option value="Telemed (448337001)">Telemed (448337001)</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          New Patient Encounter?
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 5px 10px; display: flex;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select New Patient Encounter"
                              [(ngModel)]="encounterInfo.NewPatientEncounter">
                              <mat-option [value]="true">Yes</mat-option>
                              <mat-option [value]="false">No</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Patient Health Data
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 5px 10px; display: flex;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select Patient Health Data"
                              [(ngModel)]="encounterInfo.PatientHealthData">
                              <mat-option value="Patient Generated Data">Patient Generated Data</mat-option>
                              <mat-option value="Non-Clinical Data">Non-Clinical Data</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Patient Resources Provided?
                          <div>
                            <a mat-stroked-button
                              routerLink="https://vsearch.nlm.nih.gov/vivisimo/cgi-bin/query-meta?v%3Aproject=medlineplus&v%3Asources=medlineplus-bundle&query=office+visit+dentist&_ga=2.141251383.487187770.1603911039-1165832921.1603911039"
                              target="_blank">Search Recommended Resources</a>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 5px 10px; display: flex;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select Resources Provided Status"
                              [(ngModel)]="encounterInfo.PatientEducation">
                              <mat-option [value]="true">Yes</mat-option>
                              <mat-option [value]="false">No</mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Additional Encounter Information:
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Discharge Status
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px">
                          <medical-code-container [codeSystems]="codeSystemsForDischarge"
                            (optionChanged)="onDischargeCodeChange($event)" MinTermLength="3"
                            PlaceHolderText="Discharge Status (SNOMED)"
                            [showSelectedValue]="true"></medical-code-container>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Encounter Code
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px">
                          <medical-code-container [codeSystems]="codeSystemsForDischarge"
                            (optionChanged)="onEncounterCodeChange($event)" MinTermLength="3"
                            PlaceHolderText="Encounter Code" [showSelectedValue]="true"></medical-code-container>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          Health Information Exchange:
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Summary of Care Record (ref in)
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select placeholder="Select One" disableOptionCentering
                              placeholder="Select Summary of Care Record"
                              [(ngModel)]="encounterInfo.SummaryCareRecordRefIn">
                              <mat-option [value]="true">SoC Received</mat-option>
                              <mat-option [value]="false">SoC Not Received</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Summary of Care Record (ref out)
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select Summary of Care Record"
                              [(ngModel)]="encounterInfo.SummaryCareRecordRefOut">
                              <mat-option [value]="true">SoC Sent</mat-option>
                              <mat-option [value]="false">SoC Not Sent</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Summary of Care Record (patient)
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select Summary of Care Record"
                              [(ngModel)]="encounterInfo.SummaryOfCareRecord">
                              <mat-option value="Requested but unavailable">Requested but unavailable</mat-option>
                              <mat-option value="Received and incorporated">Received and incorporated</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Patient Declined to Receive Summary ?
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 " style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select Patient Declined to Receive  Summary"
                              [(ngModel)]="encounterInfo.DeclinedToReceiveSummary">
                              <mat-option [value]="true">Yes</mat-option>
                              <mat-option [value]="false">No</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Clinical Information Reconciliation:
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Medication Reconciliation Completed?
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering placeholder="Select Medication Reconciliation Status"
                              [(ngModel)]="encounterInfo.medCompleted">
                              <mat-option [value]="true">Completed</mat-option>
                              <mat-option [value]="false">Not Completed</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Medication Allergy Reconciliation Completed?
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering
                              placeholder="Select Medication Allergy Reconciliation Status"
                              [(ngModel)]="encounterInfo.MedicationAllergyReconciliationCompleted">
                              <mat-option [value]="true">Completed</mat-option>
                              <mat-option [value]="false">Not Completed</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 encounter-label">
                          Diagnosis Reconciliation Completed?
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
                            <mat-select disableOptionCentering Seelc
                              placeholder="Select Diagnosis Reconciliation Status"
                              [(ngModel)]="encounterInfo.DiagnosisReconciliationCompleted">
                              <mat-option [value]="true">Completed</mat-option>
                              <mat-option [value]="false">Not Completed</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="!EnableNewEncounterData">
                    <div class="col-lg-12 col-md12 col-12">
                      <div class="row">
                        <div class="col-lg-12" style="padding: 10px; display:flex">
                          <mat-checkbox class="encounter-checkbox" [(ngModel)]="encounterInfo.PatientEducation">Patient
                            Education Resources Provided</mat-checkbox>
                          <mat-icon aria-hidden="false" style="color:#41b6a6;margin-left:8px; border:1px"
                            matTooltipPosition="right" matTooltipShowDelay="200" matTooltip="Check this box IF this patient was provided instruction
                          or resources on self-care via any mechanism
                          (i.e word of mouth, email, digital copy, pamphlet, etc)." aria-label="Example home icon">
                            help_outline</mat-icon>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px;">
                          <mat-checkbox class="encounter-checkbox" [(ngModel)]="encounterInfo.medCompleted">Medication
                            Reconciliation Completed</mat-checkbox>


                          <mat-icon aria-hidden="false" style="color:#41b6a6;margin-left:8px; border:1px"
                            matTooltipPosition="right" matTooltipShowDelay="200" matTooltip="Check this box IF this patient was referred to you from an
                          outside source. IF you check this box, please go to the referral tab,
                          check referred from, and input the source of the referral (i.e Dr. Smith DDS)."
                            aria-label="Example home icon">help_outline</mat-icon>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                          <medical-code-container [codeSystems]="codeSystemsForDischarge"
                            PlaceHolderText="Discharge Status (SNOMED)" (optionChanged)="onDischargeCodeChange($event)"
                            MinTermLength="5" [showSelectedValue]="true"></medical-code-container>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12" style="padding: 7px 10px; display:flex;">
                          <mat-checkbox class="encounter-checkbox" [(ngModel)]="encounterInfo.HealthInfoExchange">Health
                            Information Exchange</mat-checkbox>
                          <mat-icon aria-hidden="false" style="color:#41a6b6;margin-left:8px; border:1px"
                            matTooltipPosition="right" matTooltipShowDelay="200" matTooltip="Check this box IF this patient was referred to an outside source.
                          IF you check this box, please go to the referral tab, check referred to,
                          and input where/who you are referring them to (i.e Dr. Smith" aria-label="Example home icon">
                            help_outline</mat-icon>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12" style="padding: 10px 15px">
                          <div class="col-12" style="padding-bottom: 10px">
                            <b class="col-12" style="font-weight: normal">Current Medications Documented</b>
                          </div>
                          <mat-radio-group class="col-12" (change)="documentationChanged($event)">
                            <mat-radio-button [value]="1" [checked]="1"></mat-radio-button>Yes
                            <mat-radio-button [value]="2"></mat-radio-button>No
                          </mat-radio-group>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                          <medical-code-container [codeSystems]="codeSystemsForDocumentation"
                            (optionChanged)="onDocumentedReasonChange($event)" MinTermLength="2"
                            PlaceHolderText="Documented Reason" [showSelectedValue]="true"></medical-code-container>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12" style="padding: 7px 10px">
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                              <button class="btn col-12"
                                [class.btn-performed-red]="encounterInfo.CurrentMedicationDocumented==2"
                                [class.btn-performed-sea-blue]="encounterInfo.CurrentMedicationDocumented==1">
                                <span *ngIf="encounterInfo.CurrentMedicationDocumented==2">Reason Not Performed </span>
                                <span *ngIf="encounterInfo.CurrentMedicationDocumented==1">Reason Performed </span>
                              </button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                              <div class="row">
                                <div class="col-lg-12 col-md-6 col-12">
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px">
                                      <span>Encounter Code:</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                      <mat-form-field appearance="outline" class="col-lg-12 col-12">
                                        <input matInput autocomplete="off" [(ngModel)]="encounterInfo.EncounterCode"
                                          readonly="true" />
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px">
                                      <span>Encounter Code Description:</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12 area-text">
                                      <textarea matInput [(ngModel)]="encounterInfo.EncounterDescription"
                                        readonly="true"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Referral">
            <div class="encounter-tab-content">
              <div class="encounter-tab-pane" id="referral_tab">
                <div class="content">
                  <div class="row area-text">
                    <div class="col-lg-2">
                      <span>Reason for Referral:</span>
                    </div>
                    <div class="col-lg-10">
                      <!--  [(ngModal)]="encounterInfo.Referral.Reason"-->
                      <textarea matInput [(ngModel)]="encounterInfo.ReferralReason"></textarea>
                    </div>
                  </div>
                  <div class="row area-text">
                    <div class="col-lg-2">
                      <mat-checkbox class="referral-margin col-12" #referralfrom
                        (change)='onReferralFromStateChange(referralfrom.checked)'
                        [(ngModel)]="encounterInfo.ReferredFrom" style="font-weight: normal">Referred from:
                      </mat-checkbox>
                    </div>
                    <div class="col-lg-4">
                      <mat-form-field appearance="outline" class="col-12">
                        <input matInput autocomplete="off" placeholder="Referred from" class="disable-referral"
                          [(ngModel)]="encounterInfo.ReferralFrom" [disabled]="!encounterInfo.ReferredFrom" />
                      </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                      <mat-checkbox class="referral-margin col-12" #referralto
                        (change)='onReferralToStateChange(referralto.checked)' [(ngModel)]="encounterInfo.ReferredTo"
                        style="font-weight: normal">Referred to:
                      </mat-checkbox>
                    </div>
                    <div class="col-lg-4">
                      <mat-form-field appearance="outline" class="col-12">
                        <input matInput autocomplete="off" placeholder="Referred to" class="disable-referral"
                          [(ngModel)]="encounterInfo.ReferralTo" [disabled]="!encounterInfo.ReferredTo" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row area-text">
                    <div class="col-lg-2">
                      <span>Cognitive Status:</span>
                    </div>
                    <div class="col-lg-10">
                      <textarea matInput [(ngModel)]="encounterInfo.CongnitiveStatus"></textarea>
                    </div>
                  </div>
                  <div class="row area-text">
                    <div class="col-lg-2">
                      <span>Functional Status:</span>
                    </div>
                    <div class="col-lg-10">
                      <textarea matInput [(ngModel)]="encounterInfo.FunctionalStatus"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Vitals">
            <div class="encounter-tab-content">
              <div class="encounter-tab-pane" id="encounter_diagnoses_tab" style="width:80%;margin-left:10%">

                <div class="row vitals-heading">
                  <p class="text-center fw-bolder fs-5 Helvetica-sans-serif-medium mt-2">Associate vitals to an
                    encounter:</p>
                </div>
                <div class="row">

                  <!-- <div class="row"> -->
                    <div class="form-group col-lg-6 col-md-6 col-12" style="display: inline;">
                      <label class="col-12 vital-label required">Collected date:</label>
                      <mat-form-field appearance="outline" class="col-lg-12 col-12">
                        <input class="vital-input " matInput class="pointer" autocomplete="off"
                          [matDatepicker]="collectedDate" [(ngModel)]="encounterInfo.Vital.CollectedAt"
                          (click)="collectedDate.open()" readonly placeholder="Collected Date">
                        <mat-datepicker-toggle matSuffix [for]="collectedDate"></mat-datepicker-toggle>
                        <mat-datepicker #collectedDate></mat-datepicker>
                      </mat-form-field>
                      <label class="col-12 vital-label required">Time:</label>
                      <mat-form-field appearance="outline" class="col-lg-12 col-12">
                        <input matInput class="vital-input" type="text" hint="12 hours format"
                          [(ngModel)]="encounterInfo.Vital.CollectedTime" appTimeMask>

                      </mat-form-field>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-12" style="float: right">
                      <label class="col-12 vital-label">Comments:</label>
                      <textarea class="textarea col-12" style="height:80%; border:1px solid #41b6a6"
                        [(ngModel)]="encounterInfo.Vital.Note"></textarea>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row vitals-heading">
                  <p class="text-center fw-bolder fs-5 Helvetica-sans-serif-medium mt-2">Add a new record for vitals:
                  </p>
                </div>
                <div class="row">
                  <div class="form-group col-md-4" style="display: flex;">
                    <mat-label class="col-4 vital-label">Height:</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">

                      <input matInput class="col-6" #heightField maxlength="5" [(ngModel)]="encounterInfo.Vital.Height">
                      <!-- <mat-hint align="end">in</mat-hint> -->
                      <mat-hint class="vital-mat-form-field-unit-label">in</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label">Weight:</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">

                      <input matInput class="vital-input col-4" #weightField [(ngModel)]="encounterInfo.Vital.Weight">
                      <mat-hint class="vital-mat-form-field-unit-label">lb</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label">BMI</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">

                      <input matInput class="vital-input col-4" #bmiField [value]="bmi$ | async" disabled="true"
                        [(ngModel)]="encounterInfo.Vital.BMI">
                      <mat-hint class="vital-mat-form-field-unit-label"></mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label">BP:Systolic</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">
                      <input matInput class="col-4 vital-input" [(ngModel)]="encounterInfo.Vital.BPSystolic">
                      <mat-hint class="vital-mat-form-field-unit-label">mmHg</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label">BP:Diastolic</mat-label>
                    <mat-form-field appearance="outline" class=" col-12 vital-mat-form-field">
                      <input matInput class="col-4 vital-input" [(ngModel)]="encounterInfo.Vital.BPDiastolic">
                      <mat-hint class="vital-mat-form-field-unit-label">mmHg</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4"></div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label">Temperature:</mat-label>
                    <mat-form-field appearance="outline" class=" col-12 vital-mat-form-field">

                      <input matInput class="col-4 vital-input" [(ngModel)]="encounterInfo.Vital.Temperature">
                      <mat-hint class="vital-mat-form-field-unit-label">F</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label" style="white-space: nowrap;">O2 Saturation:</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">

                      <input matInput class="col-4 vital-input" [(ngModel)]="encounterInfo.Vital.O2Saturation">
                      <mat-hint class="vital-mat-form-field-unit-label">%</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label">Pulse:</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">

                      <input matInput class="col-4 vital-input" [(ngModel)]="encounterInfo.Vital.Pulse">
                      <mat-hint class="vital-mat-form-field-unit-label">bpm</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label" style="white-space: nowrap;">Respiratory rate:</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">

                      <input matInput class="col-4 vital-input" [(ngModel)]="encounterInfo.Vital.RespiratoryRate">
                      <mat-hint class="vital-mat-form-field-unit-label">bpm</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-label class="col-4 vital-label" style="white-space: nowrap;">Blood Type:</mat-label>
                    <mat-form-field appearance="outline" class="col-12 vital-mat-form-field">

                      <mat-select class="col-4" placeholder="Select Blood Type" id="practiceProviders"
                        [(ngModel)]="encounterInfo.Vital.BloodType">
                        <mat-option *ngFor="let type of BloodTypes" [value]="type.BloodType">
                          {{type.BloodType}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>


              </div>
            </div>
          </mat-tab>
          <mat-tab label="Encounter Diagnoses (Dx)">
            <ng-container *ngTemplateOutlet="encounterdiagnoses"></ng-container>
          </mat-tab>
          <mat-tab label="Procedure(s) Recommended">
            <ng-container *ngTemplateOutlet="ProceduresRecommended"></ng-container>
          </mat-tab>
          <mat-tab label="Procedure(s) Completed">
            <ng-container *ngTemplateOutlet="ProceduresCompleted"></ng-container>
          </mat-tab>
        </mat-tab-group>

        <ng-template #encounterdiagnoses>
          <div class="encounter-tab-content">
            <div class="encounter-tab-pane" id="encounter_diagnoses_tab">
              <div class="content">
                <div class="row">

                  <div class="col-lg-12 col-md-12 col-12 mat-field-no-round-right">
                    <medical-code-container [codeSystems]="codeSystemsForDiagnosis"
                      (optionChanged)="optionChangedForDiagnosis($event)" [MinTermLength]="3"
                      [showSelectedValue]="false"></medical-code-container>
                  </div>
                </div>
                <div class="scrollable-mat-table">
                  <mat-table mat-table [dataSource]="diagnosesInfo" id="procedure-table"
                    class="pt-2 encounter-diagnosis-remove-sides">
                    <ng-container matColumnDef="CODE">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">CODE</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.Code }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CODE SYSTEM">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">CODE SYSTEM</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.CodeSystem }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="DESCRIPTION">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">DESCRIPTION</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.Description }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PATIENT EDUCATION">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">PATIENT EDUCATION</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <div class="col-xs-2"><a href="{{ item.MedLineUrl }}" target="_blank">{{ item.PatientEdn }}</a>
                        </div>

                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Primary DX">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">Primary DX</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <mat-checkbox class="encounter-checkbox" [(ngModel)]="item.PrimaryDx"></mat-checkbox>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Delete">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">Delete</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item; let i = index; ">
                        <button type="button" class="btn cross-mark error-close"
                          (click)="removeEncounterDiagnosis(item,i)" title="Delete recommended Procedure">x</button>
                      </mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="encounterdiagnosesColumns"></mat-header-row>
                    <mat-row *matRowDef=" let row; let i = index; columns: encounterdiagnosesColumns"></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #ProceduresRecommended>
          <div class="encounter-tab-content">
            <div class="encounter-tab-pane" id="encounter_diagnoses_tab">
              <div class="content">
                <div class="row">

                  <div class="col-lg-12 col-md-12 col-12">
                    <medical-code-container [codeSystems]="codeSystemsForProcedures"
                      (optionChanged)="onProceduresRecommended($event)" [MinTermLength]="2" [showSelectedValue]="f">
                    </medical-code-container>
                  </div>
                </div>
                <div class="scrollable-mat-table">
                  <mat-table mat-table [dataSource]="recommendedProcedures"
                    class="pt-2  encounter-diagnosis-remove-sides">



                    <ng-container matColumnDef="CODE">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">CODE</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.Code }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CODE SYSTEM">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">CODE SYSTEM</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.CodeSystem }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="DESCRIPTION">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">DESCRIPTION</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.Description }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TOOTH">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">TOOTH</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <mat-form-field class="teeth-form-field" appearance="outline"
                          [ngStyle]="{'padding-bottom':'0px','width': '120px'}">
                          <mat-select class="select" [(ngModel)]="item.ToothNo" style="width: 100px;margin-top: -16px;">
                            <mat-option *ngFor="let teethno  of teethNumbers" [value]="teethno">{{teethno}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TOOTH SURFACE">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">SURFACE</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item; let i = index">
                        <!-- <mat-form-field class="teeth-surface-form-field" id="teeth-surface" appearance="outline"
                          [ngStyle]="{'padding-bottom':'0px','width': '120px','display':'flex'}">
                            <input matInput teethSurface style="width: 80px;">
                            <mat-icon pull-right>arrow_drop_down</mat-icon>
                          </mat-form-field> -->
                        <app-teeth-surface (optionValueChanged)="onToothSurfaceSelectedForRP($event,item,i)"
                          [selectedOption]="item.Place"></app-teeth-surface>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Delete">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">Delete</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item; let i = index;">
                        <button type="button" class="btn cross-mark error-close" style="margin-top: -10px !important;"
                          (click)="removeRecommendedProcedure(item,i)" title="Delete recommended Procedure">x</button>
                      </mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="procedureColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; let i = index; columns: procedureColumns"></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #ProceduresCompleted>
          <div class="encounter-tab-content">
            <div class="encounter-tab-pane" id="encounter_diagnoses_tab">
              <div class="content">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-12">

                  </div>
                  <div class="col-lg-8 col-md-8 col-12">
                    <!-- <medical-code-container [codeSystems]="codeSystemsForProcedures"
                        (optionChanged)="onProcedureCompleted($event)" [MinTermLength]="2" [showSelectedValue]="false"></medical-code-container> -->
                  </div>
                </div>
                <div class="scrollable-mat-table">
                  <mat-table mat-table [dataSource]="encounterInfo.CompletedProcedures"
                    class="ehr-cqm-container procedure-table">



                    <ng-container matColumnDef="CODE">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">CODE</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.Code }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CODE SYSTEM">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">CODE SYSTEM</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.CodeSystem }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="DESCRIPTION">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">DESCRIPTION</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{ item.Description }}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TOOTH">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">TOOTH</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item">
                        <span>{{item.ToothNo}}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TOOTH SURFACE">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">SURFACE</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item; let i = index">
                        <!-- <mat-form-field class="teeth-surface-form-field" id="teeth-surface-complete" appearance="outline"
                          [ngStyle]="{'padding-bottom':'0px','width': '120px','display':'flex'}">
                            <input matInput teethSurface style="width: 80px;">
                            <mat-icon pull-right>arrow_drop_down</mat-icon>
                          </mat-form-field> -->
                        <!-- <app-teeth-surface (optionValueChanged)="onToothSurfaceSelectedForCP($event,item,i)"
                          [selectedOption]="item.Surface"></app-teeth-surface> -->
                        <span>{{item.Surface}}</span>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Delete">
                      <mat-header-cell *matHeaderCellDef>
                        <p class="text-capitalize-first">Delete</p>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let item; let i = index; ">
                        <!-- <button type="button" class="btn cross-mark error-close"
                          (click)="removeCompletedProcedure(item,i)"
                          title="Delete completed Procedure">x</button> -->
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="procedureColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: procedureColumns"></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-templage #teethSurface>
          <ul class="dropdown-menu">
            <li>
              <ul>
                <li><a href="#" class="place-option" data-indicator="surface_buccal_v"
                    data-drop_label="Buccal V">Surface: Buccal V</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_facial_v"
                    data-drop_label="Facial V">Surface: Facial V</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_mesial" data-drop_label="Mesial">Surface:
                    Mesial</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_incisal" data-drop_label="Incisal">Surface:
                    Incisal</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_distal" data-drop_label="Distal">Surface:
                    Distal</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_lingual" data-drop_label="Lingual">Surface:
                    Lingual</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_facial" data-drop_label="Facial">Surface:
                    Facial</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_buccal" data-drop_label="Buccal">Surface:
                    Buccal</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_occlusal"
                    data-drop_label="Occlusal">Surface: Occlusal</a></li>
                <li><a href="#" class="place-option" data-indicator="surface_lingual_v"
                    data-drop_label="Lingual V">Surface: Lingual V</a></li>
              </ul>
              <ul>
                <li><a href="#" class="place-option" data-indicator="pit_mesiobuccal" data-drop_label="Mesiobuccal">Pit:
                    Mesiobuccal</a></li>
                <li><a href="#" class="place-option" data-indicator="pit_mesiolingual"
                    data-drop_label="Mesiolingual">Pit: Mesiolingual</a></li>
                <li><a href="#" class="place-option" data-indicator="pit_distobuccal" data-drop_label="Distobuccal">Pit:
                    Distobuccal</a></li>
                <li><a href="#" class="place-option" data-indicator="pit_distolingual"
                    data-drop_label="Distolingual">Pit: Distolingual</a></li>
              </ul>
              <ul>
                <li><a href="#" class="place-option" data-indicator="cusp_mesial" data-drop_label="Mesial">Cusp:
                    Mesial</a></li>
                <li><a href="#" class="place-option" data-indicator="cusp_mesiobuccal"
                    data-drop_label="Mesiobuccal">Cusp: Mesiobuccal</a></li>
                <li><a href="#" class="place-option" data-indicator="cusp_mesiolingual"
                    data-drop_label="Mesiolingual">Cusp: Mesiolingual</a></li>
                <li><a href="#" class="place-option" data-indicator="cusp_distal" data-drop_label="Distal">Cusp:
                    Distal</a></li>
                <li><a href="#" class="place-option" data-indicator="cusp_distobuccal"
                    data-drop_label="Distobuccal">Cusp: Distobuccal</a></li>
                <li><a href="#" class="place-option" data-indicator="cusp_distolingual"
                    data-drop_label="Distolingual">Cusp: Distolingual</a></li>
              </ul>
            </li>
          </ul>
        </ng-templage>



      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-green" (click)="recordSuperBill()" *ngIf="encounterInfo.Signed">
        Record Superbill
      </button>
      <button type="button" class="btn btn-green" (click)="addAddenda()" *ngIf="encounterInfo.Signed">
        Add Addenda
      </button>
      <button type="button" class="btn btn-green" (click)="attachDocuments()" *ngIf="encounterInfo.EncounterId != null">
        Attach Documents
      </button>
      <button type="button" class="btn btn-green" (click)="saveAsDraft()"
        *ngIf="!encounterInfo.Signed  && !dialogIsLoading">
        Save as Draft
      </button>
      <button type="button" class="btn btn-orange" (click)="signConfirmation()"
        *ngIf="!encounterInfo.Signed && !dialogIsLoading">
        Sign
      </button>
      <button type="button" class="btn btn-danger" (click)="closePopup()">
        Cancel
      </button>
    </div>
  </div>
</div>
