@import "../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

// .mat-drawer.mat-drawer-side{
//   //height: fit-content;
// }
.calendar-sidenav {
  width: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(90vh - 97px);
}



@media (max-width: 1024px) {
  .calendar-wrapper {
    max-width: 1200px;
    overflow-x: scroll;
  }
  .calendar-width {
    width: 1200px;
  }
}

// @media screen and (max-width: 640px) {
//   .calendar-sidenav {
//     width: 58%;
//   }
//   .mat-drawer-content{margin-left: 58% !important;}
// }
// @media screen and (max-width: 768px) {
//   .calendar-sidenav {
//     width: 32%;
//   }
//   .mat-drawer-content{margin-left: 32% !important;}
// }
#left-drawer .panel {
  line-height: 1.1;
}

// .calendar-drawer {
//   min-height: 700px;
// }
.new-patient-btn {
  background-color: #ffdd57;
  border-color: #ffdd57;
  color: black;
}

.switchbtn {
  color: black;
  background: #41b6a6;
  border-color: #41b6a6;
}

.btn {
  margin-top: 2px;
  height: 45px;
  display: block;
  padding: 0;
  line-height: 2.7;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
}

.arrows-toggle {
  background-color: #41b6a6;
  width: 25px;
  height: 25px;
  padding: 4px 8px;

  .fa-angle-double-left,
  .fa-angle-double-right {
    color: #fff;
  }
}

.arrows-toggle:hover {
  background-color: white;
  border: solid 1px #41b6a6;
  color: #41b6a6;

  .fa-angle-double-left,
  .fa-angle-double-right {
    color: #41b6a6;

  }
}

::ng-deep .panel-header {
  border-bottom: 0px !important;
}

.schedule-bottom {
  bottom: -63px;
  margin-bottom: 0px;
  position: relative;
  right: 0;
  left: 0;
}

.new-search {
  border-color: #fe8f00 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #41b6a6 !important;
  background-color: #fff;
  height: 45px;
}

fieldset {
  border: 1px solid #41b6a6;
}

legend {
  padding: 5px 10px;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

.verify-btn {
  border: 1px solid #41b6a6;
}


.required::after {
  content: "*";
  color: red;
}

::ng-deep .example-margin:hover {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}

.color-item-group {
  display: inline-flex;
  align-items: baseline;
}

.color-items {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

::ng-deep .mat-checkbox-checked.mat-accent {

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 242, 242);
    border-radius: 20% !important;
    border-color: rgb(151, 150, 150);
    height: 19px;
    width: 19px;
  }

  .mat-checkbox-checkmark-path {
    stroke: grey !important;
  }
}

::ng-deep .example-margin:hover {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}

::ng-deep .example-margin {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border-width: 2px;
    border-style: solid;
    width: 19px;
    height: 19px;
  }
}

.mat-checkbox {
  font-weight: bold;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  height: 23px;
  width: 23px;
  background-color: #41b6a6 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #fff !important;
  /*inner circle color change */
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-width: 5px;
  border-color: #41b6a6 !important;
  /*outer ring color change*/
}

fieldset {
  border: 1px solid #ccc;
  padding: 12px 25px;
  margin-bottom: 32px;
  border-radius: 2px;
}


//classes used by pcrao
::ng-deep .calendar-drawer .mat-drawer-inner-container {
  overflow-y: scroll;
  overflow-x: auto;
}


::ng-deep #left-drawer {
  .mat-calendar {
    border: 1px solid #41b6a6;
    margin-top: 10px;
  }

  .mat-calendar-header {
    padding-top: 1px;
    padding-bottom: 1px;
    background: #41b6a6;
    margin: -1px;
  }

  .mat-calendar-controls {
    margin: unset;
  }

  .mat-calendar-previous-button,
  .mat-calendar-next-button {
    color: white;

    &:hover {
      color: #ffdd57;
    }
  }

  .mat-calendar-period-button {
    background: #41b6a6;
    color: #fff;

    &:hover {
      color: #ffdd57;
    }
  }

  .mat-calendar-arrow {
    color: #fff !important;
    border-top-color: #fff !important;

    &:hover {
      color: #ffdd57 !important;
      border-top-color: #ffdd57 !important;
    }
  }

  .mat-calendar-table-header th {
    padding-top: 4px;
    padding-bottom: 4px;

  }

  .mat-expansion-panel-header-title {
    font-size: 16px;
    color: #41b6a6;
  }

  .panel {
    background-color: #fff;
    border: 1px solid #41b6a6;
    line-height: 3.1;
    color: #41b6a6;
    margin-top: 10px;

    .mat-checkbox {
      font-weight: normal;
      font-size: 15px;
      height: 30px;
    }
  }



  .btn-blockout {
    background-color: #fff;
    border: 1px solid #41b6a6;
    line-height: 2.6;
    color: #41b6a6;
    border-radius: 4px;
    margin-top: 10px;

    .mat-checkbox {
      font-weight: normal;
      font-size: 15px;
      height: 30px;
    }
  }

  .btn-blockout:hover {
    background-color: #41b6a6;
    color: #fff;
  }

  /*.schedule-accordion .bg-color, .mat-expansion-panel-header-title*/
  .panel-header {
    border-bottom: 1px solid #41b6a6;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 40px !important;
  }

  .cstm-checkbox-1 {
    border-bottom: 1px solid #41b6a6;
    padding-bottom: 10px;

  }

  .mat-expansion-panel .mat-expansion-panel-header span.mat-expansion-indicator {
    color: #41b6a6 !important;
  }

  // .mat-expansion-panel-header span.mat-expansion-indicator{
  //   transform: rotate(270deg) !important;
  // }
  .mat-expansion-panel-header.mat-expanded {
    height: 50px;

  }

  .mat-checkbox-background,
  .mat-checkbox-frame {
    top: unset;
    left: unset;
    right: 0;
    bottom: unset;
    width: 20px;
    height: 20px;
  }

}


::ng-deep .full-calendar {
  height: calc(85vh - 90px);
  border: 1px solid #41b6a6;
  color: #41b6a6;

  .fc-header-toolbar {
    padding: 1em 1.0em;
    background: #389e90;
  }

  .fc-toolbar-chunk .fc-button-group button {
    padding: .5em;
    width: 80px;
    background: #41b6a6;
    border: 1px solid #fff;
    //box-shadow: #111 0 5px 0 0;
    outline: none;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none !important;
      background-color: #379e90;
      border-color: #fff;
    }
  }

  .fc-toolbar-chunk .fc-button-group button.fc-button-active {
    background: #389e90;
    border: 1px solid #fff;
  }

  .fc-toolbar-chunk .fc-toolbar-title {
    color: white;
    font-family: 'Roboto';
  }


  div.fc-daygrid-body-unbalanced table.fc-scrollgrid-sync-table {
    display: none;
  }

  .fc-timegrid.fc-view table.fc-col-header thead tr {
    background: #41b6a6;
    color: #fff;
    height: 50px;
  }

  .fc-timegrid.fc-view table.fc-col-header thead tr th.fc-col-header-cell:not(.fc-day-today) div.fc-scrollgrid-sync-inner a.fc-col-header-cell-cushion {
    background: #41b6a6;
    color: #fff;
  }

  .fc-event-time,
  .fc-event-title{
    font-size: .80em !important;
  }

  .fc-timegrid.fc-view table.fc-col-header thead tr th.fc-col-header-cell div.fc-scrollgrid-sync-inner {
    margin: 14px;
  }

  .fc-day.fc-day-past:not(.fc-col-header-cell):not(.fc-day-sun):not(.fc-day-sat) {
    background: #eeeeee;
  }

  .fc-day.fc-day-today:not(.fc-col-header-cell),
  .fc-day.fc-day-future:not(.fc-col-header-cell) {
    background: #fff;
    cursor: pointer;
  }

  .fc-day.fc-day-sun:not(.fc-col-header-cell),
  .fc-day.fc-day-sat:not(.fc-col-header-cell) {
    background: #f5fbfb;
  }

  .fc-col-header-cell.fc-day.fc-day-today .fc-col-header-cell-cushion {
    background: #fff;
    color: #41b6a6;
    border-radius: 50%;
    width: 80px;
    height: 20px;
  }

  .fc-selected-date {
    background: #fe8f01 !important;
    //border: #fff 1px solid;
    color: #fff !important;
    border-radius: 50%;
    width: 80px;
    height: 20px;
  }

  .fc-resource-toolbar-button{
    background: #389e90 !important;
  }

  .fc-WeekButton-button:hover{
    background: #389e90;
  }

  .fc-toolbar-chunk .fc-button-group .fc-button-primary.fc-timegrid-switch:hover{
    background: white;
    color: #389e90;
    cursor: pointer !important;
  }

  .fc-toolbar-chunk .fc-button-group .fc-button-primary.fc-timegrid-switch-2:hover{
    cursor: default;
  }

  .fc-resource-title-date{
    color: #fe8f01 !important;
  }

  .fc-timegrid-body .fc-timegrid-slots table tbody tr {
    height: 30px;
  }

  .fc-event-appointment-type {
    border-left: 30px solid;
  }



}

.calender-reset-selecton{
  color:#41b6a6;
  background: none;
  border: none;
}
.calender-reset-selecton:hover{
  font-weight: 600;
}
.fc-hide-room {
  display: none;
}
.fc-show-room {
  display: none;
}

#left-drawer {
  padding: 15px 20px 10px 20px;
}



.right-container{
  .fc-col-header{
    width:100% !important;
  }
  .fc-timegrid-body{
    width:100% !important;
  }


  div::nth-child(2){
    table{
      width:100% !important;
    }
  }
}

.fc-toolbar-select{
  height: 25px;
}

