<div class="schedule-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <mat-drawer-container class="left-container">
          <!-- <button mat-button (click)="drawer.toggle()" class="btn btn-outline-secondary" type="button"
            style="border: none">
            <i class="fa fa-angle-double-left"></i>
          </button> -->
          <div class="pull-right arrows-toggle" (click)="drawer.toggle()">
            <a>
              <i class="fa fa-angle-double-left"></i>
            </a>
          </div>
          <mat-drawer #drawer class="example-sidenav" mode="side">
            <div class="pt-5 pb-4">
              <mat-calendar class="mat-calendar"></mat-calendar>
            </div>
            <!-- <mat-accordion> -->
            <mat-expansion-panel class="panel">
              <mat-expansion-panel-header class="panel-header">
                <mat-panel-title> Provider/Staff </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row cstm-checkbox-1 pt-2">
                <mat-checkbox>
                  <span class="cstm-mat-checkbox-label">Select all</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2">
                <mat-checkbox><span>Karina m</span></mat-checkbox>
                <mat-checkbox><span>Angie Keith</span></mat-checkbox>
              </div>
            </mat-expansion-panel>
            <!-- </mat-accordion> -->
            <br>
            <mat-expansion-panel class="panel">
              <mat-expansion-panel-header class="panel-header">
                <mat-panel-title> Appointment Status </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row cstm-checkbox-1 pt-2">
                <mat-checkbox>
                  <span class="cstm-mat-checkbox-label">Select all</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2">
                <mat-checkbox><span>Confirmed</span></mat-checkbox>
                <mat-checkbox><span>Not Confirmed</span></mat-checkbox>
                <mat-checkbox><span>Cancelled</span></mat-checkbox>
                <mat-checkbox><span>Rescheduled</span></mat-checkbox>
                <mat-checkbox><span>Checked in</span></mat-checkbox>
                <mat-checkbox><span>Checked out</span></mat-checkbox>
                <mat-checkbox><span>Waiting</span></mat-checkbox>
                <mat-checkbox><span>Scheduled</span></mat-checkbox>
              </div>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel class="panel">
              <mat-expansion-panel-header class="panel-header">
                <mat-panel-title> Appointment Type </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row cstm-checkbox-1 pt-2">
                <mat-checkbox>
                  <span class="cstm-mat-checkbox-label">Select all</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2">
                <mat-checkbox><span>Consultation</span></mat-checkbox>
                <mat-checkbox><span>Crown/Bridge Delivery</span></mat-checkbox>
                <mat-checkbox><span>Crown/Bridge Prep</span></mat-checkbox>
                <mat-checkbox><span>Emergency</span></mat-checkbox>
                <mat-checkbox><span>Endo</span></mat-checkbox>
                <mat-checkbox><span>New Patient</span></mat-checkbox>
                <mat-checkbox><span>New Patient - Child</span></mat-checkbox>
                <mat-checkbox><span>Oral Surgery</span></mat-checkbox>
                <mat-checkbox><span>Prophy Appointment</span></mat-checkbox>
                <mat-checkbox><span>Prophy-Child</span></mat-checkbox>
                <mat-checkbox><span>Prophy/Regular Appointment</span></mat-checkbox>
                <mat-checkbox><span>Regular Appointment</span></mat-checkbox>
                <mat-checkbox><span>Root canel</span></mat-checkbox>
                <mat-checkbox><span>braces</span></mat-checkbox>
                <mat-checkbox><span>extraction</span></mat-checkbox>
              </div>
            </mat-expansion-panel>
            <br>
            <button mat-button class="panel col-12">Block Out Time</button>
          </mat-drawer>
        </mat-drawer-container>
      </div>
      <div class="col-lg-9">
        <div class="right-container">
          <ejs-schedule [views]="setView">
            <h1>Calendar Screen</h1>
            <!-- <ng-template #editorTemplate let-data>
              <div class="row header">
                <div class="col-lg-11">
                  <p>Add New appointment</p>
                </div>
                <div class="col-lg-1">
                  <button mat-icon-button aria-label="close dialog" mat-dialog-close class="float-right close">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <form>
                <div class="row">
                  <mat-label>Search for Patient :</mat-label>
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-select placeholder="Select One" disableOptionCentering>
                      <mat-option value="0">Patient Name</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-label>Select Provider :</mat-label>
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-select placeholder="Select One" disableOptionCentering>
                      <mat-option value="0">Angie Keith</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-label>Select Appointment Type :</mat-label>
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-select placeholder="Select One" disableOptionCentering>
                      <mat-option value="0">Appointment type</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-label class="col-12">Notes</mat-label>
                    <textarea class="col-12"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-9">
                    <mat-label class="col-12">Select Location:</mat-label>
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-select placeholder="Select One" disableOptionCentering>
                        <mat-option value="2">Celia Infante Hernandez</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-select placeholder="Select One" disableOptionCentering>
                        <mat-option value="0">3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <mat-label class="col-12">Select Date:</mat-label>
                    <mat-form-field appearance="outline" class="col-12">
                      <input matInput class="pointer" autocomplete="off" [matDatepicker]="picker2"
                        (click)="picker2.open()" readonly placeholder="Start Date *">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-label>Duration:</mat-label>
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-select placeholder="Select One" disableOptionCentering>
                        <mat-option value="0">30 min</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3 pt-3">
                    <button class="btn col-12" style="border-color: #41b6a6; font-size: 10px; height: 45px;">Find Open
                      Time</button>
                  </div>
                </div>
                <div class="row">
                  <div class="available-slots">
                    <p>Available Time Slots (Select Only One):</p>
                    <button class="col-lg-4 col-md-3 col-12">08:00 am - 08:30 am</button>
                    <button class="col-lg-4 col-md-3 col-12">08:30 am - 09:00 am</button>
                    <button class="col-lg-4 col-md-3 col-12">09:00 am - 09:30 am</button>
                    <button class="col-lg-4 col-md-3 col-12">09:30 am - 10:00 am</button>
                    <button class="col-lg-4 col-md-3 col-12">10:00 am - 10:30 am</button>
                  </div>
                </div>
                <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a"
                  (change)="onDateChange($event)">
                </ejs-datetimepicker>
                <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                  (change)="onDateChange($event)">
                </ejs-datetimepicker>
              </form>
            </ng-template> -->
            <!-- <ng-template #editorTemplate let-data>
              <div class="row header">
                <div class="col-lg-11">
                  <p>Add New appointment</p>
                </div>
                <div class="col-lg-1">
                  <button mat-icon-button aria-label="close dialog" mat-dialog-close class="float-right close">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <form>
                <div class="row">
                  <mat-label>Search for Patient :</mat-label>
                  <mat-form-field appearance="outline" class="e-field col-12">
                    <mat-select id="PatientName" placeholder="Select One" data-name="PatientName"
                      disableOptionCentering>
                      <mat-option value="0">Patient Name</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-label class="col-12">Notes</mat-label>
                    <textarea id="Notes" class="e-field col-12" data-name="Notes"></textarea>
                  </div>
                </div>
                <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a"
                  (change)="onDateChange($event)">
                </ejs-datetimepicker>
                <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                  (change)="onDateChange($event)">
                </ejs-datetimepicker>
              </form>
            </ng-template> -->
            <ng-template #editorTemplate>
              <div class="row">
                <label>Search for Patient:</label>
                <div>
                  <ejs-dropdownlist id='PatientName' class="e-field e-input" data-name="PatientName"
                    placeholder='Patient Name' [dataSource]='sportsData'>
                  </ejs-dropdownlist>
                </div>
              </div>
              <div class="row">
                <label>Select Provider:</label>
                <div>
                  <ejs-dropdownlist id='SelectProvider' class="e-field e-input" data-name="SelectProvider"
                    placeholder='Select Provide' [dataSource]='data'>
                  </ejs-dropdownlist>
                </div>
              </div>
              <div class="row">
                <label>Select Appointment Type:</label>
                <div>
                  <ejs-dropdownlist id='AppointmentType' class="e-field e-input" data-name="AppointmentType"
                    placeholder='Select Appointment Type' [dataSource]='data'>
                  </ejs-dropdownlist>
                </div>
              </div>
              <div class="row">
                <label>Notes</label>
                <div>
                  <textarea id="Notes" class="schedule-textarea e-field e-input" data-name="Notes"></textarea>
                </div>
              </div>
              <div class="row">
                <label>Select Location</label>
                <div class="col-8">
                  <ejs-dropdownlist id='Location' class="e-field e-input" data-name="Location"
                    placeholder='Select Location' [dataSource]='data'>
                  </ejs-dropdownlist>
                </div>
                <div class="col-4">
                  <ejs-dropdownlist id='Location' class="e-field e-input" data-name="Location"
                    placeholder='Select Location' [dataSource]='data'>
                  </ejs-dropdownlist>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <label>Select Date</label>
                  <div style="  margin-top: 0.6rem;margin-bottom: 1.5rem;">
                    <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a"
                      (change)="onDateChange($event)">
                    </ejs-datetimepicker>
                  </div>
                </div>
                <div class="col-4">
                  <label>Duration</label>
                  <div>
                    <ejs-dropdownlist id='Duration' class="e-field e-input" data-name="Duration" placeholder='Duration'
                      [dataSource]='data'>
                    </ejs-dropdownlist>
                  </div>
                </div>
                <div class="col-3">
                  <div style="margin-top: 23px;">
                    <button
                      style="height: 40px; border: 1px solid #41b6a6; background-color: #fff; border-radius: 4px;">Find
                      Open Time</button>
                  </div>
                </div>
              </div>
              <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                (change)="onDateChange($event)">
              </ejs-datetimepicker>
              <!-- <table class="custom-event-editor" width="100%" cellpadding="5">
                <tbody>
                  <tr>
                    <td class="e-textlabel col-12">Search for Patient</td>
                    <td class="col-12">
                      <ejs-dropdownlist id='EventType' class="e-field e-input" data-name="EventType"
                        placeholder='Choose Status' [dataSource]='data'>
                      </ejs-dropdownlist>
                    </td>
                  </tr>
                  <tr>
                    <td class="e-textlabel">From</td>
                    <td colspan="4">
                      <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a"
                        (change)="onDateChange($event)">
                      </ejs-datetimepicker>
                    </td>
                  </tr>
                  <tr>
                    <td class="e-textlabel">To</td>
                    <td colspan="4">
                      <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                        (change)="onDateChange($event)">
                      </ejs-datetimepicker>
                    </td>
                  </tr>
                  <tr>
                    <td class="e-textlabel">Reason</td>
                    <td colspan="4">
                      <textarea id="Description" class="e-field e-input" name="Description" rows="3" cols="50"
                        style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                    </td>
                  </tr>
                </tbody>
              </table> -->
            </ng-template>
          </ejs-schedule>
        </div>
      </div>
    </div>
    <div class="schedule-bottom container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <mat-form-field appearance="outline" class="new-search col-12">
            <input matInput placeholder="Schedule Appointment ( Enter a patient's name or phone number )">
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <button mat-button class="btn patientbtn col-12" (click)="openPopup()">
            Add New Patient
          </button>
        </div>
        <div class="col-lg-2">
          <a href="/provider/smartschedule">
            <button mat-button class="btn switchbtn col-12">
              Switch View
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- New patient popup -->
<div class="modal animated fadeIn" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a New Patient</h4>
        <span type="button" (click)="closePopup()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon required">First Name</label>
                <input class="form-control" placeholder="First Name" type="text">
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Middle Name</label>
                <input class="form-control" placeholder="Middle Name" type="text">
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon required">Last Name</label>
                <input class="form-control" placeholder="Last Name" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon required">DOB</label>
                <input class="form-control" placeholder="DOB (mm/dd/yyyy)" type="date">
                <!-- <input matInput class="col-8" autocomplete="off" [matDatepicker]="picker1" (click)="picker1.open()"
                  readonly placeholder="DOB (mm/dd/yyyy)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker> -->
              </div>
            </div>
          </div>
          <!-- <mat-form-field appearance="outline" class="col-6">
            <input matInput class="pointer" autocomplete="off" [matDatepicker]="picker1" (click)="picker1.open()"
              readonly placeholder="DOB (mm/dd/yyyy)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field> -->
          <div class="col-6" style="margin-top: -9px;">
            <mat-radio-group class="col-12">
              <p>Gender :</p>
              <mat-radio-button [value]="1"></mat-radio-button>Male
              <mat-radio-button [value]="2"></mat-radio-button>Female
              <mat-radio-button [value]="3"></mat-radio-button>Other
              <mat-radio-button [value]="4"></mat-radio-button>Unknow
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Cell Phone</label>
                <input class="form-control" placeholder="Cell Phone" type="tel">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Home Phone</label>
                <input class="form-control" placeholder="Home Phone" type="tel">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Email</label>
                <input class="form-control" placeholder="Email Address" type="text">
              </div>
            </div>
          </div>
          <div class="col-6 pt-2">
            <mat-checkbox class="example-margin col-12 mx-2" style="margin-left: 0px;">
            </mat-checkbox><span>Patient does not have an email address</span>
          </div>
        </div>
        <div class="row">
          <fieldset>
            <legend>Address</legend>
            <mat-form-field appearance="outline" class="col-12">
              <input matInput placeholder="Enter full address here (including suite number)">
            </mat-form-field>
            <button class="btn verify-btn col-3">Verify</button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
