<p class="text-center mt-3">This screen is under development</p>
<!-- <div class="schedule-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <mat-drawer-container class="left-container">
          <div class="pull-right arrows-toggle" (click)="drawer.toggle()">
            <a>
              <i class="fa fa-angle-double-left"></i>
            </a>
          </div>
          <mat-drawer #drawer class="example-sidenav" mode="side">
            <div class="pt-5 pb-4">
              <mat-calendar class="mat-calendar"></mat-calendar>
            </div>
            <mat-expansion-panel class="panel">
              <mat-expansion-panel-header class="panel-header">
                <mat-panel-title> Provider/Staff </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row cstm-checkbox-1 pt-2">
                <mat-checkbox>
                  <span class="cstm-mat-checkbox-label">Select all</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2">
                <mat-checkbox><span>Karina m</span></mat-checkbox>
                <mat-checkbox><span>Angie Keith</span></mat-checkbox>
              </div>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel class="panel">
              <mat-expansion-panel-header class="panel-header">
                <mat-panel-title> Appointment Status </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row cstm-checkbox-1 pt-2">
                <mat-checkbox>
                  <span class="cstm-mat-checkbox-label">Select all</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2">
                <mat-checkbox><span>Confirmed</span></mat-checkbox>
                <mat-checkbox><span>Not Confirmed</span></mat-checkbox>
                <mat-checkbox><span>Cancelled</span></mat-checkbox>
                <mat-checkbox><span>Rescheduled</span></mat-checkbox>
                <mat-checkbox><span>Checked in</span></mat-checkbox>
                <mat-checkbox><span>Checked out</span></mat-checkbox>
                <mat-checkbox><span>Waiting</span></mat-checkbox>
                <mat-checkbox><span>Scheduled</span></mat-checkbox>
              </div>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel class="panel">
              <mat-expansion-panel-header class="panel-header">
                <mat-panel-title> Appointment Type </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row cstm-checkbox-1 pt-2">
                <mat-checkbox>
                  <span class="cstm-mat-checkbox-label">Select all</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2">
                <mat-checkbox><span>Consultation</span></mat-checkbox>
                <mat-checkbox><span>Crown/Bridge Delivery</span></mat-checkbox>
                <mat-checkbox><span>Crown/Bridge Prep</span></mat-checkbox>
                <mat-checkbox><span>Emergency</span></mat-checkbox>
                <mat-checkbox><span>Endo</span></mat-checkbox>
                <mat-checkbox><span>New Patient</span></mat-checkbox>
                <mat-checkbox><span>New Patient - Child</span></mat-checkbox>
                <mat-checkbox><span>Oral Surgery</span></mat-checkbox>
                <mat-checkbox><span>Prophy Appointment</span></mat-checkbox>
                <mat-checkbox><span>Prophy-Child</span></mat-checkbox>
                <mat-checkbox><span>Prophy/Regular Appointment</span></mat-checkbox>
                <mat-checkbox><span>Regular Appointment</span></mat-checkbox>
                <mat-checkbox><span>Root canel</span></mat-checkbox>
                <mat-checkbox><span>braces</span></mat-checkbox>
                <mat-checkbox><span>extraction</span></mat-checkbox>
              </div>
            </mat-expansion-panel>
            <br>
            <button mat-button class="panel col-12">Block Out Time</button>
          </mat-drawer>
        </mat-drawer-container>
      </div>
      <div class="col-lg-9">
        <div class="right-container">
          <ejs-schedule [views]="setView" [selectedDate]='selectedDate' [eventSettings]='eventSettings'>
            <ng-template #editorTemplate>
              <form [formGroup]="appointmentForm" (ngSubmit)="onSubmitAppointmentForm()" class="appointment-form">
                <div class="row">
                  <mat-label>Patient :</mat-label>
                  <mat-form-field appearance="outline" id='PatientName' data-name="PatientName"
                    class="col-12 hover e-field e-input pb-3">
                    <mat-select placeholder="Select Patient" disableOptionCentering formControlName="patient">
                      <mat-option value="1">Patient Name</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-label>Providers :</mat-label>
                  <mat-form-field appearance="outline" id='ProviderName' data-name="ProviderName"
                    class="col-12 hover e-field e-input pb-3">
                    <mat-select placeholder="Select Provider" disableOptionCentering formControlName="provider">
                      <mat-option value="0">Angie Keith</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-label>Appointment Types :</mat-label>
                  <mat-form-field appearance="outline" id='AppointmentType' data-name="AppointmentType"
                    class="col-12 e-field e-input">
                    <mat-select placeholder="Select Appointment Type" disableOptionCentering
                      formControlName="appointmentType">
                      <mat-option value="0">Appointment type</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-12">
                    <mat-label class="col-12">Notes</mat-label>
                    <textarea class="col-12 text-area" formControlName="notes"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9 col-12">
                    <mat-label class="col-12">Locations:</mat-label>
                    <mat-form-field appearance="outline" id='Locations' data-name="Locations"
                      class="col-12 e-field e-input">
                      <mat-select placeholder="Select Location" disableOptionCentering formControlName="location">
                        <mat-option value="2">Celia Infante Hernandez</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 col-12">
                    <mat-form-field appearance="outline" class="col-12" style="padding-top: 23px;">
                      <mat-select placeholder="Select One" disableOptionCentering>
                        <mat-option value="0">3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <mat-label class="col-12">Select Date:</mat-label>
                    <mat-form-field appearance="outline" id='StartDate' data-name="StartDate"
                      class="col-12 e-field e-input">
                      <input matInput class="pointer" autocomplete="off" [matDatepicker]="picker2"
                        (click)="picker2.open()" readonly placeholder="Start Date">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-label>Duration:</mat-label>
                    <mat-form-field appearance="outline" id='Duration' data-name="Duration"
                      class="col-12 e-field e-input">
                      <mat-select placeholder="Select Duration" disableOptionCentering>
                        <mat-option value="0">30 min</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3" style="padding-top: 23px;">
                    <button class="btn col-12">Find Open
                      Time</button>
                  </div>
                </div>
                <div class="available-slots">
                  <div class="row">
                    <p>Available Time Slots (Select Only One):</p>
                    <div class="col-lg-4 col-md-3 col-12 pb-3" *ngFor="let slots of availableTimeSlots">
                      <button class="btn col-12">{{slots}}</button>
                    </div>
                  </div>
                </div>
                <div class="pt-2">
                  <button class="btn" type="submit" (click)="onSubmitAppointmentForm()">Save</button>
                </div>
              </form>
            </ng-template>
          </ejs-schedule>
        </div>
      </div>
    </div>
    <div class="schedule-bottom container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <mat-form-field appearance="outline" class="new-search col-12">
            <input matInput placeholder="Schedule Appointment ( Enter a patient's name or phone number )">
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <button mat-button class="btn patientbtn col-12" (click)="openPopup()">
            Add New Patient
          </button>
        </div>
        <div class="col-lg-2">
          <a href="/provider/smartschedule">
            <button mat-button class="btn switchbtn col-12">
              Switch View
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- New patient popup -->
<!-- <div class="modal animated fadeIn" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a New Patient</h4>
        <span type="button" (click)="closePopup()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon required">First Name</label>
                <input class="form-control" placeholder="First Name" type="text">
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Middle Name</label>
                <input class="form-control" placeholder="Middle Name" type="text">
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon required">Last Name</label>
                <input class="form-control" placeholder="Last Name" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon required">DOB</label>
                <input class="form-control" placeholder="DOB (mm/dd/yyyy)" type="date">
              </div>
            </div>
          </div>
          <div class="col-6" style="margin-top: -9px;">
            <mat-radio-group class="col-12">
              <p>Gender :</p>
              <mat-radio-button [value]="1"></mat-radio-button>Male
              <mat-radio-button [value]="2"></mat-radio-button>Female
              <mat-radio-button [value]="3"></mat-radio-button>Other
              <mat-radio-button [value]="4"></mat-radio-button>Unknow
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Cell Phone</label>
                <input class="form-control" placeholder="Cell Phone" type="tel">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Home Phone</label>
                <input class="form-control" placeholder="Home Phone" type="tel">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <div class="input-group">
                <label class="control-label input-group-addon">Email</label>
                <input class="form-control" placeholder="Email Address" type="text">
              </div>
            </div>
          </div>
          <div class="col-6 pt-2">
            <mat-checkbox class="example-margin col-12 mx-2" style="margin-left: 0px;">
            </mat-checkbox><span>Patient does not have an email address</span>
          </div>
        </div>
        <div class="row">
          <fieldset>
            <legend>Address</legend>
            <mat-form-field appearance="outline" class="col-12">
              <input matInput placeholder="Enter full address here (including suite number)">
            </mat-form-field>
            <button class="btn verify-btn col-3">Verify</button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div> -->