<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title Roboto-medium">Record Advanced Directive </p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <mat-form-field appearance="outline" class="grey-matform grey-calendar col-lg-8 col-md-6">
          <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="picker1"
            (click)="picker1.open()" readonly placeholder="Date Recorded" [(ngModel)]="advDirective.RecordAt">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div class="col-lg-4 col-md-6">
          <button class="btn btn-green col-12" (click)="todayDate()">Today</button>
        </div>
      </div>
      <textarea placeholder="Advanced Directive Notes" class="form-control col-12 mt-3 mt-md-0"
        [(ngModel)]="advDirective.Notes"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-green" (click)="CreateAdvancedDirectives()"
        [disabled]="disableadvDirective()">Save</button>
      <button class="btn btn-green" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
