@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

*{
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
}
.smoking-status.modal-dialog {
  overflow-y: initial !important;
}
.smoking-status .modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}
.smoking-status .modal-content{
  width: 650px;
}

@media (max-width: 768px){
  .modal-dialog {
    overflow-y: initial !important;
    max-width: inherit !important;
    margin: 0 !important;
  }
  .modal-body {
    max-height: calc(90vh - 250px);
    overflow-y: auto;
  }
  .smoking-status .modal-content{
    width: 100% !important;
  }
}

.btn.ehr-btn{
  width: 165px;
  height: 45px;
}
.btn{
  height: 45px;
}
.body-header.modal-header{
  min-height: 50px;
  padding: 16px 18px !important;
  background-color: #F7F7F7;
}
.modal-body{
  padding: 16px 18px !important;
}
.body-header p{
  padding: 4px 0;
  text-overflow: ellipsis;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  color: #4A4A4A;
}
::ng-deep .mat-radio-label-content{
  height: 25px;
  padding: 2px 0 0 6px;
  font-size: 15px;
  color: #74757e;
  font-weight: 400;
}
::ng-deep .radio-group .mat-radio-button{
  display: flex;
}
.dialog-footer.modal-footer{
  display: block;
  padding: 10px 15px !important;
}
@media (max-width: 425px){
  .modal-dialog.smoking-status{
    margin-top: -45px !important;
  }
}
