.modal-dialog {
  overflow-y: initial !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}

// .modal-body {
//   overflow-y: scroll;
//   height: 700px;
// }

.model-cust-heading {
  background: white !important;
  border: 0px solid #f2f2f2 !important;
  width: 1500px !important;
  border: 1px solid #f2f2f2 !important;
}

.modal-cust-header {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 20px 10px 30px !important;
  background: #dedede;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}


.modal-body .form-group {
  margin-bottom: 25px;
}

.modal-cust-title {
  color: #333333;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 10px !important;
  padding: 5px !important;
}


.cancel-button {
  font-size: 100% !important;
  text-align: center !important;
  width: auto !important;
  margin-left: 1% !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  padding: 7px 12px !important;
  border-radius: 5px !important;
  color: black !important;
}

.cancel-button:hover {
  background-color: rgb(234, 232, 232) !important;
  border: 1px solid rgb(160, 159, 159) !important;

}

.save-button {
  font-size: 100%;
  text-align: center;
  width: auto;
  line-height: 200%;
  margin-left: 4%;
  background-color: #fff;
  border: 1px solid #3598dc;
  color: #3598dc;
  padding: 3px 13px;
  border-radius: 5px !important;
  font-family: "Open Sans", sans-serif;
}

.save-button:hover {
  background-color: #3598dc;
  border: 1px solid #3598dc;
  color: #fff;
}

// modal input field design
.row-border {
  border: 1px solid #cdcbcb !important;
}

.row-align {
  margin: 10px;
}

.form-control.text-design {
  border: 1px solid #ced4da;
  border-radius: 5px !important;
  font-family: "Open Sans", sans-serif;
  height: 35px;
  font-size: 1rem !important;
  padding-left:10px;
  background-color: #fff;
}

input::-webkit-input-placeholder {
  color: rgb(162, 158, 158) !important;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.modal-footer {
  border-top: 2px solid #f2f2f2;
}

.example-full-width {
  width: 15%;
}
.is-invalid{color:red;}
.example-width {
  width: 85%;
  height: 15%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  height: 38px;
  border-radius: 1%;
  color: #c2cad8;
  background-color: #fff !important;
}

.mat-autocomplete-panel {
  min-width: 67px !important;
}

.mat-option.mat-active {
  background: #ffffff !important;
}

.mat-option:first-child {
  border-top: 1px solid #9a9f9e;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.mat-option {
  border-left: 1px solid #9a9f9e;
  border-right: 1px solid #9a9f9e;
}

.mat-option {
  color: black !important;
}

.mat-option:hover {
  background-color: #fafafa !important;
}

.mat-option:last-child {
  border-bottom: 1px solid #9a9f9e;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cdk-overlay-pane {
  pointer-events: auto;
  top: 580.295px;
  left: 595.878px;
}

.pgone-dropdwn {
  font-size: 69%;
  white-space: pre-wrap;
}

.cross-x {
  font-size: 16px;
  opacity: 0.5;
}

.cross-x:hover {
  color: #767171;
}

.anchortag {
  color: #337ab7;
  cursor: pointer;
}

.anchortag:hover {
  color: #23527c;
  text-decoration: underline;
}

.input-bgColor {
  // background-color: #eef1f5;
  // opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  /* background-color: #e9ecef; */
  opacity: 1;
}
.row>* {
  flex-shrink: unset;
}

.npi-width {
  width: 470px;
}

.check-box-size,
.radio-button-size input {
  width: 17px;
  height: 17px;
  margin-left: 0px;
  margin-top: 0px;
}

@media (min-width:300px) and (max-width:1600px) {
  .modal-cust-content {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #fff;
    margin-left: 0px;
    margin-top: 50px;
  }

  .npi-width {
    width: 100%;
  }

  .ddl-width {
    width: 100%;
  }

  .radio-btn {
    margin-left: -1px;
  }

  .radio-btn-label {
    margin-left: -10px;
  }

  .model-cust-footer {
    width: 100%;
    border-top: unset;
  }
}

@media (min-width:1440px) and (max-width:1600px) {
  .modal-cust-content {
    width: 1160px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    margin-left: 260px;
    margin-top: 80px 3px;
  }

  .npi-width {
    width: 105%;
  }

  .model-cust-footer {
    width: 1160px;
  }
}

@media (min-width:1601px) and (max-width:4500px) {
  .modal-cust-content {
    width: 1382px;
    margin-left: 259px;
    margin-top: 100px;
    border: 1px solid #ebebeb;
    background-color: #fff;
  }

  .npi-width {
    width: 105%;
  }

  .model-cust-footer {
    width: 1382px;
    background: white;
    border: 1px solid #f2f2f2;
  }
}

.reg-button {
  height: 35px;
  width: 100% !important;
}

.tel-code h1 {
  font-size: 13px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
}

.tel-code.mat-option {
  padding: 5px !important;
}

// verify address

.addressSuccess {
  height: 55px;
  background: #5BB85C;
  color: white;
}

.addressInvalid {
  height: 55px;
  background: red;
}

.erroclose {
  font-size: 0.875rem;
  border: 1px solid white;
  background: #ff0000 !important;
}

.modal.verify-address .modal-dialog {
  margin: 20% auto !important;
  max-width: 50% !important;
}

.modal.verify-address .modal-content {
  background: #fff;
  border: 1px solid #f2f2f2;
}

.verify-address .link {
  color: #41b6a6;
  margin-left: -50px;
  text-decoration: underline;
  text-transform: lowercase;
}

.form-select:focus {
  border-color: #c2cad8;
  outline: 0;
  box-shadow: none;
}

.add-edit-user-form .form-select {
  height: 35px;
}

.required::before {
  content: " *" !important;
  color: red !important;
}
.areacode::placeholder{
  font-size: 10px;
}



.add-edit-user-form .error_message{
  color: #8c2929;
  content: '*';
  display: flex;
  align-items: center;
}

.add-edit-user-form .success_message{
  color: rgb(0, 152, 3);
  content: '*';
  display: flex;
  align-items: center;
}


::ng-deep .admin-swal2-styled{
  margin: 100px 0!important;
  background: #35414f !important;
  color: #fff !important;
  padding: 30px 0 !important;
  font-size: 25px !important;
  font-weight: 500 !important;
}
::ng-deep .admin-cancel-button{
  background: #35414f !important;
  color: #fff !important;
}
::ng-deep .admin-cancel-button:hover{
  background: #fff !important;
  color: #35414f !important;
}

.body-scroller::-webkit-scrollbar-thumb {
  background: #35414f;
  border-radius: 10px;
  background-clip: padding-box;
  border: 0.05em solid #eeeeee;
}

.add-edit-user-form .form-conrtol{
  font-size:1.1rem !important
}
.not-allowed
{
  cursor: not-allowed !important;

}
.readonlybgcolorchange
{
  background-color: #fff !important;
}
