<div class="modal-dialog modal-xl">
  <div class="modal-content modal-cust-content">
    <div class="modal-header model-cust-heading">
      <p class="modal-title modal-cust-title">Request an Appointment</p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
       x
      </span>
    </div>
    <div class="modal-body model-cust-body">
      <form>

        <div class="row ">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <label for="Date" class="form-label">Date</label>
            <input type="input" class="form-control inputclass" id="Date" placeholder="{{ hoverDATE }}" (mouseover)="hoverDATE='_/__/_'"  (mouseleave)="hoverDATE='Date'">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <label for="Date" class="form-label"> Provider</label>
            <select class="form-select inputclass" id="sel1" name="sellist1">
              <option class="dropdown-menu"  disabled selected>Select Provider</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <label for="Time" class="form-label">Time</label>
            <input type="input" class="form-control inputclass" id="Time" placeholder="Time" placeholder="{{ hoverTime }}" (mouseover)="hoverTime='hh:mm XM'"  (mouseleave)="hoverTime='Time'">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <label for="Date" class="form-label">Location </label>
            <select class="form-select inputclass" id="sel1" name="sellist1">
              <option class="dropdown-menu"  disabled selected>Select Location</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 mt-3">
            <label for="Note" class="form-label">Note</label>
            <textarea placeholder="Notes" class="form-control inputclass col-12 mt-3 mt-md-0"  id="Note" rows="3" ></textarea>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt-3">
            <div class="row">
              <p>*We will make every effort to accommodate exact times requested, but may need to suggest alternate
                dates/times.</p>
            </div>
          </div>
        </div>
        <div class="row" style="float: right;">
          <button type="button"  class="btn btn-green col-md-4 mx-2"
            data-bs-dismiss="modal" (click)="cancel()">Cancel</button>
          <button type="button" class="btn btn-green col-md-4"  [disabled]="true" >Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>
