<div class="modal-dialog modal-xl">
  <div class="modal-content modal-cust-content">
    <div class="modal-header model-cust-heading">
      <p class="modal-title modal-cust-title">Request an Appointment</p>
      <span type="button" class="cross-mark"(click)="cancel()">
       x
      </span>
    </div>
    <div class="modal-body model-cust-body">
        <div class="row ">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
             <mat-label class="col-12 required">Select Date:</mat-label>
              <mat-form-field appearance="outline" class="col-12">
                <input matInput class="pointer"  [matDatepicker]="appointmentDate"
                  (click)="appointmentDate.open()"  placeholder="Request Date"readonly
                  [(ngModel)]="requestAppoinments.AppttDate" [ngModelOptions]="{standalone: true}" [min]="minDate" required #selectDate="ngModel"required/>
                <mat-datepicker-toggle matSuffix [for]="appointmentDate">
                </mat-datepicker-toggle>
                <mat-datepicker #appointmentDate></mat-datepicker>
              </mat-form-field>
              <div *ngIf="selectDate.errors && (selectDate.touched)">
                <div class="error_message" *ngIf="selectDate.errors?.required">
                  <span class="e_arrow"></span>
                  <p class="errormessage">Please select the date</p>
                </div>
              </div>
              
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <mat-label for="Date" class="form-label required"> Provider</mat-label>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-select  placeholder="Select Provider" [(ngModel)]="requestAppoinments.ProviderId" #selectprovider="ngModel" required>
                  <mat-option  *ngFor="let item of Providerdata" [value]="item.ProviderId">{{item.FullName}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="selectprovider.errors && (selectprovider.touched)">
                <div class="error_message" *ngIf="selectprovider.errors?.required">
                  <span class="e_arrow"></span>
                  <p class="errormessage">Please select the provider</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <mat-label for="Time" class="form-label required">Time</mat-label>
            <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12">
              <input matInput type="text" hint="12 hours format" appTimeMask
              [(ngModel)]="requestAppoinments.AppointmentTime" #apptTime="ngModel"  required>
            </mat-form-field>
            <div *ngIf="(apptTime.dirty || apptTime.touched)">
              <div class="error_message" *ngIf="apptTime.errors?.required">
                <span class="e_arrow"></span>
                <p class="errormessage">Please select the time </p>
              </div>
            </div>
            <!-- <div *ngIf="apptTime.invalid && (apptTime.dirty || apptTime.touched)"
            class="alert alert-danger">

         <div *ngIf="apptTime.errors.required">
           Name is required.
         </div>
         </div> -->
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <mat-label  class="form-label required">Location </mat-label>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-select  placeholder="Select Location" [(ngModel)]="requestAppoinments.LocationId" #locationName="ngModel" required>
                  <mat-option  *ngFor="let item of clinicaldata" [value]="item.LocationId">{{item.LocationName}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="locationName.errors && (locationName.touched)">
                <div class="error_message" *ngIf="locationName.errors?.required">
                  <span class="e_arrow"></span>
                  <p class="errormessage">Please select the location </p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 mt-3">
            <label for="Note" class="form-label">Note</label>
            <textarea placeholder="Notes" matInput class="form-control inputtextarea col-12 mt-3 mt-md-0"  id="Note" rows="3" [(ngModel)]="requestAppoinments.Note"></textarea>

          </div>
        </div>
        <div class="row mt-4">
          <p>*We will make every effort to accommodate exact times requested, but may need to suggest alternate dates/times.</p>
        </div>

        <div class="row mt-4" style="float: right;">
          <button type="button"  class="btn btn-green col-md-4 mx-2" (click)="cancel()">Cancel</button>
          <button type="button" class="btn btn-green col-md-4"  [disabled]="enableSave()" (click)="RequestAppointment(requestAppoinments)" >Submit</button>
        </div>
    </div>
  </div>
</div>
