@import"../../../assets/common.scss";


input::-webkit-input-placeholder {
  color: #74757e !important;

}
.btn-green {
  width: 78px;
  height: 43px;
  padding: 0;
  line-height: 2.7;
  margin-right: 12px;

}
form .form-select:focus{
  border-color: #41b6a6;
  box-shadow: none;
}

textarea::-webkit-input-placeholder {
  color: #74757e !important;
  padding: 10px 10px 2px 2px;

}
 .modal-dialog {
  margin-top: calc(-24px + -24px) !important;
}
