<div class="modal-dialog modal-xl">
  <div class="modal-content modal-cust-content">
    <div class="modal-header model-cust-heading">
      <p class="modal-title modal-cust-title">Request an Appointment</p>
      <span type="button" class="cross-mark"(click)="cancel()">
       x
      </span>
    </div>
    <div class="modal-body model-cust-body">
        <div class="row ">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
             <mat-label class="col-12 required">Select Date:</mat-label>
              <mat-form-field appearance="outline" class="col-12">
                <input matInput class="pointer" autocomplete="off" [matDatepicker]="appointmentDate"
                  (click)="appointmentDate.open()" readonly placeholder="Request Date"
                  [(ngModel)]="requestAppoinments.AppttDate" [ngModelOptions]="{standalone: true}" />
                <mat-datepicker-toggle matSuffix [for]="appointmentDate">
                </mat-datepicker-toggle>
                <mat-datepicker #appointmentDate></mat-datepicker>
              </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <mat-label for="Date" class="form-label required"> Provider</mat-label>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-select  placeholder="Select Provider" [(ngModel)]="requestAppoinments.ProviderId">
                  <mat-option  *ngFor="let item of Providerdata" [value]="item.ProviderId">{{item.FullName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <mat-label for="Time" class="form-label required">Time</mat-label>
            <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12">
              <input matInput type="text" hint="12 hours format" appTimeMask
              [(ngModel)]="requestAppoinments.AppointmentTime">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
            <mat-label  class="form-label required">Location </mat-label>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-select  placeholder="Select Location" [(ngModel)]="requestAppoinments.LocationId">
                  <mat-option  *ngFor="let item of clinicaldata" [value]="item.LocationId">{{item.LocationName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 mt-3">
            <label for="Note" class="form-label">Note</label>
            <textarea placeholder="Notes" class="form-control inputtextarea col-12 mt-3 mt-md-0"  id="Note" rows="3" [(ngModel)]="requestAppoinments.Note"></textarea>

          </div>
        </div>

        <div class="row mt-4" style="float: right;">
          <button type="button"  class="btn btn-green col-md-4 mx-2" (click)="cancel()">Cancel</button>
          <button type="button" class="btn btn-green col-md-4"  [disabled]="enableSave()" (click)="RequestAppointment(requestAppoinments)" >Submit</button>
        </div>
    </div>
  </div>
</div>
