@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.modal{
  font-family: 'Roboto';
}
.modal-dialog {
  overflow-y: initial !important;
  max-width: inherit !important;
  margin: 0 !important;
}
.modal-body {
  max-height: calc(90vh - 110px);
  overflow-y: auto;
}
.intervention-dialog .modal-content{
  width: 100%;
}
.intervention-dialog .row{
  margin-top: 15px;
  margin-bottom: 25px;
}
mat-label{
  font-size: 14px;
  font-weight: 600;
  color: #333;
  opacity: 0.9;
}
textarea.form-control{
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  resize: both;
  height: 120px;
}
.form-control {
  padding: 0 20px;
  color: #74757e;
  border: 1px solid #dedede;
  background-color: #f5f5f5;
  border-radius: 3px;
  font-size: 15px;
  line-height: 43px;
  box-shadow: none !important;
  cursor: auto !important;
}
.form-control:hover{
  border: 1px solid #41b6a6;
}
.interventions-table.mat-table{
  border-radius: 3px;
  max-height: 315px !important;
  overflow-y: auto;
}
.interventions-table .mat-row {
  padding: 0px;
}
.mat-header-cell{
  font-weight: bold;
  padding: 0 40px 0 40px;
  border-left: 1px solid #ddd;
  white-space: pre-line;
  font-size: 15px;
}
.mat-cell{
  padding: 0 40px 0 40px;
}
.mat-cell:first-child,
.mat-header-cell:first-child{
  padding: 0 40px 0 40px;
}
.intervention-dialog{
  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 8%;
  }
  mat-cell:nth-child(2),
  mat-header-cell:nth-child(2) {
    flex: 0 0 20%;
  }
  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    flex: 0 0 12%;
  }
  mat-cell:nth-child(4),
  mat-header-cell:nth-child(4) {
    flex: 0 0 30%;
  }
  mat-cell:nth-child(5),
  mat-header-cell:nth-child(5) {
    flex: 0 0 15%;
  }
  mat-cell:nth-child(6),
  mat-header-cell:nth-child(6) {
    flex: 0 0 8%;
  }
  mat-cell:nth-child(7),
  mat-header-cell:nth-child(7) {
    flex: 0 0 7%;
  }
}
// .grey-bg-color.input-search.mat-form-field-appearance-outline .mat-form-field-outline{
//   background-color: #f5f5f5 !important;
//     color: #dedede !important;
// }

::ng-deep {
  mat-form-field.cstm-validation {
    ::placeholder:before {
      content: "*" !important;
      color: red !important;
    }
  }
}
.btn-add-cqm {
  width: 85px;
  height: 40px !important;
  margin-top: 4px;
}
