<div class="modal-dialog intervention-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title Roboto-medium">Add/Edit Intervention</p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-2">
          <mat-label class="required">Date:</mat-label>
        </div>
        <mat-form-field appearance="outline" class="grey-matform green-calendar col-lg-2 col-md-6">
          <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="startDate"
            (click)="startDate.open()" readonly placeholder="Start Date" [(ngModel)]="patientIntervention.StartDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="grey-matform green-calendar col-lg-2 col-md-6">
          <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="endDate"
            (click)="endDate.open()" readonly placeholder="End Date" [(ngModel)]="patientIntervention.EndDate">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <mat-label class="required">Intervention Type:</mat-label>
        </div>
        <mat-form-field appearance="outline" class="col-lg-4 col-md-6 hover cstm-mat-padding">
          <mat-select placeholder="Select One" disableOptionCentering id="ePracticeProviders"
            placeholder="Select Intervention Type" [(ngModel)]="patientIntervention.InterventionType">
            <mat-option *ngFor="let type of interventionTypes" [value]="type.InterventionType">
              {{type.InterventionType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="grey-matform cstm-validation col-12">
            <input matInput #searchName placeholder="Search Intervention Codes" id="searchName" name=" searchName" />
          </mat-form-field>
        </div>
      </div>
      <div class="scrollable-mat-table">
        <mat-table class="interventions-table" [dataSource]="interventionCodes" matSort>
          <ng-container matColumnDef="Empty">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let intervention; let i = index;">
              <mat-checkbox (change)="onSelectInterventionCodes($event,intervention,intervention.Code)"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="InterventionType">
            <mat-header-cell *matHeaderCellDef mat-sort-header="InterventionType"> Intervention Type </mat-header-cell>
            <mat-cell *matCellDef="let intervention"> {{intervention.Name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Code">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Code"> Code </mat-header-cell>
            <mat-cell *matCellDef="let intervention"> {{intervention.Code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Description"> Description </mat-header-cell>
            <mat-cell *matCellDef="let intervention"> {{intervention.Description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ReasonNotPerformed">
            <mat-header-cell *matHeaderCellDef mat-sort-header="ReasonNotPerformed"> Add Reason Not Performed
            </mat-header-cell>
            <mat-cell *matCellDef="let intervention" class="text-center">
              <button class="btn btn-green btn-add-cqm" *ngIf="patientIntervention.InterventionId != undefined"
                (click)="openComponentDialog(cqmNotPerformedDialogComponent,null,ActionTypes.view)">Add
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Reason">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Reason"> Reason </mat-header-cell>
            <mat-cell *matCellDef="let intervention"> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="interventionColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: interventionColumns"></mat-row>
        </mat-table>
        <!-- <div class="norecords-found" *ngIf="interventionList.length">
          No Patients Found
        </div> -->
      </div>
      <div class="row pt-3">
        <div class="col-lg-2">
          <mat-label>Notes:</mat-label>
        </div>
        <div class="col-lg-10">
          <textarea class="form-control col-12" [(ngModel)]="patientIntervention.Note"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-green" [disabled]="disableIntervention()" (click)="CreateIntervention()">Save</button>
      <button class="btn btn-green" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
