<div class="modal-dialog create-diagnoses-modal">
  <div class="modal-content body">
    <div class="modal-header header">
      <div class="col-sm-3 mx-2">
        <h4 class="Helvetica-sans-serif-medium pt-3 pt-md-2">Diagnosis (Dx)</h4>
      </div>
      <div class="col-sm-7 row-head">
        <h4 class="Helvetica-sans-serif-medium mx-2 mt-3">Record Diagnosis(Dx)</h4>
      </div>
      <div>
        <span type="button" class="cross-mark" (click)="cancel()">
          x
        </span>
      </div>
    </div>
    <div class="body">
      <div class="row" style="padding: 0px 12px;">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8 side-boder">
          <label class="required mt-3">Code System</label>
          <mat-form-field appearance="outline" class="w-100"
            [ngClass]="isDisabled ? 'not-allowed' : 'auto'">
            <mat-select placeholder="Please select one" [(ngModel)]="patientDiagnoses.CodeSystem"
              [disabled]="isDisabled">
              <mat-option *ngFor="let code of DxCodes" [value]="code">
                {{code}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <label class="required">Code</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput placeholder="Code" name="Code" [(ngModel)]="patientDiagnoses.Code"
              [disabled]="isDisabled"
              [ngStyle]="{'cursor':isDisabled ? 'not-allowed' : 'auto' }" />
          </mat-form-field>
          <label class="required">Description</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput placeholder="Description" [(ngModel)]="patientDiagnoses.Description"
              [disabled]="isDisabled"
              [ngStyle]="{'cursor':isDisabled ? 'not-allowed' : 'auto' }" />
          </mat-form-field>
          <div class="row">
            <label class="required">Start Date</label>
            <mat-form-field appearance="outline" class="green-calendar col-md-8">
              <input matInput class="pointer" [matDatepicker]="startdate" (click)="startdate.open()" readonly
                placeholder="Start Date" name="startdate" [(ngModel)]="patientDiagnoses.StartAt"
                (dateChange)="dateChange($event)" />
              <mat-datepicker-toggle matSuffix [for]="startdate">
              </mat-datepicker-toggle>
              <mat-datepicker #startdate></mat-datepicker>
            </mat-form-field>
            <div class="col-lg-4">
              <button class="btn btn-green btn-today pull-right mt-1" (click)="todayStartAt()">Today</button>
            </div>
          </div>
          <div class="row">
            <label>End Date</label>
            <mat-form-field appearance="outline" class="green-calendar col-md-8">
              <input matInput class="pointer" [matDatepicker]="enddate" placeholder="End Date" name="enddate"
                (click)="enddate.open()" readonly [(ngModel)]="patientDiagnoses.StopAt" [min]="endDateForDiagnosis"
                [disabled]="patientDiagnoses.StartAt == null" />
              <mat-datepicker-toggle matSuffix [for]="enddate" [disabled]="patientDiagnoses.StartAt == null">
              </mat-datepicker-toggle>
              <mat-datepicker #enddate></mat-datepicker>
            </mat-form-field>
            <div class="col-lg-4">
              <button class="btn btn-green btn-today pull-right mt-1" (click)="todayStopAt()"
                [disabled]="patientDiagnoses.StartAt == null">Today</button>
            </div>
          </div>
          <div class="row">
          <label class="required">Diagnosis Notes:</label>
          <textarea placeholder="Diagnosis Notes:" class="form-control col-12 mt-3 mt-md-0 diagnosis-note"
            [(ngModel)]="patientDiagnoses.Note" matInput style="margin: 10px 14px 10px;"></textarea>
          </div>
          <div class="row links-item mt-2" *ngIf="this.patientDiagnoses.Code != null">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p>Resources:</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <a class="underlined"
                [href]="MedLinePlusUrl()"
                target="_blank">
                Medline Plus
              </a>
            </div>
            <div class="col-md-5 col-sm-5" *ngIf="this.educationMaterial != null">
              <span class="underlined" id="education_materials_show"
                (click)="openComponentDialog(patientEducationMaterialDialogComponent,null,ActionTypes.view)">Patient
                Education Materials</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="w-100">
      <button class="btn btn-danger mx-3 pull-left" *ngIf="patientDiagnoses.DiagnosisId != undefined"
      (click)="DeleteDiagnosis()">Delete</button>
      <button class="btn btn-green mx-3 pull-right" [disabled]="disableDiagnosis()"
        (click)="CreateDiagnosis()">Save</button>
      <button class="btn btn-green pull-right" (click)="cancel()">
        Cancel</button>
      </div>
    </div>
  </div>
</div>
