@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.create-diagnoses-modal.modal-dialog {
  max-width: 950px;
}
.create-diagnoses-modal .body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-header.header {
  padding: 0px 10px !important;
}
.row-head {
  border-left: 1px solid #fff;
  min-height: 50px;
}
.side-boder {
  border-left: 1px solid #41b6a6;
}
.btn-custom {
  width: 85px;
}
.diagnosis-note{
  padding: 10px !important;
}
.btn-today {
  width: 97px !important;
  height: 45px;
}
textarea.form-control {
  min-height: 119px !important;
  resize: both;
  font-size: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1.5;
  border: 1px solid #41b6a6;
  border-radius: 4px;
}
.links {
  background-color: #41b6a6;
  margin: 10px -13px;
  font-size: 16px !important;
  color: #fff;
  padding: 9px 0px 0px 0px;
}
.links-item {
  background-color: #41b6a6;
  color: #fff;
  font-size: 15px;
  padding: 12px 0px 1px 0px;
  margin-bottom: 81px !important;
}

.links-item a {
  color: #fff;
  font-size: 16px;
  padding: 9px 0 12px 9px;
}
.links-item a:hover{
  color: #fe8f00;
  cursor: pointer !important;
  text-decoration: underline;
}
::ng-deep .not-allowed{
  .mat-select-disabled .mat-select-value{
    cursor: not-allowed !important;
  }
}
