.patients-navigation>ol li.active a {
  color: #2e877b !important;
}
.patients-wrapper .patients-navigation>ol li .remove-chart-patient {
  padding-left: 5px;
}
.patients-wrapper .patients-navigation .patients-navigation-info {
  min-height: 50px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 28px;
  margin-top: -5px;
}
