.dashbord-header{
    list-style-type:none;
  }
  ul li, ol li, dl li {
    line-height: 1.8;
    display: initial !important;
  }
  .anchorStyle{
    color: #888 !important;
    font-size: 15px;
    padding: 12px 2px;
    text-shadow: none;
  }
  ul{
    min-height: 35px;
    background: #f1f4f7 !important
  }
 .li-home:hover{
  text-decoration: underline !important;
  cursor: pointer !important;
}
