<div class="admin-breadcrum">
    <div class="row">
      <div class="col-lg-12 col-xl-12 col-md-12 col-12">
        <ul class="breadcrum-header">
          <li><a class="anchorStyle li-home pr-3" (click)="onChangeBreadCum('Dashboard','/admin/dashboard')">Home</a></li>
          <li><i class="category-arrow fa fa-angle-right anchorStyle"></i></li>
          <li><a class="active text-nowrap" href="javascript:void(0)" class="anchorStyle" style="cursor:auto;"
             >{{menuName}}</a></li>
        </ul>
      </div>
    </div>
</div>

