<!-- Upcoming Appointment popup -->
  <div class="modal-dialog existingappointment-form" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upcoming Appointments</h4>
        <span type="button" class="cross-mark"
          (click)="close()">
          X
        </span>
      </div>
      <div class="modal-body">
        <mat-progress-bar mode="indeterminate" bufferValue="50" value=100 *ngIf="dialogIsLoading" ></mat-progress-bar>
        <div class="content-data">
          <div class="row appointment" *ngFor="let patientapp of AppointmentsOfPatient">
            <div class="col-md-7">

              <div class="upcomming-appointment">
                {{patientapp.AppointmentTime | date:'MM/dd/yyyy'}}&nbsp;
                <a class="main-list-link"
                  (click)="ViewAppointment(newAppointmentDialogComponent,'view',patientapp)" >View/Edit</a>
              </div>
              <div><b>Time: &nbsp;</b>{{patientapp.AppointmentTime | date:'h:mm a'}}&nbsp;(~
                {{patientapp.Duration}}Min.)</div>
              <div>
                <p>Provider: &nbsp; {{patientapp.ProviderName}}</p>
              </div>
            </div>
            <div class="col-md-5">
              <div><b>Type: &nbsp;</b>{{patientapp.AppointmentType}}</div>
              <div>
                <a href="javascript:void(0)" (click)="updateAppointmentStatus(patientapp)" *ngIf="patientapp.Status != 'Cancelled'" >Cancel</a>
                <p class="text-red-color" *ngIf="patientapp.Status == 'Cancelled'">Cancelled</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-green pull-right"
          (click)="ViewAppointment(newAppointmentDialogComponent,'new');">
          New Appointment
        </button>
      </div>
    </div>
  </div>

