.modal-dialog{
  overflow-y: initial !important;
  max-width: 660px;
  padding: 0 15px 0 70px !important;
}

.modal-dialog .modal-content .modal-header {
  padding: 20px 16px;
  min-height: 30px !important;
  background-color: #41b6a6;
  color: #fff;
  border: none;
  color: white;
  background-color: #41b6a6;
  border-bottom: none;
  min-height: 50px;
  max-height: 50px;
  margin-top: -1px;
  margin-left: -1px;
}
.modal-content {
  border: 1px solid rgb(65 182 166) !important;
}

.modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}
.modal-title {
  line-height: 10px !important;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.existingappointment-form.modal-dialog .modal-content .modal-footer {
  padding: 0px 31px;
  border-top: 0;
}
.existingappointment-form .btn:hover {
  background-color: #41b6a6;
  color: #fff;
}
.existingappointment-form .btn {
  border-color: #41b6a6;
  font-size: 15px;
  height: 45px;
  padding: 0 15px 0 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.existingappointment-form div.modal-dialog
  div.modal-content div.modal-body div.content-data div.appointment
   div.upcomming-appointment a{
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

div.existingappointment-form div.modal-dialog
  div.modal-content div.modal-body div.content-data div.appointment
   div.upcomming-appointment a:hover{
    cursor: default;
    background-color: #41b6a6;
    color: #fff;
}
.existingappointment-form.modal-dialog .cross-mark {
  border: 1px solid currentColor;
  width: 23px;
  height: 23px;
  text-align: center;
  border-radius: 3px;
  padding: 0px !important;
}
.existingappointment-form.modal-dialog .cross-mark:hover {
  opacity: 0.75;
}
.main-list-link:hover{
  cursor: pointer;
}
