<div class="modal-dialog past-medical-modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">Record Past Medical History</h4>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="col-md-12 mt-1">
        <label class="required">Major Events:</label>
        <textarea class="form-control col-12 mt-3 mt-md-0"
          [(ngModel)]="patientPastMedicalHistory.MajorEvents"></textarea>
      </div>
      <div class="col-md-12 mt-1">
        <label class="required">Ongoing Medical Problems:</label>
        <textarea class="form-control col-12 mt-3 mt-md-0"
          [(ngModel)]="patientPastMedicalHistory.OngoingProblems"></textarea>
      </div>
      <div class="row card-bg mt-2">
        <div class="col-md-8 col-6">
          <p class="card-title title">Family Health History:</p>
        </div>
        <div class="col-md-4 col-6">
          <div class="col-12 plusicon plus-icons pull-right mt-2" (click)="openComponentDialog(familyHealthHistoryDialogComponent, null ,ActionTypes.add)">
            <span><i class="fa fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div>
        <ul class="familyhealth-navigation" *ngFor="let familyhealthdetails of patientPastMedicalHistory?.FamilyMedicalHistories">
          <li>
            <a (click)="openComponentDialog(familyHealthHistoryDialogComponent, familyhealthdetails, ActionTypes.view)">
              <b>{{familyhealthdetails.FirstName}} {{familyhealthdetails.LastName}}
                <span>, </span>
              </b>
              <span>{{familyhealthdetails.Relationship}}</span>
              <span>{{familyhealthdetails.CodeSystem}}</span>
            </a>
            <p class="mb-0" *ngFor="let diagnose of familyhealthdetails?.Diagnoses">
              <span>- {{diagnose.Description}}, </span>
              <span>START DATE: - {{diagnose.StartAt | date: 'MM/dd/yyyy'}}, </span>
              <span>STOP DATE: - {{diagnose.StopAt | date: 'MM/dd/yyyy'}}</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-12 mt-1">
        <label class="required">Preventative Care:</label>
        <textarea class="form-control col-12 mt-3 mt-md-0"
          [(ngModel)]="patientPastMedicalHistory.PerventiveCare"></textarea>
      </div>
      <div class="col-md-12 mt-1">
        <label class="required">Nutrition History:</label>
        <textarea class="form-control col-12 mt-3 mt-md-0"
          [(ngModel)]="patientPastMedicalHistory.NutritionHistory"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-green" [disabled]="disablePastMedicalHistory()"
        (click)="CreatePastMedicalHistories()">
        Save
      </button>
      <button type="button" class="btn btn-green" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
