@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.allergy-table-modal.modal-dialog {
  overflow-y: initial !important;
  max-width: 900px;
}
.allergy-table-modal .modal-body {
  max-height: calc(90vh - 160px);
  overflow-y: auto;
}
.allergy-table-modal {
  --bs-table-accent-bg: none !important;
}
.allergy-table-modal .mat-row {
  padding: 5px 10px;
}
.allergy-table-modal .mat-row:hover {
  background-color: #fff !important;
  a{
    color: #41b6a6 !important;
  }
}
.allergy-table-modal.mat-table{
  border-radius: 3px;
  max-height: 450px !important;
  overflow-y: auto;
}
.allergy-table-modal {
  .scrollable-mat-table {
    max-width: 1200px;
    overflow-x: scroll;
  }
  .mat-table {
    width: 1300px;
  }
}
