<div class="patient-relations-wrapper">
  <div class="one-ehr-images">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <a routerLink="account/home">
          <img width="232" height="88" src="assets/images/EHR.svg">
        </a>
      </div>
    </div>
    <div class="text-center" style="margin-top: -60px;">
      <a routerLink="account/home">
        <img width="146" height="248" class="img-fluid" src="assets/images/one.svg">
      </a>
    </div>
  </div>
  <div class="content">
    <hr>
    <div class="card container shadow mt-5">
      <div class="patient-portal">
        <p>Select a Patient Portal:</p>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select disableOptionCentering [(value)]="defaultSelectedValue">
            <mat-option  *ngFor="let relation of patientRelationShipInfo" [value]="relation.PatientId" (click)="patientRelationInfo(relation)">
              {{relation.FirstName + ' ' + relation.LastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-green pull-right" routerLink="/patient/dashboard">Next</button>
      </div>
    </div>
  </div>
</div>
