<div class="security-question-wrapper">
  <div class="one-ehr-images">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <a routerLink="account/home">
          <img width="232" height="88" src="assets/images/EHR.svg">
        </a>
      </div>
    </div>
    <div class="text-center" style="margin-top: -60px;">
      <a routerLink="account/home">
        <img width="146" height="248" class="img-fluid" src="assets/images/one.svg">
      </a>
    </div>
  </div>
  <div class="content">
    <hr>
    <div class="card container shadow mt-5" style="max-width: 700px;">
      <div class="reset-password" style="padding: 50px 80px;">
        <p>Reset Your Password</p>
        <mat-form-field class="reset-mat-form col-12" appearance="outline">
          <input matInput placeholder="New Password" [type]="showPassword ? 'text' : 'password'" pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-]).{8,15}$" #password="ngModel"
          [(ngModel)]="firstTimeSecurityQuestion.Password" required />
          <img [src]="showPassword ? 'assets/images/eye-open.svg' : 'assets/images/eye-close.svg'"
          class="img-svg-eye" (click)="togglePasswordVisibility()" />
        </mat-form-field>
        <div *ngIf="password.touched && password.errors" class="text-danger">
          <div *ngIf="password.errors?.required">New Password is required</div>
          <div *ngIf="password.errors?.pattern">New Password must be 1 lower & upper case characters and numbers with special characters between 8 to 15 length</div>
        </div>
        <mat-form-field class="reset-mat-form col-12" appearance="outline">
          <input matInput placeholder="Confirm New Password" [type]="showConfirmPassword ? 'text' : 'password'" required #confirmPassword="ngModel"
          pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-]).{8,15}$" [(ngModel)]="firstTimeSecurityQuestion.ConfirmPassword"/>
          <img [src]="showConfirmPassword ? 'assets/images/eye-open.svg' : 'assets/images/eye-close.svg'"
          class="img-svg-eye" (click)="toggleConfirmPasswordVisibility()" />
        </mat-form-field>
        <div *ngIf="confirmPassword.touched && confirmPassword.errors" class="text-danger">
          <div *ngIf="confirmPassword.errors?.required">Confirm New Password is
            required</div>
          <div *ngIf="confirmPassword.errors?.pattern">Confirm New Password must be 1 lower & upper case characters and numbers with special characters between 8 to 15 length</div>
        </div>
        <div *ngIf="firstTimeSecurityQuestion.ConfirmPassword && !confirmPassword.errors?.required && !confirmPassword.errors?.pattern">
          <div *ngIf="firstTimeSecurityQuestion.ConfirmPassword != firstTimeSecurityQuestion.Password" class="text-danger">Password and Confirm Password must be match.</div>
        </div>
        <button class="btn btn-green pull-right" [disabled]="disableResetPassword()" (click)="FirstTimeResetPassword()">Submit</button>
      </div>
    </div>
  </div>
</div>
