@import"./security.question.component.scss";

.reset-password {
  .img-svg-eye {
    width: 30px;
    position: absolute;
    margin-top: -5px;
  }

  ::ng-deep .reset-mat-form .mat-input-element {
    width: 95% !important;
  }
}


@media (max-width: 430px) {
  .reset-password {
    padding: 10px !important;

    .btn.btn-green {
      width: 165px;
    }

    .reset-mat-form .mat-input-element {
      width: 90% !important;
    }
  }
}
