@import "../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";


#practice-location-model.modal-dialog {
  margin-top: 10px;
  max-width: 650px;
}


.closemodel {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #41b6a6 !important;
  background-color: white;
  font-size: 14px !important;
  white-space: nowrap;
  border: 1px solid white;
}
.closemodel:hover {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white !important;
  background-color: #41b6a6;
}

.modal .modal-dialog .modal-content .modal-body.addlocationbody {
  padding: 25px 25px 0px 25px !important;
  height: 450px;
}


.scroolbar {
  height: 450px;
  top: 84%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-y: scroll;
  background: white;
}


.labelclass {
  color: #74757e;
  font-size: 15px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.locationbtns{
  display: flex;
  justify-content: space-around;
}

div#practice-location-model .modal-header{
  margin: -1px;
}

.btn-p-l-d-padding{
  margin-right:40px !important;
}
.btn-p-l-c-padding{
  margin-right:15px !important;
}

.error-close {
  background-color: rgb(253, 65, 65) !important;
  width: 25px;
  height: 28px;
  margin: 10px !important;
  border: 1px solid white !important;
  color: white !important;
  border-radius: 50% !important;
}
.error-close:hover {
  background-color: white !important;
  border: 1px solid rgb(253, 44, 44) !important;
  color: rgb(253, 44, 44) !important;

}

.manualbtn{
  white-space: normal !important;
  word-wrap: normal;

  padding:5px;
}
.swal2-container{
  z-index: 100000;
}
