.expansion-panel-header {
  background-color: #41b6a6 !important;
  font-size: 16px !important;
}
.expansion-panel-header .mat-expansion-panel-header-title {
  color: #fff;
  font-size: 16px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.expansion-panel-header:hover {
  background-color: #41b6a6 !important;
}
.expansion-panel {
  margin-bottom: 20px !important;
  border: 1px solid #41b6a6 !important;
}
div.row {
  font-size: 15px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
