<!-- <div class="modal fade" id="modal-add-patient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog"> -->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Add a New Patient</h4>
    <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close">
      X
    </span>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="form-group">
          <div class="input-group">
            <label class="control-label input-group-addon required">First Name</label>
            <input class="form-control" placeholder="First Name" type="text" [(ngModel)]="PatientData.FirstName"
              id="firstName" name="firstName" #firstName="ngModel" required pattern="[a-zA-Z ]*" />
          </div>
          <div *ngIf="firstName.errors && (firstName.touched)">
            <div class="error_message" *ngIf="firstName.errors?.required">
              <span class="e_arrow"></span>
              <i>Please enter First Name</i>
            </div>
            <div class="error_message" *ngIf="firstName.errors?.pattern">
              <span class="e_arrow"></span>
              <i>First name not valid, Use only Alphabets and space</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="form-group">
          <div class="input-group">
            <label class="control-label input-group-addon">Middle Name</label>
            <input class="form-control" placeholder="Middle Name" type="text" [(ngModel)]="PatientData.MiddleName"
              pattern="[a-zA-Z ]*" #middleName="ngModel" />
          </div>
        </div>
        <div *ngIf="firstName.errors && (firstName.touched)">
          <div class="error_message" *ngIf="middleName.errors?.pattern">
            <span class="e_arrow"></span>
            <i>Middle name not valid, Use only Alphabets and space</i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="form-group">
          <div class="input-group">
            <label class="control-label input-group-addon required">Last Name</label>
            <input class="form-control" placeholder="Last Name" type="text" [(ngModel)]="PatientData.LastName"
              id="lastName" name="lastName" #lastName="ngModel" required pattern="[a-zA-Z ]*" />
          </div>
          <div *ngIf="lastName.errors && (lastName.touched)">
            <div class="error_message" *ngIf="lastName.errors?.required">
              <span class="e_arrow"></span>
              <i>Please enter Last Name</i>
            </div>
            <div class="error_message" *ngIf="lastName.errors?.pattern">
              <span class="e_arrow"></span>
              <i>Lasst name not valid, Use only Alphabets and space</i>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <div class="input-group">
            <label class="control-label input-group-addon required">DOB</label>
            <input class="form-control" placeholder="mm-dd-yyyy" name="dateofBirth"
              [(ngModel)]="PatientData.DateofBirth" ngbDatepicker #d="ngbDatepicker" name="dateofBirth"
              #dateofBirth="ngModel" required [autoClose]="true">
            <button id="dob" class="btn btn-outline-secondary calendar" autoClose="true" (click)="d.toggle()"
              type="button"></button>
          </div>
          <div *ngIf="dateofBirth.errors && (dateofBirth.touched)">
            <div class="error_message" *ngIf="dateofBirth.errors?.required">
              <span class="e_arrow"></span>
              <i>Please enter Date of Birth</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 pb-2" style="margin-top: -9px">
        <mat-radio-group class="col-12" [(ngModel)]="PatientData.Gender">
          <p>Gender :</p>
          <mat-radio-button value="male"></mat-radio-button>Male
          <mat-radio-button value="female"></mat-radio-button>Female
          <mat-radio-button value="other"></mat-radio-button>Other
          <mat-radio-button value="unknown"></mat-radio-button>Unknow
        </mat-radio-group>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <div class="input-group">
            <label class="control-label input-group-addon">Cell Phone</label>
            <input class="form-control" placeholder="Cell Phone" type="tel" [(ngModel)]="PatientData.CellPhone"
              mask=" (000) 000-0000" [showMaskTyped]="true" [patterns]="PhonePattern" placeHolderCharacter=" " />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <div class="input-group">
            <label class="control-label input-group-addon">Home Phone</label>
            <input class="form-control" placeholder="Home Phone" type="tel" [(ngModel)]="PatientData.Homephone"
              mask=" (000) 000-0000" [showMaskTyped]="true" [patterns]="PhonePattern" placeHolderCharacter=" " />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <div class="input-group">
            <label class="control-label input-group-addon">Email</label>
            <input class="form-control" placeholder="Email Address" type="text" [disabled]="patinetHasNoEmail.checked"
              [(ngModel)]="PatientData.Email" #patientEmail="ngModel" pattern="^[A-Z0-9+_.-]+@[A-Z0-9.-]+$" />
          </div>
          <div *ngIf="patientEmail.errors">
            <div class="error_message" *ngIf="patientEmail.errors?.pattern == fasle">
              <span class="e_arrow"></span>
              <i>Please enter valid Eamil</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 pt-2 pb-3">
        <mat-checkbox class="example-margin col-12 mx-2" style="margin-left: 0px" #patinetHasNoEmail ngModel
          id="patinetHasNoEmail" name="patinetHasNoEmail" (click)="ClearEmailWhenPatientHasNoEmail($event)">
        </mat-checkbox><span>Patient does not have an email address</span>
      </div>
    </div>
    <div class="row">
      <fieldset>
        <legend>Address</legend>
        <mat-form-field appearance="outline" class="col-12">
          <input matInput placeholder="Enter full address here (including suite number)"
            [(ngModel)]="PatientData.Address" #patientAddress />
        </mat-form-field>
        <button class="btn verify-btn col-lg-2 col-md-2 col-5" (click)="VerifyPatientAddress()">
          Verify
        </button>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" (click)="UpdatePatient()">Save</button>
    <button class="btn" data-bs-dismiss="modal" aria-label="Close">
      Cancel
    </button>
  </div>

</div>
<!-- </div>
</div> -->

<!-- // address verification model -->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAddress}">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="displayAddressDialog?'addressInvalid':'addressSuccess'">
        <h4 *ngIf="!displayAddressDialog">Success</h4>
        <h4 *ngIf="displayAddressDialog" class="text-white">Invalid Address</h4>
        <button type="button" *ngIf="!displayAddressDialog" class="btn btn-sm btn-success adrsbtn"
          (click)="closePopupAddress()">
          X
        </button>
        <button type="button" *ngIf="displayAddressDialog" class="btn btn-sm btn-success erroclose"
          (click)="closePopupAddress()">
          X
        </button>

      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <h4 class="text-center" class="address-valid-invalid-message-header">
              {{addressMessage}}</h4>
            <div class="col-lg-12 col-md-4 col-sm-4" *ngIf="!displayAddressDialog">
              <mat-form-field appearance="outline" [style.width.px]=700>
                <input type="text" [style.width.px]=600 [value]="ValidAddressForUse" placeholder="address" matInput>
                <md-icon class="link" (click)="UseValidatedAddress()">Use this</md-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>

</div> -->
