<!-- <!DOCTYPE html> -->
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<!-- <html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Drop Down Sidebar Menu | CodingLab </title>
  <link rel="stylesheet" href="admin.navbar.component.scss"> -->
<!-- Boxiocns CDN Link -->
<!-- <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> -->
<div class="sidebar">

  <div class="logo-details top-header">
    <img src="../../../assets/images/admin-ehr-logo.png" class="admin-side-logo mx-3">
  </div>

  <ul class="nav-links">
    <h6 class="heading">PAGES</h6>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Providers','admin/dashboard')">
        <i class='icon-people icons icon-align'></i>
        <span class="link_name">Providers</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name"  href="javascript:void(0)" (click)="onChangeBreadCrum('Providers','admin/dashboard')"
         >Providers</a></li>
      </ul>
    </li>
    <!-- <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Providers','admin/providerslist')">
        <i class='icon-people icons icon-align'></i>
        <span class="link_name">Providers</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name"  href="javascript:void(0)" (click)="onChangeBreadCrum('Providers','admin/providerslist')">Providers</a></li>
      </ul>
    </li> -->
    <!-- <li>
      <div class="iocn-link icon-align ">
        <a >
          <i class='icon-people'></i>
          <span class="link_name ">Patients</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">

        <li class="link-boder"><a href="admin/activepatient">Active Patients</a></li>
        <li class="link-boder"><a href="admin/inactivepatient">Inactive Patients</a></li>
      </ul>
    </li> -->



    <li data-toggle="collapse" data-target="#service" class="collapsed">
      <a class="dropdown-btn">
        <i class='icon-folder icon-align'></i>
          <span class="link_name">Patients</span>
        <i class='bx bxs-chevron-down'></i>
      </a>
      <div class="sub-menu">
        <li class="link-boder"><a href="javascript:void(0)" (click)="onChangeBreadCrum('Active Patient','admin/activepatient')">Active Patients</a></li>
        <li class="link-boder"><a href="javascript:void(0)" (click)="onChangeBreadCrum('Inactive Patient','admin/inactivepatient')">Inactive Patients</a></li>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Admins','admin/admins')">
        <i class='icon-people icon-align'></i>
        <span class="link_name">Admins</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Admins','admin/admins')">Admins</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Billing','admin/billing')">
        <i class='icon-wallet icon-align'></i>
        <span class="link_name">Billing</span>
      </a>
      <ul class="sub-menu blank ">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Billing','admin/billing')">Billing</a></li>
      </ul>
    </li>
    <li>
      <a  href="javascript:void(0)" (click)="onChangeBreadCrum('Reports','admin/reports')">
        <i class='icon-docs icon-align'></i>
        <span class="link_name">Reports</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Reports','admin/reports')">Reports</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Settings','admin/setting')">
        <i class='icon-settings icon-align'></i>
        <span class="link_name ">Settings</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Settings','admin/setting')">Settings</a></li>
      </ul>
    </li>
    <!-- <li>
      <div class="iocn-link">
        <a >
          <i class='icon-folder icon-align'></i>
          <span class="link_name">Upload Data</span>

        <i class='bx bxs-chevron-down arrow'></i>
      </a>
      </div>
      <ul class="sub-menu">
        <li class="link-boder"><a class="link_name">Upload Data</a></li>
        <li class="link-boder"><a href="admin/importeddata">List Imported Data</a></li>
        <li class="link-boder"><a href="admin/importpatient">Import Patient</a></li>
        <li class="link-boder"><a href="admin/importencounter">Import Encounter</a></li>
      </ul>
    </li> -->

    <li data-toggle="collapse" data-target="#service" class="collapsed">
      <a class="dropdown-btn">
        <i class='icon-folder icon-align'></i>
          <span class="link_name">Upload Data</span>
        <i class='bx bxs-chevron-down'></i>
      </a>
      <div class="sub-menu">
        <li class="link-boder"><a href="javascript:void(0)" (click)="onChangeBreadCrum('Imported Data','admin/importeddata')">List Imported Data</a></li>
        <li class="link-boder"><a href="javascript:void(0)" (click)="onChangeBreadCrum('Import Patient','admin/importpatient')">Import Patient</a></li>
        <li class="link-boder"><a href="javascript:void(0)" (click)="onChangeBreadCrum('Import Encounter','admin/importencounter')">Import Encounter</a></li>
      </div>
    </li>
    <li>
      <a  href="javascript:void(0)" (click)="onChangeBreadCrum('Weekly Updates','admin/weeklyupdates')">
        <i class='icon-notebook icon-align'></i>
        <span class="link_name">Weekly Update</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name"  href="javascript:void(0)" (click)="onChangeBreadCrum('Weekly Updates','admin/weeklyupdates')">Weekly Update</a></li>
      </ul>
    </li>


    <li>
      <a  href="javascript:void(0)" (click)="onChangeBreadCrum('Default Message','admin/defaultmessage')">
        <i class='icon-docs icon-align'></i>
        <span class="link_name">Default Messages</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Default Message','admin/defaultmessage')">Default Messages</a></li>
      </ul>
    </li>
    <li>
      <a  href="javascript:void(0)" (click)="onChangeBreadCrum('Communication Settings','admin/communication')">
        <i class='icon-settings icon-align'></i>
        <span class="link_name">Communication Settings</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Communication Settings','admin/communication')">Communication Settings</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- <script src="../../../assets/js/script.js"></script> -->

<!-- </body>

  </html> -->




