<!-- <!DOCTYPE html> -->
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<!-- <html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Drop Down Sidebar Menu | CodingLab </title>
  <link rel="stylesheet" href="admin.navbar.component.scss"> -->
<!-- Boxiocns CDN Link -->
<!-- <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> -->
<div class="sidebar close">
  <div class="logo-details">
    <img src="../../../assets/images/logo.svg" class="admin-side-logo mx-2">
  </div>
  <ul class="nav-links">
    <h5 style="color: #b4bcc8;">PAGES</h5>
    <li>
      <a href="#">
        <i class='icon-people icons'></i>
        <span class="link_name">Practices</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Practices</a></li>
      </ul>
    </li>
    <li>
      <a href="admin/providerslist">
        <i class='icon-people'></i>
        <span class="link_name">Providers</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="admin/providerslist">Providers</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='icon-people'></i>
          <span class="link_name">Patients</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Patients</a></li>
        <li><a href="#">Active Patients</a></li>
        <li><a href="#">Inactive Patients</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='icon-people'></i>
        <span class="link_name">Admins</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Admins</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='icon-wallet'></i>
        <span class="link_name">Billing</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Billing</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='icon-docs'></i>
        <span class="link_name">Reports</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Reports</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='icon-settings'></i>
        <span class="link_name">Settings</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Settings</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='icon-folder'></i>
          <span class="link_name">Upload Data</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Upload Data</a></li>
        <li><a href="#">List Imported Data</a></li>
        <li><a href="#">Import Patient</a></li>
        <li><a href="#">Import Encounter</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='icon-notebook'></i>
        <span class="link_name">Weekly Update</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Weekly Update</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='icon-docs'></i>
        <span class="link_name">Default Messages</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Default Messages</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='icon-settings'></i>
        <span class="link_name">Communication Settings</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Communication Settings</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- <script src="../../../assets/js/script.js"></script> -->

<!-- </body>

  </html> -->
