<!-- <!DOCTYPE html> -->
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<!-- <html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Drop Down Sidebar Menu | CodingLab </title>
  <link rel="stylesheet" href="admin.navbar.component.scss"> -->
<!-- Boxiocns CDN Link -->
<!-- <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> -->
<div class="sidebar">

  <div class="logo-details top-header">
    <img src="../../../assets/images/logo.svg" class="admin-side-logo mx-2">
  </div>

  <ul class="nav-links">
    <h6 class="heading">PAGES</h6>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Practices','admin/practice')">
        <i class='icon-people icons icon-align'></i>
        <span class="link_name">Practices</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name"  href="javascript:void(0)" (click)="onChangeBreadCrum('Practices','admin/practice')"
         >Practices</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Providers','admin/providerslist')">
        <i class='icon-people icons icon-align'></i>
        <span class="link_name">Providers</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name"  href="javascript:void(0)" (click)="onChangeBreadCrum('Providers','admin/providerslist')">Providers</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link icon-align ">
        <a >
          <i class='icon-people'></i>
          <span class="link_name ">Patients</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        
        <li class="link-boder"><a href="admin/activepatient">Active Patients</a></li>
        <li class="link-boder"><a href="admin/inactivepatient">Inactive Patients</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Patients','admin/admins')">
        <i class='icon-people'></i>
        <span class="link_name">Admins</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Patients','admin/admins')">Admins</a></li>
      </ul>
    </li>
    <li>
      <a href="admin/billing">
        <i class='icon-wallet icon-align'></i>
        <span class="link_name">Billing</span>
      </a>
      <ul class="sub-menu blank ">
        <li><a class="link_name" href="admin/billing">Billing</a></li>
      </ul>
    </li>
    <li>
      <a href="admin/reports">
        <i class='icon-docs icon-align'></i>
        <span class="link_name">Reports</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="admin/reports">Reports</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="onChangeBreadCrum('Settings','admin/setting')">
        <i class='icon-settings'></i>
        <span class="link_name">Settings</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="javascript:void(0)" (click)="onChangeBreadCrum('Settings','admin/setting')">Settings</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a >
          <i class='icon-folder icon-align'></i>
          <span class="link_name">Upload Data</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li class="link-boder"><a class="link_name">Upload Data</a></li>
        <li class="link-boder"><a href="admin/importeddata">List Imported Data</a></li>
        <li class="link-boder"><a href="admin/importpatient">Import Patient</a></li>
        <li class="link-boder"><a href="admin/importencounter">Import Encounter</a></li>
      </ul>
    </li>
    <li>
      <a  href="javascript:void(0)" (click)="onChangeBreadCrum('Weekly Updates','admin/weeklyupdates')">
        <i class='icon-notebook icon-align'></i>
        <span class="link_name">Weekly Update</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name"  href="javascript:void(0)" (click)="onChangeBreadCrum('Weekly Updates','admin/weeklyupdates')">Weekly Update</a></li>
      </ul>
    </li>
    <li>
      <a href="admin/defaultmessage">
        <i class='icon-docs icon-align'></i>
        <span class="link_name">Default Messages</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="admin/defaultmessage">Default Messages</a></li>
      </ul>
    </li>
    <li>
      <a href="admin/communication">
        <i class='icon-settings icon-align'></i>
        <span class="link_name">Communication Settings</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="admin/communication">Communication Settings</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- <script src="../../../assets/js/script.js"></script> -->

<!-- </body>

  </html> -->
