<div class="modal-dialog ccda-preview">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title Helvetica-sans-serif-medium">Clinical Summary</p>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-10 col-12 leftsideinfo">
          <div class="scrollable-container">
            <div class="content">
              <p id="createdate">Created: <span>10/26/2022, </span><span>11:21 am</span></p>
              <!-- Patient Details -->
              <div class="table-patient">
                <p class="text-center Helvetica-sans-serif-medium" id="patient-info-table">PATIENT IDENTIFICATION,
                  DEMOGRAPHICS &amp; CONTACT INFORMATION</p>
                <div class="table-patient-container col-md-12 table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="greencol">FIRST:</td>
                        <td>test</td>
                        <td class="greencol">DOB:</td>
                        <td>01/12/2009</td>
                        <td class="greencol">PATIENT ID:</td>
                        <td>62c55bbc391cba1a91808282</td>
                        <td class="greencol">RACE:</td>
                        <td>Asian</td>
                      </tr>
                      <tr>
                        <td class="greencol">MIDDLE:</td>
                        <td>r</td>
                        <td class="greencol">AGE:</td>
                        <td>13</td>
                        <td class="greencol">STATUS:</td>
                        <td>ACTIVE</td>
                        <td class="greencol">ETHNICITY:</td>
                        <td>Hispanic or Latino</td>
                      </tr>
                      <tr>
                        <td class="greencol">LAST:</td>
                        <td>test </td>
                        <td class="greencol">SEX:</td>
                        <td>male</td>
                        <td class="greencol"></td>
                        <td></td>
                        <td class="greencol">PREFERRED LANGUAGE:</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Transition of Care Datails -->
              <div class="table-caredetails">
                <p class="text-center Helvetica-sans-serif-medium" id="Transition_of_Care_Datails">Transition of Care
                  Datails</p>
                <div class="table-caredetails-container col-md-12 table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="greencol">PROVIDER:</td>
                        <td>Dr. Test 1234 1</td>
                      </tr>
                      <tr>
                        <td class="greencol">PRACTICE NAME:</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="greencol">PRACTICE ADDRESS:</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="greencol">PRACTICE PHONE:</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Encounter Diagnosis: -->
              <div class="row">
                <div class="tables-w-descript col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Encounter Diagnosis:</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Immunizations: -->
              <div class="row">
                <div class="tables-w-descript col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Immunizations:</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Cognitive Status: -->
              <div class="row">
                <div class="tables-w-descript col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Cognitive Status:</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Functional Status: -->
              <div class="row">
                <div class="tables-w-descript col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Functional Status:</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Reason for Referral: -->
              <div class="row">
                <div class="tables-w-descript col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Reason for Referral:</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Discharge Instructions: -->
              <div class="row">
                <div class="tables-w-descript col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Discharge Instructions:</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- patient-chart -->
              <div class="patient-chart">
                <p class="text-center">PATIENT CHART INFORMATION</p>
                <div class="patient-chart-container">
                  <!-- Smoking Status: -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Smoking Status:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Problems (Dx): -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Problems (Dx):</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Medications (Rx): -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Medications (Rx):</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Medication Allergies: -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Medication Allergies:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Laboratory Tests & Results: -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Laboratory Tests & Results:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Vital Stats: -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Vital Stats:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Care Plan - Goals & Instructions: -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Care Plan - Goals & Instructions:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Procedures: -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Procedures:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Care Team Members: -->
                  <div class="row">
                    <div class="tables-w-descript col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Care Team Members:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-12 rightsidemenu">
          <div class="scrollable-container">
            <div class="content">
              <p class="Helvetica-sans-serif-small"><b>TABLE OF CONTENTS</b></p>
              <ul>
                <li>
                  <a class="boldname" href="#patient-info-table"> PATIENT INFORMATION</a>
                  <ul>
                    <li><a href="#patient-info-table">IDENTIFICATION &amp;<br>DEMOGRAPHICS</a></li>
                    <li><a href="#patient-info-table"> CONTACT INFO</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li><a class="boldname" href="#Transition_of_Care_Datails">Transition of Care Datails</a>
                  <ul>
                    <li><a href="#transition_fields_0">Encounter Diagnosis</a></li>
                    <li><a href="#transition_fields_1">Immunizations</a></li>
                    <li><a href="#transition_fields_2">Cognitive Status</a></li>
                    <li><a href="#transition_fields_3">Functional Status</a></li>
                    <li><a href="#transition_fields_4">Reason for Referral</a></li>
                    <li><a href="#transition_fields_5">Discharge Instructions</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li><a class="boldname" href="#PATIENT_CHART_INFORMATION">PATIENT CHART INFORMATION</a>
                  <ul>
                    <li><a href="#patient_fields_0">Smoking Status</a></li>
                    <li><a href="#patient_fields_1">Problems (Dx)</a></li>
                    <li><a href="#patient_fields_2">Medications (Rx)</a></li>
                    <li><a href="#patient_fields_3">Medication Allergies</a></li>
                    <li><a href="#patient_fields_4">Laboratory Tests &amp; Results</a></li>
                    <li><a href="#patient_fields_5">Vital Stats</a></li>
                    <li><a href="#patient_fields_6">Care Plan - Goals &amp; Instructions</a></li>
                    <li><a href="#patient_fields_7">Procedures</a></li>
                    <li><a href="#patient_fields_8">Care Team Members</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer ccda-footer">
      <!-- <button class="btn btn-green pull-right">Download</button> -->
      <div class="dropdown">
        <button class="btn btn-green dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Download
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item">Download XML</a></li>
          <li><a class="dropdown-item">Download HTML</a></li>
        </ul>
      </div>
      <button class="btn btn-green pull-right">Print</button>
    </div>
  </div>
</div>
