<div class="modal-dialog intervention-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title Roboto-medium">
        {{this.CQMNotPerformed.NPRId == null?'Add Reason Not Performed':'Edit Reason Not Performed'}}
      </p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-xl-6 col-12">
          <label for="DATEOFBIRTH*" class="form-label label-design required">
            <b>Select Item Not Performed:</b></label>
          <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12">
            <mat-select placeholder="Select One" [(ngModel)]="CQMNotPerformed.ItemNotPerformed">
              <mat-option [value]="item.value" *ngFor="let item of itemNotPerformed">{{item.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-xl-6 col-12">
          <label for="DATEOFBIRTH*" class="form-label label-design required">
            <b>Date Not Performed:</b>
          </label>
          <mat-form-field appearance="outline" class="green-calendar col-12">
            <input matInput class="date-mat-class" autocomplete="off" [(ngModel)]="CQMNotPerformed.Date"
              [matDatepicker]="picker" (click)="picker.open()" readonly placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-2">
            <mat-label class="required"><b>Intervention Type:</b></mat-label>
          </div>
          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-12 intervention-type">
            <mat-select placeholder="Select One" [(ngModel)]="CQMNotPerformed.InterventionType">
              <mat-option class="option-white-space" [value]="item.value" *ngFor="let item of interventaionType">{{item.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12">
              <mat-select placeholder="Search Interventions" #interventioncode [(ngModel)]="CQMNotPerformed.InterventionCode">
                <mat-select-filter [displayMember]="'CodeDescription'" [array]="interventaionFilter" (filteredReturn)="interventaionList = $event" *ngIf="interventioncode.focused"
                  ></mat-select-filter>
                  <!-- (filteredReturn)="interventaionlist = $event" -->
                <mat-option *ngFor="let item of interventaionList" [value]="item.Code" (click)="interventaion(item)">
                  {{item.Code}} - {{item.Description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2">
            <mat-label class="required"><b>Reason:</b></mat-label>
          </div>
          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-12 hover">
            <mat-select placeholder="Select One" [(ngModel)]="CQMNotPerformed.Reason">
              <mat-option [value]="'Medical Reason'">Medical Reason</mat-option>
              <mat-option [value]="'Patient Refused'">Patient Refused</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12 ddl-width">
              <mat-select placeholder="Search Reason" #reason [(ngModel)]="CQMNotPerformed.Reasondetails">
                <mat-select-filter [displayMember]="'value'" [array]="searchReason"
                  (filteredReturn)="reasonFiltered =$event" *ngIf="reason.focused"></mat-select-filter>
                <mat-option *ngFor="let item of reasonFiltered" [value]="item.value"
                  (click)="getreasondescription(item)">
                  {{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="row">
          <div class="col-lg-4">
            <mat-label class="required"><b>Reason Code:</b></mat-label>
          </div>
          <mat-form-field appearance="outline" class="cursor-not-allowed col-lg-8 col-md-12 col-12 pointer">
            <input matInput placeholder="Reason Code" [(ngModel)]="CQMNotPerformed.ReasonCode" disabled />
          </mat-form-field>
          </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="row">
          <div class="col-lg-4">
            <mat-label class="required"><b>Reason Description:</b></mat-label>
          </div>
          <mat-form-field appearance="outline" class="cursor-not-allowed col-lg-8 col-md-12 col-12">
            <input matInput placeholder="Reason Description" [(ngModel)]="CQMNotPerformed.ReasonDescription" disabled />
          </mat-form-field>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2">
            <mat-label><b>Notes:</b></mat-label>
          </div>
          <div class="col-lg-10">
            <textarea class="form-control" rows="6" [(ngModel)]="CQMNotPerformed.Note" matInput></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-block">
      <!-- <button class="btn btn-danger" *ngIf="CQMNotPerformed.NPRId != undefined">Delete</button> -->
      <button class="btn btn-green pull-right" (click)="cancel()">Cancel</button>
      <button class="btn btn-green pull-right" [disabled]="disableCQMNotPerformed()" (click)="addUpdateCQMNotPerformed()">Save</button>
    </div>
  </div>
