
<div class="createmail-wrapper container pt-5">
    <table class="col-12">
      <thead>
        <tr>
          <td>
            <a href="https://1.ehr.one">
              <img alt="Logo header mailer" src="##URL##/assets/images/logo-header-mailer.png">
            </a>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="changepwd-content">Dear ##Name##</p>
            
            
          </td>
        </tr>
        <tr>
            <td>
                <p>You have been granted access to EHR1 Admin.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>To Setup your account, please click on Account Setup button below.

                </p>
            </td>
        </tr>
        <tr>
          <td class="text-center">
              <a type="button" class="btn btn-create" href="##HREF##" >Account SetUp</a>
          </td>
        </tr>
        <tr>
          <td>
            <p class="changepwd-content">Sincerely,</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="changepwd-content">EHR1 Team</p>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <p class="body-content">&#169; ##YEAR## EHR One, LLC</p>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  