
<div class="createmail-wrapper container pt-5">
  <table class="col-12">
    <thead>
      <tr>
        <td>
          <a href="https://1.ehr.one">
            <img alt="Logo header mailer" src="##URL##/assets/images/logo-header-mailer.png">
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p class="changepwd-content">Welcome ##Name##</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="body-content">To complete registration of your EHR1 User Account, please verify your email address:
          </p>
        </td>
      </tr>
      <tr>
        <td class="text-center">
            <a type="button" class="btn btn-create" href="##HREF##" >Verify Now</a>
        </td>
      </tr>
      <tr>
        <td>
          <p class="changepwd-content">Sincerely,</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="changepwd-content">EHR1 Team</p>
        </td>
      </tr>
      <tr>
        <td class="pt-5">
          <p class="body-content">If you can't see the button above, please click or copy and paste the following link
            into your web browser:</p>
        </td>
      </tr>
      <tr>
        <td class="pb-3">
          <a class="mail-link">
            <p class="body-content">##HREF##</p>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <p class="bodd-fotter">&#169; ##YEAR## EHR One, LLC</p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
