<div class="createmail-wrapper container pt-5">
  <table class="col-12">
    <thead>
      <tr>
        <td>
          <a href="https://1.ehr.one">
            <img alt="Logo header mailer" src="../../../assets/images/logo-header-mailer.png">
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p class="changepwd-content">Dear sample sample,</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="body-content">You have been invited to setup an EHR1 account.</p>
        </td>
      </tr>
      <tr>
      <tr>
        <td>
          <p class="body-content">To Setup Your EHR1 Account:</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="body-content">1. Click Create Password to setup your account.</p>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <!-- <a href="#" class="body-content">Create Password</a> -->
          <button type="button" name="password" value="password" class="btn btn-create">Create Password</button>
        </td>
      </tr>
      <tr>
        <td>
          <p class="body-content">2. Enter the Security Code in this email and then enter the password you
            will
            use to login to your
            account.
          </p>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button type="button" name="password" value="password" class="btn btn-pwd">9dO8Cw</button>
          <!-- <p class="body-content">9dO8Cw</p> -->
        </td>
      </tr>
      <tr>
        <td>
          <p class="body-content">You're now ready to start using EHR1!</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="changepwd-content">Sincerely,</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="changepwd-content">EHR1 Team</p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <p class="body-content">© 2022 EHR One, LLC</p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
