// create password
.createmail-wrapper.container {
  min-height: 100vh;
  max-width: 825px !important;
}

@media (max-width: 768px) {
  .createmail-wrapper.container {
    overflow-x: auto !important;
  }
}

tfoot td {
  border: 0;
  border-radius: 0 0 16px 16px;
  height: 25px;
  padding: 0 60px;
  background-color: #41b6a6;
}

tfoot td p {
  color: rgba(255, 255, 255, 1);
  font-family: "Times New Roman";
  font-size: 14px;
  margin: 0;
}

.body-content {
  margin-left: 60px;
  font-family: "Times New Roman";
  font-size: 16px;
}

.changepwd-content {
  margin-left: 60px;
  font-style: bold;
  color: rgba(0, 0, 0, 1);
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.btn-create {
  border: 1px solid #41b6a6;
  background: #41b6a6;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px;
  font-size: 17px;
}

.btn-pwd {
  border: 1px solid #41b6a6;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px;
  font-size: 17px;
  border-radius: 8px;
  width: 40% !important;
}

tbody {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}

a.mail-link {
  text-decoration: underline !important;
  cursor: pointer !important;
  color: rgba(74, 144, 226, 1) !important;
}

// sweetalert
::ng-deep .swal2-styled.swal2-confirm {
  background-color: #fff !important;
  color: #41b6a6 !important;
  border: 1px solid #41b6a6 !important;
  width: 163px;
  padding: 11px;
  font-size: 22px;
}

::ng-deep .swal2-title {
  padding: 1em;
  background-color: #41b6a6;
  color: #fff;
  font-size: 30px;
  font-family: "Times New Roman";
  font-weight: 100;
  margin-top: 124px;
}

.swal2-container.swal2-center>.swal2-popup {
  width: 705px !important;
  margin-top: 50px;
}

.swal2-styled.swal2-confirm {
  background-color: #fff !important;
  color: #41b6a6 !important;
  border: 1px solid #41b6a6 !important;
  width: 163px;
  padding: 11px;
  font-size: 22px;
}

.swal2-styled.swal2-confirm :hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
  border: 1px solid #41b6a6 !important;
  width: 163px;
  padding: 11px;
  font-size: 22px;
}

::ng-deep .swal2-popup {
  padding: 10px 0px !important;
  padding-bottom: 40px !important;
}

.swal2-loader {
  border: transparent;
}

::ng-deep .swal2-container.swal2-center>.swal2-popup {
  background: url(../../../assets//images/pro-reg-bg.png);
}

::ng-deep .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}