// create password
.createmail-wrapper.container {
  max-width: 825px !important;
}
@media (max-width: 768px) {
  .createmail-wrapper.container {
    overflow-x: auto !important;
  }
}
tfoot td {
  border: 0;
  border-radius: 0 0 16px 16px;
  height: 25px;
  padding: 0 60px;
  background-color: #41b6a6;
}
tfoot td p {
  color: rgba(255, 255, 255, 1);
  font-family: "Times New Roman";
  font-size: 14px;
  margin: 0;
}
.body-content {
  margin-left: 60px;
  font-family: "Times New Roman";
  font-size: 16px;
}
.changepwd-content {
  margin-left: 60px;
  font-style: bold;
  color: rgba(0, 0, 0, 1);
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}
.btn-create {
  border: 1px solid #41b6a6;
  background: #41b6a6;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px;
  font-size: 17px;
}
.btn-pwd {
  border: 1px solid #41b6a6;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px;
  font-size: 17px;
  border-radius: 8px;
  width: 40% !important;
}
tbody {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}
