<div class="container-fluid">
  <div class="row" style="width: 100%">
    <div class="d-flex justify-content-end flex-sm-row flex-column" style="float: right;
    padding-right: unset;">
      <!-- Button trigger modal -->
      <div class="p-2"><button type="button" class="btn btn-lg btn-styles" data-bs-toggle="modal"
          data-bs-target="#ResetPwdModal">Reset Password</button></div>
      <div class="p-2"><button type="button" class="btn btn-lg btn-styles" data-bs-toggle="modal"
          data-bs-target="#noteModal">Notes</button></div>
      <div class="p-2" style="padding-right: unset !important;"><button type="button"
          class="btn btn-lg btn-danger btn-authorized" data-bs-toggle="modal"
          data-bs-target="#AuthorizedModal">Authorized Rep.</button></div>
      <!-- <div class="p-2"><button type="button" class="btn btn-lg btn-orange">Save</button></div> -->
    </div>
  </div>

  <div class="profile-hr" style="border-right: 1px solid #41b6a6;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 mycontent-left">
        <div class="row">
          <!-- Patient -->
          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Patient Information</label>
            </div>
            <div class="row  mx-2">
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="Name" class="form-label label-design">Name</label>
                <input type="text" class="input-group form-control" placeholder="First Name"
                  [(ngModel)]="patientMyProfile.FirstName" id="FirstName">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="MiddleName" class="form-label label-design">Middle Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.MiddleName"
                  placeholder="Middle (optional)" type="text" id="MiddleName">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="LastName" class="form-label label-design">Last Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.LastName" placeholder="Last Name"
                  type="text" id="LastName">
              </div>

              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="DATEOFBIRTH*" class="form-label label-design">DATE OF BIRTH</label>
                <mat-form-field appearance="outline" class="form-group profile-green-calendar">
                  <input matInput class="date-mat-class" autocomplete="off" [(ngModel)]="patientMyProfile.DateOfBirth"
                    (mouseover)="hoverDATEOFBIRTH='_/__/_'" (mouseleave)="hoverDATEOFBIRTH='MM/DD/YYYY'"
                    [matDatepicker]="picker" (click)="picker.open()" placeholder="{{ hoverDATEOFBIRTH }}">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="DATEOFDEATH" class="form-label label-design">DATE OF DEATH</label>
                <mat-form-field appearance="outline" class="form-group profile-green-calendar">
                  <input matInput class="date-mat-class" [(ngModel)]="patientMyProfile.DateOfDeath" autocomplete="off"
                    (mouseover)="hoverDATEOFDEATH='_/__/_'" (mouseleave)="hoverDATEOFDEATH='MM/DD/YYYY'"
                    [matDatepicker]="picker1" (click)="picker1.open()" placeholder="{{ hoverDATEOFDEATH }}">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="SOCIALSECURITYNUMBER" class="form-label label-design">SOCIAL SECURITY NUMBER</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.SSecuirtyNumber"
                  placeholder="###-##-###" #ssn="ngModel" #ssnValidator #ssnMask
                  pattern="^(?!666|000|9\d{2})\d{3}-(?!00)\d{2}-(?!0{4})\d{4}$" type="text" id="Name"
                  [ngClass]="{'is-invalid' : (ssn.touched || ssn.dirty) && !ssn.valid }" maxlength="9">
                <mat-hint style="font-size:8pt">323-32-3424</mat-hint>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="CHARTID" class="form-label label-design">CHART ID</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.ChartId" placeholder="CHART ID"
                  type="text" id="CHARTID">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="PATIENTID" class="form-label label-design">PATIENT ID</label>
                <input class="input-group form-control patient-id" [(ngModel)]="patientMyProfile.PatientId"
                  placeholder="PATIENT ID" type="text" id="PATIENT ID">
              </div>
              <div class="col-lg-4 col-xl-4 col-md-6 col-12 my-2">
                <label for="PATIENTID" class="form-label label-design">Preliminary Cause of Death</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.CauseofDeath"
                  placeholder="Preliminary Cause of Death" type="text" id="PATIENT ID">
              </div>
              <div class="col-lg-12 col-md-12 col-xl-6 col-12 my-2">
                <label for="SEX" class="form-label label-design  mx-lg-1">SEX</label>
                <div>
                  <mat-radio-group [(ngModel)]="patientMyProfile.Gender">
                    <mat-radio-button value="male" class="radio-btn-label label-design my-1">Male</mat-radio-button>
                    <mat-radio-button value="female" class="radio-btn-label label-design my-1">Female</mat-radio-button>
                    <mat-radio-button value="other" class="radio-btn-label label-design my-1">Other</mat-radio-button>
                    <mat-radio-button value="Unknown" class="radio-btn-label label-design my-1">Unknown
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end mt-3 mx-4">
              <button type="button" class="btn btn-lg btn-orange" (click)="updatePatientInformation()">Save</button>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <hr style="margin: unset;">
          </div>

          <!-- Emergency Contact -->
          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Emergency Contact</label>
            </div>

            <div class="row  mx-2">
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="Name" class="form-label label-design">Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.EmergencyFirstName"
                  placeholder="Name" type="text" id="Name">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="MiddleName" class="form-label label-design">Middle Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.EmergencyMiddleName"
                  placeholder="Middle (optional)" type="text" id="MiddleName">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="LastName" class="form-label label-design">Last Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.EmergencyLastName"
                  placeholder="Last" type="text" id="LastName">
              </div>

              <div class="col-lg-6 col-md-6 col-xl-6 col-12 my-2">
                <label for="RELATION" class="form-label label-design text-nowrap">RELATION TO PATIENT</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-select placeholder="Select Patient Relation"
                      [(ngModel)]="patientMyProfile.RelationshipToPatient">
                      <mat-option *ngFor="let item of relationship" [value]="item.value">{{item.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-xl-6 col-12 my-2">
                <label for="PHONE" class="form-label label-design">PHONE</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.Phone" placeholder="Cell PHONE"
                  type="text" id="PHONE">
              </div>

              <div class="col-lg-8 col-md-8 col-xl-9 col-12 my-2">
                <label for="HOMEADDRESS" class="form-label label-design">HOME ADDRESS</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.EmergencyStreet"
                  placeholder="HOME ADDRESS" type="text" id="HOME ADDRESS"
                  [disabled]="emergencyDisableAddressVerification">
              </div>
              <div class="col-lg-2 col-md-2 col-xl-3 col-12 mt-3">
                <div class="p-2"><button type="button" class="btn btn-lg btn-styles btn-verify mt-2 py-1"
                    [disabled]="!patientMyProfile.EmergencyStreet || emergencyDisableAddressVerification"
                    (click)="EmergencyAddressVerification()">Verify</button></div>
              </div>
              <div class="col-lg-8 col-md-12 col-xl-9 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">Street Address</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.EmergencyStreetAddress"
                      placeholder="Street Address" type="text" id="StreetAddress" name="StreetAddress"
                      [readonly]="!emergencyDisableAddressVerification"
                      [class.address-verfied]="!emergencyManuallybtn" />
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-xl-1 col-12 my-2 ">

                <button type="button" class="btn cross-mark error-close"
                  *ngIf="emergencyAddressVerfied && !emergencyManuallybtn" (click)="EmergencyenableManualEntry()"
                  title="Can enter manully when the verification results are in correct by clicking this icon">x</button>
              </div>
              <div class="col-lg-2 col-md-2 col-xl-2 col-12 my-2 ">
                <div class="form-group">
                  <button class="btn-green btn manualbtn  py-0 btn-lg btn-md"
                    *ngIf="emergencyManuallybtn || emergencyDisableAddressVerification"
                    (click)="EmergencyenterAddressManually()">Enter Address Manually</button>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-4 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">City</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.EmergencyCity" placeholder="City"
                      type="text" id="City" name="City" [readonly]="!emergencyDisableAddressVerification"
                      [class.address-verfied]="!emergencyManuallybtn" />
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-4 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">State</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.EmergencyState"
                      [readonly]="!emergencyDisableAddressVerification" [class.address-verfied]="!emergencyManuallybtn"
                      placeholder="State" type="text" id="State" name="State" />
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-4 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">Zip</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.EmergencyZip" placeholder="Zip"
                      type="text" id="Zip" name="Zip" [readonly]="!emergencyDisableAddressVerification"
                      [class.address-verfied]="!emergencyManuallybtn" />
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-lg btn-orange" (click)="updateEmergencyContact()">Save</button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <hr style="margin: unset;">
          </div>

          <!-- Next of kin -->
          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Next of kin</label>
            </div>

            <div class="row  mx-2">
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="Name" class="form-label label-design">Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.NKFirstName" placeholder="Name"
                  type="text" id="Name">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="MiddleName" class="form-label label-design">Middle Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.NkMiddleName"
                  placeholder="Middle (optional)" type="text" id="MiddleName">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="LAstName" class="form-label label-design">Last Name</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.NkLastName" placeholder="Last"
                  type="text" id="LastName">
              </div>
              <div class="col-lg-5 col-md-5 col-xl-6 col-12 my-2">
                <label for="RELATION" class="form-label label-design text-nowrap">RELATION TO PATIENT</label>
                <mat-form-field appearance="outline" class="input-fields col-lg-12 col-md-12 col-12">
                  <mat-select placeholder="Select One" [(ngModel)]="patientMyProfile.NkRel">
                    <mat-option [value]="item.value" *ngFor="let item of relationship">{{item.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <select class="form-select" aria-label="Default select example"
                  [(ngModel)]="patientMyProfile.NkRel">
                  <option [value]="item.value" *ngFor="let item of relationship">{{item.value}}</option>
                </select> -->
              </div>
              <div class="col-lg-12 col-md-12 col-xl-6 col-12 my-2">
                <label for="SEX" class="form-label label-design">PHONE</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.NKMobilePhone"
                  placeholder="Cell PHONE" type="text" id="DATEOFBIRTH">
              </div>
              <div class="col-lg-12 col-md-12 col-12 my-2">
                <label for="DATEOFBIRTH*" class="form-label label-design">ADDRESS</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.NKStreetAddress"
                  placeholder="Street Address" type="text" id="DATEOFBIRTH">
              </div>

              <div class="col-lg-6 col-md-6 col-12 my-2">
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.NKCity" placeholder="City"
                  type="text" id="Name">
              </div>
              <div class="col-lg-3 col-md-3 col-12 my-2">
                <select class="form-select" aria-label="Default select example">
                  <option selected>CA</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-3 col-12 my-2">
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.NKZip" placeholder="Zip"
                  type="text" id="Zip">
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-lg btn-orange" (click)="updateNextOfKin()">Save</button>
              </div>

            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <hr style="margin: unset;">
          </div>

          <!-- Immunization Registry-->
          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Immunization Registry</label>
            </div>
            <div class="row">
              <mat-radio-group [(ngModel)]="patientMyProfile.ImmunizationrRegistry">
                <div class="col-lg-12 col-md-12 col-12">
                  <mat-radio-button value="not_send" class="radio-btn-label label-design my-1">Don’t send immunization
                    data. Patient has requested to protect their data.</mat-radio-button>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <mat-radio-button value="send" class="radio-btn-label label-design my-1">Send immunization data.
                    Patient has granted permission to release their data.</mat-radio-button>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <mat-radio-button value="not_specified" class="radio-btn-label label-design my-1">Patient did not
                    specify preference regarding sharing their data.</mat-radio-button>
                </div>
              </mat-radio-group>
            </div>
            <div class="d-flex justify-content-end mt-3 mx-3">
              <button type="button" class="btn btn-lg btn-orange" (click)="updateImmunizationRegistry()">Save</button>
            </div>
          </div>

          <!-- <div class="col-lg-12 col-md-12 col-12 my-3">
            <div class="d-inline-flex p-2 my-2 mx-3 mb-4">
              <label class="fs-4">Immunization registry</label>
            </div>
            <div class="row">
              <mat-radio-group [(ngModel)]="patientMyProfile.ImmunizationrRegistry">
                <div class="col-lg-12 col-md-12 col-12">
                  <mat-radio-button value="not_send" class="radio-btn-label label-design my-1">Don’t send immunization
                    data. Patient has requested to protect their data.</mat-radio-button>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <mat-radio-button value="sent" class="radio-btn-label label-design my-1">send immunization data.
                    Patient has requested to protect their data.</mat-radio-button>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <mat-radio-button value="not_specified" class="radio-btn-label label-design my-1">Patient did not
                    specify preference regarding sharing their data.</mat-radio-button>
                </div>
              </mat-radio-group>
            </div>

          </div> -->

        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-12">
        <div class="row">
          <!-- Contact -->
          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Contact Information</label>
            </div>
            <div class="row  mx-2">
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="CELLPHONE" class="form-label label-design">CELL PHONE</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.MobilePhone"
                  placeholder="CELL PHONE" type="text" id="CELLPHONE">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="Email" class="form-label label-design">Email</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.email" placeholder="Email"
                  type="text" id="Email">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="HOMEPHONE" class="form-label label-design">HOME PHONE</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.PrimaryPhone"
                  placeholder="HOME PHONE" type="text" id="HOME PHONE">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="WORKPHONE" class="form-label label-design">WORK PHONE</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.WorkPhone"
                  placeholder="WORK PHONE" type="text" id="WORK PHONE">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="Ext*" class="form-label label-design">Ext</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.EXT" placeholder="Ext" type="text"
                  id="Ext">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-4 col-12 my-2">
                <label for="Preferred Contact" class="form-label label-design">Preferred Contact</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.PreferredContact"
                  placeholder="Preferred Contact" type="text" id="PreferredContact">
              </div>

              <div class="col-lg-12 col-md-12 col-xl-6 col-12 my-2">
                <label class="form-label label-design">ENABLE EMAIL NOTIFICATIONS FOR THIS PATIENT</label>
                <div>
                  <label class="switch">
                    <input type="checkbox" id="togBtn" [(ngModel)]="patientMyProfile.EmailReminder">
                    <div class="slider round"></div>
                  </label>
                  <label class="form-label label-design">SEND APPOINTMENT REMINDERS FOR THIS PATIENT</label>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-6 col-12 my-2">
                <label class="form-label label-design">ENABLE SMS NOTIFICATIONS FOR THIS PATIENT</label>
                <div>
                  <label class="switch">
                    <input type="checkbox" id="togBtn" [(ngModel)]="patientMyProfile.SMSReminder">
                    <div class="slider round"></div>
                  </label> <label class="form-label label-design">SEND APPOINTMENT REMINDERS FOR THIS PATIENT</label>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-xl-9 col-12 my-2">
                <label for="HOMEADDRESS" class="form-label label-design">HOME ADDRESS</label>
                <input class="input-group form-control" placeholder="HOME ADDRESS" type="text" id="HOME ADDRESS"
                  [disabled]="disableaddressverification" [(ngModel)]="patientMyProfile.Street">
              </div>
              <div class="col-lg-2 col-md-4 col-xl-3 col-12 my-lg-2 mt-lg-3">
                <div class="d-grid gap-1 p-2">
                  <button type="button" class="btn btn-lg btn-styles btn-block btn-verify mt-4 mt-lg-2"
                    [disabled]="!patientMyProfile.Street || disableaddressverification"
                    (click)="AddressVerification()">Verify</button>
                </div>
              </div>
              <div class="col-lg-8 col-md-12 col-xl-9 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">Street Address</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.StreetAddress"
                      placeholder="Street Address" type="text" id="StreetAddress" name="StreetAddress"
                      [readonly]="!disableaddressverification" [class.contactinfoaddress-verfied]="!manuallybtn" />
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-xl-1 col-12 my-2 ">
                <button type="button" class="btn cross-mark error-close" *ngIf="addressVerfied && !manuallybtn"
                  (click)="enableManualEntry()"
                  title="Can enter manully when the verification results are in correct by clicking this icon">x</button>
              </div>
              <div class="col-lg-2 col-md-2 col-xl-2 col-12 my-2 ">
                <div class="form-group">
                  <button class="btn-green btn manualbtn  py-0 btn-lg btn-md"
                    *ngIf="manuallybtn || disableaddressverification" (click)="enterAddressManually()">Enter Address
                    Manually</button>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-4 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">City</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.city" placeholder="City" type="text"
                      id="City" name="City" [readonly]="!disableaddressverification"
                      [class.contactinfoaddress-verfied]="!manuallybtn" />
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-4 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">State</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.state" placeholder="State" type="text"
                      id="State" name="State" [readonly]="!disableaddressverification"
                      [class.contactinfoaddress-verfied]="!manuallybtn" />
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-4  col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <label class="control-label input-group-addon">Zip</label>
                    <input class="form-control" [(ngModel)]="patientMyProfile.zip" placeholder="Zip" type="text"
                      id="Zip" name="Zip" [readonly]="!disableaddressverification"
                      [class.contactinfoaddress-verfied]="!manuallybtn" />
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-lg btn-orange" (click)="updateContactInform()">Save</button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <hr style="margin: unset;">
          </div>

          <!-- Patient Relationship -->
          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Patient Relationship</label>
            </div>
            <div class="row">
              <div class="d-flex col-12 mx-5">
                <div class="find-procedure">
                  <div class="form-group">
                    <div class="input-group py-3"><input type="text" name="search_procedure_code"
                        id="search_procedure_code" class="form-control search-control"
                        placeholder="Search Patient's Relationship">
                      <button class="btn btn-info btn-md" type="button">
                        <i class="fa fa-search "></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-12">
                <div class="table-responsive mt-1  mx-5">
                  <table class="table">
                    <thead class="th-border">
                      <tr>
                        <th scope="col">Patient Name</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Relationship to Patient</th>
                        <th></th>
                        <th *ngIf="deleteSearch" (click)="removeSearch()"><b class="btn-crosss">x</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of patientRelationList">
                        <td>{{item?.FirstName}}</td>
                        <td>{{item.UserName}}</td>
                        <td>{{item.relationships}}</td>
                        <td *ngIf="item.relationships !='' "><button class="btn btn-access allow-access" type="button"
                            data-bs-toggle="modal" data-bs-target="#RelationtoPatientModal"
                            (click)="allowAccess()">Allow Access</button></td>
                        <td *ngIf="item.relationships =='' ">
                          <button class="btn btn-access remove-access" type="button"
                            (click)="removeAccessed(item.PatientId)">Remove Access</button>
                        </td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="table-NoRecord text-center py-2 col-12" *ngIf="patientRelationList.length <= 0">
                    No Data Found
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12 ">
            <hr style="margin: unset;">
          </div>

          <!-- Demographics -->
          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Demographics</label>
            </div>
            <div class="row  mx-2">
              <div class="col-lg-6 col-md-6 col-xl-6 col-12 my-2">
                <label for="Name" class="form-label label-design">ETHNICITY</label>
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Ethnicity" [(ngModel)]="patientMyProfile.ethnicity">
                      <mat-option *ngFor="let ethnicity of ethnicities" [value]="ethnicity.name">{{ethnicity.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 col-12 my-2">
                <label for="MiddleName" class="form-label label-design">PREFERRED LANGUAGE</label>
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Language" [(ngModel)]="patientMyProfile.PreferredLanguage">
                      <mat-option *ngFor="let item of languageList" [value]="item.Name">{{item.Name}} {{(item.Alpha2)}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 col-12 my-2">
                <label for="GenderIdentity" class="form-label label-design">Gender Identity</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.GenderIdentity"
                  placeholder="Gender Identity" type="text" id="Gender">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 col-12 my-2">
                <label for="Sexual" class="form-label label-design">Sexual Orientation</label>
                <input class="input-group form-control" [(ngModel)]="patientMyProfile.orientation"
                  placeholder="Sexual Orientation" type="text" id="Sexual">
              </div>
              <div class="col-lg-12 col-md-12 col-12 my-2">
                <label for="Race*" class="form-label label-design">Race (Select All That Apply)</label>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xl-7 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="checkbox form-check-input" id="AMERICAN" name="AMERICAN" type="checkbox"
                          [(ngModel)]="patientMyProfile.AmericanRace">
                        <label class="label-design check-label check-label-mrg">AMERICAN INDIAN OR ALASKA NATIVE</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="checkbox form-check-input" id="INDIAN" name="INDIAN" type="checkbox"
                          [(ngModel)]="patientMyProfile.AsianRace">
                        <label class="label-design check-label">ASIAN</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xl-7 col-sm-12 mt-2">
                    <div class="form-group my-2 mt-lg-0">
                      <div class="input-group">
                        <input class="checkbox form-check-input" id="BLACKAFRICAN" name="BLACKAFRICAN" type="checkbox"
                          [(ngModel)]="patientMyProfile.AfricanRace">
                        <label class="label-design check-label check-label-mrg">BLACK OR AFRICAN AMERICAN</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-xl-4 col-sm-12 mt-2">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="checkbox form-check-input" id="WHITE" name="WHITE" type="checkbox"
                          [(ngModel)]="patientMyProfile.WhiteRace">
                        <label class="label-design check-label">WHITE</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xl-7 col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="checkbox form-check-input" id="NATIVE" name="NATIVE" type="checkbox"
                          [(ngModel)]="patientMyProfile.HawaiianRace">
                        <label class="label-design check-label check-label-mrg">NATIVE HAWAIIAN OR OTHER PACIFIC
                          ISLANDER</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-xl-7 col-sm-12 mt-2">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="checkbox form-check-input" id="DECLINED" name="DECLINED" type="checkbox"
                          [(ngModel)]="patientMyProfile.UndeterminedRace">
                        <label class="label-design check-label check-label-mrg">DECLINED TO SPECIFY/UNDETERMINED</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-10 col-md-10 col-xl-6 col-sm-12 mt-2">
                    <div class="form-group">
                      <div class="text-nowrap">
                        <input class="checkbox form-check-input" id="ETHNICITIES" name="ETHNICITIES" type="checkbox"
                          [(ngModel)]="patientMyProfile.MultipleRthnicity">
                        <label class="label-design check-label ">MULTIPLE ETHNICITIES</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-lg btn-orange" (click)="updateDemography()">Save</button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <hr style="margin:unset;">
          </div>

          <!-- Care team -->
          <div class="col-lg-12 col-md-12 col-12">
            <div class="d-inline-flex p-2 mb-3">
              <label class="fs-4 profile-title">Care team</label>
            </div>
            <div class="row  mx-2">

              <div class="col-lg-12 col-md-12 col-xl-12 col-12">
                <div class="search-field">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Search Provider" [matAutocomplete]="auto" [formControl]="myControl"
                      class="form-control search-control">
                    <mat-autocomplete #auto="matAutocomplete" auto>
                      <mat-option *ngFor="let item of filteredProviderOptions | async" [value]="item.FullName">
                        <a (click)="getCareTeamDetails(item.ProviderId)">{{item.FullName}}</a>
                      </mat-option>
                      <mat-option *ngIf="isShow">
                        <span> No Records Found</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <button class="btn btn-info btn-md btn-autosearch" type="button">
                    <i class="fa fa-search "></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="team-border">
                  <div class="row">
                    <div class="table-responsive care-team-providers mt-1">
                      <table class="table">
                        <thead class="th-border">
                          <tr>
                            <th scope="col">NAME/SPECIALITY</th>
                            <th scope="col">RELATIONSHIP TO PATIENT</th>
                            <th scope="col">CONTACT</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="care-team-table" *ngFor="let item of this.CareTeamList; let i = index">
                            <td> <span class="name">{{item.FirstName}}</span> <br>
                              <span class="mt-2">In practice</span>
                            </td>
                            <td>Primary Dentist<br>
                              <span class="mt-2">Preferred provider in practice</span>
                            </td>
                            <td>P: (415)555-1212 <br>
                              <span class="mt-2">james@ehr1.us</span>
                            </td>
                            <td>
                              <mat-icon class="close-icon Cancelbtn">close</mat-icon>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="NoRecord text-center py-2" *ngIf="CareTeamList.length <= 0">
                        No Care team Found
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="d-flex justify-content-end mt-4 ">
                <button type="button" class="btn btn-lg btn-orange">Save</button>
               </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reset Password Modal -->
<div class="modal fade" id="ResetPwdModal" tabindex="-1" aria-labelledby="ResetPwdModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title label-design ">Reset Password</h4>
        <button type="button" class="btn cross-mark" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <div class="col-lg-12 col-md-4 col-sm-4">
            <label for="Username" class="form-label label-design">Username</label>
            <input class="input-group form-control" placeholder="Username" type="text" id="Username">
          </div>
          <div class="col-lg-12 col-md-4 col-sm-4 my-3">
            <input class="input-group form-control pwd-cursor  my-3" placeholder="dsfsffd" type="text" id="Username">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-green" data-bs-toggle="modal" data-bs-target="#ResetModal">Reset
          Password</button>
        <button type="button" class="btn btn-lg btn-green" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Notes Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title label-design ">Add Notes</h4>
        <button type="button" class="btn cross-mark" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <div class="col-lg-12 col-md-4 col-sm-4"><label class="label-design">Notes:</label>
          </div>
          <div class="col-lg-12 col-md-4 col-sm-4">
            <div class="note-heigth">
              <textarea class="form-control" rows="6" [(ngModel)]="patientMyProfile.Notes"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-green" data-bs-dismiss="modal" aria-label="Close"
          (click)="updateNote()">Save</button>
        <button type="button" class="btn btn-lg btn-green" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Display Password Modal -->
<div class="modal fade" id="ResetModal" tabindex="-1" aria-labelledby="ResetModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title label-design ">Reset Password</h4>
        <button type="button" class="btn cross-mark" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <h3>Afdafvc</h3>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-green" data-bs-toggle="modal" data-bs-target="#ResetModal">Print
            PDF</button>
          <button type="button" class="btn btn-lg btn-green" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Authorized Representative Modal -->
<div class="modal fade" id="AuthorizedModal" tabindex="-1" aria-labelledby="AuthorizedModal" aria-hidden="true">
  <div class="modal-dialog authorized-dialog">
    <div class="modal-content authorized-content">
      <div class="modal-header authorized-header">
        <h4 class="modal-title authorized-title">Authorized Representative</h4>
        <button type="button" class="btn cross-mark" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="table-responsive mt-1">
              <table class="table">
                <thead class="th-authorized">
                  <tr>
                    <th>Full Name</th>
                    <th>Primary Email</th>
                    <th>Contact Phone</th>
                    <th>Active Phone</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                  </tr> -->
                </tbody>
              </table>
              <div class="NoRecord text-center py-2">
                No Representatives Found
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-addnew btn-green" data-bs-toggle="modal"
          data-bs-target="#AddAuthorizedModal">Add New</button>

      </div>

    </div>
  </div>
</div>

<!--Add Authorized Representative Modal -->
<div class="modal fade" id="AddAuthorizedModal" tabindex="-1" aria-labelledby="AddAuthorizedModal" aria-hidden="true">
  <div class="modal-dialog add-authorized-dialog">
    <div class="modal-content authorized-content">
      <div class="modal-header authorized-header">
        <h4 class="modal-title authorized-title">Add Authorized Representative</h4>
        <button type="button" class="btn cross-mark" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div class="row my-2">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control input-authorized" placeholder="First Name" type="text" id="Name"
                  name="Name" />
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12 my-2">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control input-authorized" placeholder="Last Name" type="text" id="LastName"
                  name="LastName" />
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12 my-2">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control input-authorized" placeholder="Email" type="text" id="Email" name="Email" />
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12 my-2">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control input-authorized" placeholder="(" type="text" id="inputtext"
                  name="inputtext" />
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12 mt-4">
            <div class="form-group">
              <div class="input-group">
                <input class="checkbox form-check-input" id="Authorized" name="Authorized" type="checkbox">
                <a href="#" class="a-design">Representative has read and signed
                  <span class="a-authorized">Authorized Representative Acceptable Use Policy </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-addnew btn-green" data-bs-dismiss="modal" aria-label="Close">Save</button>
      </div>

    </div>
  </div>
</div>

<!-- Display Relation to Patient Modal -->
<div class="modal fade" id="RelationtoPatientModal" tabindex="-1" aria-labelledby="RelationtoPatientModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title label-design ">Relation to Patient</h4>
        <button type="button" class="btn cross-mark" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <h6><b>Relationship:</b></h6>
          <div class="col-md-12 mt-2 col-lg-12 col-12">
            <mat-form-field appearance="outline" class="col-12 hover cstm-mat-padding">
              <mat-select placeholder="Select One" placeholder="Select relation">
                <mat-option *ngFor="let item of relationship" [value]="value">{{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-green" data-bs-toggle="modal" aria-label="Close"
            (click)="savePatientRelation()">Save
          </button>
          <button type="button" class="btn btn-lg btn-green" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
