@import"../../../../assets/common.scss";
@import"../../../../assets/cstm.material.scss";

.btn {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  height: 50px;
}

.btn.btn-orange {
  padding: 0px 66px;
}

.btn.btn-authorized {
  padding: 0px 60px;
}

.btn.btn-styles {
  color: #41b6a6;
  background: #ffffff ;
  padding: 0px 35px;
  height: 50px;
  border: 1px solid #41b6a6;
}

.btn.btn-styles:hover{
  color: #ffffff;
  background: #41b6a6 ;
}

// .btn-styles.btn-verify{
//   min-width: 220px;
// }

// .profile-hr {
//  // margin-top: -9px;
// }

.d-inline-flex {
  font-size: 26px;
  font-family: "Roboto";
  //padding: 7px 82px 7px 18px !important;
  background-color: #41b6a6;
  height: 56px;
  font-weight: 500;
  color: white;
  width:100%;
}

.label-design {
  font-size: 14px;
  font-family: 'Roboto';
}
label{font-size: 14px;}

.input-group.form-control {
  height: 50px;
  border-color: #41b6a6 !important;
  border-radius: 3px;
  margin-top: -8px;
}

input::-webkit-input-placeholder {
  color: #595757 !important;
  font-size: 16px;
  font-family: 'Roboto';
}

.btn-group {
  border: 1px solid #41b6a6;
  border-radius: 0px;
}

.btn-check:checked+.gender,
.btn-check:active+.gender,
.gender:active,
.gender.active,
.gender.dropdown-toggle.show:hover {
  background-color: #41b6a6 !important;
  border-color: #41b6a6 !important;
}

.btn-check:checked+.gender,
.btn-check:active+.gender,
.gender:active,
.gender.active,
.gender.dropdown-toggle.show {
  color: #41b6a6 !important;
  background-color: white !important;
  border-color: #41b6a6 !important;
}

.btn-check:checked+.gender,
.btn-check:active+.gender,
.gender:active,
.gender.active,
.gender.dropdown-toggle.show {
  color: #ffffff !important;
  background-color: #41b6a6 !important;
  border-color: #41b6a6 !important;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:last-child)>.btn {
  border-left: 1px solid #41b6a6 !important;
  ;
}

/* crazy batman newspaper spinny thing */
.rotate {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.rotate.in {
  transform: rotate(1800deg);
  transition: all 1.5s;
}

.gender {
  color: #41b6a6;
  height: 40px;
  padding: 10px 13px;
  font-size: 15px;
}

.gender:hover {
  color: #fff;
  background-color: #41b6a6;
  border-color: #41b6a6;
}

// labal& input design
.input-group .input-group-addon {
  height: 50px;
  background-color: #41b6a6;
  padding: 14px 30px !important;
  border: 1px solid #41b6a6;
  color: white;
  font-family: 'Roboto';
}

.input-group-addon {
  padding: 0 20px;
  font-size: 14px;
  color: #555;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: 1px solid #41b6a6;
}

.input-group .form-control {
  padding: 0 20px;
  font-size: 14px;
  color: #74757e;
  border: 1px solid #dedede;
  background-color: #f5f5f5;
  border-radius: 3px;
  height: 50px;
  margin: 0px;
  border: 1px solid #41b6a6;
}

// search icon btn
.fa-search {
  background-color: #41b6a6;
  color: white;
  margin-left: 0 !important;
}

.fa {
  font-size: 28px;
}

.btn-info:hover {
  color: #f7f3f3;
  background-color: #41b6a6;
  border-color: #41b6a6;
}

.btn-info {
  color: white;
  background-color: #41b6a6;
  border-color: #41b6a6;
  width: 68px;
}

.label-design.check-label {
  margin-top: -8px;
  margin-left: 6px !important;
}

.input-group>.form-control.search-control {
  border-color: #41b6a6 !important;
  background: white !important;
  width: 550px !important;
}
@media screen and (min-width:920px) {
  .input-group>.form-control.search-control {
    width: 550px !important;
  }
}

// toggle on off checkbox
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -1px;
  left: 6px;
  right: 11px;
  bottom: 1px;
  background-color: #41b6a6;
  transition: 1.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 21px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
  left: -9px;
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: "OFF";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 58%;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider:after {
  content: 'ON';
  color: #ffffff;
  left: 35%;
}

tr.care-team-table td {
  font-size: 19px;
}

.name {
  color: #337ab7;
  font-weight: 600;
  cursor: pointer;
}

.name:hover {
  color: #23527c;
}

// radio btn
.form-check-input:checked {
  background-color: #41b6a6 !important;
}

.radio-btn {
  margin-top: -55px;
}

.radio-btn-label {
  margin-top: -28px;
  margin-left: 21px;
}

.radio-btn-label1 {
  margin-top: -80px;
  margin-left: 33px;
}

.form-check-input {
  width: 2em;
  height: 2em;
  margin-top: 5.5em;
}

.form-check-input[type=radio]:hover {
  border-color: #41b6a6;
  color: #41b6a6;
}

.form-select {
  height: 50px !important;
  border-color: #41b6a6;
  margin-top: -8px;
  color: #101110;
  font-family: 'Roboto';
  font-size: 14px;
}

.form-select:hover {
  background: #d2f5f059;
}

.note-heigth .form-control {
  height: 170px;
  border-color: #41b6a6;
}

.pwd-cursor {
  cursor: not-allowed;
  background-color: #ebebeb;
}

.table>:not(caption)>*>* {
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 0000px var(--bs-table-accent-bg);
}

table {
  border: 1px solid #41b6a6;
}

tr th {
  color: white;
  font-size: 17px;
}

tr td {
  font-size: 15px;
}

.th-border {
  border-bottom: 2px solid #41b6a6 !important;
  background: #41b6a6;
}

// authorized
@media (min-width: 576px) {
  .modal-dialog.authorized-dialog {
    max-width: 1100px;
    margin: 325px auto;
  }
}

.authorized-content {
  border: 1px solid #d9534e;
}

.authorized-header {
  background-color: #D9534E;
}

.authorized-title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto";
}

.th-authorized {
  background: #41b6a6;
  border-bottom: 2px solid #41b6a6 !important
}

.th-authorized tr th {
  color: white;
}

.th-authorized tr {
  height: 60px;
}

.NoRecord {
  border: 1px solid #41b6a6;
  height: 45px;
  font-size: 18px;
  font-family: 'Roboto';
}

.btn-addnew {
  font-size: 20px;
  font-family: 'Roboto';
  height: 49px;
  width: 189px;
  margin-top: -8px;
}

// Add Authorized
@media (min-width: 576px) {
  .modal-dialog.add-authorized-dialog {
    max-width: 600px;
    margin: 300px auto;
  }
}

.a-design {
  color: #74757e;
  font-size: 18px;
  font-family: "Roboto";
  margin-top: -23px;
  margin-left: 28px !important;
  font-weight: 400;
}

.a-authorized {
  text-decoration: underline;
  color: #41b6a6;
  font-size: 18px;
  font-family: 'Roboto';
  margin-left: -5px;
}

.a-authorized:hover {
  color: #5ad4c4;
}

.input-group .form-control.input-authorized {
  border: 1px solid #ced4da !important;
}

.input-group .form-control.input-authorized:hover {
  border: 1px solid #41b6a6 !important;
}

@media (min-width:300px) and (max-width:400px) {
  .checkbox-margin {
    margin-left: 66px;
  }

  .gender {
    padding: 13px 7px;
    font-size: 17px;
  }

  .label-design.check-label-mrg {
    margin-top: -31px;
    margin-left: 35px !important;
  }
}

.form-control {
  font-family: "Roboto";
  font-size: 16px;
}

.patient-id {
  background-color: #f5f5f5;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: auto;
}

.a-tag:hover {
  text-decoration: underline;
  color: #41b6a6;
}

.hover {
  height: 50px !important;
}

.btn.btn-info {
  height: 50px;
}

// .search-field {
//   margin-left: 381px;
// }

.mat-option:hover {
  background-color: white !important;
  color: #41b6a6 !important;
  text-decoration: underline;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  height: 52px !important;
  margin-top: -1px !important;
}

.table-NoRecord {
  background-color: white !important;
  border: 1px solid #41b6a6;
  border-top: none;
  font-family: 'Roboto' !important;
  font-size: 15px;
}

.btn.btn-access {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 12px !important;
  line-height: 1.5;
  border-radius: 3px;
  height: 28px !important;
  padding: 0px 7px;
}

.allow-access {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.allow-access :hover {
  background-color: #286090;
  border-color: #204d74;
}

.remove-access {
  background-color: #c9302c;
  border-color: #ac2925;
}

.remove-access:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-crosss {
  font-size: 23px !important;
  color: #ffffff;
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
  border: 1px solid #afa9a9;
  width: 19px;
  height: 19px;
}

//checkbox
input[type='checkbox']:checked:after {
  display: unset;
  font-size: 15px;
  font-weight: bold;
  margin: 2px 0;
  padding: 0 3px;
  // color: #67b08e;
  width: 30px;
  height: 50px;
}

.form-check-input {
  margin-top: 0%;
  border-radius: 4%;
  margin-right: 0%;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #fff;
  border-color: #b4bcc8;
}

.Cancelbtn {
  border-radius: 80%;
  background: #d64841 !important;
  color: #fff !important;
  font-size: 18px !important;
  padding: 4px !important;
  border: 1px solid #d64841;
}

.Cancelbtn:hover {
  background: #fff !important;
  color: #d64841 !important;
}

.mat-icon {
  height: 28px !important;
  width: 28px !important;
}

.mycontent-left {
  border-right: 1px solid #41b6a6;
  padding-right: unset !important;
}

.btn.btn-info.btn-autosearch {
  height: 49px;
  margin-top: -5px;
}
.profile-title{
  margin-left:10px
}
.grey-calendar .mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button {
  background-color: #41b6a6 !important;
  color: #fff !important;
  height: 3.7em !important;
  width: 4.5em !important;
}

.bg-claneder {
  background-color: white;
}

.grey-matform.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #ffffff !important;
}

input.mat-input-element {
  font-size: 17px;
}
.contactinfoaddress-verfied{
  cursor: not-allowed !important;
}
.address-verfied{
  cursor: not-allowed !important;
}
.error-close {
  background-color: rgb(253, 65, 65) !important;
  width: 25px;
  height: 28px;
  margin: 10px !important;
  border: 1px solid white !important;
  color: white !important;
  border-radius: 50% !important;
  padding-bottom: 28px;
    padding-left: 18px
}
.error-close:hover {
  background-color: white !important;
  border: 1px solid rgb(253, 44, 44) !important;
  color: rgb(253, 44, 44) !important;

}
.cross-mark {
  border: "1px solid #fff;"
}
.manualbtn{
  width: 167%;
  margin-left: -62px;
}
