@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";
$green:         #41b6a6;
.header-change {
  background-color: #D9534E;;
}
.modal-text {
  font-size: 15px;
  text-align: center;
  color: #D9534E;
}
.edu-material-modal .modal-content {
  border: 1px solid #D9534E;
}
.icon.icon-ic-material-not-found {
  background-image: url(../../../assets/images/icon-material-not-found.svg);
}
.edu-material-modal .icon {
  width: 82px;
  height: 82px;
  margin: 0 auto 20px auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.edu-material-modal{
  .patient-name{
    font-weight: bold !important;
    font-size: 22px !important;
  }
  .print {
    &, * {
      display: block !important;
    }
    .print-patient {
      border-top: 1px solid white !important;
      background-color: rgba(65, 182, 166, 0.20) !important;
      padding: 15px 50px 20px 50px !important;
      border: 0 !important;
      font-size: 15px !important;

    }
    .print-provider {
      background-color: $green !important;
      padding: 20px 50px !important;
      p {
        color: white !important;
      }
    }
    .print-diagnosis {
      p {
        border-bottom: 1px solid $green !important;
        font-size: 20px !important;
        font-family: 'SF UI Text Bold' !important;
        text-transform: uppercase !important;
        padding: 20px 50px !important;
      }
    }
    .title{
      display: inline-flex !important;
    }
    .items{
      .item{
        padding: 10px 0;
        font-family: 'SF UI Text Bold' !important;
        &:hover{
          color:#41b6a6;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .items.show-inline{
      display: flex !important;
    }
    .attach-btn{
      padding-top: 5px;
      height: 34px !important;
      cursor: pointer;
      &:hover{
        background-color: #41b6a6;
        color: #fff;
        border: #41b6a6 1px solid;
      }
    }
  }
}
