// .categories-header{
//   background: linear-gradient(to right, #f2f2f2 38%, #41b6a6 50%);
// }
.bread-crum .header .categories-header .categories-container {
  padding-top: 4px;
  padding-bottom: 4px;

}

.bread-crum-header {
  background: linear-gradient(to right, #f2f2f2 40%, #f2f2f2 80%);
}

.bread-crum-header-trial {
  background: linear-gradient(to right, #f2f2f2 40%, hsl(0, 98%, 34%) 80%);
}

.bread-crum .header .categories-header {
  min-height: 30px;
  padding: 0 0;
  //background: linear-gradient(to right, #f2f2f2 38%, #41b6a6 50%);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.category-arrow {
  color: #41b6a6;
}

.categories li .category-arrow {
  color: #41b6a6;
  margin: 0 17px 0 23px;
}


ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 15px;
}

.categories-container {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  //padding-left: 15px;
  font-size: 15px;
  color: #fff;
}

.bread-crum .header .categories-header .categories li {
  display: inline-block;
}

.bread-crum .header .categories-header .categories li a.active {
  pointer-events: none;
  cursor: default;
  color: #fe8f00;
  font-size: 13px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

li a.inactive {
  color: #41b6a6;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bread-crum .header .categories-header .categories-container {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bread-crum .header .categories-header .row .categories li .category-arrow {
  color: #41b6a6;
  margin: 0 10px 0 10px;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-angle-right:before {
  content: "\f105"
}

.bread-crumb-button {
  margin-left: 20px;
  float: right;
  border: white;
  color: #ffffff;
  line-height: 25px;
  height: 25px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 3px;
  padding-bottom: 25px;
  font-size: 16px;

  shape-outside: margin-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-width: 0px;
  border-radius: 20px;
  box-shadow: inset 0px -2px 1px rgb(0 0 0 / 80%), inset 0 2px 1px rgb(255 255 255);
  background: linear-gradient(to top, #41b6a6, #41b6a6);
  background: -webkit-linear-gradient(to top, #41b6a6, #41b6a6);
  background: -moz-linear-gradient(to top, #41b6a6, #41b6a6);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(100%, #41b6a6), color-stop(0%, #41b6a6));
}

.bread-crumb-button:hover {
  color: hsl(0, 98%, 34%); //#d74842
  box-shadow: inset 0px -2px 1px rgb(0 0 0 / 80%), inset 0 2px 1px rgb(255 255 255);
  background: linear-gradient(to top, #41b6a6, #ffffff);
  background: -webkit-linear-gradient(to top, #41b6a6, #ffffff);
  background: -moz-linear-gradient(to top, #41b6a6, #ffffff);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #41b6a6), color-stop(100%, #ffffff));
}

.bread-crumb-text {
  margin: unset;
  float: right;
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
}

.eRX-notice-wrapper {
  background-color: #d64841;
  min-height: 50px;

  p {
    color: #fff;
    padding: 15px 0px;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
    z-index: 1050;
  }

  a:hover {
    ul {
      display: contents !important;
    }
  }

  ul {
    display: none;
  }

}

::ng-deep .mat-menu-item {
  list-style: none;

  a {
    text-decoration: underline !important;
    color: #4A4A4A;
    font-weight: 600;
  }
}

::ng-deep .mat-menu-item:hover {
  color: #41b6a6 !important;
}


.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: bottom;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 20px;
  padding: 0 0;
  border-radius: 4px;
  overflow: visible;
  color: #02efcf;
  &:hover {
    filter: brightness(85%);
    color: #00ffe9;;
  }
}
