<div class="bread-crum">
  <div class="header">
    <div [class.bread-crum-header]="!user.IsInTrailPeriod" [class.bread-crum-header-trial]="user.IsInTrailPeriod "
    class="categories-header">
      <div class="row">
        <div class="categories-container col-xl-6 col-lg-5 col-md-5 col-5 col-sm-5">
          <ul class="categories">
            <li><a class="inactive" routerLink="/provider/smartschedule">Home</a></li>
            <li><i class="category-arrow fa fa-angle-right icon-folder"></i></li>
            <li><a class="active">{{currentView}}</a></li>
          </ul>
        </div>
        <div *ngIf="user.IsInTrailPeriod" class="categories-container"
        [class.col-xl-4] = showemail [class.col-lg-4] = showemail [class.col-md-4] = showemail
        [class.col-5] = showemail [col-sm-4] = showemail
        [class.col-xl-6] = !showemail [class.col-lg-6] = !showemail [class.col-md-6] = !showemail
        [class.col-6] = !showemail [col-sm-6] = !showemail
        style="padding-top: 8px;">

        <div style="float:right;
          width: 100%;">
           <button style="margin-left: 30px;
           float:right;
           border: white;
           margin-right:20px;
           color:#41b6a6;
           line-height: 30px;
           height: 30px;
           background-color: white;    padding-left: 28px;
    padding-right: 28px;    border-radius: 3px;    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 18px;
    text-align: center">Subscribe
           </button>
          <p style=" margin: unset;
          float:right; text-align: center;font-size:18px;">{{TrailText}}</p>
          </div>
        </div>
        <a *ngIf="showemail" style=" float:right;
      padding-right: 30px;
      padding-top: 10px;
      font-size: 8pt;
      vertical-align: bottom;
      text-align: right;
      color: blue;
      cursor: pointer;" class="categories-container col-xl-1 col-lg-1 col-md-1 col-1 col-sm-1"
      [class.col-xl-1] ="user.IsInTrailPeriod" [class.col-lg-1] ="user.IsInTrailPeriod"
      [class.col-md-1] ="user.IsInTrailPeriod" [class.col-1] ="user.IsInTrailPeriod" [class.col-sm-1] ="user.IsInTrailPeriod"
      [class.col-xl-6] ="!user.IsInTrailPeriod" [class.col-lg-6] ="!user.IsInTrailPeriod"
      [class.col-md-6] ="!user.IsInTrailPeriod" [class.col-6] ="!user.IsInTrailPeriod" [class.col-sm-6] ="!user.IsInTrailPeriod"
          [routerLink]="['../account/emailedurls']" routerLinkActive="router-link-active" target="_blank">
          Verify Email</a>
      </div>
      <div class="clearfix d-block"></div>
    </div>
  </div>
</div>
