@import"../../../assets/admin.common.scss";

.btn-style {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1%;
  border-radius: 0;
  box-shadow: none;
  line-height: 1.44;
}
.table td {
  vertical-align: middle;
  font-size: 14px;
  line-height: 2;
  white-space: pre-wrap;
}

.settings-wrapper {
  margin-left: 1%;
  margin-top: 2%;
  margin-right: 1%;
}

h1 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.download-rep {
  text-shadow: none;
  color: #337ab7;
}

.download-rep:hover {
  text-shadow: none;
  color: #23527c;
  text-decoration: underline;
}

.table thead th {
  border-top: 1px solid #e7ecf1 !important;
  border-left: 1px solid #e7ecf1;
  border-right: 1px solid #e7ecf1;
  line-height: 2;
  font-weight: 600;
  font-size: 14px;
}

// @media (max-width:375px ){
//     .left-alignemnt {
//         margin-left: 0px;
//         border-radius: 0;
//     }
//   }
//   @media (max-width:425px ){
//     .left-alignemnt {
//         margin-left: 0px;
//         border-radius: 0;
//         width: 86%;
//       }
//   }
