<div class="page-content settings-wrapper" id="settings-wrapper" style="min-height: 650px;">
    <h1>List Of Imported Data</h1>
    <div class="form-group">
        <a class="btn btn-primary " href="admin/importpatient">Import Patients</a>
        <a class="btn btn-primary left-alignemnt" href="admin/importencounter">Import Encounters</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="th-border">
                <tr>
                    <th>id</th>
                    <th>Provider/Practice</th>
                    <th>File Name</th>
                    <th>Upload Date</th>
                    <th>Data Type</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>62136ad0391cba080b976f67</td>
                    <td>Testing team </td>
                    <td>import-data-2022-02-21.csv</td>
                    <td>02/21/2022</td>
                    <td>encounter</td>
                    <td>Completed</td>
                    <td><a title="false" data-toggle="tooltip" data-placement="right" href="#">Download Report</a>
                    </td>
                </tr>
                <tr>
                    <td>6135a9f4391cba75e336ad37</td>
                    <td>Armando Anguiano </td>
                    <td>Anguiano-Patient-Import-Format.xlsx</td>
                    <td>09/06/2021</td>
                    <td>patient</td>
                    <td>Started</td>
                    <td>Download Report </td>
                </tr>
                <tr>
                    <td>611b3939391cba1f56417947</td>
                    <td>anusha an </td>
                    <td>TheChildrensDental-Patient-Import-Format.csv</td>
                    <td>08/17/2021</td>
                    <td>patient</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=611b3939391cba1f56417947">Download
                            Report</a>
                    </td>
                </tr>
                <tr>
                    <td>611b2d0b391cba1f56417946</td>
                    <td>anusha an </td>
                    <td>TheChildrensDental-Patient-Import-Format.csv</td>
                    <td>08/16/2021</td>
                    <td>patient</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=611b2d0b391cba1f56417946">Download
                            Report</a>
                    </td>
                </tr>
                <tr>
                    <td>61165937391cba1f56412e61</td>
                    <td>test provider </td>
                    <td>SAMPLECSV.csv</td>
                    <td>08/13/2021</td>
                    <td>patient</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=61165937391cba1f56412e61">Download
                            Report</a>
                    </td>
                </tr>
                <tr>
                    <td>61165836391cba1f56412e60</td>
                    <td></td>
                    <td>SAMPLECSV.csv</td>
                    <td>08/13/2021</td>
                    <td>patient</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=61165836391cba1f56412e60">Download
                            Report</a>
                    </td>
                </tr>
                <tr>
                    <td>61164352391cba1f56412e5d</td>
                    <td>anusha an </td>
                    <td>TheChildrensDental-Patient-Import-Format.csv</td>
                    <td>08/13/2021</td>
                    <td>patient</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=61164352391cba1f56412e5d">Download
                            Report</a>
                    </td>
                </tr>
                <tr>
                    <td>6115b327391cba1f564129ee</td>
                    <td>Ida Rose-Mize </td>
                    <td>TheChildrensDental-Patient-Import-Format.csv</td>
                    <td>08/12/2021</td>
                    <td>patient</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=6115b327391cba1f564129ee">Download
                            Report</a>
                    </td>
                </tr>
                <tr>
                    <td>5ebaeb18391cba136fee79d7</td>
                    <td>Scott Tidwell </td>
                    <td>Tidwell-Encounter-Import.csv</td>
                    <td>05/12/2020</td>
                    <td>encounter</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=5ebaeb18391cba136fee79d7">Download
                            Report</a>
                    </td>
                </tr>
                <tr>
                    <td>5eb9988f391cba0441e5ea3a</td>
                    <td>Scott Tidwell </td>
                    <td>Tidwell-Encounter-Import.csv</td>
                    <td>05/11/2020</td>
                    <td>patient</td>
                    <td>Completed</td>
                    <td><a title="true" data-toggle="tooltip" data-placement="right"
                            href="/admin/import_data/download_report.csv?id=5eb9988f391cba0441e5ea3a">Download
                            Report</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end my-3">
        <nav aria-label="Page navigation">
            <ul class="pagination mt-4">
                <ngb-pagination [pageSize]="2" [collectionSize]="10" [maxSize]="9" [(page)]="page"
                    aria-label="Default pagination">
                </ngb-pagination>
            </ul>
        </nav>
    </div>
</div>