@import "../../../assets/common.scss";
@import "../../../assets/cstm.material.scss";

.card-header {
  border-radius: 0;
  display: flex;
  justify-content: space-between;
}

.exportdd {
  width: 154px;
  border: 1px solid #fff;
  background-color: white;
  color: #41b6a6;
  height: 45px;
  border-radius: 3%;
  margin: 0px -9px 0px 0px;
}

.hover-class {
  width: 165px;
  height: 45px;
}

.mat-header-cell {
  font-weight: 450 !important;
}

.mat-table {
  border: 1px solid #41b6a6;
  font-size: 15px;
}

table th.th-dropdown {
  width: 25px;
}

.table-align {
  margin-left: -20px;
  margin-right: -20px;
}

.mat-header-row {
  color: #4a4a4a;
  background-color:#fff;
  
}

.mat-header-cell:first-child {
  border-left: 1px solid #41b6a6;
}
.mat-header-cell {
  border-left: 1px solid #41b6a6;
  border-bottom: none;
  font-size: 15px;
  color: #4a4a4a;
}

.mat-cell {
  border-left: 1px solid #41b6a6;
  border-bottom: none;
}

.mat-row {
  border-bottom: none;
}


::ng-deep .green-calendar.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  color: #41b6a6 !important;
  height: 45px;
}

.cust-hyphen {
  padding: 0px 3px;
  font-size: 53px;
  margin-top: -21px;

}
.norecordfound{
  color: red;
}
// ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline :hover{
//   background-color: black !important;
//   color:black !important;
//   border-radius: 6px;
//   height: 45px;
// }
mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
  padding-left: 43px;
   padding-right: 24px;
}
::ng-deep .exportpdf .mat-form-field
{
  width: 150px!important;
}
::ng-deep .exportpdf .mat-select-placeholder {
  color: #41b6a6 !important;
}
  ::ng-deep  .placehold.mat-form-field-hide-placeholder .mat-select-placeholder {
    color: #4a4a4a;
    -webkit-text-fill-color: #4a4a4a;
    display: block;
}
::ng-deep .placehold.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  color: #fff !important;
  border-radius: 6px;
  height: 45px;

}
::ng-deep .placehold.mat-form-field-appearance-outline:hover .mat-form-field-outline{
  color: #41b6a6 !important;
  width: 222px;
  border-radius:0px !important;
    margin-left: -10px;
    text-decoration: underline !important;
}
::ng-deep .placehold .mat-select-placeholder {
  color: black !important;
}
::ng-deep .placehold .mat-select-placeholder:hover{
  text-decoration: underline !important;
}

::ng-deep .placehold .mat-select{
  width: 204px !important;
    margin-left: -11px;
}
