<div class="card ">
  <div class="card-header bg-color">
    <h5 class="Helvetica-sans-serif-medium mt-2 Clinicalalignments">Clinical Decision Support</h5>
    <button class="plusicon" type="button" data-bs-toggle="modal" data-bs-target="#modal-new-alert-form"
      aria-expanded="false">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="row ">
      <div class="col-md-10">
        <p class="Helvetica-sans-serif-medium title-heading ">Turn all Accountable Care Organization Alerts on or off
          for all your patients</p>
      </div>
      <div class="col-md-2 d-flex justify-content-end">
        <button class="btn" type="button" [ngClass]="flag ? 'btn-open' : 'btn-of'" (click)="open(true)">On</button>
        <button class="btn" type="button" [ngClass]=" !flag ? 'btn-open' : 'btn-of'" (click)="close(false)">Off</button>
      </div>
    </div>
  </div>
  <div class="prevent-click" *ngIf="show">
    <div class="expansion-boder"></div>
    <mat-accordion class="prevent-click" style="border-top: 1px solid #41b6a6;">
      <mat-expansion-panel [disabled]="item?.isdisabled"
        [ngStyle]="item?.isdisabled?{'opacity': '0.75'} : {'opacity': '1'}" [expanded]="step === i"
        (opened)="setStep(i)" class="customheader" hideToggle="true" #example
        *ngFor="let item of clinicalDecisionSupportList; let i=index">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <h1 class="number">{{i+1}}</h1>&nbsp;&nbsp;

            <h4 class="titleText">{{item.AlertName}} </h4>

          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end">
            <button class="btn" [ngClass]="!item?.isdisabled ?  'btn-on' : 'btn-off' " type="button"
              (click)="disablemedication(item,false)">On</button>
            <button class="btn" [ngClass]="item?.isdisabled ? 'btn-on' : 'btn-off' " type="button"
              (click)="disablemedication(item,true)">Off</button>

            <mat-icon class="play-up-arrow" *ngIf="!example.expanded">play_arrow</mat-icon>
            <mat-icon class="play-down-arrow" *ngIf="example.expanded">arrow_drop_down</mat-icon>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="row field-align">
            <mat-label class="mt-1 Helvetica-sans-serif-small required">Description</mat-label>
            <mat-form-field appearance="outline" class="col-md-12">
              <input matInput placeholder="" [(ngModel)]="item.Description">
            </mat-form-field>
          </div>

          <div class="row field-align">
            <mat-label class="Helvetica-sans-serif-small required">Trigger Rule </mat-label>
            <mat-form-field appearance="outline">
              <mat-select required [(ngModel)]="item.Rule">
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-6">
                <p class="title trigger-align">Trigger Condition Builder</p>
              </div>
              <div class="col-lg-6">
                <button type="button" class="btn btn-green btn-clinic pull-right" data-bs-toggle="modal"
                  data-bs-target="#TriggerModal" (click)="newtrigger(item.AlertId)">
                  New Trigger
                </button>
              </div>
            </div>
          </div>
          <table class="table table-borderless">
            <thead class="bg-color">
              <tr>
                <td></td>
                <td>
                  Category
                </td>
                <td>
                  Code
                </td>
                <td>
                  Code System
                </td>
                <td>
                  Description
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of item.Triggers">
                <td></td>
                <td>
                  {{data.Category}}
                </td>
                <td>{{data.Code}}</td>
                <td>{{data.CodeSystem}}</td>
                <td>{{data.Description}}</td>
                <td (click)="DeleteTrigger(data.TriggerId)">
                  <mat-icon class="close-icon  Cancelbtn" style="cursor: pointer;">close
                  </mat-icon>
                </td>
              </tr>

            </tbody>
          </table>
          <br>
          <div class="row field-align">
            <mat-label class="Helvetica-sans-serif-small">Resolution: </mat-label>

            <div class="col-md-12 mt-1">
              <textarea matInput class="text-border" placeholder="" [(ngModel)]="item.Resolution"></textarea>
            </div>

          </div>
          <div class="row field-align">
            <mat-label class="Helvetica-sans-serif-small mt-2">Bibliography:</mat-label>
            <div class="col-md-12 mt-1">
              <!-- <textarea matInput
                placeholder=""value="{{item1.key}}"></textarea> -->
              <textarea class="text-border" matInput [(ngModel)]="item.Bibliography"></textarea>
            </div>
          </div>
          <div class="row field-align">
            <mat-label class="Helvetica-sans-serif-small">Developer: </mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="" [(ngModel)]="item.Developer">
            </mat-form-field>
          </div>
          <div class="row field-align">
            <div class="col-md-2 mt-3">
              <mat-label class="Helvetica-sans-serif-small ">Funding Source:</mat-label>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="col-md-12">
                <input matInput placeholder="" [(ngModel)]="item.FundingSource">
              </mat-form-field>
            </div>

            <div class="col-md-2 mt-3">
              <mat-label class="Helvetica-sans-serif-small"> Release Date(s)</mat-label>
            </div>

            <mat-form-field appearance="outline" class="green-calendar col-md-4">
              <input matInput [matDatepicker]="dp" placeholder="" [(ngModel)]="item.ReleaseAt">
              <mat-datepicker-toggle matSuffix [for]="dp">
                <button _ngcontent-mqh-c316="" aria-hidden="true" class="is-primary button fa fa-calendar"></button>
              </mat-datepicker-toggle>
              <mat-datepicker #dp disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <button class="btn btn-green btn-clinic pull-right" type="button"
            (click)="InsertUpadateClincialDecisionSupport(item)">Save</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="text-center py-2 col-12" *ngIf="clinicalDecisionSupportList.length == 0">
      <h6 class="Helvetica-sans-serif-medium" style="color: red;"> No records found</h6>
    </div>
  </div>
</div>

<!-- Add New Altert Modal -->
<div class="modal fade " id="modal-new-alert-form" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header Helvetica-sans-serif-medium" style="margin-top: -1px;margin-right: -1px;">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add new alert</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="resetdialog()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <mat-label class="required">Alert Name</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.AlertName" placeholder="Alert Name"
              required>
            <!-- <mat-icon matSuffix *ngIf="checkedName" class="FieldValid">check</mat-icon>
            <mat-icon matSuffix *ngIf="uncheckedName" class="FieldInvalid">close</mat-icon> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Description</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Description" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Description" required>
            <!-- <mat-icon matSuffix *ngIf="checkedDescription" class="FieldValid">check</mat-icon>

            <mat-icon matSuffix *ngIf="uncheckedDescription" class="FieldInvalid">close</mat-icon> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Resolution</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Resolution" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Resolution" required>
            <!-- <mat-icon matSuffix *ngIf="checkedResolution" class="FieldValid">check</mat-icon>
            <mat-icon class="close-icon" matSuffix *ngIf="unCheckedResolution" class="FieldInvalid">close -->
            <!-- </mat-icon> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Bibliography</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Bibliography" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Bibliography" required>
            <!-- <mat-icon matSuffix *ngIf="checkedbiBliography" class="FieldValid">check</mat-icon>
            <mat-icon class="close-icon" matSuffix *ngIf="unCheckedBibliography" class="FieldInvalid">close -->
            <!-- </mat-icon> -->
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Developer</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Developer" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Developer" required>
            <!-- <mat-icon matSuffix *ngIf="checkedDeveloper" class="FieldValid">check</mat-icon>
            <mat-icon class="close-icon" matSuffix *ngIf="unCheckedDeveloper" class="FieldInvalid">close -->
            <!-- </mat-icon> -->
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-md-2">
            <mat-label>Funding Source:</mat-label>
          </div>
          <mat-form-field appearance="outline" class="col-md-4">
            <input matInput placeholder="Funding Source" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.FundingSource" required>
            <!-- <mat-icon matSuffix *ngIf="checkedfundingSource" class="FieldValid">check</mat-icon>
            <mat-icon class="close-icon" matSuffix *ngIf="unCheckedfundingSource" class="FieldInvalid">close -->
            <!-- </mat-icon> -->
          </mat-form-field>
          <div class="col-md-2">
            <mat-label>Release Date(s)</mat-label>
          </div>
          <mat-form-field appearance="outline" class="col-md-4 realease-date">
            <input matInput [matDatepicker]="dp1" required placeholder="Stop Date" mouse-over-hint
              tickImagePath="assets/images/tick-mark.svg" crossImagePath="assets/images/cross-mark.svg"
              (focus)="dp1.open()" [(ngModel)]="newAlert.ReleaseAt">
            <mat-datepicker-toggle matSuffix [for]="dp1">
            </mat-datepicker-toggle>
            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
            <!-- <mat-icon matSuffix *ngIf="checkedReleaseDate" class="FieldValiddatepicker">check</mat-icon>
            <mat-icon class="close-icon" matSuffix *ngIf="unCheckedReleaseDate" class="FieldInvaliddatepicker">close -->
            <!-- </mat-icon> -->

          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Trigger Rule
          </mat-label>
          <mat-form-field appearance="outline" class="col-md-12 trplaceholder">
            <mat-select panelClass="triggeralignment" required placeholder="Trigger Rule" [(ngModel)]="newAlert.Rule"
              mouse-over-hint tickImagePath="assets/images/tick-mark.svg" crossImagePath="assets/images/cross-mark.svg">
              <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                {{trigger.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-green btn-clinic" data-bs-dismiss="modal"
          (click)="InsertUpadateClincialDecisionSupport(newAlert)" [disabled]="enableSave()">Add New Alert</button>
      </div>
    </div>
  </div>
</div>


<!-- TriggerModal -->
<div class="modal  TriggerModal" id="TriggerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content Trigger-content scrollable-modal ">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add new trigger</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close"
          (click)="resettriggerdialog()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div>
          <mat-label class="required">Category</mat-label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 mat-field-no-round-right mt-4">
          <medical-code-container [codeSystems]="codeSystemsForClinicalDecision"
            (optionChanged)="optionChangedForTrigger($event)" [MinTermLength]="3" [showSelectedValue]="true">
          </medical-code-container>
        </div>

        <mat-table mat-table [dataSource]="triggerSearchList" id="procedure-table" class="searchtable">
          <ng-container matColumnDef="CODE">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first"></p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span>{{ item.Code }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="CODE SYSTEM">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first"></p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span>{{ item.System }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="DESCRIPTION">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first"></p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span>{{ item.Description}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Delete">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first"></p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item; let i = index; ">
              <button type="button" class="btn cross-mark error-close" (click)="removetrigger(item,i)"
                title="Delete recommended Procedure">x</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="clinicalDecisionSearchColumns" class="headeralig"></mat-header-row>
          <mat-row *matRowDef=" let row; let i = index; columns: clinicalDecisionSearchColumns
          " class="headerowalig"></mat-row>
        </mat-table>

        <div>

          <div class="row">
            <mat-label class="required">Code</mat-label>

            <mat-form-field appearance="outline" class="col-md-12">
              <input matInput placeholder="" [(ngModel)]="ehrTrigger.Code" class="not-allowed" disabled>
            </mat-form-field>

          </div>
          <br>
          <mat-label class="required">Code System</mat-label>

          <mat-form-field appearance="outline" class="col-md-12 ">
            <input matInput placeholder="" [(ngModel)]="ehrTrigger.System" disabled class="not-allowed">
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-label class="required">Description:</mat-label>

          <textarea matInput class="text-border not-allowed" placeholder="" readonly disabled
            [(ngModel)]="ehrTrigger.Description"></textarea>


        </div>
      </div>
      <div class="modal-footer">

        <button class="btn btn-green btn-clinic " type="button" data-bs-dismiss="modal"
          (click)="CreateTrigger(ehrTrigger)" [disabled]="triggerSave()">Add trigger</button>

      </div>
    </div>
  </div>
</div>