
@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";

.card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  box-sizing: border-box;
}

.Clinicalalignments {
  margin-left: 10px;
}


.TriggerModal .modal-dialog {
  pointer-events: auto !important;
  max-width: 780px;
}

::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
  background-color: #fff !important;
}

.Active {
  background-color: rgba(65, 182, 166, 0.5);
  margin-left: -29px;
  margin-right: -28px;
  padding-left: 11px;
  height: 53px;
  padding-top: 15px;
  margin-top: 2px;
}

.btn-open {
  background-color: #41b6a6;
  color: white;
  border: 1px solid #41b6a6;
  width: 80px;
  height: 40px;
  border-radius: 1px;
  font-size: 15px;
  font-family: revert;
  // margin-right: 1px;
}

.btn-open:hover {
  border-left: 1px solid #fff;
}

.btn-of {
  border: 1px solid #41b6a6;
  width: 80px;
  height: 40px;
  font-size: 15px;
  font-family: revert;
  border-radius: 1px;
  border-right: 1px solid #41b6a6;

}

.plusicon {
  margin-right: 5px;
}

.btn-of:hover {
  background-color: #41b6a6;
  color: #fff;
  margin-left: 1px;
  border-right: 1px solid #fff;
}

.btn-on {
  background-color: #41b6a6 !important;
  color: white;
  border: 1px solid white;
  width: 80px;
  height: 40px;
  border-radius: 0px;
  border-right: none;
  font-size: 15px;
  font-family: revert;
}

.btn-off {
  border: 1px solid white;
  width: 80px;
  height: 40px;
  border-radius: 0px;
  font-size: 15px;
  font-family: revert;
}

.btn-off:hover {
  background-color: #41b6a6;
  color: #fff;
}

.btn-dentalon {
  background-color: #41b6a6 !important;
  color: white;
  border: 1px solid white;
  width: 80px;
  height: 40px;
}

.btn-dentaloff {
  border: 1px solid white;
  width: 80px;
  height: 40px;
}

.btn-dentaloff:hover {
  background-color: #41b6a6;
  color: #fff;
}



.number {
  width: 32px;
  height: 30px;
  padding: 4px 0;
  text-align: center;
  font-size: 16px;
  background-color: white;
  color: #41b6a6;
  border-radius: 50%;
  border: 1px solid #41b6a6;
  margin-top: 3px;
}

.customheader {
  // border-top: 1px solid #41b6a6;
  margin-top: 1px;
  border-radius: 0;
}

.titleText {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #4A4A4A;
}

.panel-header {
  min-height: 50px;
  background-color: rgba(65, 182, 166, 0.5) !important;
}

mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: initial;
  border-top-left-radius: initial;
}

.play-up-arrow {
  background-color: 16px solid #FD8F25;
  color: #FD8F25;
  padding-top: 8px;
  margin-left: 20px;
  margin-right: -4px;
  transform: rotate(61deg);
    font-size: 29px;


}

.play-down-arrow {
  background-color: 16px solid #FD8F25;
  color: #FD8F25;
  font-size: 45px;
  margin-right: -4px;
  margin-left: 20px;
  margin-top: -5px;
}

.panel-heading {
  padding: 22px 20px 22px 63px;
  text-align: left;
  background-color: rgba(65, 182, 166, 0.2);
  margin: 0px -24px;
  border-bottom: 1px solid #41b6a6;
}

.code {
  background-color: #41b6a6;
  width: 105%;
  margin-left: -26px;
  padding-top: 14px;
  padding-bottom: 10px;
  margin-top: 7px;
}

.table {
  --bs-table-accent-bg: none;
  width: 106%;
  margin-left: -25px;
  margin-top: 4px;
}

// .Trigger-content {
//   height: 454px;
// }

.btn-clinic {
  height: 45px;
  width: 150px;
}

.searchbtn {
  padding-left: 26px;
}

.FieldValid {
  border-radius: 83%;
  height: 22px;
  background: #64ab5b;
  color: #f7f2f2;
  text-align: center;
}
.table-borderless> :not(:first-child) {
  border-top-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: #41b6a6;
}

.field-align {
  margin-left: 25px;
}

::ng-deep .green-calendar.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  color: #41b6a6 !important;
  height: 45px;
}

.Cancelbtn {
  border-radius: 77%;
  background: #d64841 !important;
  color: #fff !important;
  font-size: 16px !important;
  margin-right: 20px !important;
  padding: 3px !important;
  border: 1px solid #d64841;
}

.Cancelbtn:hover {
  background: #fff !important;
  color: #d64841 !important;
}

.trigger-align {
  margin-top: 13px;
}
.title-heading {
  margin-top: 9px;
  margin-left: 10px;
}

.prevent-click {
  margin-top: -12px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.expansion-boder {
  border-bottom: 1px solid #41b6a6;
}

.text-border {
  height: 71px;
  border: 1px solid #41b6a6;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px 20px;
  resize: both;
  width: 100% !important;
}


::ng-deep .modal.new-alert-form {
  pointer-events: auto !important;
  // .modal-dialog {
  //   pointer-events: auto !important;
  //   max-width: 980px;
  // }
  input{
    height:25px;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 0.11em 0 0.89em 0 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix{
    top: 1px;
  }
  .realease-date .mat-icon-button.mat-button-base{
    border: 1px solid #41b6a6;
    border-radius: 0 5px 5px 0;
    padding: unset !important;
    margin: -5px 0 0 0;
    width: 45px !important;
    height: 45px !important;
    background: #41b6a6 !important;
  }

  .realease-date .mat-icon-button.mat-button-base svg.mat-datepicker-toggle-default-icon>path {
    fill: #fff !important;
    stroke: rgb(224, 220, 220) !important;
    stroke-linejoin: round !important;
    transition: d 0.2s !important;
  }

  .realease-date .mat-form-field-flex{
    padding-right: 0 ;
  }

  .triggeralignment.mat-select-panel {
    margin-top: 31px !important;
    max-height: 111px !important;
  }
  mat-select{
    height: 35px;
  }
  .mat-select-value{
    width:98%;
  }
  .mat-select-trigger{
    margin: 5px 0 5px 0;
  }
  .mat-select-arrow-wrapper{
    padding-top: 8px;
  }
}

.modal.TriggerModal {
  pointer-events: auto !important;
}


::ng-deep .trplaceholder .mat-select-placeholder {
  color: #41b6a6 !important;
}

::ng-deep .headerowalig {
  border: 1px solid #41b6a6;
  background-color: rgba(65, 182, 166, 0.2) !important;
  font-weight: 900;
}

.searchtable {
  width: 100%;
  border-left: none;
  border-right: none;

}

.headeralig {
  background-color: #fff;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 1px;
  margin: 10px 0px 10px 80px;
}

.cross-mark.error-close {
  background-color: rgb(253, 65, 65) !important;
  width: 25px;
  height: 24px;
  margin-left: 114px !important;
  border: 1px solid white !important;
  color: white !important;
  border-radius: 50% !important;
}

.error-close:hover {
  background-color: white !important;
  border: 1px solid rgb(253, 44, 44) !important;
  color: rgb(253, 44, 44) !important;

}
.not-allowed
{
  cursor: not-allowed;
}
mat-label{display: block;width: 100%;}
.scrollable-modal{
  height:850px;
}
.modal-content.Trigger-content
{
  height: auto;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  margin-top: 6px;
}
#modal-new-alert-form .modal-dialog{
  max-width: 750px;
}
.modal-body {
  max-height: calc(75vh - 180px);
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .scrollable-table.clinical-decision-table {
    width: 100%;
    overflow-x: auto;
  }
  .clinical-decision-table .table {
    width: 1300px;
  }
}
