<div class="card ">
  <div class="card-header bg-color">
    <h5 class="Helvetica-sans-serif-medium mt-2 Clinicalalignments">Clinical Decision Support</h5>
    <button class="plusicon" type="button" data-bs-toggle="modal" data-bs-target="#modal-new-alert-form"
      aria-expanded="false">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="row ">
      <div class="col-md-10">
        <p class="Helvetica-sans-serif-medium title-heading ">Turn all Accountable Care Organization Alerts on or off
          for all your patients</p>
      </div>
      <div class="col-md-2 d-flex justify-content-end">
        <button class="btn" type="button" [ngClass]="flag ? 'btn-open' : 'btn-of'" (click)="toggelAlterStatus(true)">On</button>
        <button class="btn" type="button" [ngClass]=" !flag ? 'btn-open' : 'btn-of'" (click)="toggelAlterStatus(false)">Off</button>
      </div>
    </div>
  </div>
  <div class="prevent-click" *ngIf="show">
    <div class="expansion-boder"></div>
    <mat-accordion class="prevent-click" style="border-top: 1px solid #41b6a6;">
      <mat-expansion-panel [disabled]="!item?.Active" [ngStyle]="!item?.Active?{'opacity': '0.75'} : {'opacity': '1'}"
        [expanded]="step === i" (opened)="step" class="customheader" hideToggle="true" #example
        *ngFor="let item of clinicalDecisionSupportList; let i=index" (opened)="onAlertOpened(item)">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <h1 class="number">{{i+1}}</h1>&nbsp;&nbsp;

            <h4 class="titleText">{{item.AlertName}} </h4>

          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end mb-2 mb-lg-0">
            <button class="btn" [ngClass]="item?.Active ?  'btn-on' : 'btn-off' " type="button"
              (click)="ToggleAlert(item,true,i)">On</button>
            <button class="btn" [ngClass]="!item?.Active ? 'btn-on' : 'btn-off' " type="button"
              (click)="ToggleAlert(item,false,i)">Off</button>

            <mat-icon class="play-up-arrow" *ngIf="!example.expanded">play_arrow</mat-icon>
            <mat-icon class="play-down-arrow" *ngIf="example.expanded">arrow_drop_down</mat-icon>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="row field-align col-md-12 pd-r-30">
            <mat-label class="mt-1 Helvetica-sans-serif-small required">Description</mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="" [(ngModel)]="item.Description">
            </mat-form-field>
          </div>

          <div class="row field-align  col-md-12 pd-r-30">
            <mat-label class="Helvetica-sans-serif-small required">Trigger Rule </mat-label>
            <mat-form-field appearance="outline">
              <mat-select required [(ngModel)]="item.Rule">
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-6">
                <p class="title trigger-align">Trigger Condition Builder</p>
              </div>
              <div class="col-lg-6">
                <button type="button" class="btn btn-green btn-clinic pull-right" data-bs-toggle="modal"
                  data-bs-target="#TriggerModal" (click)="newtrigger(item.AlertId)">
                  New Trigger
                </button>
              </div>
            </div>
          </div>
          <div class="scrollable-table clinical-decision-table">
            <table class="table table-borderless">
              <thead class="bg-color">
                <tr>
                  <td></td>
                  <td>
                    Category
                  </td>
                  <td>
                    Code
                  </td>
                  <td>
                    Code System
                  </td>
                  <td>
                    Description
                  </td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of item.Triggers">
                  <td></td>
                  <td>
                    {{data.Category}}
                  </td>
                  <td style="white-space: normal;">{{getCodes(data.Codes)}}</td>
                  <td></td>
                  <td (click)="EditTrigger(data)" data-bs-toggle="modal"
                  data-bs-target="#TriggerModal" style="color:#41b6a6">
                    {{data.Description}}</td>
                  <td (click)="DeleteTrigger(data.TriggerId)">
                    <mat-icon class="close-icon  Cancelbtn" style="cursor: pointer;">close
                    </mat-icon>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <br>
          <div class="row field-align  col-md-12 pd-r-30">
            <mat-label class="Helvetica-sans-serif-small">Resolution: </mat-label>

            <div class="col-md-12 mt-1">
              <textarea matInput class="text-border" placeholder="" [(ngModel)]="item.Resolution"></textarea>
            </div>

          </div>
          <div class="row field-align  col-md-12 pd-r-30">
            <mat-label class="Helvetica-sans-serif-small mt-2">Bibliography:</mat-label>
            <div class="col-md-12 mt-1">
              <!-- <textarea matInput
                placeholder=""value="{{item1.key}}"></textarea> -->
              <textarea class="text-border" matInput [(ngModel)]="item.Bibliography"></textarea>
            </div>
          </div>
          <div class="row field-align  col-md-12 pd-r-30">
            <mat-label class="Helvetica-sans-serif-small">Developer: </mat-label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="" [(ngModel)]="item.Developer">
            </mat-form-field>
          </div>
          <div class="row field-align  col-md-12 pd-r-30">
            <div class="col-md-2 mt-3">
              <mat-label class="Helvetica-sans-serif-small ">Funding Source:</mat-label>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="col-md-12">
                <input matInput placeholder="" [(ngModel)]="item.FundingSource">
              </mat-form-field>
            </div>

            <div class="col-md-2 mt-3">
              <mat-label class="Helvetica-sans-serif-small"> Release Date(s)</mat-label>
            </div>

            <mat-form-field appearance="outline" class="green-calendar col-md-4">
              <input matInput class="pointer" [matDatepicker]="dp" placeholder="" [(ngModel)]="item.ReleaseAt"
                (click)="dp?.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="dp">
                <button _ngcontent-mqh-c316="" aria-hidden="true" class="is-primary button fa fa-calendar"></button>
              </mat-datepicker-toggle>
              <mat-datepicker #dp disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-12 pd-r-30">
            <button class="btn btn-danger btn-clinic pull-left" type="button" *ngIf="!item.IsSystemCreatedCDS"
            (click)="DeleteAlert(item)">Delete</button>
          <button class="btn btn-green btn-clinic pull-right" type="button" *ngIf="!item.IsSystemCreatedCDS"
            (click)="InsertUpadateClincialDecisionSupport(item)">Save</button></div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="text-center py-2 col-12" *ngIf="clinicalDecisionSupportList.length == 0">
      <h6 class="Helvetica-sans-serif-medium" style="color: red;"> Clinical Decision Support Alerts Not Found</h6>
    </div>
  </div>
</div>

<!-- Add New Altert Modal -->
<div class="modal fade " id="modal-new-alert-form" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header Helvetica-sans-serif-medium" style="margin-top: -1px;margin-right: -1px;">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add new alert</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="resetAlert()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <mat-label class="required">Alert Name</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.AlertName" placeholder="Alert Name"
              required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Description</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Description" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Description" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Resolution</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Resolution" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Resolution" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Bibliography</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Bibliography" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Bibliography" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Developer</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="Developer" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.Developer" required>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-md-2">
            <mat-label>Funding Source:</mat-label>
          </div>
          <mat-form-field appearance="outline" class="col-md-4">
            <input matInput placeholder="Funding Source" mouse-over-hint tickImagePath="assets/images/tick-mark.svg"
              crossImagePath="assets/images/cross-mark.svg" [(ngModel)]="newAlert.FundingSource" required>
          </mat-form-field>
          <div class="col-md-2">
            <mat-label>Release Date(s)</mat-label>
          </div>
          <mat-form-field appearance="outline" class="green-calendar col-md-4">
            <input matInput class="pointer" [matDatepicker]="dp1" required placeholder="Release Date"
              (click)="dp1.open()" readonly [(ngModel)]="newAlert.ReleaseAt">
            <mat-datepicker-toggle matSuffix [for]="dp1">
            </mat-datepicker-toggle>
            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="required">Trigger Rule
          </mat-label>
          <mat-form-field appearance="outline" class="col-md-12 trplaceholder">
            <mat-select panelClass="triggeralignment" required placeholder="Trigger Rule" [(ngModel)]="newAlert.Rule">
              <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                {{trigger.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-green btn-clinic" data-bs-dismiss="modal"
          (click)="InsertUpadateClincialDecisionSupport(newAlert)" [disabled]="enableSave()">Add New Alert</button>
      </div>
    </div>
  </div>
</div>


<!-- TriggerModal -->
<div class="modal  TriggerModal" id="TriggerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content Trigger-content scrollable-modal ">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">{{triggerTitle}}</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close"
          (click)="resetTrigger()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div>
          <mat-label class="required">Category</mat-label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 mat-field-no-round-right mt-4">
          <medical-code-container [codeSystems]="codeSystemsForClinicalDecision"
            (optionChanged)="optionChangedForTrigger($event)" [MinTermLength]="3" [showSelectedValue]="true"
            [(Value)]="selectedCodeSystemValue">
          </medical-code-container>
        </div>

        <mat-table mat-table [dataSource]="codesBehaviour" id="procedure-table" class="tbl-trigger-codes">
          <ng-container matColumnDef="CODE">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first">Code</p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span>{{ item.Code }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="DESCRIPTION">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first">Description</p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span>{{ item.Description }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="CODE SYSTEM">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first">CodeSystem</p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <span>{{ item.CodeSystem }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <mat-header-cell *matHeaderCellDef>
              <p class="text-capitalize-first"></p>
            </mat-header-cell>
            <mat-cell *matCellDef="let item; let i = index; ">
              <button type="button" class="btn cross-mark error-close" (click)="removeTriggerCode(item,i)"
                title="Delete recommended Procedure">x</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="clinicalDecisionSearchColumns"></mat-header-row>
          <mat-row *matRowDef=" let row; let i = index; columns: clinicalDecisionSearchColumns" class="headerowalig">
          </mat-row>
        </mat-table>

        <div>
          <div class="row">
            <mat-label class="required">Description</mat-label>
            <mat-form-field appearance="outline" class="col-md-12">
              <input matInput placeholder="" [(ngModel)]="alertTrigger.Description">
            </mat-form-field>
          </div>
          <br>
          <mat-label class="required">Condition</mat-label>

          <mat-form-field appearance="outline" class="col-md-12 col-12">
            <input matInput placeholder="" [(ngModel)]="alertTrigger.Condition">
          </mat-form-field>
        </div>


      </div>
      <div class="modal-footer">

        <button class="btn btn-green btn-clinic " type="button" data-bs-dismiss="modal" *ngIf="!alertTrigger.IsSystemCreatedCDS"
           [disabled]="enableTriggerSave()" (click)="CreateTrigger()">{{actionButtonTitle}}</button>
      </div>
    </div>
  </div>
</div>
