@import "../../../assets/common.scss";

.card-body .cstm-height {
  min-height: 435px;
}

.card-header {
  min-height: 50px !important;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2;
  font-size: 15px;
  font-family: Roboto;
}

.erx-controls .input-group-text {
  border-top-right-radius: 2;
  border-bottom-right-radius: 0;
  width: 145px;
  background-color: #41b6a6;
  color: #fff;
  // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-family: Roboto;
}

.erx-controls .input-group {

  width: 100%;
  height: 45px;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #f5f5f5 !important;
}

.erx-controls .form-control {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 0px;
  background-color: #f5f5f5;
  opacity: 0.5;
  cursor: not-allowed;
}

.erx-controls .input-group-text {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-lg {
  width: 150px;
  height: 45px;
  padding-top: 12px;
}

.keyhide {
  padding-top: 15px;
  font-size: 14px;
  color: #4A4A4A;
}

.keyhide:hover {
  opacity: 0.75;
  cursor: pointer;
}

.erx-wrapper h5 {
  font-weight: 500;
}

.input-group>.form-control.clinickey {
  font-size: 22px;
}

.input-group>.form-control {
  font-size: 16px;
}

.form-control::placeholder {
  color: #6d6e71;
}


.ehi-export .input-group-text {
  border-top-right-radius: 2;
  border-bottom-right-radius: 0;
  width: 155px;
  background-color: #41b6a6;
  color: #fff;
  // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-family: Roboto;
}

.ehi-export .input-group {

  width: 100%;
  height: 45px;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #f5f5f5 !important;
}

.ehi-export .form-control {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 0px;
  background-color: #f5f5f5;
  opacity: 0.5;
}

.ehi-export .btn-green{
  font-size: 16pt;
}

.ehi-export .input-group-text {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.selected-patient{
  background-color: #eeeeee;
  margin: 20px 0;
  legend {
    background-color: #41b6a6;
    color: white;
    padding: 5px 10px;

    .close-button {
      float : right;
      //display:inline-block;
      border: #41b6a6;
      border-radius: 5px;
      background: transparent;
      color: white;

      &:hover{
        background:white;
        color:#41b6a6;
      }
    }
  }
  .view{
    display:inline-flex;
    padding: 5px  0;
  }
  .row-view{
    padding: 5px  10px;
    display: grid;
    font-size: 1.1rem;
    label{
      padding:0 10px;

    }
    span{
      padding:0 10px;
      color: #41b6a6;
    }
  }
}
