<div class="patient-material">
  <div class="row">
    <!-- Display Practice -->
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="Helvetica-sans-serif-medium text-white mt-1">Patient Education Material</span>
          <button class="plusicon" type="button" data-bs-toggle="modal" data-bs-target="#modal-Patient-Education"
            aria-expanded="false">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="card-body">
          <div fxLayout="column">
            <mat-accordion [displayMode]="'flat'">
              <mat-expansion-panel class="expansion" *ngFor="let item of Patientedmateriallist; let i =index"
                [expanded]="indexExpanded == i " disabled="true" hideToggle="true" #example>
                <mat-expansion-panel-header [ngClass]="!expandedchangecolor?'open-exp':'close-exp'">
                  <mat-icon class="play-left-arrow" (click)="togglePanels(i)" *ngIf="!example.expanded">play_arrow
                  </mat-icon>
                  <mat-icon class="play-down-arrow" (click)="togglePanels(i)" *ngIf="example.expanded">arrow_drop_down
                  </mat-icon>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <section style="margin-top: 10px;">
                    <p class="title" fxFlex="20" (click)="togglePanels(i)"><b>{{item.Name}}</b></p>
                  </section>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-icon class="editicon" type="button" data-bs-toggle="modal"
                    data-bs-target="#modal-Patient-Education" (click)="editEducationMaterial(item)">
                    edit</mat-icon>
                </mat-expansion-panel-header>
                <div class="expansion-title">
                  <table>
                    <tr>
                      <th>CODE:</th>
                      <td>{{item.Code}}({{item.CodeSystem}})</td>
                    </tr>
                    <tr>
                      <th>Resource Notes:</th>
                      <td>{{item.ResourceNotes}}</td>
                    </tr>
                    <!-- <tr>
                      <th>Attachments:</th>
                      <td><b>-</b><a href="#"
                          class="mx-2">aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=9be1097aaa5b0933a727b46a05d798f008ff20a785c8081883482856f6396544</a>
                      </td>
                    </tr> -->
                  </table>
                </div>
              </mat-expansion-panel>
              <div class="text-center py-2 col-12" *ngIf="Patientedmateriallist.length == 0">
                <h6 class="Helvetica-sans-serif-medium" style="color: red;"> No Education Materials Found.</h6>
              </div>
            </mat-accordion>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal Patient-Education " id="modal-Patient-Education" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="Helvetica-sans-serif-medium">
          {{educationMaterialCode?.EducationalId == null ? 'Add Patient Education Material' : 'View Patient Education
          Material'}}
        </span>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close"
          style="border: 1px solid #fff;" (click)="resetDialog()">
          X
        </span>
      </div>
      <div class="modal-body scrollbar">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12 ">
            <medical-code-container [codeSystems]="codeSystemsForPatientEducation"
              (optionChanged)="optionChangedForPed($event)" [MinTermLength]="3" placeholder="SNOMED"
              [showSelectedValue]="true"></medical-code-container>
          </div>
        </div>
        <div class="scrollable-mat-table">
          <mat-table mat-table [dataSource]="patientEducationSearchList" id="procedure-table" class="">
            <ng-container matColumnDef="CODE">
              <mat-header-cell *matHeaderCellDef>
                <p class="text-capitalize-first"></p>
              </mat-header-cell>
              <mat-cell *matCellDef="let item">
                <span>{{ item.Code }}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="CODE SYSTEM">
              <mat-header-cell *matHeaderCellDef>
                <p class="text-capitalize-first"></p>
              </mat-header-cell>
              <mat-cell *matCellDef="let item">
                <span>{{ item.CodeSystem }}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="DESCRIPTION">
              <mat-header-cell *matHeaderCellDef>
                <p class="text-capitalize-first"></p>
              </mat-header-cell>
              <mat-cell *matCellDef="let item">
                <span>{{ item.Name}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Delete">
              <mat-header-cell *matHeaderCellDef>
                <p class="text-capitalize-first"></p>
              </mat-header-cell>
              <mat-cell *matCellDef="let item; let i = index; ">
                <button type="button" class="btn cross-mark error-close-ped" (click)="removePatientEdM(item,i)"
                  title="Delete recommended Procedure">x</button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="patientEdMaterialSearchColumns"></mat-header-row>
            <mat-row *matRowDef=" let row; let i = index; columns: patientEdMaterialSearchColumns
            " class="headerowalig"></mat-row>
          </mat-table>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-label> Code System :</mat-label>
            <mat-form-field appearance="outline" class="col-md-12">
              <input matInput placeholder="" [(ngModel)]="educationMaterialCode.CodeSystem" readonly disabled
                class="inputfeildisable">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-label> Code</mat-label>
            <mat-form-field appearance="outline" class="col-md-12">
              <input matInput placeholder="" [(ngModel)]="educationMaterialCode.Code" readonly disabled
                class="inputfeildisable">
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <mat-label>Name:</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="" [(ngModel)]="educationMaterialCode.Name" readonly disabled
              class="inputfeildisable">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-label class="col-12">Resource Notes:</mat-label>
            <textarea class="col-12 text-area" [(ngModel)]="educationMaterialCode.ResourceNotes"></textarea>
          </div>
        </div>
        <div class="pattach">
          <div class="container-fluid">
            <div class="row">
              <!-- <div class="col-md-1"></div> -->
              <div class="col-md-10">
                <p class="title mt-3"><b>Attachments:</b></p>
              </div>
              <div class="col-md-2 mt-2 ">
                <button class="plusicon icon-border pull-right" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <form [formGroup]="patientmaterialfrom">


          <div class="row">
            <div class="col-12">
              <mat-label class="col-12">Resource Notes:</mat-label>
              <textarea class="col-12 text-area" formControlName="resouceNote"></textarea>
            </div>
          </div>
          <div class="pattach">
            <div class="container-fluid">
            <div class="row">
              <!-- <div class="col-md-1"></div> -->
        <!-- <div class="col-md-10">
              <p class="title mt-3"><b>Attachments:</b></p>
            </div>
            <div class="col-md-2 mt-2 ">
              <button class="plusicon icon-border pull-right" type="button" (click)="attachements()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          </div>
          </div>
          <div formArrayName="attachments" class="row formarray">
            <div *ngFor="let atta of attachments.controls; let i=index ">
              <div [formGroupName]="i">
                <div class="row">
                  <div class="col-md-1  pt-2 pb-2">
                    <input type="file" formControlName="file">
                  </div>
                  <div class="col-md-10"></div>
                  <div class="col-md-1 pt-2 pb-2">
                    <mat-icon class="closefile" (click)="removeattachemnt(i)">close</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>  -->

      </div>
      <div class="modal-footer">
        <button mat-raised-button type="submit" class="btn btn-green searchnow  pull-right" data-bs-dismiss="modal"
          (click)="createUpadateEducationMaterial()">Save</button>
        <button mat-raised-button type="submit" class="btn btn-green searchnow  pull-right" data-bs-dismiss="modal"
          (click)="resetDialog()">Cancel</button>
      </div>
    </div>
  </div>
</div>