<div class="scrollable-container">
  <div class="content ">
    <div class="row denatal-chart-top">
      <!-- Display Practice -->
      <div class="col-lg-12 col-md-12">
        <div class="right-block mx-2">
          <div class="card">
            <div class="card-header">
              <p class="card-title Helvetica-sans-serif-medium">Practice Settings</p>
            </div>
            <div class="row top-header mt-5">
              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                <p class="text-center Helvetica-sans-serif-medium my-1">Time Zone:</p>
              </div>
              <div class="col-xl-6 col-lg-5 col-md-7 col-12 ">
                <select class="col-12 inputtimezone" [(ngModel)]="user.TimeZone" (change)="timeZoneChanged($event)">
                  <option *ngFor="let timezone of TimeZoneList" [value]="timezone.DisplayName">
                    {{timezone.DisplayName}}
                  </option>
                </select>
                <div class="mx-0 timezone">
                  <p class="time my-0 Helvetica-sans-serif-medium">Current Time : {{CurrentTime}}</p>
                  <p class="time my-0 Helvetica-sans-serif-small">Current UTC Time : {{UTCTime}}</p>
                </div>
              </div>
              <div class="col-xl-4 col-lg-3 col-md-6 col-12 savebtnsize">
                <button type="submit" class="btn btn-green" (click)="updateTimeZone()">Save</button>
              </div>
            </div>
            <div class="colC">
              <div class="row panel-title practice-align bg-color m-0">
                <div class="col-xl-11 col-lg-9 col-md-8 col-12">Practice Locations</div>
                <div class="col-xl-1 col-lg-3 col-md-4 col-12">
                  <button class="plusicon pull-right" data-bs-toggle="modal"
                  data-bs-target="#practice-location-modal"
                    (click)="closePopup()">
                    <i class="fa fa-plus addlocation mx-1"></i>
                  </button>
                </div>
              </div>

              <div class="scrollable-mat-table">
                <mat-table class="table table-responsive practice-table-align" [dataSource]="locationdataSource">
                  <ng-container matColumnDef="Location">
                    <mat-header-cell *matHeaderCellDef>Location name</mat-header-cell>
                    <mat-cell *matCellDef="let loc"><span class="text-decoration ">
                        <a data-remote="true" data-bs-toggle="modal" class="cursorpointer"
                          data-bs-target="#practice-location-modal" (click)="editPracticeLocation(loc)">
                          {{loc.Location_Name}}</a></span></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Address">
                    <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                    <mat-cell class="address-oncursor" *matCellDef="let loc">{{loc.Location_Street_Address}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Phone">
                    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                    <mat-cell class="address-oncursor" *matCellDef="let loc">{{loc.Location_Phone}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Providers">
                    <mat-header-cell *matHeaderCellDef># of Providers</mat-header-cell>
                    <mat-cell class="address-oncursor" *matCellDef="let loc">{{loc.providers}}</mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="locationColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: locationColumns"></mat-row>
                </mat-table>

              </div>
            </div>
            <div class="colC">
              <div class="">
                <div class="row panel-title practice-align bg-color m-0">
                  <div class="col-xl-2 col-lg-12 col-md-12 col-12 providerlabel">Users</div>
                  <div class="col-xl-4 col-lg-12 col-md-12 col-12 providerlabel">Practice ID#:
                    <u>{{user.UserId}}</u>
                  </div>
                  <div class="col-xl-5 col-lg-9 col-md-9 col-12 providerlabel">Practice Name:
                    {{user.BusinessName}}
                  </div>
                  <div class="col-xl-1 col-lg-3 col-md-3 col-12">
                    <button class="plusicon pull-right" data-bs-toggle="modal" data-bs-target="#user-modal">
                      <i class="fa fa-plus addprovider mx-1"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="scrollable-mat-table">

                <mat-table class="table table-responsive user-row-align" [dataSource]="providersDataSource">
                  <ng-container matColumnDef="Image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <span>
                        <img class="avatar avatar-empty mx-2" src="../../../assets/images/avatar-empty.svg"
                          alt="Avatar empty" width="32" height="32" style="border-radius: 36px ;background: #cfcaca;">
                      </span>
                    </mat-cell>
                  </ng-container>
                  <!--data-bs-toggle="modal" data-bs-target="#edit-user-modal"-->
                  <ng-container matColumnDef="FullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let user"><span class="text-decoration">
                        <a data-remote="true" class="cursorpointer"
                          (click)="openComponentDialog(userDialogComponent,user,ActionsType.view)">{{user.FirstName}}
                          {{user.LastName}}</a></span></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Role">
                    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.PracticeRole}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Space">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <mat-checkbox class="practice-users-checkbox" [(ngModel)]="user.Admin"
                        (ngModelChange)="toggleAdmin(user,$event)">
                        <span>Admin</span>
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <mat-header-cell class="justify-content-center" *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell class="justify-content-center" *matCellDef="let user">
                      <a role="button" (click)="toggleStatus(user,$event)"
                        [ngClass]="user.Active?'StatusActive':'inactive'">
                        <span *ngIf="user.Active">Active</span>
                        <span *ngIf="!user.Active">Inactive</span>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="EmergencyAccess">
                    <mat-header-cell class="justify-content-center" *matHeaderCellDef>Emergency Access</mat-header-cell>
                    <mat-cell class="justify-content-center" *matCellDef="let user">
                      <mat-checkbox [(ngModel)]="user.EmergencyAccess"
                        (ngModelChange)="toggleEmergencyAccess(user,$event)"></mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="providerColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: providerColumns"></mat-row>
                </mat-table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Location Modal Popup -->
  <div class="modal fade " id="practice-location-modal" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title Helvetica-sans-serif-medium" *ngIf="!displayforEditLocation">Add location</h4>
          <h4 class="modal-title Helvetica-sans-serif-medium" *ngIf="displayforEditLocation">Edit location</h4>
          <button type="button" class="btn cross-mark closemodel" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body bg-white scroolbar addlocationbody">
          <div class="mb-0">
            <div class="content">
              <div class="row-container">
                <div class="row">
                  <div class="col-12">
                    <div class="pull-right mb-2">
                      <input type="checkbox" class="mx-2" [checked]="PracticeLocData.locationprimary"
                        [(ngModel)] = "PracticeLocData.locationprimary"  />
                      <label class="mx-1 fs-6">Primary Location</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon labelclass form-control">Location Name*</span>
                        <input class="form-control mx-0 inputclass" type="text"
                          [(ngModel)]="PracticeLocData.LocationName" id="locationName" name="locationName"
                          placeholder="Location Name"
                          #locationName="ngModel" required pattern="[a-zA-Z ]*" />
                      </div>
                      <div *ngIf="locationName.errors && (locationName.touched)">
                        <div class="error_message" *ngIf="locationName.errors?.required">
                          <span class="e_arrow"></span>
                          <i>Please enter Location Name</i>
                        </div>
                        <div class="error_message" *ngIf="locationName.errors?.pattern">
                          <span class="e_arrow"></span>
                          <i>Location name not valid, Use only Alphabets and space</i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="input-group input-group-phone">
                        <span class="input-group-addon labelclass form-control">Phone Number</span>
                        <input class="form-control mx-0 inputclass" placeholder="Cell Phone" type="tel" prefix="+1"
                          [(ngModel)]="PracticeLocData.LocationPhone" mask=" (000) 000-0000" [showMaskTyped]="true"
                          [patterns]="PhonePattern" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="input-group input-group-phone">
                        <span class="input-group-addon labelclass form-control">Fax</span>
                        <input class="form-control mx-0 inputclass" placeholder="Cell Phone" type="tel" prefix="+1"
                          [(ngModel)]="PracticeLocData.Fax" mask=" (000) 000-0000" [showMaskTyped]="true"
                          [patterns]="PhonePattern" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row-container my-2">
                <div class="left-block" id="signup-wrapper-patient"><input class="hidden validate user_street_address"
                    aria-label="street" type="hidden" name="location[street_address]" id="location_street_address">
                  <div class="row profile-block-body">
                    <div class="col-lg-12">
                      <div class="form-group my-3"><label>ADDRESS</label></div>
                      <div class="row">
                        <div class="col-lg-8 col-md8 col-sm-8">
                          <div class="form-group">
                            <input  [disabled]="disableaddressverification"
                              placeholder="Enter Full Address here" class="form-control mx-0 my-2 inputclass"
                              [(ngModel)]="PracticeLocData.Street" #Address />
                          </div>
                          <h6 class="Helvetica-sans-serif-small">Enter Address - Street Address, City, State, Zipcode
                          </h6>
                        </div><!-- data-bs-toggle="modal" data-bs-target="#practice-location-modal"-->
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="form-group">
                            <button type="button" [disabled]="PracticeLocData.Street=='' || disableaddressverification"
                              (click)="AddressVerification()" class="btn btn-green btn-lg mt-2">VERIFY</button>
                          </div>
                        </div>
                      </div>
                      <div class="row my-3 street-add showAddressfield">
                        <div class="col-lg-9 col-md-8 col-sm-9 patient-street-address">
                          <div class="form-group">
                            <div class="input-group"> <span class="input-group-addon labelclass form-control">Street
                                Address</span>
                              <input [readonly]="!disableaddressverification" placeholder="Street Address"
                                style="background: white" class="form-control mx-0 inputclass"
                                [(ngModel)]="PracticeLocData.StreetAddress" #streetAddress />
                              <button type="button" class="btn cross-mark error-close"
                                *ngIf="addressVerfied && !manuallybtn"
                                (click)="enableManualEntry()" title="Can enter manully when the verification results are in correct by clicking this icon">x</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-9 patient-street-address">
                          <div class="form-group">
                            <button class="btn-green btn manualbtn  py-0 btn-lg btn-md"
                              *ngIf="manuallybtn || disableaddressverification"
                              (click)="enterAddressManually()">Enter
                              Address
                              Manually</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon labelclass form-control">City</span>
                          <input
                            [readonly]="!disableaddressverification" class="string required inputbg form-control mx-0"
                            type="text" name="City" id="City" [(ngModel)]="PracticeLocData.City">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 my-2 my-md-0">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon labelclass form-control">State</span>
                          <input [readonly]="!disableaddressverification"
                            class="string required inputbg form-control mx-0" type="text" name="State" id="State"
                            [(ngModel)]="PracticeLocData.State">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon labelclass form-control">Zip</span>
                          <input class="form-conrtol" [readonly]="!disableaddressverification"
                            class="string required inputbg form-control mx-0" type="text" name="Zip" id="Zip"
                            [(ngModel)]="PracticeLocData.Zipcode">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <div class="row-container my-2">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group"><label>Organization NPI:</label>
                      <input class="form-control mt-1 mx-0 inputclass" type="text" [(ngModel)]="PracticeLocData.NPI">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group"><label>Rendering NPI:</label>
                      <input class="form-control mt-1 mx-0 inputclass" type="text"
                        [(ngModel)]="PracticeLocData.RenderNPI">
                    </div>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group"><label>TIN/EIN:</label>
                      <input class="form-control mt-1 mx-0 inputclass" type="text" [(ngModel)]="PracticeLocData.Tin">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row-container location-select">
                <div class="row my-3">
                  <div class="col-lg-2 col-md-2 col-sm-2"></div>
                  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-lg-offset-left-10 text-center ">
                    <label>Open:</label>
                  </div>
                  <div class="form-group collabel-lg-3 col-md-3 col-sm-3 col-lg-offset-left-10 text-center">
                    <label>Closed:</label>
                  </div>
                  <div class="col-lg-4"></div>
                </div>
                <div class="row">
                  <input value="sunday" class="hidden" type="hidden" name="location[timeslots_attributes[0]][weekday]"
                    id="location_timeslots_attributes_0__weekday">
                  <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                    <p class="weeks">Sunday</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input name="time" class="col-12 inputclass" placeholder="03:00 PM"
                        [(ngModel)]="PracticeLocData.SunOpenTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Sunday-Opening</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.SunOpenTime"
                        [ngxMatTimepicker]="sunopenpicker"
                          format="12">
                        <ngx-mat-timepicker #sunopenpicker></ngx-mat-timepicker>

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="09:00 PM"
                        [(ngModel)]="PracticeLocData.SunCloseTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Sunday-Closing</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.SunCloseTime"
                        [ngxMatTimepicker]="sunclosepicker"
                          format="12">
                        <ngx-mat-timepicker #sunclosepicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                      <select class="col-12 inputclass" [(ngModel)]="PracticeLocData.SunDDL">
                        <option value="Specific Hours" selected>Specific Hours</option>
                        <option value="Closed/NA">Closed/NA</option>
                        <option value="Open 24 Hrs">Open 24 Hrs</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row my-3">
                  <input value="monday" class="hidden" type="hidden" name="location[timeslots_attributes[1]][weekday]"
                    id="location_timeslots_attributes_1__weekday">
                  <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                    <p class="weeks">Monday</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="03:00 PM"
                        [(ngModel)]="PracticeLocData.MonOpenTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Monday-Opening</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.MonOpenTime"
                        [ngxMatTimepicker]="monopenpicker"
                          format="12">
                        <ngx-mat-timepicker #monopenpicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="09:00 PM"
                        [(ngModel)]="PracticeLocData.MonCloseTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Monday-Closing</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.MonCloseTime"
                        [ngxMatTimepicker]="monclosepicker"
                          format="12">
                        <ngx-mat-timepicker #monclosepicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                      <select class="col-12 inputclass" [(ngModel)]="PracticeLocData.MonDDL">
                        <option value="Specific Hours" selected>Specific Hours</option>
                        <option value="Closed/NA">Closed/NA</option>
                        <option value="Open 24 Hrs">Open 24 Hrs</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row my-3"><input value="tuesday" class="hidden" type="hidden"
                    name="location[timeslots_attributes[2]][weekday]" id="location_timeslots_attributes_2__weekday">
                  <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                    <p class="weeks">Tuesday</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="03:00 PM"
                        [(ngModel)]="PracticeLocData.TueOpenTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Tuesday-Opening</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.TueOpenTime"
                        [ngxMatTimepicker]="tueopenpicker"
                          format="12">
                        <ngx-mat-timepicker #tueopenpicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="09:00 PM"
                        [(ngModel)]="PracticeLocData.TueCloseTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Tuesday-Closing</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.TueCloseTime"
                        [ngxMatTimepicker]="tueclosepicker"
                          format="12">
                        <ngx-mat-timepicker #tueclosepicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                      <select class="col-12 inputclass" [(ngModel)]="PracticeLocData.TueDDL">
                        <option value="Specific Hours" selected>Specific Hours</option>
                        <option value="Closed/NA">Closed/NA</option>
                        <option value="Open 24 Hrs">Open 24 Hrs</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row my-3"><input value="wednesday" class="hidden" type="hidden"
                    name="location[timeslots_attributes[3]][weekday]" id="location_timeslots_attributes_3__weekday">
                  <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                    <p class="weeks">Wednesday</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="03:00 PM"
                        [(ngModel)]="PracticeLocData.WedOpenTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Wednesday-Opening</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.WedOpenTime"
                        [ngxMatTimepicker]="wedopenpicker"
                          format="12">
                        <ngx-mat-timepicker #wedopenpicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="09:00 PM"
                        [(ngModel)]="PracticeLocData.WedCloseTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Wednesday-Closing</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.WedCloseTime"
                        [ngxMatTimepicker]="wedclosepicker"
                          format="12">
                        <ngx-mat-timepicker #wedclosepicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                      <select class="col-12 inputclass" [(ngModel)]="PracticeLocData.WedDDL">
                        <option value="Specific Hours" selected>Specific Hours</option>
                        <option value="Closed/NA">Closed/NA</option>
                        <option value="Open 24 Hrs">Open 24 Hrs</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row my-3"><input value="thursday" class="hidden" type="hidden"
                    name="location[timeslots_attributes[4]][weekday]" id="location_timeslots_attributes_4__weekday">
                  <div class="col-lg-2 col-md-2 col-sm-2 mx-0 mt-3 week">
                    <p class="weeks">Thursday</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group ">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="03:00 PM"
                        [(ngModel)]="PracticeLocData.ThursOpenTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Thursday-Opening</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.ThursOpenTime"
                        [ngxMatTimepicker]="thuropenpicker"
                          format="12">
                        <ngx-mat-timepicker #thuropenpicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="09:00 PM"
                        [(ngModel)]="PracticeLocData.ThursCloseTime"> -->
                      <mat-form-field appearance="outline">
                        <mat-label>Thursday-Closing</mat-label>
                        <input matInput [(ngModel)]="PracticeLocData.ThursCloseTime"
                        [ngxMatTimepicker]="thurclosepicker"
                          format="12">
                        <ngx-mat-timepicker #thurclosepicker></ngx-mat-timepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                      <select class="col-12 inputclass" [(ngModel)]="PracticeLocData.ThursDDL">
                        <option value="Specific Hours" selected>Specific Hours</option>
                        <option value="Closed/NA">Closed/NA</option>
                        <option value="Open 24 Hrs">Open 24 Hrs</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row my-3">
                  <input value="friday" class="hidden" type="hidden" name="location[timeslots_attributes[5]][weekday]"
                    id="location_timeslots_attributes_5__weekday">
                  <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                    <p class="weeks">Friday</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="03:00 PM"
                        [(ngModel)]="PracticeLocData.FriOpenTime"> -->
                        <mat-form-field appearance="outline">
                          <mat-label>Friday-Opening</mat-label>
                          <input matInput [(ngModel)]="PracticeLocData.FriOpenTime"
                          [ngxMatTimepicker]="friopenpicker"
                            format="12">
                          <ngx-mat-timepicker #friopenpicker></ngx-mat-timepicker>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="09:00 PM"
                        [(ngModel)]="PracticeLocData.FriCloseTime"> -->
                        <mat-form-field appearance="outline">
                          <mat-label>Friday-Closing</mat-label>
                          <input matInput [(ngModel)]="PracticeLocData.FriCloseTime"
                          [ngxMatTimepicker]="friclosepicker"
                            format="12">
                          <ngx-mat-timepicker #friclosepicker></ngx-mat-timepicker>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                      <select class="col-12 inputclass" [(ngModel)]="PracticeLocData.FriDDL">
                        <option value="Specific Hours" selected>Specific Hours</option>
                        <option value="Closed/NA">Closed/NA</option>
                        <option value="Open 24 Hrs">Open 24 Hrs</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mt-3"><input value="saturday" class="hidden" type="hidden"
                    name="location[timeslots_attributes[6]][weekday]" id="location_timeslots_attributes_6__weekday">
                  <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                    <p class="weeks">Saturday</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="03:00 PM"
                        [(ngModel)]="PracticeLocData.SatOpenTime"> -->
                        <mat-form-field appearance="outline">
                          <mat-label>Saturday-Opening</mat-label>
                          <input matInput [(ngModel)]="PracticeLocData.SatOpenTime"
                          [ngxMatTimepicker]="satopenpicker"
                            format="12">
                          <ngx-mat-timepicker #satopenpicker></ngx-mat-timepicker>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <!-- <input type="text" class="col-12 inputclass" placeholder="09:00 PM"
                        [(ngModel)]="PracticeLocData.SatCloseTime"> -->
                        <mat-form-field appearance="outline">
                          <mat-label>Saturday-Closing</mat-label>
                          <input matInput [(ngModel)]="PracticeLocData.SatCloseTime"
                          [ngxMatTimepicker]="satclosepicker"
                            format="12">
                          <ngx-mat-timepicker #satclosepicker></ngx-mat-timepicker>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                      <select class="col-12 inputclass" [(ngModel)]="PracticeLocData.SatDDL">
                        <option value="Specific Hours" selected>Specific Hours</option>
                        <option value="Closed/NA">Closed/NA</option>
                        <option value="Open 24 Hrs">Open 24 Hrs</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="modal-footer">
          <div class="row mb-3 mt-1 mx-3">
            <div class="col-md-12 locationbtns">
              <!-- <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-lg btn-danger col-xl-3 col-lg-4 col-md-4 col-10 mx-4" *ngIf="displayforEditLocation"
                (click)="deleteLocation()">
                Delete
              </button>
            </div> -->
              <div class="d-flex ">
                <button type="button" class="btn btn-danger btn-p-l-d-padding col-xl-3 col-lg-4 col-md-4 col-5 mx-4"
                  *ngIf="displayforEditLocation && !PracticeLocData.locationprimary"
                  (click)="deleteLocation()" data-bs-dismiss="modal">
                  Delete
                </button>
                <button type="button" class="btn btn-green col-xl-4 col-lg-4 col-md-4 col-5 mx-4"
                  data-bs-dismiss="modal" (click)="updateLocation()">
                  Save Changes
                </button>
                <button type="button" class="btn btn-green btn-p-l-c-padding col-xl-3 col-lg-3 col-md-3 col-3 mx-1"
                  data-bs-dismiss="modal" (click)="clearPracticeLocation()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- address verification model -->
  <!-- <div class="modal" id="practice-address-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAddress}">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" [ngClass]="sucessdisplay?'addressInvalid':'addressSuccess'">
          <h3 *ngIf="!sucessdisplay">Success</h3>
          <h3 *ngIf="sucessdisplay">Invalid Address</h3>
          <button type="button" *ngIf="!sucessdisplay" class="btn btn-lg btn-green adrsbtn"
            (click)="closePopupAddress()">
            X
          </button>
          <button type="button" *ngIf="sucessdisplay" class="btn btn-lg btn-green erroclose"
            (click)="closePopupAddress()">
            X
          </button>

        </div>
        <div class="modal-body">
          <div class="row">
            <h4 class="text-center" style="margin-top: 1rem;margin-bottom: 2rem;">
              {{addressVerifymsg}}</h4>
            <div class="col-lg-12 col-md-4 col-sm-4">
              <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=565>
                <input type="text" [value]="addressdata" placeholder="address" matInput>
                <md-icon class="link" *ngIf="!sucessdisplay">
                  <a class="link" (click)="splitAddresses()">Use this</a>
                </md-icon>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div> -->

  <!-- Add User Modal Popup -->
  <div class="modal fade" id="user-modal" [ngStyle]="{'display':displayuser}" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <h4 class="modal-title Helvetica-sans-serif-medium">Add New User</h4>
          <button type="button" class="btn cross-mark closemodel" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-group">
                <div class="input-group">
                  <span class="labelclass form-control">First Name</span>
                  <input class="addfromdesign inputclass form-control mx-0" type="text"
                    [(ngModel)]="NewUserData.FirstName" id="firstName" name="firstName" #firstName="ngModel" required
                    pattern="[a-zA-Z ]*" />
                </div>
                <div *ngIf="firstName.errors && (firstName.touched)">
                  <div class="error_message" *ngIf="firstName.errors?.required">
                    <span class="e_arrow"></span>
                    <i>Please enter First Name</i>
                  </div>
                  <div class="error_message" *ngIf="firstName.errors?.pattern">
                    <span class="e_arrow"></span>
                    <i>First name not valid, Use only Alphabets and space</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 my-2">
              <div class="form-group">
                <div class="input-group">
                  <span class="labelclass form-control">Last Name</span>
                  <input class="addfromdesign inputclass form-control mx-0" type="text"
                    [(ngModel)]="NewUserData.LastName" id="lastName" name="lastName" #lastName="ngModel" required
                    pattern="[a-zA-Z ]*" />
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-group">
                <div class="input-group input-group-phone">
                  <span class="labelclass form-control">Email</span>
                  <input class="addfromdesign inputclass form-control mx-0" type="text" [(ngModel)]="NewUserData.Email"
                    id="email" name="email" #email="ngModel" required pattern="[a-zA-Z ]*" />
                </div>
              </div>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-6 col-md-6 col-12 my-2">
              <div class="form-group">
                <label>Provider Role:</label>
                <select class="col-12 inputclass providerrole" [(ngModel)]="NewUserData.PracticeRole">
                  <option value="" disabled selected hidden>User Role</option>
                  <option *ngFor="let pRole of providerRoles" [value]="pRole.Value">{{pRole.Name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 my-2">
              <div class="form-group">
                <label>Status:</label>
                <select aria-placeholder="Status" class="col-12 inputclass" [(ngModel)]="NewUserData.Active">
                  <option value="" disabled selected hidden>Status</option>
                  <option value="True">Enable</option>
                  <option value="False">Disable</option>
                </select>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-green" data-bs-dismiss="modal" (click)="updateUser('add')">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Change Password Modal -->
  <div class="modal fade" id="changepassword-modal" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="font-size: 18px;">Edits Password</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-4 col-sm-4">
              <div class="form-group">
                <input type="text" placeholder="Email" class="inputclass">
              </div>
            </div>

            <div class="col-lg-12 col-md-6 col-sm-4">
              <div class="form-group">
                <input type="text" placeholder="New Password" class="inputclass">
              </div>
            </div>

            <div class="col-lg-12 col-md-6 col-sm-4">
              <div class="form-group">
                <input type="text" placeholder="Confirm Password" class="inputclass">
              </div>
            </div>
          </div>
        </div>
        <div class="mx-2 my-2">
          <button type="button" class="btn w-25 pull-right btn-lg btn-green mx-3">Save
          </button>
        </div>

      </div>
    </div>
  </div>
