<div class="scrollable-container" id="practiceview">
  <div class="content ">
    <div class="row denatal-chart-top">
      <!-- Display Practice -->
      <div class="col-lg-12 col-md-12">
        <div class="right-block mx-2">
          <div class="card">
            <div class="card-header">
              <p class="row panel-title practice-align bg-color m-0" style="padding-top: 15px;">Practice Settings</p>
            </div>
            <div class="row top-header mt-5 mx-3 mx-md-0">
              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                <p class="text-center Helvetica-sans-serif-medium my-1">Time Zone:</p>
              </div>
              <div class="col-xl-6 col-lg-5 col-md-7 col-12">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="user.TimeZone" (change)="timeZoneChanged($event)">
                      <mat-option *ngFor="let timezone of TimeZoneList" [value]="timezone.DisplayName">
                        {{timezone.DisplayName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <select class="col-12 inputtimezone" [(ngModel)]="user.TimeZone" (change)="timeZoneChanged($event)">
                  <option *ngFor="let timezone of TimeZoneList" [value]="timezone.DisplayName">
                    {{timezone.DisplayName}}
                  </option>
                </select> -->
                <div class="mx-0 timezone">
                  <p class="time my-0 Helvetica-sans-serif-medium">Current Time : {{CurrentTime}}</p>
                  <p class="time my-0 Helvetica-sans-serif-small">Current UTC Time : {{UTCTime}}</p>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-11 col-12 savebtnsize">
                <button type="submit" class="btn btn-green pull-right" (click)="updateTimeZone()">Save</button>
              </div>
            </div>
            <div class="colC">
              <div class="row panel-title practice-align bg-color m-0">
                <div class="col-xl-11 col-lg-9 col-md-8 col-12" style="padding-top:5px">Practice Locations</div>
                <div class="col-xl-1 col-lg-3 col-md-4 col-12">
                  <button class="plusicon pull-right"
                    (click)="openComponentDialog(locationDialogComponent,null,ActionsType.add)">
                    <i class="fa fa-plus addlocation mx-1"></i>
                  </button>
                </div>
              </div>
              <div class="scrollable-mat-table">
                <mat-table class="table table-responsive practice-table-align" [dataSource]="locationdataSource">
                  <ng-container matColumnDef="Location">
                    <mat-header-cell *matHeaderCellDef>Location name</mat-header-cell>
                    <mat-cell *matCellDef="let loc"><span class="text-decoration ">
                        <a class="cursorpointer"
                          (click)="openComponentDialog(locationDialogComponent,loc,ActionsType.view)">
                          {{loc.LocationName}}</a></span></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Address">
                    <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                    <mat-cell class="address-oncursor" *matCellDef="let loc">
                      <span class="text-decoration ">
                        <a class="cursorpointer"
                          (click)="openComponentDialog(locationDialogComponent,loc,ActionsType.view)">
                          {{loc.Address}}</a></span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Phone">
                    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                    <mat-cell class="address-oncursor" *matCellDef="let loc">
                      <span class="text-decoration ">
                        <a class="cursorpointer"
                          (click)="openComponentDialog(locationDialogComponent,loc,ActionsType.view)">
                          {{loc.Phone}}</a></span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Providers">
                    <mat-header-cell *matHeaderCellDef># of Providers</mat-header-cell>
                    <mat-cell class="address-oncursor" *matCellDef="let loc">
                      <a class="cursorpointer"
                        (click)="openComponentDialog(locationDialogComponent,loc,ActionsType.view)">{{loc.Providers}}</a>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="locationColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: locationColumns"></mat-row>
                </mat-table>
                <div class="norecords-found" *ngIf="locationdataSource?.length == 0">
                  No Practice Locations Found
                </div>
              </div>
            </div>
            <div class="colC">
              <div class="">
                <div class="row panel-title practice-align bg-color m-0">
                  <div class="col-xl-2 col-lg-12 col-md-12 col-12 providerlabel" style="padding-top:5px">Users</div>
                  <div class="col-xl-4 col-lg-12 col-md-12 col-12 providerlabel" style="padding-top:5px">Practice ID#:
                    <u>{{user.UserId}}</u>
                  </div>
                  <div class="col-xl-5 col-lg-9 col-md-9 col-12 providerlabel" style="padding-top:5px">Practice Name:
                    {{user.BusinessName}}
                  </div>
                  <div class="col-xl-1 col-lg-3 col-md-3 col-12">
                    <button class="plusicon pull-right" data-bs-toggle="modal" data-bs-target="#user-modal">
                      <i class="fa fa-plus addprovider mx-1"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="scrollable-mat-table">

                <mat-table class="table table-responsive user-row-align" [dataSource]="providersDataSource">
                  <ng-container matColumnDef="Image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <a (click)="openComponentDialog(userDialogComponent,user,ActionsType.view)">
                        <img class="avatar avatar-empty mx-2" src="assets/images/avatar-empty.svg" alt="Avatar empty"
                          width="32" height="32" style="border-radius: 36px ;background: #cfcaca;">
                      </a>
                    </mat-cell>
                  </ng-container>
                  <!--data-bs-toggle="modal" data-bs-target="#edit-user-modal"-->
                  <ng-container matColumnDef="FullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let user"><span class="text-decoration">
                        <a data-remote="true" class="cursorpointer"
                          (click)="openComponentDialog(userDialogComponent,user,ActionsType.view)">{{user.FirstName}}
                          {{user.LastName}}</a></span></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Role">
                    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.PracticeRole}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Space">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <mat-checkbox class="practice-users-checkbox" [(ngModel)]="user.Admin"
                        (ngModelChange)="toggleAdmin(user,$event)">
                        <span>Admin</span>
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <mat-header-cell class="justify-content-center" *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell class="justify-content-center" *matCellDef="let user">
                      <a role="button" (click)="toggleStatus(user,$event)"
                        [ngClass]="user.Active?'StatusActive':'inactive'">
                        <span *ngIf="user.Active">Active</span>
                        <span *ngIf="!user.Active">Inactive</span>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="EmergencyAccess">
                    <mat-header-cell class="justify-content-center" *matHeaderCellDef>Emergency Access</mat-header-cell>
                    <mat-cell class="justify-content-center" *matCellDef="let user">
                      <mat-checkbox [(ngModel)]="user.EmergencyAccess"
                        (ngModelChange)="toggleEmergencyAccess(user,$event)"></mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="providerColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: providerColumns"></mat-row>
                </mat-table>
                <div class="norecords-found" *ngIf="providersDataSource?.length == 0">
                  No Users Found
                </div>
              </div>

            </div>
            <div class="row-contain linkrow">
              <a href="https://ehr1.online" target="_blank">C-CDA Portal</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Add User Modal Popup -->
<div class="modal fade" id="user-modal" [ngStyle]="{'display':displayuser}" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin-right:-1px;">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add New User</h4>
        <button type="button" class="btn cross-mark closemodel" data-bs-dismiss="modal" aria-label="Close"
          (click)="Close()">x</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="form-group">
              <div class="input-group">
                <label class="labelclass form-control required" required>First Name</label>
                <input class="addfromdesign inputclass form-control mx-0" type="text"
                  [(ngModel)]="NewUserData.FirstName" autocomplete="off" id="firstName" name="firstName"
                  #firstName="ngModel" required alphaOnly />
                </div>
                  <div *ngIf="firstName.errors && (firstName.touched)">
                    <div class="error_message" *ngIf="firstName.errors?.required">
                      <span class="e_arrow"></span>
                      <p class="errormessage">Please enter First Name</p>
                    </div>
                  </div>
            
             
             
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12 my-2">
            <div class="form-group">
              <div class="input-group">
                <label class="labelclass form-control">Last Name</label>
                <input class="addfromdesign inputclass form-control mx-0" type="text" [(ngModel)]="NewUserData.LastName"
                  id="lastName" name="lastName" autocomplete="off" #lastName="ngModel" required
                  alphaOnly />
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <div class="form-group">
              <div class="input-group input-group-phone">
                <label class="labelclass form-control required">Email</label>
                <input class="addfromdesign inputclass form-control mx-0" type="text" [(ngModel)]="NewUserData.Email"
                  id="email" name="email" autocomplete="off" #email="ngModel" required    pattern="^[A-Za-z0-9._-]+@[A-Za-z0-9._-]+\.[A-Za-z]{2,4}$" />
                <!-- ^[A-Za-z0-9._%-]+@[A-Za-z0-9._-]+\\.[a-z]{2,3}$ -->
              </div>
              <div *ngIf="email.errors && (email.touched)">
                <div class="error_message" *ngIf="email.errors.pattern">
                  <span class="e_arrow"></span>
                  <p class="errormessage">Enter email in correct format </p>
                </div>
          
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-12 my-2">
            <div class="form-group">
              <label class="required" required>Provider Role:</label>
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="NewUserData.PracticeRole" autocomplete="off" placeholder="User Role">
                  <mat-option *ngFor="let pRole of providerRoles" [value]="pRole.Value">{{pRole.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 my-2">
            <div class="form-group">
              <label>Status:</label>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Status" autocomplete="off" [(ngModel)]="NewUserData.Active">
                  <mat-option value="True">Enable</mat-option>
                  <mat-option value="False">Disable</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green" [disabled]="EnableSave()" data-bs-dismiss="modal"
          (click)="updateUser()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
