<div class="row settings-wrapper mt-2">
  <div class="col-xl-2 col-lg-3 col-md-12">
    <div class="left-block mx-2">
      <div class="colA" id="sidebar">
        <ul class="list-unstyled menuclass border pt-1" id="myDIV">
          <li [class]="viewModel.SubView !== 'practice' ? 'panel-heading2': 'active panel-heading2'">
            <a class="ptitle2" (click)="onChangeViewState('practice')" href="javascript:void(0)">Practice</a>
          </li>
          <li [class]="viewModel.SubView !== 'accesspermission' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('accesspermission')"
              href="javascript:void(0)">Access Permission</a>
          </li>
          <li [class]="viewModel.SubView !== 'schedule' ? 'panel-heading2': 'active panel-heading2'">
            <a class="ptitle2 m-0" (click)="onChangeViewState('schedule')" href="javascript:void(0)">Schedule</a>
          </li>
          <li [class]="viewModel.SubView !== 'erx' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('erx')" href="javascript:void(0)">eRx</a>
          </li>
          <li [class]="viewModel.SubView !== 'clinicdecision' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('clinicdecision')"
              href="javascript:void(0)">Clinical Decision Support</a>
          </li>
          <li [class]="viewModel.SubView !== 'patientednmaterial' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('patientednmaterial')"
              href="javascript:void(0)">Patient Education
              Materials</a>
          </li>
          <li [class]="viewModel.SubView !== 'auditlog' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('auditlog')" href="javascript:void(0)">Audit
              Log</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-block col-xl-10 col-lg-9 col-md-12 pt-3 pt-lg-0">
    <div class="col-12">
      <ng-template #settingsview></ng-template>
    </div>
    <!--<div class="col-12" [hidden]="viewModel.SubView !== 'practice'">
      <practice-settings></practice-settings>

    </div>
    <div class="col-12" [hidden]="viewModel.SubView !== 'accesspermission'">
      <access-permission-settings></access-permission-settings>
    </div>
    <div class="col-12" [hidden]="viewModel.SubView !== 'schedule'">
      <schedule-settings></schedule-settings>
    </div>
    <div class="col-12" [hidden]="viewModel.SubView !== 'erx'">
      <erx-settings></erx-settings>
    </div>
    <div class="col-12" [hidden]="viewModel.SubView !== 'clinicdecision'">
      <clinicdecision-settings></clinicdecision-settings>
    </div>
    <div class="col-12" [hidden]="viewModel.SubView !== 'patientednmaterial'">
      <patientednmaterial-settings></patientednmaterial-settings>
    </div>
    <div class="col-12" [hidden]="viewModel.SubView !== 'auditlog'">
      <auditlog-settings></auditlog-settings>
    </div> -->
  </div>
</div>
