@import "../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.panel-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #41b6a6;
  // color: white;
  border: #41b6a6;
  min-height: 50px;
  text-align: 10px;
  // padding: 14px 20px; // schedule panel
  padding: 10px 20px;
  font-size: 15px;
}
.ptitle {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  color: #41b6a6;
  border: #41b6a6;
  height: 60px;
  text-align: 10px;
  margin-top: -1px;
  padding: 12px;
  padding-bottom: 19px;
  font-size: 25px;
}
.ptitle:hover {
  color: black;
  background-color: #41b6a6;
}
.ptitle2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  color: #41b6a6;
  border: #41b6a6;
  height: 100%;
  text-align: left;
  margin-top: -4px;
  font-size: 25px;
}
.schedule-right-block{
  padding-left: 10px;
  padding-right: 20px;
}
@media (max-width: 768px){
  .schedule-right-block{
    padding: 0px 20px;
  }
}
.colB {
  min-height: 1500px;
}
.colF {
  min-height: 1120px;
}
.btnSave {
  width: 165px;
  height: 40px;
  font-size: 15px;
}
#general.btn-success{
  width: 165px !important;
}
#providerrooms.btn-success{
  min-width: 80px;
}
.btn:focus{
  box-shadow: none !important;
}
.btn-danger {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: red;
  background-color: white;
}
.btn-danger:hover {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: red;
  border-color: red;
}
.scroolbar {
  height: 800px;
  top: 84%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-y: scroll;
  background: white;
}
.colC {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 30px;
  border: 1px solid #41b6a6;
  border-radius: 3px;
}
.provider-rooms {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 20px;
  border: 1px solid #41b6a6;
  border-radius: 3px;
}
.general-content .schedule-section p.plabel{
  font-size: 16px;
  color: #4A4A4A;
  margin-bottom: 0;
}
.schedule-section {
  //padding: 20px 50px;
  padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (max-width: 1440px) {
  .schedule-section {
    padding: 20px 20px;
  }
  .patients-reschedule-time{
    margin: 20px 20px !important;
  }
}
@media (width: 1440px) {
  .schedule-section .cstm-location-section{
    width: 525px;
  }
  .schedule-section .cstm-room-section{
    width: 600px;
  }
  .schedule-section .cstm-loc-dropdown{
    width: 250px !important;
  }
}
.mat-header-row {
  font-size: 16px !important;
  background-color: #F7F7F7 !important;
  color: black !important;
  min-height: 50px;
  padding: 12px;
}
.mat-row:hover{
  background-color: white !important;
}
.mat-row{
  padding: 0px;
}
.modal-body {
  background-attachment: fixed;
  background: white;
}
.modal-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: #41b6a6;
  border-bottom: none;
  min-height: 50px;
  max-height: 50px;
  margin-top: -1px;
  margin-left: -1px;
}
.row-heading {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f6f6;
  color: #41b6a6;
  padding: 14px;
  font-size: 20px;
}

.labelclass {
  color: #74757e;
  font-size: 15px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.inputtimezone{
  height: 28px;
  background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
// .inputclass {
//   border-radius: 4px;
//   border: 1px solid #ebebeb;
//   padding: 0px 10px;
//   height: 45px;
//   color: #333333;
//   font-size: 15px;
//   background-color: #f5f5f5;
// }
// .inputclass:hover {
//   border: 1px solid #41b6a6;
// }
.schedule-inputclass {
  background-color: #fff;
  border: 1px solid #fff;
  // cursor: not-allowed !important;
  border-radius: 4px;
  padding: 0px 10px;
  height: 45px;
  font-size: 15px;
}
.schedule-inputclass:hover {
  background-color: #fff;
  border: 1px solid #d6d8df;
  cursor: not-allowed !important;
  border-radius: 4px;
  padding: 0px 10px;
  height: 45px;
  font-size: 15px;
}

// .form-group .input-group .input-group-addon {
//   padding: 15px 10px;
// }
// .form-group label {
//   padding-top: 10px;
//   font-size: 13px;
//   font-weight: 500;
//   font-family: 'Roboto';
// }
// .form-group {
//   display: flex;
//   flex-direction: column;
// }
.week {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#mySelectId {
  color: #41b6a6;
}
.option {
  width: 200px;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #2faa9a;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: #41b6a6 !important;
  border: 0;
  opacity: 2.25 !important;
}
// .crossbtn {
//   background-color: #41b6a6;
//   width: 25px;
//   height: 28px;
//   padding: 1px;
//   border: 1px solid white;
//   color: white;
// }

// .crossbtn:hover {
//   background-color: #64cfc1;
//   width: 25px;
//   padding: 0px;
//   border: 1px solid rgb(235, 231, 231);
// }
.plabel {
  // color: #4A4A4A;
  font-size: 15px; // schedule screen location
}
.modal-content {
  border: 1px solid rgb(65 182 166) !important;
}
.room-card {
  font-family: Roboto, "Helvetica Neue", sans-serif;
 // background-color: #41b6a6;
 // color: white;
  border: #41b6a6;
  min-height: 50px;
  font-size: 15px;
}
#Actbtn {
  font-size: 14px;
  min-width: 100px;
  width: 100%;
  //height: 25px;
  line-height: 7px;
}
.customCheck1 {
  padding: 20px;
  margin-top: 30px;
  margin-left: 30px;
}
.StatusActive span {
  background-color: #55b556;
  width: 100px;
  height: 32px;
  line-height: 35px !important;
  font-size: 15px;
  display: block;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px !important;
  border-color: #55b556;
  color: white;
  text-align: center;
}

.StatusActive span:hover {
  text-decoration: underline;
  text-decoration-color: white;
  background-color: #74d176 !important ;
}
.inactive span:hover {
  text-decoration: underline;
  text-decoration-color: white;
  background-color: #fc4a43 !important;
}
.inactive span {
  border-color: #ef352dd6;
  background-color: #eb342d !important;
  width: 100px;
  height: 32px;
  line-height: 35px !important;
  font-size: 15px;
  display: block;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px !important;
  color: white;
  text-align: center;
}
.text-decoration:hover {
  color: orange;
  text-decoration: underline;
}
input[type="checkbox"] {
  transform: scale(2);
  margin-left: 18px;
}
.addressSuccess {
  height: 55px;
  background: #48a948;
}
.addressInvalid {
  height: 55px;
  background: red;
}
.adrsbtn {
  background-color: #48a948;
  width: 25px;
  height: 28px;
  padding: 1px;
  border: 1px solid white;
  color: white;
}

.adrsbtn:hover {
  background-color: #48a948;
  width: 25px;
  padding: 0px;
  border: 1px solid white;
}
.erroclose {
  background-color: rgb(253, 65, 65);
  width: 25px;
  height: 28px;
  padding: 1px;
  border: 1px solid white;
  color: white;
}
.erroclose:hover {
  background-color: rgb(253, 44, 44);
  width: 25px;
  padding: 0px;
  border: 1px solid white;
}
.appointment {
  font-size: 20px;
}
.appointment-form {
  min-height: 150px;
  border: 1px solid #41b6a6;
  border-radius: 3px;
}
@media (max-width: 590px) {
  .appointment-form{
    width: 680px;
  }
  .cstm-appointment-status{
    overflow-x: auto;
  }
  .cstm-appointment-type{
    overflow-x: auto;
  }
}
.manuallbtn {
  white-space: normal !important;
  word-wrap: normal;
  width: 159px;
}
.circlecross {
  background-color: red;
  color: white;
  border-radius: 67px;
}
.btn1 {
  display: block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid red;
  background: red;
  color: white;
  text-align: center;
}
.link {
  margin-left: -45px !important;
  color: #41b6a6;
  cursor: pointer;
  font-size: 20px;
  text-decoration: underline;
}
[hidden] {
  display: none !important;
}
h6 {
  color: red !important;
  font-size: 13px;
}
.text-mute {
  color: #504b4b !important;
  font-size: 15px;
}
.StatusTable {
  width: 100%;
  border: 0px !important;
}
.StatusTable th {
  background: #41b6a6 !important;
}
.table-border {
  height: 100%;
}
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgb(65 182 166);
}

.modal .modal-dialog .modal-content .modal-header {
  padding: 20px 16px;
}
#practice-modal .modal-dialog {
  margin-top: 10px;
  max-width: 550px;
}
#edit-user-modal .modal-dialog {
  margin-top: 10px;
  max-width: 1005px;
}
.table > :not(caption) > * > * {
  box-shadow: inset 0 0 0 9999px var(--bs-white) !important;
}
.table > :not(:first-child) {
  border-top: 0px solid currentColor;
  border-bottom-color: #41b6a6 !important;
}
.mat-row:last-child{
  border-bottom: none !important;
}

.weeks {
  color: #74757e;
  font-size: 15px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

input.mat-input-element {
  color: #524f4f !important;
  // font-size: 18px !important;
}
.inputbg {
  background-color: #f5f5f5;
}

.privdertext {
  font-size: 16px;
}
.border {
  border: 1px solid #41b6a6 !important;
  border-radius: 3px;
}

.components {
  min-height: 1000px;
  border: 1px solid #41b6a6;
}
.Locationcolumn {
  margin-left: 30px;
}
ul.menuclass li{
  line-height: normal;
}
ul.menuclass li a {
  display: block !important;
  color: #41b6a6 !important;
  font-size: 16px !important;
  padding: 14px 20px 14px 7px !important;
  border-left: 13px solid transparent !important;
  transition: background-color 0.2s, color 0.1s, border-color 0.2s !important;
}
ul.menuclass li a:hover {
  border-color: #fe8f00 !important;
  background-color: #41b6a6 !important;
  color: #fff !important;
}
ul.menuclass li.active a {
  border-color: #fe8f00 !important;
  background-color: #41b6a6 !important;
  color: #fff !important;
}
.userfromPractable {
  border: 3px solid #2faa9a;
}
.fieldbgcolor {
  background-color: red !important;
}
.settings-label {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2px;
  font-weight: 700;
  color: #585656;
}
.modal:nth-of-type(even) {
  z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}

.SaveUserModel {
  margin-top: 320px;
  margin-left: 109px;
  width: 550px !important;
}
.SuccessUserModel {
  margin-top: 300px;
  width: 984px !important;
  margin-left: 800px;
  background-color: #dfdddd !important;
}
.successModeldesign {
  margin-left: -119px;
  width: 200px;
  background-color: #41b6a6 !important;
}
.usersuccessmsg {
  background-color: #48a948;
  color: white;
}
.addfromdesign {
  background: #ececec;
}
// ::ng-deep .mat-checkbox-checked.mat-accent {
//   .mat-checkbox-background,
//   .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//     background-color: rgb(243, 242, 242);
//     border-radius: 20% !important ;
//     border-color: rgb(151, 150, 150);
//     height: 19px;
//     width: 19px;
//   }
//   .mat-checkbox-checkmark-path {
//     stroke: grey !important;
//   }
// }
// ::ng-deep .example-margin:hover {
//   & .mat-checkbox-background,
//   .mat-checkbox-frame {
//     border-color: #41b6a6;
//   }
// }
// ::ng-deep .example-margin {
//   & .mat-checkbox-background,
//   .mat-checkbox-frame {
//     border-radius: 20% !important;
//     border-color: #cacaca;
//     background-color: #eeeaea;
//     border-width: 2px;
//     border-style: solid;
//     width: 19px;
//     height: 19px;
//   }
// }
// ::ng-deep .example-margin:hover {
//   & .mat-checkbox-background,
//   .mat-checkbox-frame {
//     border-color: #41b6a6;
//   }
// }
.cell-breakWord {
  word-wrap: break-word;
  white-space: normal !important;
}

.cursorpointer {
  color: black !important;
}
.cursorpointer:hover {
  cursor: pointer !important;
  color: #fe8f00 !important;
}
.address-oncursor:hover{
  cursor: pointer;
  color: #f58353;
}
.notallowCursor {
  cursor: not-allowed !important;
}
.top-block {
  font-size: 16px !important;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media (max-width: 1350px) {
  .scrollable-mat-table {
    max-width: 1200px;
    overflow-x: scroll !important;
  }
  .mat-table {
    width: 1200px;
    height: 500px;
  }
  .cstm-scroll-header {
    width: 100%;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .avatar.border {
    max-width: 500px;
  }
}
#user-modal .modal-footer {
  background-color: #fff;
  padding: 10px;
  border-top: none;
}
@media (max-width: 768px) {
  .addbtn {
    margin-right: 154px;
    margin-top: -23px;
  }
}

@media (max-width: 1024px) {
  .addbtn {
    margin-right: 154px;
    margin-top: -23px;
    height: 40px;
    width: 100px;
  }
}

@media (max-width: 1440px) {
  .addprovider {
    padding: 1px 22px;
  }
}
.addbtn {
  width: 88%;
}
.cursorallow {
  cursor: pointer;
}
.cursornotallow {
  cursor: not-allowed;
}
.main-info .row {
  padding-bottom: 20px;
}
.settings-wrapper{
  padding-left:5px;
  padding-right:5px;
  padding-top:10px;
}
.schedule-plusicon {
  border-radius: 5%;
  border: 1px solid #fff;
  background: #fff;
  width: 80px;
  height: 30px;
  text-align: center;
}
.schedule-plusicon:hover {
  background-color: #41b6a6;
  .fa-plus {
    color: #fff;
  }
}
.schedule-plusicon .fa-plus {
  padding: 2px;
  color: #41b6a6;
  font-size: 24px;
}

.cstm-border-bottom {
  margin-bottom: 10px;
  margin-top: -1px;
  border-top: 1px solid #41b6a6;
}
.cstm-padding{
  padding-left: 38px;
  padding-bottom: 10px;
}
.cstm-border-bottom-appointment{
  padding-bottom: 10px;
  padding-left: 60px;
  border-bottom: 1px solid #41b6a6;
}
@media (max-width: 767px){
  .cstm-padding {
    padding-left: 10px;
    padding-bottom: 10px;
  }}
.form-control.time {
  border: 1px solid #dedede;
  background-color: #f5f5f5;
  cursor: text !important;
  width: 120px;
  height: 45px;
  border-radius: 3px;
  padding: 8px 20px;
}
.form-control.time:hover{
  border: 1px solid #41b6a6;
}
@media (max-width: 1440px) {
  .provider-rooms {
    width: 1085px;
  }
  .scrollable-provider-rooms {
    overflow-x: auto;
  }
}
::ng-deep .color-picker{
    height: 270px !important;
    margin-top: -26px !important;
    top: initial !important;
    left: initial !important;
}
.cstm-color-picker{
  width: 25px;
  height: 25px;
  border: 0;
  margin-top: 20px;
  background: url(../../../assets/images/color-picker.png) 100%
    100% no-repeat;
  background-position: -80px 0;
}
body.loadactive {
  overflow: hidden !important;
}
.numeric.form-control{
  width: 67px;
  margin: 0px 8px;
  text-align: center;
  border: 1px solid #dedede;
  background-color: #f5f5f5;
  color: #74757E ;
  cursor: text !important;
  height: 45px;
  border-radius: 3px;
  margin-top: -10px;
  font-size: 16px;
}
@media (max-width: 1024px){
  .numeric.form-control{
    margin-top: 0px;
  }
}
.numeric.form-control:hover{
  border: 1px solid #41b6a6;
}
.patients-reschedule-time {
  margin: 0;
  margin-left: 32px;
  margin-top: 20px;
}
.patients-reschedule-time p{
  display: contents;
  font-size: 16px;
  color: #4A4A4A;
  margin-bottom: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type="time"]::-webkit-calendar-picker-indicator { background: none; display:none; }

// testing

.testing .form-group {
  margin-bottom: 20px !important;
}
.testing .radio-group-horizontal {
  width: 100%;
  display: table;
  font-size: 0;
}
.dib {
  display: inline-block;
}
.dib {
  padding: 4px 20px;
  text-align: center;
}
.testing p{
  font-size: 16px;
color: #4A4A4A;
margin-bottom: 0;
}
.radio-group-horizontal p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px 3px 0;
  height: 45px;
  min-height: 45px;
}
// common sweetalert
::ng-deep .swal2-styled.swal2-confirm {
  background-color: #fff !important;
  color: #41b6a6 !important;
  border: 1px solid #41b6a6 !important;
  width: 163px;
  padding: 0px;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  height: 45px;
}
::ng-deep .swal2-styled.swal2-confirm:focus{
  box-shadow: none;
}
::ng-deep .swal2-title {
  padding: 20px;
  background-color: #41b6a6;
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 200px;
  margin-bottom: 40px;
}
::ng-deep .swal2-actions{
  margin: 1.25em auto 60px;
}
::ng-deep .swal2-container.swal2-center > .swal2-popup {
  width: 600px;
  background: url(../../../assets/images/pro-reg-bg.png);
}
::ng-deep .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}
a.disabled{
  pointer-events: none;
  color:gray;
  opacity: 0.5;
}
.modal .modal-dialog .modal-content .modal-body.addlocationbody {
  padding: 25px 25px 0px 25px !important;
  height: 650px;
}
.btn-edit{
  height: 45px;
}
::ng-deep .mat-checkbox-inner-container{
  margin-right: 15px !important;
    margin-top: 0px !important;
}
.modal-header h4{
  font-weight: 600;
}
.card-header{
  padding: 10px 29px;
}
.practice-align.panel-title{
  padding: 10px;
}
.practice-table-align .mat-row{
  padding: 0px 12px !important;
}
.user-row-align .mat-row{
  padding: 5px;
}
.form-group label{
  font-weight: 700;
  font-size: 12px;
  color: #333;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.location-select select{
  color: #41b6a6;
}
img.avatar:hover{
  opacity: 0.75;
  cursor: pointer;
}
.user-row-align{
  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 3.5%;
  }
}
