@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.editordermodel.modal-content {
    width:870px;
    max-height: 1000px;

}

.labandimagingcursor {
    cursor: not-allowed;
}