<div id="labandImaging" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header" style="margin-left:-1px;margin-top:-1px">
      <p class="modal-title Roboto-medium">{{labandImaging.LabProcedureId != null ? "Edit" : "Add"}}
        {{labandImaging.View}} Order </p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-2 col-md-6 col-12">
          <mat-label class="required">Patient Name:</mat-label>
          <mat-form-field class="" appearance="outline">
            <input matInput #searchpatient class="form-control" placeholder="Search Patient" type="text"
              id="searchpatient" name="searchpatient" [matAutocomplete]="serachpatient"
              [(ngModel)]="labandImaging.CurrentPatient" />
            <mat-autocomplete [displayWith]="displayWithPatientSearch" #serachpatient="matAutocomplete"
              (optionSelected)="onPatientSelected($event)">
              <mat-option *ngIf="isLoading">Loading ...</mat-option>
              <mat-option *ngFor="let option of filteredPatients | async" [value]="option"
                class="patient-serach-option">
                {{option.Name}}
              </mat-option>
              <mat-option *ngIf="norecords"> No Records Found</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- [disabled]="diabledPatientSearch" [readonly]="diabledPatientSearch" [class.disabled-color]="diabledPatientSearch" -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <mat-label>Patient ID:</mat-label>
          <mat-form-field appearance="outline" class="col-md-12 ">
            <input matInput placeholder="" disabled class="not-allowed"
              [(ngModel)]="labandImaging.CurrentPatient.PatientId">
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <mat-label>Sex:</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="" disabled class="not-allowed"
              [(ngModel)]="labandImaging.CurrentPatient.Gender">
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
        <mat-label>Age:</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="" disabled class="not-allowed" [(ngModel)]="labandImaging.CurrentPatient.Age">
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <mat-label>Date of birth:</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="" disabled class="not-allowed"
              [ngModel]="labandImaging.CurrentPatient.Dob|date:'MM/dd/yyyy'">
          </mat-form-field>
        </div>

        <div class="col-lg-2  col-md-6 col-12">
          <mat-label>Phone</mat-label>
          <mat-form-field appearance="outline" class="col-md-12">
            <input matInput placeholder="" disabled class="not-allowed"
              [(ngModel)]="labandImaging.CurrentPatient.PrimaryPhone">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8 col-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <mat-label class="required">Order Type:</mat-label>
              <mat-form-field appearance="outline" class="col-md-12">
                <input matInput placeholder="" disabled class="not-allowed" [(ngModel)]="labandImaging.ProcedureType">
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <mat-label class="required">Lab Name:</mat-label>
              <mat-form-field appearance="outline" class="col-md-12 orderddhover">
                <mat-select required placeholder="Select Other lab" [(ngModel)]="labandImaging.LabName">
                  <mat-option value="Other labs">
                    Other labs
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <mat-label class="required">Status:</mat-label>
              <mat-form-field appearance="outline" class="col-md-12 orderddhover">
                <mat-select required placeholder="Status" [(ngModel)]="labandImaging.OrderStatus">
                  <mat-option *ngFor="let item of OrderStatuses" [value]="item.Value">
                    {{item.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <mat-label class="required">Schedule Date:</mat-label>
          <mat-form-field appearance="outline" class="calendaricon green-calendar col-md-12">
            <input matInput [matDatepicker]="dp1" placeholder="Start Date" (click)="dp1?.open()" readonly
              class="Helvetica-sans-serif-medium pointer" [(ngModel)]="labandImaging.ScheduledAt">
            <mat-datepicker-toggle matSuffix [for]="dp1">
            </mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8 col-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <mat-label class="required">Ordering Physician:</mat-label>
              <mat-form-field appearance="outline" class="col-md-12 orderddhover">
                <mat-select required placeholder="" [(ngModel)]="labandImaging.OrderingPhyscianId">
                  <mat-option *ngFor="let provider of PracticeProviders" [value]="provider.ProviderId">
                    {{provider.FullName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <mat-label class="required">Ordering Facility:</mat-label>
              <mat-form-field appearance="outline" class="col-md-12 orderddhover not-allowed">
                <mat-select required placeholder="" [(ngModel)]="labandImaging.OrderingFacility">
                  <mat-option *ngFor="let item of orderingFacilities" [value]="item.LocationName">
                    {{item.LocationName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <mat-label class="required">Lab/Imaging Status:</mat-label>
              <mat-form-field appearance="outline" class="col-md-12 orderddhover">
                <mat-select required placeholder="Status" [(ngModel)]="labandImaging.ResultStatus">
                  <mat-option *ngFor="let item of ResultStatuses" [value]="item.Value">
                    {{item.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <mat-label>Received Date:</mat-label>
          <mat-form-field appearance="outline" class="calendaricon green-calendar col-md-12">
            <input matInput [matDatepicker]="dp2" placeholder="Received Date" (click)="dp2?.open()" readonly
              class="Helvetica-sans-serif-medium pointer" [(ngModel)]="labandImaging.ReceivedAt">
            <mat-datepicker-toggle matSuffix [for]="dp2">
            </mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="scrollable-card">
        <div class="card">
          <div class="card-header" style="margin-right: -1px;">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-12">
                <span class="Helvetica-sans-serif-medium text-white mt-1">Tests Ordered (minimum one test order is
                  required)</span>
              </div>
              <div class="col-lg-4 col-md-6 col-12 d-flex justify-content-end flex-sm-row flex-column">
                <div class="pull-right text-right">
                  <button class="plusicon" type="button" aria-expanded="false" (click)="addLabOrder()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12" style="text-align: center;">
                <mat-label class="text-white required" matTooltip="Click the + icon to add Test Code">Code</mat-label>
              </div>
              <div class="col-lg-4 col-md-6 col-12" style="text-align: center;">
                <mat-label class="text-white required" matTooltip="Click the + icon to add Test Code">Test</mat-label>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="formGroups">
              <div formArrayName="orders" class="row">
                <div *ngFor="let atta of orders.controls; let i=index ">
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="col-lg-4 col-md-5 col-5">
                        <mat-form-field appearance="outline" class="col-md-12" matTooltip="Enter minimum three digits">
                          <input matInput placeholder="" [data-index]="i" formControlName="Code"
                            (blur)="getCodeInfo($event,i)">
                        </mat-form-field>
                      </div>
                      <div class="col-lg-7 col-md-5 col-5">
                        <mat-form-field appearance="outline" class="col-md-12">
                          <input matInput placeholder="" formControlName="Test" readonly class="not-allowed"
                            [matTooltip]="atta.controls.Test.value">
                        </mat-form-field>
                        <input type="hidden" formControlName="TestOrderId">
                      </div>
                      <div class="col-lg-1 col-md-2 col-2" style="padding-left: 30px ;">
                        <button class="minuicon pull-right" type="button" aria-expanded="false" (click)="removeLabOrder(i)">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-12">
          <mat-label>Notes:</mat-label>
          <textarea matInput class="text-border" placeholder="Info about order"
            [(ngModel)]="labandImaging.Notes"></textarea>
        </div>
      </div>

      <app-attachment-preview [EntityName]="EntityName" [EntityId]="labandImaging.LabProcedureId"
        [Attachments]="labandImaging.Attachments" (onItemsModify)="ItemsModified($event)" [acceptPdf]="true"
        [fileSize]="10" [httpUrl]="fileUploadUrl"></app-attachment-preview>
      <!--

      <div class="attachments" style="display:flex">
        <div class="container-items col-lg-3 col-md-3 col-3 col-sm-3">
          <div class="row">
            <div class="items" *ngFor="let attachment of labandImaging.Attachments">
                <div class="item" (click)="showDocument(attachment.AttachmentId)">{{attachment.FileName}}</div>
                <div for="forremove" class="remove" (click)="DeleteAttachment(attachment.AttachmentId)">
                  <mat-icon>delete</mat-icon>
                </div>
            </div>
          </div>
        </div>

        <div class="display-item col-lg-6 col-md-6 col-6 col-sm-6">
          <div *ngIf="showImage">
            <img [src]="Imagedata">
          </div>
        </div>

        <div class="upload-items col-lg-3 col-md-3 col-3 col-sm-3" style="float: right;">
        <div class="container-fluid" style="clear:both">
          <div class="row">
            <div class="col-lg-10 col-10">
              <p class="title mt-4"><b>Attachments:</b></p>
            </div>
            <div class="col-lg-2 col-2">
              <div class="upload-btn-wrapper">
                <label for="singleFile">
                  <mat-icon>attach_file</mat-icon>
                </label>
                <input id="singleFile" name="myFile" type="file" hidden="true"
                  [fileUploadInputFor]="fileUploadQueue" />
              </div>
            </div>
            <div>
              <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <file-upload-queue #fileUploadQueue [fileAlias]="uploadTo" [httpRequestParams]="httpRequestParams"
                  [httpUrl]="'http://localhost:4345/api/upload/UploadSingleFile'">
                  <file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"
                    [httpRequestParams]="httpRequestParams" [fileAlias]="uploadTo"
                    (onUpload)="UploadCompleted($event)" (onItemRemove)="ItemRemoved($event)">
                  </file-upload>
                </file-upload-queue>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div> -->

    </div>
    <div class="modal-footer">
      <button mat-raised-button type="submit" class="btn btn-green   pull-right" (click)="save()"
        *ngIf="!saveClicked && !labandImaging.Signed" [disabled]="enableSave()">Save</button>
      <button mat-raised-button type="submit" class="btn btn-green   pull-right" (click)="signed()"
        *ngIf="!labandImaging.Signed" [disabled]="enableSave()">Sign</button>
      <button mat-raised-button class="btn btn-green pull-right" (click)="close()">Close</button>
    </div>
  </div>
</div>
