@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";



#editlaborder.modal-dialog{
  max-width: unset;
  width: 1000px;
  left: calc(100% - 85%) !important;
  margin: unset;
}


#editlaborder .modal-body {
  max-height: calc(90vh - 200px);
  padding: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
}

#editlaborder .modal-body > .row,
#editlaborder .modal-body > .patient-block{
  padding: 15px 25px 0 25px;
}
#editlaborder .modal-body > .row .table thead tbody{
  margin: 10px 20px;
}

#editlaborder .modal-body > .row .table {
  border: 1px solid #41b6a6;
  --bs-table-accent-bg: none;
  thead tr{

    border-bottom: 1px solid #41b6a6 !important;
  }
  tbody tr{

    border-bottom: 1px solid #41b6a6 !important;
  }
}

// #editlaborder .modal-body > .row .table thead{
//   border-bottom: 1px solid #41b6a6;
// }

.notallowed-cursor {
    cursor: not-allowed;
}

// .table {
//     border: 1px solid #41b6a6;
// }

.form-control.input-border
{
border: 1px solid #41b6a6;
height: 45px;
}
.text-border{
    height: 71px;
      border: 1px solid #41b6a6;
      border-radius: 3px;
      font-size: 15px;
      padding: 10px 20px;
      resize: both;
      width: 100% !important;
  }
  .highlight-block {
    background-color: rgba(65,182,166,0.1);
    margin: 5px -2px;
    padding: 5px 9px;
}


.patient-block {
    background-color: rgba(65,182,166,0.1);

}
.plusicon {
    border-radius: 66px;
    border: 1px solid #41b6a6;
    background: #fff;
    width: 30px;
    height: 29px;
    text-align: center;
    cursor: pointer;

}
.plusicon .fa-plus {

  padding: 5px 0px 0px 0px;
  color: #41b6a6;
  font-size: 16px;
  font-family: "FontAwesome"
}
.tblheaderclass
{
   background-color: #41b6a6;
   height: 45px;
   color: #fff;
   border:1px solid #fff;
   text-align: center;

}

// .table {
//     --bs-table-accent-bg: none;
//     border: 1px solid #41b6a6;
//   }
//   .table thead th {
//     border: 1px solid #fff;
// }

// .table tr td {
//     border: 1px solid #41b6a6;
// }
