@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

#labandimaging.modal-dialog{
  max-width: unset;
  left: calc(100% - 80%) !important;
  margin: unset;
}
.ordermodel.modal-content{
    width: 900px !important;
}
@media screen and (max-width:768px) {
  .ordermodel.modal-content{
    max-width: 520px !important;
}
}
#labandimaging .dropdown-menu{
  min-width: unset;
}
.ordermodel .modal-body {
  max-height: calc(90vh - 200px);
  overflow-y: auto;
}
.not-allowed{
    cursor: not-allowed;
}
.disabled-color{
  background: transparent;
}
mat-label{width: 100%;display: block;}
.plusicon {
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    width: 30px;
    height: 29px;
    text-align: center;
    cursor: pointer;
   // margin-left: 10px;
}
.plusicon .fa-plus {
  padding: 5px 0px 0px 0px;
  color: #41b6a6;
  font-size: 16px;
  font-family: "FontAwesome"
}

.plusicon .fa-minus:hover {

  padding: 5px 0px 0px 0px;
  color: #fff;
  font-size: 16px;
  font-family: "FontAwesome"
}
.minuicon {
  border-radius: 50%;
  border: 1px solid #41b6a6;
  background: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin-top: 6.3px;
  .fa-minus {
    padding: 5px 0px 0px 0px;
    color: #41b6a6;
    background:transparent;
    font-size: 16px;
    font-family: "FontAwesome";
    &:hover {
      color: #fff;
      background: #41b6a6;
    }
  }
  &:hover {
    .fa-minus{color: #fff;}
    background: #41b6a6;
  }
}

.text-border{
  height: 71px;
    border: 1px solid #41b6a6;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px 20px;
    resize: both;
    width: 100% !important;
}
.pattach {
  border: 1px solid #41b6a6;
  margin-top: 20px;
  background-color: rgba(65, 182, 166, 0.1);
}

.formarray {
  border-top: 1px solid #41b6a6;
  background-color: rgba(65, 182, 166, 0.1);
  border-bottom: 1px solid #41b6a6;
  cursor: pointer;

}
.formarray:not(first-child) { border-top: none; }
// .formarray:not(last-child) { border-bottom: none; }


.closefile {
  border-radius: 77%;
  background: #d64841;
  color: white;
  border-color: #d64841;
}

.closefile:hover {
  border-radius: 77%;
  background: #fff;
  color: #d64841;
  border: 1px solid #d64841;
}
::ng-deep .orderddhover.mat-form-field-appearance-outline:hover .mat-form-field-outline {
  background-color: #41b6a6 !important;


}

.attchmentplusicon {
  border-radius: 4px;
  border: 1px solid #41b6a6;
  background: #fff;
  width: 70px;
  height: 29px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
}
.attchmentplusicon .fa-plus {

  padding: 5px 0px 0px 0px;
  color: #41b6a6;
  font-size: 16px;
  font-family: "FontAwesome"
}

#labandimaging .mat-select-trigger{
  top: -4px;
  height: 1.5em;
}


