    <div class="modal-dialog add-authorized-dialog">
      <div class="modal-content authorized-content">
        <div class="modal-header authorized-header">
          <h4 class="modal-title authorized-title">Add Authorized Representative</h4>
          <button type="button" class="btn cross-mark"  aria-label="Close"(click)="cancel()">x</button>
        </div>
        <div class="modal-body">
          <div class="row my-2">
                <div class="col-lg-12 col-md-12 col-12">
                    <label class="required">First Name</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control input-authorized" placeholder="First Name" type="text" id="Name"
                    name="Name" [(ngModel)]="authorizedRepresentative.FirstName" alphaOnly #firstName="ngModel" required/>
                </div>
              </div>
            </div>
            <div *ngIf="firstName.errors && (firstName.touched)" class="error-message-alignment">
              <div class="text-danger" *ngIf="firstName.errors?.required">
                <span class="text-danger"></span>
                <p class="text-danger">Please enter First Name</p>
              </div>
              </div>
            <div class="col-lg-12 col-md-12 col-12 my-2">
                <label class="required">Last Name</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control input-authorized" placeholder="Last Name" type="text" id="LastName"
                    name="LastName" [(ngModel)]="authorizedRepresentative.LastName" alphaOnly #lastName="ngModel" required/>
                </div>
              </div>
            </div>
            <div *ngIf="lastName.errors && (lastName.touched)" class="error-message-alignment">
              <div class="text-danger" *ngIf="lastName.errors?.required">
                <span class="text-danger"></span>
                <p class="text-danger">Please enter Last Name</p>
              </div>
              </div>
            <div class="col-lg-12 col-md-12 col-12 my-2">
                <label class="required">Email</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control input-authorized" placeholder="Email" type="text" id="Email" name="Email"
                  [(ngModel)]="authorizedRepresentative.Email" #email = "ngModel" required pattern="^[A-Za-z0-9._-]+@[A-Za-z0-9._-]+\.[A-Za-z]{2,4}$"
                  [disabled]="disableemail" [class.emailnotallowed]="disableemail"/>
                </div>
              </div>
            </div>
            <div *ngIf="email.errors && (email.touched)" >
              <div class="text-danger" *ngIf="email.errors?.required">
                <p class="text-danger">Please enter Email</p>
              </div>
                <div class="text-danger" *ngIf="email.errors?.pattern">
                  <span class="text-danger"></span>
                  <p class="text-danger">Enter Email in correct format</p>
                </div>
              </div>
            <div class="col-lg-12 col-md-12 col-12 my-2">
                <label >Contact Number</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control input-authorized"  id="inputtext"
                    name="inputtext" [(ngModel)]="authorizedRepresentative.ContactPhone"
                    mask=" (000) 000-0000" [showMaskTyped]="true"
                  [patterns]="PhonePattern" type="tel" prefix="+1" />
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 mt-4">
              <div class="form-group">
                <div class="input-group">
                  <input class="checkbox form-check-input" id="Authorized" name="Authorized" type="checkbox" [(ngModel)]="authorizedRepresentative.Active">
                  <a href="#" class="a-design">Representative has read and signed
                    <span class="a-authorized">Authorized Representative Acceptable Use Policy </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-addnew btn-green" [disabled]="enableSave()"  (click)="CreateAuthorizedRepresentative()">Save</button>
        </div>
  
      </div>
    </div>

