
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c2cad8;
}
.btn.btn-outline.grey-mint {
    border-color: #525e64;
    color: #525e64;
    background: none;
    border-radius: 0%;
    margin-top: 2%;
}
// @media (max-width:1351px )and (min-width: 992px) {
//     .control-label{
//         margin-left: 68%;
//     }
//   }
//   @media (max-width:1506px )and (min-width: 1012px) {
//     .control-label{
//         margin-left: 55px;
//         color: red;
//     }
//   }
// .control-label{
//     margin-left: 80%;
//     font-size: 100%;
//     white-space: nowrap;
// }
label {
  float: right;
  display: inline-block;
}
.btn-save{
    cursor: pointer;
    font-size: 100%;
    line-height: 2;
    height: -49%;
    background-color: #fff;
    border: 1.2px solid #525e64;
    white-space: nowrap;

  }
  .btn-save:hover{
    cursor: pointer;
    font-size: 100%;
    line-height: 2;
    height: -49%;
    background-color: #525e64;
    border: 1px solid #ccc;
    color: #fff;
    white-space: nowrap;
  }