<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-4">
            <app-admin-breadcrum></app-admin-breadcrum>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-body">
                <div class=" row">
                    <div class="col-lg-3 col-md-3 col-3">
                        <label>App Version:</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-9">
                        <input class="string optional form-control" type="text" 
                            [(ngModel)]="adminSettingVersion.Version">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row mt-2">
            <div class="col-lg-3 col-md-3 col-3 ">
            </div>
            <div class="col-lg-9 col-md-9 col-9">
                <button class="btn-save" type="button" name="commit"(click)="UpdateAdminSettingVersion()">Save</button>
            </div>
        </div>
    </div>
</div>