<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-4 mb-3">
      <app-admin-breadcrum></app-admin-breadcrum>
    </div>
  </div>
</div>

<div class="row check-provid mt-4 "  >
    <div class="col-md-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Active" id="Active" [(ngModel)]="Active" (ngModelChange)="filterChange('ActiveStatus','Active')"/>
            <label class="form-check-label" for="Active">Active Providers</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Suspended" id="Suspended" [(ngModel)]="Suspended" (ngModelChange)="filterChange('ActiveStatus','Suspended')"/>
            <label class="form-check-label" for="Suspended">Inactive Providers</label>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Trial" id="Trial" [(ngModel)]="Trial" (ngModelChange)="filterChange('TrailStatus','Trial')"/>
            <label class="form-check-label" for="Trial">Trial Providers</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Paid" id="Paid" [(ngModel)]="Paid" (ngModelChange)="filterChange('TrailStatus','Paid')" />
            <label class="form-check-label" for="Paid">Paid Providers</label>
        </div>
    </div>
</div>


<div class="border-input mb-4 mx-3">
    <div class="contain">
        <div class="row mt-4">
            <div class="col-lg-7 col-md-7 col-12">
              <b class="fw-bold fs-6">PROVIDERS</b>
            </div>
            <div class="example col-lg-5 col-md-5 col-12 ">
                <input type="text" placeholder="Search Providers"  [(ngModel)]="filterTerm" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="row">Name</th>
                        <th scope="row">Email</th>
                        <th scope="row">Phone</th>
                        <th scope="row" width="20%">Address</th>
                        <th scope="row">Status</th>
                        <th scope="row">Cqm</th>
                        <th scope="row"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of providersDataSource | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td class="tbl-col">{{item.ProviderName}}
                            <div class="row">
                                <button class="btn-log">Login</button>
                            </div>
                        </td>
                        <td>{{item.Email}}</td>
                        <td>{{item.PrimaryPhone}}</td>
                        <td>{{item.Address}}</td>
                        <td class="column">{{item.ActiveStatus}}</td>
                        <td class="column"><button class="btn-lock">User Agent Export</button></td>
                        <td><button class="btn-lock">Lock</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="table-NoRecord text-center py-2 col-12" *ngIf="providersDataSource.length == 0">
              No Data Found
            </div>
        </div>

        <div class="d-flex justify-content-end my-3">
          <nav aria-label="Page navigation">
            <ul class="pagination mt-4">
              <ngb-pagination [pageSize]="pageSize" [collectionSize]="providersDataSource.length" [maxSize]="9" [(page)]="page" aria-label="Default pagination">
              </ngb-pagination>
            </ul>
          </nav>
          </div>
    </div>
    <!-- <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end mt-4">
            <ngb-pagination [pageSize]="pageSize" [collectionSize]="providersDataSource.length" [(page)]="page" aria-label="Default pagination">
            </ngb-pagination>
        </ul>
    </nav> -->
</div>
