<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">Select Reason</h4>
      <span class="cross-mark pointer" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <label>Search Reaction(s): </label>
        <mat-form-field appearance="outline" class="col-12">
          <mat-select placeholder="Search reaction" #reaction>
            <mat-select-filter [displayMember]="'CodeDescription'" [array]="reasonCodesFilter"
              (filteredReturn)="reasonCodes = $event" *ngIf="reaction.focused"></mat-select-filter>
            <mat-option *ngFor="let reason of reasonCodes" [value]="reason" (click)="selectReason(reason)">
              {{reason.CodeDescription}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <label> Reason - Code</label>
        <mat-form-field appearance="outline" class="grey-calendar col-12">
          <input matInput placeholder="Reason - Code" [(ngModel)]="patientMedication.ReasonCode" />
        </mat-form-field>
      </div>
      <div class="row">
        <label>Reason - Description</label>
        <mat-form-field appearance="outline" class="grey-calendar col-12">
          <input matInput placeholder="Reason description" [(ngModel)]="patientMedication.ReasonDescription" />
        </mat-form-field>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-green" (click)="saveReason(patientMedication)">
        Done
      </button>
    </div>
  </div>
</div>
