<div class="modal-dialog" id="patient-account-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">Setup Patient User account</h4>
      <span type="button" class="cross-mark" aria-label="Close" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="form-group">
            <label class="control-label input-group-addon">Email</label>
            <input class="form-control focusedemail" placeholder="Please enter valid Email" type="text"
            #patientEmail="ngModel"
              pattern="^[A-Za-z0-9+_.-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" [(ngModel)]="patientUser.Email" required
              mouse-over-hint tickImagePath="assets/images/tick-mark.svg" crossImagePath="assets/images/cross-mark.svg"
              (keyup)="checkEmailExistance()" />
            <div *ngIf="patientEmail.errors && patientEmail.touched">
              <div class="error_message" *ngIf="patientEmail.errors?.pattern">
                <p class="errormessage">Please enter valid Email</p>
              </div>
              <!-- <div class="error_message" *ngIf="patientEmail.errors?.required">
                <p class="errormessage">Please enter Email</p>
              </div> -->
            </div>
            <div *ngIf="emailVerfied != null">
              <div [class.error_message]="!emailVerfied" [class.success_message]="emailVerfied">
                <p [class.error_message]="!emailVerfied" [class.success_message]="emailVerfied">
                  {{emailVerficationMessage}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row ">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="form-group">
            <label class="control-label input-group-addon required">User Name</label>
            <input class="form-control" placeholder="User Name" disabled type="text" id="userName" name="userName"
              [(ngModel)]="patientUser.Username" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-6">
          <div class="form-group">
            <label class="control-label input-group-addon required">Password</label>
            <input class="form-control" placeholder="Password" disabled type="password" id="password" name="password"
              [(ngModel)]="patientUser.Password" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-6">
          <div class="form-group">
            <label class="control-label input-group-addon required">Confirm Password</label>
            <input class="form-control" placeholder="Confirm Password" disabled type="password" id="confirmPassword"
              name="confirmPassword" [(ngModel)]="patientUser.ConfirmPassword" />
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <!-- (Note: Password must be at least 6 characters long and contain letters and numbers) -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Other patient user who can access this account: -->
        </div>
        <div class="col-lg-6 col-md-6 col-6"></div>
        <div class="col-lg-6 col-md-6 col-6">
          <!-- <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="Search patient users" type="text" id="searchUsser"
                name="searchUsser" />
            </div>
          </div> -->

          <mat-form-field appearance="outline" class="col-12">
            <input matInput #searchpatient class="form-control search-control" placeholder="Search Patient"
              type="text" id="searchpatient" name="searchpatient" [matAutocomplete]="serachpatient" />
            <mat-autocomplete [displayWith]="displayWithPatientSearch" #serachpatient="matAutocomplete"
              (optionSelected)="onPatientSelected($event)">
              <mat-option [hidden]="displayMessage == false" [disabled]="true" class="text-wrap lh-1 fs-6">
                Enter atleast 1 character, you can only select 1 item
              </mat-option>
              <mat-option *ngIf="isLoading">Loading ...</mat-option>
              <mat-option *ngFor="let option of filterPatientOptions | async" [value]="option"
                [disabled]="option.Name == currentPatient.FirstName + ' ' + currentPatient.LastName ? 'disabled' : null"
                class="patient-serach-option">
                {{option.Name}}
              </mat-option>
              <mat-option *ngIf="noRecords">No Records Found</mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
      </div>
      <!-- <div class="row">
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-3">PatientName</div>
        <div class="col-lg-3 col-md-3 col-3">UserName</div>
        <div class="col-lg-3 col-md-3 col-3">Relationship with patient</div>
        <div class="col-lg-3 col-md-3 col-3">Select</div>
      </div> -->
      <div class="col-lg-12 col-md-12 col-12">
        <div class="table-responsive mt-1">
          <table class="table">
            <thead class="th-border">
              <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Relationship to Patient</th>
                <th></th>
                <th *ngIf="deleteSearch" (click)="removeSearch()"><b class="btn-crosss">x</b></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of patientRelationListSubject | async">
                <td>{{item?.RelationFirstName + ' ' + item?.RelationLastName}}</td>
                <td>{{item?.RelationUserName}}</td>
                <td>{{item?.RelationShip}}</td>
                <td *ngIf="!item.HasAccess"><button class="btn btn-access allow-access" type="button"
                    (click)="openComponentDialog(patientRelationshipDialogComponent, item, ActionTypes.view)">Allow Access</button></td>
                <td *ngIf="item.HasAccess">
                  <button class="btn btn-access remove-access" type="button"
                    (click)="removeAccessed(item)">Remove Access</button>
                </td>
                <!-- <td></td> -->
              </tr>
            </tbody>
          </table>
          <div class="table-NoRecord text-center py-2 col-12" *ngIf="patientRelationList?.length == 0">
            No Data Found
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-green" *ngIf="!createPatientInvoked" (click)="createPatientAccount()">Create Patient
        User</button>
      <p *ngIf="createPatientInvoked" style="margin: 5px 0;padding: 5px 10px;">
        <svg class='fontawesomesvg fa-spin fa-2x' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">

          <path
            d="M0 32C0 14.3 14.3 0 32 0H64 320h32c17.7 0 32 14.3 32 32s-14.3 32-32 32V75c0 42.4-16.9 83.1-46.9 113.1L237.3 256l67.9 67.9c30 30 46.9 70.7 46.9 113.1v11c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 64 32c-17.7 0-32-14.3-32-32s14.3-32 32-32V437c0-42.4 16.9-83.1 46.9-113.1L146.7 256 78.9 188.1C48.9 158.1 32 117.4 32 75V64C14.3 64 0 49.7 0 32zM96 64V75c0 25.5 10.1 49.9 28.1 67.9L192 210.7l67.9-67.9c18-18 28.1-42.4 28.1-67.9V64H96zm0 384H288V437c0-25.5-10.1-49.9-28.1-67.9L192 301.3l-67.9 67.9c-18 18-28.1 42.4-28.1 67.9v11z" />
        </svg>
      </p>
      <button class="btn btn-green" aria-label="Close" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>

</div>
