@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";

#patient-account-dialog .modal-content{
  width:600px;
}
#patient-account-dialog .row{
  padding-bottom:10px;
}
.fa-hourglass::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fontawesomesvg {width: 1em;
  height: 1em;
  vertical-align: -.125em;
}
