@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";

#patient-resetpassword-dialog .modal-content {
  width: 700px;
}

#patient-resetpassword-dialog .row {
  padding-bottom: 10px;
}

#patient-resetpassword-dialog .modal-body {
  max-height: calc(90vh - 200px);
  overflow-y: auto;
}

#patient-resetpassword-dialog .show-iframe {
  display: block;
  width: 630px;
  height: 830px;
}

#patient-resetpassword-dialog .no-show-iframe {
  display: none;
}

.fa-hourglass::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fontawesomesvg {width: 1em;
  height: 1em;
  vertical-align: -.125em;
}
