<div class="dashboard-wrapper messages-wrapper wrapper mt-4">
  <div class="content">
    <div class="container bordered-container">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Inbox()" class="">
          <div class="row mt-5">
            <div class="col-md-5">
              <div class="input-group input-group-custom ">
                <input aria-label="Search for messages" autocomplete="off" class="form-control" id="find-messages-input"
                  placeholder="Search Messages">
                <span class="input-group-addon input-group-addon-right input-group-addon-search"
                  id="find-messages-button"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" class="btn btn-light dropdown-toggle action " data-bs-toggle="dropdown">
                  Actions
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">New Contact</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(MessageDialogComponent)">Go To Contact</u>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                  New Message
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">To Patient</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPracticeMessageDialog)">In Practice</u>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="encounter-tab-content">
            <div class="messages-content mt-3">
              <div class="container-fluid">
              <diV class="row" style="padding: 10px 0px 10px 0px;">
                <div class=" col-md-4 leftblockalignments left-block">
                  <div class="row bg-color">
                    <div class="col-md-6">
                      <a class="panel-titles" href="" id="sort-from">From
                        <i class="fa fa-angle-down "></i>
                      </a>
                    </div>
                    <div class="col-md-6 ">
                      <a class="panel-title " href="" id="sort-from">Date
                        <i class="fa fa-angle-up "></i>
                      </a>
                    </div>
                  </div>
                  <div>
                    <div *ngFor="let item of providerInboxMessages">
                      <div class="row">
                        <div class="col-md-1 mt-2">
                          <mat-checkbox class="col-lg-12 col-md-12">
                          </mat-checkbox>
                        </div>
                        <div class="col-md-5 mt-2" (click)="getProviderInboxMessage(item)">
                          {{item.PatientName}}
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3 mt-2">
                          {{item.Updated | date:'M/d/yyyy'}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row drop-input">
                    <div class="dropdown">
                      <button class="drop-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">

                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">25 Msg</a></li>
                        <li><a class="dropdown-item" href="#">50 Msg</a></li>
                        <li><a class="dropdown-item" href="#">75 Msg</a></li>
                        <li><a class="dropdown-item" href="#">100 Msg</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class=" col-md-8 rightblockalignments right-block">
                  <div *ngIf="inboxBasedOnCondition">
                    <div class="mt-2">
                      <div class="row">
                        <div class="col-md-6">
                          {{messageInbox.PatientName}}
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3 d-flex justify-content-end flex-sm-row flex-column">
                          {{messageInbox.Updated | date:'M/d/yyyy'}},{{messageInbox.Updated | date:'shortTime'}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          To {{messageInbox.ProviderName}}
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-6 d-flex justify-content-end flex-sm-row flex-column">
                          <img src="assets/images/header-dropdown-img.svg" class="img-xs rounded-circle header-avatar">
                        </div>
                      </div>
                        <div class="row">
                        {{messageInbox.Body}}
                        </div>
                    </div>
                    <div class="mt-5 dropdownborder"></div>
                    <div class="row mt-2">
                      <div class="col-md-2 d-flex justify-content-start flex-sm-row flex-column">
                        <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                          type="button">Archive</button>
                      </div>
                      <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                        <button class="btn  btn-danger btn-msgdanger  Helvetica-sans-serif-medium pull-right"
                          type="button">Delete</button>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                        <button class="btn btn-green btn-messagesgreen Helvetica-sans-serif-medium pull-right"
                          type="button">Reply</button>
                      </div>
                      <div class="col-md-2 justify-content-end flex-sm-row flex-column">
                        <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                          type="button">Forward</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!inboxBasedOnCondition" class="mt-5">No Message Selected</div>
                </div>
              </diV>
            </div>
            </div>
          </div>
         
        </mat-tab>
        <mat-tab label="Sent">
          <div class="row mt-5">
            <div class="col-md-5">
              <div class="input-group input-group-custom ">
                <input aria-label="Search for messages" autocomplete="off" class="form-control" id="find-messages-input"
                  placeholder="Search Messages">
                <span class="input-group-addon input-group-addon-right input-group-addon-search"
                  id="find-messages-button"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" #SearchMessage  class="btn btn-light dropdown-toggle action " data-bs-toggle="dropdown">
                  Actions
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">New Contact</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">Go To Contact</u>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                  New Message
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">To Patient</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">In Practice</u>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="messages-content mt-3">
            <diV class="row">
              <div class=" col-md-4 leftblockalignments left-block">
               
                <div>
                  <mat-table matSort matSortActive="LastAccessed" matSortDirection="desc" matSortDisableClear [dataSource]="messageDataSource">
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="To">
                      <mat-header-cell *matHeaderCellDef>To </mat-header-cell>
                      <mat-cell *matCellDef="let element" (click)="getSentMessage(element)"> {{element.ProviderName}}
                                                            {{element.Subject}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="Date">
                      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.Updated | date:'M/d/yyyy'}} </mat-cell>
                    </ng-container>
                
                   
                
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="matheaderrow"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                 <div [hidden]="messageDataSource.TotalRecordSize==0">
                  <div class="d-flex justify-content-end my-3">
                    <div class="pg-container">
                      <mat-paginator appPagination
                         [length]="messageDataSource.TotalRecordSize" pageSize="10" [pageIndex] = "0"
                         [pageSizeOptions]="[10,20,30,40,50]"  >
                        </mat-paginator>
                      </div>
                  </div>
                 </div> 
                
                  
                </div>
             
                <div class="row drop-input">
                  <div class="dropdown">
                    <button class="drop-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                      aria-expanded="false">

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">25 Msg</a></li>
                      <li><a class="dropdown-item" href="#">50 Msg</a></li>
                      <li><a class="dropdown-item" href="#">75 Msg</a></li>
                      <li><a class="dropdown-item" href="#">100 Msg</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class=" col-md-8 rightblockalignments right-block">
                <div *ngIf="sentMessage">
                  <div class="mt-2">
                    <div class="row">
                      <div class="col-md-6">
                        {{sentMessages.ProviderName}}
                      </div>
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-3 d-flex justify-content-end flex-sm-row flex-column">
                        {{sentMessages.Updated | date:'M/d/yyyy'}},{{sentMessages.Updated | date:'shortTime'}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        To {{sentMessages.PatientName}}
                      </div>
                      <div class="col-md-2">

                      </div>
                      <div class="col-md-6 d-flex justify-content-end flex-sm-row flex-column">
                        <img src="assets/images/header-dropdown-img.svg" class="img-xs rounded-circle header-avatar">
                      </div>

                    </div>
                    <div class="row">
                      {{sentMessages.Body}}
                      </div>
                  </div>
                  <div class="mt-5 dropdownborder"></div>
                  <div class="row mt-2">
                    <div class="col-md-2 d-flex justify-content-start flex-sm-row flex-column">
                      <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                        type="button">Archive</button>
                    </div>
                    <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                      <button class="btn  btn-danger btn-msgdanger  Helvetica-sans-serif-medium pull-right"
                        type="button">Delete</button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                      <button class="btn btn-green btn-messagesgreen Helvetica-sans-serif-medium pull-right"
                        type="button">Reply</button>
                    </div>
                    <div class="col-md-2 justify-content-end flex-sm-row flex-column">
                      <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                        type="button">Forward</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="!sentMessage" class="mt-5">No Message Selected</div>
              </div>
            </diV>

          </div>

        </mat-tab>
        <mat-tab label="Draft">
          <div class="row mt-5">
            <div class="col-md-5">
              <div class="input-group input-group-custom ">
                <input aria-label="Search for messages" autocomplete="off" class="form-control" id="find-messages-input"
                  placeholder="Search Messages">
                <span class="input-group-addon input-group-addon-right input-group-addon-search"
                  id="find-messages-button"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" class="btn btn-light dropdown-toggle action " data-bs-toggle="dropdown">
                  Actions
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">New Contact</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">Go To Contact</u>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                  New Message
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">To Patient</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">In Practice</u>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="messages-content mt-3">
            <diV class="row">
              <div class=" col-md-4 leftblockalignments left-block">
                <div class="row bg-color">
                  <div class="col-md-6">
                    <a class="panel-titles" href="" id="sort-from">From
                      <i class="fa fa-angle-down "></i>
                    </a>
                  </div>
                  <div class="col-md-6 ">
                    <a class="panel-title " href="" id="sort-from">Date
                      <i class="fa fa-angle-up "></i>
                    </a>
                  </div>
                </div>
                <div>
                  <div *ngFor="let item of providerdraftMessages">
                    <div class="row">
                      <div class="col-md-1 mt-2">
                        <mat-checkbox class="col-lg-12 col-md-12">
                        </mat-checkbox>
                      </div>
                      <div class="col-md-5 mt-2" (click)="getDraftMessage(item)">
                        {{item.PatientName}}
                        {{item.Subject}}
                      </div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3 mt-2">
                        {{item.Updated | date:'M/d/yyyy'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row drop-input">
                  <div class="dropdown">
                    <button class="drop-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                      aria-expanded="false">

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">25 Msg</a></li>
                      <li><a class="dropdown-item" href="#">50 Msg</a></li>
                      <li><a class="dropdown-item" href="#">75 Msg</a></li>
                      <li><a class="dropdown-item" href="#">100 Msg</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class=" col-md-8 rightblockalignments right-block">
                <div *ngIf="draftMsg">
                  <div class="mt-2">
                    <div class="row">
                      <div class="col-md-6">
                        {{draftMessages.PatientName}}
                      </div>
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-3 d-flex justify-content-end flex-sm-row flex-column">
                        {{draftMessages.Updated | date:'M/d/yyyy'}},{{draftMessages.Updated | date:'shortTime'}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        To {{draftMessages.ProviderName}}
                      </div>
                      <div class="col-md-2">

                      </div>
                      <div class="col-md-6 d-flex justify-content-end flex-sm-row flex-column">
                        <img src="assets/images/header-dropdown-img.svg" class="img-xs rounded-circle header-avatar">
                      </div>
                    </div>

                  </div>
                  <div class="mt-5 dropdownborder"></div>
                  <div class="row mt-2">
                    <div class="col-md-2 d-flex justify-content-start flex-sm-row flex-column">
                      <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                        type="button">Archive</button>
                    </div>
                    <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                      <button class="btn  btn-danger btn-msgdanger  Helvetica-sans-serif-medium pull-right"
                        type="button">Delete</button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                      <button class="btn btn-green btn-messagesgreen Helvetica-sans-serif-medium pull-right"
                        type="button">Reply</button>
                    </div>
                    <div class="col-md-2 justify-content-end flex-sm-row flex-column">
                      <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                        type="button">Forward</button>
                    </div>
                  </div>
                </div>
              </div>
            </diV>
          </div>

        </mat-tab>
        <mat-tab label="Urgent (0)">
          <div class="row mt-5">
            <div class="col-md-5">
              <div class="input-group input-group-custom ">
                <input aria-label="Search for messages" autocomplete="off" class="form-control" id="find-messages-input"
                  placeholder="Search Messages">
                <span class="input-group-addon input-group-addon-right input-group-addon-search"
                  id="find-messages-button"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" class="btn btn-light dropdown-toggle action " data-bs-toggle="dropdown">
                  Actions
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">New Contact</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">Go To Contact</u>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="input-group input-drop">
                <button type="text" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                  New Message
                </button>
                <ul class="dropdown-menu ">
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">To Patient</u>
                  </li>
                  <li><u class="dropdown-item drop-menu" data-bs-toggle="modal"
                      (click)="openComponentDialogmessage(toPatientdialogComponent)">In Practice</u>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="messages-content mt-3">
            <diV class="row">
              <div class=" col-md-4 leftblockalignments left-block">
                <div class="row bg-color">
                  <div class="col-md-6">
                    <a class="panel-titles" href="" id="sort-from">From
                      <i class="fa fa-angle-down "></i>
                    </a>
                  </div>
                  <div class="col-md-6 ">
                    <a class="panel-title " href="" id="sort-from">Date
                      <i class="fa fa-angle-up "></i>
                    </a>
                  </div>
                </div>
                <div>
                  <div *ngFor="let item of providerUrgentMessage">
                    <div class="row">
                      <div class="col-md-1 mt-2">
                        <mat-checkbox class="col-lg-12 col-md-12">
                        </mat-checkbox>
                      </div>
                      <div class="col-md-5 mt-2" (click)="getUrgentMessage(item)">
                        {{item.PatientName}}
                      </div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3 mt-2">
                        {{item.Updated | date:'M/d/yyyy'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row drop-input">
                  <div class="dropdown">
                    <button class="drop-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                      aria-expanded="false">

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">25 Msg</a></li>
                      <li><a class="dropdown-item" href="#">50 Msg</a></li>
                      <li><a class="dropdown-item" href="#">75 Msg</a></li>
                      <li><a class="dropdown-item" href="#">100 Msg</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class=" col-md-8 rightblockalignments right-block">
                <div *ngIf="urgentMesg">
                  <div class="mt-2">
                    <div class="row">
                      <div class="col-md-6">
                        {{urgentMessages.PatientName}}
                      </div>
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-3 d-flex justify-content-end flex-sm-row flex-column">
                        {{urgentMessages.Updated | date:'M/d/yyyy'}},{{urgentMessages.Updated | date:'shortTime'}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        To {{urgentMessages.ProviderName}}
                      </div>
                      <div class="col-md-2">

                      </div>
                      <div class="col-md-6 d-flex justify-content-end flex-sm-row flex-column">
                        <img src="assets/images/header-dropdown-img.svg" class="img-xs rounded-circle header-avatar">
                      </div>
                    </div>

                  </div>
                  <div class="mt-5 dropdownborder"></div>
                  <div class="row mt-2">
                    <div class="col-md-2 d-flex justify-content-start flex-sm-row flex-column">
                      <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                        type="button">Archive</button>
                    </div>
                    <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                      <button class="btn  btn-danger btn-msgdanger  Helvetica-sans-serif-medium pull-right"
                        type="button">Delete</button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                      <button class="btn btn-green btn-messagesgreen Helvetica-sans-serif-medium pull-right"
                        type="button">Reply</button>
                    </div>
                    <div class="col-md-2 justify-content-end flex-sm-row flex-column">
                      <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right"
                        type="button">Forward</button>
                    </div>
                  </div>
                </div>
              </div>
            </diV>

          </div>
        </mat-tab>
      </mat-tab-group>



    </div>
  </div>
</div>