@import"../../../app/patient/message.component.scss";

//@import"../../../assets/common.scss";
.drop-menu{
  color: black !important;
}
.drop-menu:hover{
  color: #41b6a6 !important;
  text-decoration: underline;
}
.action{
  padding: 0px 70px 0px 0px !important;
}
.dropdown-menu{
    border: 1px solid #fe8f00 !important;
    border-top: #fff !important;
}
@media (max-width: 1024px) {
  .btn-light {
    white-space: break-spaces;
    padding: 0px 0px 0px 0px !important;
  }

  .rightblockalignments {
    border-top: 1px solid #41b6a6;
    border-left: 1px solid #41b6a6;
  }
  
  .leftblockalignments {
    border-top: 1px solid #41b6a6;
  }
}
.drop-input {
  margin-top: 2%;
  margin-bottom: 2%;
}
.divScroll1{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 525px;
   width: 1025px;
}

::ng-deep .mat-tab-header {
  background-color: #fff;
  height: 43px !important;
  width: 1129px;
  margin-left: -11px;
  border-bottom: 1px solid #41b6a6;
  
}
::ng-deep .mat-tab-label .mat-tab-label-content {
  background-color: #fff;
  border:1px solid #41b6a6;
  //height: 32px !important;
  height: 35px !important;
  min-width: 120px !important;
  color: #41b6a6;
  font-size: 16px;
  padding: 0px 15px !important;
}

::ng-deep .mat-tab-label .mat-tab-label-content:hover {
  background-color: #41b6a6;
  border:1px solid #41b6a6;
  //height: 32px !important;
  height: px !important;
  min-width: 120px !important;
  color: #fff;
  font-size: 16px;
  padding: 0px 15px !important;
}
::ng-deep .mat-tab-label {
  padding: 0 5px !important;
  min-width: 0px !important;
  margin-left: 12px;
  opacity: 1 !important;
}
::ng-deep .mat-tab-body-content {
   height: 0px; 
  overflow: hidden !important; 
  
}
::ng-deep .mat-paginator-range-actions {
  display: flow-root !important;
  align-items: center;
}

.matheaderrow{
  min-height: 43px;
  background-color: #41b6a6;
  color: #fff !important;
  width: 365px;
  margin-left: 0px;
}
 mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 10px;
  color:#fff;
}
mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-left: 10px;
  color:#fff;
}
mat-row, mat-footer-row {
  min-height: 48px;
  width: 365px;
  padding-left: 0px;
}
::ng-deep .container-xxl[_ngcontent-pqh-c347], .container-xl[_ngcontent-pqh-c347], .container-lg[_ngcontent-pqh-c347], .container-md[_ngcontent-pqh-c347], .container-sm[_ngcontent-pqh-c347], .container[_ngcontent-pqh-c347] {
  max-width: 1116px;
  padding: 10px 4px 10px 0px;
}