@import"../../../app/patient/message.component.scss";
@import "../../../assets/cstm.material.scss";
// @import"../../../assets/common.scss";


//@import"../../../assets/common.scss";
.drop-menu{
  color: black !important;
}
.drop-menu:hover{
  color: #41b6a6 !important;
  text-decoration: underline;
}
.action{
  padding: 0px 70px 0px 0px !important;
}
.dropdown-menu{
    border: 1px solid #fe8f00 !important;
    border-top: #fff !important;
}
@media (max-width: 1024px) {
  .btn-light {
    white-space: break-spaces;
    padding: 0px 0px 0px 0px !important;
  }
}
  .btn-lightalignement
  {
    width: 88% !important;
  }
  .rightblockalignments {
    border-top: 1px solid #41b6a6;
    border-left: 1px solid #41b6a6;
  }
  
  ::ng-deep .leftblockalignments {
    border-top: 1px solid #41b6a6;
    padding-left: 0px !important;
    margin-right: -12px !important;
  }


.drop-input {
  margin-top: 2%;
  margin-bottom: 2%;
}
.divScroll1{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 525px;
   width: 1025px;
}
::ng-deep .mat-paginator-range-actions {
  display: flow-root !important;
  align-items: center;
}

.matheaderrow{
  min-height: 43px;
  background-color: #41b6a6;
  color: #fff !important;
  width: 365px;
  margin-left: 0px;
}
mat-cell:first-of-type {
  padding-left: 14px;
}
 mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  color:#fff;
}
mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  
  color:#fff;
}
mat-row, mat-footer-row {
  min-height: 48px;
  width: 365px;
  padding-left: 0px;
}

