
  <div class="modal-dialog medication-table-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">
          <span>All | </span>
          <span>Medications | </span>
          <span>Prescription</span>
        </h4>
        <!-- <div class="manual-RX" (click)="openComponentDialog(medicationDialogComponent, null, ActionTypes.add)">
          <a class="erx-icon">
          </a>
          <span>Manual RX</span>
        </div> -->
        <span type="button" class="cross-mark" (click)="cancel()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div scrollable-mat-table>
          <mat-table [dataSource]="medication_prescription" matSort>
            <ng-container matColumnDef="Status">
              <mat-header-cell *matHeaderCellDef mat-sort-header="StartAt">Status</mat-header-cell>
              <mat-cell *matCellDef="let medication">
                <a (click)="openComponentDialog(medicationDialogComponent, medication, ActionTypes.view)">
                  {{medication.Status}}{{medication?.StartAt | date:'MM/dd/yyyy'}}
                </a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Name">
              <mat-header-cell *matHeaderCellDef mat-sort-header="DrugName">Name</mat-header-cell>
              <mat-cell *matCellDef="let medication">
                <a (click)="openComponentDialog(medicationDialogComponent, medication, ActionTypes.view)">
                  {{medication?.DrugName}}
                </a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Type">
              <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
              <mat-cell *matCellDef="let medication">Medication
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Method">
              <mat-header-cell *matHeaderCellDef>Method</mat-header-cell>
              <mat-cell *matCellDef="let medication">Manual</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="medicationColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: medicationColumns"></mat-row>
          </mat-table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-green mx-2" (click)="openComponentDialog(medicationDialogComponent, null, ActionTypes.add)" >Add</button>
        <button class="btn btn-green" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
