<div class="modal-dialog create-diagnoses-modal">
  <div class="modal-content body">
    <div class="modal-header header">
      <div class="col-sm-3 mx-2">
        <h4 class="Helvetica-sans-serif-medium mt-3 mt-md-2">Diagnosis (Dx)</h4>
      </div>
      <div class="col-sm-7 row-head">
        <h4 class="Helvetica-sans-serif-medium mx-2 mt-3">Record Diagnosis(Dx)</h4>
      </div>
      <div>
        <span type="button" class="cross-mark" (click)="cancel()">
          x
        </span>
      </div>
    </div>
    <div class="body">
      <div class="row" style="padding: 0px 12px;">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8 side-boder">
          <label class="required mt-3">Code System</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Please select one" [(ngModel)]="patientDiagnoses.CodeSystem"
              [disabled]="!patientDiagnoses.IsEditable">
              <mat-option *ngFor="let code of DxCodes" [value]="code">
                {{code}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <label class="required">Code</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput placeholder="Code" name="Code" [(ngModel)]="patientDiagnoses.Code"
              [disabled]="!patientDiagnoses.IsEditable" />
          </mat-form-field>
          <label class="required">Descrption</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput placeholder="Description" [(ngModel)]="patientDiagnoses.Description"
              [disabled]="!patientDiagnoses.IsEditable" />
          </mat-form-field>
          <div class="row">
            <label class="required">Start Date</label>
            <mat-form-field appearance="outline" class="green-calendar col-md-8">
              <input matInput class="pointer" [matDatepicker]="startdate" (click)="startdate.open()" readonly
                placeholder="Start Date" name="startdate" [(ngModel)]="patientDiagnoses.StartAt" />
              <mat-datepicker-toggle matSuffix [for]="startdate">
              </mat-datepicker-toggle>
              <mat-datepicker #startdate></mat-datepicker>
            </mat-form-field>
            <div class="col-lg-4">
              <button class="btn btn-green btn-today pull-right" (click)="todayStartAt()">Today</button>
            </div>
          </div>
          <div class="row">
            <label class="required">End Date</label>
            <mat-form-field appearance="outline" class="green-calendar col-md-8">
              <input matInput class="pointer" [matDatepicker]="enddate" placeholder="End Date" name="enddate"
                (click)="enddate.open()" readonly [(ngModel)]="patientDiagnoses.StopAt" />
              <mat-datepicker-toggle matSuffix [for]="enddate">
              </mat-datepicker-toggle>
              <mat-datepicker #enddate></mat-datepicker>
            </mat-form-field>
            <div class="col-lg-4">
              <button class="btn btn-green btn-today pull-right" (click)="todayStopAt()">Today</button>
            </div>
          </div>
          <label class="required">Diagnosis Notes:</label>
          <textarea placeholder="Diagnosis Notes:" class="form-control col-12 mt-3 mt-md-0"
            [(ngModel)]="patientDiagnoses.Note"></textarea>
          <div class="row links-item mt-2">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p>Resources:</p>
            </div>
            <div class="col-md-4 col-sm-4"  *ngIf="patientDiagnoses.DiagnosisId != undefined">
              <a class="underlined" href="https://connect.medlineplus.gov/application?mainSearchCriteria.v.cs=2.16.840.1.113883.6.88&mainSearchCriteria.v.c=" target="_blank">
                Medline Plus
              </a>
            </div>
            <div class="col-md-5 col-sm-5"  *ngIf="patientDiagnoses.DiagnosisId != undefined">
              <a class="underlined" id="education_materials_show"
                data-target="#modal-education-materials" data-remote="true" data-bs-toggle="modal"
                data-bs-target="#exampleModal7">Patient Education Materials</a>
              </div>
          </div>
          <div class="right-block">
            <button class="btn btn-green btn-cancel pull-right" (click)="cancel()">
              Cancel</button>
            <button class="btn btn-green btn-cancel mx-3 mb-3 pull-right" [disabled]="disableDiagnosis()"
              (click)="CreateDiagnoses()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
