@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.create-diagnoses-modal.modal-dialog {
  max-width: 950px;
}
.body {
  max-height: calc(90vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-header.header {
  padding: 0px 10px !important;
}
.row-head {
  border-left: 1px solid #fff;
  min-height: 50px;
}
.side-boder {
  border-left: 1px solid #41b6a6;
}
.btn-custom {
  width: 85px;
}
.btn-cancel {
  width: 80px !important;
  margin-left: 11px;
}
.btn-today {
  width: 97px !important;
}
textarea.form-control {
  height: 119px !important;
  resize: none;
  font-size: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1.5;
  border: 1px solid #41b6a6;
  border-radius: 4px;
}
.links {
  background-color: #41b6a6;
  margin: 10px -13px;
  font-size: 16px !important;
  color: #fff;
  padding: 9px 0px 0px 0px;
}
