<div class="patients-navigation">
  <ul id="patient_navigation">
    <li class="active">
      <a class="patient_link">
        <div class="patient_name">Patients</div>
      </a>
      <i class="category-arrow"></i>
    </li>
    <li id="patient">
      <a class="patient_link">
        <div class="patient_name">Karthik test</div>
        <div class="patient_dob">03/24/22</div>
      </a>
      <a class="remove-chart-patient patient-remove-link" data-id="6243ec4a391cba0a3bf13cc8">
        <i class="fa fa-times"></i>
      </a>
    </li>
    <li class="arrow-navigation">
      <i class="category-arrow"></i>
    </li>
  </ul>
</div>


<div class="patients-navigation-info">
  <img class="avatar avatar-empty" src="assets/images/avatar-empty.svg" alt="Avatar empty">
  <ul class="patient-main-info">
    <li>{{patient?.FirstName}} {{patient?.LastName}}</li>
    <li>{{patient?.Age}} yrs {{patient?.Gender}}</li>
    <li>
      <b>DOB:</b>
      <time>{{patient?.Dob | date: 'MM/dd/yyyy'}}</time>
    </li>
    <li>
      <b>C:</b>4565654675
    </li>
    <li>
      <b>H:</b>5346456547
    </li>
    <li>
      <a class="btn-modal inivte-to-portal-button">
        <span class="fa fa-plus-circle"></span> Invite to Patient Portal</a>
    </li>
  </ul>
  <div class="dropdown" style="display: inline-block;">
    <button class="btn btn-orange font-family dropdown-toggle" type="button" id="dropdownMenuButton2"
      data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      Patient Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <li><a>Add Procedure</a></li>
      <li><a>Add Encounter Note</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a>Add Lab Order</a></li>
      <li><a>Add Lab Results</a></li>
      <li><a>Add Imaging Order</a></li>
      <li><a>Add Imaging Results</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a>Invite to Patient Portal</a></li>
      <li><a>Send a Message</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li class="dropend">
        <a class="dropdown-toggle" id="dropdownSubMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <span>Print / Send To</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
          <li><a class="disabled">
              <p>Patient Chart</p>
              <p>| (includes everything)</p>
            </a></li>
          <li><a class="disabled">Treatments</a></li>
          <li><a class="disabled">Encounter Note(s)</a></li>
          <li><a class="disabled">Perio Chart</a></li>
        </ul>
      </li>
      <li><a class="create-ccda">Create C-CDA</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="delete-patient">Delete Patient</a></li>
    </ul>
  </div>
</div>
<div class="show-patient" role="tabpanel">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-chart-tab" data-bs-toggle="pill" data-bs-target="#pills-chart"
        type="button" role="tab" aria-controls="pills-chart" aria-selected="true">Chart</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-dentalchart-tab" data-bs-toggle="pill" data-bs-target="#pills-dentalchart"
        type="button" role="tab" aria-controls="pills-dentalchart" aria-selected="false">Dental Chart</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-insurance-tab" data-bs-toggle="pill" data-bs-target="#pills-insurance"
        type="button" role="tab" aria-controls="pills-insurance" aria-selected="false">Insurance</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-amendments-tab" data-bs-toggle="pill" data-bs-target="#pills-amendments"
        type="button" role="tab" aria-controls="pills-amendments" aria-selected="false">Amendments</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-patients-tab" data-bs-toggle="pill" data-bs-target="#pills-patients"
        type="button" role="tab" aria-controls="pills-patients" aria-selected="false">Patients</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-cqmNperformed-tab" data-bs-toggle="pill" data-bs-target="#pills-cqmNperformed"
        type="button" role="tab" aria-controls="pills-cqmNperformed" aria-selected="false">CQMs Not Performed</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-chart" role="tabpanel" aria-labelledby="pills-chart-tab">
      <app-chart></app-chart>
    </div>
    <div class="tab-pane fade" id="pills-dentalchart" role="tabpanel" aria-labelledby="pills-dentalchart-tab">
      <app-dentalchart></app-dentalchart>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <app-profile></app-profile>
    </div>
    <div class="tab-pane fade" id="pills-insurance" role="tabpanel" aria-labelledby="pills-insurance-tab">
      <app-insurance></app-insurance>
    </div>
    <div class="tab-pane fade" id="pills-amendments" role="tabpanel" aria-labelledby="pills-amendments-tab">
      <app-amendments></app-amendments>
    </div>
    <div class="tab-pane fade" id="pills-patients" role="tabpanel" aria-labelledby="pills-patients-tab">
      <app-resetpassword></app-resetpassword>
    </div>
    <div class="tab-pane fade" id="pills-cqmNperformed" role="tabpanel" aria-labelledby="pills-cqmNperformed-tab">
      <app-cqmsnotperformed></app-cqmsnotperformed>
    </div>
  </div>
</div>
