
div.patients-navigation{
  background:#ecf8f6;
  width: inherit;
  height: 60px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.text-truncate {
  display: inline-block;
  max-width: 255px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow {
  display: inline-block;
  width: 540px;
  white-space: nowrap;
  overflow: hidden auto !important;
  text-overflow: ellipsis;
}
.show-overflow{
  // z-index: 10000;
  width: 540px;
  position: absolute;
  display: inline-block;

}


.patients-navigation-info {
  min-height: 58px;
  padding: 0 20px;
  line-height: 50px;
  background-color: #41b6a6;
  // font-size: 28px;
  color: #fff;
}
.patients-navigation-info .avatar {
  display: inline-block;
  height: 45px;
  width: 45px;
}
.avatar.avatar-empty {
  background: #D8D8D8;
}
.avatar {
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  transition: background 0.2s, border 0.2s;
}
img {
  vertical-align: middle;
}
.patients-navigation-info>ul {
  display: inline-block;
  padding: 0%;
}
ul {
  margin-bottom: 0 !important;
}
.patient-main-info li:first-child {
  padding: 0px 10px !important;
  font-size: 28px !important;
  list-style: none;
  margin-right: 10px;
  border-right: 1px solid #fff;
}
.patient-main-info li:not(:first-child) {
  font-size: 18px !important;
  vertical-align: middle;
  list-style: none;
  padding: 15px 5px 10px !important;
  border-right: 1px solid #fff;
}
.patients-navigation-info>ul li {
  list-style: none;
  display: inline-block;
  padding: 12px 10px;
  border-right: 1px solid #fff;
  min-height: 50px;
}
b {
  font-weight: 700;
  font-size: 18px !important;
}
.inivte-to-portal-button {
  color: #fff;
}
a.inivte-to-portal-button {
  text-decoration: none !important;
  cursor: pointer;
}

// nav tabs
.show-patient .nav-pills {
  padding-bottom: 10px;
}
.show-patient .nav-pills {
  border-bottom: 0;
  background-color: #41b6a6;
  // padding-left: 28px;
  padding-left: 20px;
}
.show-patient .nav-pills li {
  border-radius: 0;
  margin: 7px 10px 0 0;
}
.show-patient .nav-link{
  font-family: 'Roboto';
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #41b6a6;
  background-color: #fff;
}
.nav-pills .nav-link {
  background: #28776C;
  color: #fff;
  min-width: 150px;
  justify-content: center;
  font-size: 14px;
  border-radius: 0;
  font-weight: 400;
}
.nav-pills .nav-item .nav-link{
  padding: 8px 28px;
}
#pills-tabContent.tab-content{
  border: 0;
  padding: 0;
}
.dropdown .btn.btn-orange, .patients-navigation-info .btn.btn-orange {
  color: #fe8f00;
  background-color: #fff;
  border-color: #fe8f00;
}
.dropdown .btn.btn-orange:hover, .patients-navigation-info .btn.btn-orange:hover {
  color: #41b6a6;
  background-color: #fff;
  border-color: #41b6a6;
}
.dropdown .font-family, .patients-navigation-info .font-family{
  font-family: 'Roboto';
}
.btn {
  width: 165px;
  height: 45px;
  display: block;
  padding: 0;
  line-height: 2.7;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu{
  border-color: #41b6a6;
  background-color: #fff;
  padding: 0;
  margin-top: 3px;
  border-radius: 3px;
  min-width: 185px;
  right: 0 !important;
  left: auto !important;
}
.dropdown-menu li {
  height: 17px;
  width: calc(100% - 6px);
  display: table;
  margin: 3px;
}
.dropdown-menu li a {
  padding: 0 0 0 10px;
  color: #4a4a4a;
  font-size: 15px;
}
.dropdown-menu li a:hover{
  color: #41b6a6;
  text-decoration: underline;
}
a.delete-patient{
  color: #d64841 !important;
}
a.create-ccda{
  color: #fe8f00 !important;
}
a.disabled{
  opacity: 0.5 !important;
  pointer-events: none;
}
.dropdown .dropdown-menu li a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: background-color 0.2s, border 0.2s;
}
.dropdown-divider{
  border-top: 1px solid #41b6a6;
  opacity: 1;
}
.dropdown-menu .dropdown-menu {
  top: -.5rem !important;
}
.details-selected{
  color:#41b6a6 !important;
  background: white !important;
}
.modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}

:host ::ng-deep .track circle{
  stroke-opacity: 0.3 !important;
}

// delete patient confirmation
#delete-patient-modal {
  .modal-dialog {
    max-width: 700px;
    margin-top: 0px !important;
  }

  .modal-content {
    border: 1px solid #D9534E;
    background-color: #fff;
  }

  .modal-header {
    background-color: #D9534E;
    border-bottom: 1px solid #D9534E;
    min-height: 50px;
    padding: 1rem;
  }

  .modal-title {
    line-height: 1.5;
    color: #fff;
  }

  .modal-footer {
    border-top: transparent;
  }

  .btn.btn-danger {
    color: #d64841;
    background-color: #fff;
  }
  .btn.btn-danger:hover {
    color: #fff;
    background-color: #d64841;
  }

  .Helvetica-sans-serif-medium{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
  }

  .modal-dialog .cross-mark {
    border: 1px solid currentColor;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 3px;
    padding: 0px !important;
    color: white;
    font-family: cursive;
  }
  .modal-dialog .cross-mark:hover {
    opacity: 0.75;
  }

  // check box
::ng-deep .mat-checkbox {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #d64841 !important;
    background-color: #fff !important;
  }
}

::ng-deep .mat-checkbox:hover {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #d64841;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent {

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #fff !important;
    border-color: #d64841 !important;
  }

  .mat-checkbox-checkmark-path {
    stroke: #d64841 !important;
  }
}
}

