<div class="patients-navigation" style="margin-top: -18px;">
  <!-- <patient-breadcrumb></patient-breadcrumb> -->
  <ng-template #patientbreadcrumb></ng-template>
</div>
<div class="patients-navigation-info" style="clear: both;">
  <img class="avatar avatar-empty" src="assets/images/avatar-empty.svg" alt="Avatar empty">
  <ul class="patient-main-info">
    <li>{{patient?.FirstName}} {{patient?.LastName}}</li>
    <li>{{patient?.Age}} yrs {{patient?.Gender}}</li>
    <li *ngIf="patient?.Dob != null">
      <b>DOB:</b>
      <time>{{patient?.Dob | date: 'MM/dd/yyyy'}}</time>
    </li>
    <li *ngIf="patient.MobilePhone != null">
      <b>C:</b>{{patient.MobilePhone}}
    </li>
    <li *ngIf="patient.PrimaryPhone != null">
      <b>H:</b>{{patient.PrimaryPhone}}
    </li>
    <li *ngIf="patientAccountInfo.HasAccount">
        <span class="fa fa-check-circle"></span> Patient Portal: Enrolled
    </li>
    <li *ngIf="!patientAccountInfo.HasAccount && patientAccountInfo.InvitationSentAt != null">
        <span class="fa fa-minus-circle"></span> Patient Portal: Pending
    </li>
    <li *ngIf="!patientAccountInfo.HasAccount && patientAccountInfo.InvitationSentAt == null">
      <a class="btn-modal inivte-to-portal-button"
      (click)="openComponentDialog(patientPortalAccountComponent,patientUser,ActionTypes.view)">
        <span class="fa fa-plus-circle"></span> Invite to Patient Portal</a>
    </li>
  </ul>
  <div class="dropdown" style="float:right;margin-top:10px;">
    <button class="btn btn-orange font-family dropdown-toggle" type="button" id="dropdownMenuButton2"
      data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      Patient Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <li><a (click)="openComponentDialog(procedureDialogComponent,procedureInfo,ActionTypes.new)">Add Procedure</a></li>
      <li><a (click)="openComponentDialog(encounterDialogComponent,null,ActionTypes.new)">Add Encounter Note</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a>Add Lab Order</a></li>
      <li><a>Add Lab Results</a></li>
      <li><a>Add Imaging Order</a></li>
      <li><a>Add Imaging Results</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a>Invite to Patient Portal</a></li>
      <li><a>Send a Message</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li class="dropend">
        <a class="dropdown-toggle" id="dropdownSubMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <span>Print / Send To</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
          <li><a class="disabled">
              <p>Patient Chart</p>
              <p>| (includes everything)</p>
            </a></li>
          <li><a class="disabled">Treatments</a></li>
          <li><a class="disabled">Encounter Note(s)</a></li>
          <li><a class="disabled">Perio Chart</a></li>
        </ul>
      </li>
      <li><a class="create-ccda">Create C-CDA</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="delete-patient">Delete Patient</a></li>
    </ul>
  </div>
</div>
<div class="show-patient" role="tabpanel">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-chart-tab" data-bs-toggle="pill" data-bs-target="#pills-chart"
        type="button" role="tab" aria-controls="pills-chart" [class.active]="viewModel.PatientView == 'Chart' ? true :false" (click)="UpdatePatientView('Chart')">Chart</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-dentalchart-tab" data-bs-toggle="pill" data-bs-target="#pills-dentalchart"
        type="button" role="tab" aria-controls="pills-dentalchart" [class.active]="viewModel.PatientView == 'Dental Chart' ? true :false" (click)="UpdatePatientView('Dental Chart')">Dental Chart</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
        type="button" role="tab" aria-controls="pills-profile" [class.active]="viewModel.PatientView == 'Profile' ? true :false" (click)="UpdatePatientView('Profile')">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-insurance-tab" data-bs-toggle="pill" data-bs-target="#pills-insurance"
        type="button" role="tab" aria-controls="pills-insurance" [class.active]="viewModel.PatientView == 'Insurance'" (click)="UpdatePatientView('Insurance')">Insurance</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-amendments-tab" data-bs-toggle="pill" data-bs-target="#pills-amendments"
        type="button" role="tab" aria-controls="pills-amendments" [class.active]="viewModel.PatientView == 'Amendments'" (click)="UpdatePatientView('Amendments')">Amendments</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-patients-tab" data-bs-toggle="pill" data-bs-target="#pills-patients"
        type="button" role="tab" aria-controls="pills-patients" [class.active]="viewModel.PatientView == 'Patients'" (click)="UpdatePatientView('Patients')">Patients</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-cqmNperformed-tab" data-bs-toggle="pill" data-bs-target="#pills-cqmNperformed"
        type="button" role="tab" aria-controls="pills-cqmNperformed" [class.active]="viewModel.PatientView == 'CQMs Not Performed'" (click)="UpdatePatientView('CQMs Not Performed')">CQMs Not Performed</button>
    </li>
  </ul>

  <mat-progress-bar mode="indeterminate" bufferValue="50" value=100 *ngIf="loading$ | async" ></mat-progress-bar>

  <div class="tab-content" id="pills-tabContent">
    <ng-template #chartview></ng-template>
  </div>
</div>
