<div class="modal-dialog medication-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">Record Medication (Local)</h4>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row mt-2">
        <label class="title-field required">Medication Name:</label>
        <div class="col-12">
          <mat-form-field class="medical-form-field" appearance="outline" [ngStyle]="{'width':'100%'}">
            <input matInput #searchMedicationName class="form-control" placeholder="Search Medication Name" type="text"
              id="searchMedicationName" name=" searchMedicationName" [matAutocomplete]="medicationName" />
            <mat-autocomplete [displayWith]="displayWithMedication" #medicationName="matAutocomplete"
              (optionSelected)="onSelectedMedication($event)">
              <mat-option [hidden]="displayMessage == false" [disabled]="true" class="text-wrap lh-1 fs-6">
                Enter atleast 1 character, you can only select 1 item
              </mat-option>
              <mat-option *ngIf="isLoading">Loading ...</mat-option>
              <mat-option ngClass="option-white-space" *ngFor="let drug of medications | async" [value]="drug"
                class="medical-code-option">
                {{drug.Name}}
              </mat-option>
              <mat-option *ngIf="noRecords">No Records Found</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span class="selected-allergen" id="allergenName" *ngIf="patientMedication.DrugName != null">
            <p>{{patientMedication.DrugName}}</p>
            <a class="icon icon-sm icon-circle icon-ic-delete pull-right" id="icon-delete"
              (click)="deleteMedicationName()"></a>
          </span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col-md-6">
          <label class="title-field">Rx Norm ID:</label>
          <mat-form-field class="grey-matform disabled" appearance="outline">
            <input matInput placeholder="Rx Norm ID" name="rxnormid:" [(ngModel)]="patientMedication.Rxcui" disabled />
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 ">
          <label class="title-field">NDC ID:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <mat-select placeholder="NDC Id" [(ngModel)]="patientMedication.NDC">
              <mat-option *ngFor="let ndc of ndcList" [value]="ndc">
                {{ndc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col-md-6">
          <label class="title-field">Dose and Form:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Dose and Form" name="doseandform:"
              [(ngModel)]="patientMedication.DoseandForm" />
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 ">
          <label class="title-field">Dispense</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Dispense" name="dispense:" [(ngModel)]="patientMedication.Dispense" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col-md-6">
          <label class="title-field">Units:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Units" name="units:" [(ngModel)]="patientMedication.Units" />
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <label class="title-field">Quantity:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Quantity" name="quantity" [(ngModel)]="patientMedication.Quantity" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class=" form-group col-md-6">
          <label class="title-field">Refills:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Refills" name="refills:" [(ngModel)]="patientMedication.Refills" />
          </mat-form-field>
        </div>
        <div class="form-group  col-md-6">
          <label class="title-field">Days Supply:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Days Supply" name="dayssupply:" [(ngModel)]="patientMedication.DaysSupply" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class=" form-group col-md-6">
          <label class="title-field required">Start Date</label>
          <mat-form-field appearance="outline" class="grey-matform grey-calendar medication-datepicker">
            <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="picker5"
              (click)="picker5.open()" readonly placeholder="Start Date" [(ngModel)]="patientMedication.StartAt" />
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group  col-md-6">
          <label class="title-field">End Date</label>
          <mat-form-field appearance="outline" class="grey-matform grey-calendar medication-datepicker">
            <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="picker4"
              (click)="picker4.open()" readonly placeholder="End Date" [(ngModel)]="patientMedication.StopAt" />
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
      <div class="row mt-2">
        <div class=" form-group col-md-6">
          <label class="title-field">Reasons</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Reasons" name="reasons" [(ngModel)]="patientMedication.ReasonDescription" />
          </mat-form-field>
        </div>
        <div class="form-group mt-4 col-md-6">
          <button type="button" class="btn btn-orange mt-1"
            (click)="openComponentDialog(discontinueDialogComponent,null,ActionTypes.add)">
            Discontinue
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group">
          <label class="text-bold title-field">Patient Direction:</label>
          <textarea class="form-control col-12 mt-3 mt-md-0" placeholder="Notes"
            [(ngModel)]="patientMedication.Notes"></textarea>
        </div>
      </div>
      <div class="row links-item mt-4">
        <div class="col-md-2 col-sm-3">
          <p>Resources:</p>
        </div>
        <div class="col-md-5 col-sm-5">
          <a class="underlined"
            href="https://connect.medlineplus.gov/application?mainSearchCriteria.v.cs=2.16.840.1.113883.6.88&mainSearchCriteria.v.c="
            target="_blank">
            Medline Plus
          </a>
        </div>
        <div class="col-md-5 col-sm-5">
          <a class="underlined" id="education_materials_show"
            (click)="openComponentDialog(patientEducationMaterialDialogComponent,null,ActionTypes.add)">Patient
            Education Materials
          </a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-green" [disabled]="disableMedication()" (click)="CreateMedication()">
        Save
      </button>
      <button type="button" class="btn btn-green" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
