<div class="modal-dialog medication-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">Record Medication (Local)</h4>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row mt-2">
        <label class="title-field required">Medication Name:</label>
        <div class="col-12">
          <mat-form-field class="medical-form-field" appearance="outline" [ngStyle]="{'width':'100%'}">
            <input matInput #searchMedicationName class="form-control" placeholder="Search Medication Name" type="text"
              id="searchMedicationName" name=" searchMedicationName" [matAutocomplete]="medicationName"
              #trigger="matAutocompleteTrigger" appAutocompletePosition="trigger" />
            <mat-autocomplete [displayWith]="displayWithMedication" class="scrollable-table" #medicationName="matAutocomplete"
              (optionSelected)="onSelectedMedication($event)">
              <mat-option [hidden]="displayMessage == false" [disabled]="true" class="text-wrap lh-1 fs-6">
                Enter atleast 1 character, you can only select 1 item
              </mat-option>
              <mat-option *ngIf="isLoading">Loading ...</mat-option>
               <mat-optgroup *ngFor="let druggroup of medications | async" [label]="DrugTermType(druggroup.TermType)"  class="mat-advance-drug-group">
                <mat-option *ngFor="let drug of druggroup.Drugs" [value]="drug"
                class="medical-code-option option-white-space">
                {{drug.rxcui}} - {{drug.Name}}
              </mat-option>
               </mat-optgroup>
              <mat-option *ngIf="noRecords">No Records Found</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span class="selected-allergen" id="allergenName" *ngIf="patientMedication.DisplayName != null">
            <p style="font-weight: 600;
            font-size: 12pt;
            color: #41b6a6;">{{patientMedication.DisplayName}}</p>
            <a class="icon icon-sm icon-circle icon-ic-delete pull-right" id="icon-delete" *ngIf="this.patientMedication.MedicationId == null"
              (click)="deleteMedicationName()"></a>
          </span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col-md-6">
          <label class="title-field">Rx Norm ID:</label>
          <mat-form-field class="grey-matform disabled" appearance="outline">
            <input matInput placeholder="Rx Norm ID" name="rxnormid:" [(ngModel)]="patientMedication.Rxcui" disabled />
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 ">
          <label class="title-field">NDC ID:</label>
          <div class="ndc-readonly">
            {{NDCIDs}}
          </div>
          <!-- <div [matTooltip]="patientMedication.NDC"> -->
          <!-- <mat-form-field class="grey-matform col-12" appearance="outline">
            <input matInput placeholder="Rx Norm ID" name="rxnormid:" [(ngModel)]="patientMedication.NDC" disabled
            /> -->
            <!-- <mat-select placeholder="NDC Id" [(ngModel)]="patientMedication.NDC">
              <mat-option *ngFor="let ndc of ndcList" [value]="ndc">
                {{ndc}}
              </mat-option>
            </mat-select> -->

          <!-- </mat-form-field> -->
        <!-- </div> -->
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col-md-3">
          <label class="title-field">Drug Strength:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Drug Strength" name="doseandform:" readonly style="cursor: not-allowed"
              [(ngModel)]="patientMedication.DrugStrength" />
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <label class="title-field">Drug Form:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #drugFormInput placeholder="Drug and Form" name="DrugForm:" readonly style="cursor: not-allowed"
              [(ngModel)]="patientMedication.DrugForm" [matAutocomplete]="drugForm" />
          </mat-form-field>
          <mat-autocomplete #drugForm="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredDrugForm | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <!-- <div class="form-group col-md-6 ">
          <label class="title-field">Dispense:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Dispense" name="dispense:" [(ngModel)]="patientMedication.Dose" />
          </mat-form-field>
        </div> -->




      </div>
      <div class="row mt-2" style="display:inline-flex">
        <div class="form-group col-md-12">Patient Sig: <b>{{patientMedication.Action}} {{patientMedication.Dose}}
            {{patientMedication.DoseUnits}} {{patientMedication.DoseRoute}} {{patientMedication.DoseTiming}}
            {{patientMedication.DoseOther}}</b></div>
      </div>
      <div class="row mt-2">
        <div class="form-group col-md-3">
          <label class="title-field">Action:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #actionInput [matAutocomplete]="action" placeholder="Action" name="action:"
              [(ngModel)]="patientMedication.Action" />
          </mat-form-field>
          <mat-autocomplete #action="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredActions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="form-group col-md-3">
          <label class="title-field">Dose:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #doseInput [matAutocomplete]="dose" placeholder="Dose" name="dose:"
              [(ngModel)]="patientMedication.Dose" />
          </mat-form-field>
          <mat-autocomplete #dose="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredDose | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="form-group col-md-3">
          <label class="title-field">Dose Unit:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #doseunitInput [matAutocomplete]="doseunit" placeholder="Dose Unit" name="doseunit:"
              [(ngModel)]="patientMedication.DoseUnits" />
          </mat-form-field>
          <mat-autocomplete #doseunit="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredDoseUnits | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group col-md-3 ">
          <label class="title-field">Route:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #routeInput [matAutocomplete]="route" placeholder="Route" name="route:"
              [(ngModel)]="patientMedication.DoseRoute" />
            <mat-autocomplete #route="matAutocomplete" class="scrollable-table">
              <mat-option *ngFor="let option of filteredRoutes | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>


      </div>


      <div class="row mt-2">
        <div class="form-group col-md-6 ">
          <label class="title-field">Dose Timing:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #doseTimingInput [matAutocomplete]="doseTiming" placeholder="Dose Timing" name="doseTiming:"
              [(ngModel)]="patientMedication.DoseTiming" />
          </mat-form-field>
          <mat-autocomplete #doseTiming="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredDoseTimings | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group col-md-6">
          <label class="title-field">Dose Other:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #doseotherInput [matAutocomplete]="doseother" placeholder="Dose Other" name="doseother:"
              [(ngModel)]="patientMedication.DoseOther" />
          </mat-form-field>
          <mat-autocomplete #doseother="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredDoseOthers | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>


      </div>


      <div class="row mt-2">
        <div class="form-group  col-md-3">
          <label class="title-field">Days Supply:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #daysSupplyInput [matAutocomplete]="dayssupply" placeholder="Days Supply" name="dayssupply:"
              [(ngModel)]="patientMedication.DaysSupply" />
          </mat-form-field>
          <mat-autocomplete #dayssupply="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredDaysSupplys | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group col-md-3">
          <label class="title-field">Quantity:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Quantity" name="quantity" [(ngModel)]="patientMedication.Quantity" />
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <label class="title-field">Quantity Unit:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput #quntityUnitInput [matAutocomplete]="quntityunit" placeholder="Quntity Unit"
              name="quntityunit:" [(ngModel)]="patientMedication.QuantityUnits" />
          </mat-form-field>
          <mat-autocomplete #quntityunit="matAutocomplete" class="scrollable-table">
            <mat-option *ngFor="let option of filteredQuntityUnits | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class=" form-group col-md-3">
          <label class="title-field">Refills:</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Refills" name="refills:" [(ngModel)]="patientMedication.Refills" />
          </mat-form-field>
        </div>


      </div>


      <div class="row mt-2">
        <div class=" form-group col-md-6">
          <label class="title-field required">Start Date</label>
          <mat-form-field appearance="outline" class="grey-matform grey-calendar medication-datepicker">
            <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="picker5"
              (click)="picker5.open()" readonly placeholder="Start Date" [(ngModel)]="patientMedication.StartAt"
              (dateChange)="dateChange($event)" />
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group  col-md-6">
          <label class="title-field">End Date</label>
          <mat-form-field appearance="outline" class="grey-matform grey-calendar medication-datepicker">
            <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="picker4"
              (click)="picker4.open()" readonly placeholder="End Date" [(ngModel)]="patientMedication.StopAt"
              [min]="minDateForEndDate" [disabled]="patientMedication.StartAt == null" />
            <mat-datepicker-toggle matSuffix [for]="picker4" [disabled]="patientMedication.StartAt == null">
            </mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
      <div class="row mt-2" *ngIf="patientMedication.MedicationId != null && patientMedication.MedicationId != undefined">
        <div class=" form-group col-md-6">
          <label class="title-field">Reasons</label>
          <mat-form-field class="grey-matform" appearance="outline">
            <input matInput placeholder="Reasons" name="reasons" [(ngModel)]="patientMedication.ReasonDescription" />
          </mat-form-field>
        </div>
        <div class="form-group mt-4 col-md-6">
          <button type="button" class="btn btn-orange mt-1"
            (click)="openComponentDialog(discontinueDialogComponent,null,ActionTypes.add)">
            Discontinue
          </button>
          <!-- [disabled]="disableDiscontinue()" -->
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group">
          <label class="text-bold title-field">Patient Direction:</label>
          <textarea class="form-control col-12 mt-3 mt-md-0" placeholder="Notes"
            [(ngModel)]="patientMedication.Notes"></textarea>
        </div>
      </div>
      <div class="row  mt-4">
        <div class="links-item" *ngIf="this.patientMedication.Rxcui != null">
          <div class="col-md-2 col-sm-3">
            <p>Resources:</p>
          </div>
          <div class="col-md-5 col-sm-5">
            <a class="underlined"
              [href]="MedLinePlusUrl()"
              target="_blank">
              Medline Plus
            </a>
          </div>
          <div class="col-md-5 col-sm-5">
            <a class="underlined" id="education_materials_show" *ngIf="educationMaterial != null"
              (click)="openComponentDialog(patientEducationMaterialDialogComponent,null,ActionTypes.view)">Patient
              Education Materials
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="w-100">
        <button class="btn btn-danger mx-3 pull-left" *ngIf="patientMedication.MedicationId != undefined"
          (click)="DeleteMedication()">Delete</button>
        <button type="button" class="btn btn-green pull-right" (click)="cancel(true)">
          Cancel
        </button>
        <p *ngIf="saveButtonClicked" class="pull-right" style="padding: 5px 10px; width: 40px;align-items: center; margin-right: 40px;margin-bottom: 0px;">
          <svg class='fontawesomesvg fa-spin fa-2x' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M0 32C0 14.3 14.3 0 32 0H64 320h32c17.7 0 32 14.3 32 32s-14.3 32-32 32V75c0 42.4-16.9 83.1-46.9 113.1L237.3 256l67.9 67.9c30 30 46.9 70.7 46.9 113.1v11c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 64 32c-17.7 0-32-14.3-32-32s14.3-32 32-32V437c0-42.4 16.9-83.1 46.9-113.1L146.7 256 78.9 188.1C48.9 158.1 32 117.4 32 75V64C14.3 64 0 49.7 0 32zM96 64V75c0 25.5 10.1 49.9 28.1 67.9L192 210.7l67.9-67.9c18-18 28.1-42.4 28.1-67.9V64H96zm0 384H288V437c0-25.5-10.1-49.9-28.1-67.9L192 301.3l-67.9 67.9c-18 18-28.1 42.4-28.1 67.9v11z"/>
          </svg>
        </p>
        <button type="button" class="btn btn-green  mx-3 pull-right" [disabled]="disableMedication()"
          (click)="CreateMedication()" *ngIf="!saveButtonClicked">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
