@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.modal-dialog {
  overflow-y: initial !important;
  // max-width: inherit !important;
  // margin: 0 !important;
}
.modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}
// medication popup
.modal-dialog {
  max-width: 900px;
}
.btn {
  height: 45px;
}
.title-field {
  font-size: 14px;
}
textarea.form-control {
 min-height: 119px !important;
  resize: both;
  font-size: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1.5;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-radius: 4px;
}
textarea.form-control:focus,
textarea.form-control:hover{
border: 1px solid #41b6a6  !important;
}
.links-item {
  background-color: #41b6a6;
  color: #fff;
  font-size: 15px;
  padding: 12px 0px 1px 0px;
  margin-bottom: 81px !important;
}

.links-item a {
  color: #fff;
  font-size: 16px;
  padding: 9px 0 12px 9px;
}
.links-item a:hover{
  color: #fe8f00;
  cursor: pointer !important;
  text-decoration: underline;
}
.underlined{
  text-decoration: underline;
}
.medication-modal .modal-footer {
  padding: 10px 35px !important;
}
.medication-modal .disabled input{
  cursor: not-allowed;
}
