$input-width: 28rem;

:host {
  display: block;
}

.drop-down-input {
  width: $input-width;
  background-color: white;
  height:45px;
  border:solid 1px #41a6b6;
  border-radius: 4px;
  //border: 1px solid #bbb;
}
.drop-down-input-active {
  z-index: 100000;
}
.drop-down-search-panel {
  width: $input-width;
  min-height: 5rem;
  box-sizing: border-box;

  &_controls {
    display: flex;
    margin: -1rem -1rem 0 -1rem;
    padding: 1rem;
    box-sizing: border-box;
  }
}
.result-item {
  display: flex;
  padding: 0.7rem;
  box-sizing: border-box;
  align-items: center;
  span {
    margin: 0 1rem;
    flex-grow: 1;
  }
}
.panel-result-section{
  height: 200px;
  overflow-y:scroll;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #41b6a6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
::ng-deep .drop-down-input-active.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: #eee;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  padding-top: .4em !important
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
  padding-top: .15em !important
}
