.modal-dialog {
  overflow-y: initial !important;
  max-width: 100% !important;
  margin: 0 !important;
  background-color: white !important;
}
.modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}
.modal-content {
  background-color: white !important;
  border: 0px solid #f2f2f2 !important;
  width: 1300px !important;
  margin-top: -112px !important;
}
.modal-body .form-group {
  margin-bottom: 25px;
}
.modal-title {
   line-height: 10px !important;
}
.model-cust-heading .modal .modal-dialog .modal-content .modal-header {
  padding: 9px 0px !important;
  background: white !important;
}
.modal-header{
  border: 1px solid #f2f2f2 !important;
}
// modal-button
.cancel-button  {
  font-size: 100%;
  text-align: center;
  width: auto;
  line-height: 200%;
  margin-left: 1%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 3px 13px;
}
.cancel-button:hover  {
  background-color: rgb(234, 232, 232);
  border: 1px solid rgb(160, 159, 159);
}
.save-button  {
  font-size: 100%;
  text-align: center;
  width: auto;
  line-height: 200%;
  margin-left: 4%;
  background-color: #fff;
  border: 1px solid #3598dc;
  color: #3598dc;
  padding: 3px 13px;
}
.save-button:hover  {
  background-color: #3598dc;
  border: 1px solid #3598dc;
  color: #fff;
}
// modal input field design
.row-border{
  border:1px solid #cdcbcb !important;
}

.form-control.text-design {
  border: 1px solid #ced4da;
  font-family: "Open Sans", sans-serif;
  height: 35px;
}
input::-webkit-input-placeholder {
  color: rgb(162, 158, 158) !important;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.modal-footer {
  border-top: 2px solid #f2f2f2;
}
.example-full-width{
  width: 12%;
}
.example-width{
  width: 88%;
  height: 15%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  height: 38px;
  border-radius: 1%;
  color: #c2cad8;
}
.mat-autocomplete-panel {
  min-width: 67px !important;
}
.mat-option.mat-active {
  background: #ffffff !important;
}
.mat-option:first-child {
  border-top: 1px solid #9a9f9e;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.mat-option {
  border-left: 1px solid #9a9f9e;
  border-right: 1px solid #9a9f9e;
}
.mat-option {
  color: black !important;
}
.mat-option:hover {
  background-color: #fafafa !important;
}
.mat-option:last-child {
  border-bottom: 1px solid #9a9f9e;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.cdk-overlay-pane{
  pointer-events: auto;
  top: 580.295px;
  left: 595.878px;
}
.pgone-dropdwn{
  font-size: 69%;
    white-space: pre-wrap;
}
.cross-mark{
  font-size: 15px;
  color: #9a9f9e;
}
.anchortag{
  color: #3598dc;
}
.anchortag:hover{
  color: black;
  text-decoration: underline;
}
.input-bgColor{
  background-color: #eef1f5;
  opacity: 1;
}
// @media (max-width:500px ){
//   .example-full-width{
//     width: 20%;
//   }
// }
// @media (max-width:375px ){
//   .example-full-width{
//     width: 30%;
//   }
// }
.row > *{
  flex-shrink: unset;
}
