<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header model-cust-heading">
      <p class="modal-title">New User</p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close">
       x
      </span>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">

        </div>
        <div class="row  row-border">
          <div class="col-lg-5">
            <div class="row  mt-3">
              <div class="col-lg-3 col-md-3 col-12">
                <select id="LogoType" class="form-select">
                  <option selected>Dr.</option>
                  <option>Mrs.</option>
                </select>
              </div>
              <div class="col-lg-9 col-md-9 col-12 ">
                <input class="form-control text-design" type="text" placeholder="First Name" id="firstName">
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-12 mt-3">
            <input class="form-control text-design" type="text" placeholder="Middle Name" id="MiddleName">

          </div>
          <div class="col-lg-5 col-md-5 col-12  mt-3">
            <input class="form-control text-design" type="text" placeholder="Last Name" id="LastName">
          </div>
          <div class="row my-2">

            <div class="col-lg-4 col-md-4 col-12">
              <select id="LogoType" class="form-select form-control text-design">
                <option selected>DDS</option>
                <option>DDM</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <select id="LogoType" class="form-select form-control text-design">
                <option selected>Desntistry</option>
                <option>Endodontics</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-12 ">
              <input class="form-control text-design" type="text" placeholder="National Provider Identifier(NPI)">
            </div>
          </div>
        </div>

        <div class="row row-border mt-4">
          <p class="mt-3">Mailing Address</p>
          <div class="col-lg-9 col-md-9 col-sm-12 col-12 mt-3 mb-2">
            <select class="form-select row-border-input" id="sel1" name="sellist1">
              <option class="dropdown-menu">Streed Address</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-3 mt-3">
            <input type="input" class="form-control text-design input-bgColor" id="Date" placeholder="Suit/API Number">
          </div>

          <div class="col-lg-8 col-md-8 col-sm-12 col-12  mt-3">
            <input type="input" class="form-control text-design input-bgColor" id="Date" placeholder="City">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-12 mt-3">
            <input type="input" class="form-control text-design input-bgColor" id="Date" placeholder="State ">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-12 mt-3">
            <input type="input" class="form-control text-design input-bgColor" id="Date" placeholder="Zip Code ">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
            <div class="input-group ">
              <mat-form-field class="example-full-width" appearance="outline">
                  <input type="input" placeholder="(    )" aria-label="Number" matInput
                      [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        <p class="pgone-dropdwn">{{option}}</p>
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-width">
                  <input matInput placeholder="Primary Phone Number">
              </mat-form-field>
          </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mr-3 mt-3">
            <div class="input-group ">
              <mat-form-field class="example-full-width" appearance="outline">
                  <input type="input" placeholder="(    )" aria-label="Number" matInput
                      [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        <p class="pgone-dropdwn">{{option}}</p>
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-width">
                  <input matInput placeholder="Mobile Phone Number">
              </mat-form-field>
          </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">
            <input type="input" class="form-control text-design" id="Date" placeholder="Primary Email Address ">
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">
            <input type="input" class="form-control text-design" id="Date" placeholder="Alternative Email Address ">
          </div>


          <div class="row-border" style="margin: 10px;">
            <div class="row my-3">
              <p class="my-2">E-Prescribe From</p>

              <label for="ClinicID" class="form-label mt-2">Eprescribe from :</label>

              <div class="form-check">

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="None" name="None" checked>
                  <label class="custom-control-label mx-2" for="None">None</label>

                  <input type="radio" class="custom-control-input mx-3" id="Dosespot" name="Dosespot">
                  <label class="custom-control-label" for="Dosespot">Dosespot</label>

                  <input type="radio" class="custom-control-input mx-3" id="DrFirst" name="inlineDefaultRadiosExample">
                  <label class="custom-control-label" for="DrFirst">DrFirst</label>
                </div>
              </div>
             </div>
          </div>

          <div class="row-border" style="margin: 10px;">
            <div class="row mb-4">
              <p class="mt-3">ERX Details</p>
              <div class="col-lg-12 col-md-3 col-sm-12 col-12 mt-3">
                <input type="checkbox">
                  <label class="form-check-label mx-2" for="DoseSpot">DoseSpot Registration Completed</label>

              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-3">
                  <label for="ClinicID" class="form-label">Clinic ID</label>
                  <input type="text" class="form-control text-design" id="ClinicID" placeholder="Clinic ID">
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <label for="ClinicKey" class="form-label">Clinic Key</label>
                <input type="text" class="form-control text-design" id="ClinicKey" placeholder="Clinic Key">
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-3">
                <label for="ClinicID" class="form-label">Prescriber ID/ Clinician ID</label>
                <input type="text" class="form-control text-design" id="PrescriberID" placeholder="Prescriber ID/ Clinician ID">
              </div>
            </div>
          </div>
          <div class="row-border" style="margin: 10px;">
            <div class="row mb-4">
              <p class="mt-3">DrFirst Details</p>

              <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                  <label for="RcopiaUsername" class="form-label">Rcopia User Name (Practice Username)</label>
                  <input type="text" class="form-control text-design" id="RcopiaUsername" placeholder="Rcopia Username">
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                <label for="VendorUsername" class="form-label">Vendor Username</label>
                <input type="text" class="form-control text-design" id="VendorUsername" placeholder="Vendor Username">
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                <label for="RcopiaUsername" class="form-label">Rcopia User ID (Provider Username)</label>
                <input type="text" class="form-control text-design" id="RcopiaUsername" placeholder="Rcopia Username">
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                <label for="PracticePassword" class="form-label">Rcopia User Name Password (Practice Password)</label>
                <input type="text" class="form-control text-design" id="PracticePassword" placeholder="Practice Password">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
              <label for="VendorPassword" class="form-label">Vendor Password (Secret Key)</label>
              <input type="text" class="form-control text-design" id="VendorPassword" placeholder="Vendor Password">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
              <label for="ProviderPassword" class="form-label">Rcopia User ID Passsword (Provider Password)</label>
              <input type="text" class="form-control text-design" id="ProviderPassword" placeholder="Provider Password">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
              <label for="RcopiaUsernname" class="form-label">Rcopia User ExternalID (Optional)</label>
              <input type="text" class="form-control text-design" id="RcopiaUsernname" placeholder="Rcopia Username">
            </div>

            </div>
          </div>
        </div>

        <div class="row mb-4 mt-4 mb-2">
          <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight"> <a  (click)="GeneratePassword()" class="anchortag">Generate Random Password</a></div>
            <div class="p-2 bd-highlight w-50">
              <input class="form-control text-design" type="password" placeholder="password" id="password" *ngIf="!DisplayPwdInput"></div>
            <div class="p-2 bd-highlight" *ngIf="!DisplayPwdInput"> <input type="checkbox" class="mx-2" >Show Password</div>
        </div>
        </div>
      </form>
    </div>
    <div class="modal-footer footer-model">
      <button type="button" class="save-button col-md-4">Add New User </button>
      <button type="button" data-bs-dismiss="modal" class="cancel-button col-md-4" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
  </div>
</div>
