<div class="dashboard-wrapper messages-wrapper wrapper mt-4">
  <div class="content">
    <div class="container bordered-container">
      <div class="category-header">
        <p class="title">Audit Log</p>
      </div>

      <div class="row">
        <div class="d-flex justify-content-start">
          <mat-form-field appearance="outline" class="col-md-3 mx-4 green-calendar">
            <input matInput [matDatepicker]="dp"  placeholder="From" name="startDate">
            <mat-datepicker-toggle matSuffix [for]="dp">
            </mat-datepicker-toggle>
            <mat-datepicker #dp disabled="false"></mat-datepicker>
          </mat-form-field>
          <div class="mx-1 cust-hyphen">-</div>
          <mat-form-field appearance="outline" class="col-md-3 green-calendar">
            <input matInput [matDatepicker]="dp1" placeholder="To" name="enddate">
            <mat-datepicker-toggle matSuffix [for]="dp1">
            </mat-datepicker-toggle>
            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
          </mat-form-field>
          <div class="col-md-3 mx-4">
            <button mat-raised-button type="submit"
            class="btn btn-green hover-class " >Reset</button>
          </div>
        </div>
      </div>


      <div class="table-responsive">
        <table class="table table-grayed table-grayed-checkboxed" id="appointments-upcoming">
          <thead class="th-border">
            <tr class="th-border text-center">
              <th>Date</th>
              <th>Action</th>
              <th class="b8">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>
                05/02/2022
              </td>
              <td>
                sdfasdfasd
              </td>
              <td>
                sadfsadsa
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
