<div class="dashboard-patient wrapper mt-2">
  <div class="content container" id="appointments-wrapper">
    <div class="top-block">
      <div class="row">
        <div class="col-lg-12 mt-2">
          <h4>
            {{ selectedWeekday }}
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tabs">
        <ul class="nav nav-tabs tabsactive" id="myTab" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
              (click)="onUpcoming()" type="button" role="tab" aria-controls="home" aria-selected="true">Upcoming
              Appts</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" (click)="onPast()"
              type="button" role="tab" aria-controls="home" aria-selected="true">Past Appts</button>
          </li>
        </ul>
        <div class="row">
          <div class="col-lg-12">
            <div class="button">
              <a class="btn btn-orange Helvetica-sans-serif-medium"
                (click)="openComponentDialog(PatientDialogComponent)">Request an Appt</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isUpcoming" class="table-responsive ">
        <table class="table table-grayed table-grayed-checkboxed" id="appointments-upcoming">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Provider</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of PatientUpcomingAppointmentsList">
              <td class="Helvetica-sans-serif-medium">{{item.StartAt | date:'M/d/yyyy'}}</td>
              <td class="Helvetica-sans-serif-medium">{{item.StartAt | date:'shortTime'}}</td>
              <td class="Helvetica-sans-serif-medium">{{item.ProviderName}}</td>
              <td class="Helvetica-sans-serif-medium">
                <p class="mt-2" [ngClass]="item?.class">{{item.ApptStatus}}</p>
                <p  class="mt-2"
                  style="color: red;"  *ngIf="item?.ApptStatus != 'Cancelled'" (click)="CancelAppoinments(item.AppointmentId)">
                Cancel</p>
              </td>

            </tr>
            <tr>
              <td *ngIf="PatientUpcomingAppointmentsList?.length==null || PatientUpcomingAppointmentsList?.length==0"
                colspan="7" class="norecords-found">
                You don't have any upcoming appointments.
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div *ngIf="isPast" class="table-responsive">
        <table class="table table-grayed table-grayed-checkboxed" id="appointments-upcoming">
          <thead>
            <tr>
              <th> Date</th>
              <th>Time</th>
              <th>Provider</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of PatientPastAppointmentsList">
              <td class="Helvetica-sans-serif-medium">{{item.StartAt | date:'M/d/yyyy'}}</td>
              <td class="Helvetica-sans-serif-medium">{{item.StartAt | date:'shortTime'}}</td>
              <td class="Helvetica-sans-serif-medium">{{item.ProviderName}}</td>
              <td class="Helvetica-sans-serif-medium" [ngClass]="item?.class">{{item.ApptStatus}}</td>
            </tr>
            <tr>
              <td *ngIf="PatientPastAppointmentsList?.length==null || PatientPastAppointmentsList?.length==0"
                colspan="7" class="norecords-found">
                You don't have any past appointments.
              </td>
            </tr>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>