
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
textarea.mat-input-element {
  padding: 2px 0;
  margin: -2px 0;
  resize: none;
}

 li:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn.btn-orange {
  color: #fe8f00;
  background-color: #fff;
  border-color: #fe8f00;
}
.btn-group {
  border: 2px solid #fe8f00;
  border-radius: 0.1875rem;
}
.btn.btn-default, .btn.btn-info, .btn.btn-danger, .btn.btn-warning {
  background: #fff;
}
#appointments-wrapper .top-block .buttons {
  padding: 10px 0;
  text-align: right;
}
.btn-group a:hover a.active {
  background-color: #fe8f00;
  color: #fff;
  border: 1px solid #fff;
}
.button{
  padding: 10px 0;
  text-align: right;
}
.tab-content table,thead, th, td{
  // padding: 37px 18px 29px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 0.10;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
}
  tr th  {
  font-weight: normal;
  font-size:medium;

}

.fade.in {
  opacity: 1;
}
.table-grayed-checkboxed tr th:first-child, .table-grayed-checkboxed tr td:first-child {
  width: 51px;
  height: 51px;
  margin: 0;
  padding: 13px !important;
  text-align: center;

}
.table {
  /* --bs-table-bg: transparent; */
  --bs-table-accent-bg: white;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 2px solid white;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: #41b6a6;
  color: white;
}
.modal-dialog .modal-content {
  box-shadow: none;
  border: 1px solid #41b6a6;
  border-radius: 3px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: white;
}


.reg-button {
  background-color: #fff;
  border: 1px solid #41b6a6;
  height: 50px;
  color: #41b6a6;
  border-radius: 3px;
  width: auto;
  // margin-left: 82.2%;
}
.reg-button:hover {
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #fff;
}
.content span {
  //font-size: 15px;
  //text-transform: uppercase;
    font-family: 'Times New Roman';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
}


.nav .nav-item, .navbar-nav .nav-item {
  line-height: 1;
  margin-left: 2%;

}
.checkbox-custom
{
  border: 1px solid #e00606;
}
.tabsactive .nav-link{
  background-color: #e0e0e0;
  color: rgba(73,73,73,0.69);
}
.tabsactive .nav-link.active{
  background-color: #fff;
  color: #141414;
}

.form-select {
  font-size: inherit;
  font-weight: 300;
  line-height: 1.7;
}
input::-webkit-input-placeholder {
  color: #141414 !important;
  font-size: 100%;
  font-family: sans-serif;
}
.border-input{
  border-color: #dedede;
  background-color: #f5f5f5;
}
.form-control {
  line-height: 19px;
}

form .form-control:focus{
  border-color: #41b6a6;
  
}
form .form-control:hover{
  border-color: #41b6a6;
  
}
form .form-select:hover{
  border-color: #41b6a6;
  box-shadow: none;
  
}
form .form-select:focus{
  border-color: #41b6a6;
  box-shadow: none;
}
select option:checked {
  background-color: red !important;
  color: white!important;
}

// option {
//   background-color: black !important;
// }