<div class="dashboard-patient wrapper ">
  <div class="content container ignore_spinner ">
    <h4 class="h4-title">
      Welcome
      <span class="authorization-welcome-username text-break">{{user.FirstName}}&nbsp;&nbsp;{{user.LastName}}</span>
    </h4>
    <div class="row">
      <div class="col-lg-9 left-block">
        <div class="form-row-field">
          <h4>
            Upcoming Appointments
            <span>({{PatientUpcomingAppointmentsCount}})</span>
            <!-- [(ngModel)]="secList.StartDate" -->
          <!-- <input type="text"  [(ngModel)]="PatientUpcomingAppointmentsCount.ApptCount"> -->
          </h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="container ">

          <div *ngFor="let item of PatientUpcomingAppointmentsList">
            <div class="row">
              <div class="col-md-6">
                <div class="Helvetica-sans-serif-medium mt-2">
                  Provider:{{item.ProviderName}}
                </div>
                <div class="Helvetica-sans-serif-medium mt-2 upcomingAppoinment">
                  {{item.StartAt | date:'M/d/yyyy'}},{{item.StartAt | date:'shortTime'}}
                </div>
              </div>
              <div class="col-md-6 mt-1">
                <button type="button" class="btn btn-green save-button" data-bs-toggle="modal"
                data-bs-target="#upcoming-appoinment"(click)="showappoinments(item)">View</button>
              </div>

            </div>

          </div>
          </div>

   </div>
   </div>
        <div class="form-row-field">
          <h4>
            New Messages
            <span>({{messagescount}})</span>
          </h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="container ">
          <div *ngFor="let msgs of messages">
            <div class="Helvetica-sans-serif-medium mt-2">
              <div class="row">
              <div class="col-md-1">
              <img alt="notification-icon" class="" src="assets\images\icon_message-dark-e687a43f63c6cab797c2126fb5f16f6461175358f49a8325939b037a18ef5fff.svg">
            </div>
            <div class="col-md-5"  style="font-size: 18px;">
              <b class="Helvetica-sans-serif-medium">{{msgs.Updated | date:'M/d/yyyy'}},{{msgs.Updated | date:'shortTime'}}</b>
              <p class="Helvetica-sans-serif-medium">{{msgs.Subject}},From: &nbsp;{{msgs.ProviderName}} </p>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-green save-button" data-bs-toggle="modal"
              data-bs-target="#Inboxmessages"(click)=" showMessages(msgs)">View</button>
            </div>
            </div>
            </div>

          </div>
          </div>

   </div>
   </div>
        <div class="form-row-field" *ngIf="isHealth">
          <div class="panel panel-default">
            <div class="panel-body linkhealth">
              <h4>How do I link my EHR1 Patients Portal account to another application ?</h4>
              <hr>
              <p>This guide will show you how to use your EHR1 patient portal to integrate your dental records with a
                third-party application that has connected to EHR’s public API’s.</p>
              <p>Any practice with an active EHR1 license has access to use the EHR1 API’s. at anytime during their
                subscription period and can offer access to their patients allowing them to connect to a registered
                third-party app EHR’s public API.</p>
              <h4>How to authorize a registered third-party application to access your data</h4>
              <hr>
              <p>Any patient who has created an EHR1 Patient Portal account and has received records in their portal can
                use
                their EHR1 Patient Portal credentials to authenticate access for any third-party application that has
                been
                registered with EHR1.</p>

              <p>You will need to check within the third-party application you want to connect your records to in order
                to
                begin the linking process. Once you have sent the request to link your patient data through the third
                party-application, you will need to authorize the application through your portal.</p>

              <p>** Please be sure to read the details in terms of the scope of your patient data that will be shared
                with the
                application</p>

              <img src="assets/images/ScreenShot1.jpg" alt="logo" class="img-fluid" />
              <h4>How to revoke access to a third-party application that has previously been linked</h4>
              <p>A patient may revoke access to an authorized third-party application at anytime by clicking the "revoke
                access" button under authorized apps in their EHR1 Patient Portal account</p>
              <img src="assets/images/ScreenShot2.png" alt="logo" class="img-fluid" />

              <h4>Supported Third-Party Applications
              </h4>
              <hr>
              <p>No third-party applications currently registered as partner applications. </p>
              <h4> How to Become an Authorized EHR1 HealthIT Partner</h4>
              <hr>
              <p>Register to become a HealthIT partner here: <u routerLink="/account/partnersignup" class="as">Register
                  Now</u></p>
            </div>
          </div>
        </div>
        <div class="form-row-field" *ngIf="isAccees">
          <div class="panel panel-default">
            <div class="panel-body linkhealth">
              <h4 class="authorization-welcome-username">Authorized Applications</h4>
              <p>No Applications Authorized</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3 right-block">
        <div class="form-row-field">
          <h4>
            Quick Links
          </h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="">
              <li class="nav-item ">
                <a class="secondary-text-dark nav-link"
                  (click)="openComponentDialog(PatientDialogComponent)">

                  <i class="fa fa-angle-right">
                  </i>
                  <a>Request an Appt</a>
                </a>
              </li>
              <li class="nav-item">
                <a class="secondary-text-dark nav-link"
                  (click)="openComponentDialogmessage(MessageDialogComponent,null,ActionTypes.add,'Practice')">
                  <i class="fa fa-angle-right">
                  </i>
                  <a>Send a Message</a>
                </a>
              </li>
              <li class="nav-item">
                <a class="secondary-text-dark nav-link" (click)="onhealth()">
                  <i class="fa fa-angle-right">
                  </i>
                  <a>Link health information</a>
                </a>
              </li>
              <li class="nav-item">
                <a class="secondary-text-dark nav-link" (click)="onAcess()">
                  <i class="fa fa-angle-right">
                  </i>
                  <a>Application Access</a>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal " id="upcoming-appoinment" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content view-appoinments ">
          <div class="modal-header">



            <span class="Helvetica-sans-serif-medium">View Appointment </span>
            <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close">
                X
            </span>
        </div>
        <div class="modal-body modal-scrollbar">
          <div class="row mb-1">
            <div class="col-md-6 Helvetica-sans-serif-medium">Patient Name:</div>
            <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.PatientName}}</b></div>

        </div>
        <div class="row mb-1">
          <div class="col-md-6 Helvetica-sans-serif-medium">Provider Name:</div>
          <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.ProviderName}}</b></div>

      </div>
      <div class="row mb-1">
        <div class="col-md-6 Helvetica-sans-serif-medium">Appointment Type:</div>
        <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.ApptType}}</b></div>

    </div>
    <div class="row mb-1">
      <div class="col-md-6 Helvetica-sans-serif-medium">Appointment Status:</div>
      <div class="col-md-6 Helvetica-sans-serif-medium" *ngIf="viewAppoinments.ApptStatus == 'Not Confirmed'"><b>pending</b></div>
      <div class="col-md-6 Helvetica-sans-serif-medium" *ngIf="viewAppoinments.ApptStatus == 'Confirmed'"><b>Waiting</b></div>
      <div class="col-md-6 Helvetica-sans-serif-medium" *ngIf="viewAppoinments.ApptStatus == 'Scheduled'"><b>Status Confirmed</b></div>
      <div class="col-md-6 Helvetica-sans-serif-medium" *ngIf="viewAppoinments.ApptStatus == 'In-Progress'"><b>Status Confirmed</b></div>
      <div class="col-md-6 Helvetica-sans-serif-medium" *ngIf="viewAppoinments.ApptStatus == 'Cancelled'"><b>Status Cancelled</b></div>
  </div>

    <div class="row mb-1">
      <div class="col-md-6 Helvetica-sans-serif-medium">Location Name :</div>
      <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.LocationName}}</b></div>

  </div>
  <div class="row mb-1">
    <div class="col-md-6 Helvetica-sans-serif-medium">Room:</div>
    <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.Room}}</b></div>

</div>
  <div class="row mb-1">
    <div class="col-md-6 Helvetica-sans-serif-medium">Appoinment Date:</div>
    <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.StartAt | date:'M/d/yyyy'}}</b></div>

</div>
<div class="row mb-1">
  <div class="col-md-6 Helvetica-sans-serif-medium">Appoinment Time:</div>
  <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.StartAt | date:'shortTime'}}</b></div>

</div>
<div class="row mb-1">
  <div class="col-md-6 Helvetica-sans-serif-medium">Duration:</div>
  <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.Duration}} min</b></div>

</div>
<div class="row mb-1">
  <div class="col-md-6 Helvetica-sans-serif-medium">Note:</div>
  <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewAppoinments.Note}}</b></div>
</div>
</div>

          <div class="modal-footer">

          </div>
      </div>
  </div>
</div>


<div class="modal " id="Inboxmessages" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content view-appoinments ">
          <div class="modal-header">



            <span class="Helvetica-sans-serif-medium">View Messages </span>
            <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close">
                X
            </span>
        </div>
        <div class="modal-body modal-scrollbar">
          <div class="row mb-1">
            <div class="col-md-6 Helvetica-sans-serif-medium">Date:</div>
            <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewMessages.Updated | date:'M/d/yyyy'}}</b></div>

        </div>
          <div class="row mb-1">
            <div class="col-md-6 Helvetica-sans-serif-medium">From:</div>
            <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewMessages.ProviderName}}</b></div>

        </div>
        <div class="row mb-1">
          <div class="col-md-6 Helvetica-sans-serif-medium">To:</div>
          <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewMessages.PatientName}}</b></div>
      </div>
    <div class="row mb-1">
      <div class="col-md-6 Helvetica-sans-serif-medium">Subject :</div>
      <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewMessages.Subject}}</b></div>
      
  </div>
  <div class="row mb-1">
    <div class="col-md-6 Helvetica-sans-serif-medium">Body:</div>
    <div class="col-md-6 Helvetica-sans-serif-medium"><b>{{viewMessages.Body}}</b></div>

</div>
 
</div>

          <div class="modal-footer">

          </div>
      </div>
  </div>
</div>
