<div class="dashboard-patient-wrapper mt-4">

  <div class="container content" id="documents-wrapper">
    <div class="top-block">
      <h4 class="h4-title"></h4>
      <div class="row">
        <div class="tabs">

          <ul class="nav nav-tabs tabsactive" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" (click)="onUpcoming()" type="button" role="tab" aria-controls="home" aria-selected="true">Medical</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" (click)="onPast()"  type="button" role="tab" aria-controls="home" aria-selected="true">Legal</button>
            </li>
          </ul>

        </div>
      </div>

      <div *ngIf="isUpcoming" class="table-responsive">
        <table class="table table-grayed table-grayed-checkboxed" id="medical">
          <thead>
            <tr>
              <th>
                <div class="row">
                  <div class="col-lg-4">
                    <mat-checkbox class="example-margin" class="col-lg-12 col-md-12 example-margin" >
                     </mat-checkbox>
                  </div>
                </div>

              </th>
              <th>Appointment Date</th>
              <th id="filter-type">
                <mat-form-field appearance="outline" class="dropdown col-lg-8 col-md-6 col-sm-6 col-12">
                  <mat-select placeholder="Filter by type">
                    <mat-option>No result found
                    </mat-option>

                  </mat-select>
                </mat-form-field>
              </th>
              <th>Vew PDF</th>
            </tr>
          </thead>
        </table>
      </div>
      <div *ngIf="isPast">
        <div class="row">
          <div class="col-md-6">
            <h4>
              From
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              Practice
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
