<div class="dashboard-wrapper messages-wrapper wrapper mt-4" id="local-messages">
  <div class="content">
    <div class="container">
      <div class="tabs">
        <ul class="nav nav-tabs styled nav-tab-styled" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="medical-tab" data-bs-toggle="tab" data-bs-target="#medical" type="button" role="tab"
              aria-controls="medical" aria-selected="true" (click)="getMessages('Inbox')" [class.active]="IsInbox"
              [class.inactive]="!IsInbox">Inbox
              <span class="message-count">{{this.user.UnReadMails}}</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="send-tab" data-bs-toggle="tab" data-bs-target="#send" type="button" role="tab"
              aria-controls="send" aria-selected="true" (click)="getMessages('Sent')" [class.active]="IsSent"
              [class.inactive]="!IsSent">Sent
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="draft-tab" data-bs-toggle="tab" data-bs-target="#draft" type="button" role="tab"
              aria-controls="draft" aria-selected="true" (click)="getMessages('Draft')" [class.active]="IsDraft"
              [class.inactive]="!IsDraft">Draft
            </a>
          </li>
          <li class="nav-item tab-danger" role="presentation">
            <a class="nav-link" id="urgent-tab" data-bs-toggle="tab" data-bs-target="#urgent" type="button" role="tab"
              aria-controls="urgent" aria-selected="true" (click)="getMessages('Urgent')" [class.active]="IsUrgent"
              [class.inactive]="!IsUrgent">Urgent
              <span class="message-count" id="urgent-new-counting">{{this.user.UrgentMessages}}</span>
            </a>
          </li>
        </ul>


        <div class="row mt-3">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-select [(value)]="pageSize" placeholder="25 Msgs" (selectionChange)="onPageSizeChange($event)">
                <mat-option *ngFor="let item of messagePerPage" [value]="item.value">{{item.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group-custom  ">
              <input aria-label="Search for messages" #searchMessage autocomplete="off" class="form-control"
                id="find-messages-input" placeholder="Search Messages">
              <span class="input-group-addon input-group-addon-right input-group-addon-search"
                id="find-messages-button"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <!-- <div class="col-md-2">
          </div> -->
          <!-- <div class="col-md-2 col-sm-6">
            <div class="input-group input-drop">
              <button type="text" class="btn btn-light btn-actions dropdown-toggle" data-bs-toggle="dropdown">
                Actions
              </button>
              <ul class="dropdown-menu">
                <li><u class="dropdown-item drop-menu" data-bs-toggle="modal">New Contact</u>
                </li>
                <li><u class="dropdown-item drop-menu" data-bs-toggle="modal">Go To Contact</u>
                </li>
              </ul>
            </div>
          </div> -->
          <div class="col-md-2 col-sm-6">
            <div class="input-group input-drop">
              <button type="text" class="btn btn-light btn-actions in-practice"
                (click)="openComponentDialogmessage(MessageDialogComponent,null,ActionTypes.add,'Practice')">
                Message To
                Practice
              </button>
            </div>
          </div>
        </div>

        <diV class="mt-3 message-content">
          <div class="leftblockalignments" style="border: #41b6a6 solid 1px;">
            <div class="pagination" [hidden]="totalRecords == 0">
              <button (click)="pagination.first()" [disabled]="pagination.isFirst">
                << </button>
                  <button (click)="pagination.prev()" [disabled]="pagination.isFirst">
                    < </button>
                      <input #pager simplePagination #pagination="simplePagination" [pageSize]="pageSize"
                        [totalPages]="totalPages" (pageChange)="onPageChange($event)" />
                      <span> / {{ pagination.totalPages }}</span>
                      <button (click)="pagination.next()" [disabled]="pagination.isLast">
                        >
                      </button>
                      <button (click)="pagination.last()" [disabled]="pagination.isLast">
                        >>
                      </button>
                      <span> of {{totalRecords}}</span>
            </div>
            <div class="spinner-container mb-2" *ngIf="messageDataSource.loading$ | async">
              <mat-progress-bar mode="indeterminate" bufferValue="20" value=100></mat-progress-bar>
            </div>
            <div class="message-table-container mat-elevation-z8">
              <mat-table matSort matSortActive="Created" matSortDirection="desc" matSortDisableClear
                [dataSource]="messageDataSource">
                <ng-container matColumnDef="From">
                  <mat-header-cell *matHeaderCellDef>{{IsInbox || IsUrgent ? "From" : "To"}}</mat-header-cell>
                  <mat-cell class="pointer"
                    [class.unreadmsg-bold]="!message.Read && (currentMessageView == 'Inbox' ||  currentMessageView == 'Urgent')"
                    *matCellDef="let message" (click)="showMessage(message)">
                    <div class="text-new-line">
                      <div>{{message.ProviderName}} </div>
                      <div [class.text-truncate]="message?.Subject?.length > 50">{{message.Subject}}</div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Date">
                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                  <mat-cell class="pointer"
                    [class.unreadmsg-bold]="!message.Read && (currentMessageView == 'Inbox' ||  currentMessageView == 'Urgent')"
                    *matCellDef="let message" (click)="showMessage(message)"> {{message.Updated | date:'M/d/yyyy'}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Attach">
                  <mat-header-cell *matHeaderCellDef> Attachment </mat-header-cell>
                  <mat-cell class="pointer" *matCellDef="let message">
                    <label for="singleFile" *ngIf="message.Attachments.length > 0"
                      style=" margin-left: 20px;
                      vertical-align: middle;" (click)="DownloadAttachment(message.Attachments)">
                      <mat-icon class="attach-btn">attach_file</mat-icon>
                    </label>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="DisplayedColumns  sticky: true" class="matheaderrow"></mat-header-row>
                <mat-row *matRowDef="let row; columns: DisplayedColumns;"></mat-row>
              </mat-table>
              <div class="norecords-found" *ngIf="messageDataSource?.TotalRecordSize == 0">
                No Messages Found
              </div>
            </div>
          </div>
          <div class="rightblockalignments mat-elevation-z8">
            <div *ngIf="currentMessage != null" style="padding-top:10px">
              <div class="message-bounds">
                <div class="row email-address">
                  <div class="col-md-6">
                    From: {{IsInbox || IsUrgent ? currentMessage.ProviderName : currentMessage.PatientName}}
                  </div>
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-3 d-flex justify-content-end flex-sm-row flex-column">
                    {{currentMessage.Updated | date:'M/d/yyyy'}},{{currentMessage.Updated | date:'shortTime'}}
                  </div>
                </div>
                <div class="row email-address">
                  <div class="col-md-4">
                    To: {{IsInbox || IsUrgent ? currentMessage.PatientName : currentMessage.ProviderName}}
                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-6 d-flex justify-content-end flex-sm-row flex-column">
                    <img src="assets/images/header-dropdown-img.svg" class="img-xs rounded-circle header-avatar">
                  </div>
                </div>
                <div class="row email-address">
                  <div class="col-md-8" style="display: inline-flex;">
                    Subject:<p (mouseenter)="isExpandToggle()" (mouseleave)="isExpandToggle()"
                      style="margin-left: 10px;margin-bottom:0px" [class.overflow]="isExpand"
                      [class.show-overflow]="!isExpand">{{currentMessage.Subject}}</p>
                  </div>

                  <div class="col-md-4">
                    <label for="singleFile"  *ngIf="currentMessage.Attachments.length > 0"
                      style=" margin-left: 20px;vertical-align: middle;" (click)="DownloadAttachment(currentMessage.Attachments)">
                      <mat-icon class="attach-btn">attach_file</mat-icon>
                    </label>
                  </div>
                </div>
                <div style="border-bottom: 1px solid #41b6a6 ;"></div>
                <div class="row body">
                  {{currentMessage.Body}}
                </div>
              </div>
              <div class="message-footer"></div>
              <div class="row mt-2 mb-2 mx-2" *ngIf="currentMessageView=='Inbox' || currentMessageView=='Draft'">
                <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                  <button class="btn  btn-danger btn-msgdanger  Helvetica-sans-serif-medium pull-right" type="button"
                    (click)="DeleteMessages(currentMessage.EmailMessageId)">Delete</button>
                </div>
                <div class="col-md-6"></div>
                <!-- <div class="col-md-2 justify-content-start flex-sm-row flex-column">
                  <button class="btn btn-green btn-messagesgreen Helvetica-sans-serif-medium pull-right" type="button"
                    (click)="openComponentDialogmessage(MessageDialogComponent,currentMessage,ActionTypes.view,'Reply' )">Reply</button>
                </div>
                <div class="col-md-2 justify-content-end flex-sm-row flex-column">
                  <button class="btn  btn-green btn-messagesgreen  Helvetica-sans-serif-medium pull-right" type="button"
                    (click)="openComponentDialogmessage(MessageDialogComponent,currentMessage,ActionTypes.view,'Forward')">Forward</button>
                </div> -->
              </div>
            </div>
            <div *ngIf="currentMessage == null" class="mt-5" style="text-align: center;">No Message Selected</div>
          </div>
        </diV>
      </div>
    </div>
  </div>
</div>
