@import"../../assets/common.scss";

.bordered-container {
  border-radius: 3px;
  border: 1px solid #41b6a6;
}

.messages-wrapper .nav-tabs.styled {
  padding-left: 15px;
  padding-right: 1px;
  padding-top: 2%;
}

.nav-tabs.styled {
  border-bottom: 1px solid #41b6a6;
  margin-left: -11px;
  margin-right: -11px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav>li {
  position: relative;
  display: block;
}

.nav-tabs.styled li a {
  margin-bottom: 1px;
  margin-right: 0;
  border-radius: 3px 3px 0 0;
  padding: 7px 14px 5px 15px;
  font-size: 16px;
  border: 0;
}

.messages-wrapper .nav-tabs.styled li.tab-danger .message-count {
  background-color: #D0021B;
  border-color: #D0021B;
  color: #fff;
}

.messages-wrapper .nav-tabs.styled li.active:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 100%;
  top: -8px;
  border: 1px solid #41b6a6;
  background-color: #41b6a6;
  border-radius: 3px 3px 0 0;
}

.messages-wrapper .nav-tabs.styled li a {
  padding-left: 60px;
  padding-right: 60px;
  border: 1px solid #41b6a6;
  border-bottom: 0;
  font-size: 16px !important;
}

.nav-tabs.styled li a:focus,
.nav-tabs.styled li a:hover,
.nav-tabs.styled li a:active {
  border: 0;
  background-color: #41b6a6;
  color: #fff;
}

.nav-tabs li a {
  border: 0;
  color: #41b6a6;
  background-color: #fff;
}
.nav-tabs li a {
  border: 0;
  color: #41b6a6;
  background-color: #fff;
}

.messages-wrapper .nav-tabs.styled li .message-count {
  position: absolute;
  top: 11px;
  right: 15px;
  display: inline-block;
  font-size: 11px;
  border-radius: 15px;
  padding: 0 11px;
  border: 1px solid #41b6a6;
}

.nav-tabs.styled .nav-tabs.message-count.active {
  border: 1px solid #fff;
}

.nav-tabs.styled li.active a {
  background-color: #41b6a6;
  color: #fff;
}

.btn-light {
  font-family: "Roboto";
  list-style: none;
  white-space: nowrap;
  border: 1px solid #41b6a6;
  padding: 0px 27px 0px 0px;
  background-color: #ffffff;
  height: 45px;
  width: 100%;
  cursor: pointer !important;
}

.dropdown-menu {
  margin: 0;
  list-style: none;
  white-space: nowrap;
  border: 1px solid #41b6a6;
  background-color: #ffffff;
  border-top: #fff;
}
.drop-menu{
  margin: 0px 0px 0px 0px;
}

a.dropdown-item:hover {
  background-color: #41b6a6 !important;
  color: #fff;
}

.drop-item {
  color: #41b6a6;
  text-decoration: underline;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #41b6a6;
  background-color: #e9ecef00;
  cursor: pointer;
}

.nav-tabs.message-count.active {
  border: 1px solid red;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.bg-color {
  line-height: 43px !important;
}

.drop-button {
  background-color: #fff;
  border: 1px solid #41b6a6;
  height: 44px;
  color: #41b6a6;
  border-radius: 3px;
  width: 46%;
}

@media (max-width: 1014px) {
  .drop-button {
    background-color: #fff;
    border: 1px solid #41b6a6;
    height: 50px;
    color: #41b6a6;
    border-radius: 3px;
    width: 100%;
  }
}

.drop-button:hover {
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #fff;
}

.drop-button:focus {
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #fff;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.messages-wrapper .controls {
  padding: 15px 0px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.messages-wrapper .controls .input-group,
.messages-wrapper .controls .select2-container,
.messages-wrapper .controls .btn {
  margin-bottom: 8px;
  color: #41b6a6;
  box-shadow: none;
}
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 1133px;
}
.messages-wrapper .input-group-custom #find-messages-input {
  border-color: #41b6a6;
  background-color: #fff;
}
.input-group .form-control {
  display: table-cell;
  height: 45px;
}
.fa-search {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
  margin-top: 15%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 25px/1 FontAwesome;
}
.fa{
  color: #fff;
}

.messages-wrapper .nav-tabs.styled li.tab-danger a {
  color: #D0021B;
  border-color: #D0021B;
}

.messages-wrapper .nav-tabs.styled li.tab-danger a.nav-link.active {
  color: #fff;
  border-color: #D0021B;
  background-color: #D0021B;
}

.messages-wrapper .nav-tabs.styled li.tab-danger a.nav-link:hover {
  color: #fff;
  border-color: #D0021B;
  background-color: #D0021B;
}

.rightblockalignments {
  border-top: 1px solid #41b6a6;
  border-left: 1px solid #41b6a6;
}

.leftblockalignments {
  border-top: 1px solid #41b6a6;
}

.panel-title {
  color: #fff;
  font-size: 16px;
  float: right;
}

.panel-titles {
  color: #fff;
  font-size: 16px;
  float: left;
}

.drop-input {
  margin-top: 2%;
  margin-bottom: 2%;
}

::-webkit-input-placeholder {
  color:    #74757e;
  font-size: 15px;
}
.header-avatar{
  background: #D8D8D8;
}

.dropdownborder{
border-bottom: 1px solid #41b6a6;
margin-left: -12px;
margin-right: -12px;
}
.btn-messagesgreen
{
  color:#41b6a6;
  // width: 165px;
  // height: 45px;
}
.btn-messagesgreen:hover
{
  background-color: #41b6a6;
  color:#fff !important;

}
.btn-msgdanger{
  color: #D0021B !important;
}
.btn-msgdanger:hover{
  color:  #fff !important;
  background-color: #D0021B;
}
.nomessageselect{
  color: #4A4A4A !important;
}