#myprofile-wrapper .panel {
    margin-bottom: 0;
    box-shadow: none;
  }
  
  .panel-default {
    width: 80%;
    margin-left: 18%;
  }
  .panel-collapse{
    border: 1px solid #41b6a6;
    line-height: 20%;
    border-bottom: 2px solid #41b6a6;
  }
  @media (max-width: 320px) {
    .title{
      line-height: 120%;
    }
  }
  @media (max-width: 376px) {
    .title{
      max-width: -webkit-fill-available;
     
    }
  }
  @media (max-width: 332px) {
  .title[_ngcontent-tce-c300] {
    margin-top: 2%;
    margin-left: 2%;
    color: #41b6a6;
    font-size: small;
  }
  }
  .img{
        margin-right: 8%;
  }
  .title{
    margin-top: 2%;
    margin-left: 2% ;
    color: #41b6a6;
    font-size: large;
  } 
  @media (max-width: 320px) {
    .dashboard-patient-wrapper .photo-patient, .dashboard-patient-wrapper .avatar{
      width: 129px;
      height: 137px;
    }
  }
  @media (max-width: 990px) {
    .dashboard-patient-wrapper .photo-patient, .dashboard-patient-wrapper .avatar{
      width: 50%;
      //height: 100px;
    }
  }
  .title1{
    margin-top: 2%;
    margin-left: 2% ;
    font-size: large;
  }
  .panel-expand{
    border: 1px solid #41b6a6;
  }
  .arrow{
    margin-left: 80%;
    color:#41b6a6;
    font-size:x-large;
  }
  .panel {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  }
  .dashboard-patient-wrapper .photo-patient, .dashboard-patient-wrapper .avatar {
    width: -webkit-fill-available;;
    // height: 200px;
    display: block;
    border: 1px solid #2e877b;
    border-radius: 3px;
    transition: opacity 0.2s;
}
#myhealth-wrapper .left-block .clinic-info {
  margin-top: 25px;
}
.green-color {
  color: #41b6a6;
  font-size: large;
}
.side-panel{
  margin-left: 8%;
  margin-top: 8%;
}
.size{
  font-size: large;
}
#myhealth-wrapper .panel .panel-body {
  padding: 20px;
}
.heding{
  color: #41b6a6;
  margin-top: 10%;
  
}
.accordion-button:not(.collapsed) {
    // color: #0c63e4; 
   background-color: #fff;
   color: red;
}
ul{
  list-style-type: none;
}
