<div class="dashboard-patient wrapper mt-4">
  <div class="content container" id="appointments-wrapper">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="content">
          <form class="pt-4">
            <div class="row ">
              <div class="col-md-2 ">
                <img src="assets/images/avatar-empty-white.svg" styclass="admin-side-logo mx-2" class="img">
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12   ">
                    <label>First Name</label>
                    <div class="form-group">
                      <mat-form-field class="grey-matform w-100" appearance="outline">
                        <input matInput placeholder="First Name" [(ngModel)]="PatientProfile.FirstName" id="FirstName"
                          name="FirstName" #FirstName="ngModel">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <label class="labelfontzise">Middle Name</label>
                    <div class="form-group">
                      <mat-form-field class="grey-matform w-100" appearance="outline">
                        <input matInput placeholder="Middle Name" [(ngModel)]="PatientProfile.MiddleName"
                          id="MiddleName" name="MiddleName" #MiddleName="ngModel">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <label class="labelfontzise">Last Name</label>
                    <div class="form-group">
                      <mat-form-field class="grey-matform w-100" appearance="outline">
                        <input matInput placeholder="Last Name" [(ngModel)]="PatientProfile.LastName" id="LastName"
                          name="LastName" #LastName="ngModel">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 "><label class="labelfontzise">Date Of Birth
                    </label>
                    <div class="form-group">
                      <mat-form-field class="grey-matform w-100" appearance="outline">
                        <input matInput placeholder="Date Of Birth" [ngModel]="PatientProfile.DateOfBirth | date:'MM/dd/yyyy'"
                          id="DateofBirth" name="DateofBirth" #DateofBirth="ngModel">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 "><label class="labelfontzise">Sex </label>
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="grey-matform w-100">
                        <mat-select placeholder="Select Gender" id="Gender" placeholder="Select Sex"
                        [(ngModel)]="PatientProfile.Gender" disableOptionCentering
                         id="Gender" name="Gender" #Gender="ngModel">
                          <mat-option *ngFor="let items of GenderData" [value]="items.value">{{items.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <button type="button" class="btn btn-green save-button" [ngClass]="(PatientProfile.FirstName==''||PatientProfile.FirstName==null
                    ||PatientProfile.LastName==''||PatientProfile.LastName==null)? 'disable-button col-md-2': 'reg-button col-md-2'"
                    [disabled]="PatientProfile.FirstName==''||PatientProfile.FirstName==null||PatientProfile.LastName==''||PatientProfile.LastName==null"
                     (click)="updatePatientMyProfile()">Save</button>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-lg-12 col-md-12">
                    <p>Account Access</p>
                    <div class="row controls">
                      <div class="col-lg-4 col-md-4">
                        <button type="button" class="btn btn-green btn-change" data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop1">Change Password</button>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <button type="button" class="btn btn-green btn-change" data-bs-toggle="modal"
                          data-bs-target="#exampleModal">
                          Change your Security Question
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <h4 class="contctinfor">My Contact Information</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="pt-4">

              <div class="row">
                <label class="labelfontzise">Cell Phone </label>
                <div class="input-group ">
                  <mat-form-field class="example-full-width grey-matform " appearance="outline"
                    [formControl]="myControl">
                    <input type="input" placeholder="( :" aria-label="Number" matInput [formControl]="myControl"
                      [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="example-width grey-matform ">
                    <input matInput placeholder="Cell Phone" [(ngModel)]="PatientProfile.MobilePhone" id="MobilePhone"
                      name="MobilePhone" #MobilePhone="ngModel">
                  </mat-form-field>
                </div>
              </div>

              <div class="row mt-2">
                <label class="labelfontzise">Email </label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12 col-12 grey-matform ">
                    <input matInput placeholder="Email" [(ngModel)]="PatientProfile.email" id="email" name="email"
                      #email="ngModel">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="labelfontzise mt-2">Home Phone </label>
                <div class="input-group mb-1">
                  <mat-form-field class="example-full-width grey-matform" appearance="outline">
                    <input type="input" placeholder="( :" aria-label="Number" matInput [formControl]="myControl"
                      [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="example-width grey-matform">
                    <input matInput placeholder=" Home Phone" [(ngModel)]="PatientProfile.PrimaryPhone"
                      id="PrimaryPhone" name="PrimaryPhone" #PrimaryPhone="ngModel">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="labelfontzise ">Work Phone </label>
                <div class="input-group mb-1">
                  <mat-form-field class="example-full-width grey-matform " appearance="outline">
                    <input type="input" placeholder="( :" aria-label="Number" matInput [formControl]="myControl"
                      [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="example-width grey-matform ">
                    <input matInput placeholder="Work Phone" [(ngModel)]="PatientProfile.WorkPhone" id="WorkPhone"
                      name="WorkPhone" #WorkPhone="ngModel">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <h5 class="Helvetica-sans-serif-small">HOME ADDRESS</h5>
                <div class="col-md-9 mt-1">
                  <mat-form-field appearance="outline" class="filed-border col-lg-12 col-md-12 col-sm-12 col-12">
                    <input matInput placeholder="Enter full address here (including suite number)">
                  </mat-form-field>
                </div>
                <div class="col-md-3 mt-1">
                  <button type="button" class="btn btn-green verify-button">Verify</button>
                </div>
              </div>

              <div class="row mt-1">
                <mat-form-field appearance="outline" class="filed-border noHover col-lg-8 ">
                  <input matInput readonly placeholder="Street Address" [(ngModel)]="PatientProfile.StreetAddress"
                    id="StreetAddress" name="StreetAddress" #StreetAddress="ngModel">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline"
                  class="grey-matform noHover col-lg-4 col-md-4 col-sm-12 col-12 mt-3 ">
                  <input matInput readonly placeholder="City" [(ngModel)]="PatientProfile.city" id="city" name="city"
                    #city="ngModel">
                </mat-form-field>


                <mat-form-field appearance="outline"
                  class="grey-matform noHover  col-lg-4 col-md-4 col-sm-12 col-12 mt-3 ">
                  <input matInput readonly placeholder="State" [(ngModel)]="PatientProfile.state" id="state"
                    name="state" #state="ngModel">
                </mat-form-field>

                <mat-form-field appearance="outline"
                  class="grey-matform noHover col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                  <input matInput readonly placeholder="Zip" [(ngModel)]="PatientProfile.zip" id="zip" name="zip"
                    #zip="ngModel">
                </mat-form-field>
              </div>

              <div class="row mb-3">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-green btn-save" (click)="updateContactInform()">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <h4 class="contctinfor">Emergency Contact</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="pt-4">

              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                  <label class="labelfontzise">First Name</label>
                  <div class="form-group">
                    <mat-form-field class="grey-matform w-100" appearance="outline">
                      <input matInput placeholder="First Name" [(ngModel)]="PatientProfile.EmergencyFirstName"
                        id="EmergencyFirstName" name="EmergencyFirstName" #EmergencyFirstName="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                  <label class="labelfontzise">Middle Name</label>
                  <div class="form-group">
                    <mat-form-field class="grey-matform w-100" appearance="outline">
                      <input matInput placeholder="Middle Name" [(ngModel)]="PatientProfile.EmergencyMiddleName"
                        id="EmergencyMiddleName" name="EmergencyMiddleName" #EmergencyMiddleName="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                  <label class="labelfontzise">Last Name</label>
                  <div class="form-group">
                    <mat-form-field class="grey-matform w-100" appearance="outline">
                      <input matInput placeholder="Last Name" [(ngModel)]="PatientProfile.EmergencyLastName"
                        id="EmergencyLastName" name="EmergencyLastName" #EmergencyLastName="ngModel">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <mat-label>Relationship to Patient</mat-label>
                <mat-form-field appearance="outline"
                  class="dropdown grey-matform col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <mat-select placeholder="All Providers"  [(ngModel)]="PatientProfile.RelationshipToPatient" disableOptionCentering
                    id="RelationshipToPatient" name="RelationshipToPatient" #RelationshipToPatient="ngModel">
                      <mat-option *ngFor="let item of relationship" [value]="item.value">{{item.value}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div>


              <div class="row">
                <label class="labelfontzise mt-2">Phone </label>
                <div class="input-group mb-1">
                  <mat-form-field class="example-full-width grey-matform " appearance="outline">
                    <input type="input" placeholder="( :" aria-label="Number" matInput [formControl]="myControl"
                      [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        <h1>{{option}}</h1>
                      </mat-option>
                      <!-- <mat-option *ngIf="!myControl.value">Please enter 1 or more characters</mat-option> -->
                      <!-- <mat-option>No Data Found</mat-option> -->
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="example-width grey-matform">
                    <input matInput placeholder="Phone" [(ngModel)]="PatientProfile.Phone" id="Phone" name="Phone"
                      #Phone="ngModel">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <mat-label>Email</mat-label>
                <mat-form-field appearance="outline" class="grey-matform col-lg-12 col-md-12 col-sm-12 col-12">
                  <input matInput placeholder="Email" [(ngModel)]="PatientProfile.EmergencyEmail" id="EmergencyEmail"
                    name="EmergencyEmail" #EmergencyEmail="ngModel">
                </mat-form-field>
              </div>

              <div class="row mt-1">
                <h5 class="Helvetica-sans-serif-small">HOME ADDRESS</h5>
                <div class="col-md-9 mt-1">
                  <mat-form-field appearance="outline" class="filed-border col-lg-12 col-md-12 col-sm-12 col-12">
                    <input matInput placeholder="Enter full address here (including suite number)">
                  </mat-form-field>
                </div>
                <div class="col-md-3 mt-1">
                  <button type="button" class="btn btn-green verify-button ">Verify</button>
                </div>
              </div>

              <div class="row mt-1">
                <mat-form-field appearance="outline" class="filed-border noHover col-lg-8">
                  <input readonly matInput placeholder="Street Address"
                    [(ngModel)]="PatientProfile.EmergencyStreetAddress" id="EmergencyStreetAddress"
                    name="EmergencyStreetAddress" #EmergencyStreetAddress="ngModel">
                </mat-form-field>
              </div>
              <div class="row ">
                <mat-form-field appearance="outline"
                  class="grey-matform noHover col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                  <input matInput readonly placeholder="City" [(ngModel)]="PatientProfile.EmergencyCity"
                    id="EmergencyCity" name="EmergencyCity" #EmergencyCity="ngModel">
                </mat-form-field>


                <mat-form-field appearance="outline"
                  class="grey-matform noHover col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                  <input matInput readonly placeholder="State" [(ngModel)]="PatientProfile.EmergencyState"
                    id="EmergencyState" name="EmergencyState" #EmergencyState="ngModel">
                </mat-form-field>

                <mat-form-field appearance="outline"
                  class="grey-matform noHover col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                  <input matInput readonly placeholder="Zip" [(ngModel)]="PatientProfile.EmergencyZip" id="EmergencyZip"
                    name="EmergencyZip" #EmergencyZip="ngModel">
                </mat-form-field>
              </div>

              <div class="row mb-3">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-green btn-save" (click)="updateEmergencyContact()">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<div class="modal fade" id="staticBackdrop1" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content body">
      <div class="modal-header">
        <h4 class="Helvetica-sans-serif-medium">Edit Password</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="content">
          <form>
            <div class="row mt-3">
              <div class="col-lg-12">
                <label>Email Address</label>

              </div>
              <div class="col-lg-12 ">
                <div class="form-group ">
                  <mat-form-field class="grey-matform w-100" appearance="outline">
                    <input matInput placeholder="E-Mail">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <label>New Password</label>
              </div>
              <div class="col-lg-12">
                <div class="form-group ">
                  <mat-form-field class="grey-matform w-100" appearance="outline">
                    <input matInput placeholder="New Password">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12">
                <label>New Password Confirmation</label>
              </div>
              <div class="col-lg-12 ">
                <div class="form-group ">
                  <mat-form-field class="grey-matform w-100" appearance="outline">
                    <input matInput placeholder="New Password Confirmation">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <button type="button" class="btn btn-green down-button">Save
              </button>
            </div>
          </form>
          <!-- end personal info -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content body">
      <div class="modal-header">
        <h4 class="Helvetica-sans-serif-medium">CHANGE SECURITY QUESTION</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="content">
          <form>
            <p>
              Answer your existing security question in order to create a new one. Please choose a question you can
              remember! You will get locked out of your portal if you are unable to answer correctly.
            </p>
            <h5 class="title">EXISTING QUESTION:</h5>
            <p>In what city was your first job?</p>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="title">ANSWER</label>
                </div>
              </div>
              <div class="col-lg-12 ">
                <div class="form-group ">
                  <mat-form-field class="grey-matform w-100" appearance="outline">
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="title">NEW QUESTION</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group ">
                  <mat-form-field appearance="outline"
                    class="dropdown grey-matform col-lg-12 col-md-12 col-sm-12 col-12">
                    <mat-select placeholder="In what city was your first job?">
                      <mat-option class="menu" *ngFor="let question of questions" [value]="question">{{questions}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <hr>
              </div>
            </div>
            <div class="row ">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="title">ANSWER</label>
                </div>
              </div>
              <div class="col-lg-12 ">
                <div class="form-group ">
                  <mat-form-field class="grey-matform w-100" appearance="outline">
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="title ">IMPORTANT</label>
              <mat-checkbox class="grey-matform example-margin mt-2">
                <mat-lable class="checkbox-label">I understand my access to patients portal will be locked if I am
                  unable to answer this question</mat-lable>
              </mat-checkbox>
            </div>

            <div class="row mt-4">
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-green mx-2" data-bs-dismiss="modal"
                  [disabled]="true">Change</button>
                <button type="button" class="btn btn-green">Cancel</button>
              </div>
            </div>

          </form>
          <!-- end personal info -->
        </div>
      </div>
    </div>
  </div>
</div>
