@import"../../assets/common.scss";
@import"../../assets/cstm.material.scss";


#myprofile-wrapper .panel {
  margin-bottom: 0;
  box-shadow: none;
}

.panel-default {
  border-color: rgb(207, 56, 56);
}
.btn-save{
  line-height: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

.panel {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.verify-button {
  height: 45px;
  border-radius: 3px;
  width: 100%;
}

.contctinfor {
  font-weight: normal;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 22px;
}

.save-button {
  height: 45px;
  border-radius: 3px;
  margin-left: 60%;
  width: 40%;
  margin-top: 7%
}

@media (max-width: 974px) {
  .save-button {
    height: 50px;
    border-radius: 3px;
    margin-left: 288%;
    width: 40%;
    margin-top: 7%
  }
}

.btn-change {
  height: 35px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 4%;

}
img {
  max-width: inherit;
  border: 1px solid #2e877b;
  background-color: #2e877b;
  cursor: pointer !important;
}

img:hover {
  opacity: 0.75;
}
@media (max-width: 766px) {
  .img {
    max-width: 30%;
  }

}
::ng-deep .grey-matform.mat-form-field-appearance-outline:hover .mat-form-field-outline,
.mat-form-field-appearance-outline:focus .mat-form-field-outline {
  color: #41b6a6 !important;
}

::ng-deep .filed-border.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #dedede !important;
  height: 45px;
}

::ng-deep .filed-border.mat-form-field-appearance-outline:hover .mat-form-field-outline,
.mat-form-field-appearance-outline:focus .mat-form-field-outline {
  color: #41b6a6 !important;
  background-color: #fff !important;
}

// ::ng-deep .example-margin:hover {
//   & .mat-checkbox-background,
//   .mat-checkbox-frame {
//     border-color: #41b6a6 !important;
//   }
// }

.down-button {
  height: 50px;
  border-radius: 3px;
  margin-left: 78%;
  width: 20%;
}

.content span {
  font-family: 'Times New Roman';
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

.dropdown-menu.show {
  display: block;
  border-color: #41b6a6;
}

hr {
  margin: 0px 0 7px 0;
  border-top-color: #979797;
  padding-right: 40px;
}
.mb-3,
.template-demo .circle-progress-block {
  margin-bottom: 2rem !important;
}
.example-full-width {
  width: 10%;
}
.example-width {
  width: 90%;
}

.panel-body {
  margin-left: 3%;
  margin-right: 3%;
}

.pull-left {
  float: left !important;
}
::ng-deep {
  mat-form-field {
    ::placeholder {
      color: #74757e;
      font-size: 100%;
    }
  }
}

input::-webkit-input-placeholder {
  color: #74757e !important;
  font-size: 100%;
  font-family: sans-serif;
}

.title {
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 600;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.checkbox-label {
  color: #74757E;
  font-size: 16px;
  // padding-left: 6px;
  text-transform: none;
  white-space: break-spaces;
}


.mat-option-text {
  width: auto;
  height: auto;
  display: inline-block;
  flex-grow: 1;
  border: 1px solid #41b6a6;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .mat-option {
//   height: auto;
//   width: 63%;
//   overflow-wrap: anywhere;
// }

input[readonly] {
  opacity: 0.5;
  cursor:not-allowed;

}

.noHover{
  pointer-events: none;
}

.modal{
  .modal-dialog{
    margin-top: calc(77px + 30px) !important;
  }
}
.disable-button {
  // background-color: red;
  border: 1px solid #41b6a6;
  color: #41b6a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
