@import"../../assets/common.scss";
body {
  margin: 0px;
}

.authorization-signup-wrapper {
  height: auto;
  font-family: "Times New Roman";
  color: #4a4a4a;
  background: url(../../assets/images/pro-reg-bg.png);
}
.one-ehr-images {
  margin-top: -6rem;
}
.authorization-signup-wrapper .ehr-img-top {
  position: relative;
  width: 100%;
  left: 0%;
  height: 89px;
  top: 168px;
  background-color: #41b6a6;
}
.ehr-img-top {
  background-color: #41b6a6;
}
.ehr-img-top .text-center {
  background-color: #41b6a6;
}
.logo-rectangle {
  width: 277.2px;
  margin: 0 auto;
  background-image: url(../../assets/images/logo-rectangle.svg);
  background-repeat: no-repeat;
}
.main-title p {
  font-size: 18px;
  font-family: 'Times New Roman';
}
.main-title h3 {
  font-size: 25px;
  font-family: 'Times New Roman';
}

.controls {
  margin: 0 -10px 100px 0px;
}
.dots-container,
.performed-container {
  display: none;
}

.performed-icon,
.dots {
  display: table-cell;
  vertical-align: middle;
}

.reg-button {
  background-color: #fff;
  border: 1px solid #41b6a6;
  height: 50px;
  color: #41b6a6;
  border-radius: 3px;
  margin-left: 82.2%;
  font-size: medium;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

}
.reg-button:hover {
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #fff;
}
.disable-button {
  // background-color: red;
  cursor: not-allowed;
  border: 1px solid #41b6a6;
  height: 50px;
  color: #41b6a6;
  border-radius: 3px;
  margin-left: 82.2%;
  font-size: medium;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.content span {

    font-family: 'Times New Roman';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  height: 45px;
  border-radius: 5%;
  background-color: #f5f5f5;
  color: #dedede;
}
//input outline color
::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
  color: #41b6a6 !important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #41b6a6 !important;
}
.secondary-title span {
  font-size: 24px;
}
.secondary-title img{
  width: 25px;
}
.mat-option.mat-active {
  background: #e5f8f5 !important;
}
.mat-option {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}
.mat-option:last-child {
  border-right: 1px solid #41b6a6;
}
.mat-option:last-child {
  border-bottom: 1px solid #41b6a6;
}
.mat-option:hover {
  background-color: #e5f8f5;
}
.mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
  text-shadow: black;
}
// mat-select
::ng-deep .mat-select-arrow {
  color: #4d4b4b !important;
}
::ng-deep .mat-select-placeholder {
  color: #4d4b4b !important;

::ng-deep .hover.mat-form-field-appearance-outline:hover .mat-select-arrow {
  color: white !important;
}
::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-select-placeholder {
  color: white !important;

}
}
::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-select-value-text {
  color: white !important;
}
::ng-deep .mat-select-panel {
  min-width: calc(100% + 22px) !important;
  max-width: calc(min-width) !important;
  margin-left: 5px !important;
}
.mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
  text-shadow: black;
}

.content-top {
  background: none;
  border-bottom: 1px solid rgba(74, 74, 74, 0.5);
}
// sweetalert
::ng-deep .swal2-styled.swal2-confirm {
  background-color: #fff !important;
  color: #41b6a6 !important;
  border: 1px solid #41b6a6 !important;
}
::ng-deep .swal2-title {
  padding: 0em 0em 0;
  background-color: #41b6a6;
  color: #fff;
  font-size: 24px;
  font-family: "Times New Roman";
  font-weight: 100;
}
::ng-deep {
  mat-form-field {
    ::placeholder {
      color: #141414 !important;
      font-size: 120%;
      margin-top: 5px;
    }
  }
}
::ng-deep .swal2-title {
  line-height: 2.5;

}
::ng-deep .swal2-styled.swal2-confirm:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}
::ng-deep .swal2-styled.swal2-confirm {
  box-shadow: none !important
}

textarea {
  background-color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  resize: both;
  border: 1px solid #dedede;
}
textarea.mat-input-element {
  padding: 10px 15px !important;
}
textarea::-webkit-input-placeholder {
  color: #4a4a4a;
}
textarea:focus, textarea:hover{
   border: 1px solid #41b6a6;
}
