<div id="partnersignup">
<div class="authorization-signup-wrapper pt-4">
  <div class="one-ehr-images">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <img width="232" height="88" src="assets/images/EHR.svg">
      </div>
    </div>
    <div class="text-center">
      <img width="146" height="248" class="img-fluid" src="assets/images/one.svg">
    </div>
  </div>

  <div class="content-top">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-title">
            <h3>REGISTER TO BECOME A PARTNER APPLICATION</h3>
            <p class="Helvetica-sans-serif-medium">Fill out the form below to submit a request to become a development partner. Expect a response in 3-5
              business days.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-2 "id="partnersignup">
    <div class="row align-items-center">
      <div class="col-lg-12 tab-content border-0 form-wrapper" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="personalInfo" role="tabpanel" aria-labelledby="personalInfo-tab">
          <!-- personal info -->
          <div class="content">
            <!-- *ngIf="showpersonalInfoReq" -->
            <div class="row">
              <div class="secondary-title col-lg-12">
                <img src="assets/images/avatar-people.svg" class="pb-2">
                <span class="mx-4">Personal Information</span>
              </div>
            </div>

            <div class="pt-4">
              <div class="row">
                <!-- <div class="row">
                  <div class="col-md-4"> <mat-label class="Helvetica-sans-serif-medium required">First Name</mat-label></div>
                  <div class="col-md-4"><mat-label class="Helvetica-sans-serif-medium labelalignments">Middle Name</mat-label></div>
                  <div class="col-md-4">
                    <mat-label class="Helvetica-sans-serif-medium required labelalignments">Last Name</mat-label>
                  </div>
                </div> -->
                <div class="col-lg-12">
                  <div class="row">
                   <div class="form-group  col-md-4">
                     <label class="Helvetica-sans-serif-medium required">First Name</label>
                    <mat-form-field appearance="outline" >
                      <input matInput  placeholder="First Name" [(ngModel)]="partnerSignup.first_name" alphaOnly required #firstName="ngModel" class="mt-1">
                    </mat-form-field>
                    <!-- <div *ngIf="firstName.errors && (firstName.touched)">
                      <div class="error_message" *ngIf="firstName.errors?.required">
                          <span class="text-danger"></span>
                          <p class="errormessage">Please enter first name</p>
                      </div>
                  </div> -->
                   </div>
                   <div class="form-group  col-md-4">
                    <label class="Helvetica-sans-serif-medium">Middle Name</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Middle Name" [(ngModel)]="partnerSignup.middle_name" alphaOnly class="mt-1">
                    </mat-form-field>

                   </div>
                   <div class=" form-group col-md-4">
                    <label class="Helvetica-sans-serif-medium required">Last Name</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Last Name" [(ngModel)]="partnerSignup.last_name" alphaOnly #lastName="ngModel" required class="mt-1">
                    </mat-form-field>
                    <!-- <div *ngIf="lastName.errors && (lastName.touched)">
                      <div class="error_message" *ngIf="lastName.errors?.required">
                          <span class="text-danger"></span>
                          <p class="errormessage">Please enter last name</p>
                      </div>
                  </div> -->
                   </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">

                  <div class="row">
                    <label class="Helvetica-sans-serif-medium">Full Address</label>
                    <mat-form-field appearance="outline" class="col-lg-12">
                      <input matInput placeholder="Full Address" [(ngModel)]="partnerSignup.full_address" class="mt-1">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-6">
                  <mat-label class="Helvetica-sans-serif-medium required">Phone Number</mat-label>
                </div>
                <div class="col-md-6">
                  <mat-label class="Helvetica-sans-serif-medium required">Email</mat-label>
                </div>

              </div> -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label class="Helvetica-sans-serif-medium required">Phone Number</label>
                      <mat-form-field appearance="outline" >
                        <input type="text" matInput placeholder="Phone Number" [(ngModel)]="partnerSignup.phone_number"
                        mask=" (000) 000-0000" [showMaskTyped]="true"  #phoneNumber="ngModel" required class="mt-1"prefix="+1">
                      </mat-form-field>
                      <div *ngIf="phoneNumber.errors && (phoneNumber.touched)">
                        <!-- <div class="error_message" *ngIf="phoneNumber.errors?.required">
                          <span class="e_arrow"></span>
                          <p class="errormessage">Please enter Phone Number</p>
                        </div> -->
                        <div class="error_message" *ngIf="phoneNumber.errors?.mask">
                          <span class="e_arrow"></span>
                          <p class="errormessage"> Phone number should be 10 digits.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="Helvetica-sans-serif-medium required">Email</label>
                      <mat-form-field appearance="outline" >
                        <input matInput placeholder="Email" [(ngModel)]="partnerSignup.email"
                         pattern="^[A-Za-z0-9._-]+@[A-Za-z0-9._-]+\.[A-Za-z]{2,4}$" #Email="ngModel" required class="mt-1">
                      </mat-form-field>
                      <div *ngIf="Email.errors && (Email.touched)">
                        <!-- <div class="error_message" *ngIf="Email.errors?.required">
                          <span class="e_arrow"></span>
                          <p class="errormessage">Please enter email</p>
                        </div> -->
                        <div class="error_message" *ngIf="Email.errors?.pattern">
                          <span class="e_arrow"></span>
                          <p class="errormessage">Enter email in correct format</p>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="row">
                <div class="row">
                  <mat-label class="Helvetica-sans-serif-medium ">Position</mat-label>
                </div>
                <div class="col-lg-12">
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-6 col-md-4 col-sm-4 col-12">
                      <input matInput placeholder="Position/Title" [(ngModel)]="partnerSignup.position" class="mt-1">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <div class="secondary-title col-lg-12">
                  <img src="assets/images/Suitcase.png" class="pb-2">
                  <span class="mx-4">Company Information
                  </span>

                  <div class="row pt-4">
                    <!-- <div class="row">
                      <div class="col-md-4"> <mat-label class="Helvetica-sans-serif-medium ">Company Name</mat-label></div>
                      <div class="col-md-4"><mat-label class="Helvetica-sans-serif-medium labelalignments">Company Address</mat-label></div>
                      <div class="col-md-4">
                        <mat-label class="Helvetica-sans-serif-medium labelalignments">Company Url(s)</mat-label>
                      </div>
                      </div> -->
                    <div class="col-lg-12">

                      <div class="row">
                        <div class="col-md-4 form-group">
                          <label class="Helvetica-sans-serif-medium ">Company Name</label>
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="Company Name" [(ngModel)]="partnerSignup.company_name"class="mt-1">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4 form-group">
                          <label class="Helvetica-sans-serif-medium ">Company Address</label>
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="Company Address" [(ngModel)]="partnerSignup.company_address" class="mt-1">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4 form-group">
                          <label class="Helvetica-sans-serif-medium ">Company Url(s)</label>
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="Company Url(s)" [(ngModel)]="partnerSignup.company_url"class="mt-1">
                          </mat-form-field>
                        </div>



                      </div>
                      <div class="mt-3">
                        <mat-label class="Helvetica-sans-serif-medium">Company Description</mat-label>
                        <textarea matInput
                          placeholder="Tell us a little about why you'd like to partner up!" [(ngModel)]="partnerSignup.company_Description"></textarea>
                      </div>

                      <div class="row pl-4" style="margin-right: 0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12  mt-3">
                          <div class="controls pull-right">
                            <button type="button" class="btn btn-green partnersignupbtn"
                              (click)="CreatePartnerSignup(partnerSignup)" [disabled]="enablesave()">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
