<div class="authorization-signup-wrapper pt-4">
  <div class="one-ehr-images">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <img width="232" height="88" src="./assets/images/EHR.svg">
      </div>
    </div>
    <div class="text-center">
      <img width="146" height="248" class="img-fluid" src="./assets/images/one.svg">
    </div>
  </div>

  <div class="content-top">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-title">
            <h3>REGISTER TO BECOME A PARTNER APPLICATION</h3>
            <p>Fill out the form below to submit a request to become a development partner. Expect a response in 3-5 business days.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-2">
    <div class="row align-items-center">
      <div class="col-lg-12 tab-content border-0 form-wrapper" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="personalInfo" role="tabpanel" aria-labelledby="personalInfo-tab">
          <!-- personal info -->
          <div class="content">
            <!-- *ngIf="showpersonalInfoReq" -->
            <div class="row">
              <div class="secondary-title col-lg-12">
                <img  src="../../assets/images/avatar-people.svg" class="pb-2">
                <span class="mx-4">Personal Information</span>
              </div>
            </div>

            <form class="pt-4">

              <div class="row">
                <div class="col-lg-12">

                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-4 col-12 mt-3">
                      <input matInput placeholder="First Name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-4 col-12  mt-3">
                      <input matInput placeholder="Middle Name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-4 col-12  mt-3">
                      <input matInput placeholder="Last Name">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-12  mt-3">
                      <input matInput placeholder="Full Address">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-6 col-md-4 col-sm-4 col-12  mt-3">
                      <input matInput placeholder="Phone Number">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-6 col-md-4 col-sm-4 col-12  mt-3">
                      <input matInput placeholder="Email">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-6 col-md-4 col-sm-4 col-12  mt-3">
                      <input matInput placeholder="Position/Title">
                    </mat-form-field>

                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <div class="secondary-title col-lg-12  mt-3">
                  <img src="../../assets/images/Suitcase.png" class="pb-2">
                  <span class="mx-4">Company Information
                  </span>
                  <div class="row pt-4">
                    <div class="col-lg-12">

                      <div class="row">
                        <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-4 col-12  mt-3">
                          <input matInput placeholder="Company Name">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-4 col-12  mt-3">
                          <input matInput placeholder="Company Address">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-4 col-12  mt-3">
                          <input matInput placeholder="Company Url(s)">
                        </mat-form-field>

                      </div>
                      <div class="row">
                        <mat-form-field appearance="outline" class="col-lg-12  mt-3">
                          <textarea matInput  placeholder="Tell us a little about why you'd like to partner up!"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="row pl-4">
                        <div class="col-lg-12 col-md-12 col-sm-12  mt-3">
                          <div class="controls">
                            <button type="button" class="reg-button col-md-2">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          <!-- end personal info -->
        </div>
    </div>
  </div>
    </div>
</div>





