<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div>
    <img src="../../../assets/images/logo.svg" alt="logo" class="img-fluid mx-3" />
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link item-prov-dashboard">Smart Schedule
          <!-- <i class="fa fa-qrcode" aria-hidden="true"></i> -->
          <!-- <span class="d-flex">Smart Schedule</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="/provider/calendar" class="nav-link item-schedule">Calender
          <!-- <i class="fa fa-calendar-o" aria-hidden="true"></i>
          <span class="d-flex"> Calender</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link item-patients">Patient
          <!-- <i class="fa fa-user-o" aria-hidden="true"></i>
          <span class="d-flex"> Patient</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link item-messages">Messages
          <!-- <i class="fa fa-comments" aria-hidden="true"></i>
          <i class="far fa-comment-alt-o"></i>
          <span class="d-flex">Messages</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link item-direct-messages">Direct Msg
          <!-- <i class="fa fa-envelope" aria-hidden="true"></i>
          <span class="d-flex"> Direct Msg</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link item-erx disabled">eRx
          <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <span class="d-flex">eRx</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link item-labsimaging">Labs
          <!-- <i class="fa fa-flask" aria-hidden="true"></i>
          <span class="d-flex">Labs/magining</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="/reports/categoryreports" class="nav-link item-reports">Reports
          <!-- <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
          <span class="d-flex">Reports</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link item-billing">Billing
          <!-- <i class="fa fa-microchip" aria-hidden="true"></i>
          <span class="d-flex">Billing</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link item-settings">Setting
          <!-- <i class="fa fa-cog" aria-hidden="true"></i>
          <span class="d-flex">Setting</span> -->
        </a>
      </li>

    </ul>
  </div>

  <!-- <div class="collapse navbar-collapse"> -->
  <ul class="navbar-nav pull-right">
    <li [matMenuTriggerFor]="menu" class="nav-item" ngbDropdown [autoClose]="false">
      <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
        <span class="profile-text">{{ this.user.FirstName}}&nbsp;&nbsp;{{this.user.LastName}}</span>
        <img class="img-xs rounded-circle mx-1" src="../../../assets/images/default.png">
      </a>
    </li>
    <mat-menu #menu="matMenu">
      <mat-form-field appearance="outline">
        <mat-select [value]="0" name="locationarray" disableOptionCentering>
          <mat-option> loc
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-menu-item class="nav-right-dropdown">
          <span>My Account</span></button>
      </div>
      <button mat-menu-item class="nav-right-dropdown">
        <span>About EHR1</span>
      </button>
      <button mat-menu-item class="nav-right-dropdown">
        <span>Lock</span>
      </button>
      <button mat-menu-item class="nav-right-dropdown" (click)="logout()">
        <span>Log Out</span>
      </button>
    </mat-menu>
  </ul>
  <!-- </div> -->
</nav>
