<!-- <div *ngIf="loaderService?.isLoading | async" class="loader-container">
  <mat-progress-bar [value]="loaderService?.progressValue"></mat-progress-bar>
  <div id="pause" class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg bg-color provider-header">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"><i class="fa fa-bars text-white fs-2"></i></span>
  </button>
  <div>
    <img src="assets/images/logo.svg" alt="logo" class="img-fluid mx-3" />
  </div>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li [class]="viewModel.View !== 'Smart Schedule' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('provider/smartschedule','Smart Schedule')"
          routerLinkActive="router-link-active" class="nav-link active item-prov-dashboard">Smart Schedule
        </a>
      </li>
      <li [class]="viewModel.View !== 'Calender' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('provider/calendar','Calender')"
          class="nav-link item-schedule">Calendar
        </a>
      </li>
      <li [class]="viewModel.View !== 'Patients' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" class="nav-link item-patients"
          (click)="onChangeBreadCrum('provider/patients','Patients')">Patients
        </a>
      </li>
      <li [class]="viewModel.View !== 'Messages' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" class="nav-link item-provider-messages"
          (click)="onChangeBreadCrum('provider/messages','Messages')">Messages
        </a>
        <span class="messages-count" style="margin-left: 10px !important;
        margin-right: 2px !important;">{{unreadMails}}</span>
      </li>
      <li class="eRx-nav-item">
        <a href="javascript:void(0)" class="nav-link item-erx disabled"
          (click)="onChangeBreadCrum('/provider/erx','eRx')">eRx
        </a>
      </li>
      <li [class]="viewModel.View !== 'Labs&Imaging' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('provider/labsimaging','Labs&Imaging')"
          class="nav-link item-labsimaging">Labs/Imaging
        </a>
      </li>
      <li [class]="viewModel.View !== 'Reports' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" class="nav-link item-reports"
          (click)="onChangeBreadCrum('provider/categoryreports','Reports')">Reports
        </a>
      </li>
      <li [class]="viewModel.View !== 'Billing' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" class="nav-link item-billing"
          (click)="onChangeBreadCrum('provider/billing','Billing')">Billing
        </a>
      </li>
      <li [class]="viewModel.View !== 'Settings' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('provider/settings','Settings','practice')"
          class="nav-link item-settings">Settings
        </a>
      </li>
    </ul>
  </div>
  <div [class.user-nav-bar-normal]="!user.EmergencyAccess" [class.user-nav-bar-access]="user.EmergencyAccess">
  <ul class="navbar-nav pull-right m-auto m-lg-0">
    <li [matMenuTriggerFor]="menu" class="nav-top-right"  [class.access]="user.EmergencyAccess"  [class.nav-user]="user.EmergencyAccess" [class.nav-user]="!user.EmergencyAccess">
      <a class="nav-link dropdown-toggle" id="UserDropdown">
        <span class="profile-text">{{ this.user.FirstName}}&nbsp;&nbsp;{{this.user.LastName}}</span>
        <img class="img-xs rounded-circle header-avatar mx-1" src="assets/images/header-dropdown-img.svg">
      </a>
      <mat-menu #menu="matMenu" [hasBackdrop]="true" [class]="user.EmergencyAccess ? 'mat-menu-panel-access' : 'mat-menu-panel-normal' ">
        <div class="list" style="width: 100%;" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()" [style.width.px]="menuwidth">
          <mat-form-field appearance="outline" class="col-lg-12 provider-dropdown hover">
            <mat-select class="textcolor" [value]="user.CurrentLocation" name="location" disableOptionCentering
            panelClass="report-select-option-panel">
              <mat-option *ngFor="let location of locationsInfo" [value]="location.LocationId"
                (click)="changeLocation(location.LocationId)"> {{ location.LocationName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <li [class]="user.EmergencyAccess ? 'access li-menu': 'li-menu'" *ngIf="user.EmergencyAccess" (click)="deactivateEmergencyAccess()"><a class="nav-li text-nowrap">Disable Emergency Access</a></li>
        <li [class]="user.EmergencyAccess ? 'access li-menu': 'li-menu'"><a class="nav-li text-nowrap" (click)="GetUserInfoData()">My Account</a></li>
        <li [class]="user.EmergencyAccess ? 'access li-menu': 'li-menu'" data-bs-toggle="modal" data-bs-target="#modal-about-ehr1"><a class="nav-li text-nowrap">About
            EHR1</a></li>
        <li class="border-bottom" [class]="user.EmergencyAccess ? 'access li-menu': 'li-menu'" (click)="updateUserLock()"><a class="nav-li">Lock</a></li>
        <li [class]="user.EmergencyAccess ? 'access li-menu': 'li-menu'" (click)="logout()"><a class="nav-li">Log out</a></li>
    </mat-menu>
    </li>
  </ul>
</div>
</nav>


<!-- About EHR1 dialog -->
<div class="modal fade" id="modal-about-ehr1" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <span type="button" class="cross-mark" data-bs-dismiss="modal">X</span>
      </div>
      <div class="modal-body">
        <div class="top-block">
          <p>EHR1 - Electronic Health Record Version 1.0</p>
          <p>Copyright © 2015 EHR1. All Rights Reserved</p>
        </div>
        <div class="center-block">
          <div class="logo"></div>
        </div>
        <div class="bottom-block">
          <p>View the&nbsp;
            <a>Healthcare Provider User Agreement</a>,&nbsp;
            <a>Privacy policy</a>
            and&nbsp;
            <a>Terms of Use</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
