<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div>
    <img src="../../../assets/images/logo.svg" alt="logo" class="img-fluid mx-3" />
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('/provider/smartschedule','Smart Schedule')"
          routerLinkActive="router-link-active" class="nav-link active item-prov-dashboard">Smart Schedule
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('/provider/calendar','Calender')"
          class="nav-link item-schedule">Calender
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link item-patients"
          (click)="onChangeBreadCrum('/provider/patients','Patient')">Patient
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link item-messages"
          (click)="onChangeBreadCrum('/provider/messages','Messages')">Messages
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link item-direct-messages"
          (click)="onChangeBreadCrum('/provider/directmsg','Direct Msg')">Direct Msg
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link item-erx" (click)="onChangeBreadCrum('/provider/erx','eRx')">eRx
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('/provider/labsimaging','Labs&Imaging')"
          class="nav-link item-labsimaging">Labs/Imaging
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link item-reports"
          (click)="onChangeBreadCrum('/provider/categoryreports','Reports')">Reports
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link item-billing"
          (click)="onChangeBreadCrum('/provider/billing','Billing')">Billing
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('/provider/settings','Settings','practice')"
          class="nav-link item-settings">Settings
        </a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav pull-right">
    <li [matMenuTriggerFor]="menu" class="nav-item nav-top-right">
      <a class="nav-link dropdown-toggle" id="UserDropdown">
        <span class="profile-text">{{ this.user.FirstName}}&nbsp;&nbsp;{{this.user.LastName}}</span>
        <img class="img-xs rounded-circle mx-1" src="../../../assets/images/default.png">
      </a>
      <mat-menu #menu="matMenu" [hasBackdrop]="false">
        <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
          <mat-form-field appearance="outline" class="col-lg-12 hover">
            <mat-select class="textcolor" [value]="user.CurrentLocation" name="location" disableOptionCentering>
              <mat-option *ngFor="let location of locationsInfo" [value]="location.locationId"
                (click)="changeLocation(location.locationId)"> {{ location.locationName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-menu-item class="nav-right-dropdown">
            <span>My Account</span></button>
          <button mat-menu-item class="nav-right-dropdown">
            <span>About EHR1</span>
          </button>
          <button mat-menu-item class="nav-right-dropdown">
            <span>Lock</span>
          </button>
          <button mat-menu-item class="nav-right-dropdown" (click)="logout()">
            <span>Log Out</span>
          </button>
        </div>
      </mat-menu>
    </li>
  </ul>
</nav>
