:host {
  display: flex;
  align-items: center;
}
.select {
  max-width: 130px;
  margin-left: 0.7rem;
}
.divider {
  height: 1em;
  color: currentColor;
  margin: 0 0.75rem;
}
.optionPanelClass{
  margin-top: 40px !important;
}
.divider-horizontal {
  height: eem;
  color: currentColor;
  margin: 0 0.75rem;
}

::ng-deep .medical-code-option .mat-option-text{
  white-space: normal !important;
  line-height: 20px !important;
  margin: 5px 0 5px 0;
}

::ng-deep .medical-code-option {
  height: fit-content !important;
  margin: 5px 0 5px 0;
}
