<div class="row mt-4 mx-1">
  <div class="col-lg-12 col-xl-12 col-md-12 col-12">
    <app-admin-breadcrum></app-admin-breadcrum>
  </div>
</div>

<div class="page-content settings-wrapper" id="settings-wrapper">
    <h2 class="bold mt-4">Communication Settings</h2>
    <div class="heading">
        <div class="row">
            <div class="col-lg-3">
                <p><span class="bold">Status: </span><span>Disabled</span><a class="btn btn-style"
                      >Enable</a></p>
            </div>
        </div>
    </div>
</div>
