@import"../../../assets/admin.common.scss";

.btn-style {
    border-radius: 0%;
    font-family: "Open Sans", sans-serif;
    margin-left:3%;
    line-height: 1.44;
}
.bold {
    font-weight: 600 !important;

}
h2 {
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
}
.page-content{
    margin-left: 2%;
}
