<div class="row mt-4 mx-1">
  <div class="col-lg-12 col-xl-12 col-md-12 col-12">
    <app-admin-breadcrum></app-admin-breadcrum>
  </div>
</div>

<div class="page-content settings-wrapper" id="settings-wrapper">
    <div class="row">

        <div class="form-group col-md-8  mt-4">
            <h1>Upload excel file to import encounters</h1>
        </div>
    </div>
    <div class="body-input" >
        <label>Provider </label>
        <div class="control-section mt-2">
            <div class="content" >
                <ejs-dropdownlist cssClass="e-custom"  class="ejs-dropdownlist" id='country' [dataSource]='ProviderList' [fields]='ProviderName'
                    (filtering)='FilteringProviderName($event)'
                    [allowFiltering]='true' placeholder="Select Provider "></ejs-dropdownlist>
            </div>
        </div>


        <div class="form-group col-lg-12 mt-3 ">
            <label class="input-lable" for="admin_import_datum_data_file">Data file</label>
        </div>
        <div class="form-group col-lg-12 mt-2">
            <input accept=".csv" type="file" name="admin_import_datum[data_file]" id="admin_import_datum_data_file">
        </div>

        <div class="form-group  col-lg-12 mt-3 ">
            <div class="actions">
              <button type="submit" class="btn btn-style" >Import</button>
                <button type="button" class="btn btn-back mx-2">Back</button>
            </div>
        </div>
    </div>
</div>



