<div class="row mt-4 mx-1">
  <div class="col-lg-12 col-xl-12 col-md-12 col-12">
    <app-admin-breadcrum></app-admin-breadcrum>
  </div>
</div>

<div class="page-content upload-wrapper" id="upload-wrapper">
  <div class="row">
    <div class="form-group col-md-12">
      <h1 class="title">Upload excel file to import encounters</h1>
    </div>
  </div>
  <div class="upload-input">
    <label class="required">Import data for provider :</label>
    <div class="form-group col-lg-12 mt-2">
      <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12">
        <mat-select class="col-lg-12 col-md-12 col-12" #searchProvider  [(ngModel)]="ProviderId" placeholder="Select Provider">
          <mat-select-filter class="for-parent-select" [placeholder]="'Filter Provider by Name'" *ngIf="searchProvider.focused" [displayMember]="'ProviderName'"
          [array]="ProviderList"
            (filteredReturn)="filterredProviders = $event"></mat-select-filter>
          <mat-option panelClass="myPanelClass" *ngFor="let item of filterredProviders" [value]="item.ProviderId">
            {{ "["+item.ClinicName +"] - "+ item.ProviderName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-lg-12 mt-2">

      <div class="upload-btn-wrapper">
        <label for="singleFile" class="upload-label">
          Upload Data File
        </label>
        <input id="singleFile" name="myFile" accept=".csv,.xls,xlsx" type="file" hidden="true"
          (change)="onFileSelected($event)" />

      </div>
      <label style="font-size:16px; margin-left:10px">{{file != null ? file.name : ""}}</label>
    </div>

    <div class="form-group  col-lg-12 mt-3 ">
      <div class="actions">
        <button type="submit" [class.btn-not-allowed]="!enableImport" class="btn btn-style" [disabled]="!enableImport || !ProviderId"
        (click)="upload()" >Import</button>
        <button type="button" class="btn btn-back mx-2" (click)="BackToListImportData('Import Data','admin/importeddata')">Back</button>
      </div>
      <ng-container *ngIf="uploadProgress$ | async as uploadProgress">
        <mat-card class="progress-card">
          <label>Progress</label>
          <mat-progress-bar [value]="uploadProgress.progressPercentage"></mat-progress-bar>
          <span class="file-summary">{{ uploadProgress.progressPercentage }}%</span>
          <span>
            {{ uploadProgress.loaded | bytes }} of
            {{ uploadProgress.total | bytes }}</span>
        </mat-card>
        <label *ngIf="uploaded">{{"Uploaded the file: "+fileName}}</label>
      </ng-container>
    </div>
  </div>
</div>
