<div class="modal-dialog modal-xl" id="form-ccda">
  <div class="modal-content modal-cust-content">
    <div class="modal-header model-cust-heading">
      <p class="modal-title modal-cust-title">Create C-CDA</p>
      <div class="dropdown actiondropdown">
        <button class="btn btn-orange font-family dropdown-toggle" type="button" id="ccda-dropdwon"
          data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="true">
          Actions
        </button>
        <ul class="dropdown-menu" aria-labelledby="ccda-dropdwon">
          <li class="drop-menu" (click)="DownloadCCCDA()"><a class="dropdown-item ccda-seletion">Download</a></li>
          <li class="drop-menu" (click)="SendToPateint()"><a class="dropdown-item ccda-seletion">Send to Patient Portal</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="drop-menu"><a class="dropdown-item ccda-seletion" *ngIf="!patient.NoEmail">Send to Direct</a>
          <div class="dropdown-item ccda-no-email" *ngIf="patient.NoEmail">Send to Direct</div></li>

        </ul>
      </div>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
        x
      </span>
    </div>
    <div class="modal-body model-cust-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 mb-4">
          <mat-progress-bar mode="indeterminate" bufferValue="20" value=100 *ngIf="dialogIsLoading"></mat-progress-bar>
          <div class="col-md-6">

            <div>
              <label class="Helvetica-sans-serif-medium">Document Type:
              </label>
              <mat-radio-group [(ngModel)]="c_CDAParams.ClinicalSummary">
                <mat-radio-button class="radio-btn-label label-design my-1" value="Clinical Summary"
                  (click)="enableEncouterDetails()" [checked]="true">
                  Clinical Summary</mat-radio-button>
                <mat-radio-button class="radio-btn-label label-design my-1" value="Transition of Care"
                  (click)="enableTransitionDetails()">

                  Transition of Care </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12 mb-4">

          <div class="row">
            <div class=" col-md-4 leftblockalignments left-block">
              <div class="row">
                <p> SECTIONS TO INCLUDE <a class="select-all" (click)="toggleSelectAll(true)">Select all</a> | <a
                    class="deselect-all" (click)="toggleSelectAll(false)">Select none</a> </p>
              </div>
              <div class="row ccda-chk-section-group">
                <mat-checkbox #patientInformationToggle (change)="TogglePatients($event)" checked="true">
                  <span>Patient Information</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2 ccda-item-group">
                <mat-checkbox #patientInformationCheckboxes
                  *ngFor="let patient of c_CDAParams.PatientInformation; let i = index;" checked="true" value="patient"
                  (change)="verifyPatentToggler($event,patient)">
                  <span>{{patient.Name}}</span>
                </mat-checkbox>
              </div>
              <div *ngIf="enconterDetails">
                <div class="row ccda-chk-section-group">
                  <mat-checkbox #encounterDetailsToggle (change)="ToggleEncounter($event)" checked="true">
                    <span class="ccda-mat-checkbox-label">Encounter Details</span>
                  </mat-checkbox>
                </div>
                <div class="row pt-2 ccda-item-group">
                  <mat-checkbox #encounterDetailsCheckboxes
                    *ngFor="let encounter of c_CDAParams.EncounterDetails; let i = index;" checked="true"
                    value="encounter" (change)="verifyEncounterToggler($event,encounter)">
                    <span>{{encounter.Name}}</span>
                  </mat-checkbox>
                </div>
              </div>
              <div *ngIf="!enconterDetails">
                <div class="row ccda-chk-section-group">
                  <mat-checkbox #transitionofCareDatailsToggle (change)="ToggleTransititionDetails($event)"
                    checked="true">
                    <span class="ccda-mat-checkbox-label">Transition Information</span>
                  </mat-checkbox>
                </div>
                <div class="row pt-2 ccda-item-group">
                  <mat-checkbox #transitionofCareDatailsCheckboxes
                    *ngFor="let transitionofCareDatails of c_CDAParams.TransitionofCareDetails; let i = index;"
                    checked="true" value="transitionofCareDatails" (change)="verifyTransitionofCareDatailsToggler($event,transitionofCareDatails)">
                    <span>{{transitionofCareDatails.Name}}</span>
                  </mat-checkbox>
                </div>

              </div>
              <div class="row ccda-chk-section-group">
                <mat-checkbox #patientChartInformationToggle (change)="TogglePatientChartInfo($event)" checked="true">
                  <span class="ccda-mat-checkbox-label">Patient Chart Information</span>
                </mat-checkbox>
              </div>
              <div class="row pt-2 ccda-item-group">
                <mat-checkbox #patientChartInformationCheckboxes (change)="verifyPatientChartInfoToggler($event,patientinfo)"
                  *ngFor="let patientinfo of c_CDAParams.PatientChartInformation; let i = index;" checked="true"
                  value="patientinfo">
                  <span>{{patientinfo.Name}}</span>
                </mat-checkbox>
              </div>



            </div>
            <div class=" col-md-8 rightblockalignments right-block">
              <div class="row mt-3">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <button type="button" class="btn btn-green btn-msgsave col-md-4 mx-2">Preview XML</button>
                  <button type="button" class="btn btn-green btn-msgsave col-md-4"
                    (click)="openComponentDialog(ccdaPreviewDialogComponent, c_CDAParams, ActionTypes.view)">Preview Html
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
    <div class="modal-footer">


    </div>
  </div>
</div>
