@import "../../../assets/admin.common.scss";


h1 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.table td,.table th {
  white-space: inherit !important;
  line-height: 1.42857;
  vertical-align: top;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.table thead tr th {
  border: 1px solid #e7ecf1;
  padding: 13px 8px;
}
.border {
  border: 1px solid #e7ecf1;
}
tr,td {
  border: 1px solid #e7ecf1;
}
.th-Sequance {
  width: 3%;
}
.th-body {
  width: 30%;
}
.th-header {
  width: 23%;
}
td {
  color: rgb(56, 55, 55);
}
.td-status {
  color: #337ab7;
  }
.td-status:hover {
  color: black;
  cursor: pointer !important;
}

.table>thead>tr>th {
  border-bottom-color: #e7ecf1 !important;
}
.table> :not(:first-child) {
  border-top: 1px;
}
.btn-edit{
  padding: 11px 14px !important;
  font-size: 14px;
  border-radius: 1px;
}

.btn-delete {
  color: #fff;
  background-color: #ed6b75;
  padding: 11px 14px;
  border: 1px solid #ea5460;
  font-size: 14px;
  border-radius: 1px;
}
.btn-delete:hover {
  background-color: #ed4040;
}
p {
  font-family: Lato;
}
// search drop-down
.dropdown-toggle {
  width: 100% !important;
  border: 0px solid black;
  height: 35px;
  background: white;
}
.text-truncate {
  margin-left: -150px;
}
.statusDropdownContainer{
  cursor: pointer !important;
}
.statusFilterDropdown{
    border: 1px solid #d3d3d3;
    border-radius: 1px;
    cursor: pointer !important;
}

.searchmenu{
  position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px !important;
    padding-top: 0px;
    transform: translate(542px, 205px);
    border: 1px solid #d3d3d3;
    border-radius: 0px;
    width: 15.38%;
    height: 215px;
    overflow-y: auto;
    border-block-start: inherit;
    cursor: pointer !important;
}
.flex-middle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input, .form-control:focus, input:focus, select:focus, textarea:focus, button:focus {
  border: 1px solid lightgrey !important;
}
.statusDropdownContainer, .calendarBtnContainer{
  padding-top: 6px;
  margin-top: -4px;
}
.drodownlist{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;;
}
.drodownlist:hover{
  font-size: 14px;
  color: white;
  background-color: #337ab7 !important;
}
::ng-deep .drodownlist:focus{
  font-size: 14px;
  color: white;
  background-color: #337ab7 !important;
}
.dropdown-toggle::after {
  position: relative;
  right: -250px;
  color: grey;
}
.selecteditem:focus{
  color: white;
  background-color: #337ab7 !important;
}

// media query for drodown box and menulist
@media(min-width:980px) and (max-width:3000px)
{
  .text-truncate {
    margin-left: -268px;
  }
}
@media(max-width:600px)
{
  .dropdown-toggle{
    width: 300px   !important;
  }
  .searchmenu{
    width: 298px !important;
  }
}
@media(max-width:600px)
{
  .text-truncate
  {
    margin-left: -247px;
  }
}
@media (min-width:601px) and (max-width:990px)
{
  .dropdown-toggle{
    width: 320px !important;
  }
  .searchmenu{
    width: 358px !important;
  }
  .btn-Preview{
    margin-left:20px !important;
   }

}
@media (min-width:991px) and (max-width:1350px)
{
  .dropdown-toggle{
    //  margin-left:100px !important;
    width: 302px !important;
  }
  .searchmenu{
    width: 299px !important;
  }

}
@media (min-width:1351px) and (max-width:1650px)
{
  // .dropdown-toggle{
  //   // margin-left:200px !important;
  //   width: 350px !important;
  // }
  .searchmenu{
    width: 341px   !important;
  }
  // .btn-Preview{
  //   margin-left:38px !important;
  //  }
}

.ellipsis {
  position: relative;
  width: 35%;
  cursor: pointer !important;
}

.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer !important;
}

.tooltip-text {
  overflow-y: scroll;
  max-height: 40%;
  display: block;
  cursor: pointer !important;
}

.table-NoRecord{
  border:1px solid #e7ecf1;
  border-top: none;
}

.modal-content.lockedModal{
  border: 1px solid #c1bcbc;
  }
  .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 2px solid white;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  .modal-dialog .modal-content {
    box-shadow: none;
    border-radius: 0px;
    margin-left: -22%;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150%;
    pointer-events: auto;
    background-color: white;

  }
  .modal-body {
    padding: 2px 21px !important;
    padding-top: 14px !important;
    background-color: #fff;
  }

  .title{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    margin-top: -7px;
    margin-left: -11px;
  }
  .modal .modal-dialog .modal-content .modal-footer {
    padding: 16px 7px !important;
  }
  .modal-hr{
    margin-top: -17px;
  }
  .modal-content{
    border: 0px solid #f2f2f2;
  }
  .modal-footer{
    border-top: 2px solid #f2f2f2;
  }
  .modal-dialog{
    margin-top: 300px;
  }

  @media(min-width:300px) and (max-width:560px){
    .modal-content {
      width: 122%;
    }
    .modal-dialog{
      margin-left: 22% !important;
      margin-top: 200px;
    }
  }
  @media(min-width:565px) and (max-width:840px){
    .modal-content {
      width: 100%;
    }
    .modal-dialog{
      margin-left: 34% !important;
    }
  }
  .cancel-button {
    font-size: 100% !important;
    text-align: center !important;
    width: auto !important;
    margin-left: 1% !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    padding: 7px 12px !important;
    border-radius: 0px !important;
    color: black !important;
  }
  .cancel-button:hover {
    background-color: rgb(234, 232, 232) !important;
    border: 1px solid rgb(160, 159, 159) !important;

  }
  .swal2-styled.swal2-cancel {
    background:blue !important
  }
 .display-body{
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
 }
 .dropdown-menu{
  min-width: 24rem;
 }
