<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-3">
      <app-admin-breadcrum></app-admin-breadcrum>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-12 col-12 mt-3">
      <ul>
        <li>Display Status: Enabled
          <button type="button" class="btn-style mx-1">Disable</button>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 col-xl-2 col-md-6 col-8 mt-3">
      <div class="statusDropdownContainer ">
        <a class="btn dropdown-toggle statusFilterDropdown" href="#" role="button" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="text-truncate">{{selectedValue ? selectedValue : 'select'}}</span>
        </a>
        <ul class="dropdown-menu searchmenu" aria-labelledby="dropdownMenuLink">
          <input type="text" class="w-100 p-2 searchInput" [(ngModel)]="searchValue"
            (ngModelChange)="filterDropdown($event)">
           <a *ngFor="let option of filteredList; let i=index" class="dropdown-item pointer text-containt drodownlist"
            [ngClass]="{'alternateBackground': i%2 == 0 }" (click)="selectValue(option.ProviderName)">
            {{option.ProviderName}}
          </a>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-xl-2 col-md-3 col-2 mt-3">
      <button type="button" class="btn-style btn-Preview mx-1 py-2">Preview</button>
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-2">
      <h1>Weekly Update</h1>
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-2">
      <button type="button" class="btn-style mx-1" (click)="AddSectionNew('SectionsNew','admin/sectionnew')">Add New
        Section</button>
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-3 mb-5">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="th-Sequance">Sequence</th>
              <th>Body</th>
              <th class="th-header">Header</th>
              <th>Slide Type</th>
              <th>Logo Type</th>
              <th>Status</th>
              <th>News Text</th>
              <th>Tag Line</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of WeeklyUpdatedList, let i = index">
              <td>{{item.sequence}}</td>
              <td (click)="GetBodyData(i)" class="ellipsis">
                <span data-toggle="tooltip" data-bs-placement="top" title={{item.body}} *ngIf="i != RowIndex"
                  class="tooltip-text">
                  {{item.body}}</span>
                <div class="display-body" *ngIf="i == RowIndex">
                  <p>{{DisplayTdBody}}</p>
                </div>
              </td>
              <td>{{item.header}}</td>
              <td>{{item.slide_type}}</td>
              <td>{{item.logo_type}}</td>
              <td class="td-status">{{item.Status}}</td>
              <td>{{item.news_text}}</td>
              <td>{{item.tag_line}}</td>
              <td>
                <button type="button" class="btn btn-style btn-edit btn-sm mx-1"
                  (click)="EditSectionNew('SectionsNew','admin/sectionnew',item)">Edit</button>
                <button type="button" class="btn btn-delete btn-sm mx-1 my-md-1 my-xs-1 my-sm-1">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-NoRecord text-center py-2 col-12" *ngIf="WeeklyUpdatedList.length == 0">
          No Weekly Updates
        </div>
      </div>
    </div>
  </div>
</div>
