<div class="modal-dialog prescription-info-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">Review Prescription</h4>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="title-bio col-12">
        <p class="mx-2">
          <span style="margin-right: 10px;">{{patient?.FirstName}} {{patient?.LastName}}</span>
          <span style="margin-right: 10px;" *ngIf="patient?.Dob">{{patient?.Dob | date: 'MM/dd/yyyy'}}</span>
          <span style="margin-right: 10px;" *ngIf="patient?.Gender">{{patient?.Gender}}</span>
          <span style="margin-right: 10px;" *ngIf="patient?.MobilePhone">Mobile {{patient?.MobilePhone}}</span>
        </p>
        <!-- Leann Hancock 09/22/1982 Female 640 N Fairview Ave Burns, OR 97720-1110 Mobile (775) 375-7082 -->
      </div>
      <div class="prescription-body">
        <p class="mb-0">Patient Allergies: <b class="text-danger" *ngIf="patientAllergies.length == 0">
            <span>Allergies Not Entered</span></b>
        </p>
        <ul class="main-list" *ngFor="let allergie of patientAllergies">
          <li>
            <span *ngIf="allergie?.AllergenName != null && allergie?.AllergenName !=''">
              {{allergie?.AllergenName}}
            </span>
            <span *ngIf="allergie?.SeverityLevel != null && allergie?.SeverityLevel !=''">
              , {{allergie?.SeverityLevel}}
            </span>
            <span *ngIf="allergie?.Reaction != null && allergie?.Reaction !=''">
              , {{allergie?.Reaction}}
            </span>
            <span *ngIf="allergie?.StartAt != null && allergie?.StartAt !=''">
              , Start: {{allergie?.StartAt | date: 'MM/dd/yyyy'}}
            </span>
          </li>
        </ul>
        <div class="alert alert-warning" role="alert" hidden>
          Prescription tramadol hydrochloride (bulk) 100% powder for Leann Hancock cannot be sent. Only a valid EPCS
          prescriber can e-sign a controlled substance otherwise it must be printed signed and handed to patient (or
          manually faxed when permitted by state regulations).
        </div>
        <div class="card main-info">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-9 col-md-7 col-12">
                <p><b>{{prescription?.DrugName}}</b></p>
                <div class="row">
                  <p class="col-md-3 col-12 p-0">Directions</p>
                  <p class="col-md-9 col-12">
                    {{prescription?.Action}} {{prescription?.Dose}}
                    {{prescription?.DoseUnits}} {{prescription?.DoseRoute}} {{prescription?.DoseTiming}}
                    {{prescription?.DoseOther}}
                  </p>
                  <p class="col-md-3 col-12 p-0">Quantity</p>
                  <!-- <p class="col-md-9 col-12">**12** (twelve) gram</p> -->
                  <p class="col-md-9 col-12">{{prescription?.Quantity}} {{prescription?.QuantityUnits}}</p>
                  <p class="col-md-3 col-12 p-0">Refills</p>
                  <p class="col-md-9 col-12">{{prescription?.Refills}}</p>
                  <p class="col-md-3 col-12 p-0">Days Supply</p>
                  <p class="col-md-9 col-12">
                    {{prescription?.Duration | numberToWords}} {{prescription?.Duration == 1 ? 'day' : 'days'}}
                  </p>
                  <p class="col-md-3 col-12 p-0">Order #</p>
                  <p class="col-md-9 col-12">{{prescription?.PrescriptionRcopiaId}}</p>
                </div>
              </div>
              <div class="left-container title-bio col-lg-3 col-md-5 col-12">
                <div class="label">
                  <p>Provider</p>
                  <p><b>{{this.user.FirstName}} {{this.user.LastName}}</b></p>
                </div>
                <div class="info">
                  <p>{{user.BusinessName}}</p>
                  <p>Phone: </p>
                  <p>Fax: </p>
                  <p>NPI: </p>
                  <p>DEA: </p>
                </div>
                <div class="label mt-2" hidden>
                  <p>Pharmacy</p>
                  <b>ANS Corp Pharmacy of Modern Med |</b>
                </div>
                <div class="info" hidden>
                  <p>650 Louise Drive Warminster, PA 18974</p>
                  <p>Phone: (215) 268-7394</p>
                  <p>Fax: (215) 555-1313</p>
                  <p>NCPDPID: 5478236</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <b>Transmission History</b>
            <ul>
              <li><b>created</b><span> on 06/13/2023 11.46.34 AM IST by
                  {{this.user.FirstName}} {{this.user.LastName}}.</span></li>
            </ul>
            <div class="form-group" hidden>
              <label class="text-bold title-field">Comments For Office Use Only</label>
              <textarea class="form-control col-12 mt-3 mt-md-0" placeholder="Comments"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="w-100">
        <button type="button" class="btn btn-green pull-left" hidden>
          Save Comments
        </button>
        <button type="button" class="btn btn-green pull-right" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
