.type-role {
  color: orange;
  font-size: 13px;
  min-height: 40px;
  padding: 17px;
}
.bx-menu,
.icon-logout{
  cursor: pointer;
}
.admin-mailid {
  font-size: 13px;
  font-family: 'Roboto';
}
.home-content .not-allowed{
  cursor: not-allowed;

}
.navbar-nav > .nav-item:hover {
  background: #3e4b5c!important;
  padding: 17px 0px;
  background-position: center 21px !important;
}





