<div *ngIf="loaderService?.isLoading | async" class="loader-container">
  <mat-progress-bar [value]="loaderService?.progressValue"></mat-progress-bar>
  <div id="pause" class="d-flex align-items-center justify-content-center rectangle-spinner">
    <div id="spinner"></div>
  </div>
</div>

<div class="home-content" style="justify-content:right;">

    <ul class="navbar-nav">
      <li class="nav-item">
        <span  class="type-role">Type : admin</span>
      </li>
    </ul>


    <ul class="navbar-nav">
      <li class="nav-item">
        <i class="icon-bell not-allowed mx-3"></i>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <i class="icon-envelope-open not-allowed mx-3"></i>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <i class="icon-calendar not-allowed mx-3"></i>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <i class="fa fa-user not-allowed mx-3">
          <span class="admin-mailid mx-1"> {{user.Username}}</span>
        </i>
      </li>
    </ul>
    <ul class="navbar-nav" (click)="logout()">
      <li class="nav-item">
        <i class="icon-logout mx-3"></i>
      </li>
    </ul>


</div>
