<div class="modal-dialog prescription-table-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">
        <span>Prescriptions</span>
      </h4>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="scrollable-mat-table">
        <mat-table [dataSource]="prescriptions" matSort>
          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Status">Status</mat-header-cell>
            <mat-cell *matCellDef="let prescription">
              <a (click)="openComponentDialog(eRxPrescriptionInfoDialogComponent, prescription, ActionTypes.view)">
                {{prescription?.Status}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="DrugName">
            <mat-header-cell *matHeaderCellDef mat-sort-header="DrugName">Name</mat-header-cell>
            <mat-cell *matCellDef="let prescription">
              <a (click)="openComponentDialog(eRxPrescriptionInfoDialogComponent, prescription, ActionTypes.view)">
                {{prescription?.DrugName}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="PatientDirection">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Dose">Patient Direction</mat-header-cell>
            <mat-cell *matCellDef="let prescription">
              <a (click)="openComponentDialog(eRxPrescriptionInfoDialogComponent, prescription, ActionTypes.view)">
                {{prescription?.Action}} {{prescription?.Dose}}
                {{prescription?.DoseUnits}} {{prescription?.DoseRoute}} {{prescription?.DoseTiming}}
                {{prescription?.DoseOther}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Type">
            <mat-header-cell *matHeaderCellDef mat-sort-header="BrandType">Type</mat-header-cell>
            <mat-cell *matCellDef="let prescription">
              <a (click)="openComponentDialog(eRxPrescriptionInfoDialogComponent, prescription, ActionTypes.view)">
                {{prescription?.BrandName}} {{prescription?.BrandType}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="CompletedAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header="CompletedAt">Completed Date</mat-header-cell>
            <mat-cell *matCellDef="let prescription">
              <a (click)="openComponentDialog(eRxPrescriptionInfoDialogComponent, prescription, ActionTypes.view)">
                {{prescription?.CompletedAt | date:'dd/MM/yyyy'}}
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="prescriptionColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: prescriptionColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
