@import "../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

#blockout-dialog.modal-dialog {
  max-width: 660px;
}

::ng-deep #blockout-dialog {
  .modal-body {
    max-height: calc(90vh - 180px);
    overflow-y: auto;
  }

  .modal-content {
    margin: auto;
  }

  .modal-header {
    margin-right: -1px;
  }

  .block-start-at.mat-form-field-appearance-outline .mat-form-field-prefix,
  .block-start-at.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: .24em;
  }

  .mat-datepicker-toggle-default-icon {
    color: #41b6a6 !important;
  }
  mat-datepicker-toggle.mat-datepicker-toggle
    button.mat-icon-button
    span.mat-button-wrapper
    svg.mat-datepicker-toggle-default-icon
    > path {
    fill: #fff;
    stroke: rgb(224, 220, 220);
    stroke-linejoin: round;
    transition: d 0.2s;
  }
  mat-datepicker-toggle.mat-datepicker-toggle
    button.mat-focus-indicator.mat-icon-button {
    background-color: #41b6a6;
    color: #fff;
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: -14px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: -10px;
    border: 1px solid #41b6a6;
    height: 3.1em !important;
    width: 3.1em !important;
    top: 0.06em;
  }

  .hint-note{
    color:#e55406;
    font-weight: 600;
  }
  .btn.btn-cancel {
    color: #41b6a6;
    border-color: #41b6a6;
    background: #fff;
    // font-family: inherit;
  }

  .btn.btn-cancel:hover {
    color: #fff;
    border-color: #41b6a6;
    background: #41b6a6;
  }

  .btn.btn-spacer{
    margin: 0 20px;
  }

  .controls {
    width: 100%;
  }

  .recurring-block {
    background-color: rgba(65, 182, 166, 0.1);
    border: 1px solid #41b6a6;
    margin: 0 0px;
    border-radius: 4px;
  }
  .mat-checkbox .mat-checkbox-layout{
    padding-top:3px;
    .mat-checkbox-label{
      margin-left: 5px;
      margin-top: 5px;
    }
  }
  .label-for-radio, .label-for-radio1, .radiobutton-custom{
    padding:10px;
  }

  .radiobutton-custom{
    display: flex;
    align-items: baseline;
  }
  .recurring-radio-buttons{
    display: inherit;
    //height: 60px;
    margin-left: 50px;
    align-items: baseline;
    white-space: nowrap;
    input{
      width: 80px;
      padding-left:5px;
      margin: 10px;
      border:unset I !important;
      border:#41b6a6 1px solid !important;
    }
    label{
      white-space: nowrap;
    }
  }
  .recurring-checkboxes{
    display: flex;
    .mat-checkbox{
      padding-right:10px;
    }
  }

}
