<div class="modal-dialog e-prescribe-wrapper">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title">E-Prescribe</p>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <p class="mb-0"><b>Slvana Younis</b>
        is not registered on drFirst. Would you like to register this patient & continue?
      </p>
    </div>
    <div class="modal-footer dialog-footer">
      <button class="btn btn-green pull-right" (click)="cancel()">Cancel</button>
      <button class="btn btn-green pull-right" (click)="sendPatientDrfirstRegistration()" >Continue</button>
    </div>
  </div>
</div>
