@import"../../../assets/admin.common.scss";

.btn-style {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    // line-height: 1.44;
    padding: 6px 12px !important;
    cursor: not-allowed;
    opacity:0.5;
}

.btn-back{
  padding: 6px 12px;
  font-family: "Open Sans", sans-serif;
}
.input-lable {
    font-size: 14px;
}
.body-input{
    width: 280px;
    margin: 0 ;
    padding-top:40px;
    margin-left: 33%;
}
.file {
    border: 0;
}
input::-webkit-input-placeholder {
    color: #5c5b5b !important;
    font-size: 100%;
    font-family: sans-serif;
    padding-left: 5%;
  }
.btn-default {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-radius: 0%;
    border-color: #e7e7e7;
    margin-left: 3%;
}

.btn-default:hover {
    background: #e7e7e7;

}
.col-md-8{
    margin-left: 25%;
}
h1 {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.page-content {
    margin-top: 1%;
}

p {
    font-family: Lato;
}

.e-control {
    box-sizing: border-box;
    border: ridge;
}
.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left)
{
    border-color: rgb(251 251 251 / 42%);
}
.mat-option.mat-active {
  background: #337ab7 !important;
  color:#fff !important;
}

.mat-option:hover {
  background: #337ab7 !important;
  color: #fff !important;
}

::ng-deep.cdk-overlay-pane  {
  top: 310.75px !important;
  left: 809px !important;
  min-width: 245px !important;
}
::ng-deep.mat-select-panel {
  min-width: 112px;
  max-width: 232px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #93a1bb !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #93a1bb;
  border-radius: 1px;
  border-width: 0px !important;

}

::ng-deep .mat-select-arrow{
  color: #93a1bb !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #93a1bb;

}
::ng-deep.mat-filter{
  position: sticky;
  top: 0;
  border: 1px solid #93a1bb;
}
.mat-option {
  border-left: 1px solid #93a1bb;
  border-right: 1px solid #93a1bb;

}
