<div class="modal-dialog modal-maxHeight modal-allergie">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">Record Allergy</h4>
      <span type="button" class="cross-mark" (click)="cancel()">
        X
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-4">
            <label class="title-bold required">Allergy Type: </label>
          </div>
          <div class="col-md-10 col-12">
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select allergy type" [(ngModel)]="patientAllergy.AllergenType">
                <mat-option *ngFor="let allergy of allergyType" [value]="allergy">
                  {{allergy}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 ">
            <label class="title-bold required">Severity Level: </label>
          </div>
          <div class="col-md-10 col-12">
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select severity level" id="severity-level" [(ngModel)]="patientAllergy.SeverityLevel">
                <mat-option *ngFor="let severity of severityLevel" [value]="severity">
                  {{severity}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <label class="title-bold required">Onset At: </label>
          </div>
          <div class="col-md-10 col-12">
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select onsetAt" [(ngModel)]="patientAllergy.OnSetAt">
                <mat-option *ngFor="let onset of onsetAt" [value]="onset">
                  {{onset}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="col-md-4">
            <label class="title-bold required">Start Date: </label>
          </div>
          <div class="col-md-10 col-12">
            <mat-form-field appearance="outline" class="grey-matform green-calendar cstm-calendar col-md-8 col-12">
              <input class="pointer" matInput [matDatepicker]="StartAt" placeholder="Start Date" name="startDate"
                (click)="StartAt.open()" readonly [(ngModel)]="patientAllergy.StartAt"
                (dateChange)="dateChange($event)" />
              <mat-datepicker-toggle matSuffix [for]="StartAt">
              </mat-datepicker-toggle>
              <mat-datepicker #StartAt disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-4 ">
            <label class="title-bold">End Date: </label>
          </div>
          <div class="col-md-10 col-12">
            <mat-form-field appearance="outline" class="grey-matform green-calendar cstm-calendar col-md-8 col-12">
              <input class="pointer" matInput [matDatepicker]="EndAt" placeholder="End Date" name="endDate"
                (click)="EndAt.open()" readonly [(ngModel)]="patientAllergy.EndAt" [min]="minDateForEndDate"
                [disabled]="patientAllergy.StartAt == null" />
              <mat-datepicker-toggle matSuffix [for]="EndAt" [disabled]="patientAllergy.StartAt == null">
              </mat-datepicker-toggle>
              <mat-datepicker #EndAt disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
        <div class="col-md-6">
          <div class="col-md-4 ">
            <label class="title-bold required">Allergen: </label>
          </div>
          <div class="col-md-12 col-12">
            <mat-form-field class="allergy-form-field col-12" appearance="outline" [ngStyle]="{'width':'100%'}"  autocomplete="off">
              <input matInput #cdkSearchAllergyName class="form-control" placeholder="Select Allergy Name" type="text"
                [matAutocomplete]="cdkallergyName" autocomplete="off" #trigger="matAutocompleteTrigger" appAutocompletePosition="trigger" />
                <!-- <div cdkScrollable> -->
              <mat-autocomplete [displayWith]="displayWithAllergy" class="scrollable-table" #cdkallergyName="matAutocomplete" autocomplete="off"
                (optionActivated)="handleKeyboardEvent($event)" (optionSelected)="onSelectedAllergy($event)" id="allergen-name">
                <mat-option [hidden]="!displayMessage && !isLoading" [disabled]="true" class="text-wrap lh-1 fs-6">
                  Enter atleast 3 character, you can only select 1 item
                </mat-option>
                <mat-option *ngIf="isLoading">Loading ...</mat-option>
                <mat-option *ngIf="noRecords">No Records Found</mat-option>
                <cdk-virtual-scroll-viewport class="autocomplete-test-viewport scrollable-table" [ngStyle]="{'height': height}"
                  itemSize="25">

                  <mat-option *cdkVirtualFor="let option of filteredOptions" [value]="option" class="autocomplete-item">
                    {{option.AllergyName}}
                  </mat-option>

                </cdk-virtual-scroll-viewport>
              </mat-autocomplete>
            <!-- </div> -->
            </mat-form-field>

            <!-- <mat-form-field class="allergy-form-field col-12" appearance="outline" [ngStyle]="{'width':'100%'}">
              <input matInput #searchAllergyName class="form-control" placeholder="Select Allergy Name" type="text"
                 [matAutocomplete]="allergyName" />
              <mat-autocomplete [displayWith]="displayWithAllergy" #allergyName="matAutocomplete"
                (optionSelected)="onSelectedAllergy($event)">
                <mat-option [hidden]="displayMessage == false" [disabled]="true" class="text-wrap lh-1 fs-6">
                  Enter atleast 1 character, you can only select 1 item
                </mat-option>
                <mat-option *ngIf="isLoading">Loading ...</mat-option>
                <mat-option *ngFor="let option of allergens | async" [value]="option" class="medical-code-option">
                  {{option.AllergyName}}
                </mat-option>
                <mat-option *ngIf="noRecords">No Records Found</mat-option>
              </mat-autocomplete>
            </mat-form-field> -->
            <span class="selected-allergen" id="allergenName" *ngIf="patientAllergy.AllergenName != null">
              <div>
                <p>{{patientAllergy.AllergenName}}</p>
                <a class="icon icon-sm icon-circle icon-ic-delete pull-right" id="icon-delete-1"
                  (click)="deleteAllergyName()"></a>
              </div>
            </span>
          </div>
          <div class=" form-group col-md-12 col-12">
            <label class="title-bold required">Reaction(s): </label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select allergy reaction" #reaction id="reaction-name">
                <mat-select-filter [displayMember]="'ReactionName'" [array]="allergyReactionFilter"
                  (filteredReturn)="allergyReaction = $event" *ngIf="reaction.focused"></mat-select-filter>
                <mat-option *ngFor="let allergy of allergyReaction" [value]="allergy.ReactionName"
                  (click)="onSelectedAllergyReaction(allergy.ReactionName)">
                  {{allergy.ReactionName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span class="selected-allergen" id="allergenName" *ngIf="selectedReaction.length > 0">
              <div *ngFor="let selected of selectedReaction; let i=index">
                <p>{{selected}}</p>
                <a class="icon icon-sm icon-circle icon-ic-delete pull-right" id="icon-delete-1"
                  (click)="deleteAllergyReaction(i)"></a>
              </div>
            </span>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <label class="title-bold">Notes:</label>
          <textarea class="form-control col-12 mt-3 mt-md-0 allergy-note" matInput
            [(ngModel)]="patientAllergy.Note"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="w-100">
        <button type="button" class="btn btn-danger mx-2 pull-left" (click)="deleteAllergy()" *ngIf="canDeleteAllergy">
          Delete
        </button>
        <button type="button" class="btn btn-green pull-right" (click)="cancel()">
          Cancel
        </button>
        <button type="button" class="btn btn-green mx-2 pull-right" [disabled]="disableAllergies()"
          (click)="CreateAllergies()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
