@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.modal-maxHeight.modal-dialog{
  max-width: 900px;
}
.modal-allergie.modal-dialog {
  overflow-y: initial !important;
}
.modal-allergie.modal-dialog .modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}
.modal-allergie.modal-dialog .modal-footer {
  padding: 10px 23px !important;
}
.selected-allergen{
  width: 100% !important;
  margin: auto;
  p, a{
    margin: 0 10px;

  }
  p{
    float: left;
    width: 100%;
  }
  a{
    float: right;
  }
  div{
    display: inline-flex;
    width: 100%;
    margin: 10px 0;
  }
}
.allergy-note{
  padding: 10px !important;
}
.title-bold {
  margin: 12px 0;
  color: #4A4A4A;
  font-size: 15px;
  font-weight: 600;
}
textarea.form-control {
  min-height: 119px !important;
  resize: both;
  font-size: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1.5;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-radius: 4px;
}
textarea.form-control:focus,
textarea.form-control:hover{
border: 1px solid #41b6a6  !important;
}

::ng-deep .autocomplete-item .mat-option-text{
  line-height: 24px;
  white-space: pre-wrap;
}

.allergy-viewonly{
  cursor: not-allowed;
}
