
<div class="container-fluid mt-4">
<div class="table-border ">
    <div class="col-lg-12 col-md-12 col-12 ">
        <h1>Edit default messages</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-8">
            <label for="Communication_Type">Communication type</label>
            <input class="form-control mt-2" readonly="readonly" type="text" value="request_confirm"
                name="default_communication_setting" id="default_communication_setting">
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-lg-4 col-md-8 col-12">
            <div class="form-group">
                <label for="default_communication_setting_message">Message</label>
                <br>
                <textarea class="mt-2" name="default_communication_setting[message]" id="default_communication_setting_message" cols="60"
                    rows="8">Your appointment with (practice_name) has been confirmed for the (date) at (time). If you would like to reschedule or cancel, please contact us via your patient portal or give us a phone call at (office#). Have a wonderful day.</textarea>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-4">
            <p class="bold">Note:</p>Use below keywords with the paranthesis to replace the actual data while sending
            communication
            notification:<br><br>(name)<br>(Clinic_name)<br>(phone_number)<br>(practice_name)<br>(date)<br>(time)<br>(office#)
        </div>
    </div>
    <div class="form-group mt-4">
        <div class="actions"><input type="submit" name="commit" value="Update" class="btn btn-primary">
            <a class="btn btn-default" href="admin/defaultmessage" style="margin-left:10px;">Back</a></div>
    </div>
</div>
</div>