<!-- Upcoming Appointment popup -->
<div class="modal animated fadeIn existingappointment-form" tabindex="-1" role="dialog"
  id="modal-existingappointment-form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upcoming Appointments</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeExistingAppointment()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="content-data">
          <div class="row appointment" *ngFor="let patientapp of AppointmentsOfPatient">
            <div class="col-md-7">
              <div class="upcomming-appointment">
                {{patientapp.AppointmentTime | date:'MM/dd/yyyy'}}&nbsp;
                <a class="main-list-link" data-remote="true" (click)="viewAppointment(patientapp)"
                  data-bs-toggle="modal" data-bs-target="#modal-appointment-form">View/Edit</a>
              </div>
              <div><b>Time: &nbsp;</b>{{patientapp.AppointmentTime | date:'h:mm a'}}&nbsp;(~
                {{patientapp.Duration}}Min.)</div>
              <div>
                <p>Provider: &nbsp; {{patientapp.ProviderName}}</p>
              </div>
            </div>
            <div class="col-md-5">
              <div><b>Type: &nbsp;</b>{{patientapp.AppointmentType}}</div>
              <div><a data-remote="true" href="javascript:void(0)" (click)="cancelAppointment(patientapp.AppointmentId)"
                  data-bs-target='#modal-update-appointment-status' data-bs-toggle="modal">Cancel</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn pull-left" data-bs-toggle="modal" data-bs-target="#modal-appointment-form"
          (click)="onSelectNewAppointmentofPatientFromEditAppointments();">
          New Appointment
        </button>
      </div>
    </div>
  </div>
</div>
