@import"../../../../assets/common.scss";
@import"../../../../assets/cstm.material.scss";


.cursorpointer {
  color: black !important;
}
.cursorpointer:hover {
  cursor: pointer !important;
  color: #fe8f00 !important;
}
table, th, td {
  border: 1px solid #ddd;
}
.table-NoRecord{
  border: 1px solid #41b6a6;
  font-size: 14px;
  font-family: 'Roboto';
  color: red;
}
