@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";

// #new-procedure-dialog .modal-content {
//   width: 800px;
// }

#new-procedure-dialog .row {
  padding-bottom: 10px;
}

.modal-body {
  max-height: calc(90vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}
label.control-label{display: block;width: 100%;}

#new-procedure-dialog div.row.title {
  background-color: #F7F7F7;
  display: inline-block;
  margin: 0;
  font-size: 16px;
  color: #41b6a6;
  padding: 15px 0 15px 20px;
  width: 100%;
  border-radius: 5px;
}

#new-procedure-dialog div.row.title>.title {
  padding-left: 0;
}

#new-procedure-dialog div.row.group {
  margin: 10px;
}

#new-procedure-dialog div.items {
  display: grid;
  line-height: 40px;
}

#new-procedure-dialog div.item-border{
  border: 1px solid #41b6a6;
  border-radius: 5px;
}


::ng-deep #new-procedure-dialog .mat-datepicker-toggle-default-icon {
  color: #41b6a6 !important;
}
::ng-deep #new-procedure-dialog  .cstm-datepicker-toggle .mat-focus-indicator {
  background-color: #fff;
}
::ng-deep #new-procedure-dialog .mat-tab-header-pagination-controls-enabled
  .mat-tab-header-pagination {
  color: #fff !important;
}

::ng-deep #new-procedure-dialog  mat-datepicker-toggle.mat-datepicker-toggle
  button.mat-icon-button
  span.mat-button-wrapper
  svg.mat-datepicker-toggle-default-icon
  > path {
  fill: #fff;
  stroke: rgb(224, 220, 220);
  stroke-linejoin: round;
  transition: d 0.2s;
}
::ng-deep #new-procedure-dialog  mat-datepicker-toggle.mat-datepicker-toggle
  button.mat-focus-indicator.mat-icon-button {
  background-color: #41b6a6;
  color: #fff;
  border-radius: 0%;
  margin-top: 0px;
  margin-bottom: -14px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: -10px;
  border: 1px solid #41b6a6;
  height: 3.1em !important;
  width: 3.1em !important;
  top: 0.06em;
}

::ng-deep #new-procedure-dialog span.mat-checkbox-label {
  margin-left: 10px !important;
  padding-top: 10px !important;
}


::ng-deep .medical-code-option .mat-option-text{
  white-space: normal !important;
  line-height: 20px !important;
  padding:5px 0;
  border: 0;
  //margin: 5px 0 5px 0;
}

::ng-deep .medical-code-option {
  height: fit-content !important;
  border: 0;
  //margin: 5px 0 5px 0;
}

.tooth-number-center{
  padding-top: 30px;
  padding-left: 60px;
}

.not-allowed{
  cursor:not-allowed;
}

@media (min-width: 920px){
  .modal-content {
    width: 740px;
    margin: 30px auto;
}
 }

/*mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button {
    background-color: #41b6a6;
    color: #fff;
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: -14px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: -10px;
    border: 1px solid #41b6a6;
    height: 3.1em !important;
    width: 3.1em !important;
    top: 0.06em;
}*/
/*mat-datepicker-toggle.mat-datepicker-toggle button.mat-icon-button span.mat-button-wrapper svg.mat-datepicker-toggle-default-icon > path {
    fill: #fff;
    stroke: #e0dcdc;
    stroke-linejoin: round;
    transition: d 0.2s;
}*/
