<ul class="patient-navigation">
  <li *ngFor="let breadcrumb of breadcrumbs">
    <a [class.patients-link]="!breadcrumb.ShowRemoveIcon" [class.patient-link]="breadcrumb.ShowRemoveIcon"
      [href]="'provider/patients'" *ngIf="breadcrumb.Name=='Patients' && !breadcrumb.ActiveId">
      <div class="patient-name" [class.bread-crumb-active]="breadcrumb.ActiveId">{{breadcrumb.Name}}</div>
    </a>
    <div *ngIf="breadcrumb.Name=='Patients' && breadcrumb.ActiveId">
      <div class="patient-name" style="line-height: 1.4; cursor:not-allowed; padding-top: 10px;" [class.bread-crumb-active]="breadcrumb.ActiveId">{{breadcrumb.Name}}</div>
    </div>
    <a [class.patients-link]="!breadcrumb.ShowRemoveIcon" [class.patient-link]="breadcrumb.ShowRemoveIcon"
      [href]='"provider/patientdetails?paramkey="+breadcrumb.EncKey' *ngIf="breadcrumb.Name!='Patients' && !breadcrumb.ActiveId">
      <div class="patient-name" [class.bread-crumb-active]="breadcrumb.ActiveId">{{breadcrumb.Name}}</div>
      <div class="patient-dob"  [class.bread-crumb-active]="breadcrumb.ActiveId">{{breadcrumb.DOB | date: 'MM/dd/yyyy'}}</div>
    </a>
    <div *ngIf="breadcrumb.Name!='Patients' && breadcrumb.ActiveId">
      <div class="patient-name" style="line-height: 1.4; cursor:not-allowed" [class.bread-crumb-active]="breadcrumb.ActiveId">{{breadcrumb.Name}}</div>
      <div class="patient-dob" style="line-height: 1.4; cursor:not-allowed"  [class.bread-crumb-active]="breadcrumb.ActiveId">{{breadcrumb.DOB | date: 'MM/dd/yyyy'}}</div>
    </div>
    <a class="remove-chart-patient patient-remove-link" *ngIf="breadcrumb.ShowRemoveIcon"
      (click)="removePatientBreadcrumbInView(breadcrumb.PatientId)">
      <i class="fa fa-times cross-icon"></i>
    </a>
  </li>
</ul>
