

ul.patient-navigation{
  padding-left: 0px;
  text-align: center;
  margin: unset;
}
ul.patient-navigation > li {
  display: inline-flex;
  padding: 10px 20px;
  list-style: none;
  float: left;
}
ul.patient-navigation > li:hover {
  cursor: pointer;
}
ul.patient-navigation > li > a {
  color: #4A4A4A;
  text-decoration: none;
  text-align: center;
}

ul.patient-navigation > li > a div{
  color: #4A4A4A;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}


ul.patient-navigation li a.remove-chart-patient {
  margin-top: 10px;
  margin-left: 10px;
}

.patients-link{
  padding-top: 10px
}

.bread-crumb-active{
  color:#41b6a6 !important;
}
.cross-icon{
  color: #41b6a6;
}
.cross-icon:hover{
  color: #05d5b9;
}
