@import "../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

#secure-questions-dialog.modal-dialog {
  margin: unset;
  max-width: 450px;
  max-height: 820px;
}

#secure-questions-dialog {
  .modal-content .modal-header {
    padding: 20px 16px;
  }

  .modal-content {
    border: 1px solid rgb(65 182 166) !important;
    background: #e9e9e9;
  }

  .modal-content {
    width: 400px !important;
    height: 430px !important;
  }

  .modal-header {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: #41b6a6;
    border-bottom: none;
    min-height: 50px;
    max-height: 50px;
  }

  .modal-body {
    background-attachment: fixed;
    background: #e9e9e9;
    height: 600px

  }

  .validation-inputs {
    align-items: center;
    margin: 5px 5px 0 5px;

    .control-label {
      white-space: nowrap;
    }
  }

  .info-message{
    width: 80%;
    margin: 10px auto;
    font-size: 12pt;
    white-space: pre-wrap;
  }
  .info-message-4{
    width: 60%;
    margin: 10px auto;
    font-size: 12pt;
    white-space: pre-wrap;
  }

  .info-message-2{
    width: 60%;
    margin: 10px auto;
    font-size: 10pt;
    white-space: pre-wrap;
  }

  .info-message-3{
    width: 60%;
    font-size: 12pt;
    font-weight: 700;
    white-space: pre;
  }


  .messages div{
    margin: 10px 0;
    color:#41b6a6;
    font-size: 16px;
  }

  .messages .error{
    color: red;
  }

  .form-control::placeholder {
    color: #74757e;
    font-size: 15px;
  }

  .alert-danger {
    color: #d64841;
    background-color: transparent;
    font-size: 15px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: -10px;
    margin-bottom: 15px;
  }

}

::ng-deep .app-change-password-dialog .mat-dialog-container {
  margin: unset;
  padding: unset;
}
