<nav class="navbar navbar-expand-lg bg-color">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="assets/images/logo.svg" alt="logo" class="img-fluid mx-3" />
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto menuactive">
      <li [class]="name !== 'dashboard' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/dashboard','dashboard')"
          routerLinkActive="router-link-active" class="nav-link active item-dashboard">Dashboard
        </a>
      </li>

     
      <li [class]="name !== 'appointment' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/appointment','appointment')"
          routerLinkActive="router-link-active" class="nav-link active item-appointments">Appointments
        </a>
      </li>
      <li [class]="name !== 'message' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/message','message')"
          routerLinkActive="router-link-active" class="nav-link active item-messages">Messages
        </a>
      </li>
      <li [class]="name !== 'health' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/health','health')"
          routerLinkActive="router-link-active" class="nav-link active item-myhealth text-nowrap">My Health
        </a>
      </li>
      <li [class]="name !== 'profile' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/profile','profile')"
          routerLinkActive="router-link-active" class="nav-link active item-myprofile text-nowrap">My Profile
        </a>
      </li>
      <li [class]="name !== 'document' ? 'nav-item': 'active nav-item'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/document','document')"
          routerLinkActive="router-link-active" class="nav-link active item-mydocuments text-nowrap">My Documents
        </a>
      </li>

    </ul>
  </div>
  <ul class="navbar-nav pull-right">
    <li [matMenuTriggerFor]="menu" class="nav-item nav-top-right">
      <a class="nav-link dropdown-toggle" id="UserDropdown">
        <span class="profile-text">{{ this.user.FirstName}}&nbsp;&nbsp;{{this.user.LastName}}</span>
        <img class="img-xs rounded-circle header-avatar mx-1" src="assets/images/header-dropdown-img.svg">
      </a>
      <mat-menu #menu="matMenu" [hasBackdrop]="true">
        <div class="list">
    <li class="li-menu" routerLink="/patient/profile">
      <a class="nav-li">My Profile</a>
    </li>
    <li class="li-menu" routerLink="/patient/health">
      <a class="nav-li">My Health</a>
    </li>
    <li class="li-menu border-bottom" routerLink="/patient/document">
      <a class="nav-li">Activity Log</a>
    </li>
    <li class="li-menu" (click)="logout()">
      <a class="nav-li py-2">Log out</a>
    </li>
    </div>
    </mat-menu>
    </li>
  </ul>
</nav>
