<!-- <div *ngIf="loaderService?.isLoading | async" class="loader-container">
  <mat-progress-bar [value]="loaderService?.progressValue"></mat-progress-bar>
  <div id="pause" class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg bg-color">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"><span class="navbar-toggler-icon"><i class="fa fa-bars text-white fs-2"></i></span></span>
  </button>
  <img src="assets/images/logo.svg" alt="logo" class="img-fluid mx-3" />
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto menuactive">
      <li class="nav-item" [class.active]="viewModel.View == 'dashboard'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/dashboard','dashboard')"
          routerLinkActive="router-link-active" class="nav-link active item-dashboard">Dashboard
        </a>
      </li>
      <li class="nav-item" [class.active]="viewModel.View == 'appointment'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/appointment','appointment')"
          routerLinkActive="router-link-active" class="nav-link active item-appointments">Appointments
        </a>
      </li>
      <li class="nav-item" [class.active]="viewModel.View == 'message'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/message','message')"
          routerLinkActive="router-link-active" class="nav-link active item-messages">Messages
        </a>
        <span class="messages-count" style="margin-left: 10px !important;
        margin-right: 2px !important;">{{unreadMails}}</span>
      </li>
      <li class="nav-item" [class.active]="viewModel.View == 'health'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/health','health')"
          routerLinkActive="router-link-active" class="nav-link active item-myhealth text-nowrap">My Health
        </a>
      </li>
      <li class="nav-item" [class.active]="viewModel.View == 'profile'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/profile','profile')"
          routerLinkActive="router-link-active" class="nav-link active item-myprofile text-nowrap">My Profile
        </a>
      </li>
      <li class="nav-item" [class.active]="viewModel.View == 'document'">
        <a href="javascript:void(0)" (click)="onChangeBreadCrum('patient/document','document')"
          routerLinkActive="router-link-active" class="nav-link active item-mydocuments text-nowrap">My Documents
        </a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav pull-right patient-nav-menu m-auto m-lg-0">
    <li [matMenuTriggerFor]="menu" class="nav-item nav-top-right">
      <a class="nav-link dropdown-toggle" id="UserDropdown">
        <span class="profile-text">{{LoggedInUser}}</span>
        <img class="img-xs rounded-circle header-avatar mx-1" src="assets/images/header-dropdown-img.svg">
      </a>
      <mat-menu class="mat-menu-panel-normal" dropmenuuser #menu="matMenu" [hasBackdrop]="true" >
        <div class="list"  id="dropmenu-user" [style.width.px]="menuwidth" style="border-top: 1px solid #86c1bb;overflow: hidden;" (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()">
    <li class="li-menu" [class.active]="viewModel.View == 'profile'" (click)="patientSubView('profile')">
      <a class="nav-li">My Profile</a>
    </li>
    <li class="li-menu" [class.active]="viewModel.View == 'health'" (click)="patientSubView('health')">
      <a class="nav-li">My Health</a>
    </li>
    <li class="li-menu border-bottom" [class.active]="viewModel.View == 'activitylog'" (click)="patientSubView('activitylog')">
      <a class="nav-li">Activity Log</a>
    </li>
    <li class="li-menu" (click)="logout()">
      <a class="nav-li py-2">Log out</a>
    </li>
    </div>
    </mat-menu>
    </li>
  </ul>
</nav>
