<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <img src="assets/images/logo.svg" alt="logo" class="img-fluid mx-3" />

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="patient/dashboard" class="nav-link item-dashboard">Dashboard
          <!-- <i class="fa fa-pie-chart" aria-hidden="true"></i>
          <span class="d-flex">Dashboard</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="patient/appointment" class="nav-link item-appointments">Appointments
          <!-- <i class="fa fa fa-calendar-o" aria-hidden="true"></i>
          <span class="d-flex">Appointments</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="patient/message" class="nav-link item-messages">Messages
          <!-- <i class="fa fa-comments-o" aria-hidden="true"></i>
          <span class="d-flex">Messages</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="patient/health" class="nav-link item-myhealth">My Health
          <!-- <i class="fa fa-heart-o" aria-hidden="true"></i>
          <span class="d-flex">My Health</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="patient/profile" class="nav-link item-myprofile">My Profile
          <!-- <i class="fa fa-user-o" aria-hidden="true"></i>
          <span class="d-flex">My Profile</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a href="patient/document" class="nav-link item-mydocuments">My Documents
          <!-- <i class="fa fa fa-file-text-o" aria-hidden="true"></i>
          <span class="d-flex">My Documents</span> -->
        </a>
      </li>
    </ul>
  </div>

</nav>
