<div class="modal-dialog modal-xl" id="form-message">
  <div class="modal-content modal-cust-content">
    <div class="modal-header model-cust-heading">
      <p class="modal-title modal-cust-title">{{Title}} Message</p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
        x
      </span>
    </div>
    <div class="modal-body model-cust-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="form-group"></div>
            <div class="input-group mb-3">
              <span class="input-group-addon labelclass form-control"> To :</span>
              <input matInput #searchpatient class="form-control inputclass" placeholder="Search To Address" type="text"
                id="searchpatient" name="searchpatient" [matAutocomplete]="serachpatient"
                [disabled]="diabledPatientSearch" [readonly]="diabledPatientSearch" [(ngModel)]="this.messageDialogData.Messages.toAddress" />
              <mat-autocomplete [displayWith]="displayWithPatientSearch" #serachpatient="matAutocomplete"
                (optionSelected)="onPatientSelected($event)">
                <mat-option *ngIf="isLoading">Loading ...</mat-option>
                <mat-option *ngFor="let option of filteredPatients | async" [value]="option"
                  class="patient-serach-option">
                  {{option.Name}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="form-group"></div>
            <div class="input-group mb-3">
              <span class="input-group-addon labelclass form-control">From:</span>
              <input matInput placeholder="" disabled class="form-control inputclass"
                [(ngModel)]="user.FirstName + user.LastName">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-12">
              <label for="subject" class="form-label" style="margin-bottom: unset;">Subject</label>
              <input matInput placeholder="" class="form-control inputclass"
                [(ngModel)]="messageDialogData.Messages.Subject">

            </div>

            <div class="mt-2 col-md-12" *ngIf="messageDialogData.Messages.EmailMessageId!=null">
              <label for="message" class="form-label">Reply/Forward Message</label>
              <textarea matInput placeholder="" class="form-control textareaclass inputclass"
                [(ngModel)]="messageDialogData.Messages.ReplyMessage"></textarea>
            </div>
            <div class="mt-2 col-md-12">
              <label for="message" class="form-label" style="margin-bottom: unset;">Message</label>
              <textarea matInput placeholder="" class="form-control textareaclass inputclass col-md-12 rows-5" rows="15"
                [(ngModel)]="messageDialogData.Messages.Body" [disabled]="diabledPatientSearch"
                [readonly]="diabledPatientSearch"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 file_upload_glyph">
          <div class="form-group">
            <div class="input-group mt-4">
              <span type="button" class="btn btn-green col-md-4 ">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div>
        <div class="elements">
          <div class="col-lg-4 ">
            <mat-checkbox class="col-lg-12 col-md-12 example-margin" [(ngModel)]="messageDialogData.Messages.Urgent">
              <mat-lable class="custom-control-label">URGENT</mat-lable>
            </mat-checkbox>
          </div>
        </div>

        <div class="elements">
          <button type="button" class="btn btn-green btn-msgsave col-md-4 mx-2" data-bs-dismiss="modal"
            (click)="InsertMessage(false,true)">Send</button>
          <button type="button" class="btn btn-green btn-msgsave col-md-4" (click)="InsertMessage(true,false)">Save As
            Draft</button>
          <button type="button" class="btn btn-green btn-msgsave col-md-4" (click)="cancel()">Cancel</button>
        </div>
      </div>



    </div>
  </div>
</div>
