.border-input{
  border-color: #dedede;
  background-color: #f5f5f5;
}

input::-webkit-input-placeholder {
  color: #141414 !important;
  font-size: 100%;
  font-family: sans-serif;
}
.reg-button {
  background-color: #fff;
  border: 1px solid #41b6a6;
  height: 50px;
  color: #41b6a6;
  border-radius: 3px;
  width: auto;
  margin-bottom: 5%;
  // margin-left: 82.2%;
}
.reg-button:hover {
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #fff;
}
.fa-paperclip:hover{
  color: #fff;
  background-color: #41b6a6;

}
.input-group-append, .input-group-prepend {
  background: color(white);
  color: #c9c8c8;
  width: auto;
  border: none;
  background-color: #d0d2db;
}
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: red;
    color: red;
  }
}
::ng-deep .example-margin {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: RED;
    background-color: #eeeaea;
    border-width: 1px;
    border-style:solid;
    width: 19px;
    height: 19px;
    margin-left: 0%;
  }
}
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: red;
  }
}
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: red;

  }
}
::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 242, 242);
    border-radius: 20% !important ;
    border-color: red;
    height: 19px;
    width: 19px;
  }
  .mat-checkbox-checkmark-path {
    stroke: red !important;
  }
}.fa{
  font-size: x-large;
  margin-right: 3%;
  color: inherit;
  }
  // .i{
  //   display: inline-block;
  //   font: normal normal normal 14px/1 FontAwesome;
  //   text-rendering: auto;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
  //   color: #fff;

  // }
  .ser:hover {
    border: 1px solid #41b6a6;
    border-radius: 5px;
  }
  .ser{
    border-color: #dedede;
    background-color: #f5f5f5;
  }
  .btn.btn-default {
    color: #41b6a6;
    border-color: #41b6a6;
  }
  .serch
  {
    color: #fff;
    margin-left: 41%;
    margin-top: 7%;
  }
  .custom-control-label{
    color: red;
    margin-left: 2%;
    font-weight: 400;
  }
  form .form-control:focus{
    border-color: #41b6a6;
  }
  form .form-control:hover{
    border-color: #41b6a6;
  }

.form-control {
  line-height: 1.7;
}

.input-group-text{
  border: none;
  font-size: 0.95rem;
}






.modal-dialog {
  margin: 0 !important;
}
.modal-body {
  max-height: calc(90vh - 180px);


}
