@import"../../../assets/common.scss";

input::-webkit-input-placeholder {
  color: #74757e !important;
  font-size: 100%;
  font-family: sans-serif;
}
.btn-green {
  width: 78px;
  height: 43px;
  padding: 0;
  line-height: 2.7;
  margin-right: 12px;
}
.labelclass{
  max-width: 67px !important;
  // height: 20px !important;
}

.modal-header .modal-title {

  font-size: 16px !important;
}
.modal-header {

  padding: 57px 16px 16px 5px !important;
}
::ng-deep .example-margin {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: red !important;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    // background-color: rgb(243, 242, 242);
    border-color: red !important;

  }
  .mat-checkbox-checkmark-path {
    stroke: red !important;
    border-color: red !important;
  }
}
.fa-paperclip{
  font-size: x-large;
  margin-right: 3%;
  color: inherit;
  margin-top: 10%;
  }
  .fa-paperclip:hover{
    color: #fff;
    background-color: #41b6a6;
  }

  .fa-search
  {
    font-size: x-large;
    color: #fff;
    margin-left: 3%;
    margin-top: -36%;
  }
  .custom-control-label{
    color: red;
    margin-left: 2%;
    font-weight: 400;
  }
  .not-allowed{
    cursor: not-allowed;
  }
  input[readonly] {
    opacity: 0.5;
    cursor: not-allowed;

  }
  .modal-dialog {
    margin-top: calc(-24px + -24px) !important;
  }
