<div class="modal-dialog modal-xl">
  <div class="modal-content modal-cust-content">
    <div class="modal-header model-cust-heading">
      <p class="modal-title modal-cust-title">New Message</p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()">
        x
      </span>
    </div>
    <div class="modal-body model-cust-body">
      <form class="pt-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="form-group"></div>
              <div class="input-group mb-3">
                  <span class="input-group-addon labelclass form-control">To:</span>
                  <mat-form-field class="procedure-form-field" appearance="outline" [ngStyle]="{'width':'90%'}">
                    <input matInput #searchProcedureCode class="form-control" placeholder="Search" type="text"
                      id="searchProcedureCode" name="searchProcedureCode" [matAutocomplete]="procedureCode" />
                    <mat-autocomplete [displayWith]="displayWith" #procedureCode="matAutocomplete">
                      <mat-option *ngFor="let option of filterProcedures" [value]="option"
                        class="medical-code-option">
                        {{option.Title|titlecase}} - {{option.FullName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <span class="input-group-addon labelclass form-control"
                    id="find-messages-button"><i class="fa fa-search"></i></span>
              </div>

              <div class="form-group"></div>
              <div class="input-group mb-3">
                  <span class="input-group-addon labelclass form-control">From:</span>
                <input type="text" class="form-control inputclass" readonly aria-label="Amount" [(ngModel)]="user.FirstName" id="FirstName" name="FirstName"
                #FirstName="ngModel">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div>
                <label for="subject" class="form-label ">Subject</label>
                <input type="input" class="form-control inputclass " id="Subject" placeholder="Subject :"
                  aria-describedby="subjectlHelp">
              </div>
              <div class="mt-2">
                <label for="message" class="form-label">Message</label>
                <input type="input" class="form-control inputclass" id="message" placeholder="Message :"
                  aria-describedby="messageHelp">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 file_upload_glyph">
            <div class="form-group">
              <div class="input-group mt-4">
                <span type="button" class="btn btn-green col-md-4 ">
                  <i class="fa fa-paperclip" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4 ">
            <div class="col-lg-4 ">
              <mat-checkbox class="col-lg-12 col-md-12 example-margin">
                <mat-lable class="custom-control-label">URGENT</mat-lable>
              </mat-checkbox>
            </div>
          </div>
        </div>

        <div class="row" style="float: right;">
          <button type="button" class="btn btn-green col-md-4 mx-2" data-bs-dismiss="modal"
           >Save</button>
          <button type="button"  (click)="cancel()" class="btn btn-green col-md-4">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>
