.container-fluid {
  width: 100%;
  border: 1px solid #41b6a6;
  border-bottom: none;
}
// ::ng-deep .mat-icon-button[disabled] {
//   color: white !important;
// }

.w3-button {
  min-width: 10px !important;
  min-height: 10px !important;
  border: 1px solid white !important;
  padding: 0px 5px !important;
  color: #fff !important;
}
.w3-button:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}
// ::ng-deep
//   .mat-select-placeholder:hover
//   .mat-form-field-appearance-outline:hover {
//   color: red !important;
// }
.example-margin {
  text-align: center !important;
}
.color {
  background-color: #fff !important;
}
.table {
  width: 100% !important;
}
.top-header {
  background-color: #41b6a6;
}
.top-block {
  font-size: 16px !important;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: 'SF UI Text Regular' !important;
}
.mr-md-2 {
  margin-right: -0.5rem !important;
}
.btn-border {
  border-color: #fff;
}
// .mat-table {
//   border: 1px solid #41b6a6;
// }
.margin-bottom {
  margin-bottom: 15px !important;
}
.content-block {
  min-height: 624px;
  background-color: #fff;
}
.row {
  border-bottom: none;
  max-height: 100%;
  // max-width: 100%;
}
.popupdata {
  border: none;
}
// checkbox

::ng-deep .example-margin {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border-width: 1px;
    border-style: solid;
    width: 20px;
    height: 20px;
  }
}

// .example-margin {
//   margin-left: 120px;
// }
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}

// ::ng-deep
//   .mat-form-field-appearance-outline:not(.no-bordr)
//   .mat-form-field-outline {
//   background-color: white;
//   border-radius: 2px !important;
//   border: 1px solid #41b6a6 !important;
//   height: 44px;
// }

// ::ng-deep .mat-form-field-infix {
//   padding: 0.5em 0 0.5em 0 !important;
// }

/* Dropdown */

::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-form-field-outline,
.hover.mat-form-field-appearance-outline:active .mat-form-field-outline {
  background: #41b6a6 !important;
  border: none !important;
}

// ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
//   background-color: #41b6a6 !important;
//   color: #fff !important;
// }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  border-radius: 6px;
  border: 1px solid #41b6a6 !important;
}
// ::ng-deep .mat-form-field-appearance-standard .mat-form-field-standard {
//   background-color: #fff !important;
//   border-radius: 6px;
//   border: 1px solid #41b6a6 !important;
// }
.mat-option.mat-active {
  background: #e5f8f5 !important;
}
::ng-deep .mat-select-arrow {
  color: #4d4b4b !important;
}
::ng-deep .mat-select-placeholder {
  color: #4d4b4b !important;
}
::ng-deep .matInput-placeholder {
  color: #4d4b4b !important;
}
.mat-form-field-wrapper {
  height: 34px !important;
}
::ng-deep .hover.mat-form-field-appearance-outline:hover .mat-select-arrow {
  color: white !important;
}
::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-select-placeholder {
  color: white !important;
}
::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-select-value-text {
  color: white !important;
}
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fff !important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #fff !important;
}

// mat-input error outline color
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #fff !important;
  opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: black !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #fff !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: #fff(0, 0, 0, 0.6) !important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #fff !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .mat-select-panel {
  min-width: calc(100% + 22px) !important;
  max-width: calc(min-width) !important;
  margin-left: 5px !important;
}
.mat-option {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}
.mat-option:last-child {
  border-right: 1px solid #41b6a6;
}
.mat-option:last-child {
  border-bottom: 1px solid #41b6a6;
}
.mat-option:hover {
  background-color: #e5f8f5;
}
.mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
  text-shadow: black;
}

/* Mat Calendar icon  */

::ng-deep
  .mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon-button
  .mat-datepicker-toggle-default-icon {
  color: #41b6a6;
}

.mat-row:hover {
  a {
    cursor: pointer;
    text-decoration: underline;
    color: #41b6a6;
  }
}
a {
  color: rgba(0, 0, 0, 0.87);
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #41b6a6 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #fff !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-width: 5px;
  border-color: #41b6a6 !important; /*outer ring color change*/
}

// @media screen and (max-width: 800px) {
//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     left: -14px !important;
//     right: -14px !important;
//   }
// }

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.erx {
  min-height: 350px;
  // border-bottom-width: 1px;
  // border-bottom-style: solid;
  border-color: #41b6a6;
}
.report:hover {
  text-decoration: underline #41b6a6;
  color: #41b6a6;
  cursor: pointer;
}

// @media (max-width: 1500px) {
//   .mat-table {
//     width: 1500px;
//     overflow-y: hidden !important;
//     // overflow-x: auto !important;
//   }
// }
.grid-margin {
  border-width: 3px;
  border-style: solid;
  border-color: #41b6a6;
  overflow-x: auto;
}
.mat-header-cell {
  color: white;
  border-right: 1px solid white;
  //border-left: 1px solid white;

  max-height: 54px;
  // padding-top: 25px;
}
.submenu {
  border-right: 1px solid #41b6a6;

  //height: 54px;
  padding-top: 25px;
}
.mat-header-row {
  background-color: #41b6a6;
  border-right-width: 1px;
  border-right-style: solid;
  // border-right-color: white;
}
.mat-row:hover {
  background-color: #e5f8f5;
}
.mat-row,
.mat-header-row {
  display: flex;
  // border-bottom-width: 1px;
  // border-bottom-style: solid;
  // border-color: #41b6a6;

  align-items: center;
  height: 53px;
  font-family: serif;
}
.menu:hover {
  background-color: rgb(227, 238, 248);
}
.menu {
  background-color: rgb(243, 180, 144);
  border-bottom-color: rgb(243, 180, 144);
}
.stage3table,
.stage2table {
  border-left: 1px solid #41b6a6;
  //border-right: 1px solid #41b6a6;
}
::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 242, 242);
    border-radius: 20% !important ;
    border-color: rgb(151, 150, 150);
    height: 19px;
    width: 19px;
  }
  .mat-checkbox-checkmark-path {
    stroke: grey !important;
  }
}
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}
::ng-deep .example-margin {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border-width: 2px;
    border-style: solid;
    width: 19px;
    height: 19px;
  }
}
.mat-cell {
  border-bottom: #41b6a6 1px solid;
  // background-color: #fff !important;
}

.mat-cell,
.mat-header-cell {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 12px 20px;
  // vertical-align: middle;
  height: 53px;
  //height: 54px;
  border-bottom: #41b6a6 1px solid;
}
.stage3 {
  width: 100%;
  overflow-x: auto;
}

.mat-checkbox {
  font-weight: bold;
}

.modal-content {
  border-color: 1pxsolid #41b6a6;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  max-height: 600px;
  max-width: 1300px;
  margin: 0 auto;

  // opacity:50 !important;
}

.modal-body {
  overflow-y: auto !important;
  border: 1px solid #41b6a6;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
button {
  background-color: #fff;
  border: 1px solid #41b6a6;
  height: 45px;
  color: #41b6a6;
  border-radius: 3px;
}
button:hover {
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #fff;
}

.content-block {
  max-height: 624px;
  background-color: #fff;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
mat-header-cell {
  // justify-content: center;
  background-color: #41b6a6 !important;
  width: 100%;
  max-height: 54px;
  text-align: left !important;
  display: block;
  align-self: stretch !important;
}
mat-cell {
  border-right: 1px solid #41b6a6;
  max-height: 80px;
  border-bottom: 1px solid #41b6a6;
  // background-color: #fff !important;

  // height: 80px;
  // justify-content: center;
  text-align: left !important;
  background-color: white !important;
  display: block;
  align-self: stretch !important;
}
mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 18%;
}
mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
  flex: 0 0 10%;
}
mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
  flex: 0 0 10%;
}
mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
  flex: 0 0 8%;
}
mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
  flex: 0 0 10%;
}
mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
  flex: 0 0 10%;
}
mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
  flex: 0 0 10%;
}
mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
  flex: 0 0 15%;
}
mat-cell:nth-child(9),
mat-header-cell:nth-child(9) {
  flex: 0 0 8%;
}
mat-cell:nth-child(10),
mat-header-cell:nth-child(10) {
  flex: 0 0 10%;
}
mat-cell:nth-child(11),
mat-header-cell:nth-child(11) {
  flex: 0 0 12%;
}
mat-cell:nth-child(12),
mat-header-cell:nth-child(12) {
  flex: 0 0 15%;
}
mat-cell:nth-child(13),
mat-header-cell:nth-child(13) {
  flex: 0 0 10%;
}
mat-cell:nth-child(14),
mat-header-cell:nth-child(14) {
  flex: 0 0 13%;
}
mat-cell:nth-child(15),
mat-header-cell:nth-child(15) {
  flex: 0 0 13%;
}
mat-cell:nth-child(16),
mat-header-cell:nth-child(16) {
  flex: 0 0 10%;
}

.example-table-container {
  position: relative;
  overflow: auto;
  // max-width: 3500px !important;
  border: #41b6a6 1px solid;
  text-align: center;
  //overflow: hidden;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
.panel {
  overflow-y: scroll;
  max-height: 500px;
}
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

.body {
  background-color: rgb(247, 245, 245);
  border: 3px solid rgb(226, 226, 226) !important;
  border-radius: 6px;
}
mat-expansion-panel-header {
  background-color: rgb(247, 245, 245);
  border: 3px solid rgb(226, 226, 226) !important;
}
// .popup {
//   text-align: center;
//   vertical-align: center;
//   padding: 16px 20px;
//   border-bottom: none !important;
// }

// @media (max-width: 768px) {
//   .example-container {
//     max-height: 100%;
//     max-width: 100%;
//     overflow-x: scroll;
//   }
//   .mat-table {
//     width: 992px;
//     border: 1px solid #41b6a6;
//   }
//   .mat-cell {
//     max-height: 100% !important;
//     max-width: 100% !important;
//   }
// }
// @media (max-width: 800px) {
//   .example-container {
//     max-height: 100%;
//     max-width: 800px;
//     overflow-x: scroll;
//   }
//   .mat-table {
//     width: 800px;
//     border: 1px solid #41b6a6;
//   }
//   .mat-cell {
//     max-height: 100% !important;
//     max-width: 100% !important;
//   }
// }
@media (max-width: 1350px) {
  .example-container {
    max-width: 1200px;
    overflow-x: scroll;
  }
  .mat-table {
    width: 1350px;
    // border: 1px solid #41b6a6;
  }
}

// ::ng-deep
//   .mat-form-field-appearance-outline.bg-crl1:hover
//   .mat-form-field-outline:hover {
//   background-color: #41b6a6 !important;
// }

table {
  border-collapse: collapse;
}

td {
  padding-top: 1em;
  padding-bottom: 1em;
}
// @media (max-width: 768px) {

//   tbody {
//     width: 768px;
//     overflow-x: scroll !important;
//   }
// }
.modal-content {
  border-color: 1pxsolid #41b6a6;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  max-height: 600px;
  max-width: 1300px;
  margin: 0 auto;
  // opacity:50 !important;
}
#sortpointer th {
  cursor: pointer;
}
// .scticky-pos{
//   position: sticky;
//   -webkit-position: sticky;
//   top: 86px;
// }
// .fxd-heder{
//   height: 318px;
//   overflow-x: hidden;
//   overflow-y: auto;
// }
// .stage{
//   height: 318px;

//   overflow-y: auto;
// }
// .patient{
//   height: 107px;

//   overflow-y: auto;
// }
// .encounterandproblem{
//   height: 207px;

//   overflow-y: auto;
// }
// @media screen and (min-height: 207px) {
//   .encounterandproblem{
//     height: 487pxpx;

//     overflow-y: auto;
//   }

// }

// @media screen and (max-height: 207px) {
//   .encounterandproblem{
//     height: 487px;

//     overflow-y: auto;
//   }
// }

//   @media screen and (min-height: 487px) {
//     .cqm{
//       height: 487px;

//       overflow-y: auto;
//     }

//   }

//   @media screen and (max-height: 487px) {
//     .cqm{
//       height: 487px;

//       overflow-y: auto;
//     }
//   }

@media screen and (min-width: 920px) {
  .scroll-container {
    position: absolute;
    top: 81px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 1rem;
  }

  .scroll-section {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    min-height: 0;
    margin-bottom: 45px;
  }

  .scrollable-content {
    margin-left: 3px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
  }
}
