<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-4 mb-3">
      <app-admin-breadcrum></app-admin-breadcrum>
    </div>

    <div class="col-lg-6 col-md-6 col-12">
      <div class="card card-design">
        <div class="card-body">
          <h2 class="card-title text-uppercase"><b class="fw-bol fs-6">Site Visit</b></h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 ">
      <div class="card card-design">
        <div class="card-body">
          <h1 class="card-title text-uppercase"><b class="fw-bold fs-6">Recent Activities</b></h1>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mt-3">
      <div class="card card-design">
        <div class="card-body">
          <h1 class="card-title text-uppercase"><b class="fw-bol fs-6">Billing Summary</b></h1>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mx-2">
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Active" id="Active" [checked]="filterQueryParams.Active"
          (change)="StateChange($event)" /> <!-- (change)="FilterProvider('ActiveStatus','Active')"-->
        <label class="form-check-label" for="Active">Active Providers</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Suspended" id="Suspended"
          [checked]="!filterQueryParams.Active" (change)="StateChange($event)" />
        <!--(change)="FilterProvider('ActiveStatus','Suspended')"-->
        <label class="form-check-label" for="Suspended">Inactive Providers</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Paid" id="Paid"
          [checked]="filterQueryParams.Paid!= null && filterQueryParams.Paid" (change)="StateChange($event)" />
        <!--(change)="FilterProvider('TrailStatus','Paid')"-->
        <label class="form-check-label" for="Paid">Paid Providers</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Trial" id="Trial"
          [checked]="filterQueryParams.Paid != null && !filterQueryParams.Paid" (change)="StateChange($event)" />
        <!--(change)="FilterProvider('TrailStatus','Trial')"-->
        <label class="form-check-label" for="Trial">Trial Providers</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-3 mb-3">
      <div class="card card-border">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-4 col-sm-5 mt-3">
              <h1 class="card-title text-uppercase"><b class="fw-bol fs-6">Users</b></h1>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-8 ">
              <div class="row pt-0 ">
                <div class="col-xl-1 col-lg-1 col-md-12 col-12  mb-3 col-btn " style="display: flex;
                padding-right: 70px;">
                  <div style="margin-right: 30px;margin-top: 8px;">Practices:</div>
                </div><div class="col-xl-4 col-lg-4 col-md-12 col-12  mb-3 col-btn ">
                  <select placeholder="Select one clinic" id="clinics" name="clinics" class="form-select sel-clinics"
                    [(ngModel)]="ClinicId" #clinic="ngModel" (change)="FilterProviders()" >
                    <option value="reset" class="reset-option" >Reset Filter</option>
                    <option *ngFor="let clinic of Clinics" [value]="clinic.ClinicId">
                      {{clinic.ClinicName}}
                    </option>
                  </select>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-12  mb-3 col-btn">
                  <button type="button" class="common-button-style button-style text-nowrap btn pull-right ml-3"
                    (click)="openComponentDialog(UserDialogComponent,null,ActionTypes.add)" style="height: 36px;
                    border: 1px solid #dbdcde;">Add New User</button>
                </div>
                <div class="search-box col-xl-4 col-lg-4 col-md-12 col-12">
                  <input type="text" placeholder="Search Providers Or Practices" matInput style="height: 36px;
                  border: 1px solid #dbdcde;"
                    [(ngModel)]="filterQueryParams.SearchTerm" (keyup)="StateChange($event)">
                </div>
              </div>
            </div>


            <mat-progress-bar mode="indeterminate" bufferValue="20" value=100
              *ngIf="dialogIsLoading || disableSwitchUser"></mat-progress-bar>
            <div class="col-lg-12 col-md-12 col-12 col-sm-12 ">
              <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-12 col-sm-12 ">
              <div class="table-responsive">
                <table class="table">
                  <thead class="th-border">
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th class="th-col">Practice Name</th>
                      <th>Phone</th>
                      <th scope="row" width="20%">Address</th>
                      <th class="text-center th-col-width">Trial/Paid Days</th>
                      <th>Toggle Duo Auth</th>
                      <th>Active/Inactive</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="!disableSwitchUser">
                    <tr
                      *ngFor="let item of filtededProviders | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                      <td class="tbl-col" [disabled]="item.EmailVerifyStatus=='Unverified'">
                        <span class="my-2"> {{item.ProviderName}}, {{item.Degree}}</span>
                        <div class="d-flex justify-content-start my-2">
                          <button (click)="switchUser(item)" [class.td-btn-style]="item.EmailVerifyStatus!='Unverified'"
                            [disabled]="item.EmailVerifyStatus=='Unverified' || disableSwitchUser">Login</button>
                          <button class="mx-2" (click)="primaryProviderId(item)"
                            [class.td-btn-style]="item.EmailVerifyStatus!='Unverified'"
                            [disabled]="item.EmailVerifyStatus=='Unverified'">{{item.PrimaryProvider}}</button>
                        </div>
                      </td>
                      <td [disabled]="item.EmailVerifyStatus=='Unverified'">{{item.Email}}</td>
                      <td [disabled]="item.EmailVerifyStatus=='Unverified'">{{item.ClinicName}}</td>
                      <td [disabled]="item.EmailVerifyStatus=='Unverified'">{{item.PrimaryPhone}}</td>
                      <td [disabled]="item.EmailVerifyStatus=='Unverified'">{{item.Address}}</td>
                      <td class="td-col-width">
                        <div class="d-flex justify-content-between">
                          <div [ngClass]="!item.Paid?'text-mute':'text-black'">Trial ({{item.TrailDays}} d left)</div>
                          <div class="form-check form-switch mx-3 ">
                            <input class="form-check-input toggle-btn" type="checkbox" [checked]="item.Paid"
                              (click)="changeTraiPaidStatus(item,$event)" id="flexSwitchCheckDefault"
                              [disabled]="item.EmailVerifyStatus=='Unverified'">
                          </div>
                          <div [ngClass]="!item.Paid?'text-black':'text-mute'" class="mr-3">{{item.Trial}}</div>
                        </div>
                      </td>
                      <td><button type="button" *ngIf="item.EnableTwofactor" (click)="ToggleDuo(item)"
                        [disabled]="item.EmailVerifyStatus=='Unverified'"
                        [class.prov-button-normal]="item.EmailVerifyStatus!='Unverified'"
                          [class.prov-button]="item.EmailVerifyStatus =='Unverified'"
                          >Disable Duo</button>
                        <button type="button" *ngIf="!item.EnableTwofactor" (click)="ToggleDuo(item)"
                        [disabled]="item.EmailVerifyStatus=='Unverified'"
                        [class.prov-button-normal]="item.EmailVerifyStatus!='Unverified'"
                          [class.prov-button]="item.EmailVerifyStatus =='Unverified'"
                          >Enable Duo</button></td>
                      <td class="text-center">
                        <button class="btn-activate" (click)="toggleProviderStatus(item)"
                          [class.td-btn-style]="item.EmailVerifyStatus!='Unverified'"
                          [disabled]="item.EmailVerifyStatus=='Unverified'">{{item.Status ? "Suspend"
                          : "Activate"}}</button>
                      </td>
                      <td class="td-width text-success">{{item.EmailVerifyStatus}}</td>
                      <td class="td-col-width"><button type="button"
                          [class.prov-button-normal]="item.EmailVerifyStatus!='Unverified'"
                          [class.prov-button]="item.EmailVerifyStatus =='Unverified'"
                          [disabled]="item.EmailVerifyStatus=='Unverified'"
                          (click)="openComponentDialog(UserDialogComponent,item,ActionTypes.view)">View</button></td>
                      <td class="td-col-width"><button type="button"
                          [class.prov-button-normal]="item.EmailVerifyStatus !='Unverified' && item.ResetTwofactor"
                          (click)="resetMFA(item)"
                          [class.prov-button]="item.EmailVerifyStatus=='Unverified' || !item.ResetTwofactor"
                          [disabled]="item.EmailVerifyStatus=='Unverified' || !item.ResetTwofactor">Reset
                          MFA</button></td>
                      <td><button class="btn-lock" (click)="updateUserlock(item)"
                          [class.td-btn-style]="item.EmailVerifyStatus!='Unverified'"
                          [disabled]="item.EmailVerifyStatus=='Unverified'">{{item.Locked ? "Unlock"
                          : "Lock"}}</button></td>
                    </tr>
                  </tbody>
                </table>

                <div *ngIf="providerListBehaviour | async">
                  <div class="text-center Helvetica-sans-serif-medium norecordfound text" style="color: red;">No Data
                    Found.</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filtededProviders!= null && filtededProviders.length > 0">
      <div class="d-flex justify-content-end my-3">
        <nav aria-label="Page navigation">
          <ul class="pagination mt-4">
            <ngb-pagination [pageSize]="pageSize" [collectionSize]="filtededProviders.length" [maxSize]="9"
              [(page)]="page" aria-label="Default pagination">
            </ngb-pagination>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<!-- User Disable Modal -->
<div class="modal fade " id="resetMFAModal" tabindex="-1" role="dialog" aria-labelledby="resetMFAModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title">User Disable</h5>
      </div>
      <hr class="modal-hr">
      <div class="modal-body mb-2 mt-1">
        <p>Are you sure, you'd like to disable Multi Factor Authentication Usability Test Doctor ?</p>

        <input matCheckbox #chkresetMFA class="form-check-input mt" type="checkbox" data-toggle='btnResetMFA' />
        <label class="form-check-label" for="Active">Yes, Please Disable.</label>

      </div>
      <div class="modal-footer model-cust-footer mt-3">
        <button id="btnResetMFA" type="button" class="save-button col-md-4" (click)="resetMFA(this)">Disable
          MFA</button>
        <button type="button" data-bs-dismiss="modal" class="cancel-button col-md-4" aria-label="Close">No, thank
          you!</button>
      </div>
    </div>
  </div>
</div>

<!-- Provider Primary/Removed Access Modal -->
<div class="modal" tabindex="-1" role="dialog" id="ChangePrimaryProvider" [ngStyle]="{'display':primaryProviderModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content lockedModal">
      <div class="modal-header">
        <h4 class="title">{{this.SelectedProvider.IsPrimaryProvider?'Remove as Primary':'Assign as Primary'}}</h4>
      </div>
      <hr class="modal-hr">
      <div class="modal-body mb-2 mt-1">
        <p>You sure you want to {{this.SelectedProvider.IsPrimaryProvider?'remove':'assign'}} this user as primary?</p>
      </div>
      <div class="modal-footer model-cust-footer mt-3">
        <button type="button" class="save-button col-md-4" (click)="providerPrimaryAccess()"
          [class.remove-btn]="message =='remove'">
          {{this.SelectedProvider.IsPrimaryProvider?'Remove as Primary':'Assign as Primary'}}</button>
        <button type="button" data-bs-dismiss="modal" class="cancel-button col-md-4" data-bs-dismiss="modal"
          (click)="okThanks()" aria-label="Close">No, thank you!</button>
      </div>
    </div>
  </div>
</div>


<!-- assign/remove primary provider  success modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':AccessProvider}">
  <div class="modal-dialog" role="document">
    <div class="modal-content lockedModal">
      <div class="modal-header">
        <h5 class="title letter-capital">{{message}} user as primary provider</h5>
      </div>
      <hr>
      <div class="d-flex justify-content-end my-2 mx-2">
        <button type="button" data-bs-dismiss="modal" class="cancel-button col-md-4"
          (click)="closeAccessProvider()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- locked/ unlocked success modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':lockedModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content lockedModal">
      <div class="modal-header">
        <h5 class="title">Successfully {{displayHeading}} the user</h5>
      </div>
      <hr>
      <div class="d-flex justify-content-end my-2 mx-2">
        <button type="button" data-bs-dismiss="modal" class="cancel-button col-md-4"
          (click)="closelockedModal()">Close</button>
      </div>
    </div>
  </div>
</div>
