@import "../../../assets/admin.common.scss";

.card-design{
  height: 87px;
  border: 1px solid #e7ecf1  !important;
}
.card-border{
  border: 1px solid #e7ecf1  !important;
}
.card-title {
  font-family: "SF UI Text Regular";
  margin-bottom: 10px;
  margin-top: -16px;
  font-weight: 400;
  color: #111112;
  font-size: 20px;
}
hr:not([size]) {
  height: 1px;
  color: #96989d;
}
.fs-6 {
  font-size: 1.0rem !important;
}
.th-col-width{
  min-width: 180px;
}
.td-col-width{
  width: 6%;
}
.td-width {
  width: 4%;
}
.td-button{
  width: 0%;
}
.common-button-style{
  padding: 3px 7px;
}
.common-button-style:hover{
  padding: 3px 7px;
}
.table-col-button{
    padding: 3px 5px;
    font-size: 14px;
    width: 80p;
}
.Actives{
  background: white ;
  border: 1.5px solid #b1a7a7 ;
  padding: 3px 5px;
  font-size: 14px;
  width: 62px;
}
.Actives:hover{
  color: black;
  background: rgb(234, 233, 233);
  border: 1.5px solid #b1a7a7 ;
}
.Suspended{
  background: white;
  border: 1.5px solid #b1a7a7;
  padding: 3px 5px;
  font-size: 14px;
  width: 67px;
}
.Suspended:hover{
  color: black;
  background: rgb(229, 229, 229);
  border: 1.5px solid #b1a7a7 ;
}
.form-switch .form-check-input.toggle-btn {
  width: 2.8rem !important;
  border-radius: 2em;
  margin-top: 1px;
  height: 22px;
}
.col-data{
  margin-top: 20px;
}
.form-check-input.toggle-btn:checked {
  background-color: #92c792;
  border-color: green;
  border: 0px;
}
.text-mute{
  color: #7d7b7b;
}
.form-check-input.toggle-btn {
  width: 1em;
  height: 1em;
  margin-top: 4.5em;
  vertical-align: top;
  background-color: #eee;
}
