@import"../../../../assets/common.scss";
@import"../../../../assets/cstm.material.scss";

* {
  font-family: 'Roboto';
}

.chart-wrapper .controls-container {
  padding: 10px 20px;
  min-height: 65px;
}

.dropdown .btn {
  text-align: left;
  padding-left: 15px;
}

.btn.btn-go-to {
  color: #41b6a6;
  border-color: #41b6a6;
  background: #fff;
}

.btn-go-to span {
  padding: 0px 70px 0px 0px;
}

.btn {
  width: 165px;
  height: 45px;
  display: block;
  padding: 0;
  line-height: 2.7;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: border-color 0.2s, background 0.2s, color 0.2s;
}

.btn-custom {
  width: 85px;
  margin-left: 81px;
}

.dropdown-menu {
  width: 570px;
  border-color: #41b6a6;
  background-color: #fff;
  padding: 0;
  margin-top: 3px;
  border-radius: 3px;
}

.dropdown .dropdown-menu li {
  display: table;
  margin: 3px;
  cursor: pointer !important;
}

.dropdown-menu li a {
  font-size: 15px;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
}

.go-to-nav {
  float: left;
}

.go-to-nav li {
  height: 41px;
}

ul.go-to-nav:first-child {
  padding: 0 0 0 10px;
}

ul.go-to-nav {
  padding: 0 0 0 30px;
}

.go-to-nav li a {
  color: #41b6a6;
  vertical-align: middle;
}

.controls-container .controls a:last-child {
  margin-right: 0;
}

// new search
.new-search-group.chart-patient-new-search-group {
  width: 50%;
  margin-left: 5%;
  // position: absolute;
}

@media (max-width: 1440px) {
  .new-search-group.chart-patient-new-search-group {
    width: 58%;
    margin-left: 17%;
  }
}

@media (max-width: 768px) {
  .new-search-group.chart-patient-new-search-group {
    width: 72%;
    margin-left: 2.5%;
    padding-right: 0%;
  }

  .pull-right {
    padding: 0px 7px;
  }
}

@media (max-width: 425px) {
  .new-search-group.chart-patient-new-search-group {
    width: 100%;
    margin-left: 0%;
  }

  .pull-right {
    padding: 0px 13px;
  }
}

.new-search-input {
  display: inline-flex;
  width: 100%;
}

input.new-search::placeholder {
  color: #4A4A4A;
  opacity: 0.9;
}

.input-group .form-control {
  // display: table-cell;
  height: 45px;
  border-radius: 4px;
}

.input-group .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.new-search {
  background-color: #fff;
  color: #4A4A4A;
  border-color: #41b6a6;
}
.input-search{
  border-color: #dedede ;
}
.input-search:hover,
.input-search:focus{
  border-color: #41b6a6;
}
.form-control {
  padding: 0 20px;
  font-size: 15px;
}

.input-group .input-group-addon.chart-find-patient-btn {
  background-color: #41b6a6;
  cursor: pointer;
}

.input-group .input-group-addon.input-group-addon-search {
  background-image: url(../../../../assets/images/search-icon.svg);
  margin-left: 0%;
}

.input-group .input-group-addon {
  width: 66px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
}

.input-group-addon {
  border-radius: 4px;
}

.input-group-addon:last-child {
  border-left: 0;
}

.input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// right side buttons
.controls-container .controls a:not(.dropdown-toggle) {
  margin-right: 20px;
}

.controls-container .controls a:last-child {
  margin-right: 0px;
}

// card
.patientChartTab {
  padding: 10px 20px;
 // max-height: 700px;
 // overflow-y: scroll;
  border-top: 3px solid #41b6a6;
}

.main-list {
  margin-bottom: 10px !important;
  color: #4A4A4A;
}

.patientChartTab .main-list li a:hover {
  text-decoration: underline;
  color: #41b6a6;
  cursor: pointer;
}

.patientChartTab ul li span {
  font-size: 15px;
}

.patientChartTab ul {
  list-style-type: none;
  padding-left: 0;
}

.cstm-icon-pencil {
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
  margin: 0 auto;
  background: url(../../../../assets/images/icon-edit-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s;
}

.card .edit-icon {
  border-radius: 5%;
  border: 1px solid #fff;
  background: #fff;
  width: 80px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.card .edit-icon:hover {
  color: #fff;
  border-color: #fff;
  background-color: #41b6a6;

  .cstm-icon-pencil {
    background-image: url(../../../../assets/images/icon-edit-white.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

a.patient-chart {
  color: #337ab7;
  font-size: 15px;
  cursor: pointer;
}

a.patient-chart:hover {
  color: #23527c;
}
ew-more {
  float: right;
  text-align: right;
  font-size: 13px;
  color: #41b6a6;
  cursor: pointer;
}

.chart-tab-content {
  overflow-x: auto;
}

.patientChartTab {
  min-width: 1023px;
}

.plusicon.plusicon-orange {
  border: 1px solid #fe8f00;
  background-color: #fff;
}

.plusicon.plusicon-orange:hover {
  background-color: #fe8f00;
  border: 1px solid #fff;

  .fa-plus {
    color: #fff;
  }
}

.plusicon.plusicon-orange .fa-plus {
  color: #fe8f00;
}

.Search {
  background-color: #d0d2db !important;
  border: 1px solid #d0d2db !important;
}

.input-border {
  color: #74757e;
  border: 1px solid #dedede;
  background-color: #f5f5f5;
}

.input-border:hover,
.input-border:focus {
  border: 1px solid #41b6a6;
  background-color: #f5f5f5;
}

::ng-deep .input-field.mat-form-field-appearance-outline:hover .mat-form-field-outline ,
::ng-deep .input-field.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline{
  background-color: #f5f5f5 !important;
  color: #41b6a6 !important;
}
::ng-deep .input-field.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #f5f5f5 !important;
  color: #dedede !important;

}
.btn-cancel {
  width: 80px !important;
  margin-left: 11px;
}

.btn-today {
  width: 97px !important;
}

textarea.form-control {
  height: 119px !important;
  resize: none;
  font-size: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1.5;
  border: 1px solid #41b6a6;
  border-radius: 4px;
}

.links {
  background-color: #41b6a6;
  margin: 16px -22px -2px -14px;
  font-size: 16px !important;
  color: #fff;
  padding: 9px 0px 0px 0px;
  margin-bottom: -32px;
}

.grey-matform.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #41b6a6 !important;
}
.side-boder {
  border-left: 1px solid #41b6a6;
  // height: 39px;
}

.row-head {
  border-left: 1px solid #fff;
  height: 39px;
}

// ::ng-deep .grey-calendar .mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button {

//   height: 3.8em !important;
// }

::ng-deep .calender-item .mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button {
  height: 3.7em !important;

// }

// ::ng-deep .calender-item.mat-form-field-appearance-outline .mat-form-field-outline {
//   background-color: #f5f5f5 !important;
// }

.col-sm-4 {
  height: 39px;
}

.right-block {
  margin-left: 138px;
  margin-top: 42px;
}

.modal-dialog {
  margin-top: calc(100px + 100px) !important;
}

.body {
  margin-right: 20px;
}

.header {
  padding: 12px 37px 0px 2px !important;
}

.modal-provider:not(.modal-flash) .modal-dialog .modal-content .modal-header.modal-header-md .title {
  padding: 15px 20px;
}

.panel-family-health-history .panel-heading {
  min-height: 50px;
  padding: 0 15px;
  background-color: rgba(65, 182, 166, 0.1);
}

.card-bg {
  min-height: 50px;
  //padding: 0 15px;
  background-color: rgba(65, 182, 166, 0.1);
}

.title {
  float: left;
  padding: 16px 0;
  color: #4A4A4A;
  font-size: 12px;
  margin: 0;
}

.scroolbar {
  height: 560px;
  top: 94%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-y: scroll;
  background: white;
}

.plus-icons {
  border: 1px solid #41b6a6 !important;
  margin-top: 12px !important;
}
.underlined{
  text-decoration: underline;
}
.title-bold {
  margin: 12px 0;
  color: #4A4A4A;
  font-size: 15px;
  font-weight: 600;
}

.checkbox-label {
  color: #41b6a6;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 16px;
}

.colour-bg {
  background-color: rgba(65, 182, 166, 0.1);
}

.diagnosis_list {
  padding-left: 20px;
  list-style-type: none;
}

.accordion {
  // border:1px solid #41b6a6;
  background-color: rgba(65, 182, 166, 0.1);
}

.panel-collapse {
  border: 1px solid #41b6a6;
  line-height: 20%;
  background-color: rgba(65, 182, 166, 0.1);
}

.panel-expand {
  border: 1px solid #41b6a6;
  border-top: none;
}

.modal-dialog {
  margin-top: calc(50px + 50px) !important;
}

.panel-body {
  padding: 15px 26px 5px 21px;
}

.search-input {
  border-color: #41b6a6;
}

.btn-add {
  width: 114px !important;
}

.collaps-title {
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  color: #41b6a6;

}

.accordion-button:not(.collapsed) {
  //color: #0c63e4;
  background-color: rgba(65, 182, 166, 0.1);
  box-shadow: inset 0 0px 0 rgb(0 0 0 / 13%);
  border-bottom: none;
}

.btn-lg {
  width: 100px;
}

.modal-content {
  width: 545px !important;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 15px 13px !important;
}

@media (max-width: 425px) {
  .modal-content {
    width: 400px !important;
  }
}

@media (max-width: 375px) {
  .modal-content {
    width: 350px !important;
  }
}

@media (max-width: 320px) {
  .modal-content {
    width: 300px !important;
  }
}

.relative-icon {
  width: 65px;
  height: 65px;
  margin: 0 auto 68px auto;
  border: 1px solid #41b6a6;
  border-radius: 50%;
  background-color: rgba(65, 182, 166, 0.49);
}

.required:before {
  content: " *";
  color: red;
}

.modal-box {
  width: 658px !important;
  margin-left: -88px;
}

@media (max-width: 425px) {
  .modal-box {
    width: 411px !important;
    margin-left: -5px;
  }
}

@media (max-width: 375px) {
  .modal-box {
    width: 361px !important;
    // margin-left: -5px;
  }
}

@media (max-width: 320px) {
  .modal-box {
    width: 305px !important;
    // margin-left: -5px;
  }
}

::ng-deep .input-bg.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #f5f5f5 !important;
  color: #dedede !important;
}
::ng-deep .input-bg.mat-form-field-appearance-outline:hover .mat-form-field-outline {
  background-color: #f5f5f5 !important;
  color: #41b6a6 !important;
}
.btn-save {
  margin-top: 7px;
  width: 360px;
}

.title-field {
  font-size: 15px;
}

.links-item {
  background-color: #41b6a6;
  color: #fff;
  font-size: 15px;
  padding: 12px 0px 1px 0px;
  margin-bottom: 81px !important;
}

.links-item a {
  color: #fff;
  font-size: 16px;
  padding: 9px 0 12px 9px;

}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
}

.modal-item {
  width: 786px !important;
  margin-left: -156px;
}

@media (max-width: 768px) {
  .modal-item {
    width: 753px !important;
    margin-left: -128px;
  }
  .btn-save {
    margin-top: 7px;
    width: 352px;
}
}

@media (max-width: 425px) {
  .modal-item {
    width: 401px !important;
    margin-left: 0px;
  }
  .btn-save {
    width: 371px !important;
  }
}

@media (max-width:375px) {
  .modal-item {
    width: 353px !important;
    margin-left: 0px;
  }
  .btn-save{
    width: 321px !important;
}
}

@media (max-width:325px) {
  .modal-item {
    width: 300px !important;
    margin-left: 0px;
  }
  .btn-save{
    width: 273px !important;
}
}
.locationbtns{
  margin-left: 8px;
}

textarea.form-control.inputclass{
    border: 1px solid #dedede  !important;
}
textarea.form-control.inputclass:focus,
textarea.form-control.inputclass:hover{

  border: 1px solid #41b6a6  !important;

}
//waring message modal
.header-change
{
background-color: #D9534E;;
}
.modal-text{
  font-size: 15px;
    text-align: center;
    color: #D9534E;
}
}
