<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf="customizedspinner">
  <div id="spinner"></div>
</div>

<div class="chart-wrapper">
  <div class="controls-container">
    <div class="row controls">
      <div class="col-xl-6 col-lg-5 col-md-12 col-12">
        <div class="row">
          <div class="pull-left col-xl-2 col-lg-3 col-md-3 col-12">
            <div class="dropdown">
              <a class="btn btn-go-to dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span>Go to...</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li>
                  <ul class="go-to-nav">
                    <li>
                      <a (click)="scrollToDiagnoses()">Diagnoses (Dx)</a>
                    </li>
                    <li><a (click)="scrollToSmokingStatus()">Smoking Status</a></li>
                    <li><a (click)="scrollToPastMedicalHistory()">Past Medical History</a></li>
                    <li><a (click)="scrollToAdvancedDirectives()">Advanced Directives</a></li>
                  </ul>
                  <ul class="go-to-nav">
                    <li><a (click)="scrollToAllergies()">Allergies</a></li>
                    <li><a (click)="scrollToMedications()">Medications (Rx)</a></li>
                    <li><a (click)="scrollToImmunizations()">Immunizations</a></li>
                    <li><a (click)="scrollToInterventions()">Screenings/Interventions/<br>Assessments</a></li>
                  </ul>
                  <ul class="go-to-nav">
                    <li><a (click)="scrollToEncounters()">Encounters</a></li>
                    <li><a (click)="scrollToMessages()">Messages</a></li>
                    <li><a (click)="scrollToAppointments()">Appointments</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="input-group new-search-group chart-patient-new-search-group
          col-xl-10 col-lg-9 col-md-9 col-12 mt-2 mt-md-0">
            <div class="new-search-input" style="margin-left: 6px; height: 45px;">
              <input matInput type="text" name="searchPatient" id="searchPatient" #searchPatient
                class="new-search form-control ignore_spinner" placeholder="Search Patients..."
                style="height: 42px; border: none; top: 1px; margin-top: 1px;" [matAutocomplete]="Patient" />
              <mat-autocomplete [displayWith]="displayWithPatientSearch" #Patient="matAutocomplete"
                (optionSelected)="onPatientSelected($event)">
                <mat-option [hidden]="displayMessage == false" [disabled]="true" class="text-wrap lh-1 fs-6">
                  Enter atleast 1 character, you can only select 1 item
                </mat-option>
                <mat-option *ngIf="isLoading">Loading ...</mat-option>
                <mat-option *ngFor="let option of filteredPatients | async" [value]="option"
                  class="patient-serach-option" (click)="onSelectedPatient(option)">
                  {{option.Name}}
                </mat-option>
                <mat-option *ngIf="noRecords">No Records Found</mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-md-12 col-12">
        <div class="row float-end mt-2 mt-lg-0 g-0">
          <a class="btn btn-green mb-2 mb-md-0" data-bs-toggle="modal" data-bs-target="#ccda-alerts-modal">Check CDS Alerts</a>
          <!-- <a class="btn btn-green mb-2 mb-md-0">Refresh Chart</a> -->
          <a class="btn btn-orange" (click)="openComponentDialog(encounterDialogComponent,null,ActionTypes.new)">New
            Encounter Note
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="chart-tab-content">
    <div class="patientChartTab">
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-4">
            <div class="card" id="toDiagnoses">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">
                      Diagnoses (Dx)
                    </p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialog(frequentlyUsedDiagnosesDialogComponent, chartInfo?.Diagnoses, ActionTypes.view)">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let diagnose of chartInfo?.Diagnoses | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(addDiagnosesDialogComponent, diagnose, ActionTypes.view)">
                      <span *ngIf="diagnose?.Code != null && diagnose?.Code !=''">
                        - {{diagnose?.Code}}
                      </span>
                      <span *ngIf="diagnose?.Description != null && diagnose?.Description !=''">
                        - {{diagnose?.Description}}
                      </span>
                    </a>
                  </li>
                  <li style="margin-left: 20px;">
                    <span *ngIf="diagnose?.StartAt != null && diagnose?.StartAt !=''">
                      {{diagnose?.StartAt | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="diagnose?.StopAt != null && diagnose?.StopAt !=''">
                      - {{diagnose?.StopAt | date: 'MM/dd/yyyy'}}
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.Diagnoses?.length == 0">
                  <li>
                    <span>No active Dx recorded.</span>
                  </li>
                </ul>
                <a class="card-title"
                  (click)="openComponentDialog(diagnosesTableDialogComponent,chartInfo?.Diagnoses,ActionTypes.view)"
                  *ngIf="chartInfo?.Diagnoses?.length > 5" class="view-more pull-right">view more</a>
              </div>
            </div>
            <div class="card" id="toSmokingStatus">
              <div class="card-header">
                <div class="row">
                  <div class="col-12">
                    <p class="card-title">
                      <span class="pointer"
                        (click)="openComponentDialog(smokingStatusDialogComponent, null, ActionTypes.add)">Smoking
                        Status</span>
                      <span> and </span>
                      <span class="pointer"
                        (click)="openComponentDialog(tobaccoUseDialogComponent,null,ActionTypes.add)">Tobacco
                        Use</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let smoking of chartInfo?.SmokingStatuses | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(smokingStatusDialogComponent, smoking, ActionTypes.view)">
                      <span *ngIf="smoking?.EffectiveFrom != null && smoking?.EffectiveFrom !=''">
                        - {{smoking?.EffectiveFrom | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="smoking?.Status != null && smoking?.Status !=''">
                        - {{smoking?.Status}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.SmokingStatuses?.length == 0">
                  <li>
                    <span>No smoking status recorded.</span>
                  </li>
                </ul>
                <div *ngIf="chartInfo?.SmokingStatuses?.length > 5">
                  <a (click)="openComponentDialog(smokingStatusTableDialogComponent, chartInfo?.SmokingStatuses, ActionTypes.view)"
                    class="view-more pull-right mb-2">view more
                  </a>
                  <br>
                </div>
                <div *ngFor="let screening_interventions of tobaccoUseList | slice:0:2">
                  <ul class="main-list">
                    <li>
                      <a
                        (click)="openComponentDialog(tobaccoUseDialogComponent, screening_interventions, ActionTypes.view)">
                        <span
                          *ngIf="screening_interventions?.ScreeningDate != null && screening_interventions?.ScreeningDate !=''">
                          - {{screening_interventions?.ScreeningDate | date: 'MM/dd/yyyy'}}
                        </span>
                        <span
                          *ngIf="screening_interventions?.ScreeningDescription != null && screening_interventions?.ScreeningDescription !=''">
                          - {{screening_interventions?.ScreeningDescription}}
                        </span>
                        <span
                          *ngIf="screening_interventions?.ScreeningCode != null && screening_interventions?.ScreeningCode !=''">
                          / {{screening_interventions?.ScreeningCode}}
                        </span>
                      </a>
                    </li>
                  </ul>
                  <ul class="main-list">
                    <li>
                      <a
                        (click)="openComponentDialog(tobaccoUseDialogComponent, screening_interventions, ActionTypes.view)">
                        <span *ngIf="screening_interventions?.CI_Date != null && screening_interventions?.CI_Date !=''">
                          - {{screening_interventions.CI_Date | date: 'MM/dd/yyyy'}}
                        </span>
                        <span
                          *ngIf="screening_interventions?.CI_Description != null && screening_interventions?.CI_Description !=''">
                          - {{screening_interventions.CI_Description}}
                        </span>
                        <span *ngIf="screening_interventions?.CI_Code != null && screening_interventions?.CI_Code !=''">
                          / {{screening_interventions.CI_Code}}
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <ul class="main-list" *ngIf="tobaccoUseList.length == 0">
                  <li>
                    <span>No tobacco use recorded.</span>
                  </li>
                </ul>
                <a *ngIf="tobaccoUseList?.length > 2"
                  (click)="openComponentDialog(tobaccoUseTableDialogComponent, tobaccoUseList, ActionTypes.view)"
                  class="view-more pull-right">view more</a>
              </div>
            </div>
            <div class="card" id="toPastMedicalHistory">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">
                      Past Medical
                      History
                    </p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12">
                      <div class="edit-icon pull-right"
                        (click)="openComponentDialog(pastMedicalHistoryDialogComponent, chartInfo?.PastMedicalHistories, ActionTypes.view)">
                        <span class="cstm-icon-pencil"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let pastmedical of chartInfo?.PastMedicalHistories">
                  <li>
                    <a
                      (click)="openComponentDialog(pastMedicalHistoryDialogComponent, chartInfo?.PastMedicalHistories, ActionTypes.view)">
                      <span *ngIf="pastmedical?.CreatedAt != null && pastmedical?.CreatedAt !=''">
                        - {{pastmedical?.CreatedAt | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="pastmedical?.MajorEvents != null && pastmedical?.MajorEvents !=''">
                        - {{pastmedical?.MajorEvents}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.PastMedicalHistories?.length == 0">
                  <li>
                    <span>No past medical history recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card" id="toAdvancedDirectives">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Advanced Directives</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialog(advancedDirectivesDialogComponent, null, ActionTypes.add)">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let directive of chartInfo?.AdvancedDirectives | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(advancedDirectivesDialogComponent, directive, ActionTypes.view)">
                      <span *ngIf="directive?.RecordAt != null && directive?.RecordAt !=''">
                        - {{directive?.RecordAt | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="directive?.Notes != null && directive?.Notes !=''">
                        - {{directive?.Notes}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.AdvancedDirectives?.length == 0">
                  <li>
                    <span>No advanced directives recorded.</span>
                  </li>
                </ul>
                <a *ngIf="chartInfo?.AdvancedDirectives?.length > 5"
                  (click)="openComponentDialog(advancedDirectivesTableDialogComponent, chartInfo?.AdvancedDirectives, ActionTypes.view)"
                  class="view-more pull-right">view more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-4">
            <div class="card" id="toAllergies">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">
                      Allergies</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialog(allergyDialogComponent,null,ActionTypes.add)">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let allergie of chartInfo?.Alergies | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(allergyDialogComponent,allergie,ActionTypes.view)">
                      <span *ngIf="allergie?.AllergenName != null && allergie?.AllergenName !=''">
                        - {{allergie?.AllergenName}}
                      </span>
                      <span *ngIf="allergie?.SeverityLevel != null && allergie?.SeverityLevel !=''">
                        , {{allergie?.SeverityLevel}}
                      </span>
                      <span *ngIf="allergie?.Reaction != null && allergie?.Reaction !=''">
                        , {{allergie?.Reaction}}
                      </span>
                      <span *ngIf="allergie?.StartAt != null && allergie?.StartAt !=''">
                        , Start: {{allergie?.StartAt | date: 'MM/dd/yyyy'}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.Alergies?.length == 0">
                  <li>
                    <span>No active allergies recorded</span>
                  </li>
                </ul>
                <a (click)="openComponentDialog(allergyTableDialogComponent,chartInfo?.Alergies,ActionTypes.view)"
                  *ngIf="chartInfo?.Alergies?.length > 5" class="view-more pull-right">view more</a>
              </div>
            </div>
            <div class="card" id="toMedications">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">
                      Medications and Prescription
                    </p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialog(medicationDialogComponent,null,ActionTypes.add)">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let medication of chartInfo?.Medications | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(medicationDialogComponent, medication , ActionTypes.view)">
                      <span>
                        - {{medication?.DrugName}}
                      </span>
                    </a>
                  </li>
                  <li style="margin-left: 20px;">
                    <span *ngIf="medication?.StartAt != null && medication?.StartAt !=''">
                      {{medication?.StartAt | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="medication?.StopAt != null && medication?.StopAt !=''">
                      - {{medication?.StopAt | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="medication?.CQMStatus != null && medication?.CQMStatus !=''">
                      - {{medication?.CQMStatus}}
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.Medications?.length == 0">
                  <li>
                    <span>No medications recorded.</span>
                  </li>
                </ul>
                <a (click)="openComponentDialog(medicationTableDialogComponent, chartInfo?.Medications , ActionTypes.view)"
                  *ngIf="chartInfo?.Medications?.length > 5" class="view-more pull-right">view more</a>
              </div>
            </div>
            <div class="card" id="toImmunizations">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">
                      Immunizations</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right" data-bs-toggle="modal" data-bs-target="#immunization-modal">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let immunization of chartInfo?.Immunizations | slice:0:5">
                  <li>
                    <a data-bs-toggle="modal" data-bs-target="#immunization-modal"
                      (click)="editDialog(immunization, 'immunization')">
                      <span *ngIf="immunization?.Code != null && immunization?.Code !=''">
                        - {{immunization?.Code}}
                      </span>
                      <span *ngIf="immunization?.Description != null && immunization?.Description !=''">
                        - {{immunization?.Description}}
                      </span>
                    </a>
                  </li>
                  <li style="margin-left: 20px;">
                    <span *ngIf="immunization?.AdministeredAt != null && immunization?.AdministeredAt !=''">
                      {{immunization?.AdministeredAt | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="immunization?.ExpirationAt != null && immunization?.ExpirationAt !=''">
                      - {{immunization?.ExpirationAt | date: 'MM/dd/yyyy'}}
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.Immunizations?.length == 0">
                  <li>
                    <span>No immunizations recorded.</span>
                  </li>
                </ul>
                <a data-bs-toggle="modal" data-bs-target="#immunization-table-modal"
                  *ngIf="chartInfo?.Immunizations?.length > 5" class="view-more pull-right">view more</a>
              </div>
            </div>
            <div class="card" id="toInterventions">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-8">
                    <p class="card-title text-break">
                      Screenings/Interventions/Assessments</p>
                  </div>
                  <div class="col-md-4 col-4">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialog(interventionDialogComponent, null, ActionTypes.add)">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let intervention of chartInfo?.Interventions | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(interventionDialogComponent, intervention , ActionTypes.view)">
                      <span *ngIf="intervention?.InterventionType != null && intervention?.InterventionType !=''">
                        - {{intervention?.InterventionType}}
                      </span>
                    </a>
                  </li>
                  <li style="margin-left: 20px;">
                    <span>
                      {{intervention?.StartDate | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="intervention?.EndDate != null && intervention?.EndDate !=''">
                      - {{intervention?.EndDate | date: 'MM/dd/yyyy'}}
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.Interventions?.length == 0">
                  <li>
                    <span>No interventions recorded.</span>
                  </li>
                </ul>
                <a (click)="openComponentDialog(interventionTableDialogComponent,chartInfo?.Interventions,ActionTypes.view)"
                  *ngIf="chartInfo?.Interventions?.length > 5" class="view-more pull-right">view more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-4">
            <div class="card" id="toEncounters">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Encounters</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon plusicon-orange pull-right"
                      (click)="openComponentDialog(encounterDialogComponent,null,ActionTypes.new)"><span><i
                          class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let encounter of chartInfo?.Encounters | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(encounterDialogComponent,encounter,ActionTypes.view)">
                      <span *ngIf="encounter?.ServicedAt != null && encounter?.ServicedAt !=''">
                        - {{encounter?.ServicedAt | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="encounter?.ServiceEndAt != null && encounter?.ServiceEndAt !=''">
                        - {{encounter?.ServiceEndAt | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="encounter?.VisitingReason != null && encounter?.VisitingReason !=''">
                        - {{encounter?.VisitingReason}}
                      </span>
                    </a>
                    <div style="float: right;" *ngIf="encounter.Signed">
                      <div mat-icon-button class="folder-node">
                        <i class="fa fa-check icons-design"></i>
                      </div>
                    </div>
                    <span class="selected-allergen" id="allergenName" *ngIf="!encounter.Signed">
                      <div>
                        <a class="icon icon-sm icon-circle icon-ic-delete pull-right" id="icon-delete"></a>
                      </div>
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="chartInfo?.Encounters?.length == 0">
                  <li>
                    <span>No encounters recorded.</span>
                  </li>
                </ul>
                <a (click)="openComponentDialog(encounterTableDialogComponent,chartInfo?.Encounters,ActionTypes.view)"
                  *ngIf="chartInfo?.Encounters?.length > 5" class="view-more pull-right">view more</a>
              </div>
            </div>
            <div class="card" id="toMessages">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Messages</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialogmessage(MessageDialogComponent,null,ActionTypes.view, 'Patient')">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let message of patientMessages | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(viewMessageDialogComponent,message,ActionTypes.view)">
                      <span *ngIf="message?.Subject != null && message?.Subject !=''">
                        - {{message?.Subject}}
                      </span>
                      <span *ngIf="message?.DateTime != null && message?.DateTime !=''">
                        - {{message?.DateTime | date: 'MM/dd/yyyy'}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list">
                  <li *ngIf="patientMessages?.length == 0">
                    <span>No message recorded.</span>
                  </li>
                </ul>
                <a (click)="openComponentDialog(messagesTableDialogComponent,patientMessages,ActionTypes.view)"
                  *ngIf="patientMessages.length > 5" class="view-more pull-right">view more</a>
                  <!-- <a (click)="openComponentDialog(messagesTableDialogComponent,patientMessages,ActionTypes.view)"
                  *ngIf="chartInfo?.Appointments?.length > 5" class="view-more pull-right">view more</a> -->
              </div>
            </div>
            <div class="card" id="toAppointments">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Appointments</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialog(appointmentDialogComponent ,null,ActionTypes.new)"><span><i
                          class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let appointment of chartInfo?.Appointments | slice:0:5">
                  <li>
                    <a (click)="openComponentDialog(appointmentDialogComponent,appointment,ActionTypes.view)">
                      <span *ngIf="appointment?.StartAt != null && appointment?.StartAt !=''">
                        - {{appointment?.StartAt | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="appointment?.ApptStatus != null && appointment?.ApptStatus !=''">
                        - {{appointment?.ApptStatus}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list">
                  <li *ngIf="chartInfo?.Appointments?.length == 0">
                    <span>No appointments recorded.</span>
                  </li>
                </ul>
                <a (click)="openComponentDialog(appointmentsTableDialogComponent,chartInfo?.Appointments,ActionTypes.view)"
                  *ngIf="chartInfo?.Appointments?.length > 5" class="view-more pull-right">view more</a>
              </div>
            </div>
            <a class="patient-chart" href="https://dentaltraumaguide.org/dental-guides/" target="_blank">Clinical
              Decision
              Support</a>
            <br>
            <a class="patient-chart" href="https://accessgudid.nlm.nih.gov/" target="_blank">Implantable Devices</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal dialogs -->

<!-- Add/Edit Immunization -->
<div class="modal fade" id="immunization-modal" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add/Edit Vaccination</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" (click)="resetDialog()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
          <mat-radio-group [(ngModel)]="patientImmunization.ImmType">
            <mat-radio-button value="administered" (change)="resetImmunization($event)">
              <mat-label class="Helvetica-sans-serif-medium">Administered</mat-label>
            </mat-radio-button>
            <mat-radio-button class="ms-5" value="historical" (change)="resetImmunization($event)">
              <mat-label class="Helvetica-sans-serif-medium">Historical</mat-label>
            </mat-radio-button>
            <mat-radio-button class="ms-lg-5 mt-2 mt-sm-0" value="refused" (change)="resetImmunization($event)">
              <mat-label class="Helvetica-sans-serif-medium">Refused</mat-label>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row mt-3">
          <mat-label class="required">Vaccine:</mat-label>
          <mat-form-field class="procedure-form-field" appearance="outline" [ngStyle]="{'width':'100%'}">
            <input matInput #searchVaccineCode class="form-control" placeholder="Search vaccine" type="text"
              id="searchVaccineCode" name=" searchVaccineCode" [matAutocomplete]="vaccineCode" />
            <mat-autocomplete [displayWith]="displayWithVaccine" #vaccineCode="matAutocomplete"
              (optionSelected)="onSelectedImmunization($event)">
              <mat-option [hidden]="displayMessage == false" [disabled]="true" class="text-wrap lh-1 fs-6">
                Enter atleast 1 character, you can only select 1 item
              </mat-option>
              <mat-option *ngIf="isLoading">Loading ...</mat-option>
              <mat-option *ngFor="let option of vaccines | async" [value]="option" class="medical-code-option">
                {{option.Code}} - {{option.Description}}
              </mat-option>
              <mat-option *ngIf="noRecords">No Records Found</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span class="selected-allergen" id="allergenName" *ngIf="patientImmunization.Code != ''">
            <p>{{patientImmunization.Code}} - {{patientImmunization.Description}}</p>
            <a class="icon icon-sm icon-circle icon-ic-delete pull-right" id="icon-delete"
              (click)="deleteVaccineCode()"></a>
          </span>
        </div>
        <div
          [ngStyle]="{'display': patientImmunization.ImmType == 'historical' || patientImmunization.ImmType == 'refused' ? 'none' : 'block' }">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Date Administered:</mat-label>
                <mat-form-field appearance="outline" class="green-calendar col-12">
                  <input matInput class="pointer" autocomplete="off" [matDatepicker]="dateAdministered"
                    (click)="dateAdministered.open()" readonly placeholder="Date administered"
                    [(ngModel)]="patientImmunization.AdministeredAt" />
                  <mat-datepicker-toggle matSuffix [for]="dateAdministered"></mat-datepicker-toggle>
                  <mat-datepicker #dateAdministered></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Time administered:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <input matInput type="text" appTimeMask [(ngModel)]="patientImmunization.AdministeredTime" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Administered by:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select placeholder="Select administered by" [(ngModel)]="patientImmunization.AdministeredById">
                    <mat-option *ngFor="let providers of PracticeProviders" [value]="providers.ProviderId">
                      {{providers.FullName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Ordered by:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select placeholder="Select ordered by" [(ngModel)]="patientImmunization.OrderedById">
                    <mat-option *ngFor="let providers of PracticeProviders" [value]="providers.ProviderId">
                      {{providers.FullName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-label class="required">Administered:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select administered" [(ngModel)]="patientImmunization.LocationId">
                <mat-option *ngFor="let item of LocationAddress" [value]="item.LocationId">
                  {{item.LocationName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Manufacturer:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select placeholder="Select manufacturer" [(ngModel)]="patientImmunization.Manufacturer">
                    <mat-option *ngFor="let manufacturer of immManufacturers" [value]="manufacturer">
                      {{manufacturer}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Lot:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <input matInput placeholder="Enter lot" [(ngModel)]="patientImmunization.Lot" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Quantity:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <input matInput placeholder="Enter quantity" [(ngModel)]="patientImmunization.Quantity" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Dose:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <input matInput placeholder="Enter dose" [(ngModel)]="patientImmunization.Dose" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Units:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select placeholder="Select unit" [(ngModel)]="patientImmunization.Unit">
                    <mat-option *ngFor="let unit of immUnits" [value]="unit">
                      {{unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Expiration Date:</mat-label>
                <mat-form-field appearance="outline" class="green-calendar col-12">
                  <input matInput class="pointer" autocomplete="off" [matDatepicker]="expirationDate"
                    (click)="expirationDate.open()" readonly placeholder="Expiration date"
                    [(ngModel)]="patientImmunization.ExpirationAt" />
                  <mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
                  <mat-datepicker #expirationDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-label>Route:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select a route" [(ngModel)]="patientImmunization.Route">
                <mat-option *ngFor="let route of immRoutes" [value]="route">
                  {{route}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-label>Body Site:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select a body site" [(ngModel)]="patientImmunization.BodySite">
                <mat-option *ngFor="let bodysite of immBodySites" [value]="bodysite">
                  {{bodysite}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-label>Funding Source:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select a funding source" [(ngModel)]="patientImmunization.FundingSource">
                <mat-option *ngFor="let source of immFundingSources" [value]="source">
                  {{source}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-label>Registry Notifications:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Notify me" [(ngModel)]="patientImmunization.RegistryNotification">
                <mat-option *ngFor="let notify of immRegistryNotifications" [value]="notify">
                  {{notify}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-label>VFC Financial Class:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Class selection" [(ngModel)]="patientImmunization.VFCClass">
                <mat-option *ngFor="let vfcclass of immVfcClasses" [value]="vfcclass">
                  {{vfcclass}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row textarea-margin">
            <mat-label>Comments:</mat-label>
            <textarea class="col-12" placeholder="Comments" [(ngModel)]="patientImmunization.Comments"></textarea>
          </div>
          <div class="row textarea-margin">
            <mat-label>Notes:</mat-label>
            <textarea class="col-12 form-control" placeholder="Notes" [(ngModel)]="patientImmunization.Notes"></textarea>
          </div>
        </div>
        <div
          [ngStyle]="{'display': patientImmunization.ImmType == 'administered' || patientImmunization.ImmType == 'refused' ? 'none' : 'block' }">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Date Administered:</mat-label>
                <mat-form-field appearance="outline" class="green-calendar col-12">
                  <input matInput class="pointer" autocomplete="off" [matDatepicker]="dateAdministeredHistorical"
                    (click)="dateAdministeredHistorical.open()" readonly placeholder="Date administered"
                    [(ngModel)]="patientImmunization.AdministeredAt" />
                  <mat-datepicker-toggle matSuffix [for]="dateAdministeredHistorical"></mat-datepicker-toggle>
                  <mat-datepicker #dateAdministeredHistorical></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Source of Information:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select placeholder="Select a source" [(ngModel)]="patientImmunization.SourceOfInformation">
                    <mat-option *ngFor="let info of immSourceOfInfo" [value]="info">
                      {{info}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-label class="required">Administered:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select administered" [(ngModel)]="patientImmunization.LocationId">
                <mat-option *ngFor="let item of LocationAddress" [value]="item.LocationId">
                  {{item.LocationName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row textarea-margin">
            <mat-label>Comments:</mat-label>
            <textarea class="col-12" placeholder="Comments" [(ngModel)]="patientImmunization.Comments"></textarea>
          </div>
          <div class="row textarea-margin">
            <mat-label>Notes:</mat-label>
            <textarea class="col-12 form-control" placeholder="Notes" [(ngModel)]="patientImmunization.Notes"></textarea>
          </div>
        </div>
        <div
          [ngStyle]="{'display': patientImmunization.ImmType == 'administered' || patientImmunization.ImmType == 'historical' ? 'none' : 'block' }">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Reason Refused:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select placeholder="Select refusal reason" [(ngModel)]="patientImmunization.ReasonRefused">
                    <mat-option *ngFor="let refused of immReasonRefuseds" [value]="refused">
                      {{refused}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Reason Refused Code:</mat-label>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select placeholder="Select refusal code" [(ngModel)]="patientImmunization.ReasonCode">
                    <mat-option *ngFor="let refusedcode of immReasonRefusedsCode" [value]="refusedcode">
                      {{refusedcode}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label class="required">Date Refused:</mat-label>
                <mat-form-field appearance="outline" class="green-calendar col-12">
                  <input matInput class="pointer" autocomplete="off" [matDatepicker]="dateRefused"
                    (click)="dateRefused.open()" readonly placeholder="Date refused"
                    [(ngModel)]="patientImmunization.RefusedAt" />
                  <mat-datepicker-toggle matSuffix [for]="dateRefused"></mat-datepicker-toggle>
                  <mat-datepicker #dateRefused></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label>Status:</mat-label>
                <h4 class="mt-3">Refused</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-label class="required">Practice:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select placeholder="Select a practice" [(ngModel)]="patientImmunization.LocationId">
                <mat-option *ngFor="let item of LocationAddress" [value]="item.LocationId">
                  {{item.LocationName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row textarea-margin">
            <mat-label>Comments:</mat-label>
            <textarea class="col-12" placeholder="Comments" [(ngModel)]="patientImmunization.Comments"></textarea>
          </div>
          <div class="row textarea-margin">
            <mat-label>Notes:</mat-label>
            <textarea class="col-12 form-control" placeholder="Notes" [(ngModel)]="patientImmunization.Notes"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-green" data-bs-dismiss="modal"
          [ngStyle]="{'display': patientImmunization.ImmType == 'historical' || patientImmunization.ImmType == 'refused' ? 'none' : 'block' }"
          [disabled]="disableImmAdministered()" (click)="CreateImmunizationsAdministered()">Save</button>
        <button class="btn btn-green" data-bs-dismiss="modal"
          [ngStyle]="{'display': patientImmunization.ImmType == 'administered' || patientImmunization.ImmType == 'refused' ? 'none' : 'block' }"
          [disabled]="disableImmHistorical()" (click)="CreateImmunizationsHistorical()">Save</button>
        <button class="btn btn-green" data-bs-dismiss="modal"
          [ngStyle]="{'display': patientImmunization.ImmType == 'administered' || patientImmunization.ImmType == 'historical' ? 'none' : 'block' }"
          [disabled]="disableImmRefused()" (click)="CreateImmunizationsRefused()">
          Save</button>
        <button class="btn btn-green" data-bs-dismiss="modal" (click)="resetDialog()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Immunization table -->
<div class="modal fade" id="immunization-table-modal" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium w-100 text-center">Immunizations</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body">
        <mat-table [dataSource]="chartInfo?.Immunizations" matSort>
          <ng-container matColumnDef="VaccineDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header="VaccineDescription">Vaccine Description
            </mat-header-cell>
            <mat-cell *matCellDef="let loc">
              <a data-bs-toggle="modal" data-bs-target="#immunization-modal"
                (click)="editDialog(loc, 'immunization')">{{loc.Description}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="CVXCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header="CVXCode">CVX Code</mat-header-cell>
            <mat-cell *matCellDef="let loc">
              <a data-bs-toggle="modal" data-bs-target="#immunization-modal"
                (click)="editDialog(loc, 'immunization')">{{loc.Code}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Date">Date</mat-header-cell>
            <mat-cell *matCellDef="let loc">
              <a data-bs-toggle="modal" data-bs-target="#immunization-modal"
                (click)="editDialog(loc, 'immunization')">{{loc.AdministeredAt | date: 'MM/dd/yyyy'}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Status">Status</mat-header-cell>
            <mat-cell *matCellDef="let loc">
              <a data-bs-toggle="modal" data-bs-target="#immunization-modal"
                (click)="editDialog(loc, 'immunization')">{{loc.ImmType}}
              </a>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="immunizationColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: immunizationColumns"></mat-row>
        </mat-table>
        <div class="norecords-found" *ngIf="chartInfo?.Immunizations?.length == 0">
          No Immunizations Found
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-green" data-bs-toggle="modal" data-bs-target="#immunization-modal">Add Vaccine</button>
        <button class="btn btn-green" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Check CDS Alert -->
<div class="modal fade" id="ccda-alerts-modal" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title Helvetica-sans-serif-medium">Clinical Decision Support Alerts</p>
      <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close" >
        X
      </span>
    </div>
    <div class="modal-body">
      <p class="Helvetica-sans-serif-medium text-center">Clinical Decision Support Alerts for ID Not Found</p>
    </div>
  </div>
</div>
</div>
