<div class="chart-wrapper">
  <div class="controls-container">
    <div class="row controls">
      <div class="col-xl-6 col-lg-5 col-md-12 col-12">
        <div class="row">
          <div class="pull-left col-xl-2 col-lg-3 col-md-3 col-12">
            <div class="dropdown">
              <a class="btn btn-go-to dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-auto-close="outside">
                <span>Go to...</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li>
                  <ul class="go-to-nav">
                    <li>
                      <a>Diagnoses (Dx)</a>
                    </li>
                    <li><a>Smoking Status</a></li>
                    <li><a>Past Medical History</a></li>
                    <li><a>Advanced Directives</a></li>
                  </ul>
                  <ul class="go-to-nav">
                    <li><a>Allergies</a></li>
                    <li><a>Medications (Rx)</a></li>
                    <li><a>Immunizations</a></li>
                    <li><a>Screenings/Interventions/<br>Assessments</a></li>
                  </ul>
                  <ul class="go-to-nav">
                    <li><a>Encounters</a></li>
                    <li><a>Messages</a></li>
                    <li><a>Appointments</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="input-group new-search-group chart-patient-new-search-group col-xl-10 col-lg-9 col-md-9 col-12 mt-2 mt-md-0">
            <div class="new-search-input">
              <input type="text" name="chart_find_patient" id="chart_find_patient"
                class="new-search form-control ignore_spinner" placeholder="Search Patients...">
              <span class="input-group-addon input-group-addon-search chart-find-patient-btn"></span>
            </div>
            <!-- <div class="wrapper-for-search" id="wrapper-for-search-chart_find_patient_list" style="display: none;">
          <div class="slimScrollDiv slimScrollDiv--green-lighter"
            style="position: relative; overflow: hidden; width: 100%;">
            <ul class="new-search-results" id="chart_find_patient_list" style="overflow: hidden; width: 100%;"></ul>
            <div class="slimScrollBar"
              style="width: 20px; position: absolute; top: 0px; opacity: 1; display: block; z-index: 99; right: 5px; height: 20px;">
            </div>
            <div class="slimScrollRail"
              style="height: 100%; position: absolute; top: 0px; display: block; opacity: 1; z-index: 90; right: 10px;">
              <div class="slimRailTop" style="height: 19px; z-index: 99;"></div>
            </div>
          </div>
        </div> -->
          </div>
        </div>
      </div>
      <div class="pull-right col-xl-6 col-lg-7 col-md-12 col-12">
        <div class="row pull-right">
          <a class="btn btn-green col-lg-4 col-md-4 col-12 mt-2 mt-lg-0" id="check-alerts">Check CDS Alerts</a>
          <a class="btn btn-green col-lg-4 col-md-4 col-12 mt-2 mt-lg-0">Refresh Chart</a>
          <a class="btn btn-orange col-md-4 col-12 mt-2 mt-lg-0" data-remote="true">New
            encounter note
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="chart-tab-content">
    <div class="patientChartTab">
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-4">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title" data-bs-toggle="modal" data-bs-target="#exampleModal">Diagnoses (Dx)</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"><span><i class="fa fa-plus" data-bs-toggle="modal"
                          data-bs-target="#exampleModal"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let diagnose of allDiagnoses">
                  <li>
                    <a>
                      <span *ngIf="diagnose?.code != null && diagnose?.code !=''">
                        - {{diagnose?.code}}
                      </span>
                      <span *ngIf="diagnose?.note != null && diagnose?.note !=''">
                        - {{diagnose?.note}}
                      </span>
                    </a>
                  </li>
                  <li style="margin-left: 20px;">
                    <span *ngIf="diagnose?.start_at != null && diagnose?.start_at !=''">
                      {{diagnose?.start_at | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="diagnose?.stop_at != null && diagnose?.stop_at !=''">
                      - {{diagnose?.stop_at | date: 'MM/dd/yyyy'}}
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="allDiagnoses?.length == (0 || null || undefined)">
                  <li>
                    <span>No active Dx recorded.</span>
                  </li>
                </ul>
                <!-- <ul class="main-list">
                  <li *ngFor="let diagnose of allDiagnoses">
                    <span>- {{diagnose?.note}}</span>
                  </li>
                  <li *ngIf="allDiagnoses?.length == (0 || null || undefined)">
                    <span>No active Dx recorded.</span>
                  </li>
                </ul> -->
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-12">
                    <p class="card-title">
                      <span (click)="openComponentDialog(smokingStatusDialogComponent, null)">Smoking Status</span>
                      <span style="cursor:auto;"> and </span>
                      <span>Tobacco Use</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let smoking of smokingstatus">
                  <li>
                    <a (click)="openComponentDialog(smokingStatusDialogComponent)">
                      <span *ngIf="smoking?.effective_from != null && smoking?.effective_from !=''">
                        - {{smoking.effective_from}}
                      </span>
                      <span *ngIf="smoking?.status != null && smoking?.status !=''">
                        - {{smoking.status}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="smokingstatus?.length == (0 || null || undefined)">
                  <li>
                    <span>No smoking status recorded.</span>
                  </li>
                </ul>
                <ul class="main-list" *ngFor="let screening of tobaccoscreenings">
                  <li>
                    <a>
                      <span *ngIf="screening?.date_performed != null && screening?.date_performed !=''">
                        - {{screening.date_performed | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="screening?.description != null && screening?.description !=''">
                        - {{screening.description}}
                      </span>
                      <span *ngIf="screening?.code != null && screening?.code !=''">
                        / {{screening.code}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngFor="let interventions of tobaccointerventions">
                  <li>
                    <a>
                      <span
                        *ngIf="interventions?.cessation_intervention_date != null && interventions?.cessation_intervention_date !=''">
                        - {{interventions.cessation_intervention_date | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="interventions?.description != null && interventions?.description !=''">
                        - {{interventions.description}}
                      </span>
                      <span *ngIf="interventions?.code != null && interventions?.code !=''">
                        / {{interventions.code}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list"
                  *ngIf="tobaccoscreenings?.length == (0 || null || undefined) && tobaccointerventions?.length == (0 || null || undefined)">
                  <li>
                    <span>No smoking status recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title" data-bs-toggle="modal" data-bs-target="#exampleModal2">Past Medical History
                    </p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12">
                      <div class="edit-icon pull-right">
                        <span class="cstm-icon-pencil" data-bs-toggle="modal" data-bs-target="#exampleModal2"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let pastmedical of pastMedicalHistories">
                  <li>
                    <a>
                      <span *ngIf="pastmedical?.created_at != null && pastmedical?.created_at !=''">
                        - {{pastmedical?.created_at | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="pastmedical?.major_events != null && pastmedical?.major_events !=''">
                        - {{pastmedical?.major_events}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="pastMedicalHistories?.length == (0 || null || undefined)">
                  <li>
                    <span>No past medical history recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Advanced Directives</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12">
                      <div class="edit-icon pull-right"
                        (click)="openComponentDialog(advancedDirectivesDialogComponent, advancedDirectives[0])">
                        <span class="cstm-icon-pencil"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let directive of advancedDirectives">
                  <li>
                    <a (click)="openComponentDialog(advancedDirectivesDialogComponent, directive)">
                      <span *ngIf="directive?.RecordAt != null && directive?.RecordAt !=''">
                        - {{directive?.RecordAt | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="directive?.Notes != null && directive?.Notes !=''">
                        - {{directive?.Notes}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="advancedDirectives?.length == (0 || null || undefined)">
                  <li>
                    <span>No advanced directives recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-4">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title" data-bs-toggle="modal" data-bs-target="#exampleModal4">Allergies</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"><span><i class="fa fa-plus" data-bs-toggle="modal"
                          data-bs-target="#exampleModal4"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let allergie of allAllergies">
                  <li>
                    <a>
                      <span>- {{allergie?.note}}</span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="allAllergies?.length == (0 || null || undefined)">
                  <li>
                    <span>No active allergies recorded</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title" data-bs-toggle="modal" data-bs-target="#exampleModal5">Medications and
                      Prescription</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"><span><i class="fa fa-plus" data-bs-toggle="modal"
                          data-bs-target="#exampleModal5"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let medication of medications">
                  <li>
                    <a>
                      <span>
                        - {{medication?.name}}
                      </span>
                    </a>
                  </li>
                  <li style="margin-left: 20px;">
                    <span *ngIf="medication?.start_at != null && medication?.start_at !=''">
                      - {{medication?.start_at | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="medication?.stop_at != null && medication?.stop_at !=''">
                      - {{medication?.stop_at | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="medication?.cqm_status != null && medication?.cqm_status !=''">
                      - {{medication?.cqm_status}}
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="medications?.length == (0 || null || undefined)">
                  <li>
                    <span>No medications recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Immunizations</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"><span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let immunization of immunizations">
                  <li>
                    <a>
                      <span>
                        - {{immunization?.notes}}
                      </span>
                    </a>
                  </li>
                  <li style="margin-left: 20px;">
                    <span *ngIf="immunization?.administered_at != null && immunization?.administered_at !=''">
                      - {{immunization?.administered_at | date: 'MM/dd/yyyy'}}
                    </span>
                    <span *ngIf="immunization?.expiration_at != null && immunization?.expiration_at !=''">
                      - {{immunization?.expiration_at | date: 'MM/dd/yyyy'}}
                    </span>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="immunizations?.length == (0 || null || undefined)">
                  <li>
                    <span>No immunizations recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Screenings/Interventions/Assessments</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"
                      (click)="openComponentDialog(interventionDialogComponent, null)">
                      <span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list">
                  <li>
                    <span></span>
                  </li>
                </ul>
                <a class="view-more">view more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-4">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Encounters</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon plusicon-orange pull-right"><span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let encounter of encounters">
                  <li>
                    <a>
                      <span *ngIf="encounter?.service_at != null && encounter?.service_at !=''">
                        - {{encounter?.service_at | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="encounter?.service_end_at != null && encounter?.service_end_at !=''">
                        - {{encounter?.service_end_at | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="encounter?.reason_for_visit != null && encounter?.reason_for_visit !=''">
                        - {{encounter?.reason_for_visit}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list" *ngIf="encounters?.length == (0 || null || undefined)">
                  <li>
                    <span>No encounters recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Messages</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"><span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list">
                  <li>
                    <span></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-8 col-6">
                    <p class="card-title">Appointments</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-12 plusicon pull-right"><span><i class="fa fa-plus"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="main-list" *ngFor="let appointment of appointments">
                  <li>
                    <a>
                      <span *ngIf="appointment?.start_at != null && appointment?.start_at !=''">
                        - {{appointment?.start_at | date: 'MM/dd/yyyy'}}
                      </span>
                      <span *ngIf="appointment?.appt_status != null && appointment?.appt_status !=''">
                        - {{appointment?.appt_status}}
                      </span>
                    </a>
                  </li>
                </ul>
                <ul class="main-list">
                  <li *ngIf="appointments?.length == (0 || null || undefined)">
                    <span>No appointments recorded.</span>
                  </li>
                </ul>
              </div>
            </div>
            <a class="patient-chart" href="https://dentaltraumaguide.org/dental-guides/" target="_blank">Clinical
              Decision
              Support</a>
            <br>
            <a class="patient-chart" href="https://accessgudid.nlm.nih.gov/" target="_blank">Implantable Devices</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content body">
      <div class="modal-header header">
        <div class="col-sm-4 ">
          <h4 class="Helvetica-sans-serif-medium ">Frequently Used Dx</h4>
        </div>
        <div class="col-sm-8 row-head">
          <h4 class="Helvetica-sans-serif-medium mx-1">Record Diagnosis Dx</h4>
        </div>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 ">
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8 side-boder">
            <mat-form-field appearance="outline" class="input-field input-bg w-100 mt-3 ">
              <mat-select required>
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="input-group input-group-custom ">
              <input aria-label="Search for messages" autocomplete="off" class="form-control input-border"
                id="find-messages-input" placeholder="Search Messages">
              <span class="input-group-addon input-group-addon-right input-group-addon-search Search"
                id="find-messages-button"><i class="fa fa-search"></i></span>
            </div>
            <div class="row mt-3 mx-1 mb-3">
              <button class="btn btn-green" data-bs-toggle="modal" data-bs-target="#exampleModal1">Add
                Custom Dx</button>
              <button class="btn btn-green btn-custom" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content body">
      <div class="modal-header header">
        <div class="col-sm-4">
          <h4 class="Helvetica-sans-serif-medium ">Diagnosis (Dx)</h4>
        </div>
        <div class="col-sm-8 row-head">
          <h4 class="Helvetica-sans-serif-medium mx-1">Record Diagnosis(Dx)</h4>
        </div>
        <div>
          <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close">
            x
          </span>
        </div>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-8 side-boder">
            <mat-form-field appearance="outline" class="input-field mt-3">
              <mat-select required>
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <label>Code</label>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput placeholder="Code" name="Code" />
            </mat-form-field>
            <label>Descrption</label>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput placeholder="Descrption" name="Descrption" />
            </mat-form-field>
            <div class="row">
              <label>Start Date</label>
              <mat-form-field appearance="outline" class="green-calendar col-md-8">
                <input matInput [matDatepicker]="dp" placeholder="Start Date" name="startdate">
                <mat-datepicker-toggle matSuffix [for]="dp">
                </mat-datepicker-toggle>
                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
              </mat-form-field>
              <div class="col-lg-4">
                <button class="btn btn-green btn-today">Today</button>
              </div>
            </div>
            <div class="row">
              <label>End Date</label>
              <mat-form-field appearance="outline" class="green-calendar col-md-8">
                <input matInput [matDatepicker]="dp" placeholder="End Date" name="enddate">
                <mat-datepicker-toggle matSuffix [for]="dp">
                </mat-datepicker-toggle>
                <mat-datepicker #dp disabled="false"></mat-datepicker>
              </mat-form-field>
              <div class="col-lg-4">
                <button class="btn btn-green btn-today">Today</button>
              </div>
            </div>
            <label>Diagnosis Notes:</label>
            <textarea placeholder="Diagnosis Notes:" class="form-control col-12 mt-3 mt-md-0"></textarea>

            <div class="row links">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p>Resources:</p>
              </div>
            </div>
            <div class="row  right-block">
              <button class="btn btn-green btn-cancel mx-3 mb-3" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">Save</button>
              <button class="btn btn-green btn-cancel" data-bs-dismiss="modal" aria-label="Close"> Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="exampleModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Record Past Medical History</h4>

        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body bg-white scroolbar addlocationbody">
        <div class="col-md-12">
          <label>Major Events:</label>
          <textarea class="form-control col-12 mt-3 mt-md-0"></textarea>
        </div>
        <div class="col-md-12">
          <label>Ongoing Medical Problems:</label>
          <textarea class="form-control col-12 mt-3 mt-md-0"></textarea>
        </div>
        <div class="col-md-12">
          <div class="row card-bg mt-2">
            <div class="col-md-8 col-6">
              <p class="card-title title">Family Health History:</p>
            </div>
            <div class="col-md-4 col-6">
              <div class="col-12 plusicon pull-right"><span><i class="fa fa-plus" data-bs-toggle="modal"
                    data-bs-target="#exampleModal3"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-1">
          <label>Preventative Care:</label>
          <textarea class="form-control col-12 mt-3 mt-md-0"></textarea>
        </div>
        <div class="col-md-12">
          <label>Nutrition History:</label>
          <textarea class="form-control col-12 mt-3 mt-md-0"></textarea>
        </div>
      </div>

      <div class="row mb-3 mt-1 mx-3">
        <div class="col-md-12 locationbtns">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-green col-xl-4 col-lg-4 col-md-4 col-8 mx-2"
              data-bs-dismiss="modal">
              Save Changes
            </button>
            <button type="button" class="btn btn-lg btn-green col-xl-3 col-lg-3 col-md-3 col-5 mx-3"
              data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="exampleModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add Family Health History</h4>
        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="scroolbar">
        <div class="modal-body  colour-bg">
          <div class="row">
            <div class="col-lg-2 col-md-2 left-block">
              <div class="form-group">
                <p class="title-bold">Relative</p>
              </div>
              <div class="relative-icon">
              </div>
            </div>
            <div class="col-lg-10 col-md-10 ">
              <div class="row">
                <div class=" form-group col-lg-5 col-md-5">
                  <label>First Name</label>
                  <mat-form-field class="w-100" appearance="outline">
                    <input matInput placeholder="First Name" name="Descrption" formControlName="Descrption" />
                  </mat-form-field>
                </div>
                <div class="form-group col-lg-7 col-md-7">
                  <label>Last Name</label>
                  <mat-form-field class="w-100" appearance="outline">
                    <input matInput placeholder="Last Name" name="Descrption" formControlName="Descrption" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4 float-left">
                  <label class="title-bold">Relationship</label>
                </div>
                <div class="col-md-8">
                  <mat-form-field appearance="outline" >
                    <mat-select required>
                      <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                        {{trigger.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col-md-2">
                  <label class="title-bold">Birthdate</label>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="form-group" appearance="outline">
                    <input matInput [matDatepicker]="picker2" (click)="picker2.open()">
                    <!-- <button mat-raised-button (click)="picker.open()"></button> -->
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4 ">
                  <mat-checkbox class="col-lg-12 col-md-12 example-margin">
                    <div class="checkbox-label">Deceased</div>
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <p class="title-bold">Diagnosis</p>
          </div>
          <div>
            <ul class="diagnosis_list">
              <li>
                <p>-no existing Dx(s)</p>
              </li>
            </ul>
          </div>
          <div>
            <div class="col-md-12 mt-3 accordion">
              <div class="accordion-button collapsed panel-collapse" data-bs-toggle="collapse"
                data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                <!-- <div class="panel-body"> -->
                <p class="collaps-title">Add (Dx)</p>

                <!-- </div> -->
              </div>
            </div>
            <div class="collapse" id="collapseExample1">
              <div class="panel-expand">
                <div class="panel-body">
                  <div class="row">
                    <div class="input-group input-group-custom search-input">
                      <input aria-label="Search for messages" autocomplete="off"
                        class="new-search form-control ignore_spinner" id="find-messages-input"
                        placeholder="Search Messages">
                      <span class="input-group-addon input-group-addon-search chart-find-patient-btn"
                        id="find-messages-button"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-4 ">
                        <label class="title-bold">
                          Start Date
                        </label>
                      </div>
                      <div class="col-md-5">
                        <mat-form-field class="form-group" appearance="outline">
                          <input matInput [matDatepicker]="picker" (click)="picker.open()">
                          <!-- <button mat-raised-button (click)="picker.open()"></button> -->
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-green btn-add " [disabled]="true">Add Dx</button>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-4 ">
                        <label class="title-bold">
                          Stop Date
                        </label>
                      </div>
                      <div class="col-md-5">
                        <mat-form-field class="form-group" appearance="outline">
                          <input matInput [matDatepicker]="picker1" (click)="picker1.open()">
                          <!-- <button mat-raised-button (click)="picker.open()"></button> -->
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label>Notes:</label>
            <textarea class="form-control col-12 mt-3 mt-md-0"></textarea>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3 mx-3">
        <div class="col-md-12 locationbtns">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-green col-xl-4 col-lg-4 col-md-4 col-8 mx-2"
              data-bs-toggle="modal" data-bs-target="#exampleModal2">
              Add
            </button>
            <button type="button" class="btn btn-lg btn-green col-xl-3 col-lg-3 col-md-3 col-5 mx-3"
              data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="exampleModal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modal-box">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Record Allergy</h4>

        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body bg-white scroolbar addlocationbody">
        <div class="row mt-2">
          <div class="col-md-2  ">
            <label class="title-bold required">Allergy Type: </label>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="input-field">
              <mat-select required>
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 ">
            <label class="title-bold required">Allergen: </label>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="input-field input-bg">
              <mat-select required>
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2 ">
            <label class="title-bold required">Severity Level: </label>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="input-field">
              <mat-select required>
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2 ">
            <label class="title-bold required">Onset At: </label>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="input-field">
              <mat-select required>
                <mat-option *ngFor="let trigger of TriggerRuleDD" [value]="trigger.value">
                  {{trigger.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class=" form-group col-md-6 ">
            <label class="title-bold required">Reaction(s): </label>
            <div class="input-group input-group-custom search-input">
              <input aria-label="Search for messages" autocomplete="off" class="input-search form-control ignore_spinner"
                id="find-messages-input" placeholder="Search Messages">
              <span class="input-group-addon input-group-addon-search chart-find-patient-btn inputclass"
                id="find-messages-button"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2 ">

            <label class="title-bold required">Start Date </label>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="green-calendar input-field col-md-8">
              <input matInput [matDatepicker]="dp1" placeholder="Start Date" name="startDate">
              <mat-datepicker-toggle matSuffix [for]="dp1">
              </mat-datepicker-toggle>
              <mat-datepicker #dp1 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2 ">
            <label class="title-bold">End Date: </label>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="green-calendar input-field col-md-8">
              <input matInput [matDatepicker]="dp2" placeholder="End Date" name="endDate">
              <mat-datepicker-toggle matSuffix [for]="dp2">
              </mat-datepicker-toggle>
              <mat-datepicker #dp2 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <label class="title-bold">Notes:</label>
          <textarea class="form-control inputclass col-12 mt-3 mt-md-0"></textarea>
        </div>
      </div>

      <div class="row mb-3 mt-1 mx-2">
        <div class="col-md-12 locationbtns">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-green col-xl-4 col-lg-4 col-md-4 col-8 mx-2"
              data-bs-dismiss="modal">
              Save Changes
            </button>
            <button type="button" class="btn btn-lg btn-green col-xl-3 col-lg-3 col-md-3 col-5 mx-3"
              data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="exampleModal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modal-item ">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Record Past Medical History</h4>

        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body bg-white scroolbar addlocationbody">
        <div class="row mt-2">
          <label class="title-field">Medication Name:</label>
          <div class="col-md-9">
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Medication Name" name="medicationname:" formControlName="medicationname" />
            </mat-form-field>
          </div>
          <div class="col-md-3 mt-1 ">
            <button class="btn btn-green btn-search">Search</button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-group col-md-6">
            <label class="title-field">Rx Norm ID:</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Rx Norm ID" name="rxnormid:" formControlName="rxnormid" />
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 ">
            <label class="title-field">NDC ID:</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="NDC ID" name="ndcid:" formControlName="ndcid" />
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-group col-md-6">
            <label class="title-field">Dose and Form:</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Dose and Form" name="doseandform:" formControlName="doseandform" />
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 ">
            <label class="title-field">Dispense</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Dispense" name="dispense:" formControlName="dispense" />
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-group col-md-6">
            <label class="title-field">Units:</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Units" name="units:" formControlName="units" />
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <label class="title-field">Quantity:</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Quantity" name="quantity" formControlName="quantity" />
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
          <div class=" form-group col-md-6">
            <label class="title-field">Refills:</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Refills" name="refills:" formControlName="refills" />
            </mat-form-field>
          </div>
          <div class="form-group  col-md-6">
            <label class="title-field">Days Supply:</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Days Supply" name="dayssupply:" formControlName="dayssupply" />
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-2">
          <div class=" form-group col-md-6">
            <label class="title-field">Start Date</label>
            <mat-form-field appearance="outline" class="grey-matform grey-calendar">
              <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="picker5"
                (click)="picker5.open()" readonly placeholder="Start Date">
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="form-group  col-md-6">
            <label class="title-field">End Date</label>
            <mat-form-field appearance="outline" class="grey-matform grey-calendar ">
              <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="picker4"
                (click)="picker4.open()" readonly placeholder="End Date">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>

          </div>
        </div>
        <div class="row mt-2">
          <div class=" form-group col-md-6">
            <label class="title-field">Reasons</label>
            <mat-form-field class="input-bg w-100" appearance="outline">
              <input matInput placeholder="Reasons" name="reasons" formControlName="reasons" />
            </mat-form-field>
          </div>
          <div class="form-group mt-4 col-md-6">
            <button type="button" class="btn btn-orange btn-save" data-bs-toggle="modal"
              data-bs-target="#exampleModal6">
              Discontinue
            </button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="form-group ">
            <label class="title-bold">Patient Direction:</label>
            <textarea class="form-control inputclass col-12 mt-3 mt-md-0" placeholder="Notes"></textarea>
          </div>
        </div>
        <div class="row links-item mt-4">
          <div class="col-md-2 col-sm-3">
            <p>Resources:</p>
          </div>
          <div class="col-md-5 col-sm-5"><a class="underlined btn-modal medline-plus-link">Medline Plus</a></div>
          <div class="col-md-5 col-sm-5"><a class="underlined btn-modal" id="education_materials_show"
              data-target="#modal-education-materials" data-remote="true">Patient Education Materials</a></div>
        </div>
      </div>

      <div class="row mb-3 mt-1 mx-3">
        <div class="col-md-12 locationbtns">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-green col-xl-4 col-lg-4 col-md-4 col-8 mx-2"
              data-bs-dismiss="modal">
              Save Changes
            </button>
            <button type="button" class="btn btn-lg btn-green col-xl-3 col-lg-3 col-md-3 col-5 mx-3"
              data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="exampleModal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Record Past Medical History</h4>

        <span type="button" class="cross-mark" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body bg-white  addlocationbody">
        <div class=" form-group col-md-12 ">
          <label class="title-field">Search Reaction(s): </label>
          <div class="input-group input-group-custom search-input">
            <input aria-label="Search for messages" autocomplete="off" class="input-search form-control ignore_spinner"
              id="find-messages-input" placeholder="Search Messages">
            <span class="input-group-addon input-group-addon-search chart-find-patient-btn" id="find-messages-button"><i
                class="fa fa-search"></i></span>
          </div>
        </div>
        <div class=" form-group col-md-12">
          <label class="title-field"> Reason - Code</label>
          <mat-form-field class="input-bg input-field w-100" appearance="outline">
            <input matInput placeholder="Reason - Code" name="reasonscode" formControlName="reasonscode" />
          </mat-form-field>
        </div>
        <div class=" form-group col-md-12">
          <label class="title-field">Reason - Description</label>
          <mat-form-field class="input-bg input-field w-100" appearance="outline">
            <input matInput placeholder="Reason Description" name="reasondescription"
              formControlName="reasondescription" />
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3 mt-1 mx-2">
        <div class="col-md-12 locationbtns">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-green col-xl-3 col-lg-3 col-md-3 col-5 "
              data-bs-dismiss="modal">
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
