<!-- Add New Appointment Form-->

<!--<div class="modal fade appointment-form" id="modal-appointment-form" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<div class="modal-dialog appointment-form">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title Helvetica-sans-serif-medium">{{appointmentTitle}}</h4>
      <span type="button" class="cross-mark" (click)="close()">
        X
      </span>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <mat-label class="required">Patient :</mat-label>
          <mat-form-field appearance="outline" class="col-12 hover"
            [hidden]="data.PatientAppointment.PatientId == null">
            <input matInput placeholder="Patient Name" [(ngModel)]="PatientAppointment.PatientName"
              [ngModelOptions]="{standalone:true}" disabled class="notallowCursor">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-12 hover"
            [hidden]="data.PatientAppointment.PatientId != null">
            <input matInput #searchPatient placeholder="Patient Name" [matAutocomplete]="patients">
            <mat-autocomplete [displayWith]="displayWith" #patients="matAutocomplete"
              (optionSelected)="onPatientSelected($event)">
              <mat-option *ngIf="isLoading">Loading ...</mat-option>
              <mat-option *ngFor="let option of filteredPatients | async" [value]="option" class="medical-code-option">
                {{option.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-label class="required">Providers :</mat-label>
          <mat-form-field appearance="outline" class="col-12 hover">
            <mat-select id="practiveProviders2" placeholder="Select Provider" disableOptionCentering
              placeholder="Select Provider" [(ngModel)]="PatientAppointment.ProviderId"
              [ngModelOptions]="{standalone:true}" (selectionChange)="onProviderChangeFromAppointmentForm()">
              <mat-option *ngFor="let provider of PracticeProviders" [value]="provider.ProviderId">
                {{provider.FullName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-label class="required">Appointment Types :</mat-label>
          <mat-form-field appearance="outline" class="col-12">
            <mat-select id="selSmartAppointmentTypes" placeholder="Select Appointment Type" disableOptionCentering
              placeholder="Select Appointment Type" [(ngModel)]="PatientAppointment.AppointmentTypeId"
              [ngModelOptions]="{standalone:true}">
              <mat-option *ngFor="let appointment of AppointmentTypes" [value]="appointment.Id">
                {{appointment.AppointmentType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-label class="col-12 required">Notes</mat-label>
            <textarea class="col-12 text-area" [(ngModel)]="PatientAppointment.Notes"
              [ngModelOptions]="{standalone:true}"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 col-12">
            <mat-label class="col-12 required">Locations:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select id="selSmartLocations" placeholder="Select Location" disableOptionCentering
                [(ngModel)]="PatientAppointment.LocationId" [ngModelOptions]="{standalone:true}"
                (selectionChange)="OnLocationChange($event)">
                <mat-option *ngFor="let location of Locations" [value]="location.LocationId">{{location.LocationName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3 col-12">
            <mat-label class="col-12 required">Rooms:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select id="selSmartRooms" placeholder="Select One" disableOptionCentering
                [(ngModel)]="PatientAppointment.RoomId" (selectionChange)="ClearTimeSlots()"
                [ngModelOptions]="{standalone:true}">
                <mat-option *ngFor="let room of Rooms" [value]="room.RoomId">{{room.RoomName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <mat-label class="col-12 required">Select Date:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <input matInput class="pointer" autocomplete="off" [matDatepicker]="appointmentDate"
                (click)="appointmentDate.open()" readonly placeholder="Request Date" [min]="todayDate"
                [(ngModel)]="PatientAppointment.Startat" [ngModelOptions]="{standalone: true}" />
              <mat-datepicker-toggle matSuffix [for]="appointmentDate" dateChange="ClearTimeSlots()">
              </mat-datepicker-toggle>
              <mat-datepicker #appointmentDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-label class="required">Duration:</mat-label>
            <mat-form-field appearance="outline" class="col-12">
              <mat-select id="selSmartDurations" placeholder="Select Duration" disableOptionCentering
                [(ngModel)]="PatientAppointment.Duration" (selectionChange)="ClearTimeSlots()"
                [ngModelOptions]="{standalone:true}">
                <mat-option *ngFor="let period of PeriodsOfTimeSlots" [value]="period.Value">{{period.Text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3 pb-3" style="padding-top: 23px">
            <button class="btn btn-green col-12" style="padding-top: 1px; padding-bottom:1px; border-radius: 5px"
              (click)="LoadAvailableTimeSlots()">Find Open Time</button>
          </div>
        </div>
        <div class="available-slots">
          <div class="row">
            <p class="required">Available Time Slots (Select Only One):</p>
            <span id="spantimeSlots" *ngIf="showHideMessage$ | async">{{messageToShowTimeSlots}}</span>
            <div class="col-lg-4 col-md-3 col-12 pb-3" *ngFor="let slot of AvaliableTimeSlots">
              <button class="btn col-12 timeslots" [class.timeslot-selected]="slot === this.PatientAppointment.TimeSlot"
                type="button" (click)="onTimeSlotSelect(slot)">
                <span>{{slot.TimeSlot}}</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-md-between">
      <div style="width:100%">
      <div style="float:left">
        <button class="btn btn-default  btn-appointment-cancel-right"
          [hidden]="PatientAppointment.AppointmentId == null" (click)="cancelAppointment()">Cancel</button>
      </div>
      <div style="float:right;">
        <button class="btn btn-green px-lg-5 px-3" [disabled]="DiabledAppointmentSave()"
          (click)="onAppointmentSave()">Save
          Appointment</button>
        <button id="appointmentClose" class="btn btn-green px-lg-3 px-2 mx-3" (click)="close()">
          Close
        </button>
      </div>
    </div>
    </div>
  </div>
</div>


