@import "../../../assets/common.scss";

.modal-dialog {
  overflow-y: initial !important;
  max-width: inherit !important;
  // margin: 0 !important;
  //margin-top: -115px;
}
.modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
}
.modal-content{
  max-width: 660px;
  margin: auto;
}
.modal-header{
  margin-right: -1px;
}
.appointment-form .text-area {
  height: 100px;
  border-radius: 4px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding: 0 20px;
  color: #74757e;
  border: 1px solid #dedede;
  background-color: #f5f5f5;
}
.appointment-form .text-area:hover {
  border: 1px solid #41b6a6;
}
.appointment-form mat-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 3px;
  font-weight: 700;
}
.available-slots {
  border: 1px solid #41b6a6;
  padding: 30px 25px 15px 20px;
  border-radius: 4px;
  background-color: rgba(65,182,166,0.1);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #41b6a6 !important;
  background-color: #fff;
  height: 45px;
}
.btn.btn-green{
  min-height: 45px;
}
.btn-appointment-cancel-right{
  margin-right: 144px;
  display: flow-root;
  float: inherit;
  margin-left: -6px;
  padding: 10px !important;
  border: 1px solid #d64841 !important;
}
.btn-appointment-cancel-right:hover{
  background-color: #d64841 !important;
  color: white !important;
}
/*
::ng-deep div#practiveProviders2-panel.mat-select-panel,
::ng-deep div#selSmartAppointmentTypes-panel.mat-select-panel,
::ng-deep div#selSmartLocations-panel.mat-select-panel,
::ng-deep div#selSmartRooms-panel.mat-select-panel,
::ng-deep div#selSmartDurations-panel.mat-select-panel{

  border-radius: 4px;
  border: 1px solid #41b6a6;
  position: absolute !important;
 // top: 28px !important;
  min-width: calc(100% + 18px) !important;
  margin-left: -9px;
}

::ng-deep div#practiveProviders2-panel mat-option.mat-option,
::ng-deep div#selSmartAppointmentTypes-panel mat-option.mat-option,
::ng-deep div#selSmartLocations-panel mat-option.mat-option,
::ng-deep div#selSmartRooms-panel.mat-select-panel,
::ng-deep div#selSmartDurations-panel.mat-select-panel{
  border: 1px solid white !important;

}

::ng-deep div.mat-calendar-content table.mat-calendar-table td.mat-calendar-body-disabled{
  color: #ccc;
}*/

span#spantimeSlots{
  color: #F75857;
}

button.timeslot-selected{
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #41b6a6;
}
.timeslots{
  font-size: 12px;
  padding: auto;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: 1px solid #41b6a6;

}

.timeslots:hover{
  border: 1px solid #41b6a6;
  background-color: #41b6a6;
  color: #fff;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #41b6a6;
}

// /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
