<div class="patients-wrapper">
  <div class="container-fluid-full" style="margin-top: -18px;">
    <!-- <app-patients-bread-crum></app-patients-bread-crum> -->

    <div class="patients-navigation">
      <patient-breadcrumb></patient-breadcrumb>
    </div>
    <div class="patients-navigation-info bg-color" style=" clear: both;">{{paginator.pageIndex * paginator.pageSize+1}} - {{paginator.pageIndex * paginator.pageSize+paginator.pageSize}} of {{paginator.length}}  PATIENTS</div>
    <div class="content" style=" clear: both;">
      <div class="row controls">
        <div class="col-xl-7 col-lg-7 col-md-7" style="display: inherit;">


          <div class="col-xl-6 col-lg-6 col-md-6 patients-search">
            <mat-form-field appearance="outline" class="input-search col-xl-8 col-lg-8 col-md-8 col-8">
              <mat-label>Search Patient With Name or Phone Number</mat-label>
              <input matInput #SearchPatient autocomplete="off" placeholder="Search by name or phone number"
               />
            </mat-form-field>
            <!-- <button class="btn-search col-xl-1 col-lg-2 col-md-1 col-2">
              <mat-icon>search</mat-icon>
            </button> -->
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 pb-3 pb-lg-0" style="margin-right: 10px;">
            <mat-checkbox class=" col-lg-12 col-md-9 col-12 pull-right" (change)="showInactivePatients($event)">
              Show Inactive
            </mat-checkbox>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <mat-form-field appearance="outline" class="col-12 hover">
              <mat-select placeholder="All Providers" disableOptionCentering>
                <mat-option *ngFor="let providers of PracticeProviders" [value]="providers.ProviderId">
                  {{providers.FullName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3"></div>
        <div class="col-xl-2 col-lg-2 col-md-2 pb-3 pb-lg-0">
          <button mat-button class="btn btn-orange pull-right Helvetica-sans-serif-medium"
            (click)="openComponentDialog(patientDialogComponent)">
            Add Patient
          </button>
        </div>
      </div>
      <div class="patients scrollable-mat-table">
        <div class="spinner-container" *ngIf="patientsDataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div><!-- [dataSource]="patientsList.data | search: keys: searchName: filter | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"-->

        <mat-table [dataSource]=patientsDataSource
          matSort matSortActive="LastAccessed" matSortDirection="desc" matSortDisableClear>
          <ng-container matColumnDef="Image">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef>
              <a routerLink="/provider/patientdetails">
                <img class="avatar mx-2" src="assets/images/avatar-empty.svg" alt="Avatar empty">
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="First">
            <mat-header-cell *matHeaderCellDef mat-sort-header="FirstName">FIRST</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <a (click)="onChangeViewState(patient)">{{patient?.FirstName}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Middle">
            <mat-header-cell *matHeaderCellDef> MIDDLE</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <a routerLink="provider/patientdetails">{{patient?.MiddleName}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Last">
            <mat-header-cell *matHeaderCellDef mat-sort-header="LastName">LAST</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <a routerLink="provider/patientdetails">{{patient?.LastName}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="DOB">
            <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <span>
                {{patient?.Dob}}
                <br>
                {{patient?.Gender}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Age">
            <mat-header-cell *matHeaderCellDef>AGE
            </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient?.Age}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ContactInfo">
            <mat-header-cell *matHeaderCellDef>CONTACT INFO</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <span>
                {{patient?.MobilePhone}}
                <br>
                {{patient?.Email}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LastAccessed">
            <mat-header-cell *matHeaderCellDef mat-sort-header="LastAccessed">LAST ACCESSED</mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient?.LastAccessed}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Created">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Created">CREATED</mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient?.Created}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Select">
            <mat-header-cell class="justify-content-center" *matHeaderCellDef>SELECT
            </mat-header-cell>
            <mat-cell class="justify-content-center" *matCellDef="let patient">
              <mat-checkbox class="" [checked]="patient?.active">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="patientColumns" class="mat-cust-header"></mat-header-row>
          <mat-row *matRowDef="let row; columns: patientColumns;">
          </mat-row>
        </mat-table>
        <div class="norecords-found" *ngIf="patientsDataSource.TotalRecordSize == 0">
          No Patients Found
        </div>
      </div>
      <div class="d-flex justify-content-end my-3">
        <div class="pg-container">
          <mat-paginator appPagination
             [length]="patientsDataSource.TotalRecordSize" pageSize="10" [pageIndex] = "0"
             [pageSizeOptions]="[10,20,30,40,50]"  >
            </mat-paginator>
          </div>
      </div>
    </div>
  </div>
</div>
