<div class="smartschedule-wrapper">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="smart-schedule-logo">
          <img alt="" class="img-responsive imgsmartlogo col-md-2 col-3" src="assets/images/SmartSchedule.png" />
          <p class="logotext col-md-10 col-sm-9 col-8">Smart Schedule</p>
        </div>
      </div>
      <div class="row">
        <div class="smart-schedule-header mt-2 mt-lg-0">
          <div class="row" style="align-items: center">
            <div class="col-xl-2 col-lg-4 col-md-6 col-12 appointment-filter-datestring-bar">
              <b>{{ selectedWeekday }}</b>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-6 col-12 appointment-filter-date-bar pt-2 pt-md-0">
              <div class="buttons">
                <button class="button is-primary bg-color lte" (click)="DateUpDown('movedown')">&lt;</button>
                <mat-form-field class="cstm-width smart-schedule-datepicker" appearance="fill">
                  <input hidden matInput [matDatepicker]="picker" (dateChange)="selectedCalendarDate($event)" />
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button aria-hidden="true" class="is-primary bg-color button fa fa-calendar"
                (click)="picker.open()"></button>
                <button class="button is-primary bg-color gte" (click)="DateUpDown('moveup')">&gt;</button>
              </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-6 col-12 appointment-filter-count-bar">
              <b>{{NoofAppointment}}</b> Appointment(s)
            </div>
            <div class="col-xl-1 col-lg-2 col-md-6 col-12 appointment-filter-dropdown-bar">
              <mat-form-field appearance="outline" class="col-12 smart-schedule-dropdown">
                <mat-select disableOptionCentering id="practiceProviders" placeholder="Select Provider"
                  [(ngModel)]="SelectedProviderId" (selectionChange)="onProviderChange()">
                  <mat-option value='' selected>View All Providers</mat-option>
                  <mat-option *ngFor="let provider of PracticeProviders" [value]="provider.ProviderId">
                    {{provider.FullName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <mat-accordion class="schedule-accordion" >
          <mat-expansion-panel #panel1 [expanded]="togglePanel === 0" hideToggle  >
            <mat-expansion-panel-header class="bg-color" >
              <mat-panel-title (click)="$event.stopPropagation()" style="cursor:default">
                Upcoming Appointments
              </mat-panel-title>
              <i class="fa" [class.fa-compress] = "panel1.expanded" (click)="AppointmentToggleView()"
              [class.fa-expand] = "!panel1.expanded" style="padding-top:6px"></i>
            </mat-expansion-panel-header>
            <div class="scrollable-table" style="overflow-y:auto;overflow-x:hidden">
              <div class="table-container">
                <div class="table-appointments-for-today table table-dashboard finished_appointments">
                  <div class="row text-center table-header">
                    <div class="col-md-1 col-1">Time</div>
                    <div class="col-md-2 col-2 patient">Patient Info</div>
                    <div class="col-md-2 col-2 provider">Provider</div>
                    <div class="col-md-3 col-3">Visit Status</div>
                    <div class="col-md-1 col-1 appt-type" style="white-space:nowrap">Appointment Type</div>
                    <div class="col-md-2 col-2 appointment-note">Notes</div>
                    <div class="col-md-1 col-1">Encounter</div>
                  </div>
                  <div class="noappintment" *ngIf="!hasActiveAppointments">
                    You don't have any appointments for today
                  </div>

                  <div class="row text-center table-body"  *ngFor="let appointment of Appointments" [ngStyle]="{display:appointment.IsCurrent?'inline-flux':'none'}">
                    <div class="col-md-1 col-1 appointment-time appintment-link" *ngIf="appointment.IsCurrent"
                      (click)="openComponentDialog(appointmentDialogComponent,appointment,ActionsType.view)">
                      {{appointment.AppointmentTime | date:'MM/dd/yyyy'}}
                      &nbsp;
                      Time: {{appointment.AppointmentTime | date:'hh:mm a'}}
                    </div>
                    <div class="col-md-2 col-2 appintment-link" *ngIf="appointment.IsCurrent"
                      (click)="onPatientSelection(appointment)">
                      <div>{{appointment.PatientName}}</div>
                      <div>DOB: {{appointment.DateofBirth | date:'MMM d, y'}}</div>
                      <div *ngIf="appointment.PrimaryPhone">H: {{appointment.PrimaryPhone}}</div>
                      <div *ngIf="appointment.MobilePhone">M: {{appointment.MobilePhone}}</div>
                      <div *ngIf="appointment.ContactEmail">M: {{appointment.ContactEmail}}</div>
                      <div *ngIf="appointment.Email">E:{{appointment.Email}}</div>
                    </div>
                    <div class="col-md-2 col-2 provider" *ngIf="appointment.IsCurrent" >{{appointment.ProviderName}}</div>
                    <div class="col-md-3 col-3 visit-status" *ngIf="appointment.IsCurrent">
                      <img [class]="appointment.Status == 'Not Confirmed' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" [class.show-hover] = "appointment.IsCurrent"
                      src="assets/images/smart-schedule/user.svg" title="Request" />
                      <img [class]="appointment.Status == 'Scheduled' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" [class.show-hover] = "appointment.IsCurrent"
                        src="assets/images/smart-schedule/scheduled.svg" title="Scheduled" (click)="updateAppointmentStatusDirect(appointment,'Scheduled')" />
                      <img [class]="appointment.Status == 'Confirmed' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/waiting.svg"
                        title="Waiting" (click)="updateAppointmentStatusDirect(appointment,'Confirmed')" [class.show-hover] = "appointment.IsCurrent"/>
                      <img [class]="appointment.Status == 'In-Progress' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/in_progress.svg"
                        title="In-Progress" (click)="updateAppointmentStatusDirect(appointment,'In-Progress')"  [class.show-hover] = "appointment.IsCurrent"/>
                      <img [class]="appointment.Status == 'Completed' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/completed.svg"
                        title="Completed" (click)="openComponentDialog(completeAppointmentDialogComponent,appointment,ActionsType.view,'Completed')" [class.show-hover] = "appointment.IsCurrent"/>
                      <img [class]="appointment.Status == 'Cancelled' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/cancel.svg"
                        title="Cancelled" (click)="openComponentDialog(completeAppointmentDialogComponent,appointment,ActionsType.view,'Cancelled')" [class.show-hover] = "appointment.IsCurrent"/>
                      <img [class]="appointment.Status == 'No-Show' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/no_show.svg"
                        title="No-Show" (click)="openComponentDialog(completeAppointmentDialogComponent,appointment,ActionsType.view,'No-Show')" [class.show-hover] = "appointment.IsCurrent"/>
                    </div>
                    <div class="col-md-1 col-1 appt-type" *ngIf="appointment.IsCurrent">{{appointment.AppointmentType}}</div>
                    <div class="col-md-2 col-2 appointment-note" *ngIf="appointment.IsCurrent">
                      {{appointment.Notes}}
                    </div>
                    <div class="col-md-1 col-1 " *ngIf="appointment.IsCurrent">
                      <button class="btn btn-orange btn-encounter-padding" type="button" (click)="openComponentDialog(encounterDialogComponent,appointment,ActionsType.view)">
                        Record Encounter
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel #panel2 [expanded]="togglePanel2 === 1" hideToggle class="mt-1">
            <mat-expansion-panel-header class="bg-color">
              <mat-panel-title (click)="$event.stopPropagation()" style="cursor:default"> Finished Appointments </mat-panel-title>
              <i class="fa" [class.fa-compress] = "panel2.expanded" (click)="AppointmentToggleView()"
              [class.fa-expand] = "!panel2.expanded" style="padding-top:6px"></i>
            </mat-expansion-panel-header>

            <div class="scrollable-table" style="overflow-y:auto;overflow-x:hidden">
              <div class="table-container">
                <div class="table-appointments-for-today table table-dashboard finished_appointments">
                  <div class="row text-center table-header">
                    <div class="col-md-1">Time</div>
                    <div class="col-md-2 patient">Patient Info</div>
                    <div class="col-md-2 provider">Provider</div>
                    <div class="col-md-3">Visit Status</div>
                    <div class="col-md-1 appt-type" style="white-space:nowrap">Appointment Type</div>
                    <div class="col-md-2 appointment-note">Notes</div>
                    <div class="col-md-1">Encounter</div>
                  </div>
                  <div class="noappintment" *ngIf="!hasFinishedAppointments">
                    You don't have any appointments for today
                  </div>
                  <div class="row text-center table-body" *ngFor="let appointment of Appointments" [ngStyle]="{display:appointment.IsPast?'inline-flux':'none'}">

                      <div class="col-md-1 col-1 appointment-time " *ngIf="appointment.IsPast">
                        {{appointment.AppointmentTime | date:'MM/dd/yyyy'}}
                        &nbsp;
                        Time: {{appointment.AppointmentTime | date:'hh:mm a'}}

                      </div>
                      <div class="col-md-2 col-2 appintment-link" *ngIf="appointment.IsPast"
                        (click)="onPatientSelection(appointment)">
                        <div>{{appointment.PatientName}}</div>
                        <div>DOB: {{appointment.DateofBirth | date:'MMM d, y'}}</div>
                        <div> H: {{appointment.PrimaryPhone}}</div>
                          <div>M: {{appointment.MobilePhone}}</div>
                          <div>E:{{appointment.Email}}</div>
                      </div>
                      <div class="col-md-2 col-2 provider" *ngIf="appointment.IsPast">{{appointment.ProviderName}}</div>
                      <div class="col-md-3 col-3 visit-status" *ngIf="appointment.IsPast">
                        <img [class]="appointment.Status == 'Not Confirmed' ? 'img-smart-status-highlight' : 'img-smart-status-dim'"
                        src="assets/images/smart-schedule/user.svg" title="Request" />
                        <img class="img-smart-status-dim"
                          src="assets/images/smart-schedule/scheduled.svg" title="Scheduled" />
                        <img class="img-smart-status-dim" src="assets/images/smart-schedule/waiting.svg"
                          title="Wating"  />
                        <img class="img-smart-status-dim" src="assets/images/smart-schedule/in_progress.svg"
                          title="In-Progress" />
                        <img [class]="appointment.Status == 'Completed' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/completed.svg"
                          title="Completed" />
                        <img [class]="appointment.Status == 'Cancelled' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/cancel.svg"
                          title="Cancelled"/>
                        <img [class]="appointment.Status == 'No-Show' ? 'img-smart-status-highlight' : 'img-smart-status-dim'" src="assets/images/smart-schedule/no_show.svg"
                          title="No-Show"/>
                      </div>
                      <div class="col-md-1 col-1 appt-type" *ngIf="appointment.IsPast">{{appointment.AppointmentType}}</div>
                      <div class="col-md-2 col-2 appointment-note" *ngIf="appointment.IsPast">
                        {{appointment.Notes}}
                      </div>
                      <div class="col-md-1 col-1 " *ngIf="appointment.IsPast">
                        <button class="btn btn-orange btn-encounter-padding" type="button" (click)="openComponentDialog(encounterDialogComponent,appointment,ActionsType.view)">
                          Record Encounter
                        </button>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
      <patient-schedule [SelectedProviderId]="SelectedProviderId"
      [SelectedLocationId]="SelectedLocationId"
      [PracticeProviders]="PracticeProviders"
      [AppointmentTypes]="AppointmentTypes"
      [Locations]="Locations"
      [Rooms]="Rooms"
      SwitchUrl="/provider/calendar"
      [PatientAppointment]="PatientAppointment"
      (RefreshParentView)="RefreshAppointments($event)"></patient-schedule>
      <!-- <div class="row">
        <div class="schedule-bottom">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-12">
              <div class="form-group">
                <div class="input-group smartview-patient-search-result" appearance="outline" class="new-search col-12">
                  <input class="form-control new-search" [matAutocomplete]="patientSerarch"
                    placeholder="Schedule Appointment ( Enter a patient's name or phone number )" type="text"
                    [(ngModel)]="patientNameOrCellNumber" (keyup)="searchPatient(patientNameOrCellNumber)" />
                    <mat-autocomplete  #patientSerarch="matAutocomplete"  [displayWith]="displayPatient"
                    (optionSelected)="onPatientSelected($event)" >
                  <mat-option *ngFor="let patient of patients" [value]="patient" class="patient-search-option patient-search-option-menu-item">
                    {{patient.Name}},
                    {{patient.DateofBirth | date: 'MM/dd/yyyy'}} , {{patient.Age +' Year(s)'}} ,
                    {{patient.PrimaryPhone ? 'P:'+patient.PrimaryPhone : ''}},
                    {{patient.MobilePhone ? 'H:'+patient.MobilePhone : ''}},
                    {{patient.NumberOfAppointments+' Appointment(s)'}}
                  </mat-option>
                </mat-autocomplete>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-12 my-2 my-md-0">
              <button mat-button class="btn patientbtn col-12" type="button"
                (click)="openComponentDialog(patientDialogComponent)">
                Add New Patient
              </button>
            </div>
            <div class="col-lg-2 col-md-3 col-12">
              <a routerLink="/provider/calendar">
                <button mat-button class="btn switchbtn col-12">
                  Switch View
                </button>
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
