<div class="smartschedule-wrapper">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="smart-schedule-logo">
          <img alt="" class="img-responsive imgsmartlogo col-md-2 col-3"
            src="../../../assets/images/SmartSchedule.png" />
          <p class="logotext col-md-10 col-sm-9 col-8">Smart Schedule</p>
        </div>
      </div>
      <div class="row">
        <div class="smart-schedule-header mt-2 mt-lg-0">
          <div class="row" style="align-items: center">
            <div class="col-xl-2 col-lg-3 col-md-6 col-12 appointment-filter-datestring-bar">
              <!-- <b>Thursday, March 10th 2022</b> -->
              <b>{{ selectedWeekday }}</b>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-6 col-12 appointment-filter-date-bar pt-2 pt-md-0">
              <div class="buttons ">
                <button class="button is-primary bg-color lte" (click)="DateUpDown('movedown')">&lt;</button>
                <mat-form-field class="cstm-width" appearance="fill">
                  <!-- <mat-label>Choose a date</mat-label> -->
                  <input hidden matInput [matDatepicker]="picker" (dateChange)="selectedCalendarDate($event)" />
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <button mat-raised-button class="is-primary button fa fa-calendar" (click)="picker.open()"></button> -->
                <button aria-hidden="true" class="is-primary bg-color button fa fa-calendar"
                  (click)="picker.open()"></button>
                <button class="button is-primary bg-color gte" (click)="DateUpDown('moveup')">&gt;</button>
              </div>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-6 col-12 appointment-filter-count-bar">
              <b>{{NoofAppointment}}</b> Appointment(s)
            </div>
            <div class="col-xl-1 col-lg-2 col-md-6 col-12 appointment-filter-dropdown-bar">
              <mat-form-field appearance="outline" class="col-12 smart-schedule-dropdown">
                <mat-select disableOptionCentering id="practiceProviders" placeholder="Select Provider"
                  [(ngModel)]="SelectedProviderId" (selectionChange)="onProviderChange()">
                  <mat-option *ngFor="let provider of PracticeProviders" [value]="provider.ProviderId">
                    {{provider.FullName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <mat-accordion class="schedule-accordion">
          <mat-expansion-panel #panel1 [expanded]="true" hideToggle>
            <mat-expansion-panel-header class="bg-color">
              <mat-panel-title (click)="$event.stopPropagation()">
                Upcoming Appointments
              </mat-panel-title>
              <i ngClass="{{
                  panel1.expanded ? 'fa fa-compress' : 'fa fa-expand'
                }}"></i>
            </mat-expansion-panel-header>
            <div class="scrollable-table">
              <div class="table-container">
                <div class="table-appointments-for-today table table-dashboard finished_appointments">
                  <div class="row text-center table-header">
                    <div class="col-md-1 col-1 appointment-time">Time</div>
                    <div class="col-md-2 col-2 patient">Patient Info</div>
                    <div class="col-md-2 col-2 provider">Provider</div>
                    <div class="col-md-2 col-2">Visit Status</div>
                    <div class="col-md-2 col-2 appt-type">Appointment Type</div>
                    <div class="col-md-2 col-2 appointment-note">Notes</div>
                    <div class="col-md-1 col-1">Encounter</div>
                  </div>
                  <div class="row text-center table-body" *ngFor="let appointment of Appointments">
                    <div class="col-md-1 col-1 appointment-time appintment-link"
                      (click)="openComponentDialog(appointmentDialogComponent,appointment,ActionsType.view)">
                      {{appointment.AppointmentTime | date:'MM/dd/yyyy'}}
                      &nbsp;
                      Time: {{appointment.AppointmentTime | date:'hh:mm a'}}
                    </div>
                    <div class="col-md-2 col-2 appintment-link"
                      (click)="openComponentDialog(appointmentDialogComponent,appointment,ActionsType.view)">
                      <div>{{appointment.PatientName}}</div>
                      <div>DOB: {{appointment.DateofBirth | date:'MMM d, y'}}</div>
                    </div>
                    <div class="col-md-2 col-2 provider">{{appointment.ProviderName}}</div>
                    <div class="col-md-2 col-2 visit-status">

                      <img [class]="appointment.Status == 'Scheduled' ? 'img-smart-status' : 'img-smart-status-path'"
                        src="../../../assets/images/smart-schedule/scheduled.svg" title="Scheduled" />
                      <img class="img-smart-status" src="../../../assets/images/smart-schedule/waiting.svg"
                        title="Wating" />
                      <img class="img-smart-status" src="../../../assets/images/smart-schedule/in_progress.svg"
                        title="In-Progress" />
                      <img class="img-smart-status" src="../../../assets/images/smart-schedule/completed.svg"
                        title="Completed" />
                      <img class="img-smart-status" src="../../../assets/images/smart-schedule/cancel.svg"
                        title="Cancel" />
                      <img class="img-smart-status" src="../../../assets/images/smart-schedule/no_show.svg"
                        title="No-Show" />
                    </div>
                    <div class="col-md-2 col-2 appt-type">{{appointment.AppointmentType}}</div>
                    <div class="col-md-2 col-2 appointment-note">
                      {{appointment.Notes}}
                    </div>
                    <div class="col-md-1 col-1">
                      <button class="btn btn-orange" type="button" data-bs-toggle="modal"
                        data-bs-target="#modal-patient-add-encounter">
                        Record Encounter
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel #panel2 [expanded]="false" hideToggle class="mt-1">
            <mat-expansion-panel-header class="bg-color">
              <mat-panel-title> Finished Appointments </mat-panel-title>
              <i ngClass="{{
                  panel2.expanded ? 'fa fa-compress' : 'fa fa-expand'
                }}"></i>
            </mat-expansion-panel-header>
            <div class="scrollable-table">
              <div class="table-container">
                <div class="table-appointments-for-today table table-dashboard finished_appointments">
                  <div class="row text-center table-header">
                    <div class="col-md-1 appointment-time">Time</div>
                    <div class="col-md-2 patient">Patient Info</div>
                    <div class="col-md-2 provider">Provider</div>
                    <div class="col-md-2">Visit Status</div>
                    <div class="col-md-2 appt-type">Appointment Type</div>
                    <div class="col-md-2 appointment-note">Notes</div>
                    <div class="col-md-1">Encounter</div>
                  </div>
                  <div class="text-center table-body">
                    <div class="content message-empty">
                      <p>You don't have any appointments for today</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!--<app-drop-down-search [Values]="Locations" (searchTextChanged)="onSeachTextChanged($event)"
  (selectedOptionChanged)="onSelectedOptionChanged($event)"></app-drop-down-search>-->
      </div>

      <div class="row">
        <div class="schedule-bottom">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-12">

              <div class="form-group">
                <div class="input-group" appearance="outline" class="new-search col-12">
                  <input class="form-control new-search"
                    placeholder="Schedule Appointment ( Enter a patient's name or phone number )" type="text"
                    [(ngModel)]="patientNameOrCellNumber" (keyup)="searchPatient(patientNameOrCellNumber)" />
                </div>
              </div>
              <div class="smartview-patient-search-result" *ngIf="flag" appearance="outline" [ngStyle]="psw">
                <ul class="ui-widget">
                  <li *ngFor="let patient of patients" class="ui-menu-item"
                    (click)="openComponentDialog((patient.NumberOfAppointments == 0 ? appointmentDialogComponent : upcomingAppointmentsDialogComponent),patient,PatinetActions(patient))">

                    {{patient.Name}},
                    {{patient.DateofBirth | date: 'MM/dd/yyyy'}}-{{patient.Age}} :-
                    {{patient.NumberOfAppointments}}

                  </li>
                  <!--  data-bs-toggle="modal" [attr.data-bs-target]="patient.NumberOfAppointments == 0 ? '#modal-appointment-form' : '#modal-existingappointment-form'"-->
                </ul>
              </div>

            </div>
            <div class="col-lg-2 col-md-3 col-12 my-2 my-md-0">
              <button mat-button class="btn patientbtn col-12" type="button"
                (click)="openComponentDialog(patientDialogComponent)">
                Add New Patient
              </button>
            </div>
            <div class="col-lg-2 col-md-3 col-12">
              <a routerLink="/provider/calendar">
                <button mat-button class="btn switchbtn col-12">
                  Switch View
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Encounter Modal -->
<div class="modal fade" id="modal-patient-add-encounter" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title col-11" id="staticBackdropLabel">
          Encounter Note - Testr t - CD Tustin Park
        </h3>
        <span type="button" class="cross-mark col-1" data-bs-dismiss="modal" aria-label="Close">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12 encounder-top">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="row">
                <div class="col-xl-4">
                  <p class="col-12">Date of Service:</p>
                </div>
                <div class="col-xl-4">
                  <mat-label class="col-12">Start Date</mat-label>
                  <mat-form-field appearance="outline" class="col-12 cstm-datepicker-toggle">
                    <input matInput class="pointer" autocomplete="off" [matDatepicker]="startDate"
                      (click)="startDate.open()" readonly placeholder="Start Date" />
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-4">
                  <mat-label class="col-12">End Date</mat-label>
                  <mat-form-field appearance="outline" class="col-12 cstm-datepicker-toggle">
                    <input matInput class="pointer" autocomplete="off" [matDatepicker]="endDate"
                      (click)="endDate.open()" readonly placeholder="End Date" />
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="row">
                <div class="col-xl-3">
                  <p>Provider:</p>
                </div>
                <div class="col-xl-8">
                  <mat-form-field appearance="outline" class="col-10 hover cstm-mat-padding">
                    <mat-select placeholder="Select One" disableOptionCentering id="ePracticeProviders"
                      placeholder="Select Provider">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let provider of PracticeProviders" [value]="provider">{{provider.FullName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="scrollable-mat-tabs"> -->
        <div class="encounter-navigation">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Meaningful Use" class="mat-ink-bar">
              <div class="encounter-tab-content">
                <div class="encounter-tab-pane" id="meaningful_use_tab">
                  <div class="content">
                    <div class="row area-text">
                      <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                        <span>Reason for visit:</span>
                      </div>
                      <div class="col-xl-10 col-lg-9 col-md-8 col-12">
                        <textarea matInput></textarea>
                      </div>
                    </div>
                    <div class="row area-text">
                      <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                        <span>Clinical Instructions:</span>
                      </div>
                      <div class="col-xl-10 col-lg-9 col-md-8 col-12">
                        <textarea matInput></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 displayFlex" style="padding: 10px">
                        <mat-checkbox class="encounter-checkbox">Patient Education Resources Provided</mat-checkbox>
                        <span class="popupInfoBox">
                          <div class="popup-info-button icon icon-xs icon-circle icon-ic-help" placement="auto"
                            [ngbTooltip]="tipContent" tooltipClass="my-custom-class" [autoClose]="false"></div>
                          <ng-template #tipContent>
                            Check this box IF this patient was provided
                            instruction or resources on self-care via any
                            mechanism (i.e word of mouth, email, digital copy,
                            pamphlet, etc).
                          </ng-template>
                          <!-- <div class="popup-info-box" id="popup" style="display: none;">Check this box IF this patient
                            was
                            provided instruction or resources on self-care via any mechanism (i.e word of mouth, email,
                            digital copy, pamphlet, etc).</div> -->
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-12" style="padding: 7px 10px">
                        <mat-checkbox class="encounter-checkbox">Medication Reconciliation Completed</mat-checkbox>
                        <span class="popupInfoBox">
                          <div class="popup-info-button icon icon-xs icon-circle icon-ic-help" placement="top"
                            [ngbTooltip]="tipContent2" tooltipClass="my-custom-class"></div>
                          <ng-template #tipContent2>
                            Check this box IF this patient was referred to you
                            from an outside source. IF you check this box,
                            please go to the referral tab, check referred
                            from, and input the source of the referral (i.e
                            Dr. Smith DDS).
                          </ng-template>
                        </span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12">
                        <mat-form-field appearance="outline" class="col-xl-11 col-lg-10 col-md-9 col-9">
                          <input matInput autocomplete="off" placeholder="Discharge Status (SMOMED)" />
                        </mat-form-field>
                        <button class="btn-search col-xl-1 col-lg-2 col-md-3 col-3">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <mat-checkbox class="encounter-checkbox">Health Information Exchange</mat-checkbox>
                        <span class="popupInfoBox">
                          <div class="popup-info-button icon icon-xs icon-circle icon-ic-help" placement="top"
                            [ngbTooltip]="tipContent3" tooltipClass="my-custom-class"></div>
                          <ng-template #tipContent3>
                            Check this box IF this patient was referred to an
                            outside source. IF you check this box, please go
                            to the referral tab, check referred to, and input
                            where/who you are referring them to (i.e Dr. Smith
                            DDS).
                          </ng-template>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-12" style="padding: 10px 15px">
                        <div class="col-12">
                          <b class="col-12" style="font-weight: normal">Current Medications Documented</b>
                        </div>
                        <mat-radio-group class="col-12">
                          <mat-radio-button [value]="1"></mat-radio-button>Yes
                          <mat-radio-button [value]="2"></mat-radio-button>No
                        </mat-radio-group>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12">
                        <mat-form-field appearance="outline" class="col-xl-11 col-lg-10 col-md-9 col-9">
                          <input matInput autocomplete="off" />
                        </mat-form-field>
                        <button class="btn-search col-xl-1 col-lg-2 col-md-3 col-3">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-12">
                        <div class="row">
                          <div class="col-xl-4 col-lg-6 col-md-6 col-12" style="padding: 20px">
                            <span>Encounter Code:</span>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <mat-form-field appearance="outline" class="col-lg-12 col-12">
                              <input matInput autocomplete="off" placeholder="Discharge Status (SMOMED)" />
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <button class="btn col-12">
                              Reason Not Performed
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                        <div class="row">
                          <div class="col-lg-6" style="padding: 20px">
                            <span>Encounter Code Description:</span>
                          </div>
                          <div class="col-lg-6 area-text">
                            <textarea matInput placeholder="Office or Other Outpatient Visit."></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Referral">
              <div class="encounter-tab-content">
                <div class="encounter-tab-pane" id="referral_tab">
                  <div class="content">
                    <div class="row area-text">
                      <div class="col-lg-2">
                        <span>Reason for Referral:</span>
                      </div>
                      <div class="col-lg-10">
                        <textarea matInput></textarea>
                      </div>
                    </div>
                    <div class="row area-text">
                      <div class="col-lg-2 my-2">
                        <mat-checkbox class="example-margin col-12" style="font-weight: normal">Referred from:
                        </mat-checkbox>
                      </div>
                      <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="col-12">
                          <input matInput autocomplete="off" placeholder="Referred from" />
                        </mat-form-field>
                      </div>
                      <div class="col-lg-2 my-2">
                        <mat-checkbox class="example-margin col-12" style="font-weight: normal">Referred to:
                        </mat-checkbox>
                      </div>
                      <div class="col-lg-4">
                        <mat-form-field appearance="outline" class="col-12">
                          <input matInput autocomplete="off" placeholder="Referred to" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row area-text">
                      <div class="col-lg-2">
                        <span>Cognitive Status:</span>
                      </div>
                      <div class="col-lg-10">
                        <textarea matInput></textarea>
                      </div>
                    </div>
                    <div class="row area-text">
                      <div class="col-lg-2">
                        <span>Functional Status:</span>
                      </div>
                      <div class="col-lg-10">
                        <textarea matInput></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Vitals">
              <div class="encounter-tab-content"></div>
            </mat-tab>
            <mat-tab label="Encounter Diagnoses">
              <div class="encounter-tab-content">
                <div class="encounter-tab-pane" id="encounter_diagnoses_tab">
                  <div class="content">
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-12">
                        <mat-form-field appearance="outline" class="col-12 hover">
                          <mat-select placeholder="Select One" disableOptionCentering>
                            <mat-option>Riya Gupta</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12 mat-field-no-round-right">
                        <mat-form-field appearance="outline" class="col-xl-11 col-lg-10 col-md-9 col-9">
                          <input matInput autocomplete="off" />
                        </mat-form-field>
                        <button class="btn-search col-xl-1 col-lg-2 col-md-3 col-3">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div class="scrollable-mat-table">
                      <mat-table mat-table [dataSource]="EncounterData" id="procedure-table" class="pt-2">
                        <ng-container *ngFor="let column of encounterdiagnosesColumns" [matColumnDef]="column">
                          <mat-header-cell *matHeaderCellDef>
                            <p class="text-capitalize-first">{{ column }}</p>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let user">
                            <span>{{ user[column] }}</span>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="encounterdiagnosesColumns"></mat-header-row>
                        <mat-row *matRowDef="
                              let row;
                              columns: encounterdiagnosesColumns
                            "></mat-row>
                      </mat-table>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Procedure(s) Recommended">
              <ng-container *ngTemplateOutlet="ProceduresContent"></ng-container>
            </mat-tab>
            <mat-tab label="Procedure(s) Completed">
              <ng-container *ngTemplateOutlet="ProceduresContent"></ng-container>
            </mat-tab>
          </mat-tab-group>
          <ng-template #ProceduresContent>
            <div class="encounter-tab-content">
              <div class="encounter-tab-pane" id="encounter_diagnoses_tab">
                <div class="content">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                      <mat-form-field appearance="outline" class="col-12 hover">
                        <mat-select placeholder="Select One" disableOptionCentering>
                          <mat-option>Riya Gupta</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <mat-form-field appearance="outline" class="col-xl-11 col-lg-10 col-md-9 col-9">
                        <input matInput autocomplete="off" />
                      </mat-form-field>
                      <button class="btn-search col-xl-1 col-lg-2 col-md-3 col-3">
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="scrollable-mat-table">
                    <mat-table mat-table [dataSource]="EncounterData" id="procedure-table"
                      class="ehr-cqm-container pt-2">
                      <ng-container *ngFor="let column of procedureColumns" [matColumnDef]="column">
                        <mat-header-cell *matHeaderCellDef>
                          <p class="text-capitalize-first">{{ column }}</p>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let user">
                          <span>{{ user[column] }}</span>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="procedureColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: procedureColumns"></mat-row>
                    </mat-table>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn col-xl-1 col-lg-2 col-md-3 col-4">
          Save as Draft
        </button>
        <button type="button" class="btn btn-orange col-xl-1 col-lg-1 col-md-2 col-3">
          Sign
        </button>
        <button type="button" class="btn btn-red col-xl-1 col-lg-2 col-md-2 col-3" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>


<!-- data-bs-toggle="modal"
                    data-bs-target="#modal-appointment-form"-->
<div class="modal modal-notice" id="modal-message-success" tabindex="-1" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="scrollable-container" style="height: auto;">
          <div class="content">
            <div [class]="onError ? 'message-error-title': 'message-title'">
              <p>{{OperationMessage}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-bs-dismiss="modal" data-bs-target="#modal-message-success" aria-label="Close"
          (click)="onSuccessCloseMessageBox()">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- appointment cancel-->
<div class="modal animated fadeIn in" id="modal-update-appointment-status">
  <div class="modal-dialog" style="margin-top: 243px; margin-bottom: 243px;">
    <div class="modal-content">
      <div class="modal-header">
        <p class="title">Change Status to "Cancelled"?</p><button aria-label="Close" class="close"
          data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning"><strong>Warning:</strong>&nbsp; Appointment will be locked.</div>
      </div>
      <div class="modal-footer">
        <div class="controls">
          <button class="btn btn-default modal-add-patient-save seen-status-change"
            (click)="confirmAppointment()">Confirm</button><button class="btn btn-default seen-status-change"
            data-bs-dismiss="modal" (click)="confirmIsCancelledAppointment()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
