/* Dashboard */

@import "../../../styles.scss";



.cqm-container {
  margin: 25px 0 0 0 !important;
}


#cqmreports .mat-form-field.being-date mat-datepicker-toggle.mat-datepicker-toggle button.mat-icon-button span.mat-button-wrapper svg.mat-datepicker-toggle-default-icon>path {
  fill: #fff;
  stroke: rgb(224, 220, 220);
  stroke-linejoin: round;
  transition: d 0.2s;
}


#cqmreports .mat-form-field.being-date mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button {
  background-color: #41b6a6;
  color: #fff;
  border-radius: 0%;
  margin-top: 0px;
  margin-bottom: -14px;
  margin-right: -10px;
  border: 1px solid #41b6a6;
  height: 3.1em !important;
  width: 3.1em !important;
  top: 0.06em;
}

#cqmreports .mat-form-field.being-date mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button:hover {
  background-color: #fff;

  svg.mat-datepicker-toggle-default-icon>path {
    fill: #41b6a6;
    stroke: #41b6a6;
    stroke-linejoin: round;
    transition: d 0.2s;
  }
}


#cqmreports .mat-form-field.end-date mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button {
  background-color: #41b6a6;
  color: #fff;
  border-radius: 0%;
  margin-top: 0px;
  margin-bottom: -14px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: -10px;
  border: 1px solid #41b6a6;
  height: 3.1em !important;
  width: 3.1em !important;
  top: 0.06em;
}

#cqmreports .mat-form-field.end-date mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button:hover {
  background-color: #fff;

  svg.mat-datepicker-toggle-default-icon>path {
    fill: #41b6a6;
    stroke: #41b6a6;
    stroke-linejoin: round;
    transition: d 0.2s;
  }
}




#cqmreports {

  .ehr-cqm-table-container-report-list {


    border: #41b6a6 1px solid;
    text-align: center;
    height: calc(100vh - 455px);
    //max-width: 100%;
    overflow: hidden auto;
  }

  .ng-container {
    padding: 10px 0;
  }

  .create-cqm-report{
    width: 95%;
    margin: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .card-statistics {
    .highlight-icon {
      height: 53px;
      width: 53px;
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);
      @include border-radius(50px);

      i {
        font-size: 27px;
        line-height: 1;
      }
    }

    i {
      line-height: 1;
    }
  }

  .cqm-mat-table {

    .mat-cell:last-child {
      border-right: #41b6a6 1px solid;
    }

    // .cstm-mat-cell-align .mat-cell {
    //   display: block;
    //   align-self: stretch;
    // }

    .mat-sort-header-container {
      box-shadow: none;
    }

    .mat-row {
      border: unset;
      border-bottom: #41b6a6 1px solid;
    }

    .mat-header-cell {
      font-size: 16px;
    }
  }

  .ng-container {
    padding: 10px 0;
  }

  .description {
    color: #428bca;
  }

  /* table */
  #cst-table table {
    //border: 1px solid #41b6a6;
    width: 100% !important;
  }

  @media (max-width: 768px) {
    .tab-content {
      max-height: 100%;
      max-width: 100%;
      overflow-x: scroll;
    }

    #cst-table table {
      width: 992px !important;
    }
  }

  #p165 thead,
  #p68 thead,
  #p69 thead,
  #p74 thead,
  #p75 thead,
  #p127 thead,
  #p138 thead,
  #p147 thead,
  #p155 thead {
    height: 50px;
  }

  #cst-table {
    thead {
      height: 50px;
    }

    tr:hover {
      background-color: #e5f8f5;
    }

    th {
      background-color: #41b6a6;
      color: white;
      border: 1px solid white;
      padding: 5px !important;
    }

    td {
      border: 1px solid #41b6a6;
      padding: 5px !important;
    }

    th:first-child {
      border-left: 1px solid #41b6a6;
    }

    th:last-child {
      border-left: 1px solid #41b6a6;
    }

    th,
    td {
      font-size: 15px !important;
    }
  }



  .tab-content {
    padding: 0px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 1.71;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    border: none;
  }

  .tab-basic .nav-item .nav-link.active {
    background-color: #e5f8f5;
    color: black !important;
    border: 1px solid #41b6a6;
  }

  .nav-link:hover {
    background-color: #41b6a6;
    color: #fff !important;
    border: 1px solid #41b6a6;
  }

  .nav-tabs {
    border-bottom: 1px solid #41b6a6;
    margin-bottom: 0rem;
    width: 100%;
  }

  .cstm-tabwidth {
    margin-top: 1rem;
  }

  /* panel summary */
  .panel {
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .panel-default>.panel-heading {
    color: white;
    background-color: #41b6a6;
  }

  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .panel-default {
    border: 1px solid #41b6a6 !important;
  }

  a.index-hover {
    color: black;
  }

  .index-hover:hover {
    text-decoration: underline #41b6a6 !important;
    color: #41b6a6 !important;
    cursor: pointer;
  }

  .heading-middle {
    font-size: 16px;
    font-weight: 400;
  }

  /* create report */
  .panel-body {
    border-top: 1px solid rgb(226, 226, 226) !important;
    max-width: 100% !important;
    line-height: 4.1;
    margin-left: 0%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  mat-expansion-panel {
    background-color: rgb(247, 245, 245);
    border: 1px solid rgb(226, 226, 226) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  @media (max-width: 430px) {
    mat-expansion-panel {
      width: 430px !important;
      overflow-x: auto;
    }
  }

  .searchbaroutline {
    border: 1px solid #41b6a6 !important;
    opacity: 0.8 !important;
    margin-top: 0.5%;
    height: 48px;
  }

  .mat-form-field-invalid .mat-input-element {
    caret-color: black !important;
  }

  // new report
  .panel-overflow {
    overflow-y: auto;
    max-height: 500px;
  }

  .cqmcheckbox {
    color: red;
    font-weight: bold;
  }

  /* table in details tab */
  .dropdown-toggle {
    padding: 6px 8px;
  }

  #common td:first-child {
    background-color: #41b6a6 !important;
    color: white;
    border-bottom: 1px solid white;
  }

  #common.cus-table-border {
    border: 1px solid #41b6a6 !important;
  }

  #common {
    td:last-child {
      background-color: #e5f8f5 !important;
      border-bottom: 1px solid #41b6a6;
    }

    .cstm-border td:first-child {
      border-top: 1px solid white;
    }

    .cstm-border td:last-child {
      border-bottom: 1px solid #fff;
    }
  }

  .details {
    padding: 65px;
  }



  @media (max-width: 768px) {
    .ehr-cqm-table-container {
      max-height: 100%;
      max-width: 100%;
      overflow-x: scroll;
    }

    table {
      width: 992px !important;
    }
  }

  .progress {
    height: 20px;
    border: 1px solid #e0e0e0;
    background: transparent;
    border-radius: 50px;
    box-shadow: none;
    padding: 5px 8px;
    overflow: visible;
    margin-bottom: 30px;
    margin-left: -9px;
  }

  .progress .progress-bar {
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
  }

  .progress .progress-value {
    font-size: 13px;
    font-weight: bold;
    color: #97a5b6;
    position: absolute;
    bottom: -25px;
    right: 0px;
  }

  .btn-cqm-report {
    color: #41b6a6;
    background-color: #fff;
    border: 1px solid #41b6a6;
    height: 45px;
    border-radius: 3px;
    font-size: 14px !important;
  }

  .btn-cqm-report:hover {
    background-color: #41b6a6;
    color: white;
  }

  .btn-cqm-queue-report.active {
    color: #41b6a6;
    background-color: #fff;
    border: 1px solid #41b6a6;
    height: 45px;
    border-radius: 3px;
    font-size: 14px !important;
  }

  .btn-cqm-queue-report.inactive {
    color: #a9a9a9;
    background-color: #fafafa;
    border: 1px solid #41b6a6;
    height: 45px;
    border-radius: 3px;
    font-size: 14px !important;
  }

  .btn-cqm-queue-report.active:hover {
    background-color: #41b6a6;
    color: white;
  }

  .index-border {
    border: 1px solid #41b6a6;
  }

  .card-revenue-table {
    .revenue-item {
      border-bottom: 1px solid $border-color;
      @extend .py-3 !optional;

      &:last-child {
        border-bottom: 0;
        @extend .pb-0 !optional;
      }

      &:first-child {
        @extend .pt-0 !optional;
      }

      .revenue-desc {
        margin-right: auto;
        width: 80%;

        p {
          margin-bottom: 0;
        }
      }

      .revenue-amount {
        margin-left: auto;
        width: 40%;

        p {
          font-size: 1.25rem;
          font-family: $type-1;
          font-weight: 600;
          text-align: right;

          .rtl & {
            text-align: left;
          }
        }
      }
    }
  }

  .card-revenue {
    background: $blue-teal-gradient-light;
    background-size: cover;
    color: color(white);

    .highlight-text {
      font-size: 1.875rem;
      font-family: $type-1;
      font-weight: 500;
    }

    .badge {
      background-color: rgba($white, 0.2);
      font-size: 1.125rem;
      padding: 0.5rem 1.25rem;
    }
  }

  .card-weather {
    background: #e1ecff;
    background-image: linear-gradient(to left bottom,
        #d6eef6,
        #dff0fa,
        #e7f3fc,
        #eff6fe,
        #f6f9ff);

    .card-body {
      background: $white;

      &:first-child {
        background: url("../../../assets/images/samples/weather.svg") no-repeat center;
        background-size: cover;
      }
    }

    .weather-date-location {
      padding: 0 0 38px;
    }

    .weather-data {
      padding: 0 0 4.75rem;

      i {
        font-size: 5.313rem;
        line-height: 1;
      }
    }

    .weakly-weather {
      background: $white;
      overflow-x: auto;

      .weakly-weather-item {
        flex: 0 0 14.28%;
        border-right: 1px solid $border-color;
        padding: 1rem;
        text-align: center;

        i {
          font-size: 1.2rem;
        }

        &:last-child {
          border-right: 0;
        }

        .symbol {
          color: $text-muted;
          font-size: 1.875rem;
          font-weight: 300;
        }
      }
    }
  }

  .product-chart-wrapper {
    height: 92%;
  }

  #dashboardTrendingProgress {
    width: 60px;
  }

  .dashboard-bar-chart-legend {
    .col {
      text-align: center;
      @include display-flex;
      @include align-items(center);
      @include flex-direction(column);

      .bg {
        margin-left: auto;
        margin-right: auto;
        height: 5px;
        width: 30px;
        display: block;
        margin-top: 5px;
      }

      &:nth-child(1) {
        .bg {
          background: theme-color(info);
        }
      }

      &:nth-child(2) {
        .bg {
          background: theme-color(primary);
        }
      }

      &:nth-child(3) {
        .bg {
          background: theme-color(danger);
        }
      }

      .td_label {
        font-weight: bold;
        color: white;
      }
    }
  }

  .qr {
    color: white;
    background-color: #41b6a6;

    padding-left: 10px !important;
  }
  .qr:not(:first-child){
    border-left: 1px solid white;
  }


  .qc {
    border-left: 1px solid #41b6a6;
    padding-left: 10px !important;
  }

  .cstm-widthgd {
    flex: 0 0 20%;
  }

  .cstm-widthgd1 {
    flex: 0 0 15%;
  }

  .cstm-widthgdType {
    flex: 0 0 6%;
  }

  .cstm-widthgdStatus {
    flex: 0 0 12%;
  }

  .cstm-widthgdAction {
    flex: 0 0 12%;
    font-size: 14px !important;
  }

  .cstm-widthgd .cstm-widthgd1 .cstm-widthgdStatus .cstm-widthgdType {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    .ehr-cqm-table-container {
      max-height: 100%;
      max-width: 100%;
      overflow-x: scroll;
    }

    .mat-table {
      width: 992px;
    }
  }

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }

  h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  .summary {
    width: 100%;
    border: 1px solid #41b6a6;
    margin-top: 2.7%;
  }

  .pp {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 40px;
    margin-top: 10px;
  }
  .report-populations{
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 50px;
    margin-top: 10px;
  }
  .report-population-items {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 40px;
    margin-top: 10px;
  }



  div.population-summary{
    display: inline-grid;
    margin: 10px;
    width: 100%;
  }
  div.stratification-summary{
    display: inline-grid;
    margin: 10px;
    width: 100%;
  }
  .hr-height {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }

  .cqm-body {
    background-color: #f5f5f5;
    border-radius: 3px;
  }

  mat-expansion-panel-header {
    background-color: #eeeeee;
  }

  // button {

  // }

  .box {
    border: 3px solid rgb(226, 226, 226) !important;
  }

  /* Patient List Tab */
  .fa {
    color: #41b6a6 !important;
    font-size: 25px !important;
  }

  .fa-download {
    font-size: 18px !important;
  }

  .cstm-border-color {
    border: 1px solid #41b6a6;
  }

  span.font,
  ::placeholder {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  /* Drilldown */
  .tick-mark {
    color: #41b6a6;
    background-color: #e5f8f5;
  }

  .cross-mark {
    color: #a63b12;
    background-color: #edd8d0;
  }

  ul.cstm-size {
    margin-bottom: -1rem !important;
  }

  p.cstm-size {
    margin-top: -1rem;
    margin-bottom: 1rem;
    line-height: 1rem;
    margin-left: 77px;
    // color: rgba(0, 0, 0, 0.87) !important;
  }

  ul.nolistpoint {
    list-style-type: none;
    font-size: 14px;
  }

  .expansion-panel-header {
    background-color: #41b6a6 !important;
    font-size: 16px;
  }

  .expansion-panel-header .mat-expansion-panel-header-title {
    color: #fff;
  }

  .expansion-panel-header:hover {
    background-color: #41b6a6 !important;
  }

  .expansion-panel {
    margin-bottom: 20px !important;
    border: 1px solid #41b6a6 !important;
  }

  // check box
  ::ng-deep .example-margin {

    & .mat-checkbox-background,
    .mat-checkbox-frame {
      border-radius: 20% !important;
      border-color: #cacaca;
      background-color: #eeeaea;
      border-width: 1px;
      border-style: solid;
      width: 20px;
      height: 20px;
    }
  }

  ::ng-deep .example-margin:hover {

    & .mat-checkbox-background,
    .mat-checkbox-frame {
      border-color: #41b6a6;
    }
  }

  ::ng-deep .mat-checkbox-checked.mat-accent {

    .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: rgb(243, 242, 242);
      border-radius: 20% !important;
      border-color: rgb(151, 150, 150);
      height: 19px;
      width: 19px;
    }

    .mat-checkbox-checkmark-path {
      stroke: grey !important;
    }
  }

  // queued reports table
  .Norecordstable {
    tr {
      border-left: 1px solid #41b6a6;
      border-right: 1px solid #41b6a6;
      border-bottom: 1px solid #41b6a6;
    }

    width: 100%;
    border: none !important;
  }

  .summaryheader {
    background-color: #41b6a6;
    color: white;
    font-size: 16px;
  }

  .roundedCountGreen {
    border-radius: 4px;
    width: 19px;
    height: 19px;
    border: 3px solid forestgreen;
    color: black;
    text-align: center;
    font: 12px Arial, sans-serif;
  }

  // Patient List Paginator
  .ngx-pagination .current {
    background: #41b6a6 !important;
    font-size: 16px !important;
  }

  .ngx-pagination .small-screen {
    display: none !important;
  }

  .ngx-pagination li {
    font-size: 16px !important;
    display: inline-flex !important;
  }

  .ngx-pagination li:hover a:hover {
    background: #41b6a6 !important;
    text-decoration: none;
    //padding: 0.5875rem 0.625rem !important;
    color: #fff !important;
  }

  #expansiontable th {
    padding: 7px;
  }

  #lineheight ul,
  li {
    line-height: 0.575rem !important;
  }

  #lineheight-drilldown ul,
  li {
    line-height: 1rem !important;
  }

  .list-group-item {
    line-height: 1.875rem !important;
  }

  .drill {
    border-right: 1px solid;
  }

  .drilldowntable {
    border: #41b6a6 2px;
    width: 100%;
  }

  .drillcol {
    border: 1px solid;

    th.col3 {
      width: 20%;
    }
  }

  table {
    width: 100%;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.example-detail-row {
    height: 0;
    width: 100%;
  }

  tr.example-element-row1:not(.example-expanded-row):hover {
    background: white;
  }

  tr.example-element-row1:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row1 td {
    border-bottom-width: 0;
    width: 100%;
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  .Nodata {
    text-align: center !important;
    color: red !important;
  }

  mat-icon {
    cursor: pointer;
  }

  .icon {
    color: #41b6a6;
  }

  .drillcell {
    background-color: #41b6a6;
    color: white;
  }

  .drillrow {
    height: 35px !important;
    font-size: 14px;
  }

  .panelheader {
    border: #b8c2c0 1px;
    background-color: #f5f5f5;
    border-bottom: #d0d8d6 2px solid;
  }

  .panelheader:hover {
    background: #f5f5f5 !important;
  }

  #toast-container>.toast-success {
    background-color: #41b6a6;
    color: #fff;
  }

  .addons {
    margin-top: 2px;
  }

  .w-75 {
    .mat-form-field-outline {
      border-top-right-radius: 0% !important;
      border-bottom-right-radius: 0% !important;
    }
  }

  .btn {
    background-color: none;
    border: none;
    color: white;
    padding: 4px 11px;
    cursor: pointer;
  }

  .cqmlabel {
    margin-top: 2%;
  }

  .cstm-addon-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    color: #41b6a6;
    background-color: #fff;
    border: 1px solid #41b6a6;
    border-left: unset;
    height: 44px;
    font-size: 14px !important;
  }

  span.cstm-size {
    font-size: 13px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }

  .tab-container{
    width: 98%;
  }
  .dashboard-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
::ng-deep .cqm-container .mat-tab-body-content{
  overflow: hidden !important;
}
#cqmreports .mat-tab-label-active{
  color: white;
  border: 1px solid #41b6a6;
  background: #41b6a6;
  opacity: 1;
}
//::ng-deep .report-select-option-panel{
  //margin-top: 28px !important;
  //margin-left: -10px;
//}
