<div class="modal-dialog adduser-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add New User</h4>
        <span type="button" class="cross-mark" (click)="cancel()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-group">
                <div class="input-group">
                  <label class="labelclass form-control required" required>First Name</label>
                  <input class="addfromdesign inputclass form-control mx-0" type="text"
                    [(ngModel)]="NewUserData.FirstName" autocomplete="off" id="firstName" name="firstName"
                    #firstName="ngModel" required alphaOnly />
                  </div>
                    <div *ngIf="firstName.errors && (firstName.touched)">
                      <div class="error_message" *ngIf="firstName.errors?.required">
                        <span class="e_arrow"></span>
                        <p class="errormessage">Please enter First Name</p>
                      </div>
                    </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 my-2">
              <div class="form-group">
                <div class="input-group">
                  <label class="labelclass form-control required">Last Name</label>
                  <input class="addfromdesign inputclass form-control mx-0" type="text" [(ngModel)]="NewUserData.LastName"
                    id="lastName" name="lastName" autocomplete="off" #lastName="ngModel" required
                    alphaOnly />
                </div>
                <div *ngIf="lastName.errors && (lastName.touched)">
                  <div class="error_message" *ngIf="lastName.errors?.required">
                    <span class="e_arrow"></span>
                    <p class="errormessage">Please enter last Name</p>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-group">
                <div class="input-group input-group-phone">
                  <label class="labelclass form-control required">Email</label>
                  <input class="addfromdesign inputclass form-control mx-0" type="text" [(ngModel)]="NewUserData.Email"
                    id="email" name="email" autocomplete="off" #email="ngModel" required    pattern="^[A-Za-z0-9._-]+@[A-Za-z0-9._-]+\.[A-Za-z]{2,4}$" />
                  <!-- ^[A-Za-z0-9._%-]+@[A-Za-z0-9._-]+\\.[a-z]{2,3}$ -->
                </div>
                <div *ngIf="email.errors && (email.touched)">
                  <div class="error_message" *ngIf="email.errors.pattern">
                    <span class="e_arrow"></span>
                    <p class="errormessage">Enter email in correct format </p>
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 col-md-6 col-12 my-2">
              <div class="form-group">
                <label class="required" required>Provider Role:</label>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="NewUserData.PracticeRole" autocomplete="off" placeholder="User Role">
                    <mat-option *ngFor="let pRole of providerRoles" [value]="pRole.Value">{{pRole.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
  
            <!-- We are going to remove this dropdown -->
  
            <!-- <div class="col-lg-6 col-md-6 col-12 my-2">
              <div class="form-group">
                <label>Status:</label>
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Status" autocomplete="off" [(ngModel)]="NewUserData.Active">
                    <mat-option value="True">Enable</mat-option>
                    <mat-option value="False">Disable</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->
  
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green" [disabled]="EnableSave()" (click)="updateUser()" >
          Save
        </button>
        <button type="button" class="btn btn-green" (click)="cancel()" >
          Cancel
        </button>
      </div>
    </div>
  </div>
