<div class="modal-dialog adduser-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title Helvetica-sans-serif-medium">Add New User</h4>
        <span type="button" class="cross-mark" (click)="cancel()">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-group">
                <div class="input-group">
                  <label class="labelclass form-control required" required>First Name</label>
                  <input class="addfromdesign inputclass form-control mx-0" type="text"
                    [(ngModel)]="NewUserData.FirstName" autocomplete="off" id="firstName" name="firstName"
                    #firstName="ngModel" required alphaOnly />
                  </div>
                    <div *ngIf="firstName.errors && (firstName.touched)">
                      <div class="error_message" *ngIf="firstName.errors?.required">
                        <span class="e_arrow"></span>
                        <p class="errormessage">Please enter First Name</p>
                      </div>
                    </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 my-2">
              <div class="form-group">
                <div class="input-group">
                  <label class="labelclass form-control required">Last Name</label>
                  <input class="addfromdesign inputclass form-control mx-0" type="text" [(ngModel)]="NewUserData.LastName"
                    id="lastName" name="lastName" autocomplete="off" #lastName="ngModel" required
                    alphaOnly />
                </div>
                <div *ngIf="lastName.errors && (lastName.touched)">
                  <div class="error_message" *ngIf="lastName.errors?.required">
                    <span class="e_arrow"></span>
                    <p class="errormessage">Please enter last Name</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-group">
                <div class="input-group input-group-phone">
                  <label class="labelclass form-control required">Email</label>
                  <input class="addfromdesign inputclass form-control mx-0" type="text" [(ngModel)]="NewUserData.Email"
                    id="email" name="email" autocomplete="off" #email="ngModel" required    pattern="^[A-Za-z0-9._-]+@[A-Za-z0-9._-]+\.[A-Za-z]{2,4}$" />
                  <!-- ^[A-Za-z0-9._%-]+@[A-Za-z0-9._-]+\\.[a-z]{2,3}$ -->
                </div>
                <div *ngIf="email.errors && (email.touched)">
                  <div class="error_message" *ngIf="email.errors.pattern">
                    <span class="e_arrow"></span>
                    <p class="errormessage">Enter email in correct format </p>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12 my-2">
              <div class="form-group">
                <label class="required" required>Provider Role:</label>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="NewUserData.PracticeRole" autocomplete="off" placeholder="User Role">
                    <mat-option *ngFor="let pRole of providerRoles" [value]="pRole.Value">{{pRole.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <!-- We are going to remove this dropdown -->

            <!-- <div class="col-lg-6 col-md-6 col-12 my-2">
              <div class="form-group">
                <label>Status:</label>
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Status" autocomplete="off" [(ngModel)]="NewUserData.Active">
                    <mat-option value="True">Enable</mat-option>
                    <mat-option value="False">Disable</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->

          </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!hideSaveButton" type="button" class="btn btn-green" [disabled]="EnableSave()" (click)="updateUser()" >
          Save
        </button>
        <p *ngIf="hideSaveButton" style="margin: 5px 0;padding: 5px 10px;">
          <svg class='fontawesomesvg fa-spin fa-2x' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
            <path d="M0 32C0 14.3 14.3 0 32 0H64 320h32c17.7 0 32 14.3 32 32s-14.3 32-32 32V75c0 42.4-16.9 83.1-46.9 113.1L237.3 256l67.9 67.9c30 30 46.9 70.7 46.9 113.1v11c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 64 32c-17.7 0-32-14.3-32-32s14.3-32 32-32V437c0-42.4 16.9-83.1 46.9-113.1L146.7 256 78.9 188.1C48.9 158.1 32 117.4 32 75V64C14.3 64 0 49.7 0 32zM96 64V75c0 25.5 10.1 49.9 28.1 67.9L192 210.7l67.9-67.9c18-18 28.1-42.4 28.1-67.9V64H96zm0 384H288V437c0-25.5-10.1-49.9-28.1-67.9L192 301.3l-67.9 67.9c-18 18-28.1 42.4-28.1 67.9v11z"/>
          </svg>
        </p>
        <button type="button" class="btn btn-green" (click)="cancel()" >
          Cancel
        </button>
      </div>
    </div>
  </div>
