<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-end flex-sm-row flex-column">
      <div class="p-2">
        <!-- <button type="button" class="btn btn-md btn-danger btn-authorized">Authorized Rep.</button> -->
      </div>
      <div class="p-2">
        <!-- <button type="button" class="btn btn-md btn-green btn-authorized" disabled>Print</button>  -->
      </div>
    </div>
  </div>
  <div class="pull-right mt-2">
    <button class="plusicon pull-right" type="button" aria-expanded="false" data-bs-toggle="modal"
      data-bs-target="#modal-patient-amendments" (click)="resetDialog()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class=" mt-5">
    <mat-table [dataSource]="amendments">
      <ng-container matColumnDef="DateRequested">
        <mat-header-cell *matHeaderCellDef>Date Requested</mat-header-cell>
        <a>
          <mat-cell *matCellDef="let amendment" (click)="onSelectedOfAmendment(amendment)" data-bs-toggle="modal"
            data-bs-target="#modal-patient-amendments">{{amendment.DateofRequest | date:'MM/dd/yyyy'}}
          </mat-cell>
        </a>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let amendment">
          {{amendment.Status}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Description/Location">
        <mat-header-cell *matHeaderCellDef>Description/Location</mat-header-cell>
        <mat-cell *matCellDef="let amendment">
          {{amendment.Description}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Scanned">
        <mat-header-cell *matHeaderCellDef>Scanned</mat-header-cell>
        <mat-cell *matCellDef="let amendment">
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="AmendmentsColumns" class="mat-cust-header"></mat-header-row>
      <mat-row *matRowDef="let row; columns: AmendmentsColumns;">
      </mat-row>
    </mat-table>
    <div class="norecords-found" *ngIf="amendments.length == 0" style="font-size: 14px;
    font-family: Roboto">
      No Amendments Found
    </div>
  </div>

  <div class="modal modal-amendments" id="modal-patient-amendments" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="margin-top:-1px;">
          <span class="Helvetica-sans-serif-medium">
            {{amendment?.AmendmentId == null ? 'New Amendment' : 'Edit Amendment'}}
          </span>
          <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close"
            style="border: 1px solid #fff;" (click)="resetDialog()">
            X
          </span>
        </div>
        <div class="modal-body">
          <div class="row">
            <mat-label class="Helvetica-sans-serif-medium required">Date Requested:</mat-label>
            <mat-form-field appearance="outline" class="calendaralignment green-calendar col-lg-7 col-md-7">
              <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="DateRequest"
                (click)="DateRequest.open()" placeholder="mm/dd/yyyy" [(ngModel)]="amendment.DateofRequest" readonly>
              <mat-datepicker-toggle matSuffix [for]="DateRequest"></mat-datepicker-toggle>
              <mat-datepicker #DateRequest></mat-datepicker>
            </mat-form-field>
            <div class="col-lg-5 col-md-5">
              <button class="btn btn-green btn-today col-12 pull-right"
                (click)="todayDateforDateRequested()">Today</button>
            </div>
          </div>
          <div class="row">
            <mat-label class="Helvetica-sans-serif-medium">Date Accepted/Denied:</mat-label>
            <mat-form-field appearance="outline" class="calendaralignment green-calendar col-lg-7 col-md-7">
              <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="DateAccepted"
                (click)="DateAccepted.open()" readonly placeholder="mm/dd/yyyy" [(ngModel)]="amendment.DateofAccept">
              <mat-datepicker-toggle matSuffix [for]="DateAccepted"></mat-datepicker-toggle>
              <mat-datepicker #DateAccepted></mat-datepicker>
            </mat-form-field>
            <div class="col-lg-5 col-md-5">
              <button class="btn btn-green btn-today col-12 pull-right"
                (click)="todayDateforDateAcceptedorDenied()">Today</button>
            </div>
          </div>
          <div class="row">
            <mat-label class="Helvetica-sans-serif-medium">Date Appended:</mat-label>
            <mat-form-field appearance="outline" class="calendaralignment green-calendar col-lg-7 col-md-7">
              <input matInput class="pointer date-mat-class" autocomplete="off" [matDatepicker]="DateAppended"
                (click)="DateAppended.open()" readonly placeholder="mm/dd/yyyy" [(ngModel)]="amendment.DateofAppended">
              <mat-datepicker-toggle matSuffix [for]="DateAppended"></mat-datepicker-toggle>
              <mat-datepicker #DateAppended></mat-datepicker>
            </mat-form-field>
            <div class="col-lg-5 col-md-5">
              <button class="btn btn-green btn-today col-12 pull-right" (click)="todayforDateAppended()">Today</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-label class="Helvetica-sans-serif-medium required">Status:</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label class="Helvetica-sans-serif-medium required">Source:</mat-label>
            </div>
          </div>
          <div class="row">

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-select placeholder="Requested" [(ngModel)]="amendment.Status">
                <mat-option *ngFor="let item of AmendmentStatusesDD" [value]="item.Value">
                  {{item.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
              <mat-select placeholder="Practice" [(ngModel)]="amendment.Source">
                <mat-option *ngFor="let item of AmendmentSourcesDD" [value]="item.Value">
                  {{item.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-label class="Helvetica-sans-serif-medium">Description/Location:</mat-label>
            <mat-form-field appearance="outline" class="col-md-12">
              <input matInput [(ngModel)]="amendment.Description">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-label class="Helvetica-sans-serif-medium">Notes:</mat-label>

            <textarea matInput class="text-border Helvetica-sans-serif-medium" placeholder=""
              [(ngModel)]="amendment.Note"></textarea>
          </div>
          <div class="pattach" *ngIf="amendment?.AmendmentId != null && amendment?.AmendmentId !=''">
            <div class="row">
              <div class="col-lg-10 col-md-10">
                <p class="title mt-3 "><b>Attachments:</b></p>
              </div>
              <div class="col-lg-2 col-md-2 mt-2">
                <div class="col-md-4 col-lg-4">
                  <label for="singleFile" class="upload-btn-wrapper">
                    <mat-icon>attach_file</mat-icon>
                  </label>
                  <input id="singleFile" name="myFile" [accept]="fileTypes" type="file" hidden="true"
                    [fileUploadInputFor]="fileUploadQueue" [size]="fileSize" />
                </div>
              </div>
            </div>
            <div class="row" style=" margin: 10px;">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <file-upload-queue #fileUploadQueue [fileAlias]="EntityId" [httpRequestParams]="httpRequestParams"
                  [httpUrl]="fileUploadUrl" class="message-upload">
                  <file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"
                    [httpRequestParams]="httpRequestParams" [fileAlias]="uploadTo" (onUpload)="UploadCompleted($event)"
                    (onItemRemove)="ItemRemoved($event)">
                  </file-upload>
                </file-upload-queue>
              </div>
            </div>
            <div class="row" style=" margin: 10px;">

              <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top:10px;"
                [class.attachment-border]="Attachments.length > 0">
                <div *ngFor="let item of Attachments;let i = index" style="display: flex;align-items: center;">
                  {{item.FileName}}
                  <div for="forremove" class="remove" (click)="DeleteAttachment(item.AttachmentId)">
                    <mat-icon>delete</mat-icon>
                  </div>

                  <div for="forremove" class="remove" (click)="DownloadAttachment(item)">
                    <mat-icon>cloud_download</mat-icon>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button mat-raised-button type="submit" class="btn btn-danger btn-md btn-delete Helvetica-sans-serif-medium"
            data-bs-dismiss="modal" *ngIf="amendment?.AmendmentId != null && amendment?.AmendmentId !=''"
            (click)=deleteAmendment()>Delete</button>
          <button mat-raised-button type="submit" class="btn btn-green searchnow Helvetica-sans-serif-medium pull-right"
            (click)="createUpadateAmendment()" data-bs-dismiss="modal" [disabled]="enableSave()">Save</button>
          <button mat-raised-button type="submit"
            class="btn btn-green searchnow Helvetica-sans-serif-medium  pull-right" data-bs-dismiss="modal"
            (click)="resetDialog()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
