@import"../../../../assets/common.scss";
@import"../../../../assets/cstm.material.scss";

.nav-tabs li a {
  color: #41b6a6;
  background-color: #fff;
  padding: 9px 38px 9px 28px;
  font-family: "Roboto" !important;
  /* font-weight: 400; */
  font-size: 16px !important;
}

.btn.btn-orange {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  margin-left: -117px !important;
  height: 42px;
}

.adult-dentalchart {
  border-top: 3px solid #41b6a6;
  margin-top: -9px;
}

.row-margin {
  margin-left: 8px;
  margin-right: 1px;
}

.table td,
.table th {
  vertical-align: middle;
  font-size: 0px;
}

.table td img,
.table th img {
  border-radius: 0px;
}

.patientDentalChartTab {
  width: 50% !important;
}

tbody,td,tfoot,th,thead,tr {
  border-color: white;
  border-style: solid;
  border-width: 0;
}

.table-responsive {
  border-radius: 3px;
}

img,svg {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.panel-title {
  border: #41b6a6;
  height: 60px;
  text-align: 10px;
  margin-top: -1px;
  padding: 12px;
  padding-bottom: 19px;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.treatments-title {
  font-family: system-ui !important;
  border: #41b6a6;
  height: 50px;
  text-align: 10px;
  margin-top: -1px;
  padding: 12px;
  padding-bottom: 19px;
  font-size: 25px;
}

.border {
  border: 1px solid #41b6a6 !important;
  border-radius: 3px;
}

.double-border {
  border: 1px solid #41b6a6;
  padding: 16px;
  background-color: #e8fbf8;
  border-radius: 3px
}

.table td,.table th {
  vertical-align: inherit !important;
}
.Adult-procedure
 {
  overflow-y: scroll;
  max-height: calc(100vh - 400px);
  min-height: 452px
}

.adult-frequnecy {
  overflow-y: scroll;
  max-height: calc(70vh - 53px);
  min-height: 502px;
}

.child-procedure {
  min-height: 378px;
  overflow-y: scroll;
  max-height: calc(30vh - 25px);
}

.child-frequnecy {
  min-height: 459px;
  overflow-y: scroll;
  max-height: calc(70vh - 158px);
  margin-top: -32px !important;
}

.input-group {
  height: 50px;
}

.table>:not(:first-child) {
  border-top: 0px solid #41b6a6;
}

// search icon btn
.fa-search {
  background-color: #41b6a6;
  color: white;
  margin-left: 0 !important;
}

.fa {
  font-size: 28px;
}

.btn-info:hover {
  color: #f7f3f3;
  background-color: #41b6a6;
  border-color: #41b6a6;
}

.btn-info {
  color: white;
  background-color: #41b6a6;
  border-color: #41b6a6;
  width: 65px;
}

.input-group>.form-control.search-control
 {
  border-color: #41b6a6 !important;
}

p {
  margin-top: 5px;
  margin-bottom: 2rem;
  color: #41b6a6;
  font-size: 14px;
}

.find-procedure {
  background-color: #e8fbf8;
  height: 80px;
}

.table-responsive table.table tbody tr td a {
  font-size: 16px;
  color: #4A4A4A;
  transition: color 0.2s;
}

table tr td.overlay-img a.checker.unchecked {
  // background-image:url(/assets/images/tooths/teeth_unselected.svg);
  background-image: url(https://1.ehr.one/assets/tooths/teeth_unselected-71b5b4b9a6e389e6d6fcaa7f69291a74ac6b5e6c83158ea4f7c218175da31b7b.svg);
}

.img-align {
  margin-top: 10px;
}

.patientDentalChartTab .panel-teeth .tbody-teeth tr td.overlay-img a.checker {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.table-responsive table.table tbody tr td a {
  font-size: 16px;
  color: #4A4A4A;
  transition: color 0.2s;
}

.patientDentalChartTab .panel-teeth .tbody-teeth tr td img {
  width: 100%;
  height: auto;
}

.patientDentalChartTab .panel-teeth .tbody-teeth tr td.overlay-img {
  position: relative;
}

.patientDentalChartTab .panel-teeth .table>tbody>tr>td {
  padding: 3px 6px;
  border-top: none;
  color: #41b6a6;
  text-align: center;
}

.adult-img-align {
  margin-top: 62px;
}

.adult-bigimg-align {
  margin-top: 23px;
}

.adult-lg-align {
  margin-top: 40px;
}

.child-img-align {
  margin-top: 26px;
}

.child-img-size {
  width: 60px !important;
  // margin-top: 12px !important;
}

.childimg {
  width: auto !important;
  height: auto;
}

.childimg-align {
  margin-top: 12px !important;
}

.tr-data {
  font-family: 'Roboto';
}

.th-color tr th {
  color: #fff;
  font-size: 18px;
  background: #41b6a6;
  font-family: system-ui;
  padding: 12px 25px;
  font-weight: 600;
}

// dropdown Action
.ActionDDL {
  background: #e0f5f2;
  padding: 10px 20px;
  width: 100%;
  border-top: 3px solid #41b6a6;
  margin-top: -8px;
}

input::-webkit-input-placeholder {
  color: #6f6e6e !important;
  font-size: 120%;
  font-family: sans-serif;
}

.btn.Actions {
  color: #41b6a6;
  border-color: #41b6a6;
  background: #fff;
  width: 164px !important;
  font-size: 19px;
  padding: 10px 3px;
  font-family: 'Roboto';
}

.dropdown .dropdown-menu li {
  display: table;
  margin: 3px;
  cursor: pointer !important;
  width: 152px;
}

.dropdown-menu li a {
  font-size: 15px;
  width: 20px;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
  color: #41b6a6;
}

.Actionmenu li a {
  color: black;
  vertical-align: middle;
}

.table {
  --bs-table-accent-bg: none;
  background-color: #e8fbf8;
}
.right-block {
  width: 25%;
}

@media(min-width:300px)and (max-width:767px) {
  .patientDentalChartTab {
    width: 100% !important;
  }
  .btn.btn-orange {
    margin-left: 10px !important;
    margin-bottom: 17px !important;
  }
  .right-block {
    width: 100%;
    margin-top: 15px;
  }
  .align-B-block {
    margin-left: -9px;
  }
  .nav-tabs li a {
    padding: 13px 26px;
  }
}

@media(min-width:768px) and (max-width:1200px) {
  .patientDentalChartTab {
    width: 100% !important;
    margin: 0px 15px 0px 0px;
  }

  .btn.btn-orange {
    margin-left: -98px;
    position: fixed;
  }

  .right-block {
    width: 50%;
    margin-top: 15px;
  }
}

@media(min-width:1201px) and (max-width:1440px) {

  .btn.btn-orange {
    margin-left: -71px;
  }

}

@media (min-width:1441px) and (max-width:1878px) {
  .adult-frequnecy {
    overflow-y: scroll !important;
    max-height: calc(70vh - 211px) !important;
    //min-height: 441px !important;
  }
  // .adult-frequnecy {
  //   //margin-top: -188px !important;
  // }
}
.treatment-content {
  height: 800px;
}

.table.treatment-content {
  background-color: #fff !important;
}

//dental modal design
.modal {
  margin-right: 50px;
  width: 100%;
  margin-top: 20px;
}
div.modal-scrollbar {
  height: 800px;
  top: 64%;
  box-sizing: border-box;
  padding: 24px;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
}
.text-color {
  color: #41b6a6;
  font-size: 19px;
  background-color: #ebf6f5;
}

.label-heading {
  color: #333;
  font-size: 17px !important;
  font-weight: 700;
  font-family: 'Roboto';
}

.label-design {
  font-family: 'Roboto';
  color: #4A4A4A;
  margin: 0;
  font-size: 18px;
}
.input-bg {
  background-color: #d3d5d738;
}
.btn-green{
  font-size: 16px;
  font-family: 'Roboto' !important;
}
.btn-searchs {
  color: white;
  background-color: #d0d2db;
  width: 65px;
}
.fa-search.fa-search-icon {
  background-color: #d0d2db;
  color: white;
  margin-left: 0 !important;
}
.input-group>.form-control:hover
 {
  border-color: #41b6a6 !important;
}
input[type="checkbox"]{
  width: 25px;
  height: 22px;
}
.row-heading {
  background-color: #f5f6f6;
  color: #41b6a6;
  padding: 13px;
    font-size: 17px;
  font-family: 'Roboto';
  width: 682px;
  margin-left: -26px;
}

.select2 {
  margin-left: 0px;
  width: 100%;
  color: #41b6a6;
  border: 1px solid #41b6a6;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}
// expand procedure list design

.procedure-subchild{
  display: block;
  margin-top: 4px;
  color: #4A4A4A!important;
  font-size: 14px !important;
  cursor: pointer;
  font-family: "Roboto" !important;
  margin-left: 24px;
  font-weight: 400;
}

.procedure-subchild:hover{
  color: #41b6a6 !important;
  text-decoration: underline !important;
}

.procedure-label {
  color: #4A4A4A !important;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;

}
ul li, ol li, dl li {
  line-height: 1.2 !important;
}

.fa-plus {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  background-color: white;
  border: 1px solid #4A4A4A;
}

.list-group-item{
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  padding: 2px;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  input[type=checkbox]{
      height: 20px;
      width: 20px;
      vertical-align:middle;
  }
}
.icons-design{
  border: 1px solid black;
  width: 16px;
  height: 16px;
  padding: 2px;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  text-align: center;
}
.list-group.child-list{
  padding-left: 12px !important;
}

.tree-leaf-item{
  padding: 5px 0;
  color: black;
  cursor: pointer;
}

.tree-leaf-item:hover{
  color: #41a6b6;
  cursor: pointer;
  text-decoration: underline;
}
.input-group.searchbox .input-bg{
  background-color: white;
  border: 1px solid #41b6a6;
  color: #41b6a6;
}
.input-group.searchbox .input-bg:hover{
  background-color: #f3faf9;
}
.profile-green-calendar{
  width: 220% !important;
}
.label-design.label-Tooth{
  margin-left: 112px;
}



.procedure-list {

  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 5%;
  }
  mat-cell:nth-child(2),
  mat-header-cell:nth-child(2) {
    flex: 0 0 7%;

  }
  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    flex: 0 0 7%;

  }
  mat-cell:nth-child(4),
  mat-header-cell:nth-child(4) {
    flex: 0 0 6%;

  }
  mat-cell:nth-child(5),
  mat-header-cell:nth-child(5) {
    flex: 0 0 7%;

  }
  mat-cell:nth-child(6),
  mat-header-cell:nth-child(6) {
    flex: 0 0 7%;

  }
  mat-cell:nth-child(7),
  mat-header-cell:nth-child(7) {
    flex: 0 0 31%;
  }
  mat-cell:nth-child(8),
  mat-header-cell:nth-child(8) {
    flex: 0 0 10%;
  }
  mat-cell:nth-child(9),
  mat-header-cell:nth-child(9) {
    flex: 0 0 6%;
  }
  mat-cell:nth-child(10),
  mat-header-cell:nth-child(10) {
    flex: 0 0 8%;
  }
  mat-cell:nth-child(11),
  mat-header-cell:nth-child(11) {
    flex: 0 0 6%;
  }

  a.encounter{
    width: 30px;
    background: #41b6a6;
    color:#fff;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    margin: auto;
    transition: .3s;
    border: 1px solid #41b6a6;

    &:hover{
      background: #fff;
      color:#41b6a6;
      .fa:hover{
        color:#41b6a6
      }
    }
    .fa{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 18px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 6px;
      margin-top: 6px;
      color: white;

    }
  }

  a.encounter-circle{
    width: 30px;
    background: #fff;
    color: #41b6a6;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    margin: auto;
    transition: .3s;
    border: 1px solid #41b6a6;

    &:hover{
      background: #41b6a6;
      color:#fff;
      .fa:hover{
        color:#fff
      }
    }

    .fa{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 18px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 4px;
      margin-top: 4px;
      color: #41b6a6;
      border: unset;
      background: transparent;
    }
  }

  button{
    border:none;
    background: transparent;
    padding: unset;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    mat-icon{
      color: #41b6a6;
      &:hover{
        color: #27776c;
      }
    }
  }
}

ul.used_procedures{
  margin-left:10px;
  li{
    color: #41b6a6;
  }
}
@media screen and (max-width:520px) {
  .btn.btn-orange{height: 51px;}
}
