<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-10">
      <div class="Dental-chart">
        <ul class="nav nav-tabs nav-tab-styled mx-2" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link text-center active" id="medical-tab" data-bs-toggle="tab" data-bs-target="#medical"
              type="button" role="tab" aria-controls="medical" aria-selected="true" (click)="AdultPerm()">Adult - Perm
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab" data-bs-target="#send" type="button"
              role="tab" aria-controls="send" aria-selected="true" (click)="ChildPrim()">Child - Prim
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-2 ">

      <button type="button" class="btn btn-orange py-2 px-4" style="float:right;"
        (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,null,null)">New Treatment</button>
    </div>
  </div>
</div>
<div class="adult-dentalchart" style="clear: both;">
  <div class="row row-margin mt-2">
    <div class="col-lg-6 col-md-6 col-12  patientDentalChartTab" *ngIf="AdultPrem">
      <div class="panel-teeth double-border">
        <div class="table-responsive border">
          <table class="table">
            <thead></thead>
            <tbody class="tbody-teeth">
              <tr class="mt-2">
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_1_lg.svg" alt="Tooth adult 1 lg"
                    class="adult-img-align"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_2_lg.svg" alt="Tooth adult 2 lg"
                    class="adult-img-align"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_3_lg.svg" alt="Tooth adult 3 lg"
                    class="adult-img-align"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_4_lg.svg" alt="Tooth adult 4 lg"
                    class="adult-bigimg-align"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_5_lg.svg" alt="Tooth adult 5 lg"
                    class="adult-lg-align"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_6_lg.svg" alt="Tooth adult 6 lg"
                    class="adult-bigimg-align"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_7_lg.svg" alt="Tooth adult 7 lg"
                    class="adult-bigimg-align"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_8_lg.svg" alt="Tooth adult 8 lg"
                    style="margin-top: 50px;"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_9_lg.svg" alt="Tooth adult 9 lg"
                    style="margin-top: 35px;"> </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_10_lg.svg" alt="Tooth adult 10 lg"
                    class="adult-bigimg-align"></td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_11_lg.svg" alt="Tooth adult 11 lg"
                    class="adult-bigimg-align"></td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_12_lg.svg" alt="Tooth adult 12 lg"
                    class="adult-lg-align"></td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_13_lg.svg" alt="Tooth adult 13 lg"
                    class="adult-lg-align"></td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_14_lg.svg" alt="Tooth adult 14 lg"
                    class="adult-img-align"></td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_15_lg.svg" alt="Tooth adult 15 lg"
                    class="adult-img-align"></td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_16_lg.svg" alt="Tooth adult 16 lg"
                    class="adult-img-align"></td>
              </tr>
              <tr class="tr-tooth tr-middle tr-top-teeth-md">
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_2_md.svg" alt="Tooth adult 1 md"><a
                    class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,1)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_2_md.svg" alt="Tooth adult 2 md"> <a
                    class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,2)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_3_md.svg" alt="Tooth adult 2 md"><a
                    class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,3)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_4_md.svg" alt="Tooth adult 4 md"><a
                    class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,4)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_5_md.svg" alt="Tooth adult 5 md"> <a
                    class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,5)"></a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_12_md.svg" alt="Tooth adult 12 md">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,12)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_13_md.svg" alt="Tooth adult 13 md">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,13)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_14_md.svg" alt="Tooth adult 14 md">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,14)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_15_md.svg" alt="Tooth adult 15 md">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,15)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_16_md.svg" alt="Tooth adult 16 md">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,16)"></a>
                </td>
              </tr>
              <tr class="tr-tooth tr-middle tr-top-teeth-xs">
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_1_xs.svg" alt="Tooth adult 1 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_2_xs.svg" alt="Tooth adult 2 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_3_xs.svg" alt="Tooth adult 3 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_4_xs.svg" alt="Tooth adult 4 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_5_xs.svg" alt="Tooth adult 5 xs">
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_6_xs.svg" alt="Tooth adult 6 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,6)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_7_xs.svg" alt="Tooth adult 7 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,7)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_8_xs.svg" alt="Tooth adult 8 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,8)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_9_xs.svg" alt="Tooth adult 9 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,9)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_10_xs.svg" alt="Tooth adult 10 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,10)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_11_xs.svg" alt="Tooth adult 11 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,11)"></a>
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_12_xs.svg" alt="Tooth adult 12 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_13_xs.svg" alt="Tooth adult 13 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_14_xs.svg" alt="Tooth adult 14 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_15_xs.svg" alt="Tooth adult 15 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_16_xs.svg" alt="Tooth adult 16 xs">
                </td>
              </tr>
              <tr class="tr-data">
                <td>
                  <p>1</p>
                </td>
                <td>
                  <p>2</p>
                </td>
                <td>
                  <p>3</p>
                </td>
                <td>
                  <p>4</p>
                </td>
                <td>
                  <p>5</p>
                </td>
                <td>
                  <p>6</p>
                </td>
                <td>
                  <p>7</p>
                </td>
                <td>
                  <p>8</p>
                </td>
                <td>
                  <p>9</p>
                </td>
                <td>
                  <p>10</p>
                </td>
                <td>
                  <p>11</p>
                </td>
                <td>
                  <p>12</p>
                </td>
                <td>
                  <p>13</p>
                </td>
                <td>
                  <p>14</p>
                </td>
                <td>
                  <p>15</p>
                </td>
                <td>
                  <p>16</p>
                </td>
              </tr>
              <tr class="tr-tooth tr-middle tr-bottom-teeth-xs">
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_32_xs.svg" alt="Tooth adult 32 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_31_xs.svg" alt="Tooth adult 31 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_30_xs.svg" alt="Tooth adult 30 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_29_xs.svg" alt="Tooth adult 29 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_28_xs.svg" alt="Tooth adult 28 xs">
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_27_xs.svg" alt="Tooth adult 27 xs">
                  <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,27)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_26_xs.svg" alt="Tooth adult 26 xs">
                  <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,26)"></a>
                </td>
                <td class="overlay-img"><img src="assets/images/dental-chart/tooths/tooth_adult_25_xs.svg"
                    alt="Tooth adult 25 xs">
                  <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,25)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_24_xs.svg" alt="Tooth adult 24 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,24)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_23_xs.svg" alt="Tooth adult 23 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,23)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_22_xs.svg" alt="Tooth adult 22 xs">
                  <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,28)"></a>
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_21_xs.svg" alt="Tooth adult 21 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_20_xs.svg" alt="Tooth adult 20 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_19_xs.svg" alt="Tooth adult 19 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_18_xs.svg" alt="Tooth adult 18 xs">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_17_xs.svg" alt="Tooth adult 17 xs">
                </td>
              </tr>
              <tr>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_32_md.svg" alt="Tooth adult 32 md">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,32)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_31_md.svg" alt="Tooth adult 31 md">
                  <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,31)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_30_md.svg" alt="Tooth adult 30 md">
                  <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,30)"></a>
                </td>
                <td class="overlay-img"><img src="assets/images/dental-chart/tooths/tooth_adult_29_md.svg"
                    alt="Tooth adult 29 md"> <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,29)"></a> </td>
                <td class="overlay-img"> <img src="assets/images/dental-chart/tooths/tooth_adult_28_md.svg"
                    alt="Tooth adult 28 md"> <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,28)"></a> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_21_xs.svg" alt="Tooth adult 21 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,21)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_20_xs.svg" alt="Tooth adult 20 xs">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,20)"></a>
                </td>
                <td class="overlay-img">
                  <img src="assets/images/dental-chart/tooths/tooth_adult_19_xs.svg" alt="Tooth adult 19 xs"
                    class="img-align">
                  <a class="checker unchecked"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,19)"></a>
                </td>
                <td class="overlay-img"> <img src="assets/images/dental-chart/tooths/tooth_adult_18_xs.svg"
                    class="img-align" alt="Tooth adult 18 xs"> <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,18)"></a>
                </td>
                <td class="overlay-img"> <img src="assets/images/dental-chart/tooths/tooth_adult_17_xs.svg"
                    class="img-align" alt="Tooth adult 17 xs"> <a class="checker unchecked "
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,17)"></a>
                </td>
              </tr>
              <tr class="tr-tooth tr-large tr-bottom-teeth-lg">
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_32_lg.svg" alt="Tooth adult 32 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_31_lg.svg" alt="Tooth adult 31 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_30_lg.svg" alt="Tooth adult 30 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_29_lg.svg" alt="Tooth adult 29 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_28_lg.svg" alt="Tooth adult 28 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_27_lg.svg" alt="Tooth adult 27 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_26_lg.svg" alt="Tooth adult 26 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_25_lg.svg" alt="Tooth adult 25 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_24_lg.svg" alt="Tooth adult 24 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_23_lg.svg" alt="Tooth adult 23 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_22_lg.svg" alt="Tooth adult 22 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_21_lg.svg" alt="Tooth adult 21 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_20_lg.svg" alt="Tooth adult 20 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_19_lg.svg" alt="Tooth adult 19 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_18_lg.svg" alt="Tooth adult 18 lg">
                </td>
                <td><img src="assets/images/dental-chart/tooths/tooth_adult_17_lg.svg" alt="Tooth adult 17 lg">
                </td>
              </tr>
              <tr class="tr-data">
                <td>
                  <p>32</p>
                </td>
                <td>
                  <p>31</p>
                </td>
                <td>
                  <p>30</p>
                </td>
                <td>
                  <p>29</p>
                </td>
                <td>
                  <p>28</p>
                </td>
                <td>
                  <p>27</p>
                </td>
                <td>
                  <p>26</p>
                </td>
                <td>
                  <p>25</p>
                </td>
                <td>
                  <p>24</p>
                </td>
                <td>
                  <p>23</p>
                </td>
                <td>
                  <p>22</p>
                </td>
                <td>
                  <p>21</p>
                </td>
                <td>
                  <p>20</p>
                </td>
                <td>
                  <p>19</p>
                </td>
                <td>
                  <p>18</p>
                </td>
                <td>
                  <p>17</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12  patientDentalChartTab " *ngIf="ChilPrim">
      <div class="panel-teeth double-border">
        <div class="table-responsive border">
          <table class="table">
            <thead></thead>
            <tbody class="tbody-teeth ">
              <tr>
                <td><img src="assets/images/dental-chart/teeth-img/a.png" alt="Tooth adult 1 lg"
                    class="childimg child-img-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/b.png" alt="Tooth adult 2 lg"
                    class="childimg child-img-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/c.png" alt="Tooth adult 3 lg"
                    class="childimg childimg-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/d.png" alt="Tooth adult 4 lg"
                    class="childimg child-img-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/e.png" alt="Tooth adult 5 lg"
                    class="childimg childimg-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/f.png" alt="Tooth adult 6 lg"
                    class="childimg childimg-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/g.png" alt="Tooth adult 7 lg"
                    class="childimg child-img-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/h.png" alt="Tooth adult 8 lg"
                    class="childimg childimg-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/i.png" alt="Tooth adult 9 lg"
                    class="childimg child-img-align"></td>
                <td><img src="assets/images/dental-chart/teeth-img/j.png" alt="Tooth adult 10 lg"
                    class="childimg child-img-align"></td>
              </tr>
              <tr>
                <td><img src="assets/images/dental-chart/teeth-img/1-top.png" alt="Tooth adult 1 lg"
                    class=" child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,1)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/2-top.png" alt="Tooth adult 2 lg"
                    class=" child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,2)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/3-top.png" alt="Tooth adult 3 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,3)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/4-top.png" alt="Tooth adult 4 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,4)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/5-top.png" alt="Tooth adult 5 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,5)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/6-top.png" alt="Tooth adult 6 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,6)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/7-top.png" alt="Tooth adult 7 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,7)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/8-top.png" alt="Tooth adult 8 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,8)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/9-top.png" alt="Tooth adult 9 lg"
                    class="child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,9)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/10-top.png" alt="Tooth adult 10 lg"
                    class="child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,10)"></td>
              </tr>
              <tr class="tr-data">
                <td>
                  <p>A</p>
                </td>
                <td>
                  <p>B</p>
                </td>
                <td>
                  <p>C</p>
                </td>
                <td>
                  <p>D</p>
                </td>
                <td>
                  <p>E</p>
                </td>
                <td>
                  <p>F</p>
                </td>
                <td>
                  <p>G</p>
                </td>
                <td>
                  <p>H</p>
                </td>
                <td>
                  <p>I</p>
                </td>
                <td>
                  <p>J</p>
                </td>
              </tr>
              <tr class="tr-tooth tr-large tr-top-teeth-lg">
                <td><img src="assets/images/dental-chart/teeth-img/20-top.png" alt="Tooth adult 10 lg"
                    class="child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,20)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/19-top.png" alt="Tooth adult 9 lg"
                    class="child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,19)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/18-top.png" alt="Tooth adult 8 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,18)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/17-top.png" alt="Tooth adult 7 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,17)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/15-top.png" alt="Tooth adult 5 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,16)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/16-top.png" alt="Tooth adult 6 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,15)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/14-top.png" alt="Tooth adult 4 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,14)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/13-top.png" alt="Tooth adult 3 lg" class="childimg"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,13)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/12-top.png" alt="Tooth adult 2 lg"
                    class="child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,12)"></td>
                <td><img src="assets/images/dental-chart/teeth-img/11-top.png" alt="Tooth adult 1 lg"
                    class="child-img-size"
                    (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,11)"></td>
              </tr>

              <tr class="tr-tooth tr-large tr-top-teeth-lg mt-2">
                <td><img src="assets/images/dental-chart/teeth-img/t.png" alt="Tooth adult 10 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/s.png" alt="Tooth adult 9 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/r.png" alt="Tooth adult 8 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/q.png" alt="Tooth adult 7 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/p.png" alt="Tooth adult 6 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/o.png" alt="Tooth adult 5 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/n.png" alt="Tooth adult 4 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/m.png" alt="Tooth adult 3 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/l.png" alt="Tooth adult 2 lg" class="childimg"></td>
                <td><img src="assets/images/dental-chart/teeth-img/k.png" alt="Tooth adult 1 lg" class="childimg"></td>

              </tr>
              <tr class="tr-data mb-3">
                <td>
                  <p>T</p>
                </td>
                <td>
                  <p>S</p>
                </td>
                <td>
                  <p>R</p>
                </td>
                <td>
                  <p>Q</p>
                </td>
                <td>
                  <p>P</p>
                </td>
                <td>
                  <p>O</p>
                </td>
                <td>
                  <p>N</p>
                </td>
                <td>
                  <p>M</p>
                </td>
                <td>
                  <p>L</p>
                </td>
                <td>
                  <p>K</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 col-12 right-block">
      <div class="border">
        <div class="panel-nomargin panel-procedures">
          <div class="panel-heading form-inline">
            <p class="panel-title bg-color m-0">Procedures</p>
          </div>
          <div class="find-procedure">
            <div class="form-group mx-3">
              <div class="input-group py-3"><input type="text" #procedureSearch name="search_procedure_code" id="search_procedure_code"
                  class="form-control search-control" placeholder="Search Procedure(s)">
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="AdultPrem?'Adult-procedure':'child-procedure'">
          <tree-procedure #procedureTree></tree-procedure>
        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 col-12 right-block">
      <div class="border align-B-block">
        <div class="panel-procedures-frequently">
          <div class="panel-heading form-inline">
            <p class="panel-title bg-color">Frequently Used</p>
          </div>
        </div>
        <div [ngClass]="AdultPrem?'adult-frequnecy':'child-frequnecy'">
          <ul class="main-list used_procedures">
            <li *ngFor="let usedProcedure of usedProcedures">
              <div class="tree-leaf-item"
                (click)="openComponentDialog(procedureDialogComponent,null,ActionTypes.new,null,usedProcedure)">
                {{usedProcedure.Code + "-" + usedProcedure.Description }}
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="bg-color  mt-3">
  <h2 class="treatments-title">Treatments</h2>
</div>


<div class="container-fluid">
  <div class="mb-3">
    <div class="table-responsive procedure-list">
      <mat-table [dataSource]=procedureDataSource matSort
      matSortActive="LastAccessed" matSortDirection="desc"
        matSortDisableClear>
        <ng-container matColumnDef="SELECT">
          <mat-header-cell *matHeaderCellDef>SELECT</mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <button matIcon (click)="canelProcedure(procedure)">
              <mat-icon class="mat-18">delete_forever</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="START DATE">
          <mat-header-cell *matHeaderCellDef>START DATE</mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <a (click)="openComponentDialog(procedureDialogComponent,procedure,ActionTypes.new,0,null)">{{procedure?.Date | date:'MM/dd/yyyy'}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="END DATE">
          <mat-header-cell *matHeaderCellDef>END DATE</mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <a (click)="openComponentDialog(procedureDialogComponent,procedure,ActionTypes.new,0,null)">{{procedure?.EndDate | date:'MM/dd/yyyy'}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TOOTH">
          <mat-header-cell *matHeaderCellDef>TOOTH</mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <span>
              <a (click)="openComponentDialog(procedureDialogComponent,procedure,ActionTypes.new,0,null)">{{procedure?.ToothNo}}</a>
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SURFACE">
          <mat-header-cell *matHeaderCellDef>SURFACE
          </mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <a (click)="openComponentDialog(procedureDialogComponent,procedure,ActionTypes.new,0,null)">{{procedure?.ToothPlace}}</a> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CODE">
          <mat-header-cell *matHeaderCellDef>CODE</mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <span>
              <a (click)="openComponentDialog(procedureDialogComponent,procedure,ActionTypes.new,0,null)">{{procedure?.Code}}</a>
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DESCRIPTION">
          <mat-header-cell *matHeaderCellDef>DESCRIPTION</mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <a (click)="openComponentDialog(procedureDialogComponent,procedure,ActionTypes.new,0,null)">{{procedure?.Description}}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="PROVIDER">
          <mat-header-cell *matHeaderCellDef>PROVIDER</mat-header-cell>
          <mat-cell *matCellDef="let procedure">{{procedure?.ProviderName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="STATUS">
          <mat-header-cell *matHeaderCellDef>STATUS
          </mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            {{procedure?.ShortStatus}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CQM STATUS">
          <mat-header-cell *matHeaderCellDef>CQM STATUS

          </mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            {{procedure?.CQMStatus}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Encounter">
          <mat-header-cell *matHeaderCellDef>Encounter
          </mat-header-cell>
          <mat-cell *matCellDef="let procedure">
            <a class="encounter" *ngIf="procedure.Signed" (click)="openComponentDialog(encounterDialogComponent,procedure,ActionTypes.view)">
              <i class="fa fa-check"></i>
            </a>
            <a class="encounter-circle" *ngIf="!procedure.Signed" (click)="openComponentDialog(encounterDialogComponent,procedure,ActionTypes.view)">
              <i class="fa fa-plus"></i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="procedureColumns" class="mat-cust-header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: procedureColumns;">
        </mat-row>
      </mat-table>

    </div>
  </div>
</div>
