.nav-tabs {
  border-bottom: none;
  margin-left: 9px;
}
.nav-tabs.styled li {
  border-radius: 3px 1px 0 0;
  border: 1px solid #41b6a6;
}
.nav-link{
  font-size: 20px;
}
.nav-tabs>li {
  float: left;
}
.nav>li {
  position: relative;
  display: block;
}
.nav-tabs.styled li a {
  margin-bottom: 1px;
  border-radius: 0px 0px 0 0;
  padding: 14px 18px 8px 29px;
  font-size: 17px !important;
}
.nav-tabs.styled li.active a {
  background-color: #41b6a6;
  color: #fff;
  border-bottom: 0;
}
.nav-tabs.styled li a:focus, .nav-tabs.styled li a:hover, .nav-tabs.styled li a:active {
  border: 0;
  background-color: #41b6a6;
  color: #fff;
}
.nav-tabs li a{
  border: 0;
  color: #41b6a6;
  background-color: #fff;
}
.styled .nav-link.active{
  background-color: #41b6a6;
  color: #fff;
}
.styled .nav-link.active{
  background-color: #41b6a6;
  color: #fff;
}
.nav-tabs.styled li.active a {
  background-color: #41b6a6;
  color: #fff;
}

.btn.btn-orange {
  padding: 12px 26px !important;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin-left: -38px;
}
.adult-dentalchart
{
  border-top: 3px solid #41b6a6;
}
.table td, .table th {
  vertical-align: middle;
  font-size: 0px;
}
.table td img, .table th img {
  border-radius: 0px;
}
.patientDentalChartTab{
  width: 50% !important;
}
tbody, td, tfoot, th, thead, tr {
  border-color: white;
  border-style: solid;
  border-width: 0;
}
.table-responsive {
  border-radius: 3px;
}
img, svg {
  vertical-align: middle;
  width: 100%;
  height: auto;
}
.panel-title {
  background-color: #41b6a6;
  color: white;
  border: #41b6a6;
  height: 60px;
  text-align: 10px;
  margin-top: -1px;
  padding: 12px;
  padding-bottom: 19px;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.border {
  border: 1px solid #41b6a6 !important;
  border-radius: 3px;
}
.double-border{
  border: 1px solid #41b6a6;
  padding: 16px;
  background-color: #e8fbf8;
  border-radius: 3px
}
.table td, .table th {
  vertical-align: inherit !important;
}
.colA {
  height: 756px;
}
.colB{
  height: 756px;
  min-width: 104%;
}
.colC {
  min-height: 613px;
}
.colD {
  height: 613px;
  min-width: 104%;
}
.input-group{
  height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.table>:not(:first-child) {
   border-top: 0px solid #41b6a6 ;
}
// search icon btn
.fa-search{
  background-color: #41b6a6;
  color: white;
}
.fa {
  font-size: 28px;
}

.btn-info:hover {
  color: #f7f3f3;
  background-color: #41b6a6;
  border-color: #41b6a6;
}
.btn-info {
  color: white;
  background-color: #41b6a6;
  border-color: #41b6a6;
  width: 65px;
}
.input-group > .form-control, .input-group > .form-select {
  border-color: #41b6a6 !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #41b6a6;
  font-size:18px;
}

// checkbox design
.cust-checkbox-label{
  font-size: 16px;
  font-weight: 400;
  color: #4A4A4A !important;
  font-family: 'Roboto';
}
.Procedures-Checkbox{
  margin-top: -6px;
}
.find-procedure{
  background-color: #e8fbf8;
  height: 80px;
}
.checkbox  {
  color: black;
   height: 15px;
   width: 15px;
   border-radius: 4px;
 }
.table-responsive table.table tbody tr td a {
  font-size: 16px;
  color: #4A4A4A;
  transition: color 0.2s;
}
table tr td.overlay-img a.checker.unchecked {
 // background-image:url(/assets/images/tooths/teeth_unselected.svg);
  background-image:url(https://1.ehr.one/assets/tooths/teeth_unselected-71b5b4b9a6e389e6d6fcaa7f69291a74ac6b5e6c83158ea4f7c218175da31b7b.svg);
}
.img-align{
  margin-top: 10px;
}
.patientDentalChartTab .panel-teeth .tbody-teeth tr td.overlay-img a.checker {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.table-responsive table.table tbody tr td a {
  font-size: 16px;
  color: #4A4A4A;
  transition: color 0.2s;
}
.patientDentalChartTab .panel-teeth .tbody-teeth tr td img {
  width: 100%;
  height: auto;
}
.patientDentalChartTab .panel-teeth .tbody-teeth tr td.overlay-img {
  position: relative;
}
.patientDentalChartTab .panel-teeth .table>tbody>tr>td {
  padding: 3px 6px;
  border-top: none;
  color: #41b6a6;
  text-align: center;
}
.select2{
  margin-left: 0px;
  width: 813px;
  color: #41b6a6;
  border: 1px solid #41b6a6;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 20px;
 font-size:20px
}

.childimg{
  margin:15px;
  width: auto !important;
  height: auto;
}

.th-color tr th{
  color: #fff;
  font-size: 18px;
  background: #41b6a6;
  font-family: system-ui;
  padding: 12px  25px;
  font-weight: 600;
}

// dropdown Action
.ActionDDL{
  background: #e0f5f2;
  padding: 10px 20px;
  width: 100%;
  border-top: 3px solid #41b6a6;
}
input::-webkit-input-placeholder {
  color: #6f6e6e !important;
  font-size: 120%;
  font-family: sans-serif;
}
.btn.Actions {
  color: #41b6a6;
    border-color: #41b6a6;
    background: #fff;
    width: 164px !important;
    font-size: 21px;
    padding: 15px 3px;
}
.dropdown .dropdown-menu li {
  display: table;
  margin: 3px;
  cursor: pointer !important;
  width: 152px;
}

.dropdown-menu li a {
  font-size: 15px;
  width: 20px;

}
.dropdown-menu li a:hover {
  text-decoration: underline;
  color: #41b6a6;
}
.Actionmenu li a {
  color: black;
  vertical-align: middle;
}
.table {
  --bs-table-accent-bg: none;
  background-color: #e8fbf8;
}

@media(min-width:300px)and (max-width:780px)
{
  .btn.btn-orange {
  margin-left: 10px !important;
  margin-bottom: 2px !important;
  }
  .colA {
    min-height: 500px;
  }
  .colB {
    min-height: 500px;
  }
}
@media(min-width:300px) and (max-width:1200px){
  .patientDentalChartTab{
    width: 100% !important;
  }
  .right-block{
    width: 482px;
    margin-top: 15px;
  }
  // .colA {
  //   min-height: 500px;
  // }
  // .colB {
  //   min-height: 500px;
  // }
}
@media(min-width:1025px) and (max-width:1440px)
{
  .btn.btn-orange {
    padding: 13px 15px !important;
    margin-left: -70px;
}
.colA {
  height: 500px !important;
}
.colB {
  height: 500px !important;
}
}
@media(max-width:1024px){
.btn.btn-orange {
    padding: 14px 10px !important;
    margin-left: -102px;
}
.colA {
  height: 500px !important;
}
.colB {
  height: 500px !important;
}
.right-block{
  width: 482px;
  margin-top: 15px;
}
}
