<div class="patients-wrapper">
  <div class="container-fluid-full">
    <div class="patients-navigation">
      <ul id="patient_navigation">
        <li class="active">
          <a class="patient_link">
            <div class="patient_name">Patients</div>
            <!-- <div class="patient_dob"></div> -->
          </a>
          <i class="category-arrow"></i>
        </li>
        <li id="patient">
          <a class="patient_link">
            <div class="patient_name">Karthik test</div>
            <div class="patient_dob">03/24/22</div>
          </a>
          <a class="remove-chart-patient patient-remove-link" data-id="6243ec4a391cba0a3bf13cc8">
            <i class="fa fa-times"></i>
          </a>
        </li>
        <li class="arrow-navigation">
          <i class="category-arrow"></i>
        </li>
      </ul>
      <div class="patients-navigation-info">2 of 2 PATIENTS</div>
    </div>
    <div class="content">
      <div class="row controls">
        <div class="col-xl-4 col-lg-4 col-md-8">
          <mat-form-field appearance="outline" class="input-search col-xl-11 col-lg-10 col-md-11 col-10">
            <input matInput autocomplete="off" placeholder="Search by name or phone number" [(ngModel)]="searchName" />
          </mat-form-field>
          <button class="btn-search col-xl-1 col-lg-2 col-md-1 col-2" (click)="filtered()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-4 pb-3 pb-lg-0">
          <mat-checkbox class="patient-check-box col-lg-12 col-md-9 col-12 pull-right" (change)="toggleSelect($event)">
            Show Inactive
          </mat-checkbox>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-8">
          <mat-form-field appearance="outline" class="col-12 hover">
            <mat-select placeholder="All Providers" disableOptionCentering>
              <mat-option>No results found</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1"></div>
        <div class="col-xl-4 col-lg-3 col-md-3 pb-3 pb-lg-0">
          <button mat-button class="btn btn-orange pull-right">
            Add Patient
          </button>
        </div>
      </div>
      <div class="patients scrollable-mat-table">
        <mat-table [dataSource]="patientsDataSource" matSort>
          <ng-container matColumnDef="Image">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef>
              <a>
                <img class="avatar mx-2"
                  src="../../../assets/images/avatar-empty-0b15d6123f5339b0505eef6ad8a8fe0d22d1406692b5c16b3839c561e9c92e60.svg"
                  alt="Avatar empty">
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="First">
            <mat-header-cell *matHeaderCellDef mat-sort-header="First">FIRST</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <a>{{patient.First}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Middle">
            <mat-header-cell *matHeaderCellDef> MIDDLE</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <a>{{patient.Middle}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Last">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Last">LAST</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <a>{{patient.Last}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="DOB">
            <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <span>
                {{patient.DOB}}
                <br>
                {{patient.Gender}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Age">
            <mat-header-cell *matHeaderCellDef>AGE
            </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.Age}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ContactInfo">
            <mat-header-cell *matHeaderCellDef>CONTACT INFO</mat-header-cell>
            <mat-cell *matCellDef="let patient">
              <span>
                {{patient.ContactInfo}}
                <br>
                {{patient.Mail}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LastAccessed">
            <mat-header-cell *matHeaderCellDef mat-sort-header="LastAccessed">LAST ACCESSED</mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.LastAccessed}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Created">
            <mat-header-cell *matHeaderCellDef mat-sort-header="Created">CREATED</mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.Created}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Select">
            <mat-header-cell class="justify-content-center" *matHeaderCellDef>SELECT
            </mat-header-cell>
            <mat-cell class="justify-content-center" *matCellDef="let patient">
              <mat-checkbox class="patient-check-box" [checked]="patient.Select">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="patientColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: patientColumns;"></mat-row>
        </mat-table>
        <div class="norecords-found" *ngIf="patientsDataSource.length==0">
          No Patients Found
        </div>
      </div>
    </div>
  </div>
</div>
