.container-fluid {
  width: 100%;
  border: 1px solid #41b6a6;
  border-bottom: 1px solid #41b6a6;
  padding-left: 12.5px;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding-left: 13px;
}
.w3-button {
  min-width: 10px !important;
  min-height: 10px !important;
  border: 1px solid white !important;
  padding: 0px 5px !important;
  color: #fff !important;
}
.w3-button:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}
.example-margin {
  text-align: center !important;
}
.color {
  background-color: #fff !important;
}
.table {
  width: 100% !important;
}
.content-block {
  min-height: 624px;
  background-color: #fff;
}
.row {
  border-bottom: none;
  max-height: 100%;
}
.popupdata {
  border: none;
}

::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}

/* Dropdown */

::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-form-field-outline,
.hover.mat-form-field-appearance-outline:active .mat-form-field-outline {
  background: #41b6a6 !important;
  border: none !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  border-radius: 6px;
  border: 1px solid #41b6a6 !important;
}
.mat-option.mat-active {
  background: #e5f8f5 !important;
}
::ng-deep .mat-select-arrow {
  color: #4d4b4b !important;
}
::ng-deep .mat-select-placeholder {
  color: #4d4b4b !important;
}
::ng-deep .matInput-placeholder {
  color: #4d4b4b !important;
}
.mat-form-field-wrapper {
  height: 34px !important;
}
::ng-deep .hover.mat-form-field-appearance-outline:hover .mat-select-arrow {
  color: white !important;
}
::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-select-placeholder {
  color: white !important;
}
::ng-deep
  .hover.mat-form-field-appearance-outline:hover
  .mat-select-value-text {
  color: white !important;
}
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fff !important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #fff !important;
}

// mat-input error outline color
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #fff !important;
  opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: black !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #fff !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: #fff(0, 0, 0, 0.6) !important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #fff !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .mat-select-panel {
  min-width: calc(100% + 22px) !important;
  max-width: calc(min-width) !important;
  margin-left: 5px !important;
}
.mat-option {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}
.mat-option:last-child {
  border-right: 1px solid #41b6a6;
}
.mat-option:last-child {
  border-bottom: 1px solid #41b6a6;
}
.mat-option:hover {
  background-color: #e5f8f5;
}
.mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
  text-shadow: black;
}

/* Mat Calendar icon  */

::ng-deep
  .mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon-button
  .mat-datepicker-toggle-default-icon {
  color: #41b6a6;
}

.mat-row:hover {
  a {
    cursor: pointer;
    text-decoration: underline;
    color: #41b6a6;
  }
}
a {
  color: rgba(0, 0, 0, 0.87);
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #41b6a6 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #fff !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-width: 5px;
  border-color: #41b6a6 !important; /*outer ring color change*/
}

.erx {
  min-height: 350px;
  border-color: #41b6a6;
}
.report:hover {
  text-decoration: underline #41b6a6;
  color: #41b6a6;
  cursor: pointer;
}
.grid-margin {
  border-width: 3px;
  border-style: solid;
  border-color: #41b6a6;
  overflow-x: auto;
}
.mat-header-cell {
  color: white;
  border-right: 1px solid white;
  max-height: 54px;
}
.mat-header-cell:last-child {
  border-right: none;
}
.submenu {
  border-right: 1px solid #41b6a6;
  padding-top: 25px;
}
.submenu:last-child {
  border-right: none;
}
.mat-header-row {
  background-color: #41b6a6;
  // border-right-width: 1px;
  // border-right-style: solid;
}
.mat-row:hover {
  background-color: #e5f8f5;
}
.mat-row,
.mat-header-row {
  display: flex;
  align-items: center;
  height: 53px;
  font-family: serif;
  border-right: 1px solid #41b6a6;
}
.menu:hover {
  background-color: rgb(227, 238, 248);
}
.menu {
  background-color: rgb(243, 180, 144);
  border-bottom-color: rgb(243, 180, 144);
}
.stage3table,
.stage2table {
  border-left: 1px solid #41b6a6;
}
::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 242, 242);
    border-radius: 20% !important ;
    border-color: rgb(151, 150, 150);
    height: 19px;
    width: 19px;
  }
  .mat-checkbox-checkmark-path {
    stroke: grey !important;
  }
}
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}
::ng-deep .example-margin {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border-width: 2px;
    border-style: solid;
    width: 19px;
    height: 19px;
  }
}
.mat-cell {
  border-bottom: #41b6a6 1px solid;
}

.mat-cell,
.mat-header-cell {
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 12px 20px;
  height: 53px;
  border-bottom: #41b6a6 1px solid;
}
// .stage3 {
//   width: 100%;
//   overflow-x: auto;
// }

.mat-checkbox {
  font-weight: bold;
}

.modal-content {
  border-color: 1pxsolid #41b6a6;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  max-height: 600px;
  max-width: 1300px;
  margin: 0 auto;
}

.modal-body {
  overflow-y: auto !important;
  border: 1px solid #41b6a6;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
button {
  background-color: #fff;
  border: 1px solid #41b6a6;
  height: 45px;
  color: #41b6a6;
  border-radius: 3px;
}
button:hover {
  background-color: #41b6a6;
  color: #fff;
  border: 1px solid #fff;
}

.content-block {
  max-height: 624px;
  background-color: #fff;
}

mat-header-cell {
  background-color: #41b6a6 !important;
  width: 100%;
  max-height: 54px;
  text-align: left !important;
  display: block;
  align-self: stretch !important;
}
mat-cell {
  border-right: 1px solid #41b6a6;
  max-height: 80px;
  border-bottom: 1px solid #41b6a6;
  text-align: left !important;
  background-color: white !important;
  display: block;
  align-self: stretch !important;
}

.ehr-cqm-table-container {
  position: relative;
  overflow: auto;
  border: #41b6a6 1px solid;
  text-align: center;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
.panel {
  overflow-y: scroll;
  max-height: 500px;
}
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.1;
}
.body {
  background-color: rgb(247, 245, 245);
  border: 3px solid rgb(226, 226, 226) !important;
  border-radius: 6px;
}
mat-expansion-panel-header {
  background-color: rgb(247, 245, 245);
  border: 3px solid rgb(226, 226, 226) !important;
}

@media (max-width: 1350px) {
  .ehr-cqm-container {
    max-width: 1200px;
    overflow-x: scroll;
  }
  .mat-table {
    width: 1350px;
  }
}

table {
  border-collapse: collapse;
}

td {
  padding-top: 1em;
  padding-bottom: 1em;
}
.modal-content {
  border-color: 1pxsolid #41b6a6;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  max-height: 600px;
  max-width: 1300px;
  margin: 0 auto;
}
#sortpointer th {
  cursor: pointer;
}
// ::ng-deep
//   .mat-form-field-appearance:disabled
//   .mat-form-field-appearance-legacy:disabled
//   .mat-form-field-underline:disabled {
//   .matInput:disabled {
//     background: #dddddd !important;
//   }
// }
// ::ng-deep {
//   .asterisk .mat-input-element::after {
//     content: "*";
//     color: #ee0d0d !important;
//   }
// }
.required {
  color: red !important;
}
// .stage2 {
//   .w3-modal {
//     height: 138.5% !important;
//   }
//   body {
//     overflow: hidden !important;
//   }
// }
// .stage3 {
//   .w3-modal {
//     height: 210% !important;
//   }
//   body {
//     overflow: hidden !important;
//   }
// }
// body.stage2 {
//   overflow: hidden !important;
// }
.fa {
  color: #fff !important;
  font-size: 14px !important;
}
