.Helvetica-sans-serif-small{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
}
.Helvetica-sans-serif-medium{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
}
.Helvetica-sans-serif-large{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
}
.bg-color{
  background-color: #41b6a6 !important;
  color: #fff !important;
 }

// plus button

.plusicon {
  border-radius: 3px;
  border: 1px solid #fff;
  background: #fff;
  width: 80px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.plusicon:hover {
  background-color: #41b6a6;
  .fa-plus {
    color: #fff;
  }
}
.plusicon .fa-plus {
  padding: 2px;
  color: #41b6a6;
  font-size: 24px;
  font-family: 'FontAwesome';
}
// modal
.modal-content{
  box-shadow: none;
  border: 1px solid #41b6a6;
  border-radius: 5px;
  background-color: #fff;
}
.modal-header {
  min-height: 50px !important;
  background-color: #41b6a6;
  color: #fff;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
  padding: 14px 10px !important;
}
.modal-header .modal-title{
  margin: 0;
  color: #fff;
  line-height: normal;
}
.modal-body{
  padding-top: 14px !important;
  background-color: #fff;
}
.modal-footer{
  padding: 10px 26px !important;
  border-top: 0px;
}
.modal-dialog .cross-mark {
  border: 1px solid currentColor;
  width: 23px;
  height: 23px;
  text-align: center;
  border-radius: 3px;
  padding: 0px !important;
  color: white;
  font-family: cursive;
}
.modal-dialog .cross-mark:hover {
  opacity: 0.75;
}
// save btn

.btn.btn-green {
  color: #41b6a6;
  border-color: #41b6a6;
  background: #fff;
  font-family: inherit;
}
.btn.btn-green:hover {
  color: #fff;
  border-color: #41b6a6;
  background: #41b6a6;
}
.btn.btn-orange {
  color: #fe8f00;
  background-color: #fff;
  border-color: #fe8f00;
}
.btn.btn-orange:hover{
  background-color: #fe8f00;
  color: #fff;
}
// active tab
.nav-tabs{
  border-bottom: none;
}
.nav-tabs.nav-tab-styled li a {
  margin-bottom: 0px;
  border-radius: 0px 0px 0 0;
  border: 1px solid #41b6a6;
}
.nav-tabs.nav-tab-styled li.active a {
  background-color: #41b6a6;
  color: #fff;
  border-bottom: 0px;
}

.nav-tab-styled .nav-link.active {
  background-color: #41b6a6;
  color: #fff;
}
// card
.card{
  border: 1px solid #41b6a6;
  border-radius: 3px;
  margin-bottom: 20px;
}
.inner-card.card{
  margin: 30px;
}
.card-header{
  background-color: #41b6a6;
  border-bottom: 1px solid #41b6a6;
  min-height: 50px;
  border-radius: 0px !important;
}
.card .card-body {
  padding: 15px 20px;
}
.card-title{
  padding: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
 }

// input group addon

.form-group .input-group .input-group-addon {
  padding: 15px 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.labelclass {
  border-radius: 4px;
  max-width: 190px;
  padding: 16px;
  color: #525358;
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  background: #d6d8df;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.inputclass {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 0px 10px;
  height: 45px;
  color: #333333;
  font-size: 15px;
  background-color: #f5f5f5;
}
.inputclass:hover {
  border: 1px solid #41b6a6;
}
// Search

.input-group-addon-search {
  width: 57px;
  display: table-cell;
  position: relative;
  right: 0;
  margin-left: 26%;
  top: 0;
  background-color: #41b6a6;
  border: 1px solid #41b6a6;
  border-left: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.fa-search{
  margin-left: 21%;
}
