.Helvetica-sans-serif-small{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
}
.Helvetica-sans-serif-medium{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
}
.Helvetica-sans-serif-large{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
}
