// mat radio button
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #41b6a6 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #fff !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-width: 5px;
  border-color: #41b6a6 !important; /*outer ring color change*/
}
::ng-deep .mat-radio-inner-circle{
  height: 23px !important;
  width: 25px !important;
}
::ng-deep .mat-radio-outer-circle{
  height: 25px !important;
  width: 25px !important;
  top: -3px !important;
  border: 1px solid #dedede;
  transition: border 0.1s, border-color 0.2s !important;
}
::ng-deep .mat-radio-outer-circle:hover{
  border: 1px solid #41b6a6;
}
::ng-deep .mat-radio-container{
  width: 30px !important;
  height: 22px !important;
}
// mat-form-field outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  color: #41b6a6 !important;
}
::ng-deep
  .mat-form-field-appearance-outline:hover
  .mat-form-field-outline,
.mat-form-field-appearance-outline:active .mat-form-field-outline {
  background: #ebf6f5 !important;
  border: none !important;
}
::ng-deep .mat-select-arrow{
  color: #41b6a6 !important;
}
// mat input search mat-form-field outline color
::ng-deep .input-search.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff !important;
  color: #41b6a6 !important;
}
::ng-deep .input-search .mat-form-field-outline-start {
  border-radius: 6px 0 0 6px !important;
}

::ng-deep .input-search .mat-form-field-outline-end {
  border-radius: 0 0px 0px 0 !important;
}
// check box
::ng-deep .patient-check-box {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #41b6a6 !important;
    background-color: #fff !important;
    border-width: 1px;
    border-style: solid;
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
}
::ng-deep .patient-check-box:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}
::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #fff !important;
    border-radius: 20% !important ;
    border-color: #41b6a6 !important;
    height: 25px;
    width: 25px;
    border-radius: 5px;
  }
  .mat-checkbox-checkmark-path {
    stroke: #41b6a6 !important;
  }
}
