<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-3">
      <app-admin-breadcrum></app-admin-breadcrum>
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-2 mx-1">
      <h1>{{displayHeading}}</h1>
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-2">
      <form class="row  form-border my-3">
        <div class="col-md-4 mt-3">
          <label for="Sequence" class="form-label">Sequence</label>
          <input type="text" class="form-control text-design" id="Sequence" placeholder="Sequence">
        </div>
        <div class="col-md-4 mt-3">
          <label for="Heading" class="form-label">Heading</label>
          <input type="text" class="form-control text-design" id="Heading" placeholder="Heading Text">
        </div>
        <div class="col-4 mt-3">
          <label for="LogoType" class="form-label">Logo Type</label>
          <select id="LogoType" class="form-select">
            <option selected>1.0</option>
            <option>2.0</option>
          </select>
        </div>
        <div class="col-md-4 mt-3">
          <label for="NewsText" class="form-label">News Text</label>
          <input type="text" class="form-control text-design" id="NewsText" placeholder="Enter News Text">
        </div>
        <div class="col-md-4 mt-3">
          <label for="TagLine" class="form-label">Tag Line</label>
          <input type="text" class="form-control text-design" id="TagLine" placeholder="Enter Tag Line">
        </div>
        <div class="col-4 mt-3">
          <label for="LogoType" class="form-label">Slide Type</label>
          <select id="inputState" class="form-select text-design">
            <option selected>Info</option>
            <option>Count</option>
            <option>Trending</option>
          </select>
        </div>
        <div class="col-md-12 mt-3">
          <label for="Body" class="form-label">Body</label>
          <ckeditor></ckeditor>
        </div>
        <div class="col-12 mb-3 mt-4">
          <button type="submit" class="btn btn-danger btn-priview">Preview </button>
          <div class="note mt-4">Note: Use below tags to show counts for patients, encounters and returning patients<br>
            &lt;patients&gt;, &lt;encounters&gt;, &lt;returning_patients&gt;, &lt;old_patients&gt;,
            &lt;old_encounters&gt;, &lt;old_returning_patients&gt;</div>
        </div>
      </form>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight btn btn-primary btn-style">Save</div>
        <div class="p-2 bd-highlight" class="btn btn-sm btn-style mx-2"  (click)="BackWeeklyUpdate('Weekly Update','admin/weeklyupdates')">Back</div>
      </div>
    </div>
  </div>
</div>
