@import "../../../assets/admin.common.scss";

h1 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
input::-webkit-input-placeholder {
  color: rgb(162, 158, 158) !important;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

}
.btn-priview{
  background: #e34747;
  color: #ffffff;
  padding: 4px;
}
.form-border{
  border: 1px solid rgb(179, 179, 179);
  margin-left: 1px;
  margin-right: 0px;
}
.form-label{
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.form-control.text-design {
  border: 1px solid #dadcdf;
  font-family: "Open Sans", sans-serif;
  height: 40px;
}
.form-select{
  border-radius: 1px;
}
.btn-style{
  font-family: "Open Sans", sans-serif;
  border-color: #2e6da4;
  border-radius:0px;
}

.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
