<div id="changepassword">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="margin:-1px">
      <h4 class="modal-title Helvetica-sans-serif-large" >Edits Password</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="changepasswordform" (ngSubmit)="save()"></form>
      <div class="row">
        <div class="col-lg-12 col-md-4 col-sm-4">
          <div class="form-group">
            <input type="text" placeholder="Email" class="inputclass" [(ngModel)]="data.email" disabled="true">
          </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-4">
          <div class="form-group">
            <input formControlName="password"
            id="password" type="password" placeholder="New Password" class="inputclass" [(ngModel)]="data.password">
          </div>
          <div *ngIf="formcontrols.password.touched && formcontrols.password.invalid" class="alert alert-danger">
          <div *ngIf="formcontrols.password.errors.required">Password is required.</div>
        </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-4">
          <div class="form-group">
            <input formControlName="confirm_password"
            id="confirm_password" type="password" placeholder="Confirm Password" class="inputclass" [(ngModel)]="data.confirmpassword">
          </div>
          <div *ngIf="formcontrols.confirm_password.touched && formcontrols.confirm_password.invalid" class="alert alert-danger">
            <div *ngIf="formcontrols.confirm_password.errors.required">Password is required.</div>
            <div *ngIf="formcontrols.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
        </div>
        </div>
      </div>
    </div>

    <div class="mx-2 my-2">
      <button type="button" class="btn w-25 pull-right btn-lg btn-green mx-3" (click)="close()">Close
      </button>
      <button type="button" class="btn w-25 pull-right btn-lg btn-green mx-3" type="submit" [disabled]="!changepasswordform.valid">Save
      </button>
    </div>

  </div>
</div>
</div>
