<div id="changepassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="margin:-1px">
        <h4 class="modal-title Helvetica-sans-serif-large">Edit Password</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="changepasswordform" (ngSubmit)="updatePassword()">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input type="text" placeholder="Email" class="inputclass"
                  [value]="data.Email" disabled="true">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input formControlName="password" id="password" type="password" [(ngModel)]="data.Password"
                  placeholder="New Password" class="inputclass">
                <div *ngIf="formcontrols.password.touched && formcontrols.password.invalid" class="error_message">

                  <div *ngIf="formcontrols.password.errors.required" style="display: flex;">
                    <mat-icon>report</mat-icon>Password is required.
                  </div>
                  <div *ngIf="formcontrols.password.errors.minlength || formcontrols.password.errors.maxlength" style="display: flex;">
                    <mat-icon>report</mat-icon>Password should between 8 to 20 characters.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input formControlName="confirm_password" id="confirm_password" [(ngModel)]="data.ConfirmPassword"
                  type="password" placeholder="Confirm Password" class="inputclass">
                <div *ngIf="formcontrols.confirm_password.touched && formcontrols.confirm_password.invalid"
                  class="error_message">
                  <div *ngIf="formcontrols.confirm_password.errors.required" style="display: flex;">
                    <mat-icon>report</mat-icon>Password is required.
                  </div>
                  <div *ngIf="formcontrols.confirm_password.errors.minlength || formcontrols.confirm_password.errors.maxlength" style="display: flex;">
                    <mat-icon>report</mat-icon>Password should between 8 to 20 characters.
                  </div>
                  <div *ngIf="formcontrols.confirm_password.errors.confirmedValidator" style="display: flex;">
                    <mat-icon>report</mat-icon>Password and Confirm Password must be match.
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pull-right btn-green mx-3" (click)="close()">Close
        </button>
        <button type="submit" class="btn pull-right btn-green"
          [disabled]="!changepasswordform.valid" (click)="updatePassword()">Save
        </button>
      </div>
    </div>
  </div>
</div>
