<div id="changepassword">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" style="margin:-1px">
      <h4 class="modal-title Helvetica-sans-serif-large" >Edits Password</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12 col-md-4 col-sm-4">
          <div class="form-group">
            <input type="text" placeholder="Email" class="inputclass">
          </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-4">
          <div class="form-group">
            <input type="text" placeholder="New Password" class="inputclass">
          </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-4">
          <div class="form-group">
            <input type="text" placeholder="Confirm Password" class="inputclass">
          </div>
        </div>
      </div>
    </div>

    <div class="mx-2 my-2">
      <button type="button" class="btn w-25 pull-right btn-lg btn-green mx-3" (click)="close() ">Close
      </button>
      <button type="button" class="btn w-25 pull-right btn-lg btn-green mx-3" (click)="save() ">Save
      </button>
    </div>

  </div>
</div>
</div>
