@import "../../../assets/cstm.material.scss";
@import "../../../assets/common.scss";

#edit-user-modal.modal-dialog {
  margin-top: 10px;
  max-width: 1205px;
  max-height: 800px;
}
.modal-dialog .modal-content .modal-header {
  padding: 20px 16px;
}
.modal-content.UserModal {
  border: 1px solid rgb(65 182 166) !important;
}
.modal-content {
  height: 700px !important;
}
.modal-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: #41b6a6;
  border-bottom: none;
  min-height: 50px;
  max-height: 50px;
}
.modal-body {
  background-attachment: fixed;
  background: white;
  height:600px
}
div.ex3 {
  box-sizing: border-box;
  padding: 24px;
  white-space: nowrap;
  overflow-y: scroll;
}
.main-info .row {
  padding: 15px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .avatar.border {
    max-width: 500px;
  }
}
.border {
  border: 1px solid #41b6a6 !important;
  border-radius: 3px;
}
.text-mute {
  color: #504b4b !important;
  font-size: 15px;
}
.btn:focus{
  box-shadow: none !important;
}
.closemodel {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #41b6a6;
  background-color: white;
  font-size: 14px !important;
  white-space: nowrap;
  border: 1px solid white;
}
.closemodel:hover {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: #41b6a6;
}
.settings-label {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2px;
  font-weight: 700;
  color: #585656;
}
.form-group .input-group .input-group-addon {
  padding: 15px 10px;
}
.form-group label {
  font-size: 17px;
  padding-top: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.inputclass {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 0px 10px;
  height: 45px;
  color: #333333;
  font-size: 15px;
  background-color: #f5f5f5;
}
.inputclass:hover {
  border: 1px solid #41b6a6;
}
.notallowCursor {
  cursor: not-allowed !important;
}
.panel-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #41b6a6;
  color: white;
  border: #41b6a6;
  min-height: 50px;
  text-align: 10px;
  //margin-top: -1px;
  //padding: 14px 20px; // schedule panel
  padding-top:10px;
  font-size: 15px;
  display: flex;
  padding: 10px;
}
.plusicon {
  border-radius: 5%;
  border: 1px solid white;
  background: white;
  width: 50px;
}

.plusicon .fa-plus {
  color: #41b6a6;
  text-align: center;
  //padding: 9px 20px;
}

.plusicon:hover {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  border: 1px solid white;
  background-color: #41b6a6;
  border-color: white;
  border: 1px solid white;
}

.plusicon:hover i.fa-plus {
  color: white;
}
@media (max-width: 768px) {
  .plusicon[_ngcontent-jax-c295] {
    border-radius: 5%;
    border: 1px solid white;
    background: white;
    height: 100%;
  }
  .fa-plus.addlocation {
    color: #41b6a6;
    text-align: center;
    padding: -3px 36px;
  }
}
@media (max-width: 1350px) {
  .scrollable-mat-table {
    max-width: 1200px;
    overflow-x: scroll !important;
  }
  .mat-table {
    width: 1200px;
    height: 500px;
  }
  .cstm-scroll-header {
    width: 100%;
  }
}
.userfromPractable {
  border: 1px solid #2faa9a;
  mat-row  mat-cell a,
  mat-row  mat-cell div{
    box-shadow: none;
  }
}
.is-invalid{
  color:red;
  border: 1px solid red;
}
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}
::ng-deep .example-margin {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border-width: 2px;
    border-style: solid;
    width: 19px;
    height: 19px;
  }
}
::ng-deep .example-margin:hover {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}
::ng-deep #edit-user-modal .mat-datepicker-toggle-default-icon {
  color: #41b6a6 !important;
}
::ng-deep #edit-user-modal  .cstm-datepicker-toggle .mat-focus-indicator {
  background-color: #fff;
}
::ng-deep #edit-user-modal .mat-tab-header-pagination-controls-enabled
  .mat-tab-header-pagination {
  color: #fff !important;
}


::ng-deep #edit-user-modal  mat-datepicker-toggle.mat-datepicker-toggle
  button.mat-icon-button
  span.mat-button-wrapper
  svg.mat-datepicker-toggle-default-icon
  > path {
  fill: #fff;
  stroke: rgb(224, 220, 220);
  stroke-linejoin: round;
  transition: d 0.2s;
}
::ng-deep #edit-user-modal  mat-datepicker-toggle.mat-datepicker-toggle
  button.mat-focus-indicator.mat-icon-button {
  background-color: #41b6a6;
  color: #fff;
  border-radius: 0%;
  margin-top: 0px;
  margin-bottom: -14px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: -10px;
  border: 1px solid #41b6a6;
  height: 3.1em !important;
  width: 3.1em !important;
  top: 0.06em;
}
.btn-success {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #41b6a6;
  background-color: white;
  font-size: 16px !important;
  white-space: nowrap;
  //width: 165px;
  height: 45px;
  border-color: #41b6a6;
}
.btn-success:hover {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: #41b6a6;
  border-color: #41b6a6;
}
.mat-header-row {
  font-size: 16px !important;
  background-color: #F7F7F7 !important;
  color: black !important;
  padding: 0px 0px;
}
.user-login-info{
  border: 1px solid #41a6b6;
  border-radius: 5px;
}

 .table>:not(:first-child) {
  border-top: 1px solid #41b6a6;
}
.mat-checkbox-frame{
  border: 0px solid;
}
.nopadding>*{
  padding:0px;
  background-color: transparent;
}

.nopadding2{
  display:grid
}
.nopadding2 div:not(:last-child){
  margin-bottom: 5px;
}
.nopadding2 div{
  font-size: 11px;
}
.mat-row{
  padding: 0 10px !important;
}
.upload-file {
  color: #41b6a6;
}
.upload-file:hover {
  background-color: #41b6a6;
  color: #fff;
}
