@import"../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";

.used-diagnoses-modal.modal-dialog {
  max-width: 950px;
}
.body {
  max-height: calc(90vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-header.header {
  padding: 0px 10px !important;
}
.row-head {
  border-right: 1px solid #fff;
    min-height: 50px;
    margin-left: -3px !important;
}
.freq-used-list,
.freq-used-list ul {
  list-style-type: none;
  padding: 0px;
}

.freq-used-list li:hover {
  background-color: #41b6a6;
  color: #fff;
  text-decoration: underline;
  cursor: pointer !important;
}
.side-boder {
  border-left: 1px solid #41b6a6;
}
.btn-custom {
  width: 85px;
}
