@import"../../../assets/common.scss";
@import"../../../assets/cstm.material.scss";
/* Matterial Dropdown */

::ng-deep .hover.mat-form-field-appearance-outline:hover .mat-form-field-outline,
.hover.mat-form-field-appearance-outline:active .mat-form-field-outline {
  background: #41b6a6 !important;
  color: #fff !important;
}

::ng-deep .hover.mat-form-field-appearance-outline:hover .mat-select-arrow {
  color: #fff !important;
}

::ng-deep .hover.mat-select-placeholder:hover,
.mat-form-field-appearance-outline:hover {
  color: #fff !important;
}

::ng-deep .mat-select-placeholder {
  color: black !important;
}

.row-dropdown {
  margin-bottom: -30px;
}

::ng-deep .hover.mat-form-field-appearance-outline:hover .mat-select-value-text {
  color: #fff !important;
}

// bootsrap drodpdown
.lab-drodown {
  border: 1px solid white;
  size: 22px;
  font-size: 20px;
  color: white;
  background: white;
}

.lab-drodown:hover {
  background: #41b6a6;

  .plus-icon {
    color: white;
  }
}

.menu-option-dropdown.active {
  background: #e4f6f3;
  color: black;
  font-size: 15px;
}

.menu-option-dropdown {
  font-size: 15px;
}

.scroll-menu {
  overflow-y: scroll;
  height: 187px !important;
}

.top-header {
  margin-top: -17px;
}

// search textbox
.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
  min-height: 42px;
  text-indent: 3px;
  border: 0px solid #d6d4d4;
  margin-top: 8px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue
}

.search .fa-search {
  position: absolute;
  top: 9px;
  left: 17px;
  color: white;
  font-size: 24px;
}

.search button {
  position: absolute;
  top: -0.89px;
  ;
  right: -50px;
  height: 43px;
  width: 55px;
  background: #41b6a6;
  border-color: white;
}

.plus-icon {
  color: #41b6a6;
  font-size: 23px !important;
  margin-left: -11px;
}

.search-input-dropdown {
  border: 1px solid #41b6a6;
  width: 97%;
  padding: 8px;
  margin-left: 3px;
  margin-right: 3px;
}

.btn-lab {
  color: #41b6a6;
  background: #ffffff;
  width: 137%;
  margin-left: -10px;
  border: 1px solid #41b6a6;
  margin-bottom: -23px;
}

.mat-header-cell {
  border: 1px solid #fff;
}

.mat-header-row {
  height: 40px;
}

.nav-tabs {
  border-bottom: 1px solid #ffffff !important;
}

.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 2%;
}

.table-NoRecord {
  background: White;
}

.form-control:focus {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  outline-color: transparent !important;
}

.modal-content {
  background: white;
  border: 0px solid white !important;
}

.modal-dialog {
  max-width: 800px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 1px 10px !important;
}

@media (max-width: 425px) {
  #modal-Lab-Oder .modal-dialog {
    max-width: 100%;
  }
}

.nav-tabs li a {
  border: 0;
  color: #41b6a6;
  background-color: #fff;
}
.nav-tabs.nav-tab-styled li a
{
  padding: 7px 14px 5px 15px !important;
  font-family: 'Roboto' !important;
  border-bottom: none;
}

.nav-item {
  width: 100px;
  font-size: 20px;
}

.top-header {
  background-color: #41b6a6;
}

.row {
  border-bottom: none;
  max-height: 100%;
}

.container-fluid {
  width: 100%;
  padding-left: 12.5px;
  margin-top: 40px;
}

.top-block {
  font-size: 16px !important;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width:768px) {
  .scrollable-mat-table {
    overflow-y: scroll !important;
  }

  .LabsimagingTable {
    width: 1000px !important;
  }
}

.table-responsive {
  overflow-x: hidden !important;
}
