/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// Plus imports for other components in your app.
@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: url ("assets/fonts/SFUIText/SFUIText-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Medium";
  font-style: normal;
  font-weight: normal;
  src: url ("assets/fonts/SFUIText/SFUIText-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Bold";
  font-style: normal;
  font-weight: normal;
  src: url ("assets/fonts/SFUIText/SFUIText-Bold.woff") format("woff");
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$ehr-angular-primary: mat-palette($mat-indigo);
//$ehr-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$ehr-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
//$ehr-angular-theme: mat-light-theme(
//  $ehr-angular-primary,
//  $ehr-angular-accent,
//  $ehr-angular-warn
//);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($ehr-angular-theme);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "./assets/styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/styles/functions";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/mixins/displayflex";
@import "./assets/styles/mixins/flexbox";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/transition";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";
@import "~ngx-toastr/toastr.css";
@import "./app/_components/drop-down-search/drop-down-search.theme.scss";
/* You can add global styles to this file, and also import other style files */

$angular-cdk-ehr-primary: mat-palette($mat-teal);
$angular-cdk-ehr-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-cdk-ehr-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-cdk-ehr-theme: mat-light-theme($angular-cdk-ehr-primary,
  $angular-cdk-ehr-accent,
  $angular-cdk-ehr-warn);

@include angular-material-theme($angular-cdk-ehr-theme);
// include custome themes
@include drop-down-search-theme($angular-cdk-ehr-theme);

html,
body {
  height: 100%;
  //font-family: "SF UI Text Regular" !important;
  font-family: $type-2;
}

body {
  margin: 0;
  //font-family: "SF UI Text Regular" !important;

  outline: none !important;
}

.content-wrapper {
  background-color: #fff;
  //padding: 1.5rem 1rem;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.51em 0 0.89em 0 !important;
}

/* Mat Paginator */

mat-paginator {
  color: black !important;
  //background-color: #41b6a6 !important;
  font-size: 16px !important;
}

::ng-deep .arrow .mat-select-value {
  color: #fff !important;
  font-size: 16px !important;
}

::ng-deep .arrow .mat-select-arrow {
  color: #fff !important;
  font-size: 16px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white !important;
}

/* mat sort  */
.mat-sort-header-arrow {
  color: white !important;
}

/* Loading Spinner */

#spinner {
  -webkit-animation: frames 1s infinite linear;
  animation: frames 3s infinite linear;
  background: transparent;
  border: 10px solid #41b6a6;
  border-radius: 100%;
  border-top-color: orange;
  width: 90px;
  height: 90px;
  opacity: 0.9;
  padding: 0;
  position: absolute;
  z-index: 999;
}

@keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#pause {
  display: block;
  background: rgba(0, 0, 0, 0.36) no-repeat 0 0;
  width: 100%;
  height: 100vh !important;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* Dropdown */
.mat-option {
  border-left: 1px solid #41b6a6;
  border-right: 1px solid #41b6a6;
}

.mat-option:last-child {

  border-bottom: 1px solid #41b6a6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mat-option:first-child {
  border-top: 1px solid #41b6a6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mat-option:hover {
  background-color: #e5f8f5;
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
  text-shadow: black;
}

.mat-option.mat-active {
  background: #e5f8f5 !important;
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  color: black !important;
  text-shadow: black;
}

.mat-option:hover {
  background-color: #e5f8f5 !important;
}

.mat-option {
  color: black !important;
  background-color: #fff;
}


//.mat-select-panel-wrap{
//  position: relative;
//top: 26px;
//}
/*
.mat-select-panel-wrap .mat-select-panel{
  min-width: calc(100% + 12px) !important;
  transform: translateX(4px) !important
}


.mat-select-panel{
  position: absolute;
  top: 32px;
  left: 4px;
  min-width: calc(100% + 22px) !important;
  border-radius: 0px !important;
  border: 1px solid blue;
  border-top-style: none;
}
*/

::ng-deep {
  mat-form-field {
    ::placeholder {
      color: #74757e;
      font-size: 15px;
    }
  }
}

/* check box */
::ng-deep .example-margin {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca !important;
    background-color: #eeeaea !important;
    border-width: 1px;
    border-style: solid;
    width: 18px;
    height: 18px;
  }
}

::ng-deep .example-margin:hover {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent {

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 242, 242) !important;
    border-radius: 20% !important;
    border-color: rgb(151, 150, 150) !important;
    height: 18px;
    width: 18px;
  }

  .mat-checkbox-checkmark-path {
    stroke: grey !important;
  }
}

/* Mat Calender */
::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
  color: #41b6a6 !important;
}

.mat-calendar-body-selected {
  background-color: #41b6a6;
  color: #fff;
}

.mat-calendar-body-selected:hover {
  background-color: #41b6a6;
  color: #fff;
}

// .mat-datepicker-content .mat-calendar-body-today:not(.mat-calendar-body-selected) {
//   border-color: #ffb733;
//   background-color: #ffdb99;
//   color: #000000;
// }

.mat-calendar-body-today {
  border-color: #ffb733 !important;
  background-color: #ffdb99 !important;
  color: #000000;
}

.mat-calendar-body-cell-content:hover {
  background-color: #41b6a6 !important;
  color: #fff;
}

.mat-calendar-table-header {
  color: #41b6a6;
  font-weight: 550;
}

.mat-calendar-body-label {
  color: #41b6a6;
}

.mat-calendar.mat-button {
  color: #fff;
  background-color: #41b6a6;
}

.mat-calendar-period-button {
  color: #41b6a6;
  background-color: #fff;
  border: 1px solid #41b6a6 !important;
}

.mat-calendar-period-button:hover {
  color: #fff;
  background-color: #41b6a6;
}

.mat-datepicker-content .mat-calendar-previous-button,
.mat-datepicker-content .mat-calendar-next-button {
  color: #41b6a6;
}

.mat-datepicker-content .mat-calendar-previous-button:hover,
.mat-calendar-next-button:hover {
  color: #fff;
  background-color: #41b6a6;
}

.mat-datepicker-content {
  border: 1px solid #41b6a6;
  background-color: #fff;
}

.mat-calendar-body-cell-content {
  border-style: none !important;
}

::ng-deep mat-datepicker-toggle.mat-datepicker-toggle button.mat-icon-button span.mat-button-wrapper svg.mat-datepicker-toggle-default-icon>path {
  fill: #fff !important;
  stroke: rgb(224, 220, 220) !important;
  stroke-linejoin: round !important;
  transition: d 0.2s !important;
}

::ng-deep mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button {
  background-color: #41b6a6 !important;
  color: #fff !important;
  border-radius: 0% !important;
  margin-top: 0px !important;
  margin-bottom: -14px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  margin-right: -10px !important;
  border: 1px solid #41b6a6 !important;
  height: 3.1em !important;
  width: 3.1em !important;
}

.pointer {
  cursor: pointer !important;
}

.cdk-overlay-container {
  // height: 100vh !important;
  z-index: 9999 !important;
}

a {
  color: #41b6a6;
  text-decoration: none;
  background-color: transparent;
}

body.loadactive {
  overflow: hidden !important;
}

.asterisk {
  color: #ff0000;
  margin-left: 0.25rem !important;
}

body,
b,
li,
.nav-tabs .nav-item .nav-link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.428571429;
  -webkit-filter: blur(0px);
}

.page-body-wrapper {
  padding-top: 0px;
  min-height: calc(100vh - 100px) !important;
}

// Related to sidebar
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #364150;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #b4bcc8;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #b4bcc8;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: auto !important;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  border-bottom: 0.5px solid #4c4e50;
}

.sidebar .nav-links li:hover {
  background: #2C3542;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 40px;
  text-align: center;
  line-height: 50px;
  color: #b4bcc8;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

// updated
.sidebar .nav-links li a .link_name {
  font-size: 14px;
  font-weight: 300;
  color: #b4bcc8;
  transition: all 0.4s ease;
  margin-left: -7px;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 30px;
  margin-top: -10px;
  background: #364150;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li.active .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #b4bcc8;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  // opacity: 1;
  background-color: #3e4b5c !important;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 12px;
}

.home-section {
  position: relative;
  // background: #e4e9f7;
  // height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close~.home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section.left-space {
  // left: 78px !important;
  // width: calc(100% - 78px) !important;
  left: 48px !important;
  width: calc(100% - 48px) !important;
}

.home-section .home-content {
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: #2b3643;
}

@media (max-width: 320px) {
  .home-section {
    position: relative;
    left: 0%;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
}

@media (max-width: 320px) {
  .home-section.left-space {
    left: 0px !important;
    width: 100% !important;
  }
}

@media (max-width: 418px) {
  .home-section.left-space {
    left: 36px !important;
    width: 100% !important;
  }
}

@media (max-width: 520px) {
  .home-section.left-space {
    left: 0px !important;
    width: 100% !important;
  }
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #c6cfda;
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 35px;
  cursor: pointer;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

i {
  color: #c6cfda;
}

.cstm-width .mat-form-field-wrapper {
  width: 0px !important;
  position: absolute !important;
}

.mat-form-field-wrapper {
  padding-bottom: 1rem;
}

.modal:nth-of-type(even) {
  z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}

.EHR1Id.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #e2e1e1 !important;
  //border: 0.4px solid black;
  border-radius: 2px !important;
}

.readonly.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #f5f5f5 !important;
  //border: 0.4px solid black;
  border-radius: 3px !important;
}

.readonly.mat-form-field-appearance-outline .mat-form-field-outline:hover {
  background: #f5f5f5 !important;
  border: 1px solid #41b6a6 !important;
  border-radius: 3px !important;
}

.readonly .mat-input-element {
  color: #696868;
}

.userfromPractable.mat-header-row.mat-row {
  border-bottom-color: red !important;
  border-bottom-style: none;
}

.locationnames {
  cursor: pointer;
}

// drop down arrow
.dropdown-toggle.show::after {
  display: inline-block !important;
  margin-left: 0.255em !important;
  vertical-align: 0.255em !important;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

//active page
.page-item.active .page-link {
  color: white !important;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}

.page-item.disabled .page-link {
  color: #c4c0c1 !important;
}

.modal {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // position: fixed;
  // z-index: 1000;
  // background: #aaa;
}

.modal {
  pointer-events: none !important;
}

.modal-content {
  pointer-events: all !important;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  transform: none !important;
  background-color: rgba(0, 0, 0, .2);
}

.model {
  height: fit-content;
}

//aligment for pagination
.pagination {
  width: 100%;

  @extend .flex-wrap;
}

// .Cancelbtn {
//   border-radius: 70px;
//   width: 32px;
//   height: 33px;
//   background: #e7505a;
//   ;
//   color: #ffffff;
//   font-size: 19px;
//   border: 1px solid red;
//   border-color: #e7505a;
//   border: none;
// }

.icon-close {
  font-size: 16px;
  color: white;
}

.form-control {
  font-family: 'Roboto';
}

.pop-contrainer {
  background: #f9f9f9 !important;
  border-radius: 6px !important;
  padding: 0px !important;
}

// .swal-input {
//   border: 1px solid #e9e9e9 !important;
// }

// .swal-input:hover {
//   border: 1px solid #41a6b6 !important;
// }

.login-cancel-button,
.login-confirm-button {
  color: #41a6b6 !important;
  background: #f9f9f9 !important;
  border: 1px solid #41a6b6 !important;
  border-radius: 6px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 10px !important;
}

.login-cancel-button1 {
  margin-right: 90px !important;
}

.login-confirm-button1 {
  margin-left: 90px !important;
}

.login-cancel-button:hover,
.login-confirm-button:hover {
  background-color: #41a6b6 !important;
  color: #f9f9f9 !important;
  border: 1px solid #41a6b6 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 10px !important;
  border-radius: 6px !important;
}

.login-header-font {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto' !important;
}

.login-close-button {
  color: #41a6a6  !important;
  background-color: white !important;
}

.login-close-button:hover {
  color: white !important;
  background-color: #41a6b6 !important;
}
.login-modal-header{
  background-color: #41a6b6 !important;
}

// pagination
.page-green.pagination .page-item.active .page-link {
  color: #fff !important;
  background-color: #41b6a6 !important;
  border: 1px solid #41b6a6 !important;
}

.page-green.pagination :hover {
  color: #fff !important;
  background-color: #41b6a6 !important;
  border-radius: 4px;
}

.page-green.pagination .page-item .page-link {
  border-color: #41b6a6;
  font-size: 14px;
  // width: 40px;
  height: 40px;
  color: #41b6a6;
}

.page-item.disabled {
  cursor: not-allowed;
}

.swal2-container-high-zindex {
  z-index: 1000000 !important;
}

.pg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.custom-paginator-container {
  justify-content: flex-end;
}

.custom-paginator-counter {
  white-space: nowrap;
  margin: 0px 4px 0px 10px !important;
}

.custom-paginator-page {
  // border-radius: 4px;
  // outline: none;
  // border: none;
  // margin: 0.4em;
  // font-size: 14px;
  // min-width: 24px;
  // width: auto;
  // min-height: 24px;
  // max-height: 24px;
  // padding: 1px 6px;

  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  color: #41b6a6;
  padding: 10px 0;
  background-color: #fff;
  transition: background-color 0.2s, color 0.2s;
  border-left: 1px solid #41b6a6;
  border-top: 1px solid #41b6a6;
  border-bottom: 1px solid #41b6a6;
  border-right: 0px solid #41b6a6;
}

.custom-paginator-page-enabled {
  color: #41a6b6;
  background: transparent;
  cursor: pointer;
  &:hover {
    background-color: #41a6b6;
    color:white;
  }
}

.custom-paginator-page-disabled {
  background-color: #41a6b6;
  color: #fff;
}

.custom-paginator-arrow-disabled {
  color: #dfe3e6;
  background-color: #fff;
  transition: background-color 0.2s, color 0.2s;
  border: 1px solid #41b6a6 !important;
  border-radius: 0px !important;
}

.custom-paginator-arrow-enabled {
  color: #41a6b6;
  background-color: #fff;
  transition: background-color 0.2s, color 0.2s;
  //border: 1px solid #41b6a6 !important;
  border-radius: 0px !important;
  &:hover {
    background-color: #41a6b6;
    color:white;
  }
}

.mat-paginator-navigation-next{
  border: 1px solid #41b6a6 !important;
}
.mat-paginator-navigation-previous{
  border-left: 1px solid #41b6a6 !important;
  border-top: 1px solid #41b6a6 !important;
  border-bottom: 1px solid #41b6a6 !important;
  border-right: 0px solid #41b6a6 !important;
}
.swal2-styled.swal2-confirm {
  background-color: #237bc9 !important;
}
