<div class="container-scroller" id="container-view">
  <provider-app-navbar (LocationChanged)="locationChanged($event)" (Bredcrumchanged)="UpdateBredcrum($event)"></provider-app-navbar>
  <app-breadcrum></app-breadcrum>
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel" style="width: 100%; min-height: calc(100vh - 200px);">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <!-- <provider-app-footer></provider-app-footer> -->
    </div>
  </div>
  <provider-app-footer></provider-app-footer>
</div>
