<mat-form-field class="teeth-surface-form-field" appearance="outline" class="teeth-surface-input"
  [class.teeth-surface-input-active]="showPanel$ | async" cdkOverlayOrigin #originOverlay="cdkOverlayOrigin">
  <!-- <mat-label>Teeth Surface</mat-label> -->
  <div style="display:flex;vertical-align: middle;">
    <input matInput style="width:10rem" [formControl]="teethCtrl" name="teeth-surface" placeholder="Select Surface..."
      [(ngModel)]="selectedOption" />
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </div>
</mat-form-field>
<ng-template cdkConnectedOverlay cdkConnectedOverlayHasBackdrop [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="originOverlay" [cdkConnectedOverlayOpen]="showPanel$ | async"
  [cdkConnectedOverlayPositions]="positions">
  <section class="teeth-surface-panel mat-elevation-z1">
    <div class="dropdown-menu panel-borders">
      <div style="display: grid;">
        <ul>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_buccal_v') > -1"
              (click)="onOptionSelected('surface_buccal_v')">Surface: Buccal V</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_facial_v') > -1"
              (click)="onOptionSelected('surface_facial_v')">Surface: Facial V</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_mesial') > -1"
              (click)="onOptionSelected('surface_mesial')">Surface: Mesial</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_incisal') > -1"
              (click)="onOptionSelected('surface_incisal')">Surface: Incisal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_distal') > -1"
              (click)="onOptionSelected('surface_distal')">Surface: Distal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_lingual') > -1"
              (click)="onOptionSelected('surface_lingual')">Surface: Lingual</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_facial') > -1"
              (click)="onOptionSelected('surface_facial')">Surface: Facial</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_buccal') > -1"
              (click)="onOptionSelected('surface_buccal')">Surface: Buccal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_occlusal') > -1"
              (click)="onOptionSelected('surface_occlusal')">Surface: Occlusal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('surface_lingual_v') > -1"
              (click)="onOptionSelected('surface_lingual_v')">Surface: Lingual V</div>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('pit_mesiobuccal') > -1"
              (click)="onOptionSelected('pit_mesiobuccal')">Pit: Mesiobuccal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('pit_mesiolingual') > -1"
              (click)="onOptionSelected('pit_mesiolingual')">Pit: Mesiolingual</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('pit_distobuccal') > -1"
              (click)="onOptionSelected('pit_distobuccal')">Pit: Distobuccal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('pit_distolingual') > -1"
              (click)="onOptionSelected('pit_distolingual')">Pit: Distolingual</div>
          </li>
        </ul>
      </div>
      <div>
        <ul style="padding-right:20px">
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('cusp_mesial') > -1"
              (click)="onOptionSelected('cusp_mesial')">Cusp: Mesial</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('cusp_mesiobuccal') > -1"
              (click)="onOptionSelected('cusp_mesiobuccal')">Cusp: Mesiobuccal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('cusp_mesiolingual') > -1"
              (click)="onOptionSelected('cusp_mesiolingual')">Cusp: Mesiolingual</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('cusp_distal') > -1"
              (click)="onOptionSelected('cusp_distal')">Cusp: Distal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('cusp_distobuccal') > -1"
              (click)="onOptionSelected('cusp_distobuccal')">Cusp: Distobuccal</div>
          </li>
          <li>
            <div class="place-option" [class.opttion-selected]="selectedOptions.indexOf('cusp_distolingual') > -1"
              (click)="onOptionSelected('cusp_distolingual')">Cusp: Distolingual</div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</ng-template>
