<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-12 mt-4">
      <app-admin-breadcrum></app-admin-breadcrum>
    </div>
    <div class="col-lg-12">
      <div class="portlet light bordered">
        <div class="contain">
          <div class="portlet-title row mt-4 ">
            <div class="col-lg-11 col-md-12 col-12 ">
              <h4>ADMINS</h4>
            </div>
            <div class="example col-lg-1 col-md-12 col-12 ">
              <button class="btn-add common-button-style" data-bs-toggle="modal" data-bs-target="#new-admin-modal"
                (click)="onAddAdmin()">Add New Admin </button>
            </div>
          </div>
          <div class="portlet-body mt-4">
            <mat-progress-bar mode="indeterminate" bufferValue="20" value=100
                      *ngIf="dialogIsLoading" ></mat-progress-bar>
            <div class="table-responsive table-scrollable-borderless admin-table-scroll">
              <table class="table table-users">
                <thead class="th-border">
                  <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of adminDataSource | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td class="full-name">
                      {{item.Title}} {{item.FirstName}} {{item.LastName}}
                    </td>
                    <td class="user-email">{{item.Email}}</td>
                    <td class="column"><button class="btn-view table-col-button" data-bs-toggle="modal"
                        data-bs-target="#new-admin-modal" (click)="isView(item)">View</button></td>
                    <td><button type="button" class="Cancelbtn" (click)="DeleteConfirmation(item)"><i
                          class="fa fa-close icon-close"></i></button></td>
                    <td><button class="btn-view  table-col-button" *ngIf="item.EnableTwofactor" (click)="ToggleDuo(item)">Disable Duo</button>
                      <button class="btn-view  table-col-button" *ngIf="!item.EnableTwofactor" (click)="ToggleDuo(item)">Enable Duo</button></td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center text-danger py-2 col-12" *ngIf="adminListBehaviour | async">
                No Admins Found
              </div>
            </div>
          </div>
          <div [hidden]="adminListBehaviour | async">
            <div class="d-flex justify-content-end my-3">
              <nav aria-label="Page navigation">
                <ul class="pagination mt-4">
                  <ngb-pagination [pageSize]="pageSize" [collectionSize]="adminDataSource?.length" [maxSize]="9"
                    [(page)]="page" aria-label="Default pagination">
                  </ngb-pagination>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Admin Registration Modal -->
<div class="modal fade " id="new-admin-modal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop4"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div *ngIf="isSave">Edit Admin</div>
        <div *ngIf="isAddAdmin">New Admin</div>
        <span type="button" class="mx-2" data-bs-dismiss="modal" (click)="resetDialog()">
          X
        </span>
      </div>
      <div class="modal-body body-scroller">

        <div class="content">
          <div class="row border">
            <div class="col-lg-1 col-md-3 col-sm-12 col-12 mt-3">
              <label class="required">Title</label>
              <select class="form-select border-input" id="title" name="title" [(ngModel)]="newAdminRegistration.Title">
                <option *ngFor="let title of titles" [value]="title.Name">
                  {{title.Name}}
                </option>
              </select>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 col-12 mt-3">
              <label class="required">First Name</label>
              <input type="input" class="form-control border-input" required #firstname="ngModel"
                placeholder="First Name" [(ngModel)]="newAdminRegistration.FirstName" alphaOnly>
              <div *ngIf="firstname.errors && firstname.touched">
                <div class="error_message" *ngIf="firstname.errors?.required">
                  <p class="errormessage">Please enter first name</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-3">
              <label>Middle Name</label>
              <input type="input" class="form-control border-input" id="middlename" placeholder="Middle Name"
                [(ngModel)]="newAdminRegistration.MiddleName" alphaOnly>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 col-12 mt-3">
              <label class="required">Last Name</label>
              <input type="input" class="form-control border-input" required #lastname="ngModel" id="lastname"
                placeholder="Last Name" [(ngModel)]="newAdminRegistration.LastName" alphaOnly>
              <div *ngIf="lastname.errors && lastname.touched">
                <div class="error_message" *ngIf="lastname.errors?.required">
                  <!-- <i class="fa fa-minus"></i> -->
                  <p class="errormessage">Please enter last name</p>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-3 mb-4">
              <label class="required">Role</label>
              <select class="form-select border-input text-change" id="role" name="role"
                [(ngModel)]="newAdminRegistration.Role">
                <option value="admin">Admin</option>
                <option value="support">Support</option>
                <option value="compliance">Compliance</option>
              </select>
            </div>
          </div>
          <div class="row border mt-4">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
              <label class="required">Primary Phone Number</label>
              <div class="input-group ">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="input" placeholder="(    )" aria-label="Number" matInput [formControl]="myControlPrimary"
                    [matAutocomplete]="autoPrimary" [(ngModel)]="newAdminRegistration.PrimaryPhonePreffix">
                  <mat-autocomplete autoActiveFirstOption #autoPrimary="matAutocomplete" class="scrollable-table">
                    <mat-option class="tel-code" *ngFor="let option of filteredOptionsPrimary | async" [value]="option"
                      (click)="onSelectedPrimaryPhoneCode(option)">
                      <h1>{{option}}</h1>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-width">
                  <input matInput placeholder="Primary Phone Number" class="cstm-tel" type="tel" mask="000-0000"
                    [showMaskTyped]="true" [patterns]="PhonePattern" required #primaryphone="ngModel"
                    [(ngModel)]="newAdminRegistration.PrimaryPhoneSuffix">
                </mat-form-field>
                <div *ngIf="primaryphone.errors && primaryphone.touched" style="margin: -12px 0 0 0">
                  <div class="error_message" *ngIf="primaryphone.errors?.required">
                    <!-- <i class="fa fa-minus"></i> -->
                    <p class="errormessage">Please enter primary phone</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
              <label>Mobile Phone Number</label>
              <div class="input-group mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="input" placeholder="(    )" aria-label="Number" matInput
                    [formControl]="myControlSecondary" [matAutocomplete]="autoSecondary"
                    [(ngModel)]="newAdminRegistration.MobilePhonePreffix">
                  <mat-autocomplete autoActiveFirstOption #autoSecondary="matAutocomplete">
                    <mat-option class="tel-code" *ngFor="let option of filteredOptionsSecondary | async"
                      [value]="option" (click)="onSelectedMobileCode(option)">
                      <h1>{{option}}</h1>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-width">
                  <input matInput placeholder="Mobile Phone Number" class="cstm-tel" type="tel" mask="000-0000"
                    [showMaskTyped]="true" [patterns]="PhonePattern"
                    [(ngModel)]="newAdminRegistration.MobilePhoneSuffix">
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-12  mb-4">
              <label class="required">Email Address</label>
              <input type="input" class="form-control border-input" [disabled]="newAdminRegistration.AdminId!=null"
                [class.notallowCursor]="newAdminRegistration.AdminId!=null" #adminEmail="ngModel" required id="Date"
                placeholder="Email Address" [(ngModel)]="newAdminRegistration.Email"
                pattern="^[A-Za-z0-9+_.-]+[@][A-Za-z0-9.-]+[\.][A-Za-z]{2,4}$" (keyup)="checkEmailExistance()">
              <div *ngIf="adminEmail.errors && adminEmail.touched">
                <div class="error_message" *ngIf="adminEmail.errors?.pattern">
                  <p class="errormessage">Please enter valid Email</p>
                </div>
                <div class="error_message" *ngIf="adminEmail.errors?.required">
                  <p class="errormessage">Please enter Email</p>
                </div>
              </div>
              <div *ngIf="emailVerfied != null">
                <div [class.error_message]="!emailVerfied" [class.success_message]="emailVerfied">
                  <p [class.error_message]="!emailVerfied" [class.success_message]="emailVerfied">
                    {{emailVerficationMessage}}</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
              <label>Alternative Email Address</label>
              <input type="input" class="form-control border-input" id="Date" placeholder="Alternative Email Address"
                [(ngModel)]="newAdminRegistration.AltEmail" #adminAltEmail="ngModel"
                pattern="^[A-Za-z0-9+_.-]+[@][A-Za-z0-9.-]+[\.][A-Za-z]{2,4}$">

              <div *ngIf="adminAltEmail.errors && adminAltEmail.touched">
                <div class="error_message" *ngIf="adminAltEmail.errors?.pattern">
                  <!-- <i class="fa fa-minus"></i> -->
                  <p class="errormessage">Please enter valid Email</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="isSave" class="btn save-button" data-bs-dismiss="modal"
          [disabled]="disableAdminRegistration()" (click)="CreateAdminRegistration()">Save </button>
        <button type="button" *ngIf="isAddAdmin" class="btn save-button" data-bs-dismiss="modal"
          [disabled]="disableAdminRegistration()" (click)="CreateAdminRegistration()">Add New Admin </button>
        <button type="button" data-bs-dismiss="modal" class="btn-cancel" (click)="resetDialog()">Cancel</button>
      </div>
    </div>
  </div>
</div>
