<div class="passwords-wrapper">
  <div class="one-ehr-images pt-4 pb-5">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <a href="/account/home">
          <img width="232" height="88" src="../../assets/images/EHR.svg">
        </a>
      </div>
    </div>
    <div class="text-center">
      <a href="/account/home">
        <img width="146" height="248" class="img-fluid" src="../../assets/images/one.svg">
      </a>
    </div>
  </div>
  <div class="main-title pt-4">
    <h1>Create Your Password</h1>
  </div>
  <div class="content">
    <div class="container">
      <form [formGroup]="createPasswordForm">
        <div class="row">
          <div class="col-xl-4"></div>
          <div class="col-xl-4">
            <div hidden class="form-group">Security Code is invalid</div>
          </div>
          <div class="col-xl-4"></div>
        </div>
        <div class="row">
          <div class="col-xl-4"></div>
          <div class="col-xl-4">
            <div class="form-group"></div>
            <div class="form-group">
              <input autocomplete="off" class="form-control" formControlName="SecurityCode" placeholder="Security Code"
                type="text" required pattern="[a-zA-Z ]*">
            </div>
            <div *ngIf="v.SecurityCode.touched && v.SecurityCode.errors" class=" alert-danger">
              <div *ngIf="v.SecurityCode.errors?.required">Security code is required</div>
              <div *ngIf="v.SecurityCode.errors?.pattern">Security code must be characters</div>
            </div>
            <div class="form-group">
              <input autocomplete="off" class="form-control" formControlName="NewPassword" placeholder="New Password"
                type="password" pattern="[a-zA-Z ]*" id="password" type="password">
            </div>
            <div *ngIf="v.NewPassword.touched && v.NewPassword.errors" class=" alert-danger">
              <div *ngIf="v.NewPassword.errors?.required">New Password is required</div>
              <div *ngIf="v.NewPassword.errors?.pattern">New Password must be characters</div>
            </div>
            <div class="form-group">
              <input autocomplete="off" class="form-control" formControlName="ConfirmNewPassword"
                placeholder="Confirm New Password" type="password" pattern="[a-zA-Z ]*" name="confirm_password"
                id="confirm_password">
            </div>
            <div *ngIf="v.ConfirmNewPassword.touched && v.ConfirmNewPassword.errors" class=" alert-danger">
              <div *ngIf="v.ConfirmNewPassword.errors?.required">Confirm New Password is
                required</div>
              <div *ngIf="v.ConfirmNewPassword.errors?.pattern">Confirm New Password must be
                characters</div>
              <div *ngIf="v.ConfirmNewPassword.errors?.confirmedValidator">Password and Confirm Password must be match.
              </div>
            </div>
            <div class="controls">
              <div class="form-group">
                <input type="submit" name="commit" value="Submit" class="btn btn-default">
              </div>
            </div>
          </div>
          <div class="col-xl-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>
