// @import"../../assets/styles/variables";
// @import"../../assets/styles/typography";
@import"../../assets/common.scss";

.home-wrapper {
  height: auto;
  background-color: #fff;
}
.home-wrapper .home-top {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background: url(../../assets/images/home-top-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
}
.one-ehr-images {
  margin-top: -6rem;
}
.title{
  color: #4a4a4a;
  font-weight: 500;
  font-size: 24px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.home-wrapper .ehr-img-top {
  position: relative;
  width: 100%;
  left: 0%;
  height: 89px;
  top: 168px;
  background-color: #41b6a6;
}
.ehr-img-top {
  background-color: #41b6a6;
}
.ehr-img-top .text-center {
  background-color: #41b6a6;
}
.logo-rectangle {
  width: 277.2px;
  margin: 0 auto;
  background-image: url(../../assets/images/logo-rectangle.svg);
  background-repeat: no-repeat;
}
.home-wrapper .main-title h1 {
  font-family: inherit;
  font-weight: 300;
  font-style: normal;
  margin-top: 15px;
  font-size: 36px;
}
.home-wrapper .main-title p {
  font-family: inherit;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  max-width: 800px;
  margin: 0 auto;
}
.main-title{
  margin-top: 8%;
}
.home-wrapper .select-type {
  margin-top: 32px;
}
.home-wrapper .accounts {
  width: 250px;
  margin: 0 auto;
}
// provider btn
.home-wrapper .accounts span:first-child {
  border-radius: 50px 0 0 50px;
}
.home-wrapper .accounts .patient-acc,
.home-wrapper .accounts .provider-acc {
  color: #000;
  display: block;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
}
// .home-wrapper .accounts .active {
//   background: #fe8f00 !important;
//   color: #fff !important;
// }
.home-wrapper .accounts .provider-acc,
.home-wrapper .accounts .patient-acc {
  color: #000;
  background: #fff;
}
.home-wrapper .accounts > span {
  display: block;
  float: left;
  width: 125px;
  text-transform: uppercase;
}
.home-wrapper .select-type span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
// patient btn
.home-wrapper .accounts .patient-acc:hover,
.home-wrapper .accounts .provider-acc:hover {
  background: #f9f9f9;
}

.home-wrapper .accounts span:last-child {
  border-radius: 0px 50px 50px 0;
}
.home-wrapper .accounts .patient-acc,
.home-wrapper .accounts .provider-acc {
  color: #000;
  display: block;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
}
.home-wrapper .accounts .provider-acc,
.home-wrapper .accounts .patient-acc {
  color: #000;
  background: #fff;
}
.home-wrapper .accounts > span {
  display: block;
  float: left;
  width: 125px;
  text-transform: uppercase;
}
.home-wrapper .select-type span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
// registration
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}
// home bottom
@media (min-width: 992px) {
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-offset-2 {
    width: 50%;
  }
}
.newlogo {
  width: 18rem;
}
.home-wrapper .home-bottom {
  padding-top: 25px;
  padding-bottom: 50px;
  border-top: 1px solid #979797;
  overflow-x: auto;
}
// patient account
.home-wrapper .registration a {
  display: block;
  padding: 7px 0 6px 0;
  // font-size: 18px;
  text-transform: uppercase;
  color: #4a4a4a;
}
.sub-titles{
  color: #4a4a4a;
  font-weight: 400;
}
.button-landing {
  width: 150px;
  border-radius: 5px;
  border: 1px solid #c9c7c7;
  margin: 20px 0 20px 0;
  text-align: center;
  box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 50%);
  background-image: linear-gradient(to top, #edeaea 50%, #d5d2d2 100%);
}
// footer
.home-footer {
  min-height: 40px;
  color: #949ca7;
  background: #41b6a6;
}
.app-version {
  color: #fff !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
.as {
  color: currentColor;
  text-decoration: underline;
  cursor: pointer !important;
}
strong{
  font-weight: 600;
  font-size: inherit;
  color: #4a4a4a;
}
.img-size{
  width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px){
  .img-size{
    width: 125%;
  }
}
.newlogo{
  width: 18rem;
}
.login_page_address{
  margin-bottom: 10px;
}
