.cstm-container {
  padding-right: 15px;
  padding-left: 130px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
}

// img {
//   width: 100%;
//   height: 100%;
// }

#authfailedmessage {
  color: rgba(240, 13, 13, 0.932);
}

.signup {
  font-family: "SF UI Text Regular";
  font-size: 24px;
  color: rgb(83, 83, 83);
}

.sign {
  font-family: "SF UI Text Regular";
  font-size: 18px;
  margin-top: 1%;
  color: rgb(83, 83, 83);
}

.Login-form {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    height: 45px;
    //border-radius: 5%;
    background-color: #f5f5f5;
    color: #dedede;
  }

  .login_logo span {
    position: relative;
    top: 10px;
  }

  //input outline color
  ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
    color: #41b6a6 !important;
    // opacity: 1!important;
  }

  //mat-input focused color
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #41b6a6 !important;
  }
}

button {
  width: 50% !important;
  height: 45px !important;
  border: 1px solid #41b6a6 !important;
  background-color: white;
  //padding: 0px 5px !important;
  color: #41b6a6 !important;
  margin-top: 8%;
  font-size: 16px;
  font-family: sans-serif;
}

button:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}

.reg-button {
  width: 43% !important;
  height: 45px !important;
  border: 1px solid #41b6a6 !important;
  background-color: white;
  //padding: 0px 5px !important;
  color: #41b6a6 !important;
  margin-top: 8%;
  font-size: 16px;
  margin-left: 5%;
}

.reg-button:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}

video {
  margin-top: 4%;
  width: 100%;
}

li {
  margin-top: 3%;
  font-size: 16px;
}

.Login-form {
  margin-top: 17%;
}

.top-header {
  color: rgb(83, 83, 83);
}

mat-label {
  font-size: 19px;
  padding: 14px;
  color: grey;
}

.resend {
  width: 60%;
  height: 50%;
}

hr {
  border: 0;
  border-top: 1px solid grey;
  margin: 20px 0;
}

#spinner {
  -webkit-animation: frames 1s infinite linear;
  animation: frames 3s infinite linear;
  background: transparent;
  border: 10px solid #41b6a6;
  border-radius: 100%;
  border-top-color: orange;
  width: 5vw;
  height: 5vw;
  opacity: 0.9;
  padding: 0;
  position: absolute;
  z-index: 999;
}

@keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#pause {
  display: block;
  background: rgba(0, 0, 0, 0.36) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.authorization-signin-wrapper .authorization-top,
.authorization-signup-wrapper .authorization-top,
.passwords-wrapper .passwords-top,
.secure-questions-wrapper .secure-questions-top {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-position: center center;
}

strong {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: 400;
  outline: none !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

user agent stylesheet div {
  display: block;
}

.authorization-signin-wrapper,
.authorization-signup-wrapper,
.passwords-wrapper,
.secure-questions-wrapper {
  height: auto;
  font-family: "Times New Roman";
  color: #4a4a4a;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// my code
.login {
  height: auto;
  font-family: "Times New Roman";
  color: #4a4a4a;
  background: url(../../assets/images/pro-reg-bg.png);

}

.one-ehr-images {
  margin-top: -6rem;
}

.login .ehr-img-top {
  position: relative;
  width: 100%;
  left: 0%;
  height: 89px;
  top: 168px;
  background-color: #41b6a6;
}

.ehr-img-top {
  background-color: #41b6a6;
}

.ehr-img-top .text-center {
  background-color: #41b6a6;
}

.logo-rectangle {
  width: 277.2px;
  margin: 0 auto;
  background-image: url(../../assets/images/logo-rectangle.svg);
  background-repeat: no-repeat;
}


.hederfont {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto' !important;
}

.content {
  text-align: center;
  color: #74757e;

}

::ng-deep.mat-form-field-outline {
  color: #41b6a6 !important;
  // opacity: 1!important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #f5f5f5 !important;
  height: 45px;
  border-radius: 5%;
  background-color: #f5f5f5;
  color: #dedede;
  margin-bottom: 20%;
}

::ng-deep .mat-input-element{
  width: 95% !important;
}
.img-svg-eye{
  width: 5%;
  position: absolute;
}
.verify {
  margin-top: 2%;
}

@media (max-width: 572px) {
  .modal .modal-dialog {
    margin-left: 0%;
  }
}


@media (max-width: 620px)and (min-width: 572px) {
  .modal .modal-dialog {
    margin-left: 10%;
  }
}


@media (max-width: 730px)and (min-width: 620px) {
  .modal .modal-dialog {
    margin-left: 15%;
  }
}

@media (max-width: 940px)and (min-width: 730px) {
  .modal .modal-dialog {
    margin-left: 23%;

  }
}

.form-group label {
  font-size: 17px;
  padding-top: 13px;
}

::ng-deep .example-margin {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border: 1px solid #41b6a6;
    border-style: solid;
    width: 20px;
    height: 20px;
  }
}

::ng-deep .example-margin:hover {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: red;

  }
}

::ng-deep .mat-checkbox-checked.mat-accent {

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 242, 242);
    border-radius: 20% !important;
    border-color: rgb(151, 150, 150);
    height: 19px;
    width: 19px;
  }

  .mat-checkbox-checkmark-path {
    stroke: grey !important;
  }
}

::ng-deep .example-margin {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border-width: 2px;
    border-style: solid;
    width: 19px;
    height: 19px;
  }
}

::ng-deep .example-margin:hover {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-color: #41b6a6;
  }
}

::ng-deep {
  mat-form-field {
    ::placeholder {
      //color: #141414 !important;
      font-size: 100%;
      font-family: sans-serif;
    }
  }
}

.pull-right {
  color: #287066;
  font-family: sans-serif;
}

.check {
  margin-top: 8%;
}

.example-margin span {
  font-family: sans-serif;
  font-size: medium;
}

.vediologo img {
  height: 90%;
  width: 95%;
  margin-top: 2%;
}

.login_address strong {
  font-weight: 600;
  font-size: initial;
  color: #4a4a4a;
  margin-top: 5;
  font-family: sans-serif;
  text-align: left;
}

.address div {
  font-style: normal;
  font-weight: 400;
  margin-top: 2%;
  font-family: sans-serif;
  text-align: left;
}

.content-top {
  border-bottom: 1px solid rgba(74, 74, 74, 0.5);
  //margin-top: 25px;
}
.video-content ul,
.video-content ul li{
  text-align: left;
  padding-left: 20px;
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: 400;
  outline: none !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
  border-radius: 0px;
  border: 0px solid #a4a4a4 !important;
  background-color: #f9f9f9;
}



// Success Message Styles.
div#modal-message,
div#modal-message {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  //z-index: 1052 !important;
}

div#modal-message .modal-dialog {
  overflow-y: initial !important;
  max-width: inherit !important;
  margin: 0 !important;
  position: absolute;
  left: 400px;
  width: 100%;
  top: 100px;
  border-radius: 6px !important;
}


div#reset-password div.modal-dialog {
  overflow-y: initial !important;
  max-width: inherit !important;
  margin: 0 !important;
  position: absolute;
  left: 500px;
  width: 100%;
  top: 100px;
  border-radius: 6px !important;
  max-width: 500px;
}

div#email-verification div.modal-dialog {
  overflow-y: initial !important;
  max-width: inherit !important;
  margin: 0 !important;
  position: absolute;
  left: 500px;
  width: 100%;
  top: 100px;
  border-radius: 6px !important;
  max-width: 500px;
  z-index: 10000;
}

div#modal-message .modal-dialog .modal-content{
  background-color: #d8d8d8;
  max-width: 500px;

}
div#reset-password .modal-dialog .modal-content,
div#email-verification .modal-dialog .modal-content  {
  background-color: #d8d8d8;
  max-width: 400px;

}
div#modal-message .modal-content,
div#reset-password .modal-content,
div#email-verification .modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}
div#reset-password .modal-dialog .modal-content .modal-body,
div#email-verification .modal-dialog .modal-content .modal-body{
  background-color: #f9f9f9;
}
::ng-deep div#reset-password .mat-form-field-infix,
::ng-deep div#email-verification .mat-form-field-infix{
  border: 1px solid #41b6a6 !important;
  border-radius: 6px !important;
  background: #f9f9f9;
}


@media (max-height: 768px){
  div#modal-message .modal-dialog {
    max-width: 500px;
    background: #f9f9f9;
  }
}

@media (max-height: 768px){
  div#reset-password .modal-dialog .modal-content,
  div#email-verification .modal-dialog .modal-content {
    max-width: 400px;
    background: #f9f9f9;
  }
}


@media (min-width: 768px){
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  }
}

div#modal-message.modal-notice .modal-dialog .modal-content .modal-body .scrollable-container .message-title {
  background-color: #41b6a6;
}
div#modal-message.modal-notice .modal-dialog .modal-content .modal-body .scrollable-container .error-title{
  background-color:  #c43636;;
}

div#modal-message .modal-dialog .modal-content .modal-body .scrollable-container .message-title,
div#modal-message .modal-dialog .modal-content .modal-body .scrollable-container .error-title {
  width: 100%;
  vertical-align: middle;
  padding: 20px;
  text-align: center;
}
div#reset-password input{
    border: 1px solid #41b6a6 !important;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    background: #f9f9f9;
}
div#reset-password p,
div#mail-verification p{
  color: #74757e;
    text-align: center;
    font-size: 18px;
    font-family: 'Helvetica Neue' !important;
}
div#reset-password .reset-password-border{
  border: 1p solid #41b6a6
}
@media (max-height: 768px){
  div#modal-message .modal-dialog .modal-content .modal-body {
    padding: 110px 0 15px 0;
}
}
div#modal-message .modal-dialog .modal-content .modal-body {
    padding: 100px 0 45px 0;
    /* border-radius: 8px 8px 0 0; */
    text-align: center;
}
div#modal-message .modal-dialog .modal-content .modal-body .message-title p,
div#modal-message .modal-dialog .modal-content .modal-body .message-error-title p  {
  font-size: 24px;
  color: #fff;
  margin-bottom: 0;
}
div#modal-message .modal .modal-dialog {
  margin-top: calc(63px + 120px);
}
// End of message model


.modal-content{
      /* width: 100%; */
      background: white;
      /* height: 350px; */
      border-radius: 6px !important;
}
.modal-body {
  max-height: calc(90vh - 180px);
  overflow-y: auto;
  padding-top: 130px !important;
  border-radius: 6px;
}


.modal-header {
  min-height: 30px !important;
  background-color: #41b6a6;
  color: #fff;
  border: none;
  padding: 10px !important;
}
.modal-body .form-group {
  margin-bottom: 25px;
}
.modal-title {
   line-height: 10px !important;
}
.modal-footer{
  background: white;
}
