<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf="showspinner">
  <div id="spinner"></div>
  <div id="message">{{ message }}</div>
</div>
<div class="login img-responsive" id="login-form" *ngIf="!showspinner">
  <div id="signin-wrapper" class="authorization-signup-wrapper pt-4">
    <div class="one-ehr-images">
      <div class="ehr-img-top">
        <div class="text-center logo-rectangle">
          <img width="232" height="88" src="assets/images/EHR.svg">
        </div>
      </div>
      <div class="text-center">
        <img width="146" height="240" src="assets/images/one.svg">
      </div>
  </div>
    <div class="content-top">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-title">
              <h2>PLEASE SIGN IN TO VIEW YOUR ACCOUNT</h2>
              <p>Don't have an account yet? <a routerLink="/account/registration">Sign up here</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div>
      <div class="container pt-2 pb-4" id="flexbox">
        <!-- Top header -->
        <div class="row top-header">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="Login-form">
              <mat-card-content>
                <form class="my-form" [formGroup]="loginForm">
                  <div>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Email / Username" name="Username" formControlName="UserName" />
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'" name="Password"
                        formControlName="Password" (keyup.enter)="OnFormSubmit()" />
  
                      <img [src]="showPassword ? 'assets/images/eye-open.svg' : 'assets/images/eye-close.svg'"
                        class="img-svg-eye" (click)="togglePasswordVisibility()" />
                    </mat-form-field>
                  </div>
                  <div class="pull-right address">
                    <div data-bs-toggle="modal" (click)="openResetPassword()" class="message-hints">Forgot your
                      password?</div>
                    <div data-bs-toggle="modal" (click)="openResendVerification()" class="message-hints">
                      Resend Email Verification
                    </div>
                  </div>
                </form>
              </mat-card-content>
            </div>
            <div class="check" style="text-align: left;margin:3px">
              <mat-checkbox class="example-margin"><span style="margin:-5px">Remember me</span></mat-checkbox>
            </div>
            <div style="text-align: left;">
              <button class="btn btn-green signin" type="submit" mat-raised-button (click)="OnFormSubmit()">Sign
                in</button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 px-5">
            <div class="row" style="    margin: unset;
              padding: unset;
              width: 82%; float: right;">
              <div class="col-lg-6 col-md-12 vediologo col-sm-12 ">
                <img src="assets/videologo.png" />
              </div>
              <div class="col-lg-6 heading ">
                <div>(Ask us how to join)</div>
              </div>
  
              <div class="video">
                <video controls #videoPlayer controlsList="nodownload">
                  <source src="assets/iPrescribe-short.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <div class="video-content" style="    margin: unset;
              padding: unset;
              width: 82%; float: right;">
              <ul>
                <li><i></i>Cut prescription errors down from<strong> 42.5% to 6%</strong></li>
                <li>
                  <i></i>Free up vital staff and resources with automated refill authorizations resulting in
                  <strong> an annual savings of $15,769 per full-time physician.</strong>
                </li>
                <li>
                  <i></i><strong>Send prescriptions and have them ready on arrival at the pharmacy</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 mt-3 login_address">
            <div style="text-align: left;">
              <div>
                <strong>Contact Us Anytime:</strong>
              </div>
              <div class="address">
                <div>Office : (888)-804-3471</div>
                <div>Email : ehr1support@ehr1.com</div>
                <div>Fax : (714)-729-8707</div>
              </div>
            </div>
            <div>
              <div class="mt-3" style="text-align: left">
                <strong>Hours of Operation:</strong>
              </div>
              <div class="address" style="white-space: nowrap;">
                <div>Monday-Friday 7am-4pm (PST)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>