<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf="showspinner">
  <div id="spinner"></div>
  <div id="message">{{ message }}</div>
</div>
<div class="login img-responsive" *ngIf="!showspinner">
  <div class="one-ehr-images pt-4 pb-4">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <img width="232" height="88" src="../../assets/images/EHR.svg">
      </div>
    </div>
    <div class="text-center">
      <img width="146" height="248" class="img-fluid" src="../../assets/images/one.svg">
    </div>
  </div>
  <div class="content-top">
    <div class="container cstm-container pt-3">
      <h2 class="signup">PLEASE SIGN IN TO VIEW YOUR ACCOUNT</h2>
      <h4 class="sign">
        Don't have an account yet?
        <!-- <span style="color: #287066" href="/account/registration">Sign up here</span> -->
        <a class="sign-up-here" href="/account/registration">Sign up here</a>
      </h4>
    </div>
  </div>
  <div class="content">
    <div>
      <div class="container cstm-container pt-2 pb-4" id="flexbox">
        <!-- Top header -->
        <div class="row top-header">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="Login-form">
              <mat-card-content>
                <form class="my-form" [formGroup]="loginForm">
                  <div>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Email / Username" name="Username" formControlName="UserName" />
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'" name="Password"
                        formControlName="Password" />

                      <img
                        [src]="showPassword ? '../../assets/images/eye-open.svg' : '../../assets/images/eye-close.svg'"
                        class="img-svg-eye" (click)="togglePasswordVisibility()" />
                    </mat-form-field>
                  </div>
                  <div class="pull-right address">
                    <div data-bs-toggle="modal" (click)="openResetPassword()" class="message-hints">Forgot your
                      password?</div>
                    <div data-bs-toggle="modal" (click)="openResendVerification()" class="message-hints">
                      Resend Email Verification
                    </div>
                  </div>
                </form>
              </mat-card-content>
            </div>
            <div class="check" style="text-align: left;">
              <mat-checkbox class="example-margin"><span>Remember me</span></mat-checkbox>
            </div>
            <div style="text-align: left;">
              <button mat-raised-button (click)="OnFormSubmit()">Sign in</button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 px-5" style="width:45%">
            <div class="row">
              <div class="col-lg-6 col-md-12 vediologo col-sm-12 ">
                <img src="../assets/videologo.png" />
              </div>
              <div class="col-lg-6 address mt-3">
                <div>(Ask us how to join)</div>
              </div>
              <!-- <video controls width="100%">
              <source src="mov_bbb.mp4" type="video/mp4" />
              <source src="mov_bbb.ogg" type="video/ogg" />
            </video>
            <video controls>
              <source src="rabbit320.mp4" type="video/mp4">
              <source src="rabbit320.webm" type="video/webm">
              <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.mp4">link to the video</a> instead.</p>
            </video> -->

              <div class="video">
                <video controls #videoPlayer controlsList="nodownload">
                  <source src="../assets/iPrescribe-short.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <div class="video-content">
              <ul>
                <li><i></i>Cut prescription errors down from<strong> 42.5% to 6%</strong></li>
                <li>
                  <i></i>Free up vital staff and resources with automated refill authorizations resulting in
                  <strong> an annual savings of $15,769 per full-time physician.</strong>
                </li>
                <li>
                  <i></i><strong>Send prescriptions and have them ready on arrival at the pharmacy</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 mt-3 login_address">
            <div style="text-align: left;">
              <div>
                <strong>Contact Us Anytime:</strong>
              </div>
              <div class="address">
                <div>Office : (888)-804-3471</div>
                <div>Email : ehr1support@ehr1.com</div>
                <div>Fax : (714)-729-8707</div>
              </div>
            </div>
            <div>
              <div class="mt-3" style="text-align: left">
                <strong>Hours of Operation:</strong>
              </div>
              <div class="address" style="white-space: nowrap;">
                <div>Monday-Friday 7am-4pm (PST)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="reset-password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="hederfont">Reset Your Password</h4>
      </div>
      <div class="modal-body">
        <div class="content">
          <form class="pt-4">
            <div class="row ">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">

                    <P>Enter the email address associated with your account and an email with password reset
                      instructions will be sent.</P>
                    <div class="form-group mt-5">

                      <input type="text">

                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <button type="button" class="resetpassword-button col-md-4" data-bs-dismiss="modal">Go Back</button>
              <button type="button" class="resetpassword-button col-md-4">Okay-Send it ! </button>

            </div>

          </form>

          <!-- end personal info -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="email-verification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="email-verification" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="hederfont">Email Verification </h4>
        <span type="button" data-bs-dismiss="modal">
          X
        </span>
      </div>
      <div class="modal-body">
        <div class="content">
          <form>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Email Address :</label>
                </div>
              </div>
              <div class="col-lg-8 ">
                <div class="form-group ">

                  <input placeholder="Enter an email">

                </div>
              </div>

            </div>
            <div class="row">
              <button type="button" style="margin-left: 33%;" class="col-md-4 verify">Resend
                Verification</button>
            </div>
          </form>

          <!-- end personal info -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-notice" id="modal-message" tabindex="-1" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false" aria-labelledby="errorbackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="scrollable-container" style="height: auto;">
          <div class="content">
            <div class="error-title">
              <p>{{authfailedmessage}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-bs-dismiss="modal" data-bs-target="#modal-message" aria-label="Close">Close</a>
      </div>
    </div>
  </div>
</div>
