.cstm-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// img {
//   width: 100%;
//   height: 100%;
// }

#authfailedmessage {
  color: rgba(240, 13, 13, 0.932);
}
.signup {
  font-family: "Times New Roman";
  font-size: 30px;
  color: rgb(83, 83, 83);
}
.sign {
  font-family: "Times New Roman";
  font-size: 25px;
  color: rgb(83, 83, 83);
}
.Login-form {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    height: 45px;
    border-radius: 5%;
    background-color: #f5f5f5;
    color: #dedede;
  }
  //input outline color
  ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
    color: #41b6a6 !important;
    // opacity: 1!important;
  }

  //mat-input focused color
  ::ng-deep
    .mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: #41b6a6 !important;
  }
}

button {
  width: 50% !important;
  height: 45px !important;
  border: 1px solid #41b6a6 !important;
  background-color: white;
  //padding: 0px 5px !important;
  color: #41b6a6 !important;
  margin-top: 8%;
  font-size: 16px;
}
button:hover {
  background-color: #41b6a6 !important;
  color: #fff !important;
}
video {
  margin-top: 4%;
  width: 100%;
}
li {
  margin-top: 3%;
  font-size: 16px;
}
.Login-form {
  margin-top: 20%;
}
.top-header {
  color: rgb(83, 83, 83);
}
mat-label {
  font-size: 19px;
  padding: 14px;
  color: grey;
}
.resend {
  width: 60%;
  height: 50%;
}
hr {
  border: 0;
  border-top: 1px solid grey;
  margin: 20px 0;
}

#spinner {
  -webkit-animation: frames 1s infinite linear;
  animation: frames 3s infinite linear;
  background: transparent;
  border: 10px solid #41b6a6;
  border-radius: 100%;
  border-top-color: orange;
  width: 5vw;
  height: 5vw;
  opacity: 0.9;
  padding: 0;
  position: absolute;
  z-index: 999;
}
@keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#pause {
  display: block;
  background: rgba(0, 0, 0, 0.36) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.authorization-signin-wrapper .authorization-top,
.authorization-signup-wrapper .authorization-top,
.passwords-wrapper .passwords-top,
.secure-questions-wrapper .secure-questions-top {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-position: center center;
}
* {
  margin: 0;
  padding: 0;
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: 400;
  outline: none !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
.authorization-signin-wrapper,
.authorization-signup-wrapper,
.passwords-wrapper,
.secure-questions-wrapper {
  height: auto;
  font-family: "Times New Roman";
  color: #4a4a4a;
}
body {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// my code
.login {
  height: auto;
  font-family: "Times New Roman";
  color: #4a4a4a;
  background: url(../../assets/images/pro-reg-bg.png);
}
.one-ehr-images {
  margin-top: -6rem;
}
.login .ehr-img-top {
  position: relative;
  width: 100%;
  left: 0%;
  height: 89px;
  top: 168px;
  background-color: #41b6a6;
}
.ehr-img-top {
  background-color: #41b6a6;
}
.ehr-img-top .text-center {
  background-color: #41b6a6;
}
.logo-rectangle {
  width: 277.2px;
  margin: 0 auto;
  background-image: url(../../assets/images/logo-rectangle.svg);
  background-repeat: no-repeat;
}
