//@import"../../assets/common.scss";


@keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

body {
  margin: 0px;
}

.authorization-signup-wrapper {
  height: auto;
  color: #4a4a4a;
  // background-color: #ebe9e9;
  background: url(../../assets/images/pro-reg-bg.png);
}

.one-ehr-images {
  margin-top: -6rem;
}

authorization-signup-wrapper .mat-select-panel {
  border-radius: 4px;
  margin-top: 0px !important;
  margin-left: -10px !important;
  position: absolute !important;
  top: 34px;
  min-width: calc(100% + 22px) !important;
}

.authorization-signup-wrapper .ehr-img-top {
  position: relative;
  width: 100%;
  left: 0%;
  height: 89px;
  top: 168px;
  background-color: #41b6a6;
}

.ehr-img-top {
  background-color: #41b6a6;
}

.ehr-img-top .text-center {
  background-color: #41b6a6;
}

.logo-rectangle {
  width: 277.2px;
  margin: 0 auto;
  background-image: url(../../assets/images/logo-rectangle.svg);
  background-repeat: no-repeat;
}

.main-title p {
  font-size: 18px;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.btn.btn-green {
  color: #41b6a6;
  border-color: #41b6a6;
  background: #fff;
  // font-family: inherit;
}

.btn.btn-green:hover {
  color: #fff;
  border-color: #41b6a6;
  background: #41b6a6;
}

a:hover {
  color: #41b6a6;
  text-decoration: none;
  font-family: "Times New Roman";
  // text-decoration: underline;
}

a {
  color: #41b6a6;
  text-decoration: none;
  font-family: "Times New Roman";
  // text-decoration: underline;
}

.vediologo img {
  height: 90%;
  width: 95%;
  margin-top: 2%;
}

#spinner {
  -webkit-animation: frames 1s infinite linear;
  animation: frames 3s infinite linear;
  background: transparent;
  border: 10px solid #41b6a6;
  border-radius: 100%;
  border-top-color: orange;
  width: 5vw;
  height: 5vw;
  opacity: 0.9;
  padding: 0;
  position: absolute;
  z-index: 999;
}

#pause {
  display: block;
  background: rgba(0, 0, 0, 0.36) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

video {
  margin-top: 4%;
  width: 100%;
}


//#login-form{

.sign-up-here {
  color: #287066;
}

.sign-up-here:hover {
  opacity: 0.75;
}

.signin {
  width: 38% !important;
  height: 45px !important;
  margin-top: 8%;
  margin-right: 250px;
  font-size: 16px;
  border-radius: 3px;
  font-family: revert !important;

}


::ng-deep .swal2-title.login-modal-header {
  margin: unset !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px !important;
  background-color: #41b6a6;
  color: #fff;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 40px !important;
}



#authfailedmessage {
  color: rgba(240, 13, 13, 0.932);
}

.signup {
  font-family: "SF UI Text Regular";
  font-size: 24px;
  color: rgb(83, 83, 83);
}

.sign {
  font-family: "SF UI Text Regular";
  font-size: 18px;
  margin-top: 1%;
  color: rgb(83, 83, 83);
}

.Login-form {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    height: 45px;
    //border-radius: 5%;
    background-color: #f5f5f5;
    color: #dedede;
  }

  ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
    color: #41b6a6 !important;
    // opacity: 1!important;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #41b6a6 !important;
  }

  .login_logo span {
    position: relative;
    top: 10px;
  }

}

li {
  margin-top: 3%;
  font-size: 16px;
}

.Login-form {
  margin-top: 17%;
}

.top-header {
  color: rgb(83, 83, 83);
}

mat-label {
  font-size: 19px;
  padding: 14px;
  color: grey;
}

.resend {
  width: 60%;
  height: 50%;
}

hr {
  border: 0;
  border-top: 1px solid grey;
  margin: 20px 0;
}


.authorization-signin-wrapper .authorization-top,
.authorization-signup-wrapper .authorization-top,
.passwords-wrapper .passwords-top,
.secure-questions-wrapper .secure-questions-top {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-position: center center;
}

strong {
  font-weight: 700;
}


user agent stylesheet div {
  display: block;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// my code
.login {
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Times New Roman";
  color: #4a4a4a;
  background: url(../../assets/images/pro-reg-bg.png);
  // height: 1100px;
}

@media (max-width: 425px) {
  .login {
    height: 1674px;
  }
}

@media (max-width: 940px)and (min-width: 730px) {
  .login {
    height: 1452px;
  }
}

.one-ehr-images {
  margin-top: -6rem;
}

.login .ehr-img-top {
  position: relative;
  width: 100%;
  left: 0%;
  height: 88px;
  top: 168px;
  background-color: #41b6a6;
}

.ehr-img-top {
  background-color: #41b6a6;
}

.ehr-img-top .text-center {
  background-color: #41b6a6;
}

.logo-rectangle {
  width: 277.2px;
  margin: 0 auto;
  background-image: url(../../assets/images/logo-rectangle.svg);
  background-repeat: no-repeat;
}


.login-header-font {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto' !important;
}

::ng-deep .login-close-button {
  top: 14px;
  position: absolute;
  margin-right: 10px;
  width: 0.8em !important;
  height: 0.8em !important;
}

::ng-deep .login-confirm-button {
  white-space: nowrap;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: unset !important;
}

.content {
  text-align: center;
  color: #74757e;

}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #f5f5f5 !important;
  height: 45px;
  border-radius: 5%;
  background-color: #f5f5f5;
  color: #dedede;
  margin-bottom: 20%;
}

::ng-deep .login .mat-input-element {
  width: 95% !important;
}

.img-svg-eye {
  width: 5%;
  position: absolute;
  margin-left: -15px;
}

.verify {
  margin-top: 2%;
}


.form-group label {
  font-size: 17px;
  padding-top: 13px;
}

::ng-deep .example-margin {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border: 1px solid #41b6a6;
    border-style: solid;
    width: 20px;
    height: 20px;
  }
}

.mat-input-element {
  font: revert;
  font-size: 15px;
}

::ng-deep .mat-checkbox-checked.mat-accent {

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 242, 242);
    border-radius: 20% !important;
    border-color: rgb(151, 150, 150);
    height: 19px;
    width: 19px;
  }

  .mat-checkbox-checkmark-path {
    stroke: grey !important;
  }
}

::ng-deep .example-margin {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 20% !important;
    border-color: #cacaca;
    background-color: #eeeaea;
    border-width: 2px;
    border-style: solid;
    width: 19px;
    height: 19px;
  }
}

.example-margin span {
  font-family: sans-serif;
  font-size: medium;
}


.pull-right {
  color: #287066;
  font-family: sans-serif;
}

.check {
  margin: 43px 283px 1px 1px;
}


.login_address strong {
  font-weight: 600;
  font-size: initial;
  color: #4a4a4a;
  margin-top: 5;
  font-family: sans-serif;
  text-align: left;
}

.address div {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  font-family: sans-serif;
  text-align: left;
  align-items: flex-end;
}

.heading {
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto';
  margin: 18px 1px 0px -148px !important;
}

@media (max-width: 1024px) {
  .heading {
    margin: 18px 1px 0px -47px !important;
  }
}

.address .message-hints {
  text-align: left;
  cursor: pointer;
}

.content-top {
  border-bottom: 1px solid rgba(74, 74, 74, 0.5);
  //margin-top: 25px;
}

.video-content ul,
.video-content ul li {
  text-align: left;
  padding-left: 20px;
  font-family: Roboto !important;
  font-style: normal;
  font-weight: 400;
  outline: none !important;
}


.swal-input {
  border: 1px solid #a9a9a9,
}

::ng-deep .mat-checkbox-label {
  margin-top: 6px !important;
  margin-left: 4px !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0px 24px 0px 0px !important;

}


.authorization-top {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  height: 275px;
}

.string-top {
  position: absolute;
  width: 100%;
  height: 89px;
  top: 93px;
  background-color: #41b6a6;
}

.image-center {
  width: 277.2px;
  margin: 0 auto;
  background-image: url(http://localhost:4200/assets/images/logo-rectangle.svg);
  background-repeat: no-repeat;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container::before {
  display: table;
  content: " ";
}

.container::after {
  display: table;
  content: " ";
}

.string-top-container {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: -26px;
}

.string-top-home-link {
  width: 276px;
  //left: 12px;
  display: block;
  position: relative;
  margin: 0 auto;
  top: -178px
}

.text-logo {
  margin: 10px -20px;
  padding: unset;
}

@media (min-width: 1440px) {
  .text-logo {
    margin: 10px -48px;
  }
}

//}
