@import"../account/login.component.scss";


.services {
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  background-color: white;
  margin: 4px -5px 6px -35px;
}

.login_address {
  flex: 0 0 auto;
  width: 25%;
}

@media (max-width: 425px) {
  .login_address {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .login {
    height: 1347px !important;
  }
}

