<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf="showspinner">
  <div id="spinner"></div>
  <div id="message">{{ message }}</div>
</div>
<div class="login img-responsive" *ngIf="!showspinner" style="height: 100vh;">
  <div id="signin-wrapper" class="authorization-signin-wrapper">
    <div class="authorization-top">
      <div class="string">
        <div class="string-top">
          <div class="image-center">
            <img width="232" height="88" alt="EHR1 Logo" src="assets/images/EHR.svg" />
          </div>
          <div class="container">
            <div class="string-top-container">
              <a class="string-top-home-link" href="/">
                <img width="146" height="248" alt="EHR1 One Num Logo" src="assets/images/one.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-top-1 mt-5">
      <!-- <div class="col-sm-8 col-sm-offset-2" style="margin: 0 auto;padding:0 15px">
        <h2 class="signup">PLEASE SIGN IN TO VIEW YOUR ACCOUNT</h2>
      </div> -->
      <div class="col-sm-8 col-sm-offset-2" style="margin: 0 auto;padding:0 15px">
        <div class="main-title">
          <h3 class="signup">PLEASE SIGN IN TO VIEW YOUR ACCOUNT</h3>
          <!-- <p>Don't have an account yet? <a class="wcag-green" href="/">Sign up here</a></p> -->
        </div>
      </div>
    </div>
    <div class="">
      <div class="container col-sm-8 col-sm-offset-2 pb-4" id="flexbox" style="margin: 0 auto;">
        <div class="row top-header">
          <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="login-form">
              <mat-card-content>
                <form class="my-form" [formGroup]="loginForm">
                  <div>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Email / Username" name="EmailId" formControlName="EmailId" />
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'" name="Password"
                        formControlName="Password" (keyup.enter)="OnLoginSubmit()" />

                      <img [src]="showPassword ? 'assets/images/eye-open.svg' : 'assets/images/eye-close.svg'"
                        class="img-svg-eye" (click)="togglePasswordVisibility()" (mouseleave)="hidePassword()"
                        (mouseout)="hidePassword()" />
                    </mat-form-field>
                  </div>
                  <div class="pull-right address">
                    <div (click)="openResetPasswordOptions()" class="message-hints">Forgot your
                      password?</div>
                    <!-- <div  (click)="openResendVerification()" class="message-hints">
                      Resend Email Verification
                    </div> -->
                  </div>
                </form>
              </mat-card-content>
            </div>
            <div class="check" style="text-align: left;">
              <mat-checkbox class="example-margin"><span>Remember me</span></mat-checkbox>
            </div>
            <div>
              <button class="btn btn-green signin" mat-raised-button (click)="OnLoginSubmit()">Sign in</button>
            </div>
          </div>
          <div class="col-xl-2 col-lg-1 col-md-1"></div>
          <div class="col-xl-6 col-lg-7 col-md-5 col-12 mt-3">
            <div class="row text-center">
              <p class="right-text-content">To make our EHR evenmore secure for you, please download our two-factor
                authentication
                application</p>
            </div>
            <div style="width: 84%;margin: 0 auto;">
              <div class="services-1 mt-4">
                <a aria-label="android application" href="https://goo.gl/6S9W6g">
                  <img width="80" height="140" class="img-fluid" src="assets/qr_code_PNG25.png">
                  <img width="200" height="100" class="img-fluid" src="assets/google-play-logo-9f0984.png">
                </a>
              </div>
              <div class="services-1">
                <a aria-label="android application" href="https://goo.gl/XW81jL">
                  <img width="80" height="140" class="img-fluid" src="assets/qr_code_PNG25.png">
                  <img width="200" height="150" class="img-fluid mt-2 mb-2" src="assets/app store.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
