
<div style="width: 75%;height:75%;margin:auto; border: 1px solid #41b6a6;padding-top: 200px;
margin-top: 100px;">
  <div class="one-ehr-images vertical-center">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <img width="232" height="88" src="assets/images/EHR.svg">
      </div>
    </div>
    <div class="text-center" style="margin-top:-91px">
      <img width="146" height="248" class="img-fluid" src="assets/images/one.svg">
    </div>
  </div>
  <div style="margin-top: -80px;">
    <div class="cstm-container">
      <h2>Confirmation Page</h2>
      <h4 class="sign">
        {{message}}
      </h4>
    </div>
  </div>
</div>

