<div class="authorization-signup-wrapper pt-4">
  <div class="one-ehr-images">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <img width="232" height="88" src="./assets/images/EHR.svg">
      </div>
    </div>
    <div class="text-center">
      <img width="146" height="248" class="img-fluid" src="./assets/images/one.svg">
    </div>
  </div>
  <div class="content-top">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-title">
            <h3>SIGN UP FOR A PRACTITIONER ACCOUNT</h3>
            <p>Already have an account? <a href="/account/home">Sign in here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-4">
    <div class="row align-items-center">
      <div class="col-lg-10 tab-content border-0 form-wrapper" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="personalInfo" role="tabpanel" aria-labelledby="personalInfo-tab">
          <!-- personal info -->
          <div class="content">
            <!-- *ngIf="showpersonalInfoReq" -->
            <div class="row">
              <div class="secondary-title col-lg-12">
                <img style="width: 25px; height: 60px;" src="../../assets/images/avatar-people.svg" class="pb-2">
                <span class="mx-4">Personal Information</span>
              </div>
            </div>
            <form class="pt-4" [formGroup]="PersonalInfo">
              <div class="row">
                <div class="col-lg-12">
                  <p>Your Name</p>
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-2 col-md-2 col-sm-2">
                      <mat-select formControlName="Title">
                        <mat-option *ngFor="let title of nameTitle" [value]="title.titleName">{{title.titleName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-3 col-md-3 col-sm-3 col-12">

                      <input matInput (mouseover)="checkfield1()" (mouseleave)="unchekedfiled()"
                        formControlName="FirstName" placeholder="First Name">
                      <mat-icon matSuffix *ngIf="Checked1" class="FieldValid">check</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-3 col-md-3 col-sm-3 col-12">
                      <input matInput (mouseover)="checkfield2()" (mouseleave)="unchekedfiled()"
                        formControlName="MiddleName" placeholder="Middle Name">
                      <mat-icon matSuffix *ngIf="Checked2" class="FieldValid">check</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-4 col-12">
                      <input matInput (mouseover)="checkfield3()" (mouseleave)="unchekedfiled()"
                        formControlName="LastName" placeholder="Last Name">
                      <mat-icon matSuffix *ngIf="Checked3" class="FieldValid">check</mat-icon>

                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <p>PRACTICE NAME</p>
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-12">
                      <input matInput (mouseover)="checkfield4()" (mouseleave)="unchekedfiled()"
                        formControlName="PracticeName" placeholder="Practice Name">
                      <mat-icon matSuffix *ngIf="Checked4" class="FieldValid">check</mat-icon>

                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <p>CREDENTIALS</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-select formControlName="Degree" placeholder="Credentials">
                      <mat-option *ngFor="let cred of credentials" [value]="cred.credName">{{cred.credName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <p>SPECIALITY</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-select placeholder="Speciality" formControlName="Speciality">
                      <mat-option *ngFor="let spec of speciality" [value]="spec.specName">{{spec.specName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <p>NPI NUMBER</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <input matInput (mouseover)="checkfield5()" (mouseleave)="unchekedfiled()" formControlName="NPI"
                      placeholder="National Provider Identifier(NPI)" formControlName="NPI">
                    <mat-icon matSuffix *ngIf="Checked5" class="FieldValid">check</mat-icon>

                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                  </div>

                  <div class="controls">
                    <button type="button" class="reg-button col-md-2 next-step1" [disabled]="!PersonalInfo.valid"
                      (click)="GetPersonalInfo()">NEXT STEP</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- end personal info -->
        </div>
        <div class="tab-pane fade" id="contactinfo" role="tabpanel" aria-labelledby="contactinfo-tab">
          <!-- contact info -->
          <div class="content">
            <!-- *ngIf="showcontactInfoReq" -->
            <div class="row">
              <div class="secondary-title col-lg-12">
                <img style="width: 25px; height: 60px;" src="../../assets/images/avatar-people.svg" class="pb-2">
                <span class="mx-4">Contact Information</span>
              </div>
            </div>
            <form class="pt-4" [formGroup]="ContactInfomation">
              <div class="row">
                <div class="col-lg-12">
                  <p>PRACTICE ADDRESS</p>
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-md-6">
                      <input matInput (mouseover)="checkfield6()" (mouseleave)="unchekedfiled6()"
                        formControlName="PracticeAddress" (keyup)="EnterAddress($event.target.value)" [readonly]="displayVerifybtn"
                        placeholder="Enter the full name here (including suite number)">
                      <mat-icon matSuffix  *ngIf="Checked6" class="FieldValid">check</mat-icon>
                      <mat-icon matSuffix *ngIf="!UnChecked6" class="FieldInvalid">clear</mat-icon>
                    </mat-form-field>

                    <div class="col-md-2 pt-1">
                      <button mat-button class="reg-button col-md-12" (click)="AddressVerification()"
                        [disabled]="displayVerifybtn">VERIFY</button>
                    </div>
                  </div>


                  <div class="row">
                    <mat-form-field class="field" appearance="outline" class="example-full-width" *ngIf="ValidAddressToUse">
                      <input type="text" class="w-100" readonly [value]="UseThisValue" placeholder="address" matInput>
                      <mat-icon matSuffix class="FieldInvalid" (click)="UseValidAddress()" *ngIf="!sucessdisplay">clear
                      </mat-icon>
                    </mat-form-field>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <p>PRIMARY PHONE NUMBER</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <input matInput formControlName="PrimaryPhone" class="cstm-tel" type="tel" prefix="+1"
                    mask=" (000) 000 0000"  [showMaskTyped]="true"  [patterns]="PhonePattern"
                    (mouseover)="checkfield10()" (mouseleave)="unchekedfiled()" placeHolderCharacter="0"  />
                    <mat-icon matSuffix *ngIf="Checked10" class="FieldValid">check</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <p>MOBILE PHONE NUMBER</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <input matInput (mouseover)="checkfield11()" (mouseleave)="unchekedfiled()" prefix="+1"
                    mask=" (000) 000 0000"  [showMaskTyped]="true"  [patterns]="PhonePattern" placeHolderCharacter="0"
                      formControlName="MobilePhone" placeholder="(123)-456-7890" type="tel"
                      class="cstm-tel">
                    <mat-icon matSuffix *ngIf="Checked11" class="FieldValid">check</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="controls">
                    <button mat-button class="reg-button col-md-2 prev-step2" data-bs-target="#personalInfo">PREV.
                      STEP</button>
                    <button mat-button class="reg-button col-md-2 mx-4 next-step2" [disabled]="!ContactInfomation.valid"
                      (click)="GetContactInfo()" data-bs-target="#additionalinfo">NEXT
                      STEP</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- end contact info-->
        </div>
        <div class="tab-pane fade" id="additionalinfo" role="tabpanel" aria-labelledby="additionalinfo-tab">
          <!-- account info -->
          <div class="content">
            <!-- *ngIf="showaccountInfoReq" -->
            <div class="row">
              <div class="secondary-title col-lg-12">
                <img style="width: 25px; height: 60px;" src="../../assets/images/avatar-people.svg" class="pb-2">
                <span class="mx-4">Account Information</span>
              </div>
            </div>

            <form class="pt-4" [formGroup]="AccountInfomation">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <p>PRIMARY EMAIL ADDRESS</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <input matInput (mouseover)="checkField7()" (mouseleave)="UncheckField7()" formControlName="Email"
                      placeholder="Email Adress">
                    <mat-icon matSuffix *ngIf="Checked7" class="FieldValid">check</mat-icon>
                    <mat-icon matSuffix *ngIf="UnChecked7" class="FieldInvalid">clear</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <p>ALT. EMAIL ADDRESS</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <input matInput formControlName="AltEmail" placeholder="Alter Email Address"
                      (mouseover)="checkfield12()" (mouseleave)="unchekedfiled12()">
                    <mat-icon matSuffix *ngIf="Checked12" class="FieldValid">check</mat-icon>
                    <mat-icon matSuffix *ngIf="UnChecked12" class="FieldInvalid">clear</mat-icon>

                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <p>PASSWORD</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <input matInput type="password" (keyup)="EnterPassword($event.target.value)" (mouseover)="checkField8()" (mouseleave)="UncheckField8()"
                      formControlName="EncryptedPassword" placeholder="Password">
                    <mat-icon matSuffix *ngIf="Checked8" class="FieldValid">check</mat-icon>
                    <mat-icon matSuffix *ngIf="UnChecked8" class="FieldInvalid">clear</mat-icon>

                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <p>CONFIRM PASSWORD</p>
                  <mat-form-field appearance="outline" class="col-12">
                    <input matInput type="password" (mouseover)="checkField9()" (mouseleave)="UncheckField9()"
                      formControlName="ConfirmPassword" placeholder="Confirm Password">
                    <mat-icon matSuffix *ngIf="Checked9" class="FieldValid">check</mat-icon>
                    <mat-icon matSuffix *ngIf="UnChecked9" class="FieldInvalid">clear</mat-icon>

                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 pb-4">
                  <mat-checkbox></mat-checkbox>
                  <span class="mx-2">NOTIFY ME OF ALL UPCOMNG OUTAGES AND PLANNED SERVICE UPGRADES</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="controls">
                    <button mat-button class="reg-button col-md-2 prev-step3" (click)="accountInfoReq('prev')">PREV.
                      STEP</button>


                    <button mat-button class="reg-button col-md-2 mx-2 next-step3" [disabled]="!AccountInfomation.valid"
                      (click)="GetAccountInfo()">

                      NEXT STEP
                    </button>
                  </div>
                </div>
              </div>
              <!-- {{AccountInfomation.value|josn}} -->
            </form>
          </div>
          <!-- end account info -->
        </div>
        <div class="tab-pane fade" id="signup-additionalinfo" role="tabpanel"
          aria-labelledby="signup-additionalinfo-tab">
          <div class="content">
            <button mat-button class="reg-button col-md-2 prev-step4" (click)="accountInfoReq('prev')">PREV.
              STEP</button>
            <button mat-button class="reg-button col-md-2 mx-2" (click)="SaveRegitration()">
              COMPLETE REGISTRATION</button>
          </div>
        </div>
      </div>
      <div class="col-lg-2 d-none d-lg-flex flex-column align-items-end nav category-buttons" id="v-pills-tab"
        role="tablist" aria-orientation="vertical">
        <a class="item active box-top disabled" id="personalInfo-tab" data-bs-toggle="tab"
          data-bs-target="#personalInfo" role="tab" aria-controls="v-pills-home" aria-selected="true">
          <div class="dots-container"><span class="dots"><i class="fa fa-ellipsis-h"></i></span></div>
          <div class="performed-container"><span class="performed-icon"><i class="fa fa-check"></i></span></div>
          <span class="title-a">
            <p>PERSONAL<br />INFO</p>
          </span>
        </a>
        <a class="item disabled" id="contactinfo-tab" data-bs-toggle="tab" data-bs-target="#contactinfo" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">
          <div class="dots-container"><span class="dots"><i class="fa fa-ellipsis-h"></i></span></div>
          <div class="performed-container"><span class="performed-icon"><i class="fa fa-check"></i></span></div>
          <span class="title-a">
            <p>CONTACT<br />INFO</p>
          </span>
        </a>
        <a class="item disabled" id="additionalinfo-tab" data-bs-toggle="tab" data-bs-target="#additionalinfo"
          role="tab" aria-controls="v-pills-messages" aria-selected="false">
          <div class="dots-container"><span class="dots"><i class="fa fa-ellipsis-h"></i></span></div>
          <div class="performed-container"><span class="performed-icon"><i class="fa fa-check"></i></span></div>
          <span class="title-a">
            <p>ADDITIONAL<br />INFO</p>
          </span>
        </a>
        <a class="item box-bottom disabled" id="signup-additionalinfo-tab" data-bs-toggle="tab"
          data-bs-target="#signup-additionalinfo" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <div class="dots-container"><span class="dots"><i class="fa fa-ellipsis-h"></i></span></div>
          <div class="performed-container"><span class="performed-icon"><i class="fa fa-check"></i></span></div>
          <span class="title-a">
            <p>SIGN UP<br />COMPLETE</p>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- // address verification model -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAddress}">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="displayDialog?'addressInvalid':'addressSuccess'">
        <h3 *ngIf="!displayDialog">Success</h3>
        <h3 *ngIf="displayDialog" class="text-white">Invalid Address</h3>
        <button type="button" *ngIf="!displayDialog" class="btn btn-sm btn-success adrsbtn"
          (click)="closePopupAddress()">
          X
        </button>
        <button type="button" *ngIf="displayDialog" class="btn btn-sm btn-success erroclose"
          (click)="closePopupAddress()">
          X
        </button>

      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <h4 class="text-center" style="margin-top: 1rem;margin-bottom: 2rem;">
              {{displaymsg}}</h4>
            <div class="col-lg-12 col-md-4 col-sm-4" *ngIf="!displayDialog">
              <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=700>
                <input type="text" class="w-100" [value]="ValidAddressForUse" placeholder="address" matInput>

                <md-icon class="link" (click)="UseValidatedAddress()">Use this</md-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
