<div class="security-question-wrapper">
  <div class="one-ehr-images">
    <div class="ehr-img-top">
      <div class="text-center logo-rectangle">
        <a routerLink="account/home">
          <img width="232" height="88" src="assets/images/EHR.svg">
        </a>
      </div>
    </div>
    <div class="text-center" style="margin-top: -60px;">
      <a routerLink="account/home">
        <img width="146" height="248" class="img-fluid" src="assets/images/one.svg">
      </a>
    </div>
  </div>
  <div class="content">
    <div class="container mt-4">
      <div class="inline-flex">
        <h3>Create Security Question</h3>
        <span>
          <hr>
        </span>
      </div>
      <p class="Helvetica-sans-serif-medium">For added security, we require the creation of a security question and answer.</p>
      <ul>
        <li class="Helvetica-sans-serif-medium">You will be asked for this security question whenever you log in to EHR1 from a new computer and when
          resetting your password.</li>
      </ul>
      <div class="row">
          <b class="col-xl-2 col-md-3 col-12 mt-3">QUESTION</b>
        <mat-form-field class="col-xl-10 col-md-9 col-12" appearance="outline">
          <mat-select disableOptionCentering>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <b class="col-xl-2 col-md-3 col-12 mt-3">ANSWER</b>
        <mat-form-field class="col-xl-10 col-md-9 col-12" appearance="outline">
          <input matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <b class="col-xl-2 col-md-3 col-12">IMPORTANT</b>
        <div class="row col-xl-10 col-md-9 col-12">
          <mat-checkbox class="example-margin">
            <span>I understand my access to patients portal will be locked if I am unable to answer this question</span>
          </mat-checkbox>
          <mat-checkbox class="example-margin mt-4">
            <span>Remember this computer</span>
          </mat-checkbox>
        </div>
      </div>
      <div class="mt-4">
        <b class="btn-text pull-right mx-3 mt-2" (click)="logout()">Cancel and Sign out</b>
        <button class="btn btn-green pull-right">Create</button>
      </div>
    </div>
  </div>
</div>
