@import "../../assets/cstm.material.scss";
@import"../../assets/common.scss";


#verify-authenticator .modal-dialog {
  max-width: 400px;
  max-height: 300px;

  .modal-body {
    padding: 35px 20px !important;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .modal-content{
    width: 400px !important;
  }
  .modal-footer {
    padding: 10px 20px !important;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .btn {
    min-width: 90px;
  }

  kbd {
    border-radius: 2px;
    padding: 2px;
    border: 1px solid black;
    background: yellow;
    color: black;
    font-weight: 900;
  }
  .btn-verify-totp{
    width: 100%;
  }
}

::ng-deep #verify-authenticator .mat-form-field-label {
  top: 1.5em !important;
  margin-top: -.25em;
}

::ng-deep #loginbody {
  .mat-dialog-container {
    padding: unset;
  }
  .cdk-overlay-container{
    backdrop-filter: blur(10px);
  }
}
.backdropClass-2fa{
  backdrop-filter: blur(10px);
}

::ng-deep .container-mfa .mat-dialog-container{
  overflow :hidden !important;
}

::ng-deep #verify-authenticator .auth-token .mat-form-field-infix{
  padding-top: 0px !important;
}

input.auth-token-input{
  border: 0px !important;
  padding-top: 8px !important
}
