@import "../../../assets/cstm.material.scss";
@import"../../../assets/common.scss";
.row{
    margin-top: 10px;
  }
  .mat-table  {
border-bottom: 1px solid #41b6a6;
  }
.table-responsive{
  padding: 0px 10px ;
}
tr.mat-header-row {
  height: 40px;
}
.mat-header-row{
  border-bottom: 1px solid #41b6a6 !important;
}
.mat-header-cell:first-child{
  border-left: 1px solid #41b6a6;
}
  .mat-header-cell{
    border-left: 1px solid #fff;
    font-size: 15px;
  }
  .mat-cell{
    border-left: 1px solid #41b6a6;
border-bottom: none;
  }
  .mat-row {
    border-bottom: none;
}
.mat-row:hover {
  background-color: #fff !important;
}
.billing {
  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {

    padding-left: 16px;
    padding-right: 18px;
  }
  mat-cell:nth-child(2),
  mat-header-cell:nth-child(2) {
    padding-left: 15px;
  }
  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    padding-left: 22px;
   padding-right: 19px;
  }
  mat-cell:nth-child(4),
  mat-header-cell:nth-child(4) {
    padding-left: 10px;
  }
  mat-cell:nth-child(5),
  mat-header-cell:nth-child(5) {
    padding-left: 43px;
     padding-right: 24px;
  }
  mat-cell:nth-child(6),
  mat-header-cell:nth-child(6) {
    padding-left: 28px;
  }
  mat-cell:nth-child(7),
  mat-header-cell:nth-child(7) {
    padding-right: 0px;
       padding-left: 13px;
  }
  mat-cell:nth-child(8),
  mat-header-cell:nth-child(8) {
    padding-left: 15px;
   padding-right: 10px;
  }
  mat-cell:nth-child(9),
  mat-header-cell:nth-child(9) {
    padding-left: 18px;
  }
  mat-cell:nth-child(10),
  mat-header-cell:nth-child(10) {
    padding-left: 10px;
  }
  mat-cell:nth-child(11),
  mat-header-cell:nth-child(11) {
    padding-left: 1%;
  }
  mat-cell:nth-child(12),
  mat-header-cell:nth-child(12) {
    padding-left: 2%;
  }
}
  .btn-reports{
    // width: 91%;
    height: 45px;
    // border-radius: 4px;
    // padding: 10px;
  }
  ::ng-deep.green-calendar.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    color: #41b6a6 !important;
    height: 45px;
  }

  .table-NoRecord {
    background: White;
    border: 1px solid #41b6a6;
    margin-top: -1px;
  }
  .stopdate{
    margin: 0px -63px;
  }
  .toalignment{
  padding-left: 44px;
    padding-top: 10px;
    font-size: 16px;
  }
// .runreport{
//   margin-left: 31px;
//     padding-right: 10px;
// }

.reset{
  margin-left: 10px;
  width: 282px;
}
@media (min-width: 1600px) {
  ::ng-deep .reset{
    // margin-left: 10px;
     width: 235px;;
  }
}



.search_patient_div {
  border: 1px solid #41b6a6;
}
.input-group {
  width: 100%;
  display: table;
  border-radius: 3px;
  transition: border-color 0.2s;
}
.form-group .select2.select2-container {
  width: 100% !important;
}
