@import"../../../../assets/common.scss";
@import "../../../../assets/cstm.material.scss";
.btn-orange {
    width: 165px;
    height: 45px;
    display: block;
    padding: 0;
    line-height: 2.7;
    border-radius: 3px;
    margin-right: 19px;
  }  
  .Insurance {
    border-bottom: 3px solid #41b6a6;
    height: 64px;
  }
  .card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 2;
    height: 50px;
  }

  .patientInsuranceTab{
  padding: 0 10px;
    background-color: #fff;
    border-color: #41b6a6;
    color: #4A4A4A;
    height: 40px;
    // border: 1px solid;
    border-radius: 1px solid;
  }
  ::ng-deep .green-calendar.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff !important;
    color: #41a6b6 !important;
    height: 45px;
  }
  .btn-green{
  width: 165px;
  height: 41px;
  }
  .input-group-text
  {
    background-color: #41b6a6;
    color: #fff;
    height: 40px;
    // width: 40px;
  }
  .input-border{
    border: 1px solid #41b6a6;
    cursor: not-allowed;
    height: 40px;
  }
  .prefix-alignments{
    width:57px;
    color: #fff;
    padding: 10px;
    
  }
  .plusicon{
  border: 1px solid  #41a6b6;
  width:57px;
  height: 45px;
  margin-left: -23px;
  }
  .btn-insurance{
    width: 246px;
    margin: 0px;
    height: 41px;
  }
  .tabs-alignments{
    width: 180px;
  }

  // .modal
  // {
  //   display: none; 
  //   position: unset;
  // }
  .table-borderless> :not(:first-child) {
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: #41b6a6;
  }