<div class="Insurance">
    <button class="btn btn-orange pull-right mt-2 Helvetica-sans-serif-medium">Save</button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header">
                    <span class="Helvetica-sans-serif-medium text-white mt-1">Primary Insurance</span>
                </div>
                <div class="card-body">
                    <label class="Helvetica-sans-serif-medium">Subscriber
                        Name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control patientInsuranceTab" placeholder="Subscriber Name"
                            aria-label="Subscriber Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="row">
                        <label class="Helvetica-sans-serif-medium">Date of Birth</label>
                        <mat-form-field appearance="outline" class="green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp" placeholder="Date of Birth">
                            <mat-datepicker-toggle matSuffix [for]="dp">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp disabled="false"></mat-datepicker>
                        </mat-form-field>


                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">Gender:</label>
                            <div>
                                <mat-radio-group>
                                    Male <mat-radio-button [value]="true"></mat-radio-button>
                                    FeMale<mat-radio-button class="ms-4" [value]="false"></mat-radio-button>
                                    Other<mat-radio-button class="ms-4" [value]="true"></mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label class="Helvetica-sans-serif-medium">ADDRESS</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab"
                                    placeholder="Enter full address here" aria-label="Subscriber Name"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-green btn-verify mt-4 py-2 px-4 Helvetica-sans-serif-medium">VERIFY</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9  mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">Street Address</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5  mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">City</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <div class="input-group input-group-lg ">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">State</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">Zip</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-11">
                            <label class="Helvetica-sans-serif-medium">Insurance Company Plan</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab"
                                    placeholder="Insurance Company Plan" aria-label="Subscriber Name"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-1">
                            <!-- <button class="plusicon mt-4" type="button">
                                <i class="fa fa-plus"></i>
                            </button> -->
                            <button class="plusicon mt-4" type="button"  data-bs-toggle="modal" data-bs-target="#modal-Patient-Education"
                            aria-expanded="false">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label class="Helvetica-sans-serif-medium">Subscriber Id</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab" placeholder="Subscriber Id"
                                    aria-label="Subscriber Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-green btn-insurance pull-right  Helvetica-sans-serif-medium"
                                type="button">
                                View Primary Insurance details
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="labs-imaging-tabs">
                                <ul class="nav nav-tabs nav-tab-styled" id="myTab" role="tablist">
                                    <li class="nav-item tabs-alignments" role="presentation">
                                        <a class="nav-link text-center active" id="medical-tab" data-bs-toggle="tab"
                                            data-bs-target="#medical" type="button" role="tab" aria-controls="medical"
                                            aria-selected="true">Self
                                        </a>
                                    </li>
                                    <li class="nav-item  tabs-alignments" role="presentation">
                                        <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab"
                                            data-bs-target="#send" type="button" role="tab" aria-controls="send"
                                            aria-selected="true">Spouse
                                        </a>
                                    </li>
                                    <li class="nav-item  tabs-alignments" role="presentation">
                                        <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab"
                                            data-bs-target="#send" type="button" role="tab" aria-controls="send"
                                            aria-selected="true">Child
                                        </a>
                                    </li>
                                    <li class="nav-item tabs-alignments" role="presentation" style="width: 180px;">
                                        <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab"
                                            data-bs-target="#send" type="button" role="tab" aria-controls="send"
                                            aria-selected="true">Other
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <mat-form-field appearance="outline" col-md-12>
                            <mat-select placeholder="Action">
                                <mat-option *ngFor="let topping of Action" [value]="topping">
                                    {{topping}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp2"  placeholder="Start Date">
                            <mat-datepicker-toggle matSuffix [for]="dp2">
                    
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                           </mat-form-field>
                           <!-- <div class="date_to_text col-md-1">to</div> -->
                    
                    
                          <mat-form-field appearance="outline" class="green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp1" placeholder="Stop Date">
                            <mat-datepicker-toggle matSuffix [for]="dp1">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header">
                    <span class="Helvetica-sans-serif-medium text-white mt-1">Secondary Insurance</span>
                </div>
                <div class="card-body">
                    <label class="Helvetica-sans-serif-medium">Subscriber
                        Name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control patientInsuranceTab" placeholder="Subscriber Name"
                            aria-label="Subscriber Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="row">
                        <label class="Helvetica-sans-serif-medium">Date of Birth</label>
                        <mat-form-field appearance="outline" class="green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp4" placeholder="Date of Birth">
                            <mat-datepicker-toggle matSuffix [for]="dp4">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                        </mat-form-field>


                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">Gender:</label>
                            <div>
                                <mat-radio-group>
                                    Male <mat-radio-button [value]="true"></mat-radio-button>
                                    FeMale<mat-radio-button class="ms-4" [value]="false"></mat-radio-button>
                                    Other<mat-radio-button class="ms-4" [value]="true"></mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label class="Helvetica-sans-serif-medium">ADDRESS</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab"
                                    placeholder="Enter full address here" aria-label="Subscriber Name"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-green btn-verify mt-4 py-2 px-4 Helvetica-sans-serif-medium">VERIFY</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9  mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">Street Address</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5  mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">City</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <div class="input-group input-group-lg ">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">State</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">Zip</span>
                                <input type="text" class="form-control input-border">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-11">
                            <label class="Helvetica-sans-serif-medium">Insurance Company Plan</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab"
                                    placeholder="Insurance Company Plan" aria-label="Subscriber Name"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-1">
                            <!-- <button class="plusicon mt-4" type="button">
                                <i class="fa fa-plus"></i>
                            </button> -->
                            <button class="plusicon mt-4" type="button"  data-bs-toggle="modal" data-bs-target="#modal-Patient-Education"
                            aria-expanded="false" >
                            <i class="fa fa-plus" (click)="Add('Select Insurance Company Plan')"></i>
                          </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label class="Helvetica-sans-serif-medium">Subscriber Id</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab" placeholder="Subscriber Id"
                                    aria-label="Subscriber Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-green btn-insurance pull-right  Helvetica-sans-serif-medium"
                                type="button">
                                View Primary Insurance details
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="labs-imaging-tabs">
                                <ul class="nav nav-tabs nav-tab-styled" id="myTab" role="tablist">
                                    <li class="nav-item tabs-alignments" role="presentation">
                                        <a class="nav-link text-center active" id="medical-tab" data-bs-toggle="tab"
                                            data-bs-target="#medical" type="button" role="tab" aria-controls="medical"
                                            aria-selected="true">Self
                                        </a>
                                    </li>
                                    <li class="nav-item  tabs-alignments" role="presentation">
                                        <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab"
                                            data-bs-target="#send" type="button" role="tab" aria-controls="send"
                                            aria-selected="true">Spouse
                                        </a>
                                    </li>
                                    <li class="nav-item  tabs-alignments" role="presentation">
                                        <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab"
                                            data-bs-target="#send" type="button" role="tab" aria-controls="send"
                                            aria-selected="true">Child
                                        </a>
                                    </li>
                                    <li class="nav-item tabs-alignments" role="presentation" style="width: 180px;">
                                        <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab"
                                            data-bs-target="#send" type="button" role="tab" aria-controls="send"
                                            aria-selected="true">Other
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <mat-form-field appearance="outline" col-md-12>
                            <mat-select placeholder="Action">
                                <mat-option *ngFor="let topping of Action" [value]="topping">
                                    {{topping}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp5"  placeholder="Start Date">
                            <mat-datepicker-toggle matSuffix [for]="dp5">
                    
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp5 disabled="false"></mat-datepicker>
                           </mat-form-field>
                           <!-- <div class="date_to_text col-md-1">to</div> -->
                    
                    
                          <mat-form-field appearance="outline" class="green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp6" placeholder="Stop Date">
                            <mat-datepicker-toggle matSuffix [for]="dp6">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp6 disabled="false"></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <button class="" type="button" data-bs-toggle="modal" data-bs-target="#modal-Patient-Education"
aria-expanded="false">
</button> -->
<div class="modal " id="modal-Patient-Education" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <span class="Helvetica-sans-serif-medium">{{displaytitle}}</span>
        <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close"
          style="border: 1px solid #fff;">
          X
        </span>
      </div>
      <div class="modal-body modal-scrollbar">
     
       
             <div *ngIf="isValid;then content else other_content"></div>
             
             <ng-template #content>
             
           <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="labs-imaging-tabs">
                        <ul class="nav nav-tabs nav-tab-styled" id="myTab" role="tablist">
                            <div class="mt-2 Helvetica-sans-serif-medium">Type:</div>
                            <li class="nav-item tabs-alignments" role="presentation">
                                <a class="nav-link text-center active" id="medical-tab" data-bs-toggle="tab"
                                    data-bs-target="#medical" type="button" role="tab" aria-controls="medical"
                                    aria-selected="true">Medical
                                </a>
                            </li>
                            <li class="nav-item  tabs-alignments" role="presentation">
                                <a class="nav-link text-center" id="send-tab" data-bs-toggle="tab"
                                    data-bs-target="#send" type="button" role="tab" aria-controls="send"
                                    aria-selected="true">Dental
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <label class="Helvetica-sans-serif-medium">Insurance Company Name</label>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control inputclass" placeholder="Insurance Company Name">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="Helvetica-sans-serif-medium">Group Plan</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control inputclass" placeholder="Group Plan">
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="Helvetica-sans-serif-medium">Employer</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control inputclass" placeholder="Employer">
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">Street Address</span>
                        <input type="text" class="form-control inputclass">
                    </div>
                </div>
            <div class="row">
            <div class="col-5  mb-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">City</span>
                    <input type="text" class="form-control inputclass">
                </div>
            </div>
            <div class="col-3 mb-3">
                <div class="input-group input-group-lg ">
                    <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">State</span>
                    <input type="text" class="form-control inputclass">
                </div>
            </div>
            <div class="col-4">
                <div class="input-group input-group-lg">
                    <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium" id="inputGroup-sizing-lg ">Zip</span>
                    <input type="text" class="form-control inputclass">
                </div>
                </div>
            </div>
            <div class="row mb-4">
                <label class="Helvetica-sans-serif-medium ">Contact</label>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control inputclass" placeholder="Contact">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="Helvetica-sans-serif-medium">Phone</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control inputclass" placeholder="Phone">
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="Helvetica-sans-serif-medium">Benefit Renewal</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control input-border1" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="Helvetica-sans-serif-medium">Group #</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control inputclass" placeholder="Group #">
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="Helvetica-sans-serif-medium">Local #</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control inputclass " placeholder="Local #">
                    </div>
                </div>
            </div>
            <div class="row mb-4 ">
                <label class="Helvetica-sans-serif-medium">Payer ID</label>
                <div class="input-group">
                    <input type="text" class="form-control inputclass" placeholder="Payer ID">
                </div>
            </div>

         
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-2">
                    <button mat-raised-button type="submit" class="btn btn-green btn-selectcancel ">Save</button>
                </div>
                <div class="col-md-2">
                    <button mat-raised-button type="submit" class="btn btn-green btn-selectcancel  pull-right" (click)=close()>Cancel</button>
                </div>
            </div>
          </div>.
             </ng-template>
             <ng-template #other_content>
                <div class="row">
                    <div class="col-md-6">
                        <div class="find-procedure">
                            <div class="form-group ">
                              <div class="input-group">
                                  <input type="text" name="search_procedure_code" id="search_procedure_code"
                                  class="form-control search-control  Helvetica-sans-serif-medium" placeholder="Search Insurance Company Plan">
                                <button class="btn btn-info btn-md" type="button">
                                  <i class="fa fa-search text-white"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button (click)=add() class="btn btn-green btn-insurancecompany"
                        type="button">Add Insurance Company Plan </button>
                    </div>
                </div>
                <table class="table table-borderless" >
                    <thead class="bg-color">
                      <tr>
                       
                        <th>
                            Insurance Company Name
                        </th>
                        <th>
                            Group Plan	
                        </th>
                        <th>
                            Group #
                        </th>
                        <th>
                            Local #
                        </th>
                        <th>
                            Employer Name
                        </th>
                        <th>
                            Payer ID
                        </th>
                        <th>
                            Address
                        </th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        <tr   *ngFor ="let item of values; let idx=index;" 
                        [style.background-color]="rowClicked == idx ? 'rgb(254, 143, 0)' : ''"
                        (click)="changeTableRowColor(idx)"(dblclick)=edit(idx)>
                          
                            <td>
                              <p></p>
                            </td>
                            <td>
                              <p></p>
                            </td>
                            <td>
                              <p>{{item.age}}</p>
                            </td>
                            <td>
                              <p>{{item.sex}}</p>
                            </td>
                            <td>
                                <p>{{item.id}}</p>
                              </td>
                              <td>
                                <p>{{item.name}}</p>
                              </td>
                              <td>
                                <p></p>
                              </td>
                           
                          </tr>
                     </tbody>
                  </table>
                  <div class="row mt-4">
                  <div class="col-md-8">
                      </div>
                      <div class="col-md-2">
                    <button mat-raised-button type="submit" class="btn btn-green btn-selectcancel" disabled>Select</button>
                </div>
                <div class="col-md-2">
                    <button mat-raised-button type="submit" class="btn btn-green btn-selectcancel  pull-right" (click)=close()>Cancel</button>
                </div>
            </div>
           
             </ng-template> 
      </div>
      <div class="modal-footer">
    
      </div>
    </div>
  </div>
</div>
