<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header">
                    <span class="Helvetica-sans-serif-medium text-white mt-1">Primary Insurance</span>
                </div>
                <div class="card-body">
                    <label class="Helvetica-sans-serif-medium">Subscriber
                        Name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control patientInsuranceTab Helvetica-sans-serif-medium"
                            placeholder="Subscriber Name" [(ngModel)]="primlist.SubscriberNane"
                            aria-label="Subscriber Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="row">
                        <label class="Helvetica-sans-serif-medium">Date of Birth</label>
                        <mat-form-field appearance="outline"
                            class=" calendaricon green-calendar col-md-6 Helvetica-sans-serif-small">
                            <input matInput [matDatepicker]="DateOfBirth" placeholder="Date of Birth"
                                (click)="DateOfBirth.open()" [(ngModel)]="primlist.DateOfBirth">
                            <mat-datepicker-toggle matSuffix [for]="DateOfBirth">
                            </mat-datepicker-toggle>
                            <mat-datepicker #DateOfBirth disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">Gender:</label>
                            <div>
                                <mat-radio-group [(ngModel)]="primlist.Gender">
                                    <mat-radio-button class="radio-btn-label label-design my-1" value="male"> Male
                                    </mat-radio-button>
                                    <mat-radio-button class="radio-btn-label label-design my-1" value="female">Female
                                    </mat-radio-button>
                                    <mat-radio-button class="radio-btn-label label-design my-1" value="other">Other
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label class="Helvetica-sans-serif-medium">Address</label>
                            <div class="input-group mb-3">
                                <input type="text" [disabled]="disableaddressverification"
                                    class="form-control patientInsuranceTab Helvetica-sans-serif-medium"
                                    placeholder="Enter full address here" aria-label="Subscriber Name"
                                    aria-describedby="basic-addon1" [(ngModel)]="primlist.Street" #Address>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button
                                class="btn btn-green btn-verify Helvetica-sans-serif-medium mt-4 py-2 px-4 my-4 mx-3"
                                [disabled]="primlist.Street=='' || disableaddressverification"
                                (click)="AddressVerification()">VERIFY</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text Helvetica-sans-serif-medium"
                                        id="inputGroup-sizing-lg">Street Address</span>
                                    <input [readonly]="!disableaddressverification"
                                        class="form-control input-border Helvetica-sans-serif-medium"
                                        [(ngModel)]="primlist.StreetAddress" placeholder="Street Address" type="text"
                                        id="StreetAddress" name="StreetAddress">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"><button type="button" class="btn cross-mark error-close"
                                *ngIf="addressVerfied && !manuallybtn" (click)="enableManualEntry()"
                                title="Can enter manully when the verification results are in correct by clicking this icon">x</button>
                        </div>
                        <div class="col-md-2  patient-street-address">
                            <div class="form-group">
                                <button class="btn-green btn manualbtn  py-0 btn-lg btn-md"
                                    *ngIf="manuallybtn || disableaddressverification"
                                    (click)="enterAddressManually()">Enter Address Manually</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5  mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                    id="inputGroup-sizing-lg ">City</span>
                                <input type="text" [readonly]="!disableaddressverification"
                                    class="form-control input-border Helvetica-sans-serif-medium"
                                    [(ngModel)]="primlist.City">
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <div class="input-group input-group-lg ">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                    id="inputGroup-sizing-lg ">State</span>
                                <input type="text" [readonly]="!disableaddressverification"
                                    class="form-control input-border Helvetica-sans-serif-medium"
                                    [(ngModel)]="primlist.State">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                    id="inputGroup-sizing-lg ">Zip</span>
                                <input type="text" [readonly]="!disableaddressverification"
                                    class="form-control input-border" [(ngModel)]="primlist.Zip">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-11">
                            <label class="Helvetica-sans-serif-medium">Insurance Company Plan</label>
                            <div class="input-group mb-3">
                                <input type="text"
                                    class="form-control patientInsuranceTab input-border Helvetica-sans-serif-medium"
                                    placeholder="Insurance Company Plan" [(ngModel)]="primlist.InsuranceCompanyPlan"
                                    aria-label="Subscriber Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="plusicon mt-4" type="button" (click)="primaryplus('primary')"
                                data-bs-toggle="modal" data-bs-target="#modal-primary-Insurance" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label class="Helvetica-sans-serif-medium">Subscriber Id</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab Helvetica-sans-serif-medium"
                                    placeholder="Subscriber Id" aria-label="Subscriber Name"
                                    aria-describedby="basic-addon" [(ngModel)]="primlist.SubscriberId">
                            </div>
                        </div>
                        <div class="col-4">
                            <button [disabled]="viewpidetailsforprimary"
                                class="btn btn-green btn-insurance pull-right  Helvetica-sans-serif-medium"
                                type="button" (click)="getInsuranceDetails('primary')" data-bs-toggle="modal"
                                data-bs-target="#Primary-Insurance-Details"> View Primary Insurance details</button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 col-12 my-2">
                        <label for="" class="form-label label-design  mx-lg-1">Relationship to Subscriber</label>
                        <div>
                            <mat-radio-group [(ngModel)]="primlist.RelationshipToSubscriber">
                                <mat-radio-button value="Self" class="radio-btn-label label-design my-1">Self
                                </mat-radio-button>
                                <mat-radio-button value="Spouse" class="radio-btn-label label-design my-1">Spouse
                                </mat-radio-button>
                                <mat-radio-button value="Child" class="radio-btn-label label-design my-1">Child
                                </mat-radio-button>
                                <mat-radio-button value="Other" class="radio-btn-label label-design my-1">Other
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                   
                        <div class="form-group">
                            <select class="col-12 inputclassdropdown Helvetica-sans-serif-medium"
                                [(ngModel)]="primlist.SourceOfPaymentTypology"
                                (change)="onChange('primary',$event.target.value)">
                                <option *ngFor="let country of SourceOfPaymentTypologyCodes" [value]="country.Code">
                                    {{country.Code}}-{{country.Description}}</option>

                            </select>
                        </div>
                    </div> -->

                    		
					 <div class="col-lg-12 col-md-12">
                        <mat-label  class="Helvetica-sans-serif-medium placehold">Source of Payment Typology </mat-label>                      
                        <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12 ddl-width ddhover">
                          <mat-select panelClass="optionalignment"  [(ngModel)]="primlist.SourceOfPaymentTypology" placeholder="Source of Payment Typology">
                            <mat-select-filter  [displayMember]="'Code'" [array]="SourceOfPaymentTypologyCodesFilter" 
                              (filteredReturn)="SourceOfPaymentTypologyCodes = $event"></mat-select-filter>
                            <mat-option  *ngFor="let item of SourceOfPaymentTypologyCodes" [value]="item.Code" (click)="primaryspt(item)" >
                              {{item.Code}} - {{item.Description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">Start Date</label>
                        </div>
                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">End Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline"
                            class="calendaricon green-calendar col-md-6 Helvetica-sans-serif-small">
                            <input matInput [matDatepicker]="dp2" placeholder="Start Date" (focus)="dp2?.open()"
                                [(ngModel)]="primlist.StartDate">
                            <mat-datepicker-toggle matSuffix [for]="dp2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="calendaricon green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp1" placeholder="Stop Date" [(ngModel)]="primlist.EndDate"(focus)="dp1?.open()"
                                class="Helvetica-sans-serif-small">
                            <mat-datepicker-toggle matSuffix [for]="dp1">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div class="Insurance">
                        <button class="btn btn-orange pull-right mt-2 Helvetica-sans-serif-medium"
                            (click)="CreateUpdateInsuranceDetails('primary')">Save Primary Insurance</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header">
                    <span class="Helvetica-sans-serif-medium text-white mt-1">Secondary Insurance</span>
                </div>
                <div class="card-body">
                    <label class="Helvetica-sans-serif-medium">Subscriber
                        Name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control patientInsuranceTab Helvetica-sans-serif-medium"
                            placeholder="Subscriber Name" aria-label="Subscriber Name" aria-describedby="basic-addon1"
                            [(ngModel)]="secList.SubscriberNane">
                    </div>
                    <div class="row">
                        <label class="Helvetica-sans-serif-medium">Date of Birth</label>
                        <mat-form-field appearance="outline" class="calendaricon green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp4" placeholder="Date of Birth"
                                [(ngModel)]="secList.DateOfBirth"(focus)="dp4?.open()">
                            <mat-datepicker-toggle matSuffix [for]="dp4">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                        </mat-form-field>


                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">Gender:</label>
                            <div>
                                <mat-radio-group [(ngModel)]="secList.Gender">
                                    <mat-radio-button value="male" class="radio-btn-label label-design my-1">Male
                                    </mat-radio-button>
                                    <mat-radio-button value="female" class="radio-btn-label label-design my-1">Female
                                    </mat-radio-button>
                                    <mat-radio-button value="other" class="radio-btn-label label-design my-1">Other
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label class="Helvetica-sans-serif-medium">Address</label>
                            <div class="input-group mb-3">
                                <input type="text" [disabled]="disableaddressverification"
                                    class="form-control patientInsuranceTab Helvetica-sans-serif-medium"
                                    placeholder="Enter full address here" aria-label="Subscriber Name"
                                    aria-describedby="basic-addon1" [(ngModel)]="secList.Street" #Address>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button
                                    class="btn btn-green btn-verify Helvetica-sans-serif-medium mt-4 py-2 px-4 my-4 mx-3"
                                    [disabled]="secList.Street=='' || secondarydisableaddressverification"
                                    (click)="secondaryAddressverfied()">VERIFY</button>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text Helvetica-sans-serif-medium "
                                        id="inputGroup-sizing-lg ">Street Address</span>
                                    <input [readonly]="!secondarydisableaddressverification"
                                        class="form-control input-border Helvetica-sans-serif-medium"
                                        [(ngModel)]="secList.StreetAddress" placeholder="Street Address" type="text"
                                        id="StreetAddress" name="StreetAddress">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn cross-mark error-close"
                                *ngIf="secondaryAdressVerfied && !secondarymanuallybtn"
                                (click)="secondaryenableManualEntry()"
                                title="Can enter manully when the verification results are in correct by clicking this icon">x</button>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn-green btn manualbtn  py-0 btn-lg btn-md"
                                    *ngIf="secondarymanuallybtn || secondarydisableaddressverification"
                                    (click)="secondaryenterAddressManually()">Enter
                                    Address
                                    Manually</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5  mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                    id="inputGroup-sizing-lg ">City</span>
                                <input type="text" [readonly]="!secondarydisableaddressverification"
                                    class="form-control input-border Helvetica-sans-serif-medium"
                                    [(ngModel)]="secList.City">
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <div class="input-group input-group-lg ">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                    id="inputGroup-sizing-lg ">State</span>
                                <input type="text" [readonly]="!secondarydisableaddressverification"
                                    class="form-control input-border" [(ngModel)]="secList.State">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                    id="inputGroup-sizing-lg ">Zip</span>
                                <input type="text" [readonly]="!secondarydisableaddressverification"
                                    class="form-control input-border" [(ngModel)]="secList.Zip">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-11">
                            <label class="Helvetica-sans-serif-medium">Insurance Company Plan</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab input-border"
                                    placeholder="Insurance Company Plan" [(ngModel)]="secList.InsuranceCompanyPlan"
                                    aria-label="Subscriber Name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-1">

                            <button class="plusicon mt-4" type="button" data-bs-toggle="modal"
                                (click)="secondaryplus('secondary')" data-bs-target="#modal-primary-Insurance"
                                aria-expanded="false">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-md-8 col-lg-8">
                            <label class="Helvetica-sans-serif-medium">Subscriber Id</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control patientInsuranceTab" placeholder="Subscriber Id"
                                    aria-label="Subscriber Name" aria-describedby="basic-addon1"
                                    [(ngModel)]="secList.SubscriberId">
                            </div>
                        </div>
                        <div class="col-4">
                            <button [disabled]="viewpidetailsforsecondary"
                                class="btn btn-green btn-insurance pull-right  Helvetica-sans-serif-medium"
                                (click)="getInsuranceDetails('secondary')" type="button" data-bs-toggle="modal"
                                data-bs-target="#Primary-Insurance-Details">
                                View Secondary Insurance details
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xl-12 col-12 my-2">
                        <label for="" class="form-label label-design  mx-lg-1">Relationship to Subscriber</label>
                        <div>
                            <mat-radio-group [(ngModel)]="secList.RelationshipToSubscriber">
                                <mat-radio-button value="Self" class="radio-btn-label label-design my-1">Self
                                </mat-radio-button>
                                <mat-radio-button value="Spouse" class="radio-btn-label label-design my-1">Spouse
                                </mat-radio-button>
                                <mat-radio-button value="Child" class="radio-btn-label label-design my-1">Child
                                </mat-radio-button>
                                <mat-radio-button value="Other" class="radio-btn-label label-design my-1">Other
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
					 <div class="col-lg-12 col-md-12">
                        <mat-label  class="Helvetica-sans-serif-medium">Source of Payment Typology </mat-label>                      
                        <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-12 ddl-width ddhover">
                          <mat-select panelClass="optionalignment"  [(ngModel)]="secList.SourceOfPaymentTypology" placeholder="Source of Payment Typology">
                            <mat-select-filter [displayMember]="'Code'" [array]="secondarySptcFilter" 
                              (filteredReturn)="SourceOfPaymentTypologyCodes = $event"></mat-select-filter>
                            <mat-option  class="matpanelalignment" *ngFor="let item of SourceOfPaymentTypologyCodes" [value]="item.Code" (click)="secondaryspt(item)" >
                              {{item.Code}} - {{item.Description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">Start Date</label>
                        </div>
                        <div class="col-md-6">
                            <label class="Helvetica-sans-serif-medium">End Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="calendaricon green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp5" placeholder="Start Date"
                                [(ngModel)]="secList.StartDate" (focus)="dp5?.open()">
                            <mat-datepicker-toggle matSuffix [for]="dp5">

                            </mat-datepicker-toggle>
                            <mat-datepicker #dp5 disabled="false"></mat-datepicker>
                        </mat-form-field>



                        <mat-form-field appearance="outline" class="calendaricon green-calendar col-md-6">
                            <input matInput [matDatepicker]="dp6" placeholder="Stop Date" [(ngModel)]="secList.EndDate"(focus)="dp6?.open()">
                            <mat-datepicker-toggle matSuffix [for]="dp6">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp6 disabled="false"></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div class="Insurance">
                        <button class="btn btn-orange pull-right Helvetica-sans-serif-medium mt-2"
                            (click)="CreateUpdateInsuranceDetails('secondary')">Save Secondary Insurance</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related to primary insurance card -->

<div class="modal " id="modal-primary-Insurance" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <span *ngIf="data" class="Helvetica-sans-serif-medium text-white">Select Insurance Company Plan </span>
                <span *ngIf="!data" class="Helvetica-sans-serif-medium">Add/Edit Insurance Company Plan </span>
                <span *ngIf="data" type="button" (click)="cancel()" class="cross-mark" data-bs-dismiss="modal" aria-label="Close">
                    X
                </span>
                <span *ngIf="!data" type="button" (click)="cancel()" class="cross-mark">
                    X
                </span>
            </div>
            <div class="modal-body modal-scrollbar">
                <div *ngIf="isValid;then content else other_content"></div>
                <ng-template #content>
                  
                    <div class="container">
                        <div class="divScroll1">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="col-md-6">

                                    <div>
                                        <label class="Helvetica-sans-serif-medium">Type:</label>
                                        <mat-radio-group [(ngModel)]="insuraceComplanyPlan.PlanType">
                                            <mat-radio-button class="radio-btn-label label-design my-1" value="medical">
                                                Medical</mat-radio-button>
                                            <mat-radio-button class="radio-btn-label label-design my-1" value="dental">
                                                Dental</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="Helvetica-sans-serif-medium">Insurance Company Name</label>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control inputclass" placeholder="Insurance Company Name"
                                    [(ngModel)]="insuraceComplanyPlan.InsuranceCompanyName">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label class="Helvetica-sans-serif-medium">Group Plan</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control inputclass" placeholder="Group Plan"
                                        [(ngModel)]="insuraceComplanyPlan.GroupPlan">
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <label class="Helvetica-sans-serif-medium">Employer</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control inputclass" placeholder="Employer"
                                        [(ngModel)]="insuraceComplanyPlan.Employer">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text Helvetica-sans-serif-medium"
                                    id="inputGroup-sizing-lg">Street Address</span>
                                <input type="text" class="form-control inputclass"
                                    [(ngModel)]="insuraceComplanyPlan.StreetAddress">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-5  mb-3">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                        id="inputGroup-sizing-lg ">City</span>
                                    <input type="text" class="form-control inputclass"
                                        [(ngModel)]="insuraceComplanyPlan.City">
                                </div>
                            </div>
                            <div class="col-3 mb-3">
                                <div class="input-group input-group-lg ">
                                    <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                        id="inputGroup-sizing-lg ">State</span>
                                    <input type="text" class="form-control inputclass"
                                        [(ngModel)]="insuraceComplanyPlan.State">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text prefix-alignments Helvetica-sans-serif-medium"
                                        id="inputGroup-sizing-lg ">Zip</span>
                                    <input type="text" class="form-control inputclass"
                                        [(ngModel)]="insuraceComplanyPlan.Zip">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="Helvetica-sans-serif-medium ">Contact</label>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control inputclass" placeholder="Contact"
                                    [(ngModel)]="insuraceComplanyPlan.Contact">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label class="Helvetica-sans-serif-medium">Phone</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control inputclass" placeholder="Phone"
                                        [(ngModel)]="insuraceComplanyPlan.Phone">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="Helvetica-sans-serif-medium">Benefit Renewal</label>
                                <div class="form-group">
                                    <select class="col-12 inputclass" [(ngModel)]="insuraceComplanyPlan.BenfitRenewal">
                                        <option value="Jan" selected>Jan</option>
                                        <option value="Feb">Feb</option>
                                        <option value="Mar">Mar</option>
                                        <option value="Apr">Apr</option>
                                        <option value="May">May</option>
                                        <option value="Jun">Jun</option>
                                        <option value="Jul">Jul</option>
                                        <option value="Sep">Sep</option>
                                        <option value="Oct">Oct</option>
                                        <option value="Nov">Nov</option>
                                        <option value="Dec">Dec</option>

                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label class="Helvetica-sans-serif-medium">Group #</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control inputclass" placeholder="Group #"
                                        [(ngModel)]="insuraceComplanyPlan.GroupNo">
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <label class="Helvetica-sans-serif-medium">Local #</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control inputclass " placeholder="Local #"
                                        [(ngModel)]="insuraceComplanyPlan.LocalNo">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4 ">
                            <label class="Helvetica-sans-serif-medium">Payer ID</label>
                            <div class="input-group">
                                <input type="text" class="form-control inputclass" placeholder="Payer ID"
                                    [(ngModel)]="insuraceComplanyPlan.PayerID">
                            </div>
                        </div>
</div>

                        <div class="row mb-2">
                            <div class="col-md-3">
                                <button *ngIf="delete" mat-raised-button type="submit" class="btn btn-danger btn-danger"
                                data-bs-dismiss="modal" (click)="deleteInsurancePlan()">Delete</button>
                            </div>
                            <!-- <div class="col-md-4">
    
                    </div> -->
                            <div class="col-md-3">
                               
                            </div>
                            <div class="col-md-3" >
                                <button mat-raised-button type="submit"
                                    class="btn btn-green btn-selectcancel" data-bs-dismiss="modal"
                                    (click)="CreateUpdateInsuraceCompanyPlan()">Save</button>
                            </div>
                            <div class="col-md-3">
                                <button *ngIf="cancel2" mat-raised-button type="submit"
                                    class="btn btn-green btn-selectcancel  pull-right" (click)=cancel()>Cancel</button>
                                    <button *ngIf="cancel1" mat-raised-button type="submit"
                                    class="btn btn-green btn-selectcancel  pull-right" (click)=cancel()
                                    data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    </div>.

                  

                </ng-template>
                <ng-template #other_content>
                    <div class="divScroll">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="find-procedure">
                                <div class="form-group ">
                                    <div class="input-group">

                                        <input type="text" name="search_procedure_code" id="search_procedure_code"
                                            class="form-control search-control  Helvetica-sans-serif-medium"
                                            placeholder="Search Insurance Company Plan" [(ngModel)]="SearchKey"
                                            (click)="onFilterChange()">
                                        <button class="btn btn-info btn-md" type="button" (click)="onFilterChange()">
                                            <i class="fa fa-search text-white"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <button (click)=AddInsuranceCompanyPlan()
                                class="btn btn-green btn-insurancecompany Helvetica-sans-serif-medium pull-right"
                                type="button">Add Insurance Company Plan </button>
                        </div>
                    </div>
                   
                    <table class="table table-borderless">
                        <thead class="bg-color">
                            <tr>

                                <th class="Helvetica-sans-serif-medium">
                                    Insurance Company Name
                                </th>
                                <th class="Helvetica-sans-serif-medium">
                                    Group Plan
                                </th>
                                <th class="Helvetica-sans-serif-medium">
                                    Group #
                                </th>
                                <th class="Helvetica-sans-serif-medium">
                                    Local #
                                </th>
                                <th class="Helvetica-sans-serif-medium">
                                    Employer Name
                                </th>
                                <th class="Helvetica-sans-serif-medium">
                                    Payer ID
                                </th>
                                <th class="Helvetica-sans-serif-medium">
                                    Address
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let item of InsurancePlanList; let idx=index;" 
                                [style.background-color]="rowClicked == idx ? 'rgb(254, 143, 0)' : ''"
                                (click)="changeTableRowColor(idx,false)" (dblclick)=edit(idx)>
                                <td (dblclick)="getInsuranceDetail(item.InsuranceCompanyId)"
                                    class="Helvetica-sans-serif-medium">{{item.InsuranceCompanyName}}</td>
                                <td (dblclick)="getInsuranceDetail(item.InsuranceCompanyId)"
                                    class="Helvetica-sans-serif-medium">{{item.GroupPlan}}</td>
                                <td (dblclick)="getInsuranceDetail(item.InsuranceCompanyId)"
                                    class="Helvetica-sans-serif-medium">{{item.GroupNo}}</td>
                                <td (dblclick)="getInsuranceDetail(item.InsuranceCompanyId)"
                                    class="Helvetica-sans-serif-medium"> {{item.LocalNo}}</td>
                                <td (dblclick)="getInsuranceDetail(item.InsuranceCompanyId)"
                                    class="Helvetica-sans-serif-medium">{{item.Employer}}</td>
                                <td (dblclick)="getInsuranceDetail(item.InsuranceCompanyId)"
                                    class="Helvetica-sans-serif-medium">{{item.PayerID}}</td>
                                <td (dblclick)="getInsuranceDetail(item.InsuranceCompanyId)"
                                    class="Helvetica-sans-serif-medium">
                                    {{item.StreetAddress}},{{item.City}},{{item.State}}</td>
                            </tr> -->
                        </tbody>
                    </table>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-3">
                            <button mat-raised-button type="submit" class="btn btn-green btn-selectcancel"
                                (click)="Selected()" data-bs-dismiss="modal" aria-label="Close"
                                [disabled]="btnstate">Select</button>
                        </div>
                        <div class="col-md-3">
                            <button mat-raised-button type="submit" class="btn btn-green btn-selectcancel   pull-right"
                                data-bs-dismiss="modal" aria-label="Close" (click)=cancel()>Cancel</button>
                        </div>
                    </div>

                </ng-template>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- Related to insurance details in primary insurance -->
<div class="modal " id="Primary-Insurance-Details" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content PrimaryInsuranceDetails">
            <div class="modal-header">

                <!-- <span  class="Helvetica-sans-serif-medium"> </span> -->
                <!-- {{ thi ? 'Text_For_True' : 'Text_For_False' }} -->
                <span *ngIf="primaryInsDetail" class="Helvetica-sans-serif-medium">Primary Insurance Details </span>
                <!-- {{ this.insuraceComplanyPlan.InsuranceCompanyId == '' ? 'add' : 'edit' }} -->

                <span *ngIf="secondaryInsDetail" class="Helvetica-sans-serif-medium">Secondary Insurance Details </span>
                <span type="button" class="cross-mark" data-bs-dismiss="modal" aria-label="Close">
                    X
                </span>
            </div>
            <div class="modal-body modal-scrollbar modalbodycolor" style=" border-bottom: 3px solid #41b6a6;">

                <div *ngFor="let item of InsurancDetailslist">
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Type:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.Type}}</div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Insurance Company Name:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.InsuranceCompanyName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Group Plan:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.GroupPlan}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Employer:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.Employer}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Address:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.Address}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Contact:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.Contact}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Phone:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.Phone}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Benifit Renewal:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.BenifitRenewal}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Group #:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.Group}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 Helvetica-sans-serif-medium">Local #:</div>
                        <div class="col-md-6 Helvetica-sans-serif-medium">{{item.Local}}</div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button type="submit" class="btn btn-green btn-primary"
                            (click)="primaryinsurancedetails()" data-bs-toggle="modal"
                            data-bs-target="#modal-primary-Insurance">Edit</button>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button type="submit" class="btn btn-green btn-primary"
                            data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
