<div class="attachments" style="display:flex">
  <div class="col-lg-6 col-md-6 col-6 col-sm-6" style="float: right;">
    <div  style="clear:both">
      <div class="row">
        <!-- <div class="col-lg-10 col-10">
          <p class="title mt-4"><b>Attachments:</b></p>
        </div> -->
        <div class="col-lg-2 col-2">
          <div class="upload-btn-wrapper">
            <label for="singleFile">
              <mat-icon>attach_file</mat-icon>
            </label>
            <input id="singleFile" name="myFile" [accept]="AcceptedFileTypes" type="file" hidden="true"
             [fileUploadInputFor]="fileUploadQueue" [size]="fileSize"/>
          </div>
        </div>
        <div>
          <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <file-upload-queue #fileUploadQueue [fileAlias]="EntityId" [httpRequestParams]="httpRequestParams"
              [httpUrl]="httpUrl">
              <file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"
                [httpRequestParams]="httpRequestParams" [fileAlias]="uploadTo" (onUpload)="UploadCompleted($event)"
                (onItemRemove)="ItemRemoved($event)">
              </file-upload>
            </file-upload-queue>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-items col-lg-6 col-md-6 col-6 col-sm-6">
    <div class="row">
      <div class="items" *ngFor="let attachment of ActiveAttachments">
        <div class="item" (click)="showDocument(attachment.AttachmentId)">{{attachment.FileName}}</div>
        <div for="forremove" class="remove" (click)="DeleteAttachment(attachment.AttachmentId)">
          <mat-icon>delete</mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>
