<div class="scrollable-container">
  <div class="content ">
    <div class="row denatal-chart-top">
      <!-- practice will be dongin now; -->
      <!-- Display Practice -->
      <div class="col-lg-12 col-md-12">
        <div class="right-block mx-2">
          <div class="colB border">
            <div class="panel">
              <p class="panel-title px-2">Practice Settings</p>
            </div>
            <form [formGroup]="TimeZoneForm">
              <div class="row top-header mt-5">
                <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                  <p class="top-block my-3" style="text-align: center;">Time Zone:</p>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-7 col-12 ">
                  <mat-form-field appearance="outline" class="col-12 px-2">
                    <mat-select formControlName="TimeZones" disableOptionCentering>
                      <mat-option *ngFor="let timezone of TimeZoneList" [value]="timezone.Id"> {{timezone.DisplayName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="mx-2">
                    <p class="time my-0">Current Time : {{CurrentTime}}</p>
                    <p class="time my-0">Current UTC Time : {{UTCTime}}</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-12 savebtnsize">
                  <button type="submit" class="btn-success mx-2 px-2 py-2 btn btn-lg btn-md btnSave">Save</button>
                </div>
              </div>
            </form>
            <div class="colC">
              <div class="row panel-title m-0">
                <div class="col-xl-11 col-lg-9 col-md-8 col-12">Practice Location</div>
                <div class="col-xl-1 col-lg-3 col-md-4 col-12">
                  <button class="plusicon pull-right" data-bs-toggle="modal" data-bs-target="#practice-modal"
                    (click)="closePopup()">
                    <i class="fa fa-plus addlocation mx-2"></i>
                  </button>
                </div>
              </div>

              <div class="scrollable-mat-table">
                <mat-table class="table table-responsive" [dataSource]="locationdataSource">
                  <ng-container matColumnDef="Location">
                    <mat-header-cell *matHeaderCellDef>Location name</mat-header-cell>
                    <mat-cell *matCellDef="let loc"><span class="text-decoration ">
                        <a data-remote="true" data-bs-toggle="modal" class="cursorpointer"
                          data-bs-target="#practice-modal" (click)="getEditLocData(loc)">
                          {{loc.Location_Name}}</a></span></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Address">
                    <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                    <mat-cell *matCellDef="let loc">{{loc.Location_Street_Address}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Phone">
                    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                    <mat-cell *matCellDef="let loc">{{loc.Location_Phone}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Providers">
                    <mat-header-cell *matHeaderCellDef># of Providers</mat-header-cell>
                    <mat-cell *matCellDef="let loc">{{loc.providers}}</mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="locationColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: locationColumns"></mat-row>
                </mat-table>

              </div>
            </div>
            <div class="colC">
              <div class="">
                <div class="row panel-title  m-0">
                  <div class="col-xl-2 col-lg-12 col-md-12 col-12 providerlabel">Users</div>
                  <div class="col-xl-4 col-lg-12 col-md-12 col-12 providerlabel">Practice ID#:
                    <u>5b686dd4c832dd0c444f271a</u>
                  </div>
                  <div class="col-xl-5 col-lg-9 col-md-9 col-12 providerlabel">Practice Name: Friendly Rebels Dental
                    Clinic</div>
                  <div class="col-xl-1 col-lg-3 col-md-3 col-12">
                    <button class="plusicon addbtn" data-bs-toggle="modal" data-bs-target="#user-modal">
                      <i class="fa fa-plus addprovider"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="scrollable-mat-table">
                <mat-table class="table table-responsive " [dataSource]="providerDataSource">
                  <ng-container matColumnDef="FullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>

                    <mat-cell *matCellDef="let user"><span class="text-decoration">
                        <span>
                          <img class="avatar avatar-empty mx-2"
                            src="/assets/images/avatar-empty-0b15d6123f5339b0505eef6ad8a8fe0d22d1406692b5c16b3839c561e9c92e60.svg"
                            alt="Avatar empty" width="32" height="32" style="border-radius: 36px ;background: #cfcaca;">
                        </span>
                        <a data-remote="true" data-bs-toggle="modal" data-bs-target="#user-modal" class="cursorpointer"
                          (click)="getUserDataforEdit(user)">{{user.first_name}}
                          {{user.last_name}}</a></span></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Role">
                    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user._practice_role}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Space">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <mat-checkbox class="example-margin" [(ngModel)]="user.admin" (click)="checkAdminAccess(user)">
                        <span class="admineclass">Admin</span>
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <a role="button" (click)="changeStatusAccess(user)"
                        [ngClass]="user.active?'StatusActive':'inactive'">
                        <span *ngIf="user.active">Active</span>
                        <span *ngIf="!user.active">Inactive</span>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="EmergencyAccess">
                    <mat-header-cell *matHeaderCellDef>Emergency Access</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <mat-checkbox class="example-margin" (click)="changeEmergencyAccess(user)"
                        [(ngModel)]="user.emergency_access"></mat-checkbox>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="providerColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: providerColumns"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Location Modal Popup -->
  <div class="modal fade " id="practice-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="!displayforEditLocation">Add location</h4>
          <h4 class="modal-title" *ngIf="displayforEditLocation">Edit location</h4>
          <button type="button" class="btn btn-sm  closemodel" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="bg-white">
          <div class="scroolbar">
            <div class="modal-body">
              <div class="mb-0">
                <div class="">
                  <form [formGroup]="LocationForm">
                    <div class="content">
                      <div class="row-container">
                        <div class="row" *ngIf="displayforEditLocation">
                          <div class="col-12">
                            <div class="pull-right mb-2">
                              <input type="checkbox" formControlName="locationprimary" class="mx-2" /><label
                                class="mx-1 fs-6">Primary Location</label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon labelclass form-control">Location Name*</span>
                                <input formControlName="LocationName" class="form-control mx-0 inputclass" type="text"
                                  name="locationname" id="location_name">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row my-3">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div class="input-group input-group-phone">
                                <span class="input-group-addon labelclass form-control">Phone Number</span>
                                <input [maxLength]="14" (mouseover)="hover1='+1(___) ___-____'"
                                  (mouseleave)="hover1='Phone'" appFax formControlName="LocationPhone"
                                  placeholder="{{ hover1 }}" class="string required form-control mx-0 inputclass"
                                  type="text" name="Phone Number" id="Phone Number">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row my-2">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div class="input-group input-group-phone">
                                <span class="input-group-addon labelclass form-control">Fax</span>
                                <input [maxLength]="14" (mouseover)="hover='+1(___) ___-____'"
                                  (mouseleave)="hover='Fax'" formControlName="Fax" placeholder="{{ hover }}" type="text"
                                  appFax class="string required form-control mx-0 inputclass" id="phone-number">

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row-container my-2">
                        <div class="left-block" id="signup-wrapper-patient"><input
                            class="hidden validate user_street_address" aria-label="street" type="hidden"
                            name="location[street_address]" id="location_street_address">
                          <div class="row profile-block-body">
                            <div class="col-lg-12">
                              <div class="form-group"><label>ADDRESS</label></div>
                              <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                  <div class="form-group">
                                    <input formControlName="Street" [readonly]="!visiblebtn"
                                      placeholder="Enter Full Address here" class="form-control mx-0 my-2 inputclass"
                                      type="text" name="Street" id="Street">
                                  </div>
                                  <h6>Enter Address - Street Address, City, State, Zipcode</h6>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                  <div class="form-group">
                                    <button type="submit" [disabled]="LocationForm.controls.Street.value===null"
                                      (click)="AddressVerification()"
                                      class="btn-success btn mb-2 btn-lg btn-md mt-2">Verify</button>
                                  </div>
                                </div>
                              </div>
                              <div class="row my-3 street-add showAddressfield">
                                <div class="col-lg-9 col-md-8 col-sm-9 patient-street-address">
                                  <div class="form-group" *ngIf="!dispalyOptionStreet">
                                    <div class="input-group"> <span
                                        class="input-group-addon labelclass form-control">Street Address</span>
                                      <input formControlName="Stree2" [readonly]="visiblebtn2"
                                        placeholder="Street Address" style="background: white"
                                        class="string required form-control mx-0" type="text" name="streeaddress"
                                        id="streeaddress">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-9 patient-street-address">
                                  <div class="form-group">
                                    <a class="btn1  mt-3" *ngIf="enterbtn" (click)="EnterAddress()">x</a>
                                  </div>
                                  <div class="form-group">
                                    <button class="btn-success btn manuallbtn  py-0 btn-lg btn-md mt-2"
                                      *ngIf="!manuallybtn" (click)="enterAddressManually()">Enter Address
                                      Manually</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row ">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon labelclass form-control">City</span>
                                  <input formControlName="City" [ngClass]="visiblebtn2?'cursorallow':'cursornotallow'"
                                    [readonly]="visiblebtn2" class="string required inputbg form-control mx-0"
                                    type="text" name="City" id="City">
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 my-2 my-md-0">
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon labelclass form-control">State</span>
                                  <input formControlName="State" [readonly]="visiblebtn2"
                                    class="string required inputbg form-control mx-0" type="text" name="State"
                                    id="State">
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon labelclass form-control">Zip</span>
                                  <input formControlName="Zipcode" class="form-conrtol" [readonly]="visiblebtn2"
                                    class="string required inputbg form-control mx-0" type="text" name="Zip" id="Zip">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <hr>
                      <div class="row-container my-2">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group"><label>Organization NPI:</label>
                              <input formControlName="NPI" style="margin: 8px;" class="form-control mx-0 inputclass"
                                type="text" name="OrganizationNPI">
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group"><label>Rendering NPI:</label>
                              <input formControlName="RenderNPI" style="margin: 8px;"
                                class="form-control mx-0 inputclass" type="text" name="RenderingNPI">
                            </div>
                          </div>
                        </div>
                        <div class="row my-2">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group"><label>TIN/EIN:</label>
                              <input formControlName="Tin" style="margin: 8px;" class="form-control mx-0 inputclass"
                                type="text" name="TIN/EIN">
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row-container my-2">
                        <div class="row my-3">
                          <div class="col-lg-2 col-md-2 col-sm-2"></div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-left-10 text-center ">
                            <label>Open:</label>
                          </div>
                          <div class="collabel-lg-3 col-md-3 col-sm-3 col-lg-offset-left-10 text-center">
                            <label>Closed:</label>
                          </div>
                          <div class="col-lg-4"></div>
                        </div>
                        <div class="row">
                          <input value="sunday" class="hidden" type="hidden"
                            name="location[timeslots_attributes[0]][weekday]"
                            id="location_timeslots_attributes_0__weekday">
                          <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                            <p class="weeks">Sunday</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="SunOpenTime" placeholder="03:00 PM" name="Sunday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="SunCloseTime" placeholder="09:00 PM" name="Sunday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="SunDDL">
                                  <mat-option value="Specific Hours" selected>Specific Hours</mat-option>
                                  <mat-option value="Closed/NA">Closed/NA</mat-option>
                                  <mat-option value="Open 24 Hrs">Open 24 Hrs</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row my-3">
                          <input value="monday" class="hidden" type="hidden"
                            name="location[timeslots_attributes[1]][weekday]"
                            id="location_timeslots_attributes_1__weekday">
                          <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                            <p class="weeks">Monday</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="MonOpenTime" placeholder="03:00 PM" name="Monday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="MonCloseTime" placeholder="09:00 PM" name="Monday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="MonDDL">
                                  <mat-option value="Specific Hours" selected>Specific Hours</mat-option>
                                  <mat-option value="Closed/NA">Closed/NA</mat-option>
                                  <mat-option value="Open 24 Hrs">Open 24 Hrs</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row my-3"><input value="tuesday" class="hidden" type="hidden"
                            name="location[timeslots_attributes[2]][weekday]"
                            id="location_timeslots_attributes_2__weekday">
                          <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                            <p class="weeks">Tuesday</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="TueOpenTime" placeholder="03:00 PM" name="Tuesday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="TueCloseTime" placeholder="09:00 PM" name="Tuesday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="TueDDL">
                                  <mat-option value="Specific Hours" selected>Specific Hours</mat-option>
                                  <mat-option value="Closed/NA">Closed/NA</mat-option>
                                  <mat-option value="Open 24 Hrs">Open 24 Hrs</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row my-3"><input value="wednesday" class="hidden" type="hidden"
                            name="location[timeslots_attributes[3]][weekday]"
                            id="location_timeslots_attributes_3__weekday">
                          <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                            <p class="weeks">Wednesday</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="WedOpenTime" placeholder="03:00 PM" name="Wednesday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="WedCloseTime" placeholder="09:00 PM"
                                  name="Wednesday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="WedDDL">
                                  <mat-option value="Specific Hours" selected>Specific Hours</mat-option>
                                  <mat-option value="Closed/NA">Closed/NA</mat-option>
                                  <mat-option value="Open 24 Hrs">Open 24 Hrs</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row my-3"><input value="thursday" class="hidden" type="hidden"
                            name="location[timeslots_attributes[4]][weekday]"
                            id="location_timeslots_attributes_4__weekday">
                          <div class="col-lg-2 col-md-2 col-sm-2 mx-0 mt-3 week">
                            <p class="weeks">Thursday</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group ">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="ThursOpenTime" placeholder="03:00 AM"
                                  name="Thursday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="ThursCloseTime" placeholder="09:00 PM"
                                  name="Thursday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="ThursDDL">
                                  <mat-option value="Specific Hours" selected>Specific Hours</mat-option>
                                  <mat-option value="Closed/NA">Closed/NA</mat-option>
                                  <mat-option value="Open 24 Hrs">Open 24 Hrs</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row my-3">
                          <input value="friday" class="hidden" type="hidden"
                            name="location[timeslots_attributes[5]][weekday]"
                            id="location_timeslots_attributes_5__weekday">
                          <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                            <p class="weeks">Friday</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="FriOpenTime" placeholder="03:00 PM" name="Friday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="FriCloseTime" placeholder="09:00 PM" name="Friday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="FriDDL">
                                  <mat-option value="Specific Hours" selected>Specific Hours</mat-option>
                                  <mat-option value="Closed/NA">Closed/NA</mat-option>
                                  <mat-option value="Open 24 Hrs">Open 24 Hrs</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row my-3"><input value="saturday" class="hidden" type="hidden"
                            name="location[timeslots_attributes[6]][weekday]"
                            id="location_timeslots_attributes_6__weekday">
                          <div class="col-lg-2 col-md-2 col-sm-2 mt-3 week">
                            <p class="weeks">Saturday</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100 fieldclass" appearance="outline">
                                <input matInput formControlName="SatOpenTime" placeholder="03:00 PM" name="Saturday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                              <mat-form-field class="w-100" appearance="outline">
                                <input matInput formControlName="SatCloseTime" placeholder="09:00 PM" name="Saturday" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                              <mat-form-field appearance="outline">
                                <mat-select formControlName="SatDDL" class="feildcolor">
                                  <mat-option value="Specific Hours" selected>Specific Hours</mat-option>
                                  <mat-option value="Closed/NA">Closed/NA</mat-option>
                                  <mat-option value="Open 24 Hrs">Open 24 Hrs</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <hr>
          </div>

          <div class="row my-3 mx-3">
            <div class="col-md-12">
              <div class="d-flex justify-content-start">
                <button type="button" class="btn btn-lg btn-danger mx-2" *ngIf="displayforEditLocation"
                  (click)="deleteLocation()">
                  Delete
                </button>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-lg btn-success col-xl-4 col-lg-4 col-md-3 col-8"
                  data-bs-dismiss="modal" (click)="AddLocation()">
                  Save Changes
                </button>
                <button type="button" class="btn btn-lg btn-success col-xl-3 col-lg-3 col-md-2 col-5 mx-1"
                  data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- address verification model -->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAddress}">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" [ngClass]="sucessdisplay?'addressInvalid':'addressSuccess'">
          <h3 *ngIf="!sucessdisplay">Success</h3>
          <h3 *ngIf="sucessdisplay">Invalid Address</h3>
          <button type="button" *ngIf="!sucessdisplay" class="btn btn-lg btn-success adrsbtn"
            (click)="closePopupAddress()">
            X
          </button>
          <button type="button" *ngIf="sucessdisplay" class="btn btn-lg btn-success erroclose"
            (click)="closePopupAddress()">
            X
          </button>

        </div>
        <form [formGroup]="LocationForm">
          <div class="modal-body">
            <div class="row">
              <h4 class="text-center" style="margin-top: 1rem;margin-bottom: 2rem;">
                {{addressVerifymsg}}</h4>
              <div class="col-lg-12 col-md-4 col-sm-4">
                <mat-form-field appearance="outline" class="example-full-width" [style.width.px]=565>
                  <input type="text" [value]="addressdata" placeholder="address" matInput>
                  <md-icon class="link" *ngIf="!sucessdisplay">
                    <a class="link" (click)="splitAddresses()">Use this</a>
                  </md-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>

  <!-- Add User Modal Popup -->
  <div class="modal fade" id="user-modal" [ngStyle]="{'display':displayuser}" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <h4 class="modal-title">Add New User</h4>
          <button type="button" class="btn btn-sm btn-success ClosebtnAddForm" data-bs-dismiss="modal"
            aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="AddUserFrom">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-group">
                  <div class="input-group">
                    <span class="labelclass form-control">First Name</span>
                    <input formControlName="FirstName" class="addfromdesign inputclass form-control mx-0" type="text"
                      name="FirstName" id="FirstName">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12 my-2">
                <div class="form-group">
                  <div class="input-group">
                    <span class="labelclass form-control">Last Name</span>
                    <input formControlName="LastName" class="addfromdesign inputclass form-control mx-0" type="text"
                      name="LastName" id="LastName">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-group">
                  <div class="input-group input-group-phone">
                    <span class="labelclass form-control">Email</span>
                    <input formControlName="Email" class="addfromdesign inputclass form-control mx-0" type="text"
                      name="Email" id="Email">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 my-2">
                  <div class="form-group">
                    <mat-form-field appearance="outline" class="readonly">
                      <mat-select placeholder="Role" formControlName="Role">
                        <mat-option *ngFor="let pRole of providerRoles" [value]="pRole.Value">{{pRole.Name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 my-2">
                  <div class="form-group">
                    <mat-form-field appearance="outline" class="readonly">
                      <mat-select placeholder="Status" formControlName="Status">
                        <mat-option value="True">Enable</mat-option>
                        <mat-option value="False">Disable</mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-success" data-bs-dismiss="modal" (click)="AddUser()">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- User Edit Modal Popup -->
  <!-- <div class="modal fade " id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content UserModal">
      <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
        <button type="button" class="btn btn-sm closemodel" data-bs-dismiss="modal"
          aria-label="Close">x
        </button>
      </div>
      <div class="modal-body ex3">
        <form [formGroup]="UserInformation">
          <div class="row-container main-info">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-2 col-6 avatar">
                <div class="border">
                  <div class="attachment-container">
                    <div class="avatar-hint">
                      <h6 class="text-mute mx-3 my-0">File must be:</h6>
                      <h6 class="text-mute my-0 mx-3 my-0"> JPG, PNG, GIF</h6>
                      <h6 class="text-mute mx-3 my-0">Max Size: 1MB</h6>
                      <h6 class="text-mute mx-3 my-0">Min. Res: </h6>
                      <h6 class="text-mute mx-3 my-0">300x300 px.</h6>
                      <label class="btn btn-default border mx-2 my-2" style="color: #41b6a6;">
                        Upload File <input type="file" hidden>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-10 col-md-9 col-12">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-12"><label class="labelfontzise">Title</label>
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="readonly">
                        <mat-select formControlName="Title">
                          <mat-option *ngFor="let title of titles" [value]="title.Name">{{title.Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-3 col-12"><label class="labelfontzise">First Name</label>
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                        <input matInput formControlName="FirstName" placeholder="First Name">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-12"><label class="labelfontzise">Middle Name</label>
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                        <input matInput formControlName="MiddleName" placeholder="Middle Name">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-12"><label class="labelfontzise">Last Name</label>
                    <div class="form-group ">
                      <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                        <input matInput formControlName="LastName" placeholder="Last Name">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-12"><label class="labelfontzise">Degree</label>
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="readonly">
                        <mat-select formControlName="Degree" placeholder="Credentials">
                          <mat-option *ngFor="let dg of degrees" [value]="dg.Name">{{dg.Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-5 col-12"><label class="labelfontzise">Speciality</label>
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="readonly">
                        <mat-select formControlName="Speciality" placeholder="Speciality">
                          <mat-option *ngFor="let speciality of specialities" [value]="speciality.Name">{{speciality.Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-5 col-12"><label class="labelfontzise">Secondary Speciality</label>
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                        <input matInput formControlName="SecondarySpeciality" placeholder="Secondary speciality">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="col-lg-4"><label class="labelfontzise">Medical/ Dental License #</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="DentalLicense" placeholder="Medical/ Dental License #">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4"><label class="labelfontzise">State</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="readonly">
                    <mat-select placeholder="State" formControlName="State" class="readonly">
                      <mat-option *ngFor="let state of states" [value]="state.Code">{{state.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 "><label><span class="labelfontzise">Expiration Date</span>
                </label>
                <div class="form-group ">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput type="date" formControlName="ExpirationDate" placeholder="Expiration Date">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-3"><label class="labelfontzise">NPI</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="NPI" placeholder="NPI">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-3"><label class="labelfontzise">DEA #</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="DEA" placeholder="DEA #">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-3 "><label class="labelfontzise">UPIN</label>
                <div class="form-group ">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="UPIN" placeholder="UPIN">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-3 "><label class="labelfontzise">EHR1 User ID
                </label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="EHR1Id">
                    <input matInput formControlName="UserId" [readonly]="true" class="notallowCursor"
                      placeholder="6345474dffsfdf" style="cursor: not-allowed;">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3"><label class="labelfontzise">NADEAN</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="NADEAN" placeholder="NADEAN">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-3"><label class="labelfontzise">SOCIAL SECURITY NUMBER</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="SSN" placeholder="SSN">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row panel-title m-0">
              <div class="col-md-4 py-3">
                <h4>Practice Location and Provider Schedule </h4>
              </div>
            </div>
            <div class="scrollable-mat-table">
              <mat-table class="table table-responsive userfromPractable" [dataSource]="providerLocationDataSource">
                <ng-container matColumnDef="LocationName">
                  <mat-header-cell *matHeaderCellDef>Location Name</mat-header-cell>
                  <mat-cell *matCellDef="let loc">{{loc.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="CityState">
                  <mat-header-cell *matHeaderCellDef>City, State</mat-header-cell>
                  <mat-cell *matCellDef="let loc">{{loc.city}}, {{loc.state}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="PracticeSchedule">
                  <mat-header-cell *matHeaderCellDef>Practice Schedule</mat-header-cell>
                  <mat-cell *matCellDef="let loc"><span class="cell-breakWord">{{loc.shortofWeek}}, {{loc.from}} -
                      {{loc.to}}, {{loc.specific_hour}}</span></mat-cell>
                </ng-container>
                <ng-container matColumnDef="ServicedLocation">
                  <mat-header-cell *matHeaderCellDef>Serviced Location(s)</mat-header-cell>
                  <mat-cell *matCellDef="let loc">
                    <mat-checkbox class="example-margin" [ngModelOptions]="{standalone: true}"
                      [ngModel]="loc.assigend_locations"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <mat-header-row class="rowtable" *matHeaderRowDef="providerLocationColumn"></mat-header-row>
                <mat-row *matRowDef="let row; columns: providerLocationColumn"></mat-row>
              </mat-table>
            </div>

            <div class="my-3">
              <div class="row panel-title m-0">
                <div class="col-md-4 py-3">
                  <h4>User Login Info</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4"><label class="labelfontzise">Role</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <mat-select placeholder="Role" formControlName="Role">
                      <mat-option *ngFor="let role of role" [value]="role.roleName">{{role.roleName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 " style="margin-top: 27px">
                <mat-checkbox class="example-margin" formControlName="Active">
                  <label class="labelfontzise mt-2">Active</label>
                </mat-checkbox>
              </div>
              <div class="col-lg-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  style="margin-top: 27px" class="btn btn-lg btn-success">
                  Change Password
                </button>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-4"><label class="labelfontzise">Login Email Address</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="EmailAddress" placeholder="Login Email Address">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4"><label class="labelfontzise">Login Phone</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="LoginPhone" placeholder="Login Phone">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4">
                <button type="submit" class="btn btn-lg btn-success">Resend Inviation Email</button>
              </div>
              <div class="col-lg-4"><label class="labelfontzise">Recovery Email</label>
                <div class="form-group">
                  <mat-form-field appearance="outline" class="mat-form-field-wrapper hover readonly">
                    <input matInput formControlName="RecoveryEmail" placeholder="Recovery Email">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-lg btn-success mx-2" data-bs-dismiss="modal" (click)="UpdateUser()">
                Save Changes
              </button>
              <button type="button" class="btn btn-lg btn-success" data-bs-dismiss="modal" (click)="closeUserPopup()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
