<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf="customizedspinner">
  <div id="spinner"></div>
</div>
<div class="scrollable-container">
  <div class="content ">
    <div class="row denatal-chart-top">
      <div class="col-xl-12 col-lg-12 col-md-12 Sechudle px-0">
        <div class="schedule-right-block pb-5">
          <div class="colF border">
            <div class="row schedule-section">
              <div class="col-xl-8 col-lg-12 col-12 cstm-location-section">
                <p class="plabel">Location Address:</p>
                <div class="form-group col-xl-4 col-lg-12">
                  <mat-form-field appearance="outline" class="col-12 cstm-loc-dropdown">
                    <mat-select disableOptionCentering [(ngModel)]="user.CurrentLocation"
                      (selectionChange)="getRoomsForLocation()">
                      <mat-option *ngFor="let item of LocationAddress" [value]="item.Location_Id">
                        {{item.Location_Name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-xl-4 col-lg-12 col-12 border cstm-room-section">
                <div class="row room-card">
                  <div class="col-md-8 col-6">
                    <p class="plabel mt-3 mb-0">Rooms</p>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="col-md-6 schedule-plusicon pull-right mt-2 mb-0" (click)="addRoom()"><span><i
                          class="fa fa-plus"></i></span></div>
                  </div>
                </div>
                <form [formGroup]="roomForm">
                  <div formArrayName="rooms">
                    <div *ngFor="let room of rooms().controls; let roomIndex=index">
                      <div [formGroupName]="roomIndex" class="cstm-border-bottom">
                        <div class="row pt-3 pb-2">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" [class]="showInput !== true ? 'schedule-inputclass': 'inputclass'"
                                class="form-control" formControlName="RoomName" [readonly]="!showInput">
                            </div>
                          </div>
                          <div class="col-md-6 col-12 pt-2 pt-md-0">
                            <div class="col-md-12 col-6 pull-right">
                              <button type="button" id="Actbtn" *ngIf="showSaveBtn"
                                class="btn btn-md btn-sm btn-success pull-right" (click)="saveRooms(roomIndex)">
                                Save
                              </button>
                              <button type="button" id="Actbtn" *ngIf="showEditBtn"
                                class="btn btn-md btn-sm btn-success pull-right" (click)="edit()">
                                Edit
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-12 pt-2 cstm-padding">
                            <div class="col-md-6 col-6 pull-right">
                              <button type="button" id="Actbtn" class="btn btn-md btn-sm btn-success pull-right"
                                (click)="removeRoom(roomIndex)" style="height: 30px;">
                                Remove
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="general-content">
              <p class="panel-title m-0 plabel">General</p>
              <div class="row schedule-section">
                <div class="col-xl-3 col-lg-5 col-md-6 pt-2">
                  <p class="plabel ">Calendar Time Display Range :</p>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6" style="display: flex;">
                  <p class="mx-2 my-2">From</p>
                  <input class="form-Group form-control time" type="time" name="Zip" id="Zip">
                  <p class="mx-2 my-2">To</p>
                  <input class=" form-control time" type="time" name="Zip" id="Zip">
                </div>
              </div>
              <div class="row schedule-section">
                <div class="col-xl-3 col-lg-5 col-md-6">
                  <p class="plabel">Allow Scheduling Outside Location Hours:</p>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-6">
                  <mat-radio-group>
                    <mat-radio-button [value]="1"></mat-radio-button>Yes
                    <mat-radio-button class="ms-4" [value]="2"></mat-radio-button>No
                  </mat-radio-group>
                </div>
              </div>
              <div class="row schedule-section">
                <div class="col-xl-3 col-lg-5 col-md-6">
                  <p class="plabel">Allow Scheduling Concurrent Appointments:</p>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-6">
                  <mat-radio-group>
                    <mat-radio-button [value]="1"></mat-radio-button>Yes
                    <mat-radio-button class="ms-4" [value]="2"></mat-radio-button>No
                  </mat-radio-group>
                </div>
              </div>
              <div class="row schedule-section">
                <div class="col-xl-5 col-lg-8 col-md-8">
                  <p class="plabel">Accept Appointment Change Requests and Cancellations from the Patient Portal:</p>
                </div>
                <div class="col-md-4">
                  <mat-radio-group>
                    <mat-radio-button [value]="1"></mat-radio-button>Yes
                    <mat-radio-button class="ms-4" [value]="2"></mat-radio-button>No
                  </mat-radio-group>
                </div>
              </div>
              <div class="row schedule-section">
                <div class="col-12">
                  <button id="general" class="btn btn-success col-xl-2 col-lg-3 col-md-3 col-12 pull-right">Save
                    Changes</button>
                </div>
              </div>
            </div>
            <div>
              <p class="panel-title m-0 plabel">Providers & Rooms
              </p>
            </div>
            <div class="scrollable-provider-rooms">
              <div class="provider-rooms">
                <div class="row panel-title m-0">
                  <div class="plabel col-lg-9">Provider</div>
                  <div class="col-lg-3 pull-right"><span class="plabel pull-right">Edit Provider Schedule</span></div>
                </div>
                <div class="row my-3 mx-2">
                  <div class="col-lg-9">
                    <p class="mt-2 privdertext">EHRApplication ehr</p>
                  </div>
                  <div class="col-lg-3">
                    <button type="button" id="providerrooms"
                      class="btn btn-md btn-success py-3 px-4 pull-right">Edit</button>
                  </div>
                </div>
              </div>
            </div>
            <p class="panel-title plabel m-0">Appointment Statuses & Types
            <div class="row my-3  mx-2">
              <div class="col-xl-6 col-lg-12 col-md-12 cstm-appointment-status">
                <div class="appointment-form">
                  <div class="room-card px-4">
                    <div class="row">
                      <div class="col-md-5 col-5">
                        <p class="plabel m-0 mt-3">Status</p>
                      </div>
                      <div class="col-md-3 col-3">
                        <p class="plabel m-0 mt-3">Color</p>
                      </div>
                      <div class="col-md-4 col-4">
                        <p class="plabel m-0 mt-3 pull-right">Edit Status</p>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="statusForm">
                    <div formArrayName="status">
                      <div *ngFor="let stat of status().controls; let statusIndex=index;">
                        <div [formGroupName]="statusIndex">
                          <div class="row px-4 pt-3 pb-2">
                            <div class="col-md-5 col-5">
                              <div class="form-group">
                                <input type="text" class="form-control inputclass" formControlName="Name">
                                <!-- <input type="text" hidden class="form-control inputclass" formControlName="Id"> -->
                              </div>
                            </div>
                            <div class="col-md-3 col-3">
                              <input class="cstm-color-picker"
                                [(colorPicker)]="statusForm.controls.status.controls[statusIndex].get('color').value"
                                [style.background]="statusForm.controls.status.controls[statusIndex].get('color').value" />
                            </div>
                            <div class="col-md-4 col-4 pt-2 pt-md-0">
                              <button type="button" id="Actbtn" class="btn btn-md btn-sm btn-success pull-right"
                                *ngIf="statusForm.controls.status.controls[statusIndex].get('Editable').value"
                                (click)="saveAppointmentStatus(statusIndex)">
                                Save
                              </button>
                              <!-- <button type="button" id="Actbtn" class="btn btn-md btn-sm btn-success pull-right">
                                Edit
                              </button> -->
                            </div>
                            <div class="col-md-12 col-12 pt-2 cstm-border-bottom-appointment">
                              <div class="col-4 pull-right">
                                <button type="button" id="Actbtn" class="btn btn-md btn-sm btn-success pull-right"
                                  *ngIf="statusForm.controls.status.controls[statusIndex].get('Editable').value"
                                  (click)="removeAppointmentStatus(statusIndex)" style="height: 30px;">
                                  Remove
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="px-3">
                    <button type="submit" class="btn-success btn btn-lg btn-md btnSave my-3 w-100"
                      (click)="addStatus()">
                      Add Status
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-12 cstm-appointment-type pt-3 pt-xl-0">
                <div class="appointment-form">
                  <div class="room-card px-4">
                    <div class="row">
                      <div class="col-md-5 col-5">
                        <p class="plabel m-0 mt-3">Type</p>
                      </div>
                      <div class="col-md-3 col-3">
                        <p class="plabel m-0 mt-3">Color</p>
                      </div>
                      <div class="col-md-4 col-4">
                        <p class="plabel m-0 mt-3 pull-right">Edit Type</p>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="typeForm">
                    <div formArrayName="type">
                      <div *ngFor="let type of type().controls; let typeIndex=index">
                        <div [formGroupName]="typeIndex">
                          <div class="row px-4 pt-3 pb-2">
                            <div class="col-md-5 col-5">
                              <div class="form-group">
                                <input type="text" class="form-control inputclass" formControlName="AppointmentType">
                              </div>
                            </div>
                            <div class="col-md-3 col-3">
                              <input class="cstm-color-picker"
                                [(colorPicker)]="typeForm.controls.type.controls[typeIndex].get('Colour').value"
                                [style.background]="typeForm.controls.type.controls[typeIndex].get('Colour').value" />
                            </div>
                            <div class="col-md-4 col-4 pt-2 pt-md-0">
                              <button type="button" id="Actbtn" class="btn btn-md btn-sm btn-success pull-right"
                                *ngIf="typeForm.controls.type.controls[typeIndex].get('Editable').value"
                                (click)="saveAppointmentType(typeIndex)">
                                Save
                              </button>
                            </div>
                            <div class="col-md-12 col-12 pt-2 cstm-border-bottom-appointment">
                              <div class="col-4 pull-right">
                                <button type="button" id="Actbtn" class="btn btn-md btn-sm btn-success pull-right"
                                  *ngIf="typeForm.controls.type.controls[typeIndex].get('Editable').value"
                                  (click)="removeAppointmentType(typeIndex)" style="height: 30px;">
                                  Remove
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="px-3">
                    <button type="submit" class="btn-success btn btn-lg btn-md btnSave my-3 w-100" (click)="addType()">
                      Add Custom Type
                    </button>
                  </div>
                </div>
              </div>
              <!-- <div class="clearfix w-100"></div> -->
            </div>
          </div>

          <!-- <div class="clearfix"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
