<div class="row settings-wrapper">
  <div class="col-xl-2 col-lg-3 col-md-12">
    <div class="left-block mx-2">
      <div class="colA" id="sidebar">
        <ul class="list-unstyled menuclass border pt-1" id="myDIV">
          <li [class]="view !== 'practice' ? 'panel-heading2': 'active panel-heading2'">
            <a class="ptitle2" (click)="onChangeViewState('practice')" href="javascript:void(0)">Practice</a>
          </li>
          <li [class]="view !== 'accesspermission' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('accesspermission')"
              href="javascript:void(0)">Access Permission</a>
          </li>
          <li [class]="view !== 'schedule' ? 'panel-heading2': 'active panel-heading2'">
            <a class="ptitle2 m-0" (click)="onChangeViewState('schedule')" href="javascript:void(0)">Schedule</a>
          </li>
          <li [class]="view !== 'patient' ? 'panel-heading2': 'active panel-heading2'">
            <a class="ptitle2 disabled m-0" (click)="onChangeViewState('patient')" href="javascript:void(0)">Patients
            </a>
          </li>
          <li [class]="view !== 'message' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 disabled" (click)="onChangeViewState('message')" href="javascript:void(0)">Messages</a>
          </li>
          <li [class]="view !== 'erx' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('erx')" href="javascript:void(0)">eRx</a>
          </li>
          <li [class]="view !== 'labmapping' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 disabled m-0" (click)="onChangeViewState('labmapping')"
              href="javascript:void(0)">Lab/Imaging</a>
          </li>
          <li [class]="view !== 'reports' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 disabled m-0" (click)="onChangeViewState('reports')" href="javascript:void(0)">Reports</a>
          </li>
          <li [class]="view !== 'billing' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 disabled m-0" (click)="onChangeViewState('billing')" href="javascript:void(0)">Billing</a>
          </li>
          <li [class]="view !== 'clinicdecision' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('clinicdecision')"
              href="javascript:void(0)">Clinic Decision Support</a>
          </li>
          <li [class]="view !== 'patientednmaterial' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('patientednmaterial')"
              href="javascript:void(0)">Patient Education
              Material</a>
          </li>
          <li [class]="view !== 'auditlog' ? 'panel-heading2': 'active panel-heading2'">
            <a href="#" class="ptitle2 m-0" (click)="onChangeViewState('auditlog')" href="javascript:void(0)">Audit
              Log</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="col-xl-10 col-lg-9 col-md-12 pt-3 pt-lg-0"> -->
  <div class="right-block col-xl-10 col-lg-9 col-md-12 pt-3 pt-lg-0">
    <div class="col-12" [hidden]="view !== 'practice'">
      <practice-settings></practice-settings>
    </div>
    <div class="col-12" [hidden]="view !== 'accesspermission'">
      <access-permission-settings></access-permission-settings>
    </div>
    <div class="col-12" [hidden]="view !== 'schedule'">
      <schedule-settings></schedule-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'patient'">
      <patient-settings></patient-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'message'">
      <message-settings></message-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'erx'">
      <erx-settings></erx-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'labmapping'">
      <labmapping-settings></labmapping-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'reports'">
      <reports-settings></reports-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'clinicdecision'">
      <clinicdecision-settings></clinicdecision-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'patientednmaterial'">
      <patientednmaterial-settings></patientednmaterial-settings>
    </div>
    <div class="col-lg-10 col-md-9" [hidden]="view !== 'auditlog'">
      <auditlog-settings></auditlog-settings>
    </div>
  </div>
</div>
<!-- </div> -->
